[2015-07-20 22:46] fjarrett opened #783 "Incorrect total items found calculations when filtering visits"
As I was working on #578 I discovered a problem with total items found calculations.

![screen_shot_2015-07-20_at_5_45_21_pm](https://cloud.githubusercontent.com/assets/522158/8789341/36d228de-2f07-11e5-9517-27f3df734326.png)

And upon looking into it further I found that the `count()` methods provided for Affiliates, Referrals, Creatives, and Visits are all actually duplicating query logic from t

[2015-07-21 00:12] pippinsplugins commented on #500
#114 needs done first

[2015-07-21 14:22] pippinsplugins commented on #783
This is soooooo much better :)

Let's put it in 1.7.

[2015-07-21 16:40] pippinsplugins commented on #112
@tubiz I don't know s2member well enough to say for sure, sorry. What action do they hook into?

[2015-07-21 17:40] pippinsplugins commented on #467
Whoops.

I think we should add it to all list tables, so Affiliates, Referrals, Creatives, and Visits.

[2015-07-21 17:43] #578 closed

[2015-07-21 18:55] fjarrett commented on #114
I tried for several hours to provide an integration for this plugin, but was unable to for several reasons. Here were my findings:

#### Lack of hooks
The WishList plugin does not provide any universally uniform hooks when purchases are made. You might expect something like `wlm_purchase` or `wlm_order` that would be fired with every order, no matter what cart integration is being used. No such ho

[2015-07-21 20:03] fjarrett commented on #727
@sumobi @pippinsplugins Ah, I think I found the problem here, remember what we added in #659?

Make sure this setting is unchecked :wink:

![screen shot 2015-07-21 at 3 00 47 pm](https://cloud.githubusercontent.com/assets/522158/8811142/8d3278ac-2fb9-11e5-970e-54a46e0bb6c1.png)

Works for me.

[2015-07-21 20:08] pippinsplugins commented on #114
Unless the WIshlist developers choose to address these issues, I think the best approach is simply to use the conversion script short code.

@sumobi any objections to closing this and setting that up as the standard method?

[2015-07-21 20:08] fjarrett opened #785 "Add per page screen option to Creatives"
Similar to #780 and #781

[2015-07-21 20:09] pippinsplugins commented on #727
Heh, I bet you're right :D

[2015-07-21 20:11] fjarrett opened #786 "Add per page screen option to Visits screen"
Similar to #780, #781 and #785

[2015-07-21 21:43] sumobi commented on #727
@fjarrett @pippinsplugins I can confirm the emails are now sent. Weird though, never had that new checkbox option enabled  :)

[2015-07-21 21:44] sumobi commented on #114
@pippinsplugins Nope, looks like we'll just leave as is: http://docs.affiliatewp.com/article/86-wishlist-member

[2015-07-21 21:46] #114 closed

[2015-07-21 21:48] #727 closed

[2015-07-21 22:10] codelion7 commented on #601
Yeah, that probably would be the best way to go.

[2015-07-21 22:12] codelion7 commented on #602
I'm pretty sure that we can implement this once we create the Payouts log #471.

[2015-07-21 22:15] codelion7 commented on #471
@pippinsplugins would this entail creating a class and a db functions file for storing and displaying the data? We would probably need an admin interface and a tab in the affiliate area as well.

[2015-07-21 23:04] pippinsplugins commented on #471
Yes, it'd be similar to our other database tables / UIs

[2015-07-22 13:56] tubiz commented on #112
@pippinsplugins am hooking into the init action to mark a referral as complete but ```$_COOKIE['affwp_ref'];``` and  ```$_COOKIE['affwp_ref_visit_id'];``` are always empty.

[2015-07-22 14:00] pippinsplugins commented on #112
@tubiz Could you show me an example of how you're trying to do it?

[2015-07-22 14:45] ramiabraham opened #789 "Add webhook system for integration with some external commerce platforms/services"
[Discussed a little in chat]

[2015-07-22 15:58] pippinsplugins commented on #789
:+1:

[2015-07-22 19:27] tubiz commented on #112
@pippinsplugins here is the link to a gist of my work so far. https://gist.github.com/tubiz/96a952e15e9a21f659b7

[2015-07-22 19:51] pippinsplugins commented on #112
@tubiz Does the line below tell s2Member where to send a POST notification after a purchase?

https://gist.github.com/tubiz/96a952e15e9a21f659b7#file-class-s2member-php-L24

[2015-07-22 19:57] tubiz commented on #112
Yes. That what it does.

[2015-07-22 22:06] pippinsplugins commented on #112
If you remove the `$this->was_referred()` check, does it work?

[2015-07-23 00:40] sumobi opened #791 "Affiliate emails being sent to the affiliate's payment email address"
@pippinsplugins @fjarrett

Emails such as the application pending and application accepted are being sent to the affiliate's payment email address. They should be sending to the affiliate's WP email address.

To replicate, simply sign up as an affiliate and enter both an email address and payment email address and you'll receive the emails at the payment email address.

If you dump out an affiliat

[2015-07-23 00:45] sumobi commented on #467
:+1:

[2015-07-23 00:46] sumobi commented on #789
:+1:

[2015-07-23 02:11] pippinsplugins commented on #791
:+1:

[2015-07-23 02:14] fjarrett commented on #791
I'm on it.

[2015-07-23 02:15] sumobi commented on #791
Thanks!

[2015-07-23 17:59] juanvillegas opened #793 "Shortcodes not available when doing_ajax"
Hey,

maybe mine is a very specific use case, but trying to render the generic referral tracking script using an ajax call, I noticed the shortcode is not available. The problem is the following section: https://github.com/affiliatewp/AffiliateWP/blob/master/affiliate-wp.php#L258

Shortcodes are not instantiated when the user is an admin (thats fine), but notice that doing_ajax will also fall unde

[2015-07-23 18:22] worldtravlr opened #794 "Direct to Site Sale Affiliate/Credit Tracking"
Hello awesome AffiliateWP Team!  I previously used Affiliates Pro by itthinx and while the rest of the plugin and support was very unintuitive and not recommended, (so glad I switched over to AffiliateWP!) there was one feature that I do miss.

Built into the affiliate program settings as a simple check box was the option to track direct to site sales as a commission easily.  So at any time I coul

[2015-07-23 20:46] pippinsplugins commented on #794
There isn't at this time but I have seen others want the same feature.

We can definitely consider adding it.

[2015-07-23 20:47] pippinsplugins commented on #793
It should be available. admin-ajax.php sets `is_admin()` as true.

Are you ajax calls going through admin-ajax.php?

[2015-07-23 20:47] pippinsplugins commented on #793
Oh, no, sorry, I have that backwards. You're right.

We'll fix that.

[2015-07-23 20:47] pippinsplugins commented on #793
We just need to load short codes globally.

[2015-07-23 20:48] worldtravlr commented on #794
Awesome thanks @pippinsplugins for considering it!  Our accountant and my team would love to have this feature as it would save us a bunch of math which only the acountant is good at :+1:

[2015-07-24 13:41] worldtravlr commented on #794
One idea may be to add a few lines of PHP somewhere (with a checkbox in the settings) that would see if any affiliate cookie had been set on the customers browser and if not, would allow you to credit that sale to a specific Affiliate ID that it would either auto create called Direct, or you could specify via affiliate ID or username in the settings.  No idea how complicated than could be, but see

[2015-07-27 05:15] clickstudio opened #797 "Referrals not being generated for new WooCommerce customers"
I have just noticed that new WooCommerce customer orders are not generating referrals.

I am using 'Auto Register New Users' which is working fine but there is no actual referral being generated for the referring affiliate.

I have tested this with all add-ons disabled and saw no difference.

Has anyone else reported this recently ?

[2015-07-27 16:02] pippinsplugins commented on #797
Do you mean referrals are not generated when new customers make a purchase or that referrals are not generated when new accounts are created?

[2015-07-27 20:45] clickstudio commented on #797
When an unregistered person makes a purchase, their user account, and affiliate account is created automatically after checkout.

That's working as expected however if that person was referred, no referral is generated for the affiliate.

For users who are already linked to an affiliate, their referrals are generated fine.

I suspected this had something to do with the Lifetime Referrals add-on bu

[2015-07-28 01:19] clickstudio commented on #797
@pippinsplugins
@sumobi

I am convinced that this issue is related to the referrers previous order status.

I have 'Lifetime Commissions' enabled, and 'Auto Register New Users' enabled.

When a new customer (no user account) places an order (after being referred), there are no referrals generated if the referrers previous order has a status of 'Processing'.

I know I have mentioned this in another

[2015-07-28 01:24] sumobi opened #798 "Add "Unpaid Referrals" column to Affiliates page"
A customer has requested an "Unpaid Referrals" column for the main Affiliates screen (Affiliates -> Affiliates) in addition to the "Paid Referrals" column that is already there.

ticket:
https://secure.helpscout.net/conversation/107896006/13629/

Here is their reasoning for this:

I think this would be nice, any objections?

ticket: https://secure.helpscout.net/conversation/107896006/13629/

[2015-07-28 05:10] sumobi commented on #667
@tubiz did you ever figure out why it happens? Is what I've described below what you've seen?

Just came across this again on a customer's site. No other plugins active beside AffiliateWP 1.6.5, theme at 2015, hosted on GoDaddy.

The affiliate ID is being passed to the emails directly after registration is `116635`. The affiliate is still created and given the correct ID of `61` for example. Their

[2015-07-28 05:43] sumobi commented on #667
Just var dumped the `$user_id` and `$affiliate_id` in the `register_user()` function, right after they are created. Same thing:

$user_id = int(50)
$affiliate_id = int(116635)

[2015-07-28 08:29] sumobi commented on #786
@fjarrett @pippinsplugins Works great for me

[2015-07-28 08:30] sumobi commented on #785
@fjarrett @pippinsplugins Tested and works great

[2015-07-28 08:33] sumobi commented on #777
@fjarrett @pippinsplugins tested, no issues that I can see :+1:

[2015-07-28 08:51] sumobi commented on #765
This is fixed in my testing

[2015-07-28 08:51] sumobi commented on #723
This is fixed in my testing

[2015-07-28 09:19] sumobi opened #799 "Gravity Forms: referral description is blank when no products are purchased"
Related: https://github.com/affiliatewp/AffiliateWP/issues/609

When a referral is created using the Gravity Forms integration we pass the products into the referral's description. When we don't use products the description is blank:

![screen shot 2015-07-28 at 9 19 29 pm](https://cloud.githubusercontent.com/assets/52581/8927828/5c6f557c-356e-11e5-865c-c0e3a830a1d6.png)

See:
https://github.com/a

[2015-07-28 09:22] sumobi commented on #609
@pippinsplugins @fjarrett haven't been able to fault it so far

[2015-07-28 10:00] sumobi commented on #508
@fjarrett @pippinsplugins works great for me

[2015-07-28 10:02] sumobi commented on #467
Works great for me

[2015-07-28 10:10] tubiz commented on #667
@sumobi I never figured out what the problem was.
What i later did to fix the problem was set a priority of 99 to the ```affwp_register_user``` hook.

[2015-07-28 10:21] tubiz commented on #705
@sumobi @pippinsplugins have started working on this.

[2015-07-28 10:26] tubiz commented on #794
@worldtravlr a plugin can be created to add this feature to AffiliateWP pending when it is added to AffiliateWP. You can contact me for more information on this.

[2015-07-28 10:38] sumobi commented on #639
@pippinsplugins I'm not seeing the rejection reason appear in the email that is sent. There's also a rogue `%s` in the email field:
![screen shot 2015-07-28 at 10 37 05 pm](https://cloud.githubusercontent.com/assets/52581/8929406/50606266-3579-11e5-8a05-fe4ddb1cc28d.png)

[2015-07-28 12:15] renegadesk commented on #546
Hey there @fjarrett apologies for not getting back to you guys! I haven't had a case come up where I've been able to replicate this exact situation, but with PayPal the issue seems to be solved.

[2015-07-28 13:00] tubiz commented on #112
Removing ```$this->was_referred()``` still doesn't work.
Also ```affiliate_wp()->tracking->get_affiliate_id()``` always return 0.

[2015-07-28 14:13] pippinsplugins commented on #705
@tubiz Great!

[2015-07-28 14:18] pippinsplugins commented on #467
@fjarrett This isn't working for me. The number field doesn't save.

[2015-07-28 14:19] pippinsplugins commented on #467
Oh interesting, it's actually a conflict with my `Restrict Content Pro` plugin which also uses screen options.

[2015-07-28 14:21] pippinsplugins commented on #467
All good, I was doing something dumb in RCP.

[2015-07-28 14:21] #467 closed

[2015-07-28 14:21] #681 closed

[2015-07-28 14:25] pippinsplugins commented on #112
Oh I know why it's failing. The POST request sent by s2Member doesn't contain the same cookies. It's not the same as the site visitor loading the page so the tracking variable isn't set.

Can the URL that the POST is sent to be modified via a filter before it is sent?

[2015-07-28 14:28] #508 closed

[2015-07-28 14:29] pippinsplugins commented on #609
@sumobi Did you test the upgrade routine as well?

[2015-07-28 14:30] pippinsplugins commented on #799
A new input field may be a bit overkill in my opinion.

I'd prefer that we just default to the form's title. I can't think of any reason that would be super private.

[2015-07-28 14:31] pippinsplugins commented on #546
I'm going to close this out then. If it ever pops up again, feel free to re-open.

[2015-07-28 14:32] #546 closed

[2015-07-28 14:34] #785 closed

[2015-07-28 14:34] #786 closed

[2015-07-28 14:35] pippinsplugins commented on #798
No objections here.

[2015-07-28 16:56] fjarrett commented on #799
The form title being private does seem like an edge case to me. If affiliates are earning referrals off a form, both the site admin and their affiliates should have a unified view of what object those referrals came through. Using the form title is the simplest way of doing that.

[2015-07-28 21:29] ramiabraham commented on #797
*(related, HS13557)*

[2015-07-28 23:14] sumobi commented on #705
Awesome @tubiz

[2015-07-28 23:15] sumobi commented on #799
Sounds good to me

[2015-07-28 23:32] pippinsplugins commented on #799
:+1:

[2015-07-28 23:33] pippinsplugins commented on #791
Pretty sure this is good to go but will test once more to be sure.

[2015-07-28 23:34] #777 closed

[2015-07-28 23:37] #624 closed

[2015-07-29 06:45] clickstudio commented on #797
Hi Rami,

Slightly unrelated to this issue, can you please tell me if it is possible to hook into the following functions ?

file: affiliate-wp/includes/integrations/class-woocommerce.php

functions:
add_pending_referral()
mark_referral_complete()

I am trying to hook into them using something like the following but can’t get it working:

add_action( 'wc_autoship_payment_complete', array( Affiliat

[2015-07-29 18:24] #609 closed

[2015-07-29 21:13] sumobi commented on #667
@tubiz hmm didn't seem to help in my case. Will get access to the customer's server again in a couple of days for some more digging.

[2015-07-29 22:16] clickstudio commented on #719
I'm adding a pull request as I found a solution.

[2015-07-30 03:46] #797 closed

[2015-07-30 03:48] #719 closed

[2015-07-30 06:06] sumobi opened #803 "OptimizeMember redirecting affiliate to homepage"
When OptimizeMember is active an affiliate is redirected after registration to the site's homepage. There's also a conflict with Affiliate Forms for Gravity Forms.

Both can be solved with this code snippet which disables OptimizeMember's redirect when an affiliate is registering:
https://gist.github.com/sumobi/7f22b058a5defb240c48

We should add to our plugin compatibility file where the other OM

[2015-07-31 15:57] fjarrett opened #805 "Clarify the product-specific rate fallback verbiage"
In light of the changes coming in #751 I think this line is a little misleading. It makes it sound like product rates, in fact, take priority over individual affiliate rates...

![screen_shot_2015-07-31_at_10_35_37_am](https://cloud.githubusercontent.com/assets/522158/9011330/456c9870-3772-11e5-9322-f7f31b16f0a1.png)

Maybe instead it should say something like:

[2015-07-31 18:17] pippinsplugins commented on #805
:+1:

[2015-08-01 04:31] wordmaid opened #807 "ActiveCampaign add-on"
A customer has requested an ActiveCampaign (http://www.activecampaign.com/) integration.

Ticket: https://secure.helpscout.net/conversation/109032985/13892/

[2015-08-04 00:46] sumobi commented on #667
I have 2 open customer support tickets on this issue now, both using GoDaddy hosting:

https://secure.helpscout.net/conversation/109165215/13919/
https://secure.helpscout.net/conversation/107702367/13579/

[2015-08-04 01:01] pippinsplugins commented on #667
I suspect that if we add the user's ID to the `$args` parameter of `affwp_register_user` and then use that user ID instead of pulling it from the database when sending emails, the problem will go away.

[2015-08-04 21:49] jaswsinc commented on #112
Yes. Here's an example:

[code]

Referencing: https://github.com/websharks/s2member/blob/150722/s2member/includes/classes/utils-urls.inc.php#L222

[2015-08-05 01:40] pippinsplugins commented on #112
@tubiz That looks like it should work.

[2015-08-06 03:56] sumobi commented on #616
Some feedback from a customer:

[2015-08-06 12:55] sumobi opened #810 "Website URL field can be bypassed with a space"
In Safari and Chrome the website URL field can be bypassed by entering a space into the field.

![screen shot 2015-08-07 at 12 52 29 am](https://cloud.githubusercontent.com/assets/52581/9111850/c82a2c56-3c9e-11e5-9a32-0dc1f0a1ec4f.png)

![screen shot 2015-08-07 at 12 52 40 am](https://cloud.githubusercontent.com/assets/52581/9111849/c82643ca-3c9e-11e5-86eb-b417b1751540.png)

[2015-08-06 13:44] pippinsplugins commented on #616
:+1:

[2015-08-06 18:25] pippinsplugins commented on #810
Whoops.

[2015-08-07 01:20] sumobi opened #811 "Incorrect referral URLs when using a # inside [affiliate_referral_url] shortcode and referral URL generator"
When a hash (#) is used in the [affiliate_referral_url] shortcode it appends a slash (/) to the end of the URL which is incorrect:

    Shortcode:
    [affiliate_referral_url url="http://affwp.dev/2015/03/22/hello-world/#comment"]

    Shortcode output:
    http://affwp.dev/2015/03/22/hello-world/?ref=3#comment/

If you take away the trailing slash above it still does not correctly store the Affil

[2015-08-07 14:00] maurisrx opened #812 "Fallback referral tracking method doesn't work if user enter big number on cookie expiration days setting"
Hello,

When user enter big number on cookie expiration days setting when using fallback referral tracking method, the cookie is only stored with session expiration time and it will disappear when visitor close the browser.

It may be caused by PHP `setcookie()` expiration time limit which limits the maximum amount of time cookie can be stored. Can it be fixed by using something like this:

`$cook

[2015-08-08 09:02] tubiz commented on #112
@pippinsplugins what will be added to the modified URL.

[2015-08-10 00:55] pippinsplugins commented on #811
@sumobi let me know if you'd like any help with this

[2015-08-10 01:35] sumobi commented on #811
@pippinsplugins will do

[2015-08-10 02:06] pippinsplugins commented on #812
Thanks for the heads up!

[2015-08-10 02:24] pippinsplugins commented on #112
@tubiz modify the URL to include the affiliate's referral variable / ID.

[2015-08-10 02:39] pippinsplugins commented on #791
Merged into `release/1.7`.

@sumobi looks good to me. Could you give it a once over as well?

[2015-08-10 02:43] pippinsplugins commented on #783
Working perfectly for me.

@sumobi just need a thumbs up from you

[2015-08-10 02:44] pippinsplugins commented on #564
Punting to 1.8

[2015-08-10 02:45] sumobi commented on #667
@pippinsplugins I tested on 2 different customer sites hosted with GoDaddy and was able to get the correct `$affiliate_id` each time by adding:

`$affiliate_id = affwp_get_affiliate_id( $user_id );`

right before:

`do_action( 'affwp_register_user', $affiliate_id, $status, $args );`

It seems that GoDaddy's caching can't get the correct $affilate_id here:
https://github.com/affiliatewp/AffiliateWP

[2015-08-10 23:47] worldtravlr commented on #794
Thanks @tubiz.  I found a temporary workaround until implemented.

[2015-08-11 04:59] sumobi commented on #791
@pippinsplugins  looks good to me

[2015-08-11 05:05] sumobi commented on #783
How about 3 :+1:  :+1:  :+1:

[2015-08-11 14:04] #791 closed

[2015-08-11 14:04] #783 closed

[2015-08-13 16:44] flowdee commented on #602
:+1:

[2015-08-16 12:20] tubiz commented on #112
@jaswsinc I am almost done with the s2Member integration for AffiliateWP but I have some clarifications.
I am adding the Affiliate ID if set using the action
```ws_plugin__s2member_before_sc_paypal_button_after_shortcode_atts``` that I saw in the free version  of s2Member plugin.
Is the action the same for the paypal gateway in the pro version and for other payment gateways that the pro version su

[2015-08-17 15:21] #810 closed

[2015-08-17 15:22] #805 closed

[2015-08-17 15:31] pippinsplugins opened #813 "Add notice for sites on PHP < 5.3"
With #665 we have bumped the minimum PHP version to 5.3 so we need to add a notice to the site if AffiliateWP is activated on a site with lower than 5.3.

[2015-08-17 15:36] #665 closed

[2015-08-17 15:36] #813 closed

[2015-08-17 16:07] #639 closed

[2015-08-17 16:09] #640 closed

[2015-08-17 16:11] pippinsplugins commented on #601
1.7 is getting really large. Punting this to 1.8.

[2015-08-17 16:12] pippinsplugins commented on #672
Punting to 1.8 due to size of 1.7 already.

[2015-08-17 16:31] pippinsplugins commented on #422
@sumobi This is ready for testing. Let me know if you'd like a walk through on it.

[2015-08-17 16:54] pippinsplugins commented on #724
In 1.7, the following is supported:

1. A sanitization callback can be provided when registering settings with the `sanitize_callback` option. Example:
[code]
If a callback is provided, it gets added via `add_filter( 'affwp_settings_sanitize_' . $type, $sanitize_callback, 10, 2 );`

2. Default field types (checkbox, text, etc) get sanitized via appropriate callbacks. These are added with `add_filt

[2015-08-18 03:51] sumobi commented on #422
@pippinsplugins works fine for me but I was expecting the checkbox to become enabled in the Misc tab if the ajax test failed.

[2015-08-18 07:15] sumobi commented on #595
@pippinsplugins creative.php works fine for me in the `affiliatewp` folder. I couldn't get a single creative template working though, eg: `creative-1.php`.

Can we call it `creatives.php` instead of `creative.php`?

[2015-08-18 07:24] sumobi commented on #724
Looks good to me!

[2015-08-18 14:52] pippinsplugins commented on #422
@sumobi I opted to not check the box because I want to ensure that it can automatically go back to non-fallback if JS begins working again.

[2015-08-18 17:14] zackkatz opened #816 "Provide a default affiliate agreement"
Have a lawyer draft a generic affiliate agreement that handles things like:

* Better define the affiliate relationship: affiliates are not employees
* Handling arbitration: they can't sue for rejected commissions
* Define prohibited promotional methods: generic enough to be obvious (no spamming, illegal methods, promoting on illegal websites)
* No using paid links with the site's URL as the displ

[2015-08-19 00:00] sumobi commented on #422
:+1: good point

[2015-08-19 00:06] sumobi commented on #816
:+1: We've had many customers ask if we have an agreement they could use. Usually we point them to our own.

If we had a blueprint it would be one less thing for someone to worry about. A small handful of customers have said that not having an agreement has been a real barrier in getting their affiliate system set up.

[2015-08-19 01:46] blogjunkie commented on #730
Hi, was this merged into the plugin? v1.6.5 has lost this patch - https://github.com/affiliatewp/AffiliateWP/commit/087ffef23d76adba3896c1d563487cae276d60fa

[2015-08-19 05:00] jaswsinc commented on #112
No, that is PayPal-specific, and Button-specific.
See: https://github.com/affiliatewp/AffiliateWP/issues/112#issuecomment-109396799

[2015-08-19 09:09] sumobi commented on #811
@pippinsplugins One thing left on this which involves regex. I hope you're a pro.

Here's the issue:

A referral URL that contains a fragment identifier does **not** store a visit:
http://affwp.dev/2015/03/22/hello-world/?ref=3#comment

This is because it's only splitting the URL on `&` and doesn't take `#` into account:
https://github.com/affiliatewp/AffiliateWP/blob/master/assets/js/tracking.js#

[2015-08-19 21:32] pippinsplugins commented on #422
Cool, anything else here or are we happy with it?

[2015-08-19 21:33] pippinsplugins commented on #816
My only concern with this is the possible legal ramifications.

If we give someone a blueprint agreement and then they get sued, we could potentially get pulled into that.

[2015-08-19 21:33] pippinsplugins commented on #730
@blogjunkie it's being included in v1.7.

[2015-08-19 22:06] zackkatz commented on #816
Well, add a clause like Elance on their documents:

[2015-08-19 22:07] zackkatz commented on #816
Who knows, you may be just as liable for *not* providing one! Lawyers are crafty people…

[2015-08-19 22:52] ramiabraham commented on #673
related: https://secure.helpscout.net/conversation/113299038/14977/

[2015-08-20 01:56] sumobi commented on #422
@pippinsplugins I think we're good here

[2015-08-20 02:33] #422 closed

[2015-08-20 21:48] pippinsplugins commented on #595
I prefer singular since it matches WP core.

For example, it's always `page.php` not `pages.php`.

[2015-08-20 21:54] pippinsplugins commented on #595
I have no idea why `creative-1.php` doesn't work . . . .

[2015-08-20 22:00] pippinsplugins commented on #595
OK I see. It's detecting / loading `creative.php` before `creative-1.php`. If you delete `creative.php`, `creative-1.php` loads

[2015-08-20 22:02] pippinsplugins commented on #595
But I don't really know why . . .

[2015-08-20 23:55] sumobi commented on #595
@pippinsplugins good point on the naming, I have no idea on the above either.

[2015-08-23 13:23] #793 closed

[2015-08-23 14:22] pippinsplugins commented on #756
How about adding it as an order note, similar to how we do with EDD? https://cloudup.com/cngxi08QlfH

[2015-08-23 23:16] pippinsplugins commented on #756
@codelion7 I tried the method you proposed and it resulted in a lot of errors getting thrown.

[2015-08-24 00:08] pippinsplugins commented on #502
@sumobi ready for testing.

[2015-08-24 00:09] pippinsplugins commented on #112
@tubiz is there anything I can help with on this?

[2015-08-24 00:41] pippinsplugins commented on #557
@wpeasycart I am working on integrating this further and noticed that you still have your AffiliateWP integration code in place. Are you going to remove it once we push this update out?

[2015-08-24 01:05] pippinsplugins commented on #557
@sumobi this is ready for testing.

@wpeasycart we'll need to have the direct integration that you guys have removed as soon as 1.7 goes out near the end of August. Could you take care of ensuring that happens?

[2015-08-24 01:16] sumobi commented on #667
@pippinsplugins we should try and get this in 1.7, see above. I've modified 2 customer's files so they work fine for now but it will break again if 1.7 doesn't have the fix.

[2015-08-24 01:37] sumobi opened #821 "Add Saudi Riyal"
We should add the Saudi Riyal as a currency, it's been requested a few times. We've also been given a full Arabic translation and the Saudi Riyal is a common currency for Arabic speakers.

[2015-08-24 01:47] pippinsplugins commented on #821
Is it available in WooComemrce and other plugins?

[2015-08-24 02:12] sumobi commented on #821
WooCommerce lists Saudi Arabia as a country but I don't see a currency for it. They do have the United Arab Emirates Dirham though.

[2015-08-24 18:23] tubiz commented on #112
@pippinsplugins actually I got it to work.
But there are some important notes. I am using s2Member custom replacement codes to pass the affiliate id if it set to the gateway, so this is sent back with the payment notification that is received.
For this to work s2member payment shortcode has to be used.

In the free version of the plugin am using
```ws_plugin__s2member_before_sc_paypal_button_after

[2015-08-24 18:49] pippinsplugins commented on #112
@tubiz Awesome, great work.

[2015-08-24 22:18] pippinsplugins commented on #667
:+1:

[2015-08-25 03:54] pippinsplugins opened #823 "WP Invoice integration"

[2015-08-25 04:52] jaswsinc commented on #112
@tubiz writes...

I see. Thanks for explaining. Here are the others that you requested. This will cover the pro version shortcodes for the remaining payment gateway integrations.

- [`ws_plugin__s2member_pro_before_sc_stripe_form_after_shortcode_atts`](https://github.com/websharks/s2member-pro/blob/150722/s2member-pro/includes/classes/gateways/stripe/stripe-form-in.inc.php#L150)
- [`ws_plugin__s2m

[2015-08-25 05:46] tubiz commented on #112
@jaswsinc thanks.
Just one last question, to cancel a referral when a subscription is cancelled, guess I have to create a cancellation notification url.

@pippinsplugins is there need for a referral to be revoked when a subscription is cancelled. I think it should be when a refund is issued.

[2015-08-26 03:57] pippinsplugins commented on #112
@tubiz only during refund.

@jaswsinc It would be great if there was a single filter that applied to all short codes along with the unique ones.

[2015-08-26 07:03] sumobi commented on #501
@pippinsplugins If I go to the PayPal payment screen, click back, proceed again and so forth I can generate multiple referrals. The reference however does change each time

![screen shot 2015-08-26 at 7 02 51 pm](https://cloud.githubusercontent.com/assets/52581/9487372/1405318a-4c25-11e5-9a9c-2247d417ca7c.png)

Other than that it looks good! :+1:

[2015-08-26 07:55] sumobi commented on #603
@pippinsplugins works great :+1: When an affiliate was manually added previously they were always added as "pending" if require approval is enabled. Are we in agreement that since we're allowing custom statuses, we should just ignore the require approval settings when manually adding?

[2015-08-26 08:31] jaswsinc commented on #112
@tubiz writes...

Exactly! :-) Here's another example. Not much different from the [example I gave previously](https://github.com/affiliatewp/AffiliateWP/issues/112#issuecomment-109396799), which was for the Payment Notification. However, this example is for Cancellation Notifications.

[code]

See also: **Dashboard → s2Member → API / Notifications → Cancellation Notifications**

![2015-08-26_00-2

[2015-08-26 08:32] sumobi commented on #502
@pippinsplugins First time testing MemberPress. I can't get the per-product rate working, though I can't get the global rate working either.

- MemberPress integration enabled
- visit is recorded fine
- transactions recorded in MP ok and set to "complete" (using offline payments)

Any ideas?

[2015-08-26 08:32] jaswsinc commented on #112
@pippinsplugins writes...

Noted. Will do :-)

[2015-08-26 08:39] sumobi commented on #502
@pippinsplugins looks like the referral isn't being created since I'm using offline payments and it goes straight to a completed status. mark_referral_complete() runs but there's no pending referral to update to unpaid.

[2015-08-26 08:46] sumobi commented on #502
@pippinsplugins can't seem to get PayPal to store a pending referral either. What's the secret? :)

[2015-08-26 08:55] sumobi commented on #502
Can you stick v1.2.3 on DropBox?

[2015-08-26 10:37] sumobi opened #824 "Referrals not being updated from "pending" to "unpaid" with "PayPal for WooCommerce" plugin"
According to a customer support ticket, when PayPal Express is used via the "PayPal for WooCommerce" plugin, referrals are not being updated from `pending` to `unpaid` when the transaction is completed.

ticket: https://secure.helpscout.net/conversation/113344845/14985/
plugin: https://wordpress.org/plugins/paypal-for-woocommerce/

[2015-08-26 11:24] tubiz commented on #112
@jaswsinc thanks for the help so far. Does s2Member have a after refund action?

[2015-08-26 15:09] pippinsplugins commented on #502
@sumobi it's there already

[2015-08-26 18:15] pippinsplugins commented on #603
@sumobi yes I think so.

[2015-08-26 18:15] #603 closed

[2015-08-26 19:07] pippinsplugins commented on #501
@sumobi That's because the subscription key (used as reference) is generated after hitting submit. That won't be avoidable at this time.

[2015-08-26 19:07] #501 closed

[2015-08-26 22:16] sumobi commented on #501
:+1:

[2015-08-26 22:16] sumobi commented on #603
:+1:

[2015-08-26 22:20] sumobi commented on #502
Ahh it is indeed, was looking at the extracted folder, will test again

[2015-08-27 00:20] worldtravlr commented on #811
This is also an issue when trying to supply buy now links for woocommerce to affiliates.  For example:

     [affiliate_referral_url url="https://example.com/cart/?add-to-cart=23"]

does not translate the second "?" to an "&" and produce:

    https://example.com/cart/?ref=3&add-to-cart=23

as it should.

[2015-08-27 00:22] sumobi commented on #811
@worldtravlr I'll test it and get that fixed for v1.7 if it's still an issue.

[2015-08-27 00:24] worldtravlr commented on #811
Thanks @sumobi!  Keep up the awesome work!

[2015-08-27 02:45] sumobi commented on #502
@pippinsplugins Great, all I needed to do was upgrade. Normal referrals and more importantly per-membership referrals are working fine :+1:

Found an issue with disabling the referral which is now fixed.

[2015-08-27 07:46] sumobi commented on #557
@pippinsplugins

Seems to generate 2 referrals per order:

![screen shot 2015-08-27 at 7 43 14 pm](https://cloud.githubusercontent.com/assets/52581/9515226/19bc4a80-4cf4-11e5-957e-b455225dabd3.png)

___

When I completed the order, the first referral is updated fine, but the other is still there and `pending`:

![screen shot 2015-08-27 at 7 44 03 pm](https://cloud.githubusercontent.com/assets/5258

[2015-08-27 13:49] pippinsplugins commented on #557
@sumobi that's because of the AffiliateWP integration included in WP EasyCart, hence my comments above about that having to be removed before we can push this out.

[2015-08-27 16:55] pippinsplugins commented on #502
Woot!

[2015-08-27 16:56] #502 closed

[2015-08-27 21:21] #667 closed

[2015-08-27 21:39] pippinsplugins commented on #723
This is NOT resolved in #826 (previously #751).

Entering 1 with a percentage type on the affiliate's edit screen still changes it to 100.

[2015-08-27 21:40] pippinsplugins commented on #723
Entering `1.0` also changes it to 100.

[2015-08-27 21:42] pippinsplugins commented on #723
Entering `0.01` works but then gets changed to `1`, so if the affiliate is updated again, it will be changed to `100`.

[2015-08-27 21:44] pippinsplugins commented on #723
Note: entering `1` on a product rate and setting the affiliate's rate to default does result in the proper `1%` rate.

[2015-08-27 21:47] wpeasycart commented on #557
@pippinsplugins, we can pull the code that is causing the duplicates here at the end of the week if you guys are planning on launching this integrated version? Let us know if you have a good estimate on the date and we will try and match up an update with your release.

[2015-08-27 21:49] pippinsplugins commented on #557
Awesome, thanks!

We are hopping to launch 1.7 (with the integration within the next two
weeks).

On Thu, Aug 27, 2015 at 4:47 PM, WP EasyCart <notifications@github.com>
wrote:

[2015-08-27 21:50] pippinsplugins commented on #557
@wpeasycart let me know when it's been removed and then we can get this merged in.

[2015-08-27 21:54] sumobi commented on #723
Getting the same behaviour

[2015-08-27 21:55] pippinsplugins commented on #723
Yay not crazy!

[2015-08-27 21:58] pippinsplugins commented on #723
When entering `1`, it's getting stored as `0` in the database:
![screen shot 2015-08-27 at 4 57 48 pm](https://cloud.githubusercontent.com/assets/1034109/9534269/d11d3bc0-4cdc-11e5-8887-c82ad831e2b1.png)

[2015-08-27 22:02] pippinsplugins commented on #723
Whoops, no it's not. `100` entered on `edit` and `100` saved in DB

[2015-08-27 22:03] wpeasycart commented on #557
@pippinsplugins we will plan to release an upgrade with this removed on Monday, 8/30 in version 8.1.15.

[2015-08-27 22:27] pippinsplugins commented on #723
It's getting changed to `100` as soon as the value is retrieved from the column . . . .

[2015-08-27 22:37] pippinsplugins commented on #557
:+1:

On Thu, Aug 27, 2015 at 5:03 PM, WP EasyCart <notifications@github.com>
wrote:

[2015-08-27 23:37] sumobi commented on #811
@worldtravlr Can't seem to replicate, looks like it's already fixed in the latest master. I used:

`[affiliate_referral_url url="https://example.com/cart/?add-to-cart=23"]`

and the link is shown on the page as:

`https://example.com/cart/?add-to-cart=230&ref=4`

Can you test the latest master on your dev site and see if it's still an issue for you?

[2015-08-28 03:16] ramiabraham commented on #372
(Related: https://secure.helpscout.net/conversation/115633896/15595/)

[2015-08-28 22:58] fjarrett commented on #723
@pippinsplugins Sorry if I'm totally off base, I'm a little out of the loop, but that type of behavior sounds like it's being caused by the upgrade routine. Could be solved by updating the `affwp_version` option in the database to `1.7` or higher.

[2015-08-31 15:05] pippinsplugins commented on #723
@fjarrett You're 100% correct. It was the upgrade routine. That occurred to me last night before seeing your comment. You're much faster than me :D

[2015-08-31 15:06] pippinsplugins commented on #723
This works great now!

[2015-08-31 15:06] pippinsplugins commented on #723
@sumobi Could you give this one more round of testing before we merge it in?

[2015-08-31 15:10] pippinsplugins commented on #765
This works perfectly for me too. As soon as #723 is tested once more, we'll merge #826 into `release/1.7` and close both issues.

[2015-08-31 15:17] pippinsplugins commented on #112
@tubiz Could you open a PR for this in the next day or two so @sumobi  and I can help test it? I'd love to get it included with version 1.7

[2015-08-31 15:17] pippinsplugins commented on #616
Unfortunately this isn't going to make 1.7.

[2015-08-31 15:18] pippinsplugins commented on #498
@codelion7 do you think you'll have the PR for this updated in the next day or two?

[2015-08-31 15:58] tubiz commented on #112
@pippinsplugins will send a PR later today. The only thing left is just an action for the refund still waiting for a response from @jaswsinc

[2015-08-31 15:59] pippinsplugins commented on #112
Great!

[2015-08-31 19:06] pippinsplugins commented on #627
I have the first pass at this working.

If a referral URL contains a campaign, it will now get recorded in the visit and referral DBs. The admin pages have been updated to support filtering / searching fir visits and referrals by a specific campaign.

Things that are done:

- ?campaign=test will get tracked on affiliate URLs
- Referrals page can be filtered by appending `&campaign=test` to the adm

[2015-08-31 19:59] worldtravlr commented on #627
Awesome @pippinsplugins.  Excited to check it out.  Could you also possible add a to do of:

Add/update affiliate area short codes to handle this option/table?

Of course not as much of a priority, but would be nice for those of us who use the short codes extensively.

[2015-08-31 20:05] pippinsplugins commented on #627
@worldtravlr what kind of updates to the shortcodes are you hoping to see? I've already started on the main updates to them as listed above.

[2015-08-31 20:18] worldtravlr commented on #627
Thanks @pippinsplugins.  Good question.  I was referring to - https://affiliatewp.com/addons/affiliate-area-shortcodes/ - just to make sure we are on the same page.  Sorry if this should go on a different thread, etc.

As for those, there are a few things I think would be awesome to have added that I am missing:

* Add a shortcode to only show "Referral URL Stats" thats separate from "Referral URL

[2015-08-31 20:20] pippinsplugins commented on #627
Yep same page :)

Thanks for the feedback! I'll post more previews here for feedback as I make progress.

[2015-08-31 20:36] worldtravlr commented on #627
Awesome thanks @pippinsplugins.  Really appreciate how awesome this plugin is!

Also just saw this:

pippinsplugins referenced this issue from a commit an hour ago
 @pippinsplugins	Add campaign to export file. #627

Does that mean that affiliates will have the option to easily export their referral information from the affiliate dashboard via  button of some sort?  that would be an amazing option

[2015-08-31 21:17] jaswsinc commented on #112
Yes. This covers both refunds and reversals (i.e., chargebacks).

[code]

See also: **Dashboard → s2Member → API / Notifications → Refund/Reversal Notifications**

![2015-08-31_13-15-31](https://cloud.githubusercontent.com/assets/1563559/9590646/723ca81c-4fe2-11e5-8c5e-8ae32914baf3.png)

[2015-08-31 21:30] codelion7 commented on #498
@pippinsplugins, I honestly don't think that I'll get to finishing this until the weekend. I'm going to be travelling tomorrow, and then, I'll be finishing MLM version 1.0.5 for the next few days.

[2015-08-31 22:47] pippinsplugins commented on #498
Ok I'll try and extract them from the previous PR.

[2015-09-01 00:39] tubiz commented on #112
@jaswsinc thanks so much. Does s2member has a way of getting the tax amount for a payment

[2015-09-01 01:21] sumobi commented on #723
:+1: will do

[2015-09-01 02:00] jaswsinc commented on #112
@tubiz writes...

No. Not yet. The `%%amount%%` includes the tax, but we don't have a separate `%%tax%%` replacement code in there yet. I'll let you know whenever we have one available.

[2015-09-01 06:54] sumobi commented on #627
@pippinsplugins I've run through what you've done so far and it works perfectly, excellent work :+1:

I had a completely different idea about how to tackle this, as per https://github.com/affiliatewp/AffiliateWP/issues/372 but your way is so much better. I was thinking we could allow the affiliate to use any query string they wanted (myself and @worldtravlr were discussing this) but we wouldn't be

[2015-09-01 07:49] sumobi commented on #723
@pippinsplugins

The `Referral Rate Type` under Affiliates -> Settings reverts back to `Percentage` if `Flat USD` is set. Can you replicate?

[2015-09-01 08:29] sumobi commented on #372
The magic is happening over here for this: https://github.com/affiliatewp/AffiliateWP/issues/627

[2015-09-01 09:15] tubiz commented on #112
@jaswsinc thanks so much for the help provided so far.
I noticed that refund notification doesn't work for Stripe but it does for Paypal.

[2015-09-01 09:33] tubiz commented on #705
@pippinsplugins will try and finish this today so that it can be included with version 1.7

[2015-09-01 14:09] pippinsplugins commented on #705
@tubiz Great!

[2015-09-01 14:12] pippinsplugins commented on #112
@jaswsinc Is there an MD5 hash includ in the POST notifications or anything similar that we could use to verify that the notification is legitimate? Right now anyone running the s2Member integration could be susceptible to fraudulent referrals. If I wanted to fake a referral, all I'd need to do is send a POST request with the necessary data.

[2015-09-01 18:18] worldtravlr commented on #811
Looks perfect!  Thanks @sumobi.  I may not have time to test it on my dev server, but if you have tested and looks good to you, then sounds great.  I was trying it on the previous version and have not used any master builds, so would assume all is well :+1:

Awesome work and thanks for fixing these as well as the affiliate number shortcode in the interim.  May be worth adding the affiliate number

[2015-09-01 23:49] jaswsinc commented on #112
@pippinsplugins writes...

No, I'm afraid not. However, there is nothing to stop you from including a secret key in the URL in order to verify the origin of the request; e.g., `?affiliatewp_site_key=xxxxxxxxxxxxxxxxx`

[2015-09-02 00:03] jaswsinc commented on #112
@tubiz writes...

Thank you for reporting this. It looks like a bug. I'm opening an issue here so that we can track this. https://github.com/websharks/s2member/issues/706

[2015-09-02 02:22] sumobi commented on #811
You're welcome.

Sounds good to me

[2015-09-02 05:54] wordmaid opened #829 "Creative previews in admin being cropped"
When an admin uploads a large image into the Creatives section, the preview crops the full image which then only shows part of the image.

I tested with a 750 x 500 pixel image - screenshot and full image attached.

![image](https://cloud.githubusercontent.com/assets/11830108/9623881/497f8524-519b-11e5-8f37-764b99fdd710.png)

![image](https://cloud.githubusercontent.com/assets/11830108/9623886/55a

[2015-09-02 13:07] worldtravlr commented on #811
:+1:  :-)

[2015-09-02 13:14] pippinsplugins opened #831 "Add notice if license is not activated"
Just like RCP does it.

[2015-09-02 13:42] #829 closed

[2015-09-02 15:22] pippinsplugins commented on #756
Working now!
![screen shot 2015-09-02 at 10 21 54 am](https://cloud.githubusercontent.com/assets/1034109/9635521/7843c6ac-515c-11e5-9cc2-204d159d5f30.png)

[2015-09-02 15:29] pippinsplugins commented on #723
Replicated.

[2015-09-02 15:33] pippinsplugins commented on #723
It's not caused by this PR though. It happens in `release/1.7` too.

[2015-09-02 15:39] pippinsplugins commented on #723
It's caused by changes in #724

[2015-09-02 15:39] pippinsplugins commented on #724
This is preventing the referral rate type from being saved properly. It reverts to percentage.

[2015-09-02 15:43] #724 closed

[2015-09-02 15:44] pippinsplugins commented on #723
Fixed. @sumobi can you test this again now?

[2015-09-02 23:19] pippinsplugins commented on #112
@tubiz Could you add in a verification system? Do an MD5 on the WP salts in wp-config.php and verify it matches before processing the post request.

[2015-09-02 23:39] tubiz commented on #112
@pippinsplugins so I should concatenate all the WP Salts (AUTH_SALT, SECURE_AUTH_SALT, LOGGED_IN_SALT & NONCE_SALT) and perform an MD5 hash on it.

[2015-09-03 00:02] pippinsplugins commented on #112
I wouldn't worry about using all of them. Something like this: https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/includes/api/class-edd-api.php#L1861

[2015-09-03 03:03] sumobi commented on #824
Some additional info here: https://wordpress.org/support/topic/paypal-express-orders-not-registering-with-affiliatewp-plugin?replies=8#post-7377433

[2015-09-03 04:37] sumobi commented on #723
@pippinsplugins nice that's fixed. Will continue testing.

[2015-09-03 04:58] sumobi commented on #723
@pippinsplugins You can set an affiliate's referral rate to 50.5 on the edit affiliate screen but if you try 50.5 on the main settings page it rounds it to 50.

[2015-09-03 08:22] sumobi commented on #723
@pippinsplugins The referral rate input field steps in increments of .01 when you use the arrows. I think it should step in whole numbers, but still allow the smaller increments if you typed them in.

[2015-09-03 10:39] tubiz commented on #112
@pippinsplugins verification check has been added.

[2015-09-03 13:48] worldtravlr commented on #824
@sumobi so you know if there is any kind of hack or code that might be able to temporarily fix this?  We are expecting about 20,000+ orders during our five day sale, so if there is a quick way to get these to be accepted instead of pending that would really help.

[2015-09-03 14:26] pippinsplugins commented on #824
@worldtravlr Possibly.

The plugin dev asked this on WordPress.org:

Can you tell me if that triggers it?

[2015-09-03 14:27] pippinsplugins commented on #723
I agree on that. Will make adjustments.

[2015-09-03 19:31] worldtravlr commented on #824
Thanks @pippinsplugins.  I may not be understanding the questions correctly and/or may not know what setting I would change, but the orders are being automatically completed one the payment is sent which I think is good an makes sense.  The issue is that the referrals are staying as pending for completed woocommerce orders.  Would it help me to try and change a completed to processing and then bac

[2015-09-03 20:26] pippinsplugins commented on #831
@sumobi ready for testing in `release/1.7`

[2015-09-03 20:29] pippinsplugins commented on #756
Closing for now. @sumobi Re-open if you find anything in your testing.

[2015-09-03 20:37] pippinsplugins commented on #723
@sumobi fixed.

[2015-09-03 20:38] pippinsplugins commented on #723
@sumobi the step can't be increased. That determines the number of digits that can be entered.

[2015-09-03 21:59] ramiabraham opened #833 "Pretty permalinks cause 404 on product archive pages"
Examples:

http://affiliatewp.dev/product-category/stuff/ref/1

http://affiliatewp.dev/product-category/stuff/ref/username

[2015-09-03 22:06] pippinsplugins commented on #833
We should see if this fails on all archives. Might not just be limited to product archives.

[2015-09-03 22:27] pippinsplugins commented on #824
When an order is completed, is it marked as Completed or as Processing?

[2015-09-03 22:37] ramiabraham commented on #833
- 404 on EDD product categories as well
- Works on default WP post categories
- Works with an arbitrary cpt
- Works on several cpt-based plugins which are not primarily commerce-based, such as the Tribe calendar

[2015-09-03 22:42] pippinsplugins commented on #833
That makes me think it's a priority issue.

[2015-09-03 22:51] worldtravlr commented on #824
When an order is complete it is marked as Complete automatically.  For CC transactions (via PayPal DoDirect via the same plugin) any Completed orders the affiliate referral is also marked as Accepted automatically, but for any Completed Orders via PayPal Express, the affiliate commission is always marked as Pending.

[2015-09-04 12:57] pippinsplugins commented on #833
I see the issue, at least for WooCommce. The rewrite rules are not registered on the categories.
![screen shot 2015-09-04 at 7 57 38 am](https://cloud.githubusercontent.com/assets/1034109/9684035/8b456c90-52da-11e5-8192-ece1124916b0.png)

[2015-09-04 13:43] pippinsplugins commented on #833
@ramiabraham @sumobi could you guys test this?

[2015-09-04 14:38] pippinsplugins commented on #833
Related core ticket: https://core.trac.wordpress.org/ticket/33728#ticket

[2015-09-04 21:51] ramiabraham commented on #833
Issue persists for me  with patch applied; are you getting the same behavior?

[2015-09-04 22:00] pippinsplugins commented on #833
Refreshed permalinks?

On Fri, Sep 4, 2015 at 4:51 PM, Rami Abraham <notifications@github.com>
wrote:

[2015-09-04 22:53] ramiabraham commented on #833
Yes, via core ui and explicit `flush_rewrite_rules`. This *does* fix the the WP core issue, but it persists in WC and EDD.

[2015-09-05 03:30] pippinsplugins commented on #833
Damn . . . it completely fixed it for me. Testing again now.

[2015-09-05 03:31] pippinsplugins commented on #833
Yep fixes for me.

@ramiabraham if you install a rewrite rules inspector (let me know if you're not sure which to use or need a recommendation), do you see the /ref/ rewrite for product categories?

[2015-09-05 07:48] sumobi commented on #833
@pippinsplugins

1. Visited WooCommerce category page which resulted in 404 as this issue outlines
2. Created branch from issue/833 but a category page still results in a 404
3. Flushed permalinks and category page now works
4. Switched back to master branch without patch, still working correctly

I see the ref rewrite for product categories
![screen shot 2015-09-05 at 7 45 23 pm](https://cloud.gi

[2015-09-05 08:11] sumobi commented on #831
@pippinsplugins works great for me

[2015-09-05 08:15] sumobi commented on #723
@pippinsplugins kk

[2015-09-05 08:15] sumobi commented on #723
Can't spot anything else on this

[2015-09-05 19:01] #831 closed

[2015-09-05 19:02] #723 closed

[2015-09-05 20:19] pippinsplugins commented on #833
@sumobi it still works after switching back to master because rewrite rules
are persistent. They are only recreated when they are told to be.

On Sat, Sep 5, 2015 at 2:48 AM, Andrew Munro <notifications@github.com>
wrote:

[2015-09-06 01:01] sumobi commented on #833
Yeah just making sure. I tested with a fresh install and patch. Issue is definitely fixed after flushing permalinks. Damn permalinks...

[2015-09-06 01:24] pippinsplugins commented on #824
According to the gateway author:

Is that not happening?

[2015-09-06 01:29] worldtravlr commented on #824
Correct.  I think that is the default for non-digital products, but when a product in woocommerce is marked as Digital and Virtual, then there is the option to have it be marked as completed on successful payment.

http://docs.woothemes.com/document/digitaldownloadable-product-handling/#section-3

[2015-09-06 01:59] pippinsplugins commented on #824
Based on the supported thread with the plugin, it definitely appears to be due to a bug in the PayPal Express plugin.

Have you considered using the official PayPal Express integration? http://www.woothemes.com/products/paypal-express/

[2015-09-06 02:08] worldtravlr commented on #824
Thanks Pippin.  Yeah, I purchased that plugin, but the checkout flow is really strange and not intuitive as it goes like this:

Go to checkout page and either click pay with paypal express or enter billing info.  If you enter billing info and then later click pay via PayPal Express then after paying it brings you to the begignigng of the checkout again, but has your billing info already filled in.

[2015-09-06 02:08] worldtravlr commented on #824
Is there something I can recommend the PayPal express plugin developer could check on to see about fixing this issue on their end?

[2015-09-06 02:12] pippinsplugins commented on #824
That is a rather weird checkout flow.

I'm 99.99999% sure this issue is due to something in the PayPal Express plugin. None of the other gateways do this, so there's no cause for it to be due to AffiliateWP.

AffiliateWP works off of the standard WooCommerce update processes. As long as the gateway creates and updates the order statuses properly, AffiliateWP will work. In this case (and as the dev

[2015-09-06 02:35] pippinsplugins commented on #627
@worldtravlr We don't have an option for affiliates to export their own data yet, but that could be easily done. The export option I added is for site admins in Affiliates > Tools > Export.

[2015-09-06 02:58] worldtravlr commented on #824
Thanks @pippinsplugins.  Yeah seems like there are a few issues they are working on fixing currently.  At this stage I think we will just plan to manually approve the pending referrals as I have confirmed that if the order is later set to cancelled/refunded, etc then the referral will correctly be decline/cancelled.  Thanks for checking into it and trying to find a solution on this end.

[2015-09-06 03:05] worldtravlr commented on #627
Thanks @pippinsplugins.  I know about that option and am working with @tubiz to create a plugin/code edit to be able to export order details and a bit more on the backend and then maybe later the same for the front end as if "Order Details" are enabled, it would be super convenient for affiliates to be able to download that info to CSV from the affiliate area to be able to send those customer a sp

[2015-09-06 03:21] worldtravlr commented on #824
Agreed about the stage checkout flow.  I was surprised that the $100 plugin had a much less intuitive flow than the free option.

Looks like they agree the issue is on their end, so this can probably be closed as it is with their plugin and not AfiliateWP as you had thought:

https://wordpress.org/support/topic/paypal-express-orders-not-registering-with-affiliatewp-plugin?replies=12#post-7392240

[2015-09-06 12:10] pippinsplugins commented on #833
Marking as fixed then.

[2015-09-06 12:10] #833 closed

[2015-09-06 12:11] pippinsplugins commented on #765
@sumobi Happy with this one too? It's been merged into `release/1.7`

[2015-09-06 12:11] pippinsplugins commented on #557
@wpeasycart is the update going out soon? I don't see anything on the .org changelog.

[2015-09-06 12:12] pippinsplugins commented on #498
Moving to 1.8

[2015-09-06 12:15] #595 closed

[2015-09-06 12:16] pippinsplugins commented on #595
We are going to not support `creative-#.php` for now. I can't seem to figure out why that doesn't work.

If someone needs to make creative-specific changes in the template file, they can add an ID check, like this:

[code]

[2015-09-06 12:35] pippinsplugins commented on #811
@sumobi This is ready for testing. I've fixed URLs with fragment identifiers.

[2015-09-06 15:10] pippinsplugins commented on #112
@tubiz thank you so much for your work on this! I made a few small tweaks but otherwise it's working great!

[2015-09-06 15:11] pippinsplugins commented on #112
@sumobi I've merged this into `release/1.7`. Could you give it a test (pro version is in Dropbox).

If you are testing on a local host, you will need to use Buy Now buttons (use Stripe). If you are on a live server, make sure your IPN / webhooks are configured as they are required for referral tracking to work.

[2015-09-06 15:18] pippinsplugins commented on #112
@sumobi integration doc draft created too: https://secure.helpscout.net/docs/5463d15be4b0f639418397d0/article/55ec5839c69791431cfbad11

[2015-09-06 16:47] pippinsplugins opened #835 "Welcome screen for 1.7"

[2015-09-06 19:04] tubiz commented on #705
@nerrad @tn3rb am currently working on an EventEspresso integration for AffiliateWP.
Will appreciate is you can share some hooks to tie into the purchase and refund process.

[2015-09-06 19:08] tubiz commented on #112
@pippinsplugins am glad I could help out with it.

[2015-09-06 19:27] nerrad commented on #705
hey @tubiz sounds great!  Would you be able to ask your question in the Event Espresso issues please?  I realize you will likely want to track the integration in this thread however it will benefit our users more if we answer in our repository.

It's a holiday weekend here in Canada (both @tn3rb and I are canucks) so you likely won't get a response until Tuesday.  In the meantime, all Event Espres

[2015-09-06 20:56] pippinsplugins commented on #824
Ok closing this out then. I hope they're able to resolve it soon for you!

[2015-09-06 20:56] #824 closed

[2015-09-06 20:58] worldtravlr commented on #824
Thanks so much @pippinsplugins me too :-)  All the best!

[2015-09-07 00:03] tubiz commented on #705
Hi @nerrad have submitted a new issue on Event Espresso github repo.
Thanks for the guide on how to locate all hooks in EventEpresso.
Enjoy your holiday.

[2015-09-07 04:18] sumobi commented on #811
@pippinsplugins

This now stores a visit
http://test.affwp.dev/hello-world/?ref=4#comment

However pretty affiliate URLs are no longer working for me, eg:
http://test.affwp.dev/hello-world/ref/4/

If I switch back to master they work again

[2015-09-07 04:18] sumobi commented on #765
@pippinsplugins Yep!

[2015-09-07 04:26] sumobi commented on #811
The visit is stored as `http://test.affwp.dev/hello-world/?#comment` in the visits admin screen

[2015-09-07 05:38] #765 closed

[2015-09-07 05:38] pippinsplugins commented on #811
Did the cookies get set correctly?

[2015-09-07 05:39] sumobi commented on #811
The cookies don't get set at all when using pretty affiliate URLs

[2015-09-07 05:41] pippinsplugins commented on #811
@sumobi Can you force refresh to make sure your JS isn't cached?

[2015-09-07 05:42] sumobi commented on #811
@pippinsplugins didn't help

[2015-09-07 05:43] pippinsplugins commented on #811
What about with non-pretty?

[2015-09-07 05:44] sumobi commented on #811
non pretty works great still

[2015-09-07 06:12] pippinsplugins commented on #811
K, that helps

[2015-09-07 20:55] worldtravlr commented on #824
All fixed up with a single line of code @pippinsplugins - https://github.com/angelleye/paypal-woocommerce/commit/9e851415e98c2d3355a5c7391c63915851897b86

Thanks to you and @sumobi for trying to help troubleshoot this and sorry for the time suck as it was never your issue to begin with.

[2015-09-07 23:24] sumobi commented on #824
@worldtravlr Awesome and no problem, glad it's working now! :+1:

[2015-09-08 00:09] worldtravlr commented on #824
Me too and thanks again for your always awesome support! :+1:  :+1:

[2015-09-08 13:37] pippinsplugins commented on #824
Excellent!

On Mon, Sep 7, 2015 at 4:55 PM, Griffin Stewart <notifications@github.com>
wrote:

[2015-09-11 05:43] wpeasycart commented on #557
Hi @pippinsplugins, sorry for the delay here, pushing a new version in the morning with this change. Need to make a last correction to our admin tools to ensure there is no confusion for our customers.

[2015-09-11 18:15] wpeasycart commented on #557
@pippinsplugins just released 3.1.15, which has the AffiliateWP code removed

[2015-09-11 20:22] mindylue opened #836 "affwp_get_affiliate_id ajax call made for all non-affiliate visits to site"
In tracking.js, the affwp_get_affiliate_id ajax call is being made every time a non-affiliate visitor loads a page on the site. The issue is coming from ref not being checked for undefined in the conditional on line 25: `if( ! $.isNumeric( ref ) ) {`

[2015-09-12 13:31] lisag opened #837 "Allow visits to be exported from Affiliates -> Visits section"
It would be useful if admins could export their visits data (preferably to .CSV), should they want to see how many visits came from a particular landing page (and improve it/change it).

[2015-09-12 18:49] pippinsplugins commented on #837
Good idea.

How does everyone feel about adding options to export unique visits only? Or perhaps showing unique URLs only (one per row) and then including a count column for the number of times that URL was logged.

[2015-09-12 19:05] pippinsplugins commented on #836
Thanks for the report! We'll get that fixed.

[2015-09-12 19:05] pippinsplugins commented on #557
Great, thanks!

[2015-09-12 19:05] pippinsplugins commented on #557
Merged into `release/1.7`

[2015-09-12 19:05] #557 closed

[2015-09-15 11:59] pippinsplugins commented on #811
@sumobi Ok I believe I've fixed it.

[2015-09-15 12:03] sumobi commented on #811
@pippinsplugins pretty referral links are now working for me :+1:

[2015-09-15 12:03] pippinsplugins commented on #811
Yay!

[2015-09-15 12:04] pippinsplugins commented on #811
Merged into `release/1.7`

[2015-09-15 12:10] pippinsplugins commented on #112
My signup shortcode:
![screen shot 2015-09-15 at 7 06 48 am](https://cloud.githubusercontent.com/assets/1034109/9876002/5c51cbee-5b78-11e5-9b8b-f143b6857598.png)

Referral after signing up:
![screen shot 2015-09-15 at 7 10 39 am](https://cloud.githubusercontent.com/assets/1034109/9876080/e5fe2a22-5b78-11e5-8226-44c7de45349d.png)

[2015-09-15 12:12] pippinsplugins commented on #112
Everything is working perfectly for me :+1:

[2015-09-15 12:12] #112 closed

[2015-09-15 12:13] pippinsplugins commented on #112
@jaswsinc this is completely unrelated but I have a small piece of feedback for you. The admin menu is _way_ to big. On an 11inch Macbook Air, I can't even see all items in the admin menu because it's so incredibly tall: https://cloudup.com/curVnqDbBGK It would be nice to see those consolidated.

[2015-09-15 19:08] claudiosw commented on #112
@pippinsplugins I would like to have this integration. When can I have it?
I'm already a AffiliateWP client.
Thanks everyone for making it work!

[2015-09-15 19:12] pippinsplugins commented on #112
It will be available as soon as v1.7 is released.

On Tue, Sep 15, 2015 at 2:08 PM, claudiosw <notifications@github.com> wrote:

[2015-09-15 19:16] claudiosw commented on #112
@pippinsplugins thanks for the quick response!
May I have an estimate when the v1.7 will be released?

[2015-09-15 19:21] pippinsplugins commented on #112
We're aiming for later this week.

On Tue, Sep 15, 2015 at 2:16 PM, claudiosw <notifications@github.com> wrote:

[2015-09-15 19:22] claudiosw commented on #112
@pippinsplugins wonderful! Looking forward for it.
Many thanks!

[2015-09-15 19:28] pippinsplugins commented on #627
Ok this is ready for thorough testing:
![screen shot 2015-09-15 at 2 26 19 pm](https://cloud.githubusercontent.com/assets/1034109/9887535/c855e748-5bb5-11e5-8f43-df36739e324c.png)

I've setup a new MySQL view for the campaigns data that pulls information from the visits table and makes it easily accessible:

![screen shot 2015-09-15 at 2 27 10 pm](https://cloud.githubusercontent.com/assets/1034109

[2015-09-15 19:28] pippinsplugins commented on #627
When testing, please deactivate and re-activate AffiliateWP

[2015-09-15 20:50] worldtravlr commented on #627
This is so Awesome!  Way to go @pippinsplugins  and @sumobi!  Amazing!  Affiliate the world over will love it.  Great job!

[2015-09-15 20:55] pippinsplugins commented on #627
:)

I'm not sure on the wording of `Unique Visits`. The column is actually showing the number of distinct URLs that have been clicked (think landing pages). Any suggestions on what to label that column?

[2015-09-15 21:22] bekarice commented on #627
@pippinsplugins So not quite sure what you're measuring -- are unique visits distinct URLs to your site from the affiliate? like:

 - `mysite.com/download/stripe/?ref=1&campaign=landing`
 - `mysite.com/?ref=1&campaign=landing`

So each of those would be tracked as a "unique visit", but both under campaign == landing? Might call them "Sources" in that case, but not sure I'm understanding what they

[2015-09-15 21:24] pippinsplugins commented on #627
@bekarice That's correct. Your example would count as 2 uniques.

[2015-09-15 21:24] pippinsplugins commented on #627
@bekarice whoops! missing file fixed.

[2015-09-15 22:02] worldtravlr commented on #627
Glad to test on my system as well, but I am using all shortocdes for the Affiliate Area.  Will this work with those yet?

[2015-09-15 22:05] pippinsplugins commented on #627
@worldtravlr It depends on the [affiliate_area] short code for now.

[2015-09-16 02:08] sumobi commented on #627
@pippinsplugins deactivating/re-activating AffiliateWP doesn't seem to generate the campaigns DB table. Running on multisite installation

[2015-09-16 02:10] pippinsplugins commented on #627
How are you verifying the table is there? Note, it's not a real table. It's
a view (virtual table)

On Tuesday, September 15, 2015, Andrew Munro <notifications@github.com>
wrote:

[2015-09-16 02:10] sumobi commented on #627
By the error:

    WordPress database error Table 'affwp.wp_50_affiliate_wp_campaigns' doesn't exist for query SELECT * FROM wp_50_affiliate_wp_campaigns WHERE affiliate_id = 4; made by require('wp-blog-header.php'), require_once('wp-includes/template-loader.php'), include('/themes/twentysixteen/page.php'), get_template_part, locate_template, load_template, require('/themes/twentysixteen/template-

[2015-09-16 02:11] sumobi commented on #627
![screen shot 2015-09-16 at 2 11 30 pm](https://cloud.githubusercontent.com/assets/52581/9894853/e01b8f00-5c7c-11e5-8f0a-46e454aebeec.png)

[2015-09-16 02:12] pippinsplugins commented on #627
Is your affwp version option set to 1.7 already? If so, lower it and then
run again.

On Tuesday, September 15, 2015, Andrew Munro <notifications@github.com>
wrote:

[2015-09-16 02:13] sumobi commented on #627
Ahh that'll be why :)

[2015-09-16 02:14] sumobi commented on #627
Oh damn, it's already 1.6.5
![screen shot 2015-09-16 at 2 14 03 pm](https://cloud.githubusercontent.com/assets/52581/9894879/33d92864-5c7d-11e5-861b-766d0c8a8c2f.png)

[2015-09-16 02:23] sumobi commented on #798
Had another 2 requests for this over the past week

[2015-09-16 02:52] sumobi opened #840 "Receive a report each month"
Feature request:

Reminds me of the sales report extension for EDD. Having a report each month of referral info (and lots of other things) could be rather nice.

[2015-09-16 12:55] pippinsplugins commented on #840
Nice idea.

On Tuesday, September 15, 2015, Andrew Munro <notifications@github.com>
wrote:

[2015-09-16 15:15] pippinsplugins commented on #627
@sumobi Tracked it down. Try again now and it should work.

[2015-09-16 15:37] pippinsplugins commented on #835
@sumobi ready for your review.

[2015-09-16 22:45] bekarice commented on #627
:+1: looking good on my end, don't have huge data sets to test the upgrade routine though.

What if you use "Unique URLs" or "Unique Links" instead of "Unique Visits" since that's the number of different URLs that have used that campaign?

[2015-09-16 22:47] pippinsplugins commented on #627
I like both of those options. @sumobi preference?

[2015-09-17 00:43] pippinsplugins commented on #627
Merging into release/1.7

[2015-09-17 00:50] sumobi commented on #627
@pippinsplugins I like `Unique Links` but would be happy with either

[2015-09-17 01:16] sumobi commented on #811
@pippinsplugins Looks like an issue that I thought was solved has popped back up.

If you enter a URL into the `Page URL` input field that contains a fragment identifier then it should strip it out and place it at the very end of the URL.

Wrong:
Input: http://affwp.dev/2015/03/22/hello-world/#comment
Output: http://affwp.dev/2015/03/22/hello-world/#comment/?ref=4

Correct:
Input: http://affwp.dev

[2015-09-17 01:43] sumobi commented on #811
Actually no, it works fine, JS files were cached :)

[2015-09-17 01:43] #811 closed

[2015-09-17 02:00] pippinsplugins commented on #811
yay!

[2015-09-17 02:41] sumobi opened #841 "[affiliate_referral_url] shortcode does not show fragment identifier"
The [affiliate_referral_url] shortcode doesn't show the fragment identifier:

`[affiliate_referral_url url="http://affwp.dev/2015/03/22/hello-world/#comment"]`

Becomes:

`http://affwp.dev/2015/03/22/hello-world/?ref=4`

PR incoming

[2015-09-17 02:49] sumobi commented on #841
This also affects creatives and the {referral_url} email tag since they all use the same affwp_get_affiliate_referral_url() function

[2015-09-17 02:54] sumobi commented on #841
@pippinsplugins

Tested with [affiliate_referral_url] shortcode and creatives

![screen shot 2015-09-17 at 2 52 54 pm](https://cloud.githubusercontent.com/assets/52581/9923651/ced13996-5d4b-11e5-9f58-dbf29d3c534c.png)

![screen shot 2015-09-17 at 2 54 40 pm](https://cloud.githubusercontent.com/assets/52581/9923666/0d4d731a-5d4c-11e5-9286-090a9dbbbd78.png)

[2015-09-17 07:45] sumobi opened #843 "Account for spaces in affiliate usernames in affiliate URLS"
If an affiliate has a WordPress username with a space in it, eg `Dat Guy` then their affiliate referral URL won't work:

`http://mysite.com/ref/Dat Guy`

or

`http://mysite.com/ref/Dat%20Guy`

WordPress itself doesn't let you register a username with a space in it however our affiliate registration form does. We should prevent spaces in usernames.

ref: https://secure.helpscout.net/conversation/12

[2015-09-17 13:52] #841 closed

[2015-09-17 15:25] #627 closed

[2015-09-17 15:40] #835 closed

[2015-09-18 02:42] sumobi opened #845 "Long affiliate name breaks overview table layout"
When a really long affiliate name is used it can break the table layouts on the affiliate overview page:

![screen shot 2015-09-18 at 2 37 53 pm](https://cloud.githubusercontent.com/assets/52581/9950831/149e9fbe-5e13-11e5-8be4-54fdfe01db69.png)

We should be able to fix this by adding `table-layout: fixed;` and `word-wrap: break-word;` to the `table.affwp_table` class in the admin stylesheet. This

[2015-09-18 02:44] sumobi commented on #845
If an affiliate's name is too long it can also break the other tables such as "Latest Affiliate Registrations" and "Recent Referral Visits"

[2015-09-18 03:06] sumobi commented on #845
Also makes the reports tables line up nicely:

Before:

![screen shot 2015-09-18 at 3 00 35 pm](https://cloud.githubusercontent.com/assets/52581/9951134/acc4f04c-5e16-11e5-93c9-e2fc746174e6.png)

___
After:

![screen shot 2015-09-18 at 3 00 52 pm](https://cloud.githubusercontent.com/assets/52581/9951138/b5fbb2b8-5e16-11e5-9c4f-aec6b3aa054c.png)

[2015-09-18 03:06] sumobi commented on #845
@pippinsplugins 1.7 or 1.7.1, up to you

[2015-09-18 03:59] #845 closed

[2015-09-18 08:36] sumobi opened #847 "Can't change the referral variable"
Looks like there's a bug with the referral variable field. If you try to modify it reverts back to `ref`.

The line causing this issue is: https://github.com/affiliatewp/AffiliateWP/blob/master/includes/admin/settings/class-settings.php#L230

[2015-09-18 13:29] #847 closed

[2015-09-21 14:59] worldtravlr opened #848 "Affiliate Area & Reports Chart"
Hi AffiliateWP Team.  I would like to put in a formal request to improve the charts for the affiliate area and reports.  We just had a big sale and while smaller volume sales and/or affiliates/affiliate programs may find the current charts useful and helpful, if there is a lot of volume, in their current form, they do not seem to be very helpful.

I am attaching some of the charts here to show you

[2015-09-21 19:07] juanvillegas commented on #793
thanks sir!

sorry, github never sent me a notification for this!  :(

[2015-09-21 19:29] pippinsplugins opened #849 "Improve lookup time of affiliate functions"
The processes that look up and verify an affiliate URL in the tracking class could be improved a bit performance wise.

This is due to a lot of the affiliate get functions not being cached.

[2015-09-21 19:50] pippinsplugins opened #850 "Undefined index `campaign` in JS tracking"
When JS tracking is enabled and a URL is used that does not include a campaign, the following notice is thrown:

Notice: Undefined index: campaign in /Users/pippin/Sites/edd/wp-content/plugins/affiliate-wp/includes/class-tracking.php on line <i>273

[2015-09-21 19:52] #850 closed

[2015-09-21 19:52] #849 closed

[2015-09-21 19:54] #836 closed

[2015-09-22 05:19] wordmaid commented on #837
@pippinsplugins: I think unique URLs with a count would be cool - that way if a bunch of traffic is coming from an affiliate's post (for example), the admin will see that affiliate is driving a lot of traffic their way. They can then cross-reference it with actual conversions, if they like.

It would be great, though, to also have every single visit available to view, as not all visits are convert

[2015-09-22 13:54] pippinsplugins commented on #837
I 100% agree. We should have advanced filtering capabilities so admins can view/export any set of visits they want.

[2015-09-22 15:52] pippinsplugins opened #851 "Add support for URL blacklists"
PR: #1379

A customer has asked about the option to blacklist certain URLs in order to prevent referrals from those locations: http://affiliatewp.com/version-1-7-released/#comment-15003

[2015-09-22 19:57] wordmaid commented on #837
Absolutely agree! :+1:

[2015-09-22 21:23] nathanrice opened #852 "Problem with 1.7 upgrade routine in #751"
When the 1.7 upgrade routine runs, it's supposed to find all the instances of percentage referral rates between 0 and 1 and multiply by 100 to make this a valid percentage.

Problem is, this should include the default referral rate. But it seems like it's stalling out right here:
https://github.com/affiliatewp/AffiliateWP/blob/master/includes/admin/class-upgrades.php#L141-L145

Best I can tell, if

[2015-09-22 21:27] pippinsplugins commented on #852
@nathanrice By default, do you mean default site wide?

[2015-09-22 21:29] nathanrice commented on #852
Yes, the value set in Settings.

[2015-09-22 21:33] nathanrice commented on #852
Basically, [this](https://github.com/affiliatewp/AffiliateWP/blob/master/includes/admin/class-upgrades.php#L159) gets ignored if [this](https://github.com/affiliatewp/AffiliateWP/blob/master/includes/admin/class-upgrades.php#L141) returns no results.

[2015-09-22 22:09] nathanrice commented on #852
Give me a few minutes, and I'll update my fork so I can submit a PR.

[2015-09-22 23:28] sumobi commented on #851
Sounds like a neat idea

[2015-09-23 00:09] sumobi opened #854 "Support for PayPal (standalone)"
PR: #1442

Occasionally we'll get a customer (or pre-sale question) asking about generating referrals with PayPal (no integration). They tend to be using the standard PayPal buy now buttons that you can generate from PayPal's website. They also don't seem to like the idea of using one of our integrations such as WooCommerce that support PayPal out of the box.

When they are only selling 1 product

[2015-09-23 00:37] pippinsplugins commented on #854
I've been thinking about this recently.

Typically the people that want to do this are using the HTML purchase buttons from PayP.

Perhaps we could provide a "wrapper" FORM and processing for PayPal purchases. Instead of going directly to PayPal when the purchase button is clicked, the FORM data would get submitted to AffiliateWP and then redirected to PayPal like a standard purchase button.

This

[2015-09-23 01:36] sumobi commented on #854
:+1: if the data can go to AffiliateWP and sit there until the IPN is completed. Sounds like a great way to tackle this.

[2015-09-23 01:44] pippinsplugins commented on #854
Going to milestone for 1.8 to see if I can work something up.

[2015-09-23 01:44] pippinsplugins commented on #854
Note: if this works, we may be able to do something similar for Stripe.

[2015-09-23 01:44] sumobi commented on #854
Excellent

[2015-09-23 02:20] pippinsplugins commented on #848
Yes yes yes.

Related #616

[2015-09-23 02:59] worldtravlr commented on #848
Awesome!  Thanks so much and sorry I missed the other one.

[2015-09-23 03:07] worldtravlr commented on #616
In a previous affiliate plugin I used there was an additional sub menu option in the sidebar for Totals.  Total would show Affiliate ID, Affiliate Name, Affiliate Email, Affiliate Username and Total Commissions.  This could be sorted by any of these criteria, but the most intuitive and helpful to me was by Total as I could go in and see who my top affiliates were very quickly and easily even if th

[2015-09-23 19:26] shazahm1 opened #855 "Affiliate ID via an endpoint like EDD-SL"
On every page load there is an ajax call for the affiliate ID. Can this be changed to happen in an endpoint so [plugins endpoints](https://github.com/dannyvankooten/plugin-endpoints) can be used to reduce load time? I use this with EDD-SL with fantastic results. Presently the load time of the ajax call is about 1.3sec whereas an EDD-SL call only takes about 300millisecs. I would expect to see simi

[2015-09-23 20:54] pippinsplugins commented on #855
I'm not sure what you mean. How could it use an endpoint since we have to look at every URL to see if there is an affiliate ID supplied.

[2015-09-24 02:04] #852 closed

[2015-09-24 02:04] pippinsplugins commented on #852
Thanks @nathanrice! I'll push out the update now.

[2015-09-25 00:04] sumobi opened #856 "Update english .po file with campaign tracking strings"
Looks like the .po file doesn't have the latest campaign tracking related text strings in it. We might also be missing other v1.7 strings.

[2015-09-25 03:05] sumobi opened #857 "Can't enable referrals on Gravity Forms"
The new "Enable affiliate referral creation for this form" option does not save correctly so referrals cannot be enabled for forms.

[2015-09-25 03:08] #857 closed

[2015-09-25 20:19] pippinsplugins commented on #856
Whoops.

[2015-09-27 06:21] sumobi opened #859 "PHP Notice: Undefined index: affiliate"
PHP Notice:  Undefined index: affiliate in /wp-content/plugins/AffiliateWP/includes/class-tracking.php on line 264

Appears if you are logged in as an affiliate and then you try to use your own referral link.

[2015-09-27 08:07] sumobi commented on #705
+1
https://secure.helpscout.net/conversation/125761060/17720/

[2015-09-27 09:32] johndjchan commented on #727
Hi there, I liked your page and I bought the plugin. The USD199 version. I spoke with jason from s2memeber and understand that affiliatewp also using the wp_user database, so that now, when my user register using UserPro or UserUltra , they can be seen in s2member and also affiliateWP I have went to AffiliateWP and set it in MISC -> "Automatically register new users as affiliates?" and also, UNtic

[2015-09-27 10:35] sumobi opened #861 "Auto Register users as affiliates not working"
Looks like `Auto Register New Users` is broken in v1.7. Customer reverted to 1.6.5 and it then works.
https://secure.helpscout.net/conversation/125769388/17725/

I have also replicated the issue. The affiliate is created, but there isn't a status:

![screen shot 2015-09-27 at 11 35 04 pm](https://cloud.githubusercontent.com/assets/52581/10122287/696a4bb0-6570-11e5-843f-25c64b32eab6.png)

[2015-09-27 11:29] sumobi commented on #861
@pippinsplugins Tested thoroughly but would appreciate some extra eyes on this.

Tested:

- Adding an affiliate through the admin with a custom status
- The default affiliate registration form (the status is set via class-register.php anyway)
- Auto registering users as affiliates when registering on the site
- All of the above with `Require approval` enabled.

[2015-09-28 00:01] pippinsplugins commented on #705
@tubiz Anything I can help out with here?

[2015-09-28 00:22] pippinsplugins commented on #727
Hi @johndjchan, I saw you submitted a ticket via our support system (and also from the support page of pippinsplugins.com).

We will address your ticket as soon as we are able. Note: Gthub (this site) is only for development tracking and not support. Also, please only submit one ticket. There's no need to submit the same ticket 3 times. We'll see it :)

[2015-09-28 00:24] pippinsplugins commented on #861
Looks good to me.

[2015-09-28 00:24] #861 closed

[2015-09-28 01:33] johndjchan commented on #727
Thanks

i bought the plugin but some critical part is not working, therefore i
asked couple of times
sry mate.

thanks

amanda/john

2015-09-28 8:22 GMT+08:00 Pippin Williamson <notifications@github.com>:

[2015-09-28 10:03] tushonline opened #863 "Database error for 'wp_affiliate_wp_campaigns'"
Why does it show Error & 'Corrupt'
Using 1.7.3

![image](https://cloud.githubusercontent.com/assets/4390051/10132792/08b0c05c-65f6-11e5-9714-fe479d9fd153.png)

[2015-09-28 14:21] #859 closed

[2015-09-28 14:32] #856 closed

[2015-09-28 14:47] fxbenard commented on #856
@pippinsplugins Lovely the grunt task is killing: all .po updates. I just have to translate. Big up from all translators.

[2015-09-28 14:48] pippinsplugins commented on #863
@tushonline Is that showing after running an `optimize` query on the DB?

[2015-09-28 14:52] pippinsplugins commented on #856
@fxbenard I got it fixed finally :)

[2015-09-29 06:02] tubiz commented on #705
@pippinsplugins have started on it,  no issues so far. Will be done this weekend.

[2015-09-29 09:30] tushonline commented on #863
@pippinsplugins that's correct

[2015-09-29 20:07] pippinsplugins commented on #863
@tushonline Besides when optimizing it, does the campaigns view appear to be working?

[2015-09-29 20:42] pippinsplugins commented on #705
:+1:

[2015-09-30 01:00] sumobi opened #864 "Canned replies for affiliate rejection emails"
https://twitter.com/innerwebs/status/649018768165765120

[2015-09-30 01:01] pippinsplugins commented on #864
:+1:

On Tue, Sep 29, 2015 at 8:00 PM, Andrew Munro <notifications@github.com>
wrote:

[2015-09-30 03:11] michaelbeil commented on #864
:muscle:

[2015-09-30 11:24] tushonline commented on #863
See these screens. Please let me know if you need anything more

![image](https://cloud.githubusercontent.com/assets/4390051/10191658/9ea0ed82-6793-11e5-8379-205d927ecf37.png)

![image](https://cloud.githubusercontent.com/assets/4390051/10191694/ea08288a-6793-11e5-8ea4-ed2d35552836.png)

[2015-09-30 18:15] michaelbeil commented on #856
what fixed it @pippinsplugins?

[2015-09-30 21:56] pippinsplugins commented on #856
I had to change the permissions on a bunch of /bin/ files.

[2015-09-30 21:58] michaelbeil commented on #856
gotta love me some perms.

[2015-10-01 02:12] wordmaid opened #865 "Missing words"
On the Migration Assistant screen there are a few sentences missing the word "to". With the help of @sumobi I'm going to create my first pull request.

[2015-10-01 05:33] sumobi opened #867 "Fatal error: Call to a member function get_column_by() on a non-object"
@pippinsplugins Customer is receiving this error when activating AffiliateWP on a GoDaddy hosting account:

 `   Fatal error: Call to a member function get_column_by() on a non-object in /home/content/p3pnexwpnas02_data02/27/2776527/html/wp-content/plugins/affiliate-wp/includes/affiliate-functions.php on line 38`

ref: https://secure.helpscout.net/conversation/126847333/18012/

If I comment out th

[2015-10-01 05:54] sumobi commented on #867
Looks like the issue went away as per the other ticket:

[2015-10-01 14:20] pippinsplugins commented on #867
Let's keep an eye out for similar cases.

[2015-10-01 14:24] #865 closed

[2015-10-01 14:24] pippinsplugins commented on #865
Awesome, thanks @wordmaid !

[2015-10-01 23:30] sumobi commented on #867
:+1:

[2015-10-02 16:49] michaelbeil opened #869 "In favor of a .gitattributes file"
For the ignorance of several files on download of a zip from GH, we could add an `export-ignore` attribute to such files.

For example:

`.travis.yml export-ignore`

https://git-scm.com/book/en/v2/Customizing-Git-Git-Attributes#Exporting-Your-Repository

I already have a PR ready if we would want this.

[2015-10-02 17:58] pippinsplugins opened #870 "Nonce check missing from process_bulk_action()"
The `process_bulk_action()` method is missing it's nonce check. We need to double check all list table classes for this.

[2015-10-02 17:59] pippinsplugins commented on #869
:+1:

[2015-10-02 17:59] pippinsplugins commented on #869
PR would be great!

[2015-10-02 18:02] #869 closed

[2015-10-02 19:06] michaelbeil commented on #676
https://secure.helpscout.net/conversation/127136510/18102/

[2015-10-03 19:04] chriscct7 opened #872 "Referral URL Visits"
The Referral URL Visits should have a column for date and time

[2015-10-03 19:15] michaelbeil opened #873 "Show website address in the affiliate overview"
https://secure.helpscout.net/conversation/120833428/16942/

[2015-10-05 02:56] pippinsplugins commented on #873
:+1:

[2015-10-05 02:56] pippinsplugins commented on #872
In the admin?

[2015-10-05 03:00] chriscct7 commented on #872
No, on the frontend, like on EDD's affiliate page.

[2015-10-05 03:32] pippinsplugins commented on #872
:+1:

[2015-10-05 18:57] pippinsplugins commented on #562
Closing as wontfix since the affwp_insert_creative hook can be used.

[2015-10-05 18:57] #562 closed

[2015-10-05 19:00] pippinsplugins commented on #266
Looks like this is a duplicate.

[2015-10-05 19:00] #266 closed

[2015-10-05 19:01] pippinsplugins commented on #130
Looks like we've finished this in 1.7 but forgot to update here.

[2015-10-05 19:01] #130 closed

[2015-10-05 20:11] TimothyBJacobs commented on #843
WordPress definitely allows Usernames with spaces. But when it generates the nicename it strips spaces and replaces them with dashes.

[2015-10-05 20:14] pippinsplugins commented on #843
WP multisite doesn't permit them.

[2015-10-05 20:18] TimothyBJacobs commented on #843
But why enforce the restriction on non-multisite installs? We have a fair amount of users with spaces in their username, it hasn't become an issue for affiliates yet, but the users would prefer to be able to use their same username if they do decide to become affiliates.

[2015-10-05 20:20] pippinsplugins commented on #843
Personally, I'd say because spaces in usernames are just a terrible idea. Permitted or not permitted by WP. They just cause all sorts of unexpected problems. I'd vote that we mitigate potential issues and just not allow them through our registration forms.

[2015-10-05 20:26] michaelbeil commented on #843
I am in agreement with @pippinsplugins. It'd be best to lessen the load of issues where we can.

[2015-10-06 00:07] ghost1227 opened #876 "URLs in Visits table incorrect with pretty permalinks enabled"
While working on #843, I discovered that with pretty permalinks enabled for affiliate URLs, the visits table displays landing pages inclusive of the ref variable as shown below:

![](http://cloud.section214.com/image/0I0O102F0v1z/Image%202015-10-05%20at%206.56.48%20PM.png)

Without pretty permalinks, the `?ref=x` query variable is removed before it is displayed. This is handled in the `includes/cl

[2015-10-06 10:36] sumobi commented on #673
https://secure.helpscout.net/conversation/127680315/18222/

[2015-10-06 16:54] ghost1227 commented on #378
Gravity doesn't make things terribly obvious. I spent several hours digging into the Coupons extension and Gravity Forms core, and there doesn't appear to be any way of adding settings to the Coupons pages. While there is a roundabout way to modify form field settings, the plugin settings themselves seem to have been overlooked!

[2015-10-06 16:56] ghost1227 commented on #415
@pippinsplugins if you want me to dig into this, is there anywhere specific you want me to start? Seems to me this is going to be a 'works for me' ticket if you couldn't even reproduce it...

[2015-10-06 17:53] pippinsplugins commented on #876
We'll need to explode the URL if no query arg is found that matches the referral variable and then look to see if any of the URL pieces match the query var.

[2015-10-06 17:58] ghost1227 commented on #876
That's the only place I see that matches that particular var. I should note that we're never actually defining that as a query var... which is why remove_query_arg isn't working.

[2015-10-06 17:59] ghost1227 commented on #876
Though, since that's a configurable variable, I'm not sure how feasible defining it would be.

[2015-10-06 18:01] pippinsplugins commented on #876
It's intentionally not defined as a query var.

[2015-10-06 18:08] ghost1227 commented on #876
So then if no query arg is found, explode the URL, check the pieces, and if one matches the query var, remove it and the following piece?

[2015-10-06 18:14] pippinsplugins commented on #415
@ghost1227 Yes please. See if you can replicate it. If you can, see if you can fix it. We've seen it happen several times.

[2015-10-06 18:15] pippinsplugins commented on #876
Yep!

[2015-10-06 18:37] ghost1227 commented on #876
@pippinsplugins dunno if you're going to like how i did it, but that PR fixes it.

[2015-10-06 20:46] michaelbeil commented on #231
another for coupons in PMP: https://secure.helpscout.net/conversation/127963487/18302/

[2015-10-06 22:06] ghost1227 commented on #574
@pippinsplugins Can this be closed as `wont-fix`?

[2015-10-06 22:32] michaelbeil commented on #574
@ghost1227 it would appear so.

[2015-10-07 00:26] pippinsplugins commented on #574
Yes.

[2015-10-07 00:26] #574 closed

[2015-10-07 01:36] pippinsplugins commented on #843
@sumobi could you run this through some tests now? Merged into `master`

[2015-10-07 01:37] sumobi commented on #843
:+1:

[2015-10-07 01:46] sumobi commented on #843
@pippinsplugins works great for me

[2015-10-07 02:03] pippinsplugins commented on #229
This is ready to test!

[2015-10-07 02:13] sumobi opened #881 "Prevent usernames being numeric"
It's possible to set a username to be numeric, eg `1234`. This is going to cause issues, since the affiliate might try and use ?ref=1234 thinking that since it's their username, it will work.

It won't work because it will always try to find the affiliate with an ID of 1234. If there is another affiliate with an ID of 1234 it will award the commission to them, and if not, the cookie visit will sim

[2015-10-07 03:53] sumobi opened #884 "Log in and registration form share same field IDs"
When `allow registration` is enabled the affiliate area shows a login and registration form. When they are both shown, the field IDs of the `username` and `password` fields between the 2 forms are identical. If you click the `username` or `password` label on the login form, it jumps you up to the username or password field of the registration form.

We should make sure the IDs are unique.

[2015-10-07 03:56] sumobi opened #885 "Form labels should have cursor: pointer;"
Form labels should have `cursor: pointer;` so the hand icon is shown.

[2015-10-07 18:11] #885 closed

[2015-10-07 18:12] #456 closed

[2015-10-07 18:14] pippinsplugins commented on #676
Ready for testing!

[2015-10-07 18:14] michaelbeil commented on #676
sweet!

[2015-10-07 22:47] ghost1227 commented on #807
This is now available as a free extension on .org. Please feel free to contact me with any questions or suggestions.

https://wordpress.org/plugins/affiliatewp-activecampaign/

[2015-10-07 22:47] #807 closed

[2015-10-07 23:30] ghost1227 commented on #581
Closing as duplicate of #229

[2015-10-07 23:30] #581 closed

[2015-10-07 23:58] #881 closed

[2015-10-07 23:59] pippinsplugins commented on #884
@sumobi Could you test this one to make sure none of our CSS is now broken?

[2015-10-08 00:00] sumobi commented on #884
will do

[2015-10-08 00:01] pippinsplugins commented on #613
Ready for testing.

[2015-10-08 00:02] sumobi commented on #613
Beautiful :+1:

[2015-10-08 00:02] pippinsplugins commented on #613
:+1:

[2015-10-08 00:51] ghost1227 commented on #884
@pippinsplugins @sumobi I checked the CSS and there's noting explicitly applied to that ID.

[2015-10-08 01:06] pippinsplugins commented on #231
Ready for testing!

[2015-10-08 01:10] pippinsplugins commented on #722
Ready for testing!

[2015-10-08 01:19] pippinsplugins commented on #884
:+1:

[2015-10-08 01:20] #798 closed

[2015-10-08 01:36] ghost1227 commented on #448
@sumobi I think this and #445 should be combined into an overhaul of the creative system. Add a select box to set creative type (image/html/swf/etc), then dynamically populate the page based on the value of that field.

[2015-10-08 01:45] ghost1227 commented on #433
@sumobi @pippinsplugins What else would you want to show?

[2015-10-08 01:46] ghost1227 commented on #415
ok

[2015-10-08 01:55] ghost1227 opened #893 "Deleting own affiliate account is unintuitive"
If you select to delete your own affiliate account, it still displays the "Delete affiliate's user accounts as well?" checkbox. Of course, if you check it it bypasses the deletion preventing you from removing your own account, but the checkbox probably shouldn't show at all.

[2015-10-08 02:03] ghost1227 commented on #415
@pippinsplugins I haven't been able to replicate it either... Tested every combination that makes any sense and it always works as expected for me.

[2015-10-08 02:19] ghost1227 commented on #228
@sumobi @pippinsplugins I'm partway through this, but there's currently a bug in WPEC that prevents completion. They have a hook on the add coupon page `wpsc_coupon_add_bottom` which I am using to add the relevant field. Unfortunately, the edit coupon page has `wpsc_coupon_edit_top` actions at both the top and bottom of the page preventing me from properly adding our field. I've opened [an issue](

[2015-10-08 03:44] ghost1227 opened #895 "Visitor and Referral tables aren't extensible"
Right now, the visitor and referral tables aren't extensible. Since we're using a custom database and manually setting up `WP_List_Table`, we can't use the traditional `manage_posts_columns` filter to add columns to the table. We should add filters to allow extending these tables (RE: https://github.com/affiliatewp/AffiliateWP/issues/154).

[2015-10-08 04:43] pippinsplugins commented on #415
Closing as invalid then.

[2015-10-08 04:43] #415 closed

[2015-10-08 04:45] pippinsplugins commented on #228
;+1:

[2015-10-08 04:45] sumobi opened #896 "Lifetime commissions not working due to change in v1.7"
@pippinsplugins Referrals generated by Lifetime Commissions are all being created at `0.00`.

The amount passed into the `insert_pending_referral()` function is also `0`, and I can trace it back to the `affwp_get_affiliate_rate()` function which changed quite drastically with in v1.7 (1.6.5 works fine).

Here's the exact line causing the issue:
https://github.com/affiliatewp/AffiliateWP/blob/maste

[2015-10-08 06:00] sumobi commented on #613
@pippinsplugins @ghost1227 Looks good to me :+1:

[2015-10-08 06:00] sumobi commented on #884
:+1:

[2015-10-08 07:51] sumobi commented on #442
@pippinsplugins re-opening, looks like an email isn't sent anymore when an affiliate is added via the email. What are your thoughts on the checkbox option now? There will be instances where a site admin might not like to send the emails to the affiliate when added.

[2015-10-08 13:23] tushonline commented on #863
Hi. Do we have any update on this? Same issue persist with latest update too.

[2015-10-08 13:55] pippinsplugins commented on #896
This returns `null` for me, as expected.
[code]

[2015-10-08 13:58] pippinsplugins commented on #896
I think it's because Lifetime Commissions is passing `0` as the `$product_rate`. When `0` is passed, it uses `0` instead of falling back to default.

[2015-10-08 14:15] pippinsplugins commented on #896
I think I've tracked it down.

With Lifetime Commissions, `$this->affiliate_id` does not get set until the pending referral is created, which happens on the `affwp_insert_pending_referral` filter.

Before `affwp_insert_pending_referral`, the `calculate_referral_amount()` method of the base integration class is run. This method is expecting an affiliate ID to be present, but the affiliate ID is emp

[2015-10-08 14:17] #896 closed

[2015-10-08 14:18] #884 closed

[2015-10-08 14:19] pippinsplugins commented on #870
This doesn't work quite right. Looks like nonce verification is not working.

[2015-10-08 14:22] pippinsplugins commented on #870
It's failing because the nonce name is wrong.

It's `bulk-{plural}` not just `{plural}`.

[2015-10-08 14:22] jaredatch commented on #870
The nonce key generated is "bulk-{plural}". Current only validating against {plural} key which is incorrect.

https://github.com/WordPress/WordPress/blob/master/wp-admin/includes/class-wp-list-table.php#L1175

[2015-10-08 14:23] pippinsplugins commented on #870
@fjarrett Ha, nice timing :D

[2015-10-08 14:25] #870 closed

[2015-10-08 14:36] #722 closed

[2015-10-08 14:56] #676 closed

[2015-10-08 15:00] #613 closed

[2015-10-08 15:39] pippinsplugins commented on #442
Yep, let's add a checkbox.

[2015-10-08 16:59] michaelbeil commented on #442
Yes, add a checkbox. Unchecked by default?

[2015-10-08 18:06] michaelbeil commented on #442
I did not receive an email when an affiliate was added manually.

[2015-10-08 23:44] sumobi commented on #896
@pippinsplugins Lifetime commissions is working well so far.

I attempted 2 yesterday using a new filter we added to set the affiliate ID however LC needs the payment ID to look up emails and such. I'll have another stab at it sometime, would love to filter the affiliate ID a lot earlier.

[2015-10-09 00:43] pippinsplugins commented on #896
We can leave it like this for now.

[2015-10-09 01:10] pippinsplugins commented on #442
I vote checked by default.

[2015-10-09 01:11] sumobi commented on #442
:+1: to that, since that's expected behaviour

[2015-10-09 01:14] ramiabraham commented on #442
Ditto here; I'd expect support inquiries to increase on this if unchecked by default.

[2015-10-09 01:20] wordmaid commented on #442
:+1: for checked - makes sense!

[2015-10-09 14:34] pippinsplugins commented on #231
Tracking isn't working properly yet.

[2015-10-09 14:55] #231 closed

[2015-10-09 15:08] pippinsplugins opened #898 "Referrals not marked as complete with PayPal in iThemes Exchange"
Using PayPal, referrals are created but they are never marked as complete.

[2015-10-09 16:11] pippinsplugins opened #899 "Fatal error: Can't use method return value in write context"
Fatal error: Can't use method return value in write context in /home/abspanca/public_html/wp-content/plugins/affiliate-wp/includes/admin/class-notices.php on line 14

[2015-10-09 16:13] #899 closed

[2015-10-09 18:43] michaelbeil commented on #848
@worldtravlr that looks mighty nice. Do you by chance have a PR for the above charts?

[2015-10-09 18:44] michaelbeil commented on #840
Me gusta.

[2015-10-09 18:57] worldtravlr commented on #848
Thanks @michaelbeil.  Sorry for the confusion, but what is a PR?

[2015-10-09 19:32] michaelbeil commented on #442
- [x] please

[2015-10-09 21:24] pippinsplugins commented on #433
Let's start with the date and go from there

[2015-10-09 21:25] pippinsplugins commented on #895
Let's fix that.

[2015-10-09 21:26] ghost1227 commented on #433
Fail... that was supposed to be an added field, not a replaced field. Fixing.

[2015-10-10 02:36] sumobi commented on #898
Re-opening, it appears referrals are not being created at all in certain scenarios

[2015-10-10 14:32] misulicus opened #901 "Adjust name for WP eCommerce integration"
Should be WP eCommerce instead of WP e-Commerce
Should be ok via #900

[2015-10-11 00:36] sumobi opened #902 "Affiliates cannot be approved"
Affiliates cannot be approved. Here's after I clicked the "accept" action on the affiliate:

(using latest master)

![screen shot 2015-10-11 at 1 35 56 pm](https://cloud.githubusercontent.com/assets/52581/10414035/37b46a1c-701d-11e5-95b4-05332b2c0266.png)

If I go back to the page, the affiliate is still pending

![screen shot 2015-10-11 at 1 37 33 pm](https://cloud.githubusercontent.com/assets/52

[2015-10-11 00:43] sumobi commented on #902
I can confirm that affiliate approval was working fine in 1.7.4, can't find a release archive zip for 1.7.5

[2015-10-11 01:01] sumobi commented on #694
I noticed a customer today on v1.7.6, they had set their referral URL to `?edible-insects` which messed up the pretty URLs. We'll need to take another look at this and strip out `?`.

[2015-10-11 01:30] sumobi opened #903 "Affiliate ajax user search pops up again after selecting affiliate"
The affiliate ajax user search pops up again, after selecting the affiliate. It shouldn't pop up again when an affiliate has been selected

Video of issue:
https://cloudup.com/c1e3ZPAMmSp

![screen shot 2015-10-11 at 2 31 03 pm](https://cloud.githubusercontent.com/assets/52581/10414218/bb80bf10-7024-11e5-8cb2-1b9187f2fb75.png)

[2015-10-11 01:41] sumobi opened #904 "Incorrect action hook name in dashboard-tab-stats.php"
In the `dashboard-tab-stats.php` template file we should change `affwp_affiliate_dashboard_after_earnings` underneath the campaign table to `affwp_affiliate_dashboard_after_campaign_stats`

[2015-10-11 14:06] pippinsplugins opened #906 "Referrals can't be marked as paid/unpaid/rejected individually"
We've accidentally broken referral status changes via the inline action links due to the nonce field added to bulk action processing in #870

[2015-10-11 14:06] pippinsplugins commented on #902
This is due to the nonce we added to bulk action processing. Same cause as #906

[2015-10-11 14:07] pippinsplugins commented on #898
I have an idea why.

[2015-10-11 14:07] #904 closed

[2015-10-11 14:11] pippinsplugins commented on #901
Thanks!

[2015-10-11 14:11] #901 closed

[2015-10-12 00:22] TimothyBJacobs commented on #898
The problem is that for PayPal Exchange uses transient transactions, so the session data might not be available when the transient transaction is converted to an actual transaction. The `it_exchange_generate_transaction_object` filter should be used to mark if the transaction was from an affiliate or not. Then that data can be used in the `it_exchange_add_transaction_success` hook. I can submit a

[2015-10-12 01:09] sumobi commented on #448
@ghost1227 @pippinsplugins I like that idea.

[2015-10-12 01:43] wordmaid opened #907 "Campaign Names not being recorded"
Campaign names not showing after multiple tests. Was testing a customer’s ticket using various campaign names and noticed that campaigns were correctly shown as converted, but not by name. It shows a “None set” campaign name and lumps all campaigns together.

Different campaigns: https://cloudup.com/ctAgHKo3IBR
"None set": https://cloudup.com/cUULr2B_hPG

Tried using various URL formats and anothe

[2015-10-12 03:52] sumobi commented on #907
:+1: replicated issue

[2015-10-12 03:58] sumobi commented on #907
@pippinsplugins the cookie that stores the campaign name is not set

[2015-10-12 16:27] michaelbeil commented on #848
Hey @worldtravlr, no worries. PR is a pull request on GitHub. We are checking into this, though, and should have something out in the near future.

[2015-10-12 16:31] michaelbeil commented on #898
That would be great @TimothyBJacobs!

[2015-10-12 19:08] ghost1227 commented on #448
@pippinsplugins @sumobi Now that WC Omaha is over, I'd be happy to mock up something.

[2015-10-12 19:10] pippinsplugins commented on #448
:+1:

On Mon, Oct 12, 2015 at 2:08 PM, Ghost1227 <notifications@github.com> wrote:

[2015-10-12 19:19] worldtravlr commented on #848
Thanks @michaelbeil and sorry for the noob question.  Makes sense.

I have not made a PR.  This is more of a feature request and, sadly, I do not have the coding skills needed to contribute as much as I wish I could.  Here is a better mockup using WooCommerce reporting features as a base.  Not sure if these can be used via GPL and/or what EDD has for reporting options that may be pulled into this,

[2015-10-12 21:47] TimothyBJacobs commented on #898
Working on it now.

[2015-10-12 21:47] michaelbeil commented on #898
:+1:

[2015-10-13 01:46] sumobi opened #909 "Easily see if coupons have an associated affiliate"
A customer has requested a way to easily see if coupons have an associated affiliate:

It could certainly be useful to add an `affiliate` column to the discounts page in WC, EDD etc or some other means of quickly seeing this information.

[2015-10-13 04:08] ghost1227 commented on #448
@pippinsplugins @sumobi A few quick mockups...

![](http://cloud.section214.com/image/1a350H1k0c2u/Image%202015-10-12%20at%2010.49.21%20PM.png)

![](http://cloud.section214.com/image/222k2X2q0t0z/Image%202015-10-12%20at%2011.02.35%20PM.png)

![](http://cloud.section214.com/image/190A3n193316/Image%202015-10-12%20at%2011.05.04%20PM.png)

![](http://cloud.section214.com/image/0I29351t1x2K/Image%2020

[2015-10-13 04:11] ghost1227 commented on #906
Awww crud

[2015-10-13 04:56] michaelbeil commented on #448
lookin good @ghost1227.

[2015-10-13 05:00] michaelbeil commented on #902
Confirmed here as well.

[2015-10-13 06:02] ghost1227 commented on #903
@sumobi This could be tied in to the issue on switching to Select2

[2015-10-13 06:03] ghost1227 commented on #876
@pippinsplugins Updated unit tests

[2015-10-13 08:02] sumobi commented on #903
:+1: https://github.com/affiliatewp/AffiliateWP/issues/754

[2015-10-13 08:16] sumobi commented on #448
@ghost1227 awesome! I don't think we need the `Dimensions` fields for an image type. Set widths and heights on images break responsiveness.

[2015-10-13 08:41] ghost1227 commented on #448
heh.. probably don't need it for HTML either now that i'm thinking about it...

[2015-10-13 15:31] pippinsplugins commented on #876
@ghost1227 We'll include it in 1.8

[2015-10-13 15:37] pippinsplugins commented on #448
@ghost1227 did you make that as a new post type or just replicated the
screen?

On Tue, Oct 13, 2015 at 3:41 AM, Ghost1227 <notifications@github.com> wrote:

[2015-10-13 15:43] #902 closed

[2015-10-13 15:45] #906 closed

[2015-10-13 15:46] pippinsplugins commented on #898
Thanks @TimothyBJacobs !

[2015-10-13 15:46] #898 closed

[2015-10-13 15:56] #907 closed

[2015-10-13 16:49] ghost1227 commented on #448
@pippinsplugins No code yet, that's literally just a mockup.

[2015-10-13 16:59] ghost1227 commented on #448
That said, the idea was to replicate the standard post type screen.

[2015-10-13 19:24] pippinsplugins commented on #909
Perhaps we should have a generic `affwp_get_affiliate_coupons( $affiliate_id )` function that returns all connected coupon codes. Each integration could then register coupons there with the name, amount, code, and context.

[2015-10-13 23:28] michaelbeil commented on #909
:+1: https://secure.helpscout.net/conversation/129245480/18664/

[2015-10-13 23:28] sumobi commented on #909
@pippinsplugins I like that idea

[2015-10-13 23:29] sumobi commented on #909
We'll need this for when we eventually auto-generate coupons, and show the coupons in the affiliate area. The Show Affiliate Coupons add-on could also benefit from this

[2015-10-14 02:36] TimothyBJacobs commented on #898
No problem!

[2015-10-14 03:26] sumobi opened #910 "Allow affiliate IDs to start at a specific number"
This has been requested many times. Site owners would like to start their affiliate IDs at a specific number.

@pippinsplugins do you see anything negative as a result of this?

[2015-10-14 07:47] ghost1227 commented on #448
@pippinsplugins @sumobi @michaelbeil Here's a REALLY quick rewrite of the creatives page. So far, I've updated the new/edit pages with the exception of the live preview (it updates on save, but haven't done the JS to do live updating). Frontend output hasn't been updated, and I want to add a column to the table to indicate creative type. Please note that after pulling this branch you MUST deactiva

[2015-10-14 07:50] ghost1227 commented on #448
Oh, I should note that this also includes updates to take care of adding SWF (this issue) and HTML (not sure the issue number offhand) creative types.

[2015-10-14 20:20] michaelbeil commented on #316
Are we looking at this for v2.0, perhaps?

[2015-10-14 20:20] pippinsplugins commented on #316
Yep!

On Wed, Oct 14, 2015 at 3:20 PM, Michael Beil <notifications@github.com>
wrote:

[2015-10-14 20:33] michaelbeil commented on #316
To clarify, that would be for AWP 2.0, correct?

Not to be confused with v2 of WP-REST-API.

[2015-10-14 20:34] michaelbeil commented on #910
https://secure.helpscout.net/conversation/130205479/18903/

[2015-10-14 21:22] pippinsplugins commented on #910
I think it's a good idea.

Related to #455

[2015-10-15 00:26] sumobi commented on #910
:+1:

[2015-10-15 23:02] sumobi opened #912 "Referrals not created in MemberMouse when first affiliate deleted in AffiliateWP"
Ref: https://secure.helpscout.net/conversation/129712202/18780/

A customer's referrals were not being generated in MemberMouse despite everything being set up correctly. I noticed that while testing an affiliate's referral ID of `2`, or even `3`, the ID shown by MemberMouse was always `1`, when you hovered over the affiliate icon, in the MM transaction:

![screen shot 2015-10-15 at 8 50 25 pm](ht

[2015-10-16 00:22] sumobi commented on #867
Another customer: https://secure.helpscout.net/conversation/130774759/19080/

[2015-10-16 00:25] sumobi commented on #867
Interestingly enough the customer above was also running the Relevanssi plugin.

[2015-10-16 00:30] michaelbeil commented on #867
Relevanssi. what a bother.

[2015-10-16 00:47] sumobi commented on #867
Customer above deactivated Relevanssi and reactivated again, followed by AffiliateWP and this fixed the issue. It seems to only happens once, as deactivating Relevanssi/AffilateWP multiple times doesn't produce the issue again.

[2015-10-16 00:47] michaelbeil commented on #867
So, it seems like the gremlin of choice is Relevanssi. Deactivating and reactivating that plugin solves the issue.

Mastor @sumobi has done it again.

[2015-10-16 00:47] sumobi commented on #867
Haha

[2015-10-16 01:18] pippinsplugins commented on #912
.........................

[2015-10-16 05:44] sumobi commented on #799
Looks like this isn't working, perhaps it didn't get merged in properly

[2015-10-16 05:50] sumobi opened #914 "Change default referral status of gravity form from pending to unpaid"
When a gravity form is submitted (not a product form), the default referral status is `pending`. Just like other integrations, this should be created with a status of `unpaid`.

[2015-10-16 15:04] #799 closed

[2015-10-17 16:24] tubiz commented on #705
@pippinsplugins still working on the Event Espresso integration. Will have it finished soon.

[2015-10-18 22:51] sumobi opened #915 ""Credit last referrer" option breaking referrals, generating multiple visit IDs"
So far there are 3 support tickets related to this:
https://secure.helpscout.net/conversation/130952542/19134/
https://secure.helpscout.net/conversation/131147259/19196/
https://secure.helpscout.net/conversation/131144914/19193/

Here's a summary of 2 scenarios where it fails:

## Scenario 1
When the customer uses an affiliate's ID and then moves between pages, the visit ID eventually becomes `-2`

[2015-10-19 13:42] scottwyden opened #916 "NextGEN Pro integration"
This is not an issue but rather an enhancement.  NextGEN Pro is growing as a strong image ecommerce solution among photographers. It would be amazing to see built-in AffiliateWP intregration with NextGEN Pro.

[2015-10-19 14:28] pippinsplugins commented on #915
I'll dig into this later this week.

[2015-10-20 01:27] pippinsplugins commented on #916
@scottwyden Are there any docs that would help us get it built?

[2015-10-20 02:00] pippinsplugins commented on #848
@worldtravlr I'd love to say a few months but I can't promise that.

[2015-10-20 02:10] pippinsplugins commented on #863
I've still been unable to identify any issue here and do not see the same corrupt status that you do.

We're leaving it open so that we can hopefully track it down but there is no ETA yet.

[2015-10-20 20:25] michaelbeil commented on #840
https://secure.helpscout.net/conversation/130310632/18927/

[2015-10-21 00:00] sumobi opened #917 "404 pages on referral URLs when AffiliateWP deactivated/activated"
We seem to have a high number of tickets about 404 errors when using pretty affiliate URLs. One instance where this can be replicated is when AffiliateWP is deactivated and then activated again - the rewrite rules are lost and the page 404s. Using WooCommerce to test but I've replicated with EDD also.

Steps to replicate:

1. go to a product page in WooCommerce such as http://affwp.dev/product/pro

[2015-10-21 00:32] sumobi opened #918 "PHP Warning: Creating default object from empty value"
If I update from say 1.6.2 to 1.7.7, and then click the `Return to plugins page` link (see screenshot) this error shows when arriving back on the plugins page:

    PHP Warning:  Creating default object from empty value in /wp-content/plugins/affiliate-wp/includes/admin/AFFWP_Plugin_Updater.php on line 140

last result from stack trace:

    [21-Oct-2015 00:28:33 UTC] PHP   8. AFFWP_Plugin_Updater

[2015-10-21 00:37] sumobi opened #919 "Referral variable and value stripped from end of pretty affiliate URL"
A customer's issue is that if they use a pretty affiliate URL on their product pages, it strips it off. Eg visiting mysite.com/shop/products/product-one/ref/1 turns into mysite.com/shop/products/product-one/

I'm having the same issue on my local site, both with EDD and WooCommerce. When I set up a new sub-site however, the issue went away. Having trouble tracking the issue down.

Tried clearing p

[2015-10-21 00:43] pippinsplugins commented on #919
So far I've tested on Woo and EDD and both work fine for me.

[2015-10-21 00:52] sumobi commented on #919
Here's the `rewrite_rules` options row though I've already tried deleting it and letting it self-generate

a:315:{s:27:".?.+?/attachment/([^/]+)/?$";s:32:"index.php?attachment=$matches[1]";s:37:".?.+?/attachment/([^/]+)/trackback/?$";s:37:"index.php?attachment=$matches[1]&tb=1";s:57:".?.+?/attachment/([^/]+)/feed/(feed|rdf|rss|rss2|atom)/?$";s:49:"index.php?attachment=$matches[1]&feed=$matches[2]"

[2015-10-21 00:56] sumobi commented on #919
Here's a video for kicks

https://cloudup.com/cWsSK5thMLE

[2015-10-21 03:38] sumobi opened #920 "Pretty affiliate URLs don't work on some exchange pages"
Pretty affiliate URLs don't work on some exchange pages. Here's a list of exchange's URLs:

![screen shot 2015-10-21 at 4 36 28 pm](https://cloud.githubusercontent.com/assets/52581/10627085/e802acac-7811-11e5-97d6-92dae946761d.png)

`/store` for example does not work:

![screen shot 2015-10-21 at 4 35 06 pm](https://cloud.githubusercontent.com/assets/52581/10627094/fa057132-7811-11e5-848f-df33fca9

[2015-10-21 13:46] pippinsplugins commented on #917
We should regenerate rewrites at the following points:
- on activation
- anytime the referral var is changed
- perhaps auto detect when certain plugins (like WooCommerce) are activated and the refresh again

[2015-10-21 15:21] pippinsplugins commented on #920
Probably related to our other pretty permalink issues. Will dig in asap.

[2015-10-21 18:40] scottwyden commented on #916
Hey @pippinsplugins I'm going to email you privately.  I think it would be cool to set up a call to discuss this and another potentially attractive feature for EDD in partnership with NextGEN Pro ;-)

[2015-10-21 20:50] sumobi commented on #920
:+1:

[2015-10-21 22:20] pippinsplugins commented on #915
@sumobi can you test that PR?

[2015-10-21 23:10] michaelbeil commented on #915
I am seeing everything clear on MS, EDD, and PR branch. `affwp_ref` 1 was replaced by by `affwp_ref` 2 and a conversion took place, wtith the `affwp_ref_visit_id` increasing, until after checkout it changed back to -2. Refreshes show, but so does the convesrion: http://beil.io/wA9v

[2015-10-21 23:28] sumobi commented on #915
@pippinsplugins so far so good, just tested scenario 1 and the visit ID no longer increments or changes to -2. Referral is correctly generated

[2015-10-21 23:42] sumobi commented on #915
@pippinsplugins Just tested the first scenario on a single site installation (double checked I had the updated code) and when using the referral link on the site homepage it still has the same issue. After using the referral link you can refresh again and the visit ID stays the same, but if you then refresh again and again it creates new visit IDs.

[2015-10-21 23:45] sumobi commented on #915
@pippinsplugins Oh I know why, my single site test doesn't have script debug enabled :+1: let's try again

[2015-10-21 23:47] sumobi commented on #915
There we go, all working fine so far, I'm going to keep testing but looks like we'll be able to close this one out soon. @michaelbeil I didn't see the visit change to -2 after checkout for me, can you replicate each time?

[2015-10-22 00:14] pippinsplugins commented on #915
Woot.

[2015-10-22 00:32] michaelbeil commented on #915
Not near my comp right now, so if all is passing for you and @pippinsplugins, then we should be good.

[2015-10-22 07:31] sumobi commented on #867
Another: https://secure.helpscout.net/conversation/132343139/19489/

[2015-10-22 09:50] wordmaid commented on #919
Comment from customer with the issue: "The one affiliate that is having success with the /ref/6 referral url tracking their visits is linking to our home page. www.animalflow.com/ref/6. They are not linking directly to the product, so they are not including the /shop/ page or the product page in their referral link. So maybe the problem is related to the Shop page?"

https://secure.helpscout.net/c

[2015-10-22 13:56] pippinsplugins commented on #919
It does appear to be limited to product pages only.

[2015-10-22 16:55] zackkatz commented on #903
Yeah, really annoying issue. :+1: on #754 !!!

[2015-10-22 17:33] Olsm opened #922 "How to use add_error() on the affiliate dashboard to display a validation result when updating custom affiliate settings fields"
I have added a custom field to registration and the affiliate dashboard settings tab.

For displaying the error during the affiliate registration I am using this:
affiliate_wp()->register->add_error

But this does not work for the affiliate dashboard.

So, is there a way to add validation errors on this page?
Or can you add this to the next version like for registration.
For example: affiliate_wp(

[2015-10-22 21:00] sumobi commented on #919
Yep, have only seen the issue on single product pages thus far

[2015-10-22 21:42] michaelbeil commented on #118
https://secure.helpscout.net/conversation/132539567/19557/

[2015-10-23 09:59] Olsm opened #924 "Notice "Your affiliate profile has been updated" does not go away after saving settings in affiliate dashboard"
When affiliates save settings in the affiliate dashboard, they get the notice "Your affiliate profile has been updated". When clicking on other tabs in the dashboard, this notice is still there. The parameter in the url is not removed: affiliate-area/?tab=settings&affwp_notice=profile-updated.

If affiliate go to other page on the website, then back to affiliate dashboard, or remove the "&affwp_no

[2015-10-23 13:41] pippinsplugins commented on #924
We'll get that fixed!

[2015-10-23 17:56] pippinsplugins opened #926 "reCaptcha not shown on stand alone registration form"

[2015-10-23 18:41] #442 closed

[2015-10-23 18:42] pippinsplugins commented on #903
I'm going to fix this for now. It's a small fix whereas #754 is pretty extensive.

[2015-10-23 18:56] #914 closed

[2015-10-23 18:57] pippinsplugins commented on #914
I've made it so that forms with a price of `0` automatically mark the referral as paid.

[2015-10-23 19:08] #918 closed

[2015-10-23 20:08] pippinsplugins commented on #919
This appears to be caused by this in WooCommerce:
[code]

When that runs during `flush_rewrite_rules()`, it breaks AffiliateWP's rewrites.

[2015-10-23 20:10] pippinsplugins commented on #917
@sumobi Please test this on `issue/917`

Note: I've made it so that our rewrites get flushed everytime _our_ settings are saved. It is now more reliable to save our settings screen than to save the permalinks screen.

[2015-10-23 20:11] pippinsplugins commented on #919
@sumobi Please test this on `issue/917`

Note: I've made it so that our rewrites get flushed everytime _our_ settings are saved. It is now more reliable to save our settings screen than to save the permalinks screen.

[2015-10-23 20:12] pippinsplugins opened #928 "IT_Exchange_Product_Feature_Abstract constructor is deprecated"
( ! ) Notice: The called constructor method for IT_Exchange_Product_Feature_Abstract is <strong>deprecated</strong> since version 1.24.0! Use __construct() instead. in /Users/pippin/Sites/edd/wp-includes/functions.php on line 3457

[2015-10-23 20:17] pippinsplugins commented on #928
Fixed in #927

[2015-10-24 00:31] sumobi commented on #903
Sounds good to me

[2015-10-24 00:32] sumobi commented on #914
:+1: Good idea. I think you meant "unpaid"

[2015-10-24 01:09] pippinsplugins commented on #914
Yes.

[2015-10-24 02:08] sumobi commented on #917
@pippinsplugins It flushes fine when saving the affwp settings. Were you going to make it so it flushes on activation as per above? If I deactivate/activate AffiliateWP the issue persists.

[2015-10-24 02:17] sumobi commented on #919
@pippinsplugins should this instantly fix my site that was stripping it? (if so, it still doesn't work), or does this fix it going forward?

[2015-10-24 02:38] sumobi commented on #920
/account works
/store works
/store/cart works
/store/checkout works
/account/profile works
All other account pages work

@pippinsplugins The only one that doesn't work for me is /account/log-in. It loads the hello world post whether logged in or not.

![screen shot 2015-10-24 at 3 38 18 pm](https://cloud.githubusercontent.com/assets/52581/10708454/4e7bc6d0-7a65-11e5-8ddc-3ecb9b7b263e.png)

[2015-10-24 02:55] pippinsplugins commented on #920
Only when referral var is set?

[2015-10-24 02:55] sumobi commented on #920
yup

[2015-10-24 02:55] pippinsplugins commented on #917
It does flush on activation already.

[2015-10-24 02:56] pippinsplugins commented on #919
Yes it will once they resave Affiliates > Settings.

[2015-10-24 02:57] sumobi commented on #919
Great scott! it worked!

[2015-10-24 03:06] pippinsplugins commented on #919
Yay!

[2015-10-24 03:08] sumobi commented on #917
hmm didn't work for me, still had 404 page. Will try again

[2015-10-24 03:11] sumobi commented on #917
@pippinsplugins tried EDD and WC URLs, after deactivating and activating they show as 404 pages still. Only saving affwp works

[2015-10-24 23:39] sumobi opened #929 "Application accepted email never sends when require approval is not enabled"
The application accepted email never sends to an affiliate when `Require approval` is not enabled.

This is because the conditional is set to return if the `$old_status` is `pending`. When `require approval` is not enabled and an affiliate registers, both their `$status` and `$old_status` will be `active`, thus the email does not send.

[2015-10-24 23:41] sumobi commented on #929
@pippinsplugins want to test? I've tested with both `require approval` enabled/disabled.

[2015-10-26 20:23] #929 closed

[2015-10-27 01:29] sumobi opened #931 "Add Forms tab to settings"
We're discussing the possibility of adding a "forms" tab to the settings page. For now we should add a checkbox that enables/disables the website URL field. Some site owners have told us that their affiliates do not typically have a website.

We could also add some options to make certain fields required/not required.

Anything else?

[2015-10-27 01:40] pippinsplugins commented on #917
That's what I found as well. I'm not sure that's a problem really though. Resaving permalinks invokes the WooCommerce / EDD rewrites to update. Saving our settings does only our rewrites.

Any opposition to marking as solved and always asking customers to save our settings?

[2015-10-27 01:41] pippinsplugins commented on #922
@Olsm Are you performing a redirect after adding the error?

[2015-10-27 01:43] pippinsplugins commented on #931
We could also make promotional methods have an option.

[2015-10-27 01:47] pippinsplugins opened #932 "Add JS popup when site admins try to refer themselves"
We see a lot of users open tickets when they believe referral tracking isn't working. Most of the time they are just trying to use a referral URL that belongs to their own admin account.

Let's show a JS popup telling them they can't do this if they try and use their own referral URL while logged in as an admin.

[2015-10-27 01:59] sumobi commented on #917
@pippinsplugins I'm fine with that. I guess I'm not understanding why when AffiliateWP is activated we can't just flush the rewrite rules to fix the 404 page. Is it because we can't do both commands in a single go? activate + flush

[2015-10-27 02:10] pippinsplugins commented on #920
@sumobi Turns out the login page not working is an iThemes Exchange bug, at least I think it is.

Would you be opposed to me just not registering a pretty rewrite for that one page? While the rewrite won't work, nor tracking on that page (super rare any way), at least it will show properly.

[2015-10-27 02:11] sumobi commented on #920
@pippinsplugins I'm fine with that. Only had 1 customer that specifically wanted to use a referral link on that page.

[2015-10-27 02:13] pippinsplugins commented on #920
K. They can still use non-pretty URLs.

[2015-10-27 02:14] #920 closed

[2015-10-27 02:14] pippinsplugins commented on #917
Rewrite mysteries?

Honestly I don't really know.

[2015-10-27 02:15] #917 closed

[2015-10-27 02:15] sumobi commented on #917
There are clearly forces here beyond our control

[2015-10-27 02:15] #928 closed

[2015-10-27 05:59] TimothyBJacobs opened #933 "Simplify URL Visit Column"
In the front-end, it'd be great if a more simple URL could be displayed. This would be by stripping the domain and the referral arg.

Before:
`http://www.mysite.com/product/product-name/ref/username`

After:
`/product/product-name/`

All of that extraneous info means that the column almost necessarily wraps, and is difficult to understand.

Thoughts?

[2015-10-27 06:04] TimothyBJacobs commented on #933
Related to #876. But this would only be on the front-end, and would strip the domain name as well.

[2015-10-27 09:52] sumobi opened #934 "Should we make the affiliate_login shortcode redirect to affiliate area by default?"
A lot of customers open support tickets about seeing a white page when an affiliate logs in and they always ask how can an affiliate be redirected to the affiliate area instead. The solution is to add the redirect parameter and link it to the affiliate area.

The reason we don't automatically redirect is in case the site owner wants to keep the affiliate on the same page and show some kind of cont

[2015-10-27 14:52] pippinsplugins commented on #934
I'm all for making the default redirect to the affiliate area.

How about we update the `redirect` parameter to accept several options:

1. `referrer` - This would send them back to the page they were on before visiting the registration page
2. `current` - This would send them back to the same page
3. Any URL

This could also apply to the log in form.

[2015-10-27 14:58] pippinsplugins commented on #933
I like this but I do wonder what the impact would be on less technical users.

For someone who is not technically versed in the idea of `slugs`, does `/product/product-name` mean the same thing as `http://www.mysite.com/product/product-name/`?

[2015-10-27 15:04] TimothyBJacobs commented on #933
Would maybe marking it as a link make it more clear?

A reference would be Gravity Forms' entry view.
<img width="300" alt="gravity forms entry embed url" src="https://cloud.githubusercontent.com/assets/3460448/10762016/7e5c2b92-7c9a-11e5-8faa-00765a6563f7.png">

[2015-10-27 15:13] pippinsplugins commented on #933
Ah yes, that is nice.

I'd note be opposed to that at all.

We could also make the title attribute the complete URL so that it shows when hovering over.

[2015-10-27 15:14] TimothyBJacobs commented on #933
Cool, I'll work up a PR.

[2015-10-27 15:15] pippinsplugins commented on #933
Awesome, thanks!

[2015-10-27 15:18] TimothyBJacobs commented on #933
I'm not sure what the branching policy is here, but could #877 be merged into develop or a release branch for 1.8? It provides `affwp_sanitize_visit_url()` which would be a helpful start.

[2015-10-27 15:21] pippinsplugins commented on #933
We need to get #877 merged in first but I have not tested it yet so I don't want to merge until I have.

[2015-10-27 15:32] TimothyBJacobs commented on #933
Ok, sounds good.

[2015-10-27 16:45] Olsm commented on #922
I am not sure I understand your question.

No, I only added the error with affiliate_wp()->register->add_error.
On registration this works fine, but nothing happens on affiliate dashboard settings tab.

Where should we redirect to on the settings page?
The user should stay on the settings page and display an error when the validation for the field fails.

[2015-10-27 21:56] sumobi commented on #934
@pippinsplugins I like that idea

[2015-10-27 22:49] michaelbeil commented on #854
https://secure.helpscout.net/conversation/133707782/19854/

[2015-10-27 23:52] worldtravlr commented on #848
Thanks @pippinsplugins.  No worries and I understand.  Excited it has a Milestone and I know all your customers and their affiliates will love any improvement possible with the reporting charts.  Thanks and don't hesitate to let me know if I can help with mockups or further descriptions/ideas and glad to do so!

[2015-10-28 01:38] pippinsplugins commented on #934
Tagged for 1.8

[2015-10-28 19:25] michaelbeil commented on #565
https://secure.helpscout.net/conversation/133911471/19921/

[2015-10-29 00:24] worldtravlr commented on #848
Your team probably already knows about this, but this may help a lot in plotting the data nicely without to much effort for the charting GUI - http://www.chartjs.org .  Hope it helps.

[2015-10-29 01:37] sumobi commented on #848
:+1: I've used chartJS for something else recently, it's really nice.

[2015-10-29 03:14] worldtravlr commented on #848
Very cool @sumobi!  Thought you might already know about it.  Did you use it of EDD or one of the EDD recommended them by chance?  Would love to see what you did with it.

[2015-10-29 03:16] sumobi commented on #848
@worldtravlr So far I've only used it for this plugin to show happiness ratings: https://github.com/sumobi/help-scout-happiness-report/issues/3

[2015-10-29 03:18] worldtravlr commented on #934
Cool! :+1:

[2015-10-29 04:28] wordmaid opened #935 "Show enabled(/disabled) referrals against products for popular integrations"
Probably more a nice to have, but when I was looking at a customer’s list of products (they had about 3 or 4 pages worth of products) I thought it would be quite useful to have a column (or something else) in the Products screen titled “**Referrals enabled**” or similar, showing a tick against each product if referrals are enabled, or a cross if referrals have been disabled (similar to the “Conver

[2015-10-29 04:34] sumobi commented on #935
I like this, we could even take it one step further and show the admin each product's commission rate if set. Maybe the column could be called "Commission rate" and it would show

- 20% (g) ... for global rate set in main settings, or maybe don't show global rates at all)
- 50% .... (50% per-product rate)
- 0% or a cross ....(when disable referrals checkbox is ticked)

[2015-10-29 04:44] wordmaid commented on #935
:+1: Even better!

Taking that and throwing another idea into the hat..

- Global commission rate in main settings shows a tick (site admin probably knows what their global commission rate is)
- Number (i.e. 50%) shows if a product has a per-product rate
- Disabled referrals shows a cross.

[2015-10-29 06:10] sumobi commented on #935
:+1: :+1:  :+1:

[2015-10-29 13:03] worldtravlr commented on #932
Love this idea!  Just to clarify, are they allowed to use their own referral URL if logged in as a contributor(not admin) and https://wordpress.org/plugins/affiliatewp-allow-own-referrals/ is not active?  I think not, so may want to just specify can't use own referral URL when logged in, but I may be wrong.

Relatedly it would make sense to not have this popup when that Allow Own referrals plugin

[2015-10-29 13:08] worldtravlr commented on #931
One thing we look for with affiliates is social reach and newsletter subscribers as we have found both of those and most importantly newsletter subscribers to be a good indicator of how high impact that affiliate might be.  Currently we just use gravity forms integration for our affiliate application as it allows a lot more options and is more customizable for our needs, but social followers/newsl

[2015-10-29 13:46] worldtravlr commented on #848
Very cool!  Love it! :+1:

[2015-10-29 14:10] pippinsplugins commented on #932
@worldtravlr :+1:

[2015-10-29 14:41] pippinsplugins commented on #935
I like all of this.

[2015-10-29 15:02] pippinsplugins commented on #931
Excellent idea @worldtravlr

[2015-10-29 21:24] pippinsplugins commented on #922
Where did you add it?

[2015-10-30 01:56] michaelbeil commented on #935
@wordmaid and @sumobi great thinking!

[2015-10-30 17:05] curtismchale opened #937 "pmpro doesn't set discount_code"
Looking at add_pending_referral there is not discount code set in the `$order` variable in PMP. That means that AffWP throws errors at checkout as it tries to get part of an object that was never set in the first place.

The `$_REQUEST` at the time does have a `discount_code` parameter (if the user used a code that is). The closest things that PMP seems to pass is the `certificate_id` though I'm s

[2015-10-30 19:29] pippinsplugins commented on #937
I wonder if it varies for each gateway. When first merged in, I believe I tested it with Stripe.

@curtismchale which gateway are you testing with?

[2015-10-30 19:35] michaelbeil opened #938 "Create an add-on for automatic coupons"
https://secure.helpscout.net/conversation/133279225/19735/

[2015-10-31 14:04] pippinsplugins opened #939 "Campaign input label is incorrect in Affiliate Area"
The label element for the campaign input field has an incorrect `for` attribute. It's incorrectly pointing to the `url` field.

[2015-10-31 14:04] #939 closed

[2015-11-01 19:57] zackkatz commented on #840
:+1: Here's an example of one I receive from FormStack (yes, I'm KILLING it with, thanks for noticing):

<img width="624" alt="screen shot 2015-11-01 at 12 56 24 pm" src="https://cloud.githubusercontent.com/assets/870979/10871024/02992a26-8098-11e5-857b-193f081c9d31.png">

[2015-11-01 20:10] zackkatz commented on #848
:+1:

[2015-11-02 00:44] pippinsplugins commented on #840
This shouldn't be very hard to do. I like it.

[2015-11-02 15:51] pippinsplugins opened #940 "Searching affiliates by email should search in payment email"
When searching for affiliates with an email address, the search should look in the `payment_email` field as well.

[2015-11-03 09:47] sumobi opened #941 "Fatal error if MemberPress is not active but integration is"
If you enable the MemberPress integration but don't have MemberPress activated:

    PHP Fatal error:  Class 'MeprCoupon' not found in /wp-content/plugins/AffiliateWP/includes/integrations/class-memberpress.php on line 231

[2015-11-03 16:10] curtismchale commented on #937
Stripe testing gateway currently. I don't actually see anything in the code that sets this at all. It appears to be coming from an SQL query where you get all the table columns back as objects and none of the table columns have this set.

Though like I said, $_REQUEST does have the discount_code param

[2015-11-03 19:15] zackkatz commented on #924
:+1:

[2015-11-04 01:07] sumobi opened #942 "Add affiliate first and last name to exported affiliate .csv file"
Should we add the affiliate's first and last name to the exported affiliate CSV file? This seems like it would be handy when exporting affiliates to MailChimp etc.

Gist:
https://gist.github.com/sumobi/10dba51d2155c0af69a8

[2015-11-04 01:08] michaelbeil commented on #942
oh, yes! makes sense.

[2015-11-04 01:18] pippinsplugins commented on #942
:+1:

[2015-11-04 03:05] sumobi opened #943 "Creatives can't be deactivated"
Creatives can't be deactivated, seems like it's related to an earlier issue we had with referrals and visits

[2015-11-04 15:26] Olsm commented on #922
I customized this example: https://gist.github.com/sumobi/1b0a8a87e274e69bca68#file-gistfile1-php-L50
and added these hooks in addition to affwp_process_register_form:
add_action( 'affwp_update_profile_settings', 'affwp_custom_process_register_form');
add_action( 'affwp_update_affiliate_profile_settings', 'affwp_custom_process_register_form');

The validation only works on the registration page, n

[2015-11-04 23:30] wordmaid commented on #931
Another customer request to hide the website URL field on the registration form. This will be so awesome. :+1:

Ref: https://secure.helpscout.net/conversation/136009447/20459/

[2015-11-05 01:15] sumobi opened #944 "Link integrations message to integrations tab"
Thoughts on linking the `integrations` in the following message to the integrations tab?

[2015-11-05 02:52] pippinsplugins commented on #944
Link it.

[2015-11-05 03:17] sumobi commented on #944
:+1:

[2015-11-05 03:36] sumobi opened #946 "Website URL isn't required for a logged in WP user"
The website URL isn't required for a logged in WP user. It should be the same as a logged out user. Related: #931

[2015-11-05 03:39] sumobi opened #947 "Better website URL field validation"
PR: #1437

The validation on the website URL field is kinda sucky. If you enter something like `oigfdjkg` it doesn't ask you to enter it again.

[2015-11-05 04:07] #944 closed

[2015-11-05 07:51] lisag opened #948 "Improve Emails screen layout"
From a UX perspective, it would be awesome to have an **Email Options** section at the top of the _Emails_ screen for the general email options, and then give each email its own section (in case additional features are added to each specific email in the future). Perhaps just a simple divider line like in the General tab could make look a lot cleaner and easier to read. What do you guys reckon?

[2015-11-05 11:55] sumobi opened #949 "Add "current" to URL parameter in [affiliate_referral_url] shortcode"
@wordmaid has suggested that the [affiliate_referral_url] shortcode should be able to easily support the current page, without having to enter the full URL each time.

Eg: `[affiliate_referral_url url="current"]`

This would make it easier for an admin to place the shortcode on various pages, and also means that if the URL was later changed, the shortcode wouldn't need to be updated.

[2015-11-05 14:43] pippinsplugins commented on #949
:+1:

[2015-11-05 14:43] pippinsplugins commented on #949
I'd actually propose we make the current URL the default.

[2015-11-05 17:19] michaelbeil opened #950 "Integrate affiliate_area with the Woo my-accounts page"
Could be great to add this feature to a future version of AffiliateWP or as an add-on.

https://secure.helpscout.net/conversation/136519784/20603/

[2015-11-05 17:31] TimothyBJacobs commented on #950
This is how I did it for my site using Exchange.

![screen shot 2015-11-05 at 12 30 19 pm](https://cloud.githubusercontent.com/assets/3460448/10976304/0c9c19b0-83b9-11e5-92de-d19b6e996170.png)
![screen shot 2015-11-05 at 12 30 28 pm](https://cloud.githubusercontent.com/assets/3460448/10976305/0c9cc90a-83b9-11e5-99d7-691472f241a1.png)

[2015-11-05 18:39] pippinsplugins commented on #950
I like that.

[2015-11-05 20:46] michaelbeil commented on #705
https://secure.helpscout.net/conversation/136436290/20581/

[2015-11-05 21:19] pippinsplugins commented on #948
Big =1

[2015-11-05 21:21] pippinsplugins commented on #943
@sumobi Does it work if you do it from the Bulk Actions?

[2015-11-05 21:35] sumobi commented on #943
@pippinsplugins There isn't a bulk menu for the creatives screen

[2015-11-05 22:54] sumobi commented on #949
@pippinsplugins that was my initial thought but how can we provide backwards compatibility for those already using [affiliate_referral_url]?

[2015-11-05 23:06] ramiabraham commented on #949
Could have it set as the current url by default - not being dependent on specifying `current` as the 'url'. If 'url' is empty, use current url.

[2015-11-06 17:41] michaelbeil opened #952 "Add a description to our export-referrals class"
Currently we have an array that includes affiliate ID, email, payment email, amount, currency, campaign, reference, context, status, and date. May be neat to show a description of the purchase/referral in the export file.

https://secure.helpscout.net/conversation/136882837/20715/

[2015-11-06 18:44] pippinsplugins commented on #949
@ramiabraham problem is that doing so would make all existing shortcodes that don't have a URL specified change from homepage to current URL.

[2015-11-06 18:57] pippinsplugins commented on #952
:+1:

[2015-11-06 23:37] michaelbeil opened #953 "PMP hijacks "Lost Password?" link"
When a user attempts to click the "Lost Password?" link (http://beil.io/1bvp2), they are taken to the PMP member page (http://beil.io/18YgK).

[2015-11-07 15:12] nathanrice opened #954 "Currencies aren't in alphabetical order"
Well, they are, but it's the 3 letter code that is used to alphabetize them. Only problem is that the users selecting a currency don't see that code, they only see the label.

I'd suggest alphabetizing by the label.

[2015-11-08 23:49] pippinsplugins commented on #954
I agree.

[2015-11-08 23:51] nathanrice commented on #954
Cool. I'll work up the PR.

[2015-11-08 23:51] pippinsplugins commented on #954
Awesome, thanks!

[2015-11-09 00:38] sumobi opened #955 "Shop page not shown in WooCommerce when using pretty affiliate URL"
- AffiliateWP 1.7.8
- Brand new sub-subsite install
- Latest version of WooCommerce
- Permalinks flushed and AffiliateWP settings saved
- Everything else default settings

When you visit the default WooCommerce shop page using a pretty affiliate URL (http://wc3.affwp.dev/shop/ref/1/), you see this:

![screen shot 2015-11-09 at 1 29 07 pm](https://cloud.githubusercontent.com/assets/52581/11023756/8

[2015-11-09 00:57] sumobi commented on #915
@pippinsplugins opening this again. Wrote a massive comment and then the answer struck me in the face. We forgot to apply the changes here to the minified files.

Can replicate the issues in this issue by turning off `SCRIPT_DEBUG` in v1.7.8 which should have fixed it.

[2015-11-09 05:24] sumobi opened #956 "PHP Fatal error if iThemes Exchange integration is enabled and no iThemes plugin active"
PHP Fatal error:  Call to undefined function it_exchange_get_pages() in /wp-content/plugins/AffiliateWP/includes/integrations/class-exchange.php on line 317

[2015-11-09 14:59] pippinsplugins commented on #953
Milestoning for 1.9 to see if we can fix it.

[2015-11-09 15:06] #956 closed

[2015-11-09 15:09] #943 closed

[2015-11-09 15:12] #941 closed

[2015-11-09 15:16] #924 closed

[2015-11-09 15:17] pippinsplugins commented on #937
Will look closer at it for 1.8

[2015-11-09 15:19] #915 closed

[2015-11-09 15:19] pippinsplugins commented on #915
Sigh . . . fixed.

[2015-11-09 15:21] pippinsplugins commented on #955
I can't replicate this.

[2015-11-09 15:22] pippinsplugins commented on #955
I've tested both with the shop page set as the front page and a standard page.

[2015-11-09 15:22] pippinsplugins commented on #955
Scratch that, it happens now that I updated WooCommerce.

[2015-11-09 15:24] pippinsplugins commented on #955
Actually I get even stranger results.

Mine only shows 1 product but indicates there are two:
![screen shot 2015-11-09 at 9 23 57 am](https://cloud.githubusercontent.com/assets/1034109/11037492/9e7b30ca-86c3-11e5-8383-019ba7b3bd7f.png)

This happens to be with and without a referral variable.

[2015-11-09 15:25] pippinsplugins commented on #955
And now it works properly, both with a referral URL and with out. I went to Settings > General and clicked Save.

Does that fix it for you @sumobi and @wordmaid ?

[2015-11-10 00:02] sumobi commented on #955
@pippinsplugins won't budge for me :-1:

[2015-11-10 00:15] wordmaid commented on #955
@pippinsplugins me either :cry:

[2015-11-10 16:57] michaelbeil opened #957 "wp_campaigns table is being corrupted when BackupBuddy is run"
We’ve had several reports of the campaigns table being corrupted. The why is unknown.

https://secure.helpscout.net/conversation/137707542/20938

[2015-11-10 17:44] michaelbeil commented on #957
One user is on Digital Ocean with ServerPilot and is not familiar with DB stuffs, but excluded the campaigns table and the backup went perfect.

Response from BackupBuddy support:

sss_affiliate_wp_campaigns

BackupBuddy -> Settings -> General Settings -> Database Defaults ->

[2015-11-10 21:56] pippinsplugins commented on #955
@sumobi Can you test on our live test site? Does it happen to you there?

[2015-11-10 22:31] michaelbeil commented on #955
I do not see any issues on AWP 1.7.9, WP latest trunk, regular settings, and a subdirectory multisite.

[2015-11-11 00:28] sumobi commented on #955
@pippinsplugins works fine on dev site with referral URL.

![screen shot 2015-11-11 at 1 02 49 pm](https://cloud.githubusercontent.com/assets/52581/11080413/1d385216-8878-11e5-93b7-c59c0304819c.png)

[2015-11-11 05:09] sumobi opened #958 "Zippy Courses not generating referrals with PayPal sandbox/live"
Testing on a customer's site, referrals are not created with either PayPal sandbox or live. Stripe in test mode work's fine.

Can anyone else replicate?

@jwondrusch any ideas on this? can you confirm it works fine on your end with PayPal sandbox and live mode? Would you be able to send us the latest version of Zippy Courses? (andrew@affiliatewp.com)

[2015-11-11 07:38] wordmaid opened #959 "Add affiliate username to the Affiliates screen"
It would be very useful to see the affiliate's WordPress username on the main Affiliates screen. By showing the username, admins won't have to click "Edit" on every affiliate to find a username they may be looking for. Also, two or more affiliates may have the same name/display name which makes it hard to find the correct affiliate. What do you think about adding another column or some way to show

[2015-11-11 07:39] wordmaid opened #960 "Allow search by affiliate username in Affiliates screen"
Currently it's not possible to search for affiliates by username in the Affiliates screen. If affiliates' usernames are added to this screen, it would be handy to be able to search by username as well (given this is what affiliates are able to use in their referral URLs).

Ref: https://github.com/affiliatewp/AffiliateWP/issues/959

[2015-11-11 07:40] wordmaid opened #961 "Add "Affiliate" in front of "ID" in column on Affiliates screen"
It would be great to differentiate the Affiliate ID from the WordPress user ID (which is obviously different, and you can see the user ID when you hover over the affiliate's name in the Affiliates screen). This one little addition should do it!

[2015-11-11 15:11] pippinsplugins commented on #961
:+1:

[2015-11-11 15:11] pippinsplugins commented on #959
:+1:

[2015-11-11 15:12] pippinsplugins commented on #960
:+1:

[2015-11-11 18:30] michaelbeil opened #962 "Infusionsoft integration"
We could contact these guys about it: https://wpfusionplugin.com.

[2015-11-11 19:07] michaelbeil commented on #957
https://secure.helpscout.net/conversation/138014437/21017/

[2015-11-11 23:35] sumobi commented on #961
:+1:

[2015-11-11 23:35] sumobi commented on #959
:+1:

[2015-11-11 23:35] sumobi commented on #960
:+1:

[2015-11-12 00:10] pippinsplugins commented on #955
@sumobi Can you identify any differences between dev site and your local?

[2015-11-12 00:13] sumobi commented on #955
@pippinsplugins I'll do some more testing, see if I can pinpoint where the issue is coming from.

[2015-11-12 15:35] jwondrusch commented on #958
@sumobi We're working on replicating it on our end, I or Erik Jonasson will chime in this week  on it :)

[2015-11-12 21:17] sumobi commented on #958
@jwondrusch thanks!

[2015-11-13 15:59] pmgarman opened #963 "Support sending emails using integration's own templates"
There is an option in the Emails settings to choose a template, you can choose from the default template or plain text emails. Having the ability to choose to send emails through the email template of one of the enabled integrations, only those that both include custom email templates AND a way to send emails through them of course, would be a huge bonus.

This example is specific to WooCommerce b

[2015-11-13 16:06] michaelbeil commented on #963
I like that idea @pmgarman.  I wonder if we could just search for the template to see if it is available and list it in the drop-down.

Thoughts @pippinsplugins and @sumobi?

[2015-11-13 16:13] pippinsplugins commented on #963
Oh man, that's such a good idea. Love love love.

[2015-11-13 16:16] pmgarman commented on #963
:D @pippinsplugins if you guys get the AffWP side of things created to support it, I'm happy to jump in on the WooCommerce implementation to take your email content and wrap it in the WooCommerce template.

[2015-11-13 16:18] pippinsplugins commented on #963
:+1:

[2015-11-13 17:32] ejonasson commented on #958
Hey guys, I've been working on this a bit and I think I see what's up.

It looks like the pending referral from paypal is never created because the order in Zippy Courses is created via a Paypal Instant Payment Notification, and this notification doesn't have the correct cookie information to validate that the order is a referral. I believe that's something we can fix and submit to you as a pull r

[2015-11-13 20:49] michaelbeil opened #964 "WooCommerce - affiliate rate per product variation"
When a user has one variable product with multiple variations. Each variation is a different price (it is the option between digital and physical products) so those may be a different commission. But on a variable product we do not have the ability to assign a different commision for each variation.

Could be a good addition with regards to flat rates.

https://secure.helpscout.net/conversation/13

[2015-11-13 21:50] wordmaid commented on #705
Another request for this integration - any updates?

Ref: https://secure.helpscout.net/conversation/138923527/21242/

[2015-11-13 23:19] pippinsplugins commented on #958
Awesome, thanks!

[2015-11-13 23:20] pippinsplugins commented on #964
The only time that they *can't* be the same commission is when using flat rates, at least in my opinion.

Great addition, I just don't think it's quite as black and white :)

[2015-11-13 23:21] sumobi commented on #964
related: https://github.com/affiliatewp/AffiliateWP/issues/673

[2015-11-13 23:21] michaelbeil commented on #964
Correctamundo. Only with flat rates was what I was thinking too. I forgot to mention that above.

[2015-11-13 23:22] michaelbeil commented on #964
How did I not noticed that other ticket?

[2015-11-14 00:40] sumobi commented on #958
@ejonasson thanks!

[2015-11-14 01:25] sumobi commented on #963
Neat idea :+1:

[2015-11-14 17:28] tubiz commented on #705
Hi @wordmaid @michaelbeil @pippinsplugins sorry for the delay in getting this finished. Will make sure it is finished next week.

[2015-11-16 09:46] sumobi opened #965 "Lifetime Commission referral amount calculated incorrectly, broken iThemes Exchange integration with lifetime referrals"
The issue/s:

1. Commission amounts in Lifetime Commissions are being incorrectly calculated when an affiliate has a per-affiliate referral rate set. It seems to have been broken since v1.7 of AffiliateWP where there were many changes made to referral rates. So far we have ~3 tickets on this and I expect there to be more.

    The current implementation Lifetime Commissions can be much, much simpl

[2015-11-16 10:13] sumobi commented on #965
@pippinsplugins here's the new filter in Lifetime Commissions to show you how much simpler it is: https://github.com/affiliatewp/affiliate-wp-lifetime-commissions/blob/issue/28/integrations/class-base.php#L10

[2015-11-16 15:54] michaelbeil commented on #965
This is lovely. Perusing all of it in a bit.

[2015-11-16 18:53] cklosowski opened #967 "Add sample Tweets to the affiliate"
Just a quick 'click to tweet' link or something that allows the Affiliate to tweet your sample content with their referral link, right from the assets screen.

[2015-11-16 18:54] michaelbeil commented on #967
Oh, that is a great idea @cklosowski!

[2015-11-16 18:59] cklosowski commented on #967
I cannot take credit. Lewis Howes brought that up on the Smart Passive Income Podcast. A great episode to listen to, as he's a is pretty influential Affiliate Program expert: http://www.smartpassiveincome.com/how-to-run-a-successful-affiliate-marketing-campaign/

[2015-11-16 19:12] michaelbeil commented on #967
Very nice. Glad you brought it up.

[2015-11-16 19:46] pippinsplugins commented on #967
This could be great. I like the idea of adding it as a creative type and it being in core.

[2015-11-16 19:46] pippinsplugins commented on #967
Or as a free add-on.

[2015-11-16 19:51] pippinsplugins commented on #922
Where on the affiliate dashboard would you expect an error to show, when updating the profile settings?

[2015-11-16 23:41] michaelbeil opened #968 "Cookie duration option on an individual affiliate basis"
We have had a few requests from users to add an option that would allow the cookie duration to be set on a per affiliate basis.

There is a feature request for a non-lifetime setting on the lifetime commissions add-on, but perhaps we could use something along these lines in core: https://github.com/affiliatewp/affiliate-wp-lifetime-commissions/issues/18.

The credit last referrer option would need

[2015-11-17 01:24] pippinsplugins commented on #968
I can see this as a good free add-on.

[2015-11-17 09:33] Olsm commented on #922
Like on the registration page where you reload the page with a red error on top should be sufficient.

[2015-11-17 17:21] nathanrice opened #970 "Run report for affiliates that earned more than $600/yr"
Related: #549

You need a w9 filled out from all affiliates that earn more than $600/yr in affiliate sales. Would be nice if there was a way to run a report for this, so you could easily see a list of affiliates this is true for.

[2015-11-17 17:23] michaelbeil commented on #970
Great idea!

[2015-11-17 18:35] #958 closed

[2015-11-17 20:22] pippinsplugins commented on #954
Thanks @nathanrice !

[2015-11-17 20:22] #954 closed

[2015-11-17 22:00] wordmaid opened #973 "Add affiliate first and last name, and username to exported Referrals .csv file"
Following on from https://github.com/affiliatewp/AffiliateWP/issues/942... adding the affiliate's first and last name, and username to the exported referrals CSV file would make it much more useful (so site owners don't have to go searching for email addresses for each affiliate).

[2015-11-18 00:44] michaelbeil commented on #973
:+1:

[2015-11-18 01:37] sumobi commented on #958
@ejonasson Works great, thanks again

[2015-11-18 10:24] wordmaid opened #974 "iThemes Exchange: Affiliate can earn a commission using their own email address when using Guest Checkout"
Integration: iThemes Exchange

I was helping @sumobi test https://github.com/affiliatewp/AffiliateWP/issues/965 and I noticed when I use the same affiliate email address as the affiliate that I was tracking via cookies, a referral was still created. I also tested with the master branch and again a referral was created when I used the same email address as the affiliate that I was tracking. I was u

[2015-11-18 10:58] sumobi commented on #974
The guest email address is never passed to the `is_affiliate_email()` method in Exchange.

We can get the guest email address like this:

`$email = it_exchange_get_cart_data( 'guest-checkout-user' );`
`$email = is_array( $email ) ? reset( $email ) : $email;`

[2015-11-18 15:30] TimothyBJacobs commented on #974
@sumobi Just an FYI, that won't work when the session is no longer around. Which will cause an issue with PayPal and other transient transaction gateways, the correct function to use is `it_exchange_get_transaction_customer_email`. When the Guest Checkout add-on is active, the add-on will override that value to give the correct email address.

[2015-11-18 22:27] sumobi commented on #974
@TimothyBJacobs Awesome, thanks! didn't think of that

[2015-11-18 23:36] wordmaid commented on #965
## iThemes Exchange

I've run through iThemes Exchange testing as per the below:

- [x] Purchase product where affiliate has per-affiliate referral rate set. Commission generated should be based on the affiliate’s referral rate.

- [x] Purchase product where affiliate has per-affiliate referral rate set, and product has a per-product referral rate set. Commission generated should be based on the a

[2015-11-19 00:23] #974 closed

[2015-11-19 00:24] pippinsplugins commented on #965
Awesome.

@sumobi are you happy with it? If so, I can give it one last look and then merge

[2015-11-19 01:53] sumobi commented on #965
@pippinsplugins @wordmaid is testing PMP, I'm having one last comb over + doing some more testing, and then it's all yours.

[2015-11-19 02:16] sumobi commented on #965
@wordmaid tested with Gravity Forms and I tested with Ninja Forms - both are still generating referrals. I'm going to assume referrals still work across all integrations and the ones we've touched in this issue.

[2015-11-19 02:28] wordmaid commented on #965
## Paid Memberships Pro

PMP testing done, everything seems to be working fine. Checklist below.

- [x] Purchase membership where affiliate has per-affiliate referral rate set. Commission generated should be based on the affiliate’s referral rate.

- [x] Purchase membership with no per-affiliate referral rate. Commission should be based on the global referral rate.

- [x] Purchase using tracked af

[2015-11-19 02:30] sumobi opened #976 "Referral description shows form title and product name together"
In Gravity Forms, the referral description is being created with the form title and the product name joined together (with no space between them).

eg:
`The form titleMy first product`

I think we previously decided that when no products are purchased, the referral description should show just the form title. When there are products purchased, we should not show the form title.

[2015-11-19 03:09] sumobi commented on #965
@pippinsplugins I think I'm ready to call it a day on this, all yours

[2015-11-19 03:29] sumobi opened #978 "Referrals generated from Zippy Courses ignore commission rates"
Looks like referrals generated from Zippy Courses are created at the product price. It doesn't take into consideration the referral rates (either global or per-product).

https://github.com/affiliatewp/AffiliateWP/blob/master/includes/integrations/class-zippycourses.php#L169

[2015-11-19 04:27] sumobi commented on #978
@pippinsplugins Can you give this a once-over? As far as I can see Zippy Courses only allows you to purchase one product at a time. Tested with per-affiliate rate, per-product rate, and global rate.

[2015-11-19 04:42] #976 closed

[2015-11-19 04:42] pippinsplugins commented on #976
Looks good.

[2015-11-20 12:23] sumobi opened #980 "Incorrect commission rate in RCP when only global referral rate set"
Latest master branch.

RCP works out the commission amount fine when there is a per-membership level referral rate and when there is a per-affiliate referral rate. If both those are left blank it uses the global referral rate, but calculates the commission rate wrong.

A global commission rate of 20% on a $100 membership level is worked out at $1.00 instead of the expected $20.

@pippinsplugins ca

[2015-11-20 12:34] sumobi commented on #980
If you var_dump the `$rate` right here you'll see it's `1`, so strange:
https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/integrations/class-base.php#L238

[2015-11-20 15:53] pippinsplugins commented on #980
I've seen this happen before.

[2015-11-20 18:42] pippinsplugins commented on #980
@sumobi Ready for testing.

[2015-11-20 18:43] #978 closed

[2015-11-20 18:54] pippinsplugins commented on #965
@sumobi Just one small change. See any reason that would affect anything negatively?

[2015-11-20 18:55] pippinsplugins commented on #955
@sumobi discover anything?

[2015-11-20 22:55] sumobi commented on #965
@pippinsplugins that should be fine (I hope) :)

[2015-11-20 22:59] sumobi commented on #980
@pippinsplugins works great

[2015-11-20 23:08] sumobi commented on #955
@pippinsplugins Haven't yet no. Feel free to bump.

[2015-11-21 05:10] sumobi opened #982 "Allow creatives to be scheduled"
Allow creatives to be scheduled, this would be helpful all year round.

An admin can add a bunch of creatives for each holiday/special occasion, and once those dates come into effect, the creatives are shown in the affiliate area automatically. They're then hidden once the date has passed.

[2015-11-21 23:40] lisag opened #983 "Add bulk actions menu to Creatives"
This would make it much easier for site admins to quickly activate/deactivate/delete multiple creatives for a sale period or time period, plus allow for any other bulk actions that are added in the future (i.e. scheduling (ref https://github.com/AffiliateWP/AffiliateWP/issues/982)).

[2015-11-22 03:53] sumobi commented on #965
@pippinsplugins see commit above and let me know your thoughts. We need to make the `$reference` available on the `affwp_get_affiliate_rate` filter so we can alter the affiliate's commission rate, based on the purchase. This is so https://github.com/AffiliateWP/affiliate-wp-lifetime-commissions/issues/26 will be possible with the new changes.

[2015-11-22 04:51] sumobi commented on #965
Here's an example of how Lifetime Commissions would filter this:
https://gist.github.com/sumobi/679217a56409f3a822b2

[2015-11-22 14:04] pippinsplugins commented on #965
@sumobi That looks fine to me.

[2015-11-22 14:15] #965 closed

[2015-11-22 14:16] #980 closed

[2015-11-22 14:46] pippinsplugins commented on #982
This would be awesoe.

[2015-11-23 00:14] sumobi opened #984 "AffiliateWP deactivated after update"
I've noticed this behaviour a couple of times. On a single site installation I updated AffiliateWP from v1.7.7 to v1.7.10 (clicking the update link on the main plugins page) and AffiliateWP was deactivated automatically after the update completed.

[2015-11-23 00:39] sumobi opened #985 "Set $0.00 referrals in Formidable Pro to "unpaid""
$0.00 referrals in Formidable Pro are set to `Pending` status. I think these should be set to `Unpaid` automatically since there isn't any payment involved.

We did something similar in Gravity Forms https://github.com/AffiliateWP/AffiliateWP/issues/914

[2015-11-23 00:55] sumobi commented on #982
Yep, if you can schedule discount codes, MailChimp emails and creatives, you could automate sales all year round :+1:

[2015-11-23 14:28] pippinsplugins commented on #984
Is your folder name changing?

[2015-11-23 20:40] wordmaid opened #986 "2x Application Rejected emails visible when Require Approval setting is enabled"
When the Require Approval setting is enabled under the Misc tab, a second Application Rejected email appears in the Emails screen. This could perhaps be a wee bit confusing for admins. There is a slight name change between the two - the one that is always visible is "Application Rejected" and the one that appears when approval is required is "Application Rejection".

[2015-11-23 22:50] michaelbeil commented on #984
That is odd. I do not see that on a multisite setup.

[2015-11-23 23:15] sumobi commented on #984
@pippinsplugins No, folder name is always `affiliate-wp`

[2015-11-24 00:47] pippinsplugins commented on #984
I updated it on the EDD site today and didn't have any issues.

[2015-11-24 02:55] sumobi commented on #984
I always break things

[2015-11-24 20:44] michaelbeil opened #987 "Decimal separator in "Most valuable affiliates" section"
Within the "Overview" section, when a Decimal Separator is set to present "," the "Most valuable affiliates" and "recent referrals" areas have values that are still presented with a "." decimal separator.

![issue-1](https://cloud.githubusercontent.com/assets/4752949/11379222/d543bb48-92b4-11e5-9de0-86dc7a0b2ee7.png)

Replicated locally as well: https://cloudup.com/cO9CeSihSe8.

https://secure.hel

[2015-11-24 21:24] michaelbeil commented on #987
Perhaps ouur currenct filter needs a look at: https://github.com/AffiliateWP/AffiliateWP/blob/6358820c4358ed9ee88d73d900bf863218fb6ebe/includes/admin/overview/overview.php#L180-L217

[2015-11-25 00:37] sumobi commented on #984
@pippinsplugins I think I know is causing this now, you were right. Something to do with multiple plugin folder, noticed the same thing with EDD today. I like to have multiple plugin versions to test between so I usually have `affiliate-wp` which is always the latest, and then `affiliate-wp-v1.7.8`, `affiliate-wp-v1.7.9` etc. When I update one of the folders with a different name it does some weir

[2015-11-25 00:38] #984 closed

[2015-11-25 01:27] michaelbeil opened #989 "Minimal payment amount"
Create a minimal amount for payment and checkbox to enable it, letting the affiliate know that they'll receive their commission only when they've earned equal to or more than the minimal amount.

[2015-11-25 17:46] michaelbeil opened #990 "Show tracked coupons vs. referral links"
Could be neat to reveal tracked coupon and referral link data within the affiliate area.

[2015-11-27 00:21] wordmaid opened #991 "Allow search by user's First Name in New Affiliate screen"
Would it make sense to also be able to search for the affiliate's first name in the New Affiliate screen? Currently search is by username, however in the Affiliates -> Affiliates area it shows affiliates by their First Name as per their user account. Would it be tricky/confusing to add this so site admins can search either by name or by username?

Also, currently instructs admin to "Begin typing t

[2015-11-27 15:23] pippinsplugins commented on #991
If we can, let's do it.

[2015-11-27 20:27] pippinsplugins commented on #989
Are you thinking of this as a front-end display option for the affiliate area? We already support minimum earnings on payout generations.

[2015-11-29 22:24] sumobi opened #992 "Filter to switch commission order?"
A customer upgraded to the latest version of AffiliateWP and realized that `per-affiliate rate > per-product rate`. They must have upgraded from a much earlier version of AffiliateWP.

Just putting this out there... what if we could include a filter to switch the behaviour? It looks like we could include this filter around about here where the rate is determined, based on whether a per-affiliate r

[2015-11-29 23:53] pippinsplugins commented on #992
If we do this, I think we should set it up with a UI that allows the order to be defined. Perhaps a simple select option that has three or more choices.

[2015-11-30 07:07] sumobi commented on #992
Yep that would be a good idea

[2015-11-30 16:15] pippinsplugins commented on #448
@ghost1227 Could you submit that as a PR so we can actually see the changed files?

[2015-11-30 16:19] ghost1227 commented on #448
@pippinsplugins Has to be updated to merge cleanly... what branch do you want the PR submitted to?

[2015-12-01 00:22] michaelbeil commented on #982
Oh my :100:.

[2015-12-01 02:14] sumobi commented on #705
https://secure.helpscout.net/conversation/144145767/22469/?folderId=205524

[2015-12-01 03:05] sumobi commented on #756
Looks like this never made it into 1.7, re-opening

[2015-12-01 04:29] michaelbeil commented on #756
https://github.com/AffiliateWP/AffiliateWP/commit/fa1258e211cded49a3326214d809faa90643f0ca did not do it?

[2015-12-01 04:45] pippinsplugins commented on #756
POS>

[2015-12-01 04:46] pippinsplugins commented on #756
@sumobi it was merged into `release/1.7` . . . .

[2015-12-01 12:34] sumobi commented on #756
@pippinsplugins It says that, but it wasn't some how :) the code isn't there, and the functionality does not work

[2015-12-01 14:52] pippinsplugins commented on #756
Blarg

[2015-12-01 22:53] michaelbeil commented on #989
Yes, as a front-end display option for the affiliate area.

[2015-12-01 23:45] peterwk commented on #705
Was the plugin ever finished?

[2015-12-02 18:11] michaelbeil commented on #705
@peterwk: If you are referring to the integration of Event Espresso into AffiliateWP, then no, not yet.

[2015-12-03 12:45] mattsims opened #996 "Export is not possible without 'manage_options' capability"
The `Affiliate_WP_Export` class has a function `can_export()`, the returned result of which is filterable using the `affwp_export_capability` filter (by default, export requires the `manage_options` capability). However, even if this is filtered to return true, an export will still fail unless the user has the `manage_options` capability, as this is checked for multiple times in `/includes/admin/t

[2015-12-03 13:17] pippinsplugins commented on #996
Hey Matt!

Good catch! It is definitely intended to be `export_affiliate_data` so the `manage_options` default was just left in by mistake.

[2015-12-03 13:33] mattsims commented on #996
Happy to help!

Also, while we're on the subject, access to the `Tools` menu (which contains all the export functionality), is only possible with the `manage_affiliate_options` capability – should this also use the `export_affiliate_data ` capability instead? And just use the `manage_affiliate_options` capability for restricting access to the `Settings` menu?

Regards,

Matt.

[2015-12-03 15:37] pippinsplugins commented on #937
Feedback from Jason: https://cloudup.com/cdfGe4GpIO8

[2015-12-03 15:46] pippinsplugins commented on #996
`Tools` probably should be accessible with `export_affiliate_data` but we'll then need to ensure that individual options inside of tools have the proper capabilities checks. Not all of them are accessible to `export_affiliate_data`.

[2015-12-03 21:37] michaelbeil opened #997 "Fix non-translatable affiliate status string"
In:
[code]
https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/admin/overview/overview.php#L124-L131

We should allow $affiliate->status to be translatable.

On the overview page, the "active/pending" translation is not being displayed, nor is it for any translation since we query the DB.

[code]

Grunt, of course, will not pick it up: http://beil.io/QKXa.

Is there a translation funct

[2015-12-03 22:00] michaelbeil commented on #996
Nice find @mattsims.

[2015-12-04 03:35] sumobi opened #998 "Fallback tracking doesn't work for pretty affiliate URLs"
Fallback tracking doesn't work for pretty affiliate URLs.

Steps to reproduce

1. Create a JS error in the theme
2. Enable fallback tracking
3. Test with a pretty affiliate URL, eg /ref/admin

[2015-12-04 04:52] sumobi commented on #372
Closing, since this was finished up in https://github.com/AffiliateWP/AffiliateWP/issues/627

[2015-12-04 04:52] #372 closed

[2015-12-04 10:44] osthafen opened #999 "Warning: number_format() expects parameter 1 to be double, string given"
Hi,
I found a little warning-bug:

I's comming up with the $amount if the decimal or thousands separator are altered via str_replace:

Warning: number_format() expects parameter 1 to be double, string given in
 ../wp-content/plugins/affiliate-wp/includes/misc-functions.php on line 158

https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/misc-functions.php#L158

Greetings
Martin

[2015-12-04 17:01] pippinsplugins commented on #999
Hi Martin!

Could you show me an example of how you're altering it before the notice is displayed?

[2015-12-04 17:06] pippinsplugins commented on #997
We should make a function for displaying a translatable version of the affiliate status.

[2015-12-04 17:07] michaelbeil commented on #997
:+1:

[2015-12-04 17:17] michaelbeil commented on #998
Great find. For some reason, I thought I sent this in.

:+1: for a fix.

[2015-12-04 17:58] osthafen commented on #999
Hi Pippin,
I'm not altering it via code it's just in the settings page:
wp-admin/edit.php?post_type=download&page=edd-settings

sorry only german it's the german notation:
Tausender-Trennzeichen . Das Symbol, um die Tausender abzutrennen; gewöhnlich . (Punkt) oder , (Komma).
Zehner-Trennzeichen , Das Symbol, um die Zehner-Werte abzutrennen; gewöhnlich , (Komma) oder . (Punkt).

[2015-12-04 20:21] michaelbeil commented on #999
What should the German notation be @osthafen?

[2015-12-04 23:21] osthafen commented on #999
Everything is ok with the german notation. It's just the error coming up if you choose the german notation in the setting.
The function number_format() expects the parameter to be double but a string is provided. It's displaying this error warning int the overview page: /admin.php?page=affiliate-wp
'Warning: number_format() expects parameter 1 to be double, string given in ......./httpdocs/wp-cont

[2015-12-05 14:25] pippinsplugins commented on #999
Thanks, we'll get that fixed.

[2015-12-05 23:39] wordmaid opened #1001 "Referrals for WooCommerce Cash on Delivery orders should go to Pending (currently Unpaid)"
Currently referrals for WooCommerce Cash on Delivery orders go to Unpaid status, so affiliates can see they have generated a referral instantly, even though cash hasn't yet changed hands. Think it would make sense for them to go to Pending, so the site owner can receive the cash first - then when they mark order as Complete in WooCommerce, the referral status will change to Unpaid.

[2015-12-06 03:28] sumobi opened #1002 "Credit last referrer increments visit ID by 1 when refreshing"
When credit last referrer is enabled and the username is used in the affiliate referral URL (either pretty or non pretty) the visit ID increments by 1 with each page refresh. Using an affiliate ID is fine.

related: https://github.com/AffiliateWP/AffiliateWP/issues/915

[2015-12-06 16:52] raisonon commented on #863
I get this with this table: https://www.dropbox.com/s/agz8hr5kvdyfz27/Screenshot%202015-12-06%2016.52.32.png?dl=0

[2015-12-06 17:57] pippinsplugins commented on #863
@raisonon that is a separate issue.

@tushonline Views cannot be optimized so turns out this is not a problem. See this: https://dba.stackexchange.com/questions/43671/optimize-command-issuing-view-is-not-base-table-and-corrupt-error-messages

To avoid the issue, simply don't try and optimize the table.

As this is invalid, I'm going to close this.

[2015-12-06 17:57] #863 closed

[2015-12-06 19:18] pippinsplugins commented on #998
Whoops!

[2015-12-07 14:34] KingYes opened #1004 "Can't create new referral in Admin"
Hi @pippinsplugins
When I search Affiliate in that screen (ex: `wp-admin/admin.php?page=affiliate-wp-referrals&action=add_referral`), In ajax response I get this error:

[code]

We are using PHP v5.4.37.

[2015-12-07 14:39] KingYes commented on #1004
You are need to use with direct function in that `array_filter`.

[2015-12-07 17:33] michaelbeil commented on #1004
You may not have mbstring module within PHP enabled.

[2015-12-07 23:14] sumobi opened #1005 "WishList Member blocks emails, redirects affiliate when specific option is enabled."
We don't have a full integration for Wishlist Member but there's a couple of issues caused by WLM when the  "Allow WishList Member To Handle Login Redirect" option is enabled from WishList Member -> Settings -> Miscellaneous.

1. It redirects the affiliate to the site's homepage, instead of keeping them on the affiliate area

2. It blocks emails being sent to the admin and affiliate when an affili

[2015-12-08 00:32] pippinsplugins commented on #1005
What if we just disabled that option in WIshlist programmatically?

[2015-12-08 04:52] sumobi opened #1006 "Improve translations"
We should work on improving our translation files. Some are out of date (and become out of date with every release), some translations are missing completely and some contain incorrect translations.

https://www.transifex.com/

[2015-12-08 09:30] fxbenard commented on #1006
Be my guest! poke me in case you need someone

[2015-12-08 14:31] pippinsplugins commented on #1006
@fxbenard I'd love to work with you on it.

[2015-12-08 14:39] fxbenard commented on #1006
@pippinsplugins Do you want me to add it to WP-Translations team?

[2015-12-08 16:37] michaelbeil commented on #1006
A big :+1: here for @fxbenard and team.

[2015-12-08 16:42] michaelbeil commented on #1006
With my recent PR #988 updates have been made to our strings, along with some fresh Brazilian translations. However, the WP-Translations team would be great to have on board for present and future translation needs.

[2015-12-08 20:47] michaelbeil commented on #986
https://secure.helpscout.net/conversation/146724707/22920/?folderId=634609

[2015-12-08 21:35] michaelbeil opened #1007 "Single to multisite affiliate table issue"
When moving a WordPress install from a single site to multisite, an error occurs when attempting to add an affiliate.

First add the multisite define in the wp-config and then find that the user has no affiliates registered and gets an error when trying to add a new affiliate too. User can see the affiliate table wp_affiliate_wp_affiliates has all the data.

The table used in multisite works witho

[2015-12-09 03:37] sumobi commented on #1005
@pippinsplugins unfortunately it seems a lot of customers use that option to redirect their customers to a specific page, unless you meant disabling it somehow at login.

This seems to work as a temporary solution:

    function affwp_wlm_fix_redirect( $user_login, $user ) {

        if ( ! function_exists( 'affiliate_wp' ) ) {
            return;
        }

        $user_id = $user->ID;

 	    //

[2015-12-09 05:20] KingYes commented on #1004
`mbstring` is enable in my server. So why I get this error?

[2015-12-09 18:20] wordmaid commented on #968
Another request has come through for this.

[2015-12-09 19:27] michaelbeil commented on #1005
https://secure.helpscout.net/conversation/146167984/22831/?folderId=634609

[2015-12-09 20:31] pippinsplugins commented on #1007
I don't think this is a bug we should be fixing since it's not really a bug. It's an issue with a site migration that was not completed 100%.

[2015-12-10 02:25] sumobi opened #1008 "Keep username and email fields but set them to disabled for logged in users"
A common support ticket we get is "I can't see the email or username fields on my affiliate registration form". This is obviously because the user is already logged in.

I'd love to hear everyone's thoughts on what we can do to make this clearer. We could for instance keep the fields there, set them to disabled, and show the user's current username and email address, much like we do on the edit af

[2015-12-10 02:56] sumobi commented on #1005
Blah, the above code doesn't help with the emails, they are still blocked. WLM have told the customer they might be able to provide some sort of AffiliateWP integration so I've forwarded them some sample code to check for the affiliate. Hopefully they can simply not fire their redirection when an affiliate is logging in, or registering.

[2015-12-10 02:57] sumobi commented on #1004
@KingYes Can you open up a support ticket so we can investigate further? http://affiliatewp.com/support/.

[2015-12-10 04:16] sumobi commented on #1001
@pippinsplugins This is because COD payments are marked as "processing" in WooCommerce, rather than "on hold". Not sure why that is...

https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/integrations/class-woocommerce.php#L27

[2015-12-10 04:17] sumobi commented on #1001
Here's why they changed it (back in 2013) from on-hold to processing:
https://github.com/woothemes/woocommerce/issues/3102

[2015-12-10 04:27] sumobi commented on #990
related: https://github.com/AffiliateWP/AffiliateWP/issues/458

[2015-12-10 05:03] sumobi commented on #986
@pippinsplugins Pretty sure the "top" rejected email was added after the original. We should remove the following since a rejection email should only show if approval is enabled. It's also not being used anywhere: https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/admin/settings/class-settings.php#L499-L510

We might have customers using the first instance of the email (although it wo

[2015-12-10 05:17] sumobi commented on #967
@pippinsplugins Didn't see your other comment above (did you edit it perhaps?). Having it as a creative type would be fantastic, and the UI would already be there. Admin can add some text, upload an image (2:1) and they'd be all set. When we have categorized creatives, an affiliate could go to the "twitter" section and view everything they can tweet.

[2015-12-10 05:23] sumobi commented on #967
Another idea: once the necessary hooks are there for the new creatives page, Affiliate Dashboard Sharing could add the new Tweet functionality to the creatives section.

[2015-12-10 14:21] pippinsplugins opened #1009 "Give Integration"
We should add an integration for Give.

Requested: https://secure.helpscout.net/conversation/148046248/23156/?folderId=205524

[2015-12-10 14:34] pippinsplugins commented on #986
@sumobi please double check that ^

[2015-12-10 14:35] pippinsplugins commented on #967
I'd be fine with either it in core or in Affiliate Dashboard Sharing.

Have a preference?

[2015-12-10 14:38] pippinsplugins commented on #1001
We can't remove the completed action on `woocommerce_order_status_processing` as some sites use that as their completed status, or at least as the "this should mark referral as paid" status.

We've had it requested before and now I think this is an excellent time to add in a `What status should AffiliateWP mark the referral as unpaid` option.

[2015-12-10 14:38] pippinsplugins commented on #1001
Or we could just detect the payment method for this instance (easier).

[2015-12-10 19:13] pippinsplugins opened #1011 "Incorrect subscription_key used in RCP"
RCP now uses a `pending` status and subscription key when members that are upgrading or changing levels. Due to this, AffiliateWP is grabbing the wrong subscription key so referral tracking breaks.

[2015-12-10 19:14] #1011 closed

[2015-12-10 19:33] VictorSlate commented on #963
Good idea! Actually I was trying to find a solution and found this topic.
@pippinsplugins Do you planning to realize this?

[2015-12-10 19:39] pippinsplugins commented on #963
I would definitely like to make it happen but there's no timeframe at this point.

[2015-12-10 19:49] VictorSlate commented on #1006
I'll send you updated Russian translate in a next few days.

[2015-12-10 19:52] #996 closed

[2015-12-10 19:52] #756 closed

[2015-12-10 20:49] sumobi commented on #986
@pippinsplugins I take it we're not going to worry about some kind of upgrade routine?

[2015-12-10 20:59] sumobi commented on #986
@pippinsplugins Works great over here, emails still work etc

[2015-12-10 20:59] sumobi commented on #1009
:+1:

[2015-12-10 21:00] pippinsplugins commented on #986
What do you think? Upgrade routine or no?

[2015-12-10 21:10] sumobi commented on #998
@pippinsplugins It works great. I originally discovered that the visits were incrementing but then I remembered https://github.com/AffiliateWP/AffiliateWP/issues/1002 and disabled credit last referrer

[2015-12-10 22:19] pippinsplugins commented on #998
Sweet, merging then.

[2015-12-10 22:20] #998 closed

[2015-12-10 22:57] sumobi commented on #986
@pippinsplugins I don't mind either way but I think some people might have put some effort into their rejection text area and if it suddenly goes away they could be sad.

[2015-12-10 23:07] sumobi commented on #967
Let's go with core

[2015-12-10 23:29] pippinsplugins commented on #967
:+1:

On Thu, Dec 10, 2015 at 5:07 PM, Andrew Munro <notifications@github.com>
wrote:

[2015-12-10 23:40] pippinsplugins commented on #986
I'm going to do an upgrade routine.

[2015-12-10 23:47] pippinsplugins commented on #986
@sumobi Could you test the upgrade routine here for me?

To do that, set up subject and message in the fields that we have removed but leave the ones we have left empty.

I have set it up so that if the bad (duplicate) fields were used *but* the good (remaining) fields were not, the settings get copied over.

[2015-12-11 00:05] sumobi commented on #986
@pippinsplugins Worked fine for me. There was probably an easier way to test but my brain told me to paste the old rejected textarea code back, clear out the content in the new one and update the version number in the main plugin file to 1.7.11. Upon refreshing the options the content of the old rejection textarea had been copied to the new one.

[2015-12-11 01:26] pippinsplugins commented on #1005
@sumobi what about including your snippet above inside of core?

[2015-12-11 01:41] #986 closed

[2015-12-11 02:15] tdegen1981 commented on #1009
Absolutely!

[2015-12-11 17:01] pippinsplugins opened #1014 "Underscores and hyphens stripped from Referral Variable"
Try entering `ad_id` or `ad-id` as the Referral Variable. The underscore and hyphen will be removed.

Since those are both valid characters in URL variables, we should allow them.

[2015-12-11 17:03] #1014 closed

[2015-12-11 18:05] michaelbeil commented on #1005
Per https://secure.helpscout.net/conversation/148487782/23249/?folderId=205527, we were sent a custom version of WLM with the filter for the login redirect Andrew requested.

Also, possible filter for a logout redirect:
[code]

[2015-12-11 20:23] pippinsplugins commented on #1008
I vote we show them. I get this question incredibly often in Restrict Content Pro, which also hides the fields when a logged in user is registering.

[2015-12-11 20:36] michaelbeil commented on #1008
Another :+1: for showing non-editable fields of the current username and email.

[2015-12-12 00:05] sumobi commented on #1005
@pippinsplugins  ^ Going to test the WLM version above and then WLM will include the new filters in a new update. Then we can just turn off their login/logout redirects for affiliates from our compatibility fix file :+1:

[2015-12-12 00:05] sumobi commented on #1008
Nice

[2015-12-12 00:06] sumobi commented on #1014
Good catch

[2015-12-12 02:32] sumobi commented on #1005
Worked great

[2015-12-12 14:19] VictorSlate opened #1015 "Transits from a referral website"
Let's imagine - my affiliate have his own site (or blog - www.blog.com) where he wish to promote my service.
At this time he has only two ways to get a referal, right? I can use refefal links (mysite.com?ref=1), or coupons.

What do you think about new feature which add a new option to affiliate's area.

"Transits from a referral website
We suggest you a new way of customer acquisition without uti

[2015-12-12 14:26] VictorSlate opened #1016 "Make a partner ability to request payment."
For example I want to pay once a month manually, when my partners collect 100$ commission.
What if my partners will have a button in affiliate area, which helps to request payment?

[2015-12-12 16:36] michaelbeil commented on #1005
Rock solid!

[2015-12-12 19:20] michaelbeil commented on #1005
Confirmed here as well.

[2015-12-12 20:25] michaelbeil commented on #1015
We actually have an issue for this: https://github.com/AffiliateWP/AffiliateWP/issues/245.

[2015-12-15 03:47] sumobi opened #1018 "Affiliate welcome email still sending when "Welcome Email" checkbox is not enabled"
The welcome email seems to be sending regardless of whether the checkbox is enabled or not. If it's not enabled, it shouldn't send.

![screen shot 2015-12-15 at 4 43 38 pm](https://cloud.githubusercontent.com/assets/52581/11801482/29b63b3c-a34b-11e5-9a29-5788909e2996.png)

[2015-12-15 06:24] sumobi opened #1019 "Table cell doesn't span 4 columns when no referrals"
Table cell doesn't span 4 columns when no referrals

![screen shot 2015-12-15 at 7 22 56 pm](https://cloud.githubusercontent.com/assets/52581/11803616/5acccc5c-a361-11e5-88d9-7c17ea6bbb86.png)

[2015-12-15 14:56] #1019 closed

[2015-12-15 16:00] pippinsplugins commented on #1005
@sumobi see my comment on the PR

[2015-12-15 21:20] nerrad opened #1021 "affwp_search_users ajax callback chokes on database with large number of users."
This callback method retrieves ALL wp_users (excluding any already existing affiliates) and then runs it through `array_filter` to match the search query against it.
However on databases with a large user base it chokes because of the sheer number of users being pulled (I ran into this while testing AffiliateWP for a possible implementation on EventEspresso.com).

Is there a reason why the search

[2015-12-16 14:20] nerrad commented on #1021
The above pull request fixes the issue on our site with a large number of users in the db.

[2015-12-16 17:44] nerrad commented on #705
Hey there.  We are jumping on with using AffiliateWP to power our invite only affiliate system on eventespresso.com and once I got into the code I realized how easy it would be to build an integration between our core product (Event Espresso 4) and your add-on so I knocked that off this morning.  I was kinda surprised because I thought it would be a more difficult thing considering the length of t

[2015-12-16 18:00] pippinsplugins commented on #705
@nerrad I'd love to discuss including the integration directly in our plugin. We've found that to be the most reliable method for us since it allows us to make changes across all integrations at one time if ever necessary.

[2015-12-16 18:22] nerrad commented on #705
oh?  I thought your integrations were separate add-ons?  All I've done is build an add-on for EE that integrates with AffiliateWP.

[2015-12-16 18:40] pippinsplugins commented on #705
They are all included directly in the main plugin, not separate plugins.

[2015-12-16 18:57] nerrad commented on #705
I think we'd prefer to keep it as a separate add-on and here's why.  The initial iteration is a very simple integration that basically works for any onsite or offsite payment gateways we use that will complete the transaction before awp's affiliate id cookie expires.  In future iterations (if there is demand) we'd need to track the affiliate id on the transaction as meta somewhere so we can apply

[2015-12-16 19:48] pippinsplugins commented on #705
We can list it as a 3rd party add-on if you wish to do it that way though keep in mind that that will mean any and all support required by customers for the integration will have to be handled by your team. If we build it into the core plugin, we handle the support.

[2015-12-16 20:17] pippinsplugins commented on #1016
@VictorSlate Nice idea, we'll certainly consider it.

[2015-12-16 21:10] #1005 closed

[2015-12-16 21:27] michaelbeil commented on #1021
This looks to be like a great fix. We will check into it.

[2015-12-16 22:11] michaelbeil opened #1024 "Add a filterable campaign view"
Affiliates can see what referral URLs have the campaign variable in them which will show up in the Campaigns table on the affiliate dashboard. However, we do not have a filterable way of viewing the best converting campaigns as an admin.

Perhaps it would be a good addition to both the admin and the affiliate dashboard.

[2015-12-17 00:41] sumobi opened #1026 "Register forms.css file once, then enqueue it when required"
It's not currently possible to easily dequeue the forms.css from the `[affiliate_registration]` shortcode using `wp_dequeue_style()`. This is because the file has been enqueued with all the extra parameters inside the shortcode itself:

https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/class-shortcodes.php#L103

We should register the CSS file once inside `affwp_frontend_scripts_and_

[2015-12-17 00:59] sumobi commented on #1026
`wp_dequeue_style` won't remove the forms.css from [affiliate_registration] (just tested) so we'll need to use `wp_deregister_style` also. Still, it's better than having to remove the entire shortcode and adding it back without the CSS file. This will be handy for those who want complete control over the styling of the forms.

Here's an example of how it will be possible to now remove forms.css fr

[2015-12-17 15:07] #1026 closed

[2015-12-17 15:44] mgibbs189 opened #1028 "4.4 - Overview page - headers unstyled"
Looks like it needs a little padding, and increased font size and/or font weight.

<img src="http://i.imgur.com/iZYkDqA.png?1" />

[2015-12-17 16:30] pippinsplugins commented on #1028
Thanks @mgibbs189 !

@sumobi could you take care of this one

[2015-12-18 01:39] sumobi commented on #1028
will do

[2015-12-18 09:14] sumobi commented on #1028
^ The simplest way I could find to fix it. It now looks like how it used to. The other way to fix it was to remove the `dashboard-widgets` ID from one of the parent divs, but then we lose the floating.

![screen shot 2015-12-18 at 10 12 01 pm](https://cloud.githubusercontent.com/assets/52581/11893306/71d4f29c-a5d4-11e5-8bbd-80825faa9c09.png)

[2015-12-18 14:51] #1028 closed

[2015-12-18 14:51] pippinsplugins commented on #1028
:+1:

[2015-12-18 14:53] mgibbs189 commented on #1028
Great stuff, thanks for the quick fix @sumobi @pippinsplugins :+1:

[2015-12-18 19:32] pippinsplugins commented on #1024
This would be nice.

[2015-12-20 01:08] wordmaid commented on #909
:+1: to the "Affiliate" column in supported integrations if possible - showing a tick or a link (to that affiliate) if a coupon or discount code is attributed to that affiliate.

Additionally, it would be great to show a list of all allocated coupons/discount codes (which link to each coupon) in the affiliate Edit screen for each affiliate (similar to how Lifetime Commissions displays a list of li

[2015-12-21 18:27] michaelbeil opened #1032 "Statistics of shared unique links"
Feature request:

Create a view that shows a list of shared unique links with the number of visits of each unique link. This would show the affiliates their most viewed links.

https://secure.helpscout.net/conversation/152077519/23876/?folderId=634609

[2015-12-21 19:36] JustinSainton commented on #228
heyo, this is kosher as of [3.11.0](https://github.com/wp-e-commerce/WP-e-Commerce/commit/9ddc3a847b8815c153c93c0e078b5f03614af0cf).

danke!

[2015-12-21 21:32] pippinsplugins commented on #228
@JustinSainton Thanks so much!

[2015-12-21 23:43] michaelbeil commented on #228
:+1:

[2015-12-23 18:25] #1021 closed

[2015-12-23 18:25] pippinsplugins commented on #1021
Thanks @nerrad !

[2015-12-23 18:27] fxbenard commented on #1006
So guys, what's up, let me know and let's do something if you want beginning of 2016

bonnes fêtes

[2015-12-23 18:27] #937 closed

[2015-12-23 18:29] pippinsplugins commented on #1018
@sumobi Which are we considering the welcome email? Email after approval? Email after registration but pending?

[2015-12-23 18:47] michaelbeil commented on #1018
Approval I believe @pippinsplugins.

[2015-12-23 22:47] sumobi commented on #1018
@pippinsplugins Yeah the email after approval, ie the affiliate accepted email. The email after registration but still pending will be the pending affiliate registration email.

[2015-12-27 23:43] sumobi opened #1035 "Add-ons page for showcasing add-ons/upselling"
Like we do for EDD, I think it would be a great idea to add a new "Add-ons" admin menu item. This page would list all Pro Add-ons, Official free add-ons and could also include 3rd party add-ons.

If a customer with a Professional/Ultimate license activates their license key, this page could offer 1 click installs of the Pro add-ons, and show them which add-ons they currently have installed.

For a

[2015-12-27 23:55] sumobi opened #1036 "Migration assistant doesn't generate affiliates for Affiliates plugin"
After running the migration tool, no affiliates are generated.

@pippinsplugins Should the migration assistant for Affiliates Pro (ithinx) work for their free version available on the WP repo? (I'm thinking it should) Here's what I get after trying to migrate 2 affiliates over on a fresh sub-site install on a MS installation.

[27-Dec-2015 23:49:01 UTC] WordPress database error Table 'affwp.wp_70_

[2015-12-27 23:55] pippinsplugins commented on #1035
Absolutely! Mock it up and I can make it happen!

On Sunday, December 27, 2015, Andrew Munro <notifications@github.com> wrote:

[2015-12-27 23:56] sumobi opened #1037 "Migration routine for Affiliates Manager"
If you search the WP repo for `Affiliates`, these are the top two. We should add a migration routine for the Affiliates Manager plugin

[2015-12-27 23:56] wordmaid commented on #1035
:+1: x :100: to this.

To add to this, if customers can choose to upgrade their license instantly from this page, they could be directed to checkout to purchase a higher license level on the spot.

If Pro add-ons had their own tab, this could help this page look super clean, and make it easier to upsell. Though, there is an argument for displaying all official add-ons on the same page (shows how c

[2015-12-28 00:05] sumobi commented on #1035
Awesome, I'll put something together.

@wordmaid I like the idea of a customer being able to upgrade easily :+1:

[2015-12-28 06:08] michaelbeil commented on #1035
Oh my lanta yes!

[2015-12-28 15:47] michaelbeil commented on #1037
Yes! I've been seeing that one pop up a bunch recently.