[2016-06-13 23:45] sumobi commented on #1252
Giving a user `manage_options` is granting them administrator capabilities. Not something we would want to do since they could do a whole lot more on the site.

[2016-06-13 23:52] michaelbeil commented on #1252
Ah yes, so perhaps we just need to extend `manage_affiliate_options` on save.

[2016-06-14 02:03] pippinsplugins commented on #1184
Yeah, I think `earnings` should be a float.

[2016-06-14 02:17] michaelbeil opened #1353 "Deactivating a license key is not working"
On AffiliateWP 1.8+, deactivating a license key no longer works. It appears like the settings are getting updated twice, once with the right value and possibly once with what seems to be a cached value.

This is probably because of the introduction of the new `set()` + `save()` method in 1.8.

Perhaps `deactivate_license` on line 1065 of [class-settings.php](https://github.com/AffiliateWP/Affiliat

[2016-06-14 02:59] michaelbeil commented on #602
Request: https://secure.helpscout.net/conversation/214017653/36092/?folderId=634609

[2016-06-14 16:21] pippinsplugins commented on #1353
PR works great for me.

[2016-06-14 16:23] DrewAPicture commented on #1353
OK, figured out what was going on here. Essentially this is a scope and memory pollution problem. In using the `set()` method with `$save = true`, we were polluting memory at runtime, which resulted in updating the options twice. Basically, we were overloading `$this->options` values, then saving from memory, but the core settings screen was then saving *again* with the old values, making the orig

[2016-06-14 16:38] pippinsplugins commented on #1050
Let's add verbose messages like we did in EDD: https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4050

![screen shot 2016-06-14 at 11 37 51 am](https://cloud.githubusercontent.com/assets/1034109/16051220/7308a7b2-3224-11e6-96fe-b959f7ef0a72.png)

[2016-06-14 17:38] michaelbeil commented on #1353
Works great here!

[2016-06-14 18:47] DrewAPicture commented on #1353
Tested passed. Merged #1354.

[2016-06-14 18:47] #1353 closed

[2016-06-14 20:20] ramiabraham commented on #1225
What should the name of our various meta box contexts be?

[2016-06-14 20:22] pippinsplugins commented on #1225
`primary`, `secondary`, `tertiary`.

[2016-06-14 20:37] michaelbeil commented on #102
Closing this in favor of #316.

[2016-06-14 20:37] #102 closed

[2016-06-14 20:38] michaelbeil commented on #316
Related: #1100

[2016-06-15 21:53] michaelbeil opened #1355 "WordPress pagination links revert to shop pagination links in some cases"
It appears like we need to account for another instance where WooCommerce product pagination is breaking when filtering by attributes.

Here is what happens:
- Go to http://yoursite.dev/shop/products/?filter_material=66
- When a user navigates to page 2, then http://yoursite.dev/shop/products/page/2/ is displayed instead of http://yoursite.dev/shop/products/page/2/?filter_material=66

Related: #95

[2016-06-16 13:39] pippinsplugins commented on #1355
@michaelbeil does it only happen when a referral variable is present?

[2016-06-16 15:49] michaelbeil commented on #1355
No, it happens regardless of a referral variable.

[2016-06-16 16:23] michaelbeil commented on #1355
My thoughts are to add meta_is_product_attribute to line 557 in includes/integrations/class-woocommerce.php:

if ( ( ! is_shop() && ! is_paged() ) || is_product_taxonomy() || is_search() || meta_is_product_attribute() ) {

The issue is that other plugins and WC extensions might use these arguments to provide some information that still needs to be included in the pagination.

Should we simply remo

[2016-06-16 16:31] pippinsplugins commented on #1355
Does adding `meta_is_product_attribute()` to the conditional resolve it?

[2016-06-16 18:55] michaelbeil commented on #1355
I have not been able to replicate it locally, but only on two customer sites so far. I have not received admin access, so I am still attempting to figure out how they are filtering by attribute.

[2016-06-18 11:38] wordmaid opened #1359 "Allow admins to create campaigns"
Currently affiliates can set a campaign name to help them track their efforts, but it would be brilliant to allow admins to create (add/remove) campaigns they want their affiliates to use as well.

This could be a new tab added to the Affiliate Area with a list of campaigns that can be enabled (and disabled). In the Affiliate Area the affiliate will see automatically generated campaign URLs with t

[2016-06-18 12:52] pippinsplugins commented on #1359
Definitely an idea with merit!

If we let campaigns be manually created, would campaigns still be auto created anytime a non-registered campaign is used in a URL?

[2016-06-19 13:25] nhadsall commented on #1355
We were effected by this on one of our sites. The bug is that aff wp strips ALL query strings from the URL when it attempts to strip the referral code. The approach currently used assumes that no other plugin will modify information after the pagination URL (appending query strings). In this case it is WooCommerce itself that adds the query string.

We do not use pretty URLs, so it is a simple mat

[2016-06-20 16:20] DrewAPicture commented on #1184
Tests passed, merged #1358 which converts core objects to use namespaces 🎉 .

[2016-06-20 17:22] DrewAPicture commented on #1355
Added a PR: #1360

[2016-06-20 17:22] michaelbeil commented on #1355
Testing.

[2016-06-20 19:34] michaelbeil commented on #1355
This issue will be used to deprecate the `strip_referral_from_paged_urls` method in the WC integration class so we can address this plugin-wide.

[2016-06-20 19:48] DrewAPicture commented on #1355
Now that we're in the global plugin scope, I've added a couple of tests to the PR.

[2016-06-20 19:53] michaelbeil commented on #1355
Everything is working well here.

[2016-06-20 19:59] pippinsplugins commented on #1119
@ramiabraham could you please test this integration tomorrow? If all is working, please also go ahead and write up the documentation page for it.

[2016-06-20 20:00] pippinsplugins commented on #1343
@michaelbeil Can you please go ahead and test this?

[2016-06-20 20:26] pippinsplugins commented on #1184
We need to add the main account email to the object, similar to how we've added the `user_id`.

[2016-06-20 20:27] pippinsplugins commented on #1184
Actually, while we're at it, we should really also add first and last name too.

[2016-06-20 20:39] michaelbeil opened #1362 "Add support for MarketPress 3.x"
Creating an issue for posterity's sake.

See issue report for more context https://premium.wpmudev.org/forums/topic/fatal-error-on-checkout-process-marketpress.

PR: #1263

[2016-06-20 20:43] #1362 closed

[2016-06-20 22:44] sumobi commented on #245
https://secure.helpscout.net/conversation/216924676/36477/?folderId=205531

[2016-06-21 00:29] DrewAPicture commented on #1281
Added a PR: #1363

[2016-06-21 00:42] pippinsplugins commented on #1281
@DrewAPicture That's close but won't quite work.

`$cart_shipping` is initially defined one line 96, before the `foreach` loop.

Inside of the loop, you have redefined `$cart_shipping` like this:
[code]
That's going to cause `$cart_shipping` to increase on every iteration of the loop.

[2016-06-21 00:48] DrewAPicture commented on #1281
Derp. Forgot that commissions are calculated per-product. Try that.

[2016-06-21 00:49] pippinsplugins commented on #1281
Looks great! Let's merge once tests pass.

[2016-06-21 00:50] pippinsplugins commented on #1281
Oh wait, I think this is slightly wrong.

Shipping tax shouldn't be added to shipping.

Shipping tax should be added to the amount if `Exclude Taxes` is not enabled.

[2016-06-21 01:17] DrewAPicture commented on #1281
Works in my tested. I tested a $20 product, at 10% tax rate and $5 shipping.

Product: $20
Shipping: $5
Tax: 10%
Total: $27.50
Commission (@20%): $5.50

[2016-06-21 01:22] pippinsplugins commented on #1281
Excellent! Let's merge once tests pass.

[2016-06-21 01:31] pippinsplugins commented on #1355
Hmm, this isn't working for me.

The referral parameters are still included on the paginated links.

[2016-06-21 01:35] pippinsplugins commented on #1355
Oh wait, yes it is.

This is interesting though and I wonder if we should account for it.

Let's say a URL like this is used:
[code]
Clicking onto page 2 keeps the parameter in the URL, resulting in this:
[code]

If, however, we start at a paged URL, the next page URL has the parameter removed. `http://local.dev/woo/shop/page/2/?ref=jane` becomes `http://local.dev/woo/shop/page/3`.

I'm inclined t

[2016-06-21 01:40] michaelbeil commented on #1355
This is specifically with pretty affiliate links. What happens when you use a pretty affiliate link on a shop page?

Although, yea it should probably be consistent with non-pretty affiliate links as well when there is a traveling referral variable.

[2016-06-21 01:44] pippinsplugins commented on #1355
It happens in exactly the same way with both pretty and non-pretty links.

[2016-06-21 01:48] sumobi commented on #1252
Here's one workaround:
https://gist.github.com/sumobi/0e2639ff4b7eb6e723b4360b1016de44

We could simply hook into `option_page_capability_affwp_settings` and change the capability to `manage_affiliate_options`.

Defaults to `manage_options`:
https://developer.wordpress.org/reference/hooks/option_page_capability_option_page/

[2016-06-21 01:49] michaelbeil commented on #1355
Oh, I see. Maybe @sumobi can test too and let us know what he sees. I see the parameter persists with non-pretty affiliate links, but not pretty affiliate links. Though, this round of tests caused the referral variable to be prepended prior page/2. Not sure why that is happening.

[2016-06-21 04:16] DrewAPicture commented on #1281
Tests passed, merged #1363.

[2016-06-21 04:16] #1281 closed

[2016-06-21 04:24] DrewAPicture commented on #1355
@pippinsplugins:

I can't reproduce this. The initial page load will include the referral var and *any* subsequent paged URL should get stripped.

@michaelbeil:

Also can't reproduce that either, though WordPress simply appends paging endpoints to the end of the existing URL (when this code isn't applied, that is).

[2016-06-21 05:44] DrewAPicture commented on #1227
Added a PR: #1364.

Adds date fields to the new- and edit-referral forms. Defaults to the current date on the new-referral form.

**New Referral**:

![New Referral](http://cl.ly/3Y0u0e0g3X1S/Screen%20Shot%202016-06-20%20at%2011.39.24%20PM.png)

![New Referral datepicker](http://cl.ly/35291E05143o/Screen%20Shot%202016-06-20%20at%2011.40.32%20PM.png)

**Edit Referral**:

![Edit Referral](http://cl.l

[2016-06-21 06:43] sumobi commented on #1227
@DrewAPicture perfect!

I absolutely agree with that

[2016-06-21 13:23] pippinsplugins commented on #1227
I agree as well.

[2016-06-21 13:25] #1227 closed

[2016-06-21 13:53] pippinsplugins commented on #1355
Definitely happens to me.

I load the shop page with a ref and then look at the pagination URLs:
![screen shot 2016-06-21 at 8 53 24 am](https://cloud.githubusercontent.com/assets/1034109/16231854/af5eeba4-378d-11e6-8319-cd60fcfd504a.png)

[2016-06-21 14:49] michaelbeil commented on #1227
This looks great!

[2016-06-21 15:33] DrewAPicture commented on #1355
Hmm, that shouldn't be happening (obviously).

[2016-06-21 15:39] DrewAPicture commented on #1355
Posted my screenshot too. I wonder what could possible cause that ... hmm.

[2016-06-21 15:55] DrewAPicture commented on #1355
Removed the `is_paged()` check.

[2016-06-21 17:33] michaelbeil commented on #1355
Removing the `is_paged()` check has resolved the traveling referral variable for both pretty and non-pretty affiliate links. Blog pagination, shop pagination, search pagination, and category pagination are all working as expected.

[2016-06-21 18:13] DrewAPicture commented on #1355
Tests passing. Merged #1360.

[2016-06-21 18:13] #1355 closed

[2016-06-21 18:54] ramiabraham commented on #1119
Looks good here.

- LifterLMS coupons are attributed to the correct AffiliateWP affiliate.
- Aside from the noted js-related adjustment made in https://github.com/AffiliateWP/AffiliateWP/commit/89a0895d2fccee6c95750c9c4bfb737ab9ebec9a, there were no other required adjustments.

Will update when doc is completed for review.

[2016-06-21 19:19] michaelbeil commented on #1119
Looking good. Just made a few comments on the latest commit.

[2016-06-21 21:43] michaelbeil commented on #1342
I am reopening this issue as I have noticed that referrals created through purchases that have used affiliate coupons with trial periods are incorrectly calculated.

[2016-06-22 01:41] DrewAPicture commented on #1342
Added a PR: #1366

@michaelbeil Let me know if this is the behavior you're looking for. I was having trouble getting the referrals to record which I think is something janky on my end. The amounts should line up though.

[2016-06-22 02:00] sumobi opened #1367 "Users can register as affiliates when affiliate registration is not enabled"
Users can register as affiliates when affiliate registration is not enabled. Cause of issue is the new button we added to the user profile screen.

![screen shot 2016-06-22 at 1 55 37 pm](https://cloud.githubusercontent.com/assets/52581/16252368/98fdf7ca-3881-11e6-8b02-81e49ef96cb6.png)

[2016-06-22 02:47] DrewAPicture commented on #1267
@pippinsplugins This is ready for review. #1270 implements a top level `affwp` command, two utility sub-commands, and CRUD sub-commands for the four core objects. Oh, and it's namespaced ;)

[2016-06-22 03:36] michaelbeil commented on #1342
This looks like it should be what is desired. Need to test further once a license key is available.

[2016-06-22 03:36] pippinsplugins commented on #1267
@DrewAPicture PR looks good! I will do further testing tomorrow.

[2016-06-22 03:39] pippinsplugins commented on #1367
I vote that we don't show the field unless current user can manage affiliates.

[2016-06-22 14:29] pippinsplugins commented on #1267
@DrewAPicture in preparing to test this, I've realized a problem and am not sure how to get around it.

My test site is a multisite network with AffiliateWP activated on just some sites. This means that the `affwp` command is not registered unless it is network activated. That's not too big of a problem, so I went ahead and network activated it. Now I'm posed with a new issue: how do I define whic

[2016-06-22 14:39] pippinsplugins commented on #1267
Nevermind! I just learned about the `--url` parameter.

[2016-06-22 14:43] pippinsplugins commented on #1267
I'm slowly working through all commands and will list items as I find them.

First with the `affiliate` command. The `list` option should display all fields for the affiliate. Right now it is only `ID`, `user_login`, `earnings`, `referrals`, and `status`. We need to include payment email, name, visit count, and registration date.

[2016-06-22 14:45] pippinsplugins commented on #1267
With the `list` option, can we either make `ID` supported as a `--<field>=<value>` or show it as `affiliate_id` instead? Showing `ID` makes it appear that using ID would work, but it doesn't.
![screen shot 2016-06-22 at 9 43 40 am](https://cloud.githubusercontent.com/assets/1034109/16271028/fc3bcc28-385d-11e6-9962-437c703cdd51.png)

[2016-06-22 14:46] pippinsplugins commented on #1267
Passing `--format=ids` to `list` triggers a fatal error:

Catchable fatal error: Object of class AffWP\Affiliate could not be converted to string in phar:///usr/local/bin/wp/php/WP_CLI/Formatter.php on line 127

[2016-06-22 14:47] pippinsplugins commented on #1267
Regarding my [comment above](https://github.com/AffiliateWP/AffiliateWP/issues/1267#issuecomment-227766267) about the fields displayed, I just realized the other fields are optional. I'd like to make them all shown by default. It's more likely that someone will want to have all fields by default but still have support for just some fields, just like most queries in WordPress.

[2016-06-22 14:50] pippinsplugins commented on #1267
`wp affwp affiliate create test --payment_email=test@tester.com --rate=30 --status=active` triggers an undefined offset:

Notice: Undefined offset: 4 in phar:///usr/local/bin/wp/php/WP_CLI/DocParser.php on line 124

[2016-06-22 14:54] DrewAPicture commented on #1267
@pippinsplugins What version of wp-cli are you running?

[2016-06-22 14:58] pippinsplugins commented on #1267
Latest, 0.23.1

[2016-06-22 15:36] DrewAPicture commented on #1267
@pippinsplugins OK, following up here, mid-thread.

and

I'll start working on both of these for !#allthethings

`--ID=#` should work now for all four.

This should work now for listing all four. No fatal even.

I fixed a typo in the command docs, can you retest to see if you still get that notice?

[2016-06-22 21:12] pippinsplugins commented on #1342
@michaelbeil I've just deactivated the key so you can test it now.

[2016-06-22 22:51] DrewAPicture commented on #1267
@pippinsplugins : Per your “I want all the fields” comment(s), that’s doable with some things, but kinda ¯\_(ツ)_/¯ with others. IMO, some information is more relevant to general use. For instance:

* **Affiliates:** It’s inherently more informative to list the `user_login` than the `user_id`. Easy enough to accomplish for display.
* **Creatives:** We can show all fields.
* **Referrals:** I’ve expo

[2016-06-22 23:51] sumobi commented on #1367
Yep that entire "AffiliateWP" section should be hidden to a normal user

[2016-06-22 23:57] michaelbeil commented on #1367
Sounds good to me.

[2016-06-23 00:17] michaelbeil commented on #1342
I cannot create a referral that is calculated based off of the trial period when using an affiliate coupon.

We should also account for trials being used within a membership as well.

Any good news on your end @DrewAPicture?

[2016-06-23 02:21] ramiabraham commented on #1335
It was decided that a private repo would be used instead of moving files into `/bin`.

----

When committing docs to core, we could:

- Create a branch as a child of the release for which the docs update is intended, for example:
    `release/1.9/docs` with a base of `release/1.9`
- Create an explicit branch hierarchy for docs _alone_, for example:
    `docs/1.9`
- We could just add and commit doc

[2016-06-23 02:21] michaelbeil commented on #1343
Yep. I can test in the morning.

[2016-06-23 14:02] pippinsplugins commented on #1335
I think I like `docs/1.9` best.

[2016-06-23 14:17] michaelbeil commented on #1335
docs/1.9

[2016-06-23 14:27] ramiabraham commented on #1335
Same here; `docs/1.9` it is.

[2016-06-23 16:04] pippinsplugins commented on #1119
Just pushed a couple of minor changes to https://github.com/AffiliateWP/AffiliateWP/pull/1368. Once tests pass, we can merge.

[2016-06-23 18:15] pippinsplugins commented on #1267
Creatives: I'm fine not showing all fields for this one.

[2016-06-23 18:20] michaelbeil commented on #1119
Looks good.

[2016-06-23 18:22] michaelbeil commented on #1119
New PR: #1368

[2016-06-23 21:16] ramiabraham commented on #1335
ℹ️  When running `./affwp-docs`, please make sure to switch your affiliate-wp branch to 1.9.

Docs won't be rolled in (officially) until then. `affwp-docs` purposely fails if the directories `affiliate-wp/docs` and `affiliate-wp/docs/supplemental` directories do not exist, instead of creating them, as it did in an earlier version.

_(These directories were added to AffiliateWP core in https://gith

[2016-06-23 21:51] michaelbeil commented on #1367
Works perfectly.

[2016-06-23 23:20] michaelbeil commented on #1343
This seems to have broken the RCP integration.

[2016-06-23 23:22] michaelbeil commented on #1343
All works well on `master`.

[2016-06-24 01:17] ramiabraham commented on #1335
The first pass of 1.9 docs are pushed, and located at: https://github.com/AffiliateWP/AffiliateWP/tree/docs/1.9/docs

----

The content is pretty sparse, as we don’t have any supplemental docs quite yet.

Will change data source to json, which avoids the need for this stack of string manipulations: https://github.com/AffiliateWP/affwp-docs/blob/master/affwp-docs#L510, provides a notable performanc

[2016-06-24 01:56] pippinsplugins commented on #1335
Looking good. Let's move ahead with HS side.

[2016-06-24 06:53] worldtravlr commented on #1256
Love the milestones idea and cool about creatives being added to the graph!  Maybe A/B testing could be introduced for creative in the future and then that could be graphed out as well :-)

[2016-06-24 14:24] #1367 closed

[2016-06-24 14:25] #1119 closed

[2016-06-24 17:31] DrewAPicture commented on #1342
@michaelbeil Took me a while to track down what was ultimately a missing `!` in the `is_valid_affiliate()` check for retrieving the affiliate ID for the coupon used.

I've pushed up the fix for the reversed logic and managed to successfully generate referrals at the expected amounts for trial coupons, regular coupons, and regular non-coupon sales. Please re-test!

[2016-06-24 18:36] DrewAPicture opened #1370 "Global debug mode"
It would be nice if we could set a constant to globally-enable debug mode. Simplest way to accomplish this with full back-compat would be to usurp the value of the `debug_mode` setting when it's retrieved.

[2016-06-24 18:38] pippinsplugins commented on #1370
:+1:

On Fri, Jun 24, 2016 at 1:36 PM, Drew Jaynes <notifications@github.com>
wrote:

[2016-06-24 18:42] DrewAPicture commented on #1370
Added a PR: #1371

* Usurps the value of the `debug_mode` value when retrieved
* Disables the setting in the 'Misc' tab with a helpful message:

![Disabled setting](http://cl.ly/0W3I0e252O0f/Screen%20Shot%202016-06-24%20at%2012.41.28%20PM.png)

* Introduces a new setting argument, 'disabled' that might be reused in the future (see #1229)
* Introduces a helper method: `is_setting_disabled()` for us

[2016-06-24 19:11] DrewAPicture commented on #1370
Added a unit test.

[2016-06-24 19:26] michaelbeil commented on #1370
This is nice.

[2016-06-24 21:36] michaelbeil commented on #1342
Oh, this works wonderfully, by the way. I tested several times earlier.

Testing on a customer site now.

[2016-06-24 21:43] pippinsplugins commented on #1342
Excellent. Once it's confirmed on the customer site, let's merge.

[2016-06-24 21:54] pippinsplugins commented on #1370
Works perfectly!

[2016-06-24 21:54] #1370 closed

[2016-06-25 15:17] DrewAPicture opened #1372 "Standardize default value for $affiliate in affiliate functions"
With the new objects introduced in #1184 and #1301, most of the standalone affiliate functions now optionally accept an `$affiliate` object or ID, defaulting to the current affiliate. Per comments from @pippinsplugins, we should standardize on `0` as the default value.

[2016-06-25 15:45] DrewAPicture commented on #1372
Added a PR: #1373

[2016-06-25 19:08] michaelbeil commented on #465
Another: https://secure.helpscout.net/conversation/219280412/36845/?folderId=205529

[2016-06-25 19:24] DrewAPicture commented on #1372
Merged #1373.

[2016-06-25 19:24] #1372 closed

[2016-06-25 19:38] DrewAPicture commented on #1089
This was indirectly fixed in 1.8.2 when we ensured that all core objects get updated or inserted with unslashed data. The fix for the customer would be to make sure they're on at least 1.8.2 and then re-save any items currently outputting slashed data.

[2016-06-25 19:38] #1089 closed

[2016-06-25 19:44] DrewAPicture commented on #1068
I agree with @pippinsplugins that the current status can easily be determined with `affwp_get_affiliate_status()`.

[2016-06-25 19:44] #1068 closed

[2016-06-25 19:48] DrewAPicture commented on #991
This has been possible since 1.8 at least where I know we added username search support.

[2016-06-25 19:48] #991 closed

[2016-06-25 20:17] DrewAPicture commented on #872
Added a PR: #1374

**Before:**

![Old table](http://cl.ly/3j0i3z2z031J/Screen%20Shot%202016-06-25%20at%202.17.02%20PM.png)

**With PR:**

![Visit Date column](http://cl.ly/1z210t18202D/Screen%20Shot%202016-06-25%20at%202.01.50%20PM.png)

[2016-06-26 00:36] michaelbeil commented on #1024
Admin is being worked on in #1065.

[2016-06-26 00:37] michaelbeil commented on #1065
Adding a tracking UI to the affiliate dashboard is being handled in #1024.

[2016-06-26 00:39] michaelbeil commented on #1024
@pippinsplugins should we include this in 1.9 since it fits in with 1065 so nicely?

[2016-06-26 03:21] worldtravlr commented on #1115
Attached is an updated version of this plugin.  Hope it helps.  Still would need EDD integration, but WC integration is solid from our testing and use thanks to @tubiz :-)

[affiliatewp-referral-export-addon-v4.0.1.zip](https://github.com/AffiliateWP/AffiliateWP/files/333408/affiliatewp-referral-export-addon-v4.0.1.zip)

[2016-06-27 04:43] ramiabraham commented on #1065
There's an iteration of both campaign filters in various `WP_List _Table`s, and a campaign-specific view in #1076, although the campaign admin UI is quite simple as it is now.

[2016-06-27 16:35] DrewAPicture commented on #668
Adding this to 1.9 since we're bumping to 4.4 minimum.

[2016-06-27 16:41] #872 closed

[2016-06-27 16:45] DrewAPicture commented on #1342
@michaelbeil Any update on the customer confirmation?

[2016-06-27 17:00] ramiabraham commented on #757
https://secure.helpscout.net/conversation/219936227/36932/?folderId=205524

[2016-06-27 18:29] michaelbeil commented on #1342
@DrewAPicture mentioned:

1. Affiliate URL + coupon, a visit will be generated, a pending referral will be generated on initial form, unpaid on completion. Referral will use coupon amount to calc commission.
2. Coupon, a visit ​_will not_​ be generated, a pending referral will be generated on initial form, unpaid on completion. Referral will use coupon amount to calc commission
3. Affiliate URL, a

[2016-06-27 19:30] michaelbeil opened #1375 "MemberPress: Affiliate URL-only commissions do not work when a membership is set to recurring"
If a membership is purchased with:

1. Affiliate URL + coupon, a visit will be generated, a pending referral will be generated on initial form, unpaid on completion. Referral will use coupon amount to calc commission.
2. Coupon, a visit ​will not​ be generated, a pending referral will be generated on initial form, unpaid on completion. Referral will use coupon amount to calc commission
3. Affiliat

[2016-06-27 19:30] michaelbeil commented on #1342
I am going to create a new issue per my last comment.

See #1375.

[2016-06-27 19:38] michaelbeil commented on #1342
The current implementation in `issue/1342` fixes the trial period issue.

[2016-06-27 19:44] DrewAPicture commented on #1342
Merged #1366 for 1.8.3.

[2016-06-27 19:44] #1342 closed

[2016-06-27 23:55] sumobi opened #1376 "Show affiliates payout information in Affiliate Area"
It would be nice for affiliates to see their payouts from within the Affiliate Area somewhere.

- Amount
- Payment Type
- Date transferred
- Status

[2016-06-27 23:57] sumobi commented on #1376
Related: https://github.com/AffiliateWP/AffiliateWP/issues/471

[2016-06-28 01:16] worldtravlr commented on #1024
Thanks @michaelbeil.

Just a bit more insight on this issue.  While I think sortable and filterable columns would be awesome, If there is a not time for the for 1.9, one possibly quicker idea would be to have the ability to make the columns not sort themselves dynamically and just become fixed maybe based on order of campaign creation/first hit.  Hope that helps.

[2016-06-28 02:05] michaelbeil commented on #1024
Thanks for sharing @worldtravlr.

[2016-06-28 02:55] pippinsplugins commented on #1229
@DrewAPicture this seems to work perfectly, with one caveat: while it is possible to deactivate a license, it automatically reactivates on the next page load.

I see two options for it:

1. Do not show `Deactivate` license if globally defined
2. Store a special status if the license key is deactivated when globally defined and only auto activate if this status is not set.

[2016-06-28 03:19] michaelbeil opened #1378 "Rename affwp-affiliate-dashbaord-visits"
In #872 we introduced a new column to the visits table and thus added some CSS to style the column appropriately. However, the id selector should be #affwp-affiliate-dashboard-visits  as opposed to #affwp-affiliate-dashbaord-visits.

[2016-06-28 05:25] DrewAPicture commented on #1229
Yeah, it's basically in an incomplete state, so both of those points (and
some other small things) need to be addressed yet.
On Jun 27, 2016 8:55 PM, "Pippin Williamson" <notifications@github.com>
wrote:

[2016-06-28 12:45] pippinsplugins commented on #1229
Ah ok, otherwise it worked great!

On Tuesday, June 28, 2016, Drew Jaynes <notifications@github.com> wrote:

[2016-06-28 14:03] pippinsplugins commented on #1378
Fixed in https://github.com/AffiliateWP/AffiliateWP/pull/1377

[2016-06-28 14:03] #1378 closed

[2016-06-28 17:53] michaelbeil opened #1380 "Integration with WPForms"
WPForms is an up and coming forms plugin that would seem befitting for AffiliateWP to support: https://wpforms.com.

We could then create an Affiliate Forms for WPForms add-on that would allow users to use a WPForm for affiliate registration.

[2016-06-28 18:32] DrewAPicture commented on #1229
@pippinsplugins OK, give this another test.

Per yesterday's [feedback](https://github.com/AffiliateWP/AffiliateWP/issues/1229#issuecomment-228934910), I've made activating and deactivating a conscious decision. The field will always be populated with the global key if it's defined, but imo the user should be able to activate or deactivate whether it's defined or not.

[2016-06-28 19:47] sumobi commented on #1380
We should definitely check it out and look into a proper integration.

[2016-06-28 20:50] ramiabraham commented on #1225
Ready for review (except for screen options saving meta box positions; in progress).

[2016-06-28 21:39] sumobi opened #1381 "Onboarding process"
It would be nice to have an onboarding process, similar to that of WooCommerce for example. As soon as AffiliateWP is installed we can run the customer through any necessary steps to get AffiliateWP up and running quickly. It would be divided into sections eg:

1. Selecting an integration
2. Configuring referral rate
3. etc

Once done, we can port over to EDD and RCP

[2016-06-28 21:43] michaelbeil commented on #1381
For reference:
https://github.com/woothemes/woocommerce/blob/master/includes/admin/views/html-notice-install.php
https://github.com/woothemes/woocommerce/blob/master/includes/admin/class-wc-admin-setup-wizard.php
https://github.com/woothemes/woocommerce/blob/master/includes/admin/class-wc-admin-help.php#L220

[2016-06-29 00:34] sumobi opened #1382 "Add referral URL to edit affiliate screen"
It can be difficult for some site owners to work out what a specific affiliate's referral URL is.

Adding a `Referral URL` row to the edit affiliate screen could be a good idea. This will allow the admin to quickly copy and paste it if they need to give it to the affiliate.

The Referral URL could simply be a text link (a disabled input field doesn't allow for copy and paste) and it would be const

[2016-06-29 17:53] pippinsplugins commented on #1229
Works great! Just one comment about the pre registered settings action (see PR).

[2016-06-30 04:06] neilgee opened #1384 "wp_affiliate_wp_campaigns DB error on Export/Import"
Am getting a db error when importing a db with some AffiliateWP tables...

![screen shot 2016-06-30 at 2 03 44 pm](https://cloud.githubusercontent.com/assets/2056045/16476537/aa152d1c-3ecb-11e6-8b5f-d9496c6d6424.png)

db has been repaired and optimised - plugins are up to date, latest WP.

Any thoughts

[2016-06-30 10:53] AiratHalitov opened #1385 "Table aligment in Affiliate area in visits tab"
That screenshot in page EXAMPLE.COM/affiliate-area/?tab=visits
https://yadi.sk/i/8HZWTuPlsuG7r

That screenshot in BuddyPress member affiliate tab in page EXAMPLE.COM/members/USERNAME/affiliate-area/affiliate-visits/ (AffiliateWP BuddyPress plugin)
https://yadi.sk/i/YnhqNHrdsuGET

Wordpress 4.5.3
BuddyPress 2.6.1
Boss theme 2.2.0
AffiliateWP 1.8.3
AffiliateWP BuddyPress 1.3

[2016-06-30 14:39] pippinsplugins commented on #1384
@neilgee That's happening because the `campaigns` "table" is not a table, it's a [view](http://dev.mysql.com/doc/refman/5.7/en/create-view.html). Since it's a view, the user that is performing the import needs to have super privileges in order to create it.

Give your user super privileges and the issue should go away.

[2016-06-30 17:47] pippinsplugins commented on #1385
@AiratHalitov what's your screen resolution? I believe that's an issue with the size of the screen and lack of responsiveness.

[2016-06-30 19:17] DrewAPicture commented on #1229
@JanThiel This will ship with the 1.9 release.

Essentially what we did was two-fold:

1. Made activation and deactivation a conscious choice, meaning that you can globally supply the license key via the constant, but you still have to click Activate or Deactivate. Auto-activation can be made to be intuitive, but generally it's annoying.

![Global license](http://cl.ly/0o2r3R0c2i1K/Screen%20Shot%2

[2016-06-30 20:02] michaelbeil opened #1386 "Add an option to flat rate to award a referral based on the checkout total"
It would be great to add a dynamic option that only appears when flat referral rate type and a supported integration are enabled, which allows a site owner to enable flat rate on a checkout total, instead of a product total.

Right now, this is what happens with WooCommerce for an example:
1. Enable a flat rate of $5
2. Enable the WooCommerce integration
3. Navigate t o the site via an affiliate l

[2016-07-01 01:57] sumobi opened #1387 "Rename "Notify Admins" email option"
Our "Notify Admins" option (including the description) is quite misleading, since it only sends an email 1 to admin, the email set from Settings -> General. I vote we change this to "Notify Admin" and update the description accordingly.

<img width="589" alt="screen shot 2016-07-01 at 1 55 18 pm" src="https://cloud.githubusercontent.com/assets/52581/16509699/966052ce-3f93-11e6-91ce-77c4cdb73c64.pn

[2016-07-01 02:00] sumobi opened #1388 "{review_url} or similar"
PR: #1424

I'd like to propose a new email tag that would be used only in the admin notification email.

This email tag would provide a link in the email that the admin can click on, and will take them directly to the "review" screen of the affiliate that is pending approval.

It could be called {review_url} or similar and only show if affiliate approval is enabled.

[2016-07-01 02:16] neilgee commented on #1384
@pippinsplugins ok thanks, so if you don't have root access to the account this will be an issue.

[2016-07-01 03:02] michaelbeil commented on #1384
@neilgee You do not necessarily need root access, but you will need to add the privileges to create a view like `Create_view_priv` and `Super_priv ` as shown here: [Privileges Provided by MySQL](http://dev.mysql.com/doc/refman/5.7/en/privileges-provided.html).

Here's a paragraph that might help bring some guidance from the above doc @pippinsplugins mentioned called [CREATE VIEW Syntax](http://dev

[2016-07-01 06:22] michaelbeil commented on #1388
Seems pretty handy to me.1

[2016-07-01 06:22] neilgee commented on #1384
@michaelbeil thanks for the input

[2016-07-01 08:04] cklosowski opened #1390 "Incorrect colspan on Affiliate Dashboard visits when no visits present"
Currently when no visits are present for an affiliate in their dashboard the table is off by 1 column:
![screen shot 2016-07-01 at 1 02 22 am](https://cloud.githubusercontent.com/assets/1390124/16515596/c0de99dc-3f27-11e6-8b22-afbc836b945b.png)

Just needs to have an updated `colspan` attribute here. It's set to `3` but there are `4` columns:
`<td colspan="3">You have not received any visits yet.<

[2016-07-01 09:37] AiratHalitov commented on #1385
1366*768.
On first screenshot i zoom out page.
That is not lack of responsiveness, that is bug with table html code.
I think that i don't seen this bug in previous versions of AffiliateWP (meybe 2 or 3 update before)

[2016-07-01 09:55] AiratHalitov commented on #1385
@pippinsplugins that the same bug https://github.com/AffiliateWP/AffiliateWP/issues/1390

[2016-07-01 13:12] ramiabraham opened #1391 "Storefront add-on"
This thread tracks activity relating to the store-front add-on, in the interest of gauging a minimum threshold for development consideration.

[2016-07-01 13:12] ramiabraham commented on #1391
https://secure.helpscout.net/conversation/221967641/37256/?folderId=205524

[2016-07-01 13:53] ramiabraham opened #1392 "Provide a feature for all creatives-related media to be exported as a .zip archive by Affiliates"
Many sites offer affiliates the option to download all media associated with affiliate promotion in one action. It'd be cool to provide this feature, so that any affiliate can download _everything_ all at once, instead of manually copying each image.

One option is to:

- Loop through all creatives and get attachments for each.
- Insert each attachment url into an array.
- Use PHP's `ZipArchive` c

[2016-07-01 15:17] #1384 closed

[2016-07-01 15:18] #1387 closed

[2016-07-01 15:20] pippinsplugins commented on #1385
Ah! We'll get that fixed.

[2016-07-01 15:21] pippinsplugins commented on #1385
I'm going to close this issue. We'll fix in #1390

[2016-07-01 15:21] #1385 closed

[2016-07-01 15:23] pippinsplugins commented on #1392
I like this idea.

I'd vote for only including the media files. Putting HTML into an archive doesn't really provide much benefit since that exact HTML can be copied directly from the affiliate area.

[2016-07-01 15:49] DrewAPicture commented on #1267
@pippinsplugins I went ahead and made the `description` and `text` fields optional for listing creatives. I've addressed all of your other feedback, fixed a broken test, and aliased `WP_CLI\Utils` to make the `get_flag_value()` calls slightly shorter.

[2016-07-01 16:06] michaelbeil commented on #1384
You bet!

[2016-07-01 16:33] DrewAPicture commented on #1390
Added a PR: #1393

Will merge once tests pass.

[2016-07-01 18:34] DrewAPicture commented on #1375
Added a PR: #1394

@michaelbeil If you have a few minutes, could you please test all the permutations of recurring memberships, including with trials (at the membership level) and coupons and such?

[2016-07-01 18:48] #1390 closed

[2016-07-01 20:32] #1375 closed

[2016-07-01 20:34] michaelbeil commented on #71
I think this is good to close out.

[2016-07-01 20:34] #71 closed

[2016-07-01 20:46] michaelbeil commented on #1391
Closing this in favor of this Trello card: https://trello.com/c/m20EWzzT/149-storefront.

[2016-07-01 20:46] #1391 closed

[2016-07-01 21:01] michaelbeil opened #1395 "MemberPress: Reference ID link"
Currently, when a referral is created via MemberPress, the reference ID is linked to the transactions list screen with an added search query of the ID appended to the admin URL. I think it would be better to link directly to the individual transaction instead of the transactions list.

Let us say there was a referral with a reference ID of 24.

Currntly the reference ID column is linked to: http:/

[2016-07-01 21:47] michaelbeil opened #1397 "Add Tunisian Dinar"
I received a request for the Tunisian Dinar. Is this a currency we want to add?

[2016-07-02 03:23] #1397 closed

[2016-07-02 03:23] #1395 closed

[2016-07-02 16:57] michaelbeil commented on #311
Another: https://secure.helpscout.net/conversation/222402452/37311/?folderId=205529

[2016-07-02 21:44] michaelbeil opened #1399 "Add Chinese (Taiwan) translation"
Thanks to Jackson Huang for the translation.

[2016-07-03 01:48] wordmaid opened #1401 "Zippy Courses: referrals generated via subscription payments set to "Pending""
@jwondrusch @ejonasson

A customer is experiencing an issue whereby referrals generated for her course via a subscription payment are set to Pending status, versus single payment (lump sum) referrals which are correctly set to Unpaid status. I've been able to replicate this locally when testing, and have been using Zippy Courses version 1.2.4 (same as the customer) with AffiliateWP version 1.8.4.

[2016-07-05 14:41] #1399 closed

[2016-07-05 15:09] pippinsplugins commented on #1267
Looks like the `details` command has not been finished yet. Just noting it to make sure it's not forgotten:
[code]

[2016-07-05 15:10] pippinsplugins commented on #1267
@DrewAPicture The `list` command is giving me an `Invalid field: ID` error for all command types.
[code]

[2016-07-05 17:41] DrewAPicture commented on #1267
@pippinsplugins Listing is fixed in the latest commit. Had to do with removing the non-magic-magic `ID` properties previously. I'll work on the `details` command.

[2016-07-05 18:39] JanThiel commented on #1229
Hey @DrewAPicture, thanks for the work! And sorry for getting back so lately to you with any kind of reply... Still in WordCamp Europe aftermath mode...

As this is solving the general configurability via wp-config it does not solve the scalability aspect I initially had in mind (see in my initial post). So again there is UI interaction necessary to enable a license. That doesn't work for automati

[2016-07-05 18:48] pippinsplugins commented on #1229
We can definitely still consider adding in automatic activation but I think we should go ahead and split that off into a new issue where we can discuss the implementation.

[2016-07-05 18:53] JanThiel commented on #1229
Will do that Pippin. Already thought about that...

[2016-07-05 19:06] JanThiel opened #1402 "Add option to auto activate license if configured in wp-config"
As a follow up to https://github.com/AffiliateWP/AffiliateWP/issues/1229

If the license key is set in wp-config.php, you should be able to activate an option also in wp-config.php to allow Auto Activation for licenses. This should allow automatic deployments of AffiliateWP without the need for any UI interaction.
The License UI section should not be visible in the admin UI as it is not neccesary

[2016-07-05 19:59] pippinsplugins commented on #1267
@DrewAPicture working now.

Only thing I see missing now is the name of affiliates in the affiliate command. It shows in the `referral` command but not `affiliate`.

[2016-07-05 20:22] DrewAPicture commented on #1267
`name` support was added for `wp affwp affiliate list` in 982ac82.

[2016-07-05 20:23] DrewAPicture commented on #1267
9940a8a fleshed out the `wp affwp details` command:

![details command](http://cl.ly/0P1N14460r3O/Screen%20Shot%202016-07-05%20at%201.58.41%20PM.png)

[2016-07-05 21:58] pippinsplugins commented on #1267
@DrewAPicture the `details` command doesn't seem to be working for me. It shows some settings but most are always blank.
![screen shot 2016-07-05 at 4 57 58 pm](https://cloud.githubusercontent.com/assets/1034109/16601351/acae2cfe-42d1-11e6-92d4-f6305d1ea022.png)

This is in a multisite instance but it doesn't seem to matter which URL I specify.

[2016-07-05 22:09] DrewAPicture commented on #1267
@pippinsplugins Hmm, that's really weird, cause we aren't doing anything special, just pulling directly from settings. Here's my output specifying a site:

![sub-site output](http://cl.ly/2703393n3N0x/Screen%20Shot%202016-07-05%20at%204.06.58%20PM.png)

[2016-07-05 22:14] DrewAPicture commented on #1267
Also worth noting that several of those have fallbacks so at the very least it should be showing the fallbacks. Could you possibly try also passing `--debug` to the call and pasting the log?

[2016-07-05 23:44] michaelbeil opened #1403 "MarketPress: Reference link in 3.x"
This is how the order screen was being shown before:

@DrewAPicture:

We need to account for the new admin URL, which uses the default post editor for MarketPress orders when linking a reference ID from the referrals screen.

Old:
`$url = admin_url( 'edit.php?post_type=product&page=marketpress-orders&order_id=' . $reference );`

Proposed:
`$url = admin_url( 'post.php?post=' . $reference . '&action

[2016-07-05 23:48] michaelbeil opened #1404 "MarketPress: `mp_order_trashed` causes a fatal when `revoke_referral_on_delete` is enabled"
`mp_order_trashed` throws a fatal when `revoke_referral_on_delete` is enabled and any post (not just an order or a product) is trashed.

Current:
`add_action( 'trash_mp_order', array( $this, 'revoke_referral_on_delete' ), 10, 2 );`

Proposed:
`add_action( 'trash_mp_order', array( $this, 'revoke_referral_on_delete' ) );`

[2016-07-05 23:54] DrewAPicture commented on #1404
Added a PR: #1406

[2016-07-05 23:56] DrewAPicture opened #1407 "MarketPress 3.x: Product descriptions don't carry through"
With the introduction of objects in the 3.0 rewrite, product descriptions are now stored differently than previously, thus we need to account for that.

[2016-07-05 23:58] DrewAPicture commented on #1407
Added a PR: #1408

[2016-07-06 01:01] michaelbeil opened #1409 "Appending referral variable to site URL redirects to blog archive"
When you append the referral variable onto the end of the site URL (e.g. test.com/ref), and you happen to have a slug of `ref` for a post or page, you are redirected to the blog archive page if your home page is set to a static page. This only happens with a _pretty affiliate link_. Non-pretty affiliate links do not exhibit this behavior (e.g. test.com/?ref).

**Proposal**:
- If there is no slug t

[2016-07-06 01:05] pippinsplugins commented on #1403
PR looks good once unit tests pass.

[2016-07-06 01:06] #1404 closed

[2016-07-06 01:07] pippinsplugins commented on #1407
Looks good once tests pass.

[2016-07-06 01:08] pippinsplugins commented on #1409
Moving to 1.9 since this is a minor issue that only happens when URLs are used incorrectly.

[2016-07-06 01:54] DrewAPicture commented on #1407
Tests passed. Merged #1408.

[2016-07-06 01:54] #1407 closed

[2016-07-06 06:45] #1403 closed

[2016-07-06 15:18] AiratHalitov opened #1410 "Missing class "visit-date" in file AffiliateWP-master/assets/css/forms.min.css"
Missing class "visit-date" in file AffiliateWP-master/assets/css/forms.min.css

https://yadi.sk/i/1udBgi-Qt4J6v (visits tab)

For example problem solved after replacing class "visit-date" on "referral-status"
https://yadi.sk/i/hhERGjpZt4J8e

[2016-07-06 15:40] michaelbeil commented on #1410
That is odd, the class `visit-date` is in /assets/css/forms.min.css.

What version of AffiliateWP are you using?

[2016-07-06 15:47] michaelbeil commented on #1402
Seems doable with the latest constant `AFFILIATEWP_LICENSE_KEY` that we added to branch `release/1.9`.

[2016-07-06 15:54] AiratHalitov commented on #1410
AffiliateWP 1.8.4
https://airat.biz/wp-content/plugins/AffiliateWP-master/assets/css/forms.min.css?ver=4.5.3

[2016-07-06 15:56] AiratHalitov commented on #1410
Where is class `visit-date`?
https://github.com/AffiliateWP/AffiliateWP/blob/master/assets/css/forms.min.css

[2016-07-06 16:52] michaelbeil commented on #1410
Ah, I see we missed minifying the new class in #1374.

[2016-07-06 17:41] DrewAPicture commented on #1402
I’m not inherently against some routine to auto-activate a globally defined license key. However, I have some concerns about the quality of the user experience in cases where:

1. The key isn't valid for whatever reason
2. The license check happens and it fails.

Defining a constant to trigger a behavior like auto-activation is tough because there’s no feedback if it fails. And if we’re hiding the

[2016-07-06 20:14] michaelbeil opened #1412 "Introduce tooltips for better contextual help"
To help reduce support, we should introduce inline, contextual tooltips throughout AffiliateWP per [RCP](https://github.com/restrictcontentpro/restrict-content-pro/issues/518) and [EDD](https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4641).

We can use jQuery UI Tooltip which is included in WordPress core and simply port over what has been done in [EDD](https://github.com/eas

[2016-07-06 20:22] michaelbeil opened #1413 "Add system info report to help with tech support"
Like we have in EDD and [RCP](https://github.com/restrictcontentpro/restrict-content-pro/issues/330), it would be nice to have a system info report to help with troubleshooting issues. Items that would be useful (feel free to add any I miss):

- Site info (URLs under Settings > General, and whether it's multisite)
- WP config (version, language, permalink structure, memory limit, multisite, etc.)

[2016-07-06 20:56] #1410 closed

[2016-07-06 21:41] michaelbeil opened #1414 "Improve build script"
We should include both admin.css and forms.css when running the `grunt cssmin` command. It would also be good to add `cssmin` to the `grunt build` task.

[2016-07-06 21:51] michaelbeil opened #1416 "Update Russian translation"
Props Ilshat Bayturin.

[2016-07-06 23:27] michaelbeil opened #1418 "Author name has an extra comma in the plugins dashboard"
![screen shot 2016-07-06 at 6 24 42 pm](https://cloud.githubusercontent.com/assets/4752949/16637781/f830f2da-43a6-11e6-8d75-37ac8e9637f0.png)

[2016-07-07 07:05] sumobi commented on #1418
Hmm I'm not seeing this on latest master

![screen shot 2016-07-07 at 7 05 31 pm](https://cloud.githubusercontent.com/assets/52581/16645119/cc02ef22-4475-11e6-8ae6-332f5e2923f3.png)

[2016-07-07 07:05] sumobi commented on #1414
👍

[2016-07-07 13:34] ejonasson commented on #1401
@wordmaid I was able to replicate this as well. We'll aim to get you a fix for this before the weekend, early next week at the latest. Thanks!

[2016-07-07 15:59] pippinsplugins commented on #1401
@ramiabraham could you please test the attached PR?

[2016-07-07 19:00] michaelbeil commented on #757
GF request: https://secure.helpscout.net/conversation/224311071/37627/?folderId=205529

[2016-07-07 19:43] michaelbeil commented on #1418
Strange. All good here now.

[2016-07-07 19:43] #1418 closed

[2016-07-07 23:01] ramiabraham commented on #1225
All set here; ready for review.

[2016-07-07 23:04] ramiabraham commented on #1225
A note on my removing the reports page meta boxes; since this is slated for 1.9, and reports stuff for 1.9 greatly changes the reports area, creating meta boxes for this area here in #issue/1225 would just be removed later on. I'll leave those alone for now.

This makes it so that the only places in which core meta boxes are being used (as of https://github.com/AffiliateWP/AffiliateWP/commit/21fba

[2016-07-07 23:25] wordmaid commented on #1401
@ejonasson Awesome thanks!

[2016-07-08 06:54] DrewAPicture commented on #1225
@ramiabraham Can you create a proper PR? The only reference I can find is to a direct feature branch.

[2016-07-08 14:29] #1416 closed

[2016-07-08 14:48] ramiabraham commented on #1225
All set: https://github.com/AffiliateWP/AffiliateWP/pull/1420

[2016-07-08 17:18] flowdee commented on #989
@michaelbeil I built a plugin supporting this among other features: https://coder.flowdee.de/downloads/affiliatewp-advanced-payouts/

@pippinsplugins If you don't want the link here, just delete my comment please 😄

[2016-07-08 17:21] flowdee commented on #602
Are you already able to make some predictions about adding the payout log feature?

I need an invoice/statement addon as well and I'm willing to build it on my own but of course it would be preferable to wait until the payout logs are finished. Otherwise I might have to rebuild the addon which is not that good :)

[2016-07-08 17:57] michaelbeil commented on #989
Thanks for reminding us @flowdee. Looks great!

[2016-07-08 18:26] ramiabraham commented on #1106
Should be good; someone mind checking out the new PR? https://github.com/AffiliateWP/AffiliateWP/pull/1421/

[2016-07-08 18:34] ramiabraham opened #1422 "Add nonces for meta-box open/close state and order automatically to each screen ID"
WP requires nonces to be set for each screen in which you'd like to save the open/close state or a meta box, as well as for their position/order.

Those nonces are `closedpostboxes` and `meta-box-order`.

An example: https://github.com/AffiliateWP/AffiliateWP/blob/issue/1225/includes/admin/overview/overview.php#L54-L55

What we could do is_automatically_ add these to every AffiliateWP admin page i

[2016-07-08 18:37] ramiabraham commented on #1225
_(Related proposal to automatically add meta box nonces to all admin pages: https://github.com/AffiliateWP/AffiliateWP/issues/1422)_

[2016-07-08 20:00] pippinsplugins commented on #1106
@ramiabraham Is there a particular reason there are so many language files changed with this PR?

[2016-07-08 21:00] DrewAPicture commented on #1106
@pippinsplugins @ramiabraham Should be fixed now in terms of files changed. Updated from `master`.

[2016-07-08 21:03] pippinsplugins commented on #1106
There we go! Thanks @DrewAPicture

[2016-07-08 21:07] pippinsplugins commented on #1106
@ramiabraham A couple of suggestions:

1. Let's put `class-ninja-forms-action-add-referral.php` inside of the `integrations/extras/` folder so it follows the same structure as other integrations that load more than just the main integration class. iThemes Exchange is an example of one.

2. `@since` tags should be updated from `1.8.4` to `1.8.6`.

3. `class-ninja-forms-action-add-referral.php` has

[2016-07-08 21:40] michaelbeil opened #1423 "Allow"
Let us say we have a product in traditional Chinese characters named 祖傳辣椒醬. This is the same as: %e7%a5%96%e5%82%b3%e8%be%a3%e6%a4%92s%e9%86%ac.

If you go to a product affiliate link, like http://test.dev/product/祖傳辣椒醬/ref/1, and make a purchase, a referral will be created just fine, however, the full URL will not show in the Overview, Visits, and Visits tab area. You will see a URL like this: ht

[2016-07-08 21:49] DrewAPicture commented on #1423
@michaelbeil Can you confirm that the URL is being saved as expected in the database? Does the full URL display in the visits table in the admin?

[2016-07-08 22:01] pippinsplugins commented on #602
The payout log feature will be included in 1.9.

[2016-07-10 01:53] pippinsplugins commented on #1388
Ready for testing.

[2016-07-10 02:05] pippinsplugins commented on #1308
Ready for testing!

[2016-07-10 02:28] pippinsplugins commented on #1216
Am I blind or does OptimizeMember not actually exist? Is it just part of OptimizePress?

[2016-07-10 02:53] pippinsplugins commented on #1075
Ready for testing!

Note: this depends on RCP 2.6.

[2016-07-10 02:57] pippinsplugins commented on #619
Closing this issue in favor of: https://github.com/AffiliateWP/affiliatewp-zapier

[2016-07-10 02:57] #619 closed

[2016-07-10 02:59] pippinsplugins commented on #311
Related #1216

[2016-07-10 04:59] sumobi commented on #1216
@pippinsplugins It's an additional plugin for OptimizeMember (see DropBox). It's a fork of S2Member.

[2016-07-11 18:23] pippinsplugins opened #1427 "WooCommerce: Move product rates to dedicated tab"
PR: #1428

WooCommerce 2.6 removed the `General` tab for variable products: https://github.com/woothemes/woocommerce/issues/11262

This has resulted in our product rate settings not being displayed when using variable products.

To resolve this and prevent possible future issues, I vote we move the settings to dedicated product tab.

[2016-07-11 18:24] michaelbeil commented on #1427
Agreed.

[2016-07-11 18:30] pippinsplugins commented on #1427
Ready for testing.

[2016-07-11 18:33] michaelbeil commented on #1427
PR works great.
![screen shot on 2016-07-11 at 13-32-40](https://cloud.githubusercontent.com/assets/4752949/16742134/fc869f38-476b-11e6-86d8-78d225e4d568.png)

[2016-07-11 19:26] michaelbeil commented on #1423
The full URL is not being saved as expected in the database and does not display as expected in the visits table in the admin.

[2016-07-11 19:28] michaelbeil commented on #1423
The database saves and the visits table shows http://test.dev/product//.

[2016-07-11 19:40] pippinsplugins commented on #1216
@sumobi @michaelbeil ready for testing!

I would recommend testing with Stripe as that can be done locally (does not depend on webhooks for a real test even though their setup docs would indicate it does).

[2016-07-11 20:33] michaelbeil opened #1430 "Add a referral revoked note to purchase record upon refund"
If a user has the `Reject Unpaid Referrals on Refund?` option enabled, unpaid referrals are revoked when the purchase is refunded. It may be nice to add a note to the purchase record that states: `Referral #x has been revoked for AFFILIATENAMEHERE`. This would be similar to our note that we add when a referral is created: `Referral #28 for $7.70 recorded for affiliateA`.

We could add this to our

[2016-07-11 21:08] TimothyBJacobs commented on #1430
I'd be happy to add support for this for the Exchange integration if you'd like.

[2016-07-11 22:11] DrewAPicture commented on #1423
@pippinsplugins Note: If the characters are indeed not being saved with the URLs, this might be a possible side effect of running the `utf8` charset in our schema instead of `utf8mb4`.

[2016-07-12 02:31] pippinsplugins commented on #1423
Any reason for us to not just go ahead and convert it?

[2016-07-12 02:50] DrewAPicture commented on #1423
@pippinsplugins Other than introducing a schema change, not really a downside, imo.

We could probably use the core [maybe_convert_table_to_utf8mb4()](https://developer.wordpress.org/reference/functions/maybe_convert_table_to_utf8mb4/) helper to do it in a safe-ish way.

[2016-07-12 02:54] pippinsplugins commented on #1423
Let's do it.

[2016-07-12 03:00] DrewAPicture commented on #1423
I'll work on a PR.

[2016-07-12 09:00] sumobi commented on #1216
@pippinsplugins Can you outline some step by step instructions to test? I had no luck with my Stripe form, no referral was recorded.

1. Enabled OM integration
2. Set up Stripe in test mode + a payment form on a page
3. Purchased and no referral

![screen shot 2016-07-12 at 8 57 04 pm](https://cloud.githubusercontent.com/assets/52581/16761298/a48b4064-4873-11e6-9a7c-cd40f15824b6.png)

![screen sho

[2016-07-12 09:07] sumobi commented on #1216
Ok i got one to generate using the `Stripe Capability (Buy Now) Forms`

![screen shot 2016-07-12 at 9 05 57 pm](https://cloud.githubusercontent.com/assets/52581/16761499/80b5221c-4874-11e6-82bb-ad9c12487387.png)

Is that the only way to generate referrals with Stripe?

[2016-07-12 13:22] pippinsplugins commented on #1216
When it worked for me, I used the regular Stripe forms.

Now neither are working for me. Trying to track it down.

[2016-07-12 13:56] pippinsplugins commented on #1216
Well I can't make it work at all now. The payment notification simply is not processed. I've added additional debugging steps and they show very clearly why it's not working, I just can't find why it's not working yet.

@michaelbeil can you test it to see what behavior you get?

[2016-07-12 16:34] pippinsplugins commented on #1267
This is all working fine for me now. Going to chalk it up to ghosts in the machine.

[2016-07-12 16:36] pippinsplugins commented on #1267
I'm going to merge this into `release/1.9` then we can continue testing and making minor adjustments.

@ramiabraham @sumobi could you both give the commands a test before we close this out? See `wp affwp` for a list of commands.

[2016-07-12 16:51] pippinsplugins commented on #1267
Actually here's a command that doesn't seem to work right: ` wp affwp affiliate update 1 --status=inactive`

The status never changes.

[2016-07-12 16:57] pippinsplugins commented on #1267
Looks like it's actually due to `affwp_update_affiliate()` not supporting `status`.

[2016-07-12 19:07] sumobi commented on #1216
Dang

[2016-07-12 19:52] michaelbeil commented on #1216
I cannot even seem to set up a registration form for testing.

[2016-07-12 20:01] pippinsplugins commented on #1216
@michaelbeil what part is failing for you?

[2016-07-12 20:05] michaelbeil commented on #1216
All the parts? 😄

[2016-07-12 20:19] nhadsall opened #1431 "Call to undefined function affwp_get_pages"
Using ManageWP, we are getting this error when it tries to sync with the site. I assume it is similar to issue #1038

[2016-07-12 20:29] michaelbeil commented on #1216
Getting a `Network communication failure with Stripe; please try again.` notice.

[2016-07-12 20:50] ramiabraham commented on #1106
@pippinsplugins 💯, Updated as noted.

[2016-07-12 20:52] michaelbeil commented on #1431
Do you have any custom code to modify AffiliateWP that you are using?

[2016-07-12 20:56] nhadsall commented on #1431
Yes, two hooks:
remove_action( 'affwp_set_affiliate_status', 'affwp_notify_on_approval',
10, 3 );
add_filter( 'affwp_calc_referral_amount', array( $this,
'affwp_custom_per_product_per_affiliate_referral_amount'), 10, 5 );

*Nathan Hadsall*
President, Montessori By Mom
MontessoriByMom.com <http://www.montessoribymom.com/>
Cell: 408-239-6485
Work: 210-901-9210

Leadership Consultant and Speaker
Link

[2016-07-12 21:44] pippinsplugins commented on #1431
See https://github.com/AffiliateWP/AffiliateWP/issues/1038

[2016-07-12 23:46] DrewAPicture commented on #1267
@pippinsplugins 4182868 adds status support to `affwp_update_affiliate()`

[2016-07-13 00:43] DrewAPicture commented on #1267
#1433 Proposes a command to dump out the contents of the debug log.

[2016-07-13 05:11] sumobi commented on #182
Closing this since we have query string affiliate links, pretty affiliate links, custom slugs and now direct link tracking

[2016-07-13 05:11] #182 closed

[2016-07-13 05:20] flowdee opened #1434 "Centralized AffiliateWP server + client sites (Pro Addon?)"
When running multiple projects you have to setup all your affiliate programs on each of the projects. This can be really annoying and labor-intensive.

Multiple times I thought about the following case: What about installing AffiliataWP in a _centralized_ WordPress installation. Affiliates can signup there and promote all of your connected "client" projects. Of course on the clients side there mus

[2016-07-13 13:38] pippinsplugins commented on #1434
I _love_ this idea and would really like to explore the possibilities here.

[2016-07-13 14:43] flowdee commented on #1434
In fact you install AffiliateWP on all sites and via settings you might select "client" or "server" mode. Then the server must be added via url for example.

The main _challenge_ in my opinion would be: _how to share the users and their unique referral ids?_

1. Registration on server installation only?
2. Registration on client installations only?
3. Registration on both possible?

All data like

[2016-07-13 14:59] DrewAPicture commented on #1434
REST API :)

Doing something like this will be significantly easier once we introduce REST endpoints, which are slated for the 1.9 release.

[2016-07-13 15:03] pippinsplugins commented on #1225
Looking good! Drag and drop with save now works perfectly.

A few things I've found:

1. There is still CSS left over from the reports issue branch: https://github.com/AffiliateWP/AffiliateWP/pull/1420/files#diff-d1caebe36bbae5520fb7ef26f2e7db1dR176

2. The `assets/js/jquery.flot.navigate.js` file is left over from the reports issue branch.

3. Metaboxes are output with `do_meta_boxes( 'toplevel_p

[2016-07-13 15:29] pippinsplugins commented on #1106
I still have not been able to get upgraded to NF 3.0. Once I do, I can test this.

[2016-07-13 18:47] ramiabraham commented on #1225
1, 2. Corrected

3. Yeah `toplevel_page_` is required by core; it appends stuff depending on context. for non-cpt plugin settings that have a top-level item defined, it does this (see other screen IDs, such as `toplevel_page_gf_edit_forms`)

4. I opted to _remove_ this option instead, if that works? Opted for this since the meta boxes auto-sort depending on screen size already.

5. Adjusted as not

[2016-07-13 18:47] pippinsplugins commented on #1106
@ramiabraham Finally got upgraded to 3 so I was able to test this.

Appears to work fine except for the referral description:
![screen shot 2016-07-13 at 1 46 33 pm](https://cloud.githubusercontent.com/assets/1034109/16815651/48e3ebf2-4900-11e6-9123-fc48c8b161ed.png)

[2016-07-13 18:52] pippinsplugins commented on #1225
3. Ok that's fine.

4. :+1:

5. Great, will review further later today.

[2016-07-13 20:43] ramiabraham commented on #1225
(As of https://github.com/AffiliateWP/AffiliateWP/commit/2b64760b746e0fc30d36972fdacc3926b65dea0a this branch is correctly reset against `release/1.9`)

[2016-07-13 23:44] ramiabraham commented on #1225
- namespaces added
- minor adjustment to inline docs formatting

[2016-07-13 23:54] DrewAPicture commented on #1423
Added a PR: #1435

Note: In addition to bumping the charset values and adding an upgrade routine, I also added a skip filter that allows bailing early as well logging that should might provide useful in the future.

[2016-07-14 00:57] pippinsplugins commented on #1423
PR merged! Love the debug logging!

@michaelbeil could you test the Chinese characters now?

[2016-07-14 00:59] pippinsplugins commented on #1225
Namespaces look good at first glance. Will test more tomorrow.

[2016-07-14 04:47] DrewAPicture commented on #316
It has begun. PR: #1436

[2016-07-14 13:09] pippinsplugins commented on #316
Looking good!

I think we should use `WP_REST_Response` when returning the data.

[2016-07-14 13:14] pippinsplugins commented on #316
We need to be sure that we introduce versioning from the beginning with this as well. The REST namespace is `affwp/v1` but I think it should go a little further than that.

I propose we add a `includes/REST/v1` folder that contains each of the routes. That way when it comes time to introduce `v2`, we simply add a second folder and do not need to worry about moving files (potentially breaking other

[2016-07-14 13:52] pippinsplugins commented on #1225
@ramiabraham Looks like something died in the JS. Dragging and opening / closing no longer works on the Overview page.

[2016-07-14 15:42] pippinsplugins commented on #1225
Looks good now.

The metabox base class is still loaded in overview.php. That should be removed so it's only loaded by the main plugin file.

I believe we can get rid of `require_once AFFILIATEWP_PLUGIN_DIR . 'includes/admin/overview/screen-options.php';` as well since we're not using screenshots anymore.

[2016-07-14 15:54] ramiabraham commented on #1225
- Removing that causes a class not found fatal for some reason, despite it being present in the main plugin file. Looking for the issue.

- Removing `includes/admin/overview/screen-options.php` will cause meta boxes not to open/close or be movable, as `postbox` in enqueued on this `$screen`.

[2016-07-14 16:43] michaelbeil commented on #1423
Sure thing!

[2016-07-14 16:57] pippinsplugins commented on #1184
@DrewAPicture quick reminder that we still need to add the following fields:

- email
- first_name
- last_name

[2016-07-14 17:04] pippinsplugins commented on #953
This doesn't happen to me. Closing as invalid now. Can re-open if we have additional reports or someone else replicates it.

[2016-07-14 17:04] #953 closed

[2016-07-14 17:14] pippinsplugins commented on #947
@sumobi ready for some testing.

[2016-07-14 17:17] ramiabraham commented on #1225
@pippinsplugins

- Opted to move the `postbox` enqueue to the scripts.php file (https://github.com/AffiliateWP/AffiliateWP/pull/1420/commits/3dd69815736bcaf61489cd8b9933a3f2feb4ac81).

- Traced the `require` error to the `WP_CLI` wrapper in use in the main plugin file:

[code]

Placing it in there causes a fatal. Moved it to its' own `is_admin` check just above that (https://github.com/AffiliateWP

[2016-07-14 17:20] pippinsplugins commented on #854
Just thought of another way to do this.

We could automatically detect PayPal forms on a page using JS and intercept the submission of those forms. If affiliate cookies are present, we create a pending referral and then complete it via the IPN processing.

[2016-07-14 17:21] pippinsplugins commented on #611
I'm trying to remember what all we discussed this class handling. @sumobi do you remember?

[2016-07-14 17:22] pippinsplugins commented on #500
Closing as wontfix since we decided it was not possible for us to build a full integration with Wish List.

[2016-07-14 17:22] #500 closed

[2016-07-14 17:27] pippinsplugins commented on #503
Need to check but I'm pretty sure this is no longer necessary with Recurring Payments 2.4.

[2016-07-14 17:30] pippinsplugins commented on #503
Nevermind, it's still a problem.

[2016-07-14 17:34] pippinsplugins commented on #503
@sumobi @michaelbeil ready for testing.

[2016-07-14 17:35] pippinsplugins commented on #1225
@ramiabraham why does it trigger a fatal when inside the main is_admin() / CLI check? What's the error?

[2016-07-14 17:37] pippinsplugins commented on #131
@DrewAPicture as our main "core conventions" guy, do you have strong opinions one way or another on this?

[2016-07-14 17:38] pippinsplugins commented on #1155
Where would we add the no follow? Isn't `nofollow` supposed to be an attribute of the anchor tag?

[2016-07-14 17:56] ramiabraham commented on #1225
@pippinsplugins Class not found; wondering what I'm missing. I'm using a temporary dev environment at the moment (MAMP), so it doesn't have wp-cli, but I also don't see anything wrong with the logic in there that should cause the error, do you?

[2016-07-14 17:57] pippinsplugins commented on #1225
Can you give me the complete error message?

[2016-07-14 18:07] michaelbeil commented on #1155
It is. So, adding that as an option to our referral link may be difficult. We have only had one user request this.

We could perhaps add this to Creatives.

https://support.google.com/webmasters/answer/96569?hl=en

[2016-07-14 18:48] ramiabraham commented on #1106
@pippinsplugins NF3 does not provide a default form description or fallback, this field has to be manually filled out in Emails & Actions -> Add Referral -> Advanced:

![NF3](http://i.imgur.com/J3FbCVp.png "NF3")

Idea: could fallback to form title, since NF requires that to be filled out?

[2016-07-14 18:52] pippinsplugins commented on #1106
Can we make the field support field variables? For example: {field:product}

On Thu, Jul 14, 2016 at 1:48 PM, Rami Abraham <notifications@github.com>
wrote:

[2016-07-14 19:43] ramiabraham commented on #1225
`PHP Fatal error:  Class 'AffWP\Meta_Box\Base' not found in /$PATH/plugins/affiliate-wp/includes/admin/overview/metaboxes/class-metabox-overview-totals.php on line 15`

[2016-07-14 19:51] kjohnson commented on #1106
You can enable Merge Tags for the description, like the total and email settings. https://github.com/AffiliateWP/AffiliateWP/blob/issue/1110/includes/integrations/extras/class-ninja-forms-action-add-referral.php#L61

[2016-07-14 19:54] DrewAPicture commented on #1225
@ramiabraham I think it's because you need to fully qualify the namespace on the super class in the class declaration.

[2016-07-14 20:04] DrewAPicture commented on #1225
The fatal is fixed in 9cf1586. We were previously attempting to load overview.php *before* the `Base` class.

[2016-07-14 20:09] pippinsplugins commented on #1106
Thanks @kjohnson!

@ramiabraham could you get that added please?

[2016-07-14 20:10] ramiabraham commented on #1225
@pippinsplugins @DrewAPicture noticed the issue, turns out I'm an idiot (https://github.com/AffiliateWP/AffiliateWP/pull/1420/commits/9cf1586541b2b5bdb3bac5cfc7b3626874da1977).

[2016-07-14 21:04] pippinsplugins commented on #1225
Ah! Good stuff.

[2016-07-14 22:15] ramiabraham commented on #1106
@pippinsplugins Added as noted in https://github.com/AffiliateWP/AffiliateWP/pull/1421/commits/2ecaeaa5d440e91e516dd27c412b816e7aef9a44.

Note: You may need to temporarily switch the `group` name to `primary`, then back to `advanced` to get the merge tags to show in NF. Not sure why.

[2016-07-14 22:25] michaelbeil opened #1439 "Double opt-in for affiliate registration"
There is not a double opt-in feature for registration at this time if require approval is _disabled_ and auto-register is _enabled_ from the Misc settings tab. To prevent spam affiliates, we could add an email that is sent to the registering affiliate which allows them to opt-in/confirm their registration.

[2016-07-14 22:51] sumobi commented on #611
@pippinsplugins this would be the base class that would handle automatic coupon codes when affiliates registered, ala https://github.com/AffiliateWP/AffiliateWP/issues/426

[2016-07-14 22:52] sumobi commented on #854
@pippinsplugins Interesting idea. Bet you can't put together a proof of concept...

[2016-07-15 01:09] michaelbeil commented on #1423
@DrewAPicture said:

[2016-07-15 02:40] sumobi commented on #245
@ehrig @kefrengg We now have a Direct Link Tracking pro add-on for AffiliateWP: https://affiliatewp.com/addons/direct-link-tracking/

[2016-07-15 02:40] #245 closed

[2016-07-15 05:55] wordmaid commented on #1401
@ejonasson I've tried testing this, unfortunately it did not work for me and the referral was still created as Pending for a subscription-based product. @sumobi, would you please be able to try testing this as well?

[2016-07-15 11:00] ejonasson commented on #1401
@wordmaid Can you check under "Zippy Courses" -> "Orders" to make sure the order you made is showing as Active or Complete in Zippy Courses? If it isn't, that would explain the issue.

There are some situations where an order may not be marked as active. For example, if Webhooks aren't set up in Stripe, then the subscription will be stuck as pending because Zippy isn't alerted of a successful paym

[2016-07-15 11:09] wordmaid commented on #1401
@ejonasson That could explain it! The status was Pending and I just changed the status to Active and the referral was set to Unpaid. Thanks! :)

[2016-07-15 15:36] pippinsplugins commented on #1439
This is a major feature so re-milestoning for 2.0.

[2016-07-15 15:57] pippinsplugins commented on #1106
Fields work just fine in the description field now!

[2016-07-15 16:04] pippinsplugins commented on #1106
Looks like everything works fine now! I'm going to do a bit more testing then will merge and close.

[2016-07-15 16:09] DrewAPicture commented on #131
I would actually agree with moving the action links back regardless of how *tall* it makes the page. At the same time, I would strongly caution *against* using buttons. Buttons/icons can be subjective and introduce confusion if you don't know what they signify. It's actually one of my biggest pet peeves with interfaces – nobody likes to try guessing what symbols mean.

[2016-07-15 17:01] pippinsplugins commented on #1106
I'm happy with this.

@sumobi ready to merge?

[2016-07-15 17:18] DrewAPicture commented on #1184
#1440 makes it possible to lazy-load the user object with a magic `$user` property. A magic getter in `AffWP\Affiliate` also tacks on the first and last name user meta.

Includes tests.

[2016-07-15 17:45] DrewAPicture commented on #1184
#1440 also covers ensuring `$earnings` returns a float + test.

[2016-07-15 18:03] DrewAPicture commented on #1184
Tests passed. Merged #1440.

[2016-07-15 18:07] pippinsplugins commented on #131
Let's move them.

[2016-07-15 20:17] michaelbeil opened #1441 "MemberPress: Free trial period should award a $0 referral"
PR: #1481

At this time, a free trial for a subscription purchase awards a referral (based on the full product price instead of the $0 free trial transaction) to the referring affiliate. I think we should adjust the referral awarded when there is a free trial period so that it becomes a $0 referral if a referral rate type of percentage is selected.

[2016-07-15 20:49] pippinsplugins commented on #854
This is ready for initial testing! It's not 100% complete but the final items can hold off until we've verified my proof of concept.

To test:

1. Activate `PayPal` integration
2. Create a PayPal button: https://developer.paypal.com/docs/classic/paypal-payments-standard/integration-guide/create_payment_button/ (I've only tested with Buy Now buttons so far)
3. Add the embed code for the button to a

[2016-07-15 20:50] pippinsplugins commented on #854
Live site with test button you can use if you wish: http://s14890.p27.sites.pressdns.com/paypal/paypal-button/ (is not paypal sandbox, so will cost $0.25 real dollars for each test).

[2016-07-15 21:12] pippinsplugins commented on #471
Modified DB structure proposal:

**Payout logs DB:**
- payout_id
- affiliate_id
- amount
- date
- payout_method

**New columns on referrals DB**
- payout_id

[2016-07-15 21:22] ramiabraham commented on #854
Tests on the above prepared site:

Control tests (no referral vars used):

Control test a:
- Adblock `disabled`
- Chrome `latest stable`
- return url: `http://s14890.p27.sites.pressdns.com/paypal/?tx=96K09721WN366462W&st=Completed&amt=0%2e25&cc=USD&cm=undefined&item_number=`
- Transaction debit showing in Paypal/bank: `No`
- Paypal transaction confirmation interstitial displayed: `Yes`

Control te

[2016-07-15 23:35] sumobi commented on #1401
@ejonasson Thanks for the PR!

Works great here also. Setting Zippy Courses order from `pending` to `completed` changes the referral from `pending` to `unpaid`.

@pippinsplugins Happy to merge if you are.

[2016-07-15 23:48] sumobi commented on #947
@pippinsplugins

My test URL of `oigfdjkg` passed verification and I was able to register:

![screen shot 2016-07-16 at 11 40 33 am](https://cloud.githubusercontent.com/assets/52581/16891188/2734bc4c-4b4a-11e6-8fa2-05a42dab5921.png)

It seems it's not firing the JS at all, can't see any validation notices, no JS errors in console.

I cleared cache and double-checked the frontend.js file to see you

[2016-07-16 14:59] TimothyBJacobs commented on #1267
Since the DB layer expects slashed data, the insert commands are going to need to manually add slashes.

[2016-07-17 13:19] pippinsplugins commented on #854
@ramiabraham could you test this again now?

[2016-07-17 13:23] #1401 closed

[2016-07-17 13:23] pippinsplugins commented on #1401
Merged.

[2016-07-17 13:24] pippinsplugins commented on #947
Did you have `SCRIPT_DEBUG` on?

[2016-07-17 13:25] pippinsplugins commented on #1441
Doing this would also make `Recurring Referrals` automatically pick up the subscription once it changes from a free trial to a paid one.

[2016-07-17 23:22] sumobi commented on #947
Yep. I also verified that I could see your changes in the JS file so I know it was definitely loaded

[2016-07-18 00:32] sumobi commented on #1106
@ramiabraham @pippinsplugins Not quite, looks like it isn't respecting the total field.

Total was $500, affiliate's commission is 20%. Affiliate only received $20. Should have received $100.

![screen shot 2016-07-18 at 12 29 33 pm](https://cloud.githubusercontent.com/assets/52581/16904093/7ac89d48-4ce3-11e6-896c-a1a45570dbf7.png)

![screen shot 2016-07-18 at 12 30 03 pm](https://cloud.githubuser

[2016-07-18 01:13] sumobi commented on #503
@pippinsplugins worked perfectly here for both a negative and positive sign up fee

[2016-07-18 01:14] pippinsplugins commented on #503
Merged.

[2016-07-18 01:14] #503 closed

[2016-07-18 01:16] pippinsplugins commented on #1106
So probably just need to take quantity into account.

[2016-07-18 01:24] kjohnson commented on #1106
@sumobi are you mapping the product field, or the total field to the total setting?

[2016-07-18 01:41] sumobi commented on #1106
Oops! I had `100` entered as total, not mapped at all. Forgot it's not automatic as it used to be.
Now that I've mapped it to `{field:total}` it works fine.

If I map it to `{field:product}` it comes out as $0.00 as expected since it's not a total field

[2016-07-18 04:52] sumobi opened #1443 "Affiliate Form Settings"
This issue has been a combined with 2 other issues which go hand in hand. The other issues have been closed for clarity. All discussion will be held here.

The old Issues that have been combined with this one:

https://github.com/AffiliateWP/AffiliateWP/issues/931 - Add Forms tab to settings
https://github.com/AffiliateWP/AffiliateWP/issues/1051 - Easily show or remove affiliate registration & aff

[2016-07-18 07:28] sumobi commented on #947
Hah, I know why. This issue is for the URL field on the affiliate registration form. You wrote a patch for the URL generator inside the Affiliate Area :)

[2016-07-18 07:36] sumobi commented on #947
Tested the `Page URL` field in the affiliate area, works great.

![screen shot 2016-07-18 at 7 34 33 pm](https://cloud.githubusercontent.com/assets/52581/16908320/af42face-4d1e-11e6-8a93-42821d147e78.png)

Let's add a margin top so there's a bit of a gap. I used `10px` for direct link tracking.

[2016-07-18 13:08] pippinsplugins commented on #947
Oh .... lol. We might as well add similar validation to both.

[2016-07-18 13:19] pippinsplugins commented on #1443
:+1:

[2016-07-18 13:32] sujaypawar opened #1444 "Multiple Email Notifications"
PR: #1491.
Previously: #1445

If the user is already accepted as an affiliate and admin approves him again from bulk action, user gets an email.

Here's a video - http://www.youtube.com/watch?v=DFZMU43EiKg

[2016-07-18 14:26] michaelbeil commented on #1444
Thanks for the report! We will look into fixing this in a future release.

[2016-07-18 15:41] DrewAPicture commented on #1444
Merged #1445 and #1446.

[2016-07-18 17:10] michaelbeil commented on #947
Works well for the URL generator inside the Affiliate Area.

[2016-07-18 17:57] BurlesonBrad commented on #673
:heavy_plus_sign: :100:
https://www.facebook.com/groups/woohelp/permalink/1977478349145277/

![aff-wp-variations](https://cloud.githubusercontent.com/assets/6208757/16924886/0cc4adba-4ce7-11e6-95ab-f17572bd02b2.png)

[2016-07-18 19:20] pippinsplugins commented on #1225
@ramiabraham I'm tested this out further by creating a basic sample plugin that adds a new metabox:
[code]

When I do that, I get this:
[code]

I used the sample given at the top of the main meta box class. That sample should be updated to:
[code]

That still, however, has an issue because it triggers the following:
[code]

Looks like we need to load the class earlier, or provide sample code that

[2016-07-18 19:44] DrewAPicture commented on #1184
Tests passed, merged #1447.

[2016-07-18 19:47] DrewAPicture commented on #854
Updated from release/1.9 which brings adjustments to `\AffWP\Object` via #1447.

[2016-07-18 20:21] ramiabraham opened #1448 "Add autoloader to core"
Since we've dropped support for PHP `5.2`, we can get a real autoloader into core ❤️

[2016-07-18 21:17] pippinsplugins commented on #854
@DrewAPicture `$referral->save()` is still failing silently for me.

[2016-07-18 21:18] pippinsplugins commented on #854
Looks like this might part of it:

[18-Jul-2016 20:28:21 UTC] WordPress database error Duplicate entry '2' for key 'PRIMARY' for query UPDATE `wp_10_affiliate_wp_visits` SET `visit_id` = 2, `affiliate_id` = 1, `referral_id` = 3, `url` = 'http://s14890.p27.sites.pressdns.com/paypal/paypal-button/', `referrer` = '', `campaign` = '', `ip` = '24.249.62.23', `date` = '2016-07-15 20:00:53' WHERE `visit_

[2016-07-18 21:19] pippinsplugins commented on #854
Ah yes! The primary key column is being included in the update statements.

[2016-07-18 21:20] pippinsplugins commented on #854
Pretty sure adding an isset/unset to the main `update()` method would fix it:
[code]

[2016-07-18 21:21] michaelbeil commented on #1430
That would be great @TimothyBJacobs!

[2016-07-18 21:23] pippinsplugins commented on #854
Yep that does fix at least part of it. That makes `$referral->save()` return `true` as expected but it still fails to properly update the other referral columns defined with `set()`.

[2016-07-18 21:26] pippinsplugins commented on #854
Pushed to `release/1.9` and merged into `issue/854`. https://github.com/AffiliateWP/AffiliateWP/commit/bbdd5c3ce184238ed9cd66d0ca59ef94761d1258

[2016-07-18 23:01] sumobi commented on #1443
Oh check that out https://github.com/AffiliateWP/AffiliateWP/issues/1051. A filter to programmatically hide it and an admin dropdown would be helpful.

[2016-07-19 00:02] michaelbeil commented on #1051
How would we want to account for this when either a Gravity or a Ninja form are used for the registration form?

[2016-07-19 00:07] michaelbeil commented on #1051
I suppose we could just add the filter proposed in 1443 to the add-ons.

[2016-07-19 01:19] DrewAPicture opened #1450 "Reconfigure cache key generation vis-à-vis late-static-binding gymnastics"
Related: #1184, #854

From [#1449](https://github.com/AffiliateWP/AffiliateWP/pull/1449#issue-166226146):

[2016-07-19 02:20] DrewAPicture commented on #1450
Added a PR: #1450

[2016-07-19 04:53] ramiabraham commented on #1225
Added some adjustments (https://github.com/AffiliateWP/AffiliateWP/commit/553e8665226b4a7ea9f0cf765ab4f52f03b7a7ba); the primary issue was the `action` not being defined. Updated the inline doc and example to reflect this as well.

----

As a stand-alone plugin: https://gist.github.com/ramiabraham/1a9d8a09e848a677332c28f7271d5f75

[2016-07-19 13:33] pippinsplugins commented on #854
@DrewAPicture Confirmed that it works properly now!

[2016-07-19 13:34] #1450 closed

[2016-07-19 13:35] pippinsplugins commented on #854
@sumobi @ramiabraham this is ready for a new round of testing.

[2016-07-19 19:55] ramiabraham opened #1452 "Add caps for export of referrals and settings"
PR: #1480

The AffiliateWP caps defined presently do not allow exporting of referrals or settings on the `Tools` page for non-admins, in any case.

Given the custom function below, all users in the array will be permitted to view `Affiliates` &rarr; `Tools`, as well as export affiliates, but cannot export anything else.

[code]

_Related: https://secure.helpscout.net/conversation/226466403/37978/?

[2016-07-19 23:13] sumobi commented on #854
Worked for me!

A `pending` referral of `$0.01` was successfully created. Upon payment it was correctly updated to `unpaid`. I tested with a PayPal buy now button of `$0.01` so the referral came out to be `$0.00`, ie 20% of 0.01.

@pippinsplugins is there way to prevent a new pending referral being created if I click to go back to the page where the button is and then click it again to go back to

[2016-07-19 23:35] sumobi commented on #854
FYI Thought I'd test with donations and the shopping cart button but they did not work.

[2016-07-20 02:08] ramiabraham opened #1453 "Add inline docs for all actions and filters"
In discussion with @DrewAPicture, we were thinking it'd be wonderful to get inline docs defined for every hook in core.

[2016-07-20 08:36] AiratHalitov opened #1454 "Redirect to blog page"
That URL https://airat.biz/?ref=airathalitov is opening blog page https://airat.biz/blog/ for logged out users instead main page (https://airat.biz/)

For logged in users this URL https://airat.biz/?ref=airathalitov is opening site main page (It's normal behaviour).

AffiliateWP 1.8.5
Wordpress 4.5.3
BuddyPress 2.6.1.1

[2016-07-20 13:29] pippinsplugins commented on #1454
Hi there!

Please go ahead and open a support ticket through our support portal: https://easydigitaldownloads.com/support

we use GitHub for development tracking only.

[2016-07-20 13:29] #1454 closed

[2016-07-20 13:33] pippinsplugins commented on #854
I originally had it set up to only allow a single referral to be created but then I removed it thinking users would complain that multiple purchases couldn't trigger multiple referrals.

I made the initial referral 0.01 in order to make sure we don't get caught up with the "Disable zero referrals" option.

I'll test with donation and shopping carts to see what I can find.

I also still need to fin

[2016-07-20 17:33] ramiabraham commented on #316
What would the endpoints be presently? I've tried the `site/wp-json/affwp/` namespace and some variants so far.

[2016-07-20 17:36] pippinsplugins commented on #316
`/wp-json/affwp/v1`

[2016-07-20 20:16] DrewAPicture commented on #54
Closing in favor of #1412

[2016-07-20 20:16] #54 closed

[2016-07-20 20:19] #117 closed

[2016-07-20 20:19] #118 closed

[2016-07-20 20:19] #145 closed

[2016-07-20 20:19] #148 closed

[2016-07-20 20:19] #149 closed

[2016-07-20 20:19] #161 closed

[2016-07-20 20:19] #529 closed

[2016-07-20 20:20] DrewAPicture commented on #11
@pippinsplugins So is this a no-go then?

[2016-07-20 20:21] pippinsplugins commented on #11
It is a no go and, if we do at any point, it will be done in the payouts repo: https://github.com/AffiliateWP/affiliate-wp-stripe-payouts

[2016-07-20 20:21] #11 closed

[2016-07-20 20:26] DrewAPicture commented on #41
@pippinsplugins What if we did something like referral *coupons*. That would be make limiting simple enough. Might have to pass another value through the URL to make that work, but it could be interesting.

[2016-07-20 20:28] DrewAPicture commented on #41
Actually, now that I think about it, we could add some kind of signifier onto the existing referral var value, e.g. `/ref/2_3y2f3f` or something where we tack on a coupon token. Back-compat would be hard to predict.

[2016-07-20 20:28] DrewAPicture commented on #61
@ghost1227 is this still a problem?

[2016-07-20 21:18] pippinsplugins commented on #41
That might work. Let's let it sit a while longer to see if we get additional requests for it.

[2016-07-20 21:30] DrewAPicture commented on #99
No followup from the reporter in two years ago, closing.

[2016-07-20 21:30] #99 closed

[2016-07-20 21:45] #855 closed

[2016-07-20 21:48] DrewAPicture commented on #816
I'd definitely be concerned about the legal ramifications of passing along a template to all affiliates regardless of their particular locales and laws. If we really wanted to provide one there would have to be a rock solid indemnity clause (like Elance's).

Closing as *maybe later*.

[2016-07-20 21:48] #816 closed

[2016-07-20 21:49] DrewAPicture commented on #794
Closing in favor of the Direct Link Tracking add-on. See #245.

[2016-07-20 21:50] DrewAPicture commented on #731
@pippinsplugins How would you like to proceed here?

[2016-07-20 21:57] pippinsplugins commented on #731
This really hasn't been needed by any of our customers that I'm aware of, let's close as wontfix.

[2016-07-20 21:57] #731 closed

[2016-07-20 21:59] DrewAPicture commented on #967
@pippinsplugins My first thought was also as a creative type. Super interesting.

[2016-07-20 22:00] #183 closed

[2016-07-20 22:00] #193 closed

[2016-07-20 22:00] #337 closed

[2016-07-20 22:00] #385 closed

[2016-07-20 22:00] #434 closed

[2016-07-20 22:00] #450 closed

[2016-07-20 22:00] #549 closed

[2016-07-20 22:00] #746 closed

[2016-07-20 22:00] #873 closed

[2016-07-20 22:00] #990 closed

[2016-07-20 22:01] pippinsplugins commented on #228
This one should remain open.

[2016-07-20 22:02] pippinsplugins commented on #338
This should be supported in core and is something we definitely want to support so re-opening.

[2016-07-20 22:56] sumobi commented on #854
👍  Usually with IPN verification, don't you need to configure the callback URL in PayPal's settings? I didn't change anything and it worked perfectly. Voodoo magic???

[2016-07-21 01:20] sumobi commented on #41
Have I misinterpreted the issue? To me it seems like we're wanting to limit the number of referrals an affiliate can be assigned, based on their referral link. For example if the limit is set to `10`, commission can only be generated 10 times for that specific affiliate before they can no longer earn any more.

In which case, this would work:

    function affwp_custom_limit_referrals( $return, $a

[2016-07-21 04:07] pippinsplugins commented on #854
Worked with donations / cart?

By IPN verification, I just meant additional validation to ensure the data we're processing is legit and not a faked IPN request.

[2016-07-21 05:18] sumobi commented on #854
No it didn't work with donations/cart, was referring to the IPN stuff

[2016-07-21 12:41] pippinsplugins commented on #41
Re-reading it makes me think the original suggestion from Brian was the former, Andrew.

[2016-07-21 18:05] cklosowski opened #1455 "Auto mark zero dollar referrals as paid"
As a use case, I'm using myself as an affiliate to track the effectiveness of cross promotion between my own sites, and I have a 0% referral rate for my own affiliate account, but I have to mark them as paid. Would be nice to have an option (even via a filter) to auto mark $0 referrals as paid.

[2016-07-21 18:12] michaelbeil opened #1456 "SamCart integration"
This is a placeholder for possible integration with https://samcart.com/ once we have our REST API in core.

[2016-07-21 18:19] pippinsplugins commented on #1455
Makes sense to me. Perhaps the better option, however, would be to combine this with #794

[2016-07-21 18:20] pippinsplugins commented on #794
This should be re-opened, actually, as it's not the same thing as Direct Link Tracking.

[2016-07-21 18:22] cklosowski commented on #1455
Kind of:
[code]

Only difference is that mine is a specific affiliate, not 'no affiliate'. I want to track specific links, not all direct links.

[2016-07-21 18:31] pippinsplugins commented on #1455
Ah, right. Thanks for the clarification.

[2016-07-21 22:13] michaelbeil opened #1457 "Update Russian and Spanish (Spain) translations"
PR: #1458

[2016-07-21 22:41] michaelbeil opened #1459 "Add a third column on the overview screen for large screen resolutions"
It may be nice to allow the overview columns to extend into a third column when a browser window is 1500px or greater.

1499px:
![screen shot 2016-07-21 at 5 39 40 pm](https://cloud.githubusercontent.com/assets/4752949/17041212/31542b76-4f6a-11e6-8913-e94191587a0d.png)

1500px:
![screen shot 2016-07-21 at 5 30 08 pm](https://cloud.githubusercontent.com/assets/4752949/17041213/3515082a-4f6a-11e6-82

[2016-07-21 22:51] sumobi commented on #41
That's what I get from it also, especially considering the "Could I stop the payouts at 5 referrals?" portion. The above would make a good code snippet, I've seen it requested before, but not something I believe should go into core. It's more suited towards the refer a friend plugin.

[2016-07-22 00:32] DrewAPicture opened #1461 "Fix querying issues by referral_id"
PR: #1462

Looks like there's been a typo in the `referral_id` default argument in `Affiliate_WP_Referrals_DB::get_referrals()` since 5c37690. Effectively, if a `referral_id` argument was passed, it would work but the misspelled argument would never be used.

Attached PR adds a test for this.

[2016-07-22 00:33] DrewAPicture commented on #1461
Added a PR: #1462

[2016-07-22 01:36] DrewAPicture opened #1463 "Attempt to resolve incomplete capabilities test"
PR: #1464

In tests/test-capabilities.php, we have a single test marked incomplete because it fails about half the time. Let's see if we can coax Travis into passing it every time.

[2016-07-22 01:38] DrewAPicture commented on #1463
PR: #1464

[2016-07-22 01:49] DrewAPicture commented on #1096
Tests passed, merged #1460.

[2016-07-22 01:49] #1096 closed

[2016-07-22 01:51] #1457 closed

[2016-07-22 01:58] DrewAPicture commented on #1267
@TimothyBJacobs I don't think the DB layer necessarily _expects_ slashed data so much as it handles unslashing if it _is_ slashed, which I consider to be mutually exclusive concepts.

[2016-07-22 02:01] TimothyBJacobs commented on #1267
They aren't really mutually exclusive, because there is no way to detect if data is slashed. See https://github.com/wp-cli/wp-cli/issues/3152 in the main CLI repo.

[2016-07-22 02:29] #1461 closed

[2016-07-22 02:30] #1463 closed

[2016-07-22 02:34] pippinsplugins commented on #1459
This is already done as part of #1420

[2016-07-22 02:34] #1459 closed

[2016-07-22 02:34] michaelbeil commented on #1459
Great!

[2016-07-22 02:34] pippinsplugins commented on #41
:+1:

Closing as wontfix for core.

[2016-07-22 02:34] #41 closed

[2016-07-22 02:37] michaelbeil opened #1465 "Inactive affiliates can still earn a referral"
Steps to replicate:

1. Deactivate an affiliate
2. Navigate to the site with the inactive affiliate's link
3. Make a purchase
4. Referral is created

Related: #282, #554

[2016-07-22 02:49] wordmaid opened #1466 "Allow site admins to see affiliate's submitted "Website URL" in Edit Affiliate screen"
PR: #1496

I'm going through our own affiliates and there are a couple of things I've noticed regarding affiliate registration and the affiliate's submitted website URL:

1. The affiliate's website URL is not visible to the admin anywhere. I'm going through each affiliate and searching for them/their business, or using their email addresses to (hopefully) find their site where they have promoted/w

[2016-07-22 02:54] michaelbeil commented on #1466
Great idea! Currently, the website field is under **Contact Info** which is within the affiliate's WordPress user profile.

Shouldn't be too hard to expose this on the affiliate edit screen and also add the website URL field to the Add New Affiliate screen.

[2016-07-22 03:02] wordmaid commented on #1466
Would definitely help to collect more affiliate website URLs! And if they haven't provided a URL initially, and we find them another way, it would be useful to be able to enter it against their affiliate info in the Edit Affiliate screen.

[2016-07-22 03:02] michaelbeil commented on #1466
Agreed.

[2016-07-22 03:15] DrewAPicture commented on #1466
Related: #873

[2016-07-22 03:16] wordmaid opened #1467 "Show "How will you promote us?" response from affiliate registration form in Edit Affiliate screen"
Similar to https://github.com/AffiliateWP/AffiliateWP/issues/1466, it could be useful to show the "How will you promote us?" field response from the affiliate registration form in the Edit Affiliate screen. This would help admins follow up on affiliates' website/social media efforts, personalize check-ins with affiliates, and purely allow admins to see and remember how an affiliate is going to pro

[2016-07-22 03:28] wordmaid opened #1468 "Ability to add Notes against affiliates"
It would be great to be able to store notes against affiilates which are only visible to site admins. This could be a simple text area in the Edit Affiliate screen titled "Notes".

This could be used for:
1. Promotion methods if the affiliate has been manually added
2. To store any specific payout information
3. Storing additional website URLs where the affiliate promotes the site owner's website,

[2016-07-22 07:57] worldtravlr commented on #1455
@cklosowski not sure if this would work, but if you are using a specific affiliate account/link and wanted to make a special sales/cart/checkout/order-completed page for only yourself to link to, then you could maybe use the Affiliate Conversion Script - http://docs.affiliatewp.com/article/77-affiliate-conversion-script - to set the referral to $0 and status to paid.

[2016-07-22 14:05] pippinsplugins commented on #1468
This would be especially great for hands-on affiliate managers.

We could easily store notes in the meta table with one note per row.

[2016-07-22 14:06] pippinsplugins commented on #1467
Yes, I've wanted to see it before too. Right now it's only visible on the review screen and if you want to go back and look at an account after it's approved, the info is not accessible.

Let's add it.

[2016-07-22 23:43] sumobi commented on #338
Another request for CSV importing. Customer is coming over from https://www.getambassador.com/.

Having a CSV importer for affiliates/referrals would be so helpful. Similar to EDD's, I'd imagine we just map the column data to specific values inside AffiliateWP.

[2016-07-22 23:59] sumobi commented on #1465
@michaelbeil What integration are you testing with?

So far I've only tested EDD but I'm not able to replicate. Tried deactivating the affiliate first then purchasing, and also storing the cookies first, then deactivating and purchasing.

[2016-07-24 00:59] sumobi opened #1469 "Debug assistant constantly shows messages about utf8mb4"
Latest master branch.

Every time I reload the page while in the Debug assistant I see these same lines being repeated which quickly fills up the logs:

2016-7-24 00:55:33 - The character set for the wp_77_affiliate_wp_affiliatemeta table was successfully upgraded to utf8mb4.
2016-7-24 00:55:33 - The character set for the wp_77_affiliate_wp_affiliates table was successfully upgraded to utf8mb4.
20

[2016-07-25 01:40] sumobi opened #1470 "Visits/cookies not being stored with fallback tracking/pretty URLs/campaigns"
To replicate:

- Master branch
- Enable "Use Fallback Referral Tracking Method?" option in Settings -> Misc

## Issue 1:

PR: #1472

When fallback tracking is enabled & pretty affiliate URLs are used, referral links generated within the Affiliate Area that include a "campaign" do not work. They don't store any cookies, which means no visit stored.

The pretty URLs generated in the Affiliate Area w

[2016-07-25 02:33] worldtravlr commented on #1465
@sumobi this was with Woocommerce for me.

[2016-07-25 02:52] sumobi commented on #1465
@worldtravlr thanks for the confirmation. Does @michaelbeil's steps to replicate above look accurate to you? Can you list the specific steps that you took if different?

I haven't been able to replicate with WooCommerce. Tried deactivating the affiliate while the cookies exist in the browser, and before the cookies are stored, but each time no referral is created.

[2016-07-25 03:18] pippinsplugins commented on #338
Let's try and do it for 2.0.

[2016-07-25 11:04] worldtravlr commented on #1465
Yes.  Those are accurate.  For example, I just visited an inactive affiliates link and it registered a visit.

1.  /ref/UserName
2. AffiliateWP - Version 1.8.5 | WooCommerce Version 2.6.2 ( Latest is 2.6.3 )

Positive number

![screen shot 2016-07-25 at 8 00 44 pm](https://cloud.githubusercontent.com/assets/6686642/17099351/ce888014-52a2-11e6-90b5-b0bb0387046d.jpg)
![screen shot 2016-07-25 at 7 59

[2016-07-25 14:14] pippinsplugins commented on #1470
`http://mysite.com/ref/john?campaign=test` fails because we split the URL on `/`:
[code]
Since there is no `/` after the referral var, `ref` is never found.

[2016-07-25 14:45] ramiabraham commented on #1225
@pippinsplugins Looking ok here?

[2016-07-25 16:13] DrewAPicture commented on #1469
@sumobi This is due to the upgrade routine continually being triggered because the plugin version is still 1.8.5. In the short term before we release 1.8.6, you can simply change the `$version` string to 1.8.6 to avoid this.

[2016-07-25 16:41] pippinsplugins commented on #1225
Woot! Working now:
![screen shot 2016-07-25 at 11 40 54 am](https://cloud.githubusercontent.com/assets/1034109/17109209/abea25d0-525c-11e6-8d72-8401810f6d96.png)

[2016-07-25 16:44] pippinsplugins commented on #1225
@ramiabraham unless I'm wrong, the only screen that currently supports custom metaboxes is the `Overview` screen.

We need to either add the necessary `do_meta_boxes` calls to the other screens or remove the other screen IDs from the base class. We don't want people thinking they can add meta boxes to the other screens when in reality they cannot.

[2016-07-25 19:05] ramiabraham commented on #1225
@AffiliateWP/core Where do we want meta boxes aside from the `Overview` screen? They're used in the `Reports` screen tabs, but that's it right now.

[2016-07-25 19:57] DrewAPicture commented on #1225
@ramiabraham What's involved with making other pages compatible? Seems like wrapping the nonces output into a callback that's hooked to a core action would be a reasonably forward-compat method of adding support to other pages – simply fire the action wherever needed and output the `do_meta_boxes()` calls, unless I'm missing something.

[2016-07-25 20:30] ramiabraham commented on #1225
@DrewAPicture Works for me, good idea.

[2016-07-25 21:38] pippinsplugins commented on #1225
I'm inclined to say we should do all screens if we do anything, so yeah, let's do them all.

[2016-07-25 23:39] sumobi commented on #1470
👍

[2016-07-25 23:45] sumobi commented on #1465
Interesting, will try again. The visit is `-2` every time for me which is correct. Are you testing with only AffiliateWP active?

@AffiliateWP/core can anyone else replicate apart from @michaelbeil?

[2016-07-25 23:54] pippinsplugins commented on #854
@sumobi I just tested a shopping cart and it worked fine for me. Which part of it failed for you? Was a referral not created or was the pending referral not updated to Unpaid?

[2016-07-25 23:56] sumobi commented on #854
@pippinsplugins referral was created fine, it just didn't update it to "unpaid". Will double-check

[2016-07-25 23:56] pippinsplugins commented on #854
@sumobi Thanks, will test that again.

[2016-07-26 00:01] sumobi commented on #854
@pippinsplugins just tested again and it worked this time round, strange. The referral was correctly update from pending to unpaid. Maybe there was an IPN glitch when I first tested (which was a few times at least)

[2016-07-26 00:05] pippinsplugins commented on #854
Great!

[2016-07-26 00:14] sumobi commented on #854
@pippinsplugins donation worked fine also

[2016-07-26 02:07] pippinsplugins commented on #854
@sumobi could you give this another round of testing now? It has full IPN verification now to kick out the badies.

[2016-07-26 04:02] sumobi opened #1471 "Pretty affiliate URLs don't work with Ultimate Member"
Pretty affiliate URLs don't seem to work with Ultimate Member member pages: https://ultimatemember.com

Normal profile URL
http://mysite.com/user/john/

Affiliate Link (does not work)
http://mysite.com/user/john/ref/admin

Affiliate link with non-pretty URL (works)
http://mysite.com/user/john/?ref=admin

Flushing permalinks via Settings -> permalinks screen, re-saving the first tab of the Affiliat

[2016-07-26 04:14] sumobi commented on #854
@pippinsplugins Will do

[2016-07-26 06:45] sumobi commented on #854
@pippinsplugins All 3 button types worked for me.

I ran into 1 minor issue related to pending referrals. When I first clicked the PayPal button (shopping cart) firefox blocked the new window from opening. After allowing PayPal to open the window I had to click the PayPal button again which created a new pending referral. Paying did update the correct one, just a bummer that an extra pending refer

[2016-07-26 13:11] pippinsplugins commented on #854
I'm not sure I can prevent that.

Now the question: leave this for 1.9 or sneak it in earlier?

[2016-07-26 14:39] DrewAPicture commented on #1471
@sumobi I don't think we have an integration for Ultimate Member. Do we?

[2016-07-26 15:24] DrewAPicture commented on #1470
Added a PR for the first part: #1472. I think since we need to be able to reliably split on `/`, the best option is to just ensure that a trailing slash is present after the referral var value in generated links.

[2016-07-26 15:26] DrewAPicture commented on #854
I'd probably leave it for 1.9 since we're targeting that for next month. More time to test. This seems like something people are really going to want, so we want to make sure we get it right :)

[2016-07-26 15:28] pippinsplugins commented on #854
:+1:

[2016-07-26 16:15] ramiabraham opened #1473 "Referrals export: Commas within description cell cause column misalignment"
If there are comma-separated strings in the `description` column cells, this causes some applications to interpret those commas as column breaks, which messes up formatting.

For example, adding multiple WooCommerce product references to a referral `description` causes this issue.

The misalignment can be seen in the OSX `Numbers` app, but I'm guessing it's in others as well.

While not specific t

[2016-07-26 16:20] ramiabraham commented on #1473
PR: #1474

[2016-07-26 17:31] pippinsplugins commented on #1471
We support it through the Signup Referrals add-on (I think) and through the generic tracking script.

It's also pretty common for Ultimate Member to be used on a site along with WooCommerce or another membership plugin.

[2016-07-26 20:12] #1106 closed

[2016-07-26 20:23] ramiabraham commented on #1106
Merged. Thanks for your help, @kjohnson!

[2016-07-26 21:04] pippinsplugins commented on #854
This is now in `release/1.9` but could use additional testing.

[2016-07-26 21:32] ramiabraham commented on #1225
Added a function into `misc-functions.php` in https://github.com/AffiliateWP/AffiliateWP/pull/1420/commits/1b90940595239b96cbb929e91770d795a9f9567f which adds global postbox nonces to all affwp admin pages.

[2016-07-26 21:57] sumobi opened #1475 "Incorrect referral amounts due to decimal separator"
Entering `1000.00` shows as `1,00`

Steps to reproduce:

1. Change `Decimal Separator` to `,` (comma)
2. Add a new referral of `1000`
3. Referral amount shows as `1,00` on referrals screen

Going back into edit the referral correctly shows it as `1000.00` since it doesn't use the comma. We should probably make this screen consistent with the decimal separator set under settings.

Ticket (with vide

[2016-07-26 22:43] sumobi commented on #854
@pippinsplugins Yeah no worries then, just something we (support) should be aware of for when we get a ticket about it

@DrewAPicture 👍

[2016-07-26 22:46] sumobi commented on #1471
@DrewAPicture Correct, no full integration but definitely something we should support.
@pippinsplugins Correct, signup referrals supports it.

[2016-07-26 23:38] sumobi commented on #1470
@DrewAPicture 👍

That fixes the immediate problem of URLs being generated but I feel we still need to tackle the issue somehow. Not everyone is going to use the URL generator, or might have links posted around the web that are still going to be broken.

[2016-07-27 00:28] worldtravlr commented on #1465
I am on a live site with a bunch of plugins.  Here are the affiliteWP related ones:

Will send you a link via Help Scout to try in case it helps.

[2016-07-27 02:05] sumobi commented on #1465
@worldtravlr Thanks for the plugin list. With the Allow Own Referrals add-on installed I can replicate the cookies being stored for an inactive affiliate. @michaelbeil do you also have that add-on installed on your test set up?

[2016-07-27 02:09] sumobi commented on #1465
Issue is being caused by the `affwp_tracking_is_valid_affiliate` filter. It's returning `true` so would explain why visits are stored for inactive affiliates, thus leading to a referral being created.

[2016-07-27 02:14] sumobi commented on #1465
Will push out an update for the Allow Own Referrals add-on soon that blocks inactive affiliates. Leaving this ticket open until we get confirmation from @michaelbeil that he had Allow Own Referrals active.

[2016-07-27 02:32] sumobi commented on #1465
v1.0.2 update out for Allow Own Referrals in case anyone else has this issue:
https://wordpress.org/plugins/affiliatewp-allow-own-referrals/

[2016-07-27 04:16] worldtravlr commented on #1465
It takes you so long to fix issues.  You development cycle really needs to be sped up a lot :-)

Updated and getting -2 now.  Thanks!

[2016-07-27 23:38] DrewAPicture commented on #1475
Took me a few minutes to track this down. This bug was actually introduced in 7b1d141dd for #1322 when we added a call to `affwp_format_amount()` inside of `affwp_currency_filter()`. Not having been terribly familiar with common conventions at the time, .e.g truly formatting amounts for display using *both* `functions: `affwp_currency_filter( affwp_format_amount( $amount ) )` all over the place, i

[2016-07-27 23:42] DrewAPicture commented on #1475
Added a PR: #1476

There may be other places where we're using `affwp_currency_filter()` and `affwp_format_amount()` should also be used. We should do a full audit.

[2016-07-27 23:44] pippinsplugins commented on #1475
PR looks good at first glance.

[2016-07-28 00:04] sumobi commented on #1475
@DrewAPicture @pippinsplugins Works great here

[2016-07-28 00:45] #1475 closed

[2016-07-28 17:36] DrewAPicture commented on #1470
@sumobi Fair enough. The complexity of parsing URLs in JS certainly leaves something to be desired. We've seen this problem other places where visits aren't tracking (and therefore referrals not being created) because of an omitted trailing slash.

[2016-07-28 17:39] DrewAPicture commented on #1471
@sumobi Oh I see what you're saying. On my first read I was under the impression that we weren't tracking on an Ultimate Member-specific URL so I was confused about how we'd add a special case in lieu of an integration. I'll work getting User pages to work.

[2016-07-28 17:50] DrewAPicture opened #1477 "Standardize formatting referral amounts and affiliate earnings"
PR: #1478

As discovered in #1475, the common convention in core is to filter for currency and format amounts separately using `affwp_filter_currency( affwp_format_amount( $amount ) )`.

A bug was introduced in #1322 and fixed in #1475 where in some cases, `affwp_format_amount()` was essentially being called twice, once literally, and again inside of `affwp_filter_currency()`. The second call was

[2016-07-28 18:00] DrewAPicture commented on #1477
Added a PR: #1478

[2016-07-28 18:19] DrewAPicture opened #1479 "Revert charset schema change in 1.8.6"
PR: #1487

@ramiabraham raises a good point that with no current expectation in 1.8.x that people will be running *at least* WP 4.2 (where the core charset was bumped to `utf8mb4`), waiting to bump the charset in AffWP might be a good idea.

It's also worth considering the possibility of an increased support burden coinciding with the charset change. It would be a little easier to swallow if we're

[2016-07-28 18:24] DrewAPicture commented on #1423
See #1479 for a question on whether we should wait to bump charset. I'm also not sure we've fully addressed this issue even *with* the charset change. Unicode is hard :/

[2016-07-28 18:31] DrewAPicture commented on #1471
@AffiliateWP/core OK, so we want to handle a special case for /user/username pages in lieu of an integration for Ultimate Member. Do we have a protocol for where to handle special cases if there's no integration?

[2016-07-28 20:20] ramiabraham commented on #1452
Fixed in #1480

[2016-07-28 20:25] ramiabraham commented on #1452
Here's a quick plugin to test this; change user id array to any non-admin user:

https://gist.github.com/ramiabraham/5ca12e9f3098df053535e1e6bd96c3d9

[2016-07-28 20:40] DrewAPicture commented on #1441
Added a PR: #1481

[2016-07-28 21:44] ramiabraham commented on #1202
Fixed in https://github.com/AffiliateWP/AffiliateWP/pull/1482 via removal of port number in url, also added additional ssl check via `is_ssl()`

[2016-07-28 22:15] sumobi commented on #1471
We could add it here? All in favor?
https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/plugin-compatibility.php

[2016-07-28 22:19] ramiabraham commented on #1479
Waiting until `1.9` to bump to `utf8mb4` as noted by @drew above gives us (admittedly nebulous) benefits:

- Shake out potential issues with the sometimes strange voodoo world of unicode
- I think that #1423 and related encoding issues are certainly important, but it's not a widely-reported issue (that I know of) for customers at this time.
- Waiting another month or so in order to get it all in a

[2016-07-28 22:21] sumobi commented on #1479
I am afraid of unicode

[2016-07-28 22:22] sumobi commented on #1470
@DrewAPicture Yeah, sounds like a challenge for sure 👍

Issue link? I haven't seen this before I don't think

IMO it's a bit sad if we provide customers with this magical "fallback tracking" option because their site has JS errors, but have them discover that fallback tracking itself is crippled in some way with certain URL structures. If URLs work without fallback tracking, they should also work

[2016-07-28 23:12] DrewAPicture commented on #1470
I can't pinpoint one right now. I know there's been one or two related to fault regex patterns expecting trailing slashes.

[2016-07-29 00:55] DrewAPicture commented on #1343
Added #1483 as a continuation of #1338.

[2016-07-29 00:55] DrewAPicture commented on #1343
Once tests pass, we can merge.

[2016-07-29 06:40] DrewAPicture commented on #1343
Tests passed, merged #1483.

[2016-07-29 06:40] #1343 closed

[2016-07-29 06:46] DrewAPicture commented on #1074
I'm kind of thinking that maybe we should add a tool to rebuild Campaigns rather than advising to run arbitrary PHP commands in the Debug Bar console.

[2016-07-29 06:53] DrewAPicture commented on #1414
@pippinsplugins Mind giving this a look? I'm not sure how to go about testing that this works as expected.

[2016-07-29 07:02] fxbenard commented on #1414
@DrewAPicture in case you want: `grunt build` to check it out. Just check files are minified. The previous grunt task was working fine.

[2016-07-29 08:15] DrewAPicture commented on #1318
Added a PR including tests: #1484

[2016-07-29 08:19] DrewAPicture commented on #1414
@fxbenard I meant in terms of testing the external build process in the context of packaging for release. But thanks for the suggestion ;)

[2016-07-29 14:06] pippinsplugins opened #1485 "Add support for aggregate emails"
Imagine an affiliate that earns a significant number of referral commissions, perhaps through 50 or a 100 subscriptions connected to Recurring Referrals. In this scenario, getting 50-100 emails (one for each commission) is annoying, especially if it happens every month when those subscriptions renew.

A great idea was proposed to me today to add an aggregate email that, perhaps once per week or mo

[2016-07-29 16:00] DrewAPicture commented on #1485
Interesting. I think it might also serve as a subtle recurring reminder to affiliates of their activity on a weekly (or whatever) basis.

[2016-07-29 16:08] pippinsplugins commented on #1485
Agreed. We could show data on referrals, visits, and conversion rates.

[2016-07-29 16:19] pippinsplugins commented on #1202
@ramiabraham could we please add some unit tests for this?

[2016-07-29 16:26] pippinsplugins commented on #1074
I agree.

[2016-07-29 16:28] pippinsplugins commented on #1318
PR looks good to me.

[2016-07-29 16:31] DrewAPicture commented on #1074
Bumping to 1.8.7 to allow more time for dev and testing.

[2016-07-29 16:33] DrewAPicture commented on #1318
Tests passed, merged #1484.

[2016-07-29 16:33] #1318 closed

[2016-07-29 20:51] DrewAPicture commented on #1452
Works in my testing.

[2016-07-29 20:52] DrewAPicture commented on #1452
Tests passed, merged #1480.

[2016-07-29 21:09] DrewAPicture commented on #1427
Works great here too.

[2016-07-29 21:10] DrewAPicture commented on #1427
Merged #1428.

[2016-07-29 21:10] #1427 closed

[2016-07-29 21:31] DrewAPicture commented on #1469
Per #1479, we're going to revert the schema change for 1.8.6. Let's centralize any related stuff in the other issue.

[2016-07-29 21:31] #1469 closed

[2016-07-29 21:59] DrewAPicture commented on #1139
We already show the context in an *editable* field in Edit Referral:

![Context](https://cl.ly/332E273q3y3P/Screen%20Shot%202016-07-29%20at%203.56.40%20PM.png)

As well as include it in the referrals CSV export:

![CSV](https://cl.ly/0e3y2l3e0L0W/Screen%20Shot%202016-07-29%20at%203.58.45%20PM.png)

So maybe close this as fixed?

[2016-07-29 22:24] DrewAPicture commented on #718
@sumobi Just reading up a bit on the Toman and Rial. It seems that the Toman is a [superunit](https://en.wikipedia.org/wiki/Denomination_(currency)#Subunit_and_super_unit) of the Iranian Rial. We apparently have zero decimal support for the RIAL but it's not listed in the currencies. So I'm wondering if maybe we should just add support for the Rial since it's the official currency of Iran.

[2016-07-29 22:26] DrewAPicture commented on #718
In the mean time, I've added a PR for adding the Iranian Toman. The rial has an official Unicode entity: `&#65020;`, no such luck for the Toman.

[2016-07-29 22:33] #1452 closed

[2016-07-30 00:02] ramiabraham commented on #1139
I'd consider this implemented already, but Lisa raises a good debugging tool potential of adding _another_ field that _can't_ be changed; possibly even a hidden one.

If _that's_ something we're into, perhaps better to punt to `.7`?

[2016-07-30 00:19] DrewAPicture commented on #1139
@ramiabraham I was kind of thinking that maybe we should only make it readonly if it's not empty. It makes sense to want to *add* context if there isn't any, but not so much to remove it.

[2016-07-30 01:20] pippinsplugins commented on #1139
I vote we make it a read only field if it has a value.

[2016-07-30 05:57] TheCrowned commented on #1078
Why would the dismissing be temporary? Once the user is told that the license is expired, and he doesn't want to renew, why bother him so often?

[2016-07-30 15:23] DrewAPicture commented on #1479
Added a PR: #1487

[2016-07-30 15:24] DrewAPicture commented on #1423
Punting to 1.9. See #1479.

[2016-07-30 15:25] DrewAPicture commented on #1479
Note: I've left the logging bits in class-upgrades.php should we want to use them in the future.

[2016-07-30 16:09] DrewAPicture commented on #1479
@AffiliateWP/core: Gist to revert your tables' `charset` and `collation` values: https://gist.github.com/DrewAPicture/5f6b9b022e5a8eed21feb63e7da84578

[2016-08-01 00:08] wordmaid opened #1488 "Support per-product referral rates for WP EasyCart"
A customer has requested if per-product referral rates for WP EasyCart would be a possible feature of the integration: https://secure.helpscout.net/conversation/233121021/39087/?folderId=205524

[2016-08-01 01:55] pippinsplugins commented on #1479
Ready to close I believe @DrewAPicture, yes?

[2016-08-01 04:23] sumobi commented on #718
👍

[2016-08-01 04:32] sumobi opened #1489 "Emails not sending to admin or affiliate when new user/affiliate is added"
Emails don't appear to be sending to either admin or affiliate when a new user/affiliate is added:

![screen shot 2016-08-01 at 4 28 07 pm](https://cloud.githubusercontent.com/assets/52581/17283482/27b24f82-5805-11e6-8b32-fb2f395270fb.png)

I could have sworn these used to work, we even have the option to disable the email sent to the affiliate

[2016-08-01 05:07] DrewAPicture commented on #1479
@pippinsplugins Yeah. With #1487 merged, this is done.

[2016-08-01 05:07] #1479 closed

[2016-08-01 06:02] sumobi commented on #1489
Customer reports that the issue is fixed now, they were checking the option to disable email. However, I still can't see the emails. Leaving open until I can do some more testing. Working for everyone else? @AffiliateWP/core

[2016-08-01 07:38] sumobi commented on #1489
It looks like emails are semi-broken in `master`. The admin email sends but not the affiliate's registration email. Switching to the official 1.8.5 release sends the email.

[2016-08-01 07:58] sumobi opened #1490 ""affiliate referral rate" email tag"
I'd like to propose an "affiliate referral rate" email tag as suggested by a customer:

https://github.com/AffiliateWP/affiliatewp-code-snippet-library/blob/master/emails/email-tag-affiliate-referral-rate.php

An affiliate's referral rate could obviously change based on **many** factors (Tiered Affiliate Rates, per-product per-affiliate rates etc) however showing an affiliate their initial "base r

[2016-08-01 14:14] DrewAPicture commented on #1444
Whoops. Looks like the conditionals change broke acceptance emails for all new affiliates.

[2016-08-01 14:58] DrewAPicture commented on #1444
Added a PR: #1490

Note that the logic is essentially backward. If *not* these conditionals, bail. Makes it hard to wrap your head around, but there is really a great alternative since `continue` outside of `foreach()` is now a no-no.

[2016-08-01 14:58] DrewAPicture commented on #1444
@pippinsplugins This is ready for testing at your leisure.

[2016-08-01 15:19] DrewAPicture commented on #1489
Introduced in and readdressing in #1444. Closing in favor of that.

[2016-08-01 15:19] #1489 closed

[2016-08-01 15:55] DrewAPicture commented on #1139
Added a PR: #1492

If the 'context' field is not empty, set to readonly, otherwise editable.

**If 'context' is empty in Referral > Edit:**
![empty](https://cl.ly/2M3u1J0R0O1L/1139_empty.png)

**If 'context' is not empty in Referral > Edit:**
![not empty](https://cl.ly/2l3x3d372S1l/1139_not_empty.png)

[2016-08-01 16:16] pippinsplugins commented on #1139
PR looks good.

[2016-08-01 16:23] pippinsplugins commented on #1444
@DrewAPicture I don't get any emails when manually adding affiliates now. Email is sent fine on `master`.

[2016-08-01 16:28] pippinsplugins commented on #1414
Looks good.

Note: it still does not cover JS min.

[2016-08-01 17:00] DrewAPicture commented on #1139
Tests passed, merged #1492.

[2016-08-01 17:00] #1139 closed

[2016-08-01 17:56] DrewAPicture commented on #1441
To test:

1. Create a recurring membership level with a free trial
2. Ensure the affiliate rate type is percentage
3. Purchase the recurring membership on a referral URL (without a coupon)
4. The referral commission should be 0 based on the free trial

1. Edit the new recurring membership level and remove the trial.
2. Purchase the recurring membership on a referral URL (without a coupon)
3. The r

[2016-08-01 19:39] pippinsplugins commented on #1078
@TheCrowned Very simple. It's bad business not to and that person is continuing to use our premium plugin with an expired license. It's also negligent of a store owner to continue to run a site with an expired license as that leaves them susceptible to bugs and, more important, security flaws that are fixed in newer versions,

[2016-08-01 19:42] pippinsplugins commented on #1441
I will test later today.

[2016-08-01 20:06] DrewAPicture commented on #1444
@pippinsplugins Can you please retest following 9b37e7cc3?

[2016-08-01 20:12] TheCrowned commented on #1078
Well, I guess this really comes down to one's own business views, other than really being a bug. I believe that if I, as site administrator/webmaster, click on _Dismiss notice_ and don't do anything about it (i.e. I don't purchase a renewal), it's my responsibility and my fault if something goes wrong due to bugs fixed in newer releases.

A concrete example is my case: I purchased AffiliteWP to tr

[2016-08-01 20:16] pippinsplugins commented on #1078
Thank you for the feedback. You are more than welcome to disable the notice via the WordPress plugin's API if you wish.

[2016-08-01 20:45] ramiabraham commented on #1202
_(First pass for coverage added in https://github.com/AffiliateWP/AffiliateWP/pull/1482/commits/288af46d855bdd22699a569be15c806efa6d5028)_

[2016-08-01 21:42] pippinsplugins commented on #1441
Works perfectly.

[2016-08-01 21:42] #1441 closed

[2016-08-01 21:47] pippinsplugins commented on #1444
@DrewAPicture getting closer but not quite.

Emails were sent properly when registering a user as an affiliate.

The `active` email was sent improperly when deactivating an affiliate.

To replicate:

1. Register affiliate. Welcome email will be sent. This is correct.
2. Deactivate affiliate. Welcome email will be sent again. This is incorrect.
3. Activate affiliate. Welcome email is _not_ sent. Th

[2016-08-01 21:48] pippinsplugins commented on #1202
@ramiabraham fatal error in the tests: https://travis-ci.org/AffiliateWP/AffiliateWP/jobs/149001662

[2016-08-01 21:53] pippinsplugins commented on #1225
@ramiabraham Fairly sure that could result in `Headers already sent` errors since headers haven't been set during `admin_init`. We'll need to use a later hook that adds the nonce inside of our main form elements.

[2016-08-01 23:05] DrewAPicture commented on #1444
@pippinsplugins OK, I think I've got the last problem covered (hopefully). I also clarified the inline comments to try to explain the cases where an acceptance email wouldn't be sent. Let me know if it's still not there.

[2016-08-01 23:30] pippinsplugins commented on #1444
@DrewAPicture I think you got it!

@sumobi could you give it a once over to confirm?

[2016-08-02 00:42] sumobi commented on #1444
@pippinsplugins @DrewAPicture All emails working for me 👍

[2016-08-02 02:12] #1444 closed

[2016-08-02 03:40] #1202 closed

[2016-08-02 03:52] ramiabraham commented on #1414
JS min added in https://github.com/AffiliateWP/AffiliateWP/commit/e775811654a3e0df2610e5ebad748832372553f4

[2016-08-02 04:49] sumobi opened #1494 "Refreshing admin page sends affiliate another email"
Testing with latest master. Multiple emails can be sent via the admin by refreshing the page after performing an action.

Example:

1. Turn on affiliate approval
2. Accept an affiliate
3. Reload the page

After each reload it will send an affiliate accepted email to the affiliate.

URL shown:

    http://affiliate-forms-ninja-forms.affwp.dev/wp-admin/admin.php?page=affiliate-wp-affiliates&affwp_no

[2016-08-02 05:30] DrewAPicture commented on #1414
Tests passed, merged #1493.

[2016-08-02 05:30] #1414 closed

[2016-08-02 06:19] DrewAPicture commented on #1494
Added a PR: #1495

![Magic](https://cl.ly/2P430P1e1M3k/magic.gif)

[2016-08-02 06:41] sumobi commented on #1494
@DrewAPicture Works great. I especially like how the query arg disappears after clicking an action link.

[2016-08-02 07:58] #1494 closed

[2016-08-02 14:08] pippinsplugins commented on #1414
This works really nicely.

[2016-08-02 16:24] DrewAPicture commented on #1466
Added a PR: #1496

[2016-08-02 16:33] DrewAPicture commented on #1466
With the new field:

![Website](https://cl.ly/3V0N1B352H40/1466_after.png)

[2016-08-02 17:24] DrewAPicture commented on #1443
I like #1051 as well. I think we should focus our attention there on the 1.9 milestone. @AffiliateWP/core  Any objections?

[2016-08-02 17:42] pippinsplugins commented on #1443
No objections here.

[2016-08-02 22:06] DrewAPicture commented on #1413
Started a PR: #1497

Initially it just sets up the internals and adds the base WP info, nothing AffWP-specific yet. Will circle back around.

[2016-08-02 22:46] sumobi opened #1498 "Collect usage information"
We talked about this during a recent meeting though I can't find an issue on it.

Similar to EDD's opt-in, we could ask customers to "opt-in and help make AffiliateWP better". We would collect useful information such as integrations enabled etc.

This could be included during the on-boarding process (https://github.com/AffiliateWP/AffiliateWP/issues/1381) or available to opt-in to from another loc

[2016-08-03 00:19] sumobi opened #1500 "Support for Stripe (standalone)"
Similar to https://github.com/AffiliateWP/AffiliateWP/issues/854

This guy reckons it is possible: https://github.com/AffiliateWP/AffiliateWP/issues/854#issuecomment-142469867

Customer ticket/s:
https://secure.helpscout.net/conversation/233975826/39198/?folderId=205529

[2016-08-03 01:36] DrewAPicture commented on #471
Started a PR: #1501

There's a TODO list in the PR description. Feel free to add anything I missed.

[2016-08-03 02:16] michaelbeil commented on #1466
All checks out well. This PR can be merged.

[2016-08-03 02:19] michaelbeil opened #1502 "Update Spanish (Spain) translation"
PR: #1499

[2016-08-03 02:22] #1502 closed

[2016-08-03 03:41] pippinsplugins commented on #1500
I could be wrong but after some initial testing it looks like this might not work the same as PayPal. I can't get a JS event to fire when the button is clicked.

[2016-08-03 03:45] pippinsplugins commented on #1500
Scratch that, found a way!

[2016-08-03 07:20] sumobi opened #1504 "&action=edit being stripped from post edit links"
The changes made on https://github.com/AffiliateWP/AffiliateWP/issues/1494 are affecting other areas of the admin. E.g. when editing a post or page `/post.php?post=1&action=edit` the `&action=edit` is being stripped off the end.

Related ticket:
https://secure.helpscout.net/conversation/234455207/39306/?folderId=205524

[2016-08-03 10:24] DrewAPicture commented on #1504
PR: #1505

PR takes a much more conservative approach to stripping query args, namely only stripping admin notices and _wpnonce, and only on admin.php (which all AffWP admin files live within). The various AffWP admin screens rely on the `_wpnonce` value to proceed, so removing it following successful execution should properly address the original problem reported in #1494

[2016-08-03 13:26] #1504 closed

[2016-08-03 13:29] #1466 closed

[2016-08-03 13:59] pippinsplugins commented on #471
TODO looks good.

[2016-08-03 17:14] pippinsplugins commented on #1413
Looking good so far!

[2016-08-03 22:23] DrewAPicture commented on #471
**Tuesday progress:**
* Built TODO list
* Stubbed out `AffWP\Affiliate\Payout`

**Wednesday progress:**
* Stubbed out `Affiliate_WP_Payouts_DB`
* Set up compat w/ `AffWP\Object`
* Stubbed out `payout-functions.php` + basic tests for `affwp_get_payout()`
* Got the first round of feedback from @pippinsplugins and @ramiabraham

[2016-08-04 02:16] pippinsplugins commented on #1287
Moving this to 2.0.

[2016-08-04 02:19] pippinsplugins commented on #1075
@michaelbeil could I get a test on this?

[2016-08-04 02:23] pippinsplugins commented on #854
Added Trello todo for documentation, otherwise done! https://trello.com/c/uQGcMucn/95-1-9-documentation-updates

[2016-08-04 02:23] #854 closed

[2016-08-04 03:04] pippinsplugins commented on #668
PR: https://github.com/AffiliateWP/AffiliateWP/pull/1506

[2016-08-04 03:33] michaelbeil commented on #1075
This works great!

[2016-08-04 03:37] michaelbeil commented on #1075
Actually, this is not working. Referrals are still being created, and the disable referrals option is not saving.

[2016-08-04 03:39] pippinsplugins commented on #1075
@michaelbeil 2.6+ of RCP?

[2016-08-04 17:52] michaelbeil commented on #1075
@pippinsplugins Yes.

[2016-08-04 18:54] DrewAPicture opened #1507 "Remove extra plugins list table inline update row in 4.6+"
Noticed yesterday that the "There is a new version of AffiliateWP" inline message in the plugins list table was being displayed twice. Once, unstyled, by AffWP, and again styled by core. Turns out, this is handled now as part of Shiny Updates so we can essentially skip adding the extra table row in 4.6+.

This part specifically can be skipped:
[code]

I didn't look too deeply into the `show_update

[2016-08-04 18:59] michaelbeil commented on #1507
Related: https://github.com/easydigitaldownloads/EDD-Software-Licensing/issues/271

[2016-08-04 19:00] michaelbeil commented on #1507
Also related: https://github.com/easydigitaldownloads/easy-digital-downloads/pull/4830

[2016-08-04 20:44] pippinsplugins commented on #1075
Ok I'll try again.

[2016-08-04 21:10] ramiabraham commented on #1225
(corrected in https://github.com/AffiliateWP/AffiliateWP/commit/173433b08963f3bc1ab4fe140d975fd58048e11a)

[2016-08-04 22:14] ramiabraham commented on #1225
- Merged into `release/1.9`.
- `issue/1225` left open for unit test coverage additions.

[2016-08-04 23:53] DrewAPicture commented on #471
**Thursday Progress:**

* Added `status` column and renamed `referral_ids` column to `referrals`
* Added first passes of the Payouts page to the menu, Payouts page plus list table view, edit view, screen options
* Started more comprehensive testing of payout actions, edit screen mechanics
* Improved Payouts DB layer methods

[2016-08-05 02:23] worldtravlr commented on #1076
Any beta updates that need testing here?  Is there any chance this might be ready by September for final testing?

[2016-08-05 02:36] michaelbeil commented on #1388
We should remove the `{review_url}` tag from the descriptions under the `Application Accepted Email` and the `New Referral Email`.

[2016-08-05 02:44] michaelbeil commented on #1076
Everything is in branch `issue/1076` right now if you care to test. We are shooting for a release by the end of the month.

[2016-08-05 04:14] pippinsplugins commented on #471
@DrewAPicture Looks like recording payouts during payout file generation hasn't been done yet, so any suggestions for how to test it? Just manually add payouts to the DB?

[2016-08-05 04:15] pippinsplugins commented on #1388
At the moment we do not have support for showing specific tags under specific fields. That will need to be a new issue.

[2016-08-05 04:17] pippinsplugins commented on #1076
Note: what is in 1076 is not likely remotely final. We've had a meeting today to discuss general direction and there should be a lot of progress in the next week or so that dramatically changes what is there now.

[2016-08-05 07:23] worldtravlr commented on #1076
Awesome!  That is exciting.  Let me know when the changes are done and glad to do some review and testing.

[2016-08-05 07:51] DrewAPicture commented on #471
@pippinsplugins That's correct. The only way to populate it current is by adding some payouts manually with the `affiliate_wp()->affiliates->payouts->add()` method.

[2016-08-05 13:55] pippinsplugins commented on #471
:+1:

[2016-08-05 18:53] michaelbeil opened #1508 "Display specific email tags under specific fields"
At the moment we do not have support for showing specific tags under specific fields. It would be great to make this possible, so users do not think that the new `{review_url}` tag can be used for the **Application Accepted Email** and the **New Referral Email**.

Related issue: #1388

[2016-08-05 23:04] sumobi commented on #1508
👍

[2016-08-05 23:36] michaelbeil commented on #1490
I like this.

[2016-08-06 00:38] ramiabraham opened #1509 "Add more granular timing control/injection in affwp_process_update_referral (and related Referral object setter in 1.9+)"
In the Store Credit add-on issue, https://github.com/AffiliateWP/affiliatewp-store-credit/issues/21, it was decided that a slight adjustment to core would enable easier patching of timing-related issues like this.

This will pass in easier ways to provide and modify old _and_ new amounts, as well as access both values _concurrently_.

[2016-08-07 22:47] sumobi commented on #1490
@AffiliateWP/core Ready for testing

Tested with percentage and flat rate. Decided to shorten email tag to {referral_rate} so it's consistent with the existing {referral_url} email tag.

![screen shot 2016-08-08 at 10 43 59 am](https://cloud.githubusercontent.com/assets/52581/17465870/704daa20-5d55-11e6-87e4-cf6a500f9e5a.png)

![screen shot 2016-08-08 at 10 42 13 am](https://cloud.githubuserconten

[2016-08-08 00:34] sumobi opened #1512 "General "Website URL" confusion, affiliate registration enhancements"
Currently, a user who is submitting the affiliate registration form can enter their `website URL`. This URL is then stored with their WordPress user profile.

The "Website URL" field is confusing. Some random thoughts:

1. This URL entered may not necessarily be the website URL they intend to promote the site owner's products/services from. The affiliate could just enter a personal URL.

2. The af

[2016-08-08 01:00] sumobi opened #1513 "Affiliate Profile Editor"
We briefly talked about this a while back in Slack, I'd like to revive it for some more discussion.

The idea was to have a profile editor form in the affiliate area that the affiliate can update their details from. This form would be similar to that of EDD and RCP. It would allow the affiliate to change:

1. Their first and last name
2. Their display name
3. Their primary email address, editable

[2016-08-08 01:43] sumobi opened #1514 "AFFILIATE_WP_LICENSE_KEY -> AFFILIATEWP_LICENSE_KEY"
PR: #1515

Let's change `AFFILIATE_WP_LICENSE_KEY` to `AFFILIATEWP_LICENSE_KEY`.

Internal functions/classes are ok with the space but front-facing text (shown in admin settings) should be consistent and reflect the real company/product name.

[2016-08-08 01:49] DrewAPicture commented on #471
**Friday/Weekend Progress:**

* Full test coverage add for the `add()`, `payout_exists()`, `get_column_defaults()`, `get_columns()`, `get_object()`, and `get_referral_ids()`  DB methods
* Add initial tests for `get_payouts()`, skipping referrals handling which will require a subquery and is not currently usable/testable
* Further completed payouts DB layer, TODO: referrals handling, amount handlin

[2016-08-08 01:58] DrewAPicture commented on #1514
PR: #1515

[2016-08-08 06:35] DrewAPicture opened #1516 "Add test factories for creating core objects"
PR: #1517

The primary benefit of implementing object factories (in addition to a new AffiliateWP-specific base `UnitTestCase` class is the simple ability to easily create standardized test objects regardless of the current testing context.

Up until now in release/1.9, we've been using helper methods that populate class properties to create objects, but really only within the context of the curre

[2016-08-08 10:57] sumobi opened #1518 "Add support for Pakistani PKR"
A customer has requested a new currency be added: Pakistani Currency PKR: https://en.wikipedia.org/wiki/Pakistani_rupee

[2016-08-08 13:54] pippinsplugins commented on #1512
I agree with all of this, but I don't think we should put this in 1.9, simply because we're running out of time and 1.9 keeps growing instead of shrinking.

I propose either soon after 1.9 in a point release (even though it's a pretty major change) or 2.0.

[2016-08-08 13:55] pippinsplugins commented on #1513
I agree 100%.

[2016-08-08 14:00] pippinsplugins commented on #1229
Note, new constant is `AFFILIATEWP_LICENSE_KEY`.

[2016-08-08 14:01] pippinsplugins commented on #471
My gut reaction is to handle it in `add()`.

[2016-08-08 14:02] #1514 closed

[2016-08-08 16:36] DrewAPicture opened #1519 "Implement affiliate factory for affiliate tests"
Using the factories implemented in #1516, implement said affiliate factory in affiliate tests.

[2016-08-08 16:37] DrewAPicture opened #1520 "Implement factory methods and static fixtures for all the tests"
Using the factories implemented in #1516, implement said referral factory in referral tests.

[2016-08-08 16:37] DrewAPicture opened #1521 "Implement creative factory for creative tests"
Using the factories implemented in #1516, implement said creative factory in creative tests.

[2016-08-08 16:38] DrewAPicture opened #1522 "Implement visit factory for visit tests"
Using the factories implemented in #1516, implement said visit factory in visit tests.

[2016-08-08 17:22] DrewAPicture commented on #1516
Tests passed, merged #1517.

[2016-08-08 17:22] #1516 closed

[2016-08-08 20:33] michaelbeil commented on #1513
I support this.

[2016-08-08 20:44] michaelbeil opened #1524 "Update Arabic translation"
PR: #1510

[2016-08-08 20:51] michaelbeil commented on #1512
I would say this should be shortly after 1.9 as Pippin mentioned, but this is going to be helpful to users.

[2016-08-08 21:10] #1524 closed

[2016-08-08 21:35] ramiabraham opened #1525 "Reports overhaul for 1.9: Redux"
* [x] PR: #1596

The reports overhaul in `1.9`contains a wide variety of improvements which can be made given the new objects, meta boxes, and other functionality. This issue provides a thread to track a new, concise roadmap of the Reports _Redux_ to be implemented/refactored.

- This issue is originally tracked on thread #1076.
- The original feature branch, `issue/1076`, has been deleted and rep

[2016-08-08 22:23] michaelbeil commented on #1490
Looks good here!

[2016-08-08 23:04] sumobi commented on #1512
Sounds good to me

[2016-08-09 04:48] sumobi commented on #1525
Some survey feedback which relates to reporting:

[2016-08-09 04:54] sumobi commented on #1513
Feedback from survey which relates to this:

Having a profile editor would allow a home address field to be added if required.

[2016-08-09 04:56] sumobi commented on #602
feedback from survey:

[2016-08-09 05:01] sumobi commented on #1210
Another request for this from our survey

[2016-08-09 05:09] sumobi commented on #1234
+1 for this from survey

[2016-08-09 14:17] ramiabraham commented on #1525
I love the idea of integration-specific data. Thoughts on survey feedback:

- My first reaction was that it could go on the _edit affiliate_ screen, but this might fit better as something that shows in Reports, as something which expands on click of a specific affiliate. Both have their downsides:
    - Adding this information to the edit affiliates screen breaks detailed Reports data out of the R

[2016-08-09 14:27] pippinsplugins commented on #1525
I believe everything should be contained within the Reports page. We could always add a link to a filtered reports page from the affiliate edit screen, but the data itself should be shown in reports.

Note: we will not use a PDF library nor will we will support downloading PDF files of any kind. After doing that in EDD, several EDD extensions, and RCP, I learned the hard way that those libraries a

[2016-08-09 15:29] DrewAPicture commented on #471
**Monday Progress:**
* Implemented core object unit test factories
* Implemented the payout factory and converted function and DB tests to use it
* Enabled referral checking when adding payouts
* Added multi-referral support to `add()`
* Started updating the `payout_id` column when marking referrals paid (bulk action only currently)
* Added single and multi-referral support + tests to `get_payouts

[2016-08-09 15:41] pippinsplugins commented on #471
Good work!

[2016-08-09 20:17] ramiabraham commented on #1076
Closing in favor of #1525

[2016-08-09 20:17] #1076 closed

[2016-08-09 20:18] DrewAPicture commented on #1477
Let's close this as fixed as of #1478. If we find any more, file new issues.

[2016-08-09 20:18] #1477 closed

[2016-08-10 00:31] michaelbeil commented on #987
I am seeing an issue with this again in both the **Most valuable affiliates** and **recent referrals** areas.
![screen shot 2016-08-09 at 7 30 32 pm](https://cloud.githubusercontent.com/assets/4752949/17538086/c96de2ec-5e67-11e6-9729-0de9f7fe31b6.png)

[2016-08-10 00:32] sumobi opened #1526 "revoke_referral_on_void method missing from Sprout Invoices integration"
There's a `revoke_referral_on_void` method being referenced from the action, but no method present in the integration file.

https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/integrations/class-sproutinvoices.php

[2016-08-10 00:33] michaelbeil commented on #987
Ok, confirmed that the issue is only in branch `release/1.9`.

This should be fine once we re-merge master.

[2016-08-10 00:33] #987 closed

[2016-08-10 00:38] sumobi commented on #1526
Looks like should be `revoke_referral_on_void ` should be `revoke_referral_on_refund`

[2016-08-10 01:37] DrewAPicture commented on #1526
Looks good.

[2016-08-10 01:37] #1526 closed

[2016-08-10 02:30] ramiabraham opened #1528 "Define an abstract list table base class, used to extend all list tables."
Defining an abstract list table base class allows us to unify this object plugin-wide, and share various methods and features while keeping things _dry_.

[2016-08-10 03:06] DrewAPicture commented on #1413
Added AffiliateWP-specific info in 433b39d.

[2016-08-10 03:14] ramiabraham commented on #1528
Thoughts on this? Kept it as simple as possible for now, though there might be _somewhat_ defined handlers for optional ajax methods, export functionality, and search filters later on

[2016-08-10 03:19] pippinsplugins commented on #1413
Looks good here! Let's merge once tests pass.

[2016-08-10 04:02] sumobi commented on #1008
@AffiliateWP/core Ready for testing

Here's a logged in WP user that isn't yet an affiliate:

![screen shot 2016-08-10 at 3 57 12 pm](https://cloud.githubusercontent.com/assets/52581/17541394/24fc11e6-5f13-11e6-8179-f2f46e9a9692.png)

Notes:

1. I decided that only the username and email fields should be disabled. Username since WP doesn't allow you to change it, email because although you can cha

[2016-08-10 04:19] michaelbeil commented on #1008
Looking nice here:
![screen shot 2016-08-09 at 11 12 14 pm](https://cloud.githubusercontent.com/assets/4752949/17541622/dd95ce82-5e86-11e6-9a8a-d83d978420d5.png)

1-3 are fine and dandy.

4. It may be nice to add a password field by showing some stars. Although, we have not displayed this to logged in users before.

5. I don't quite think that would be necessary. But, then again, adding a descript

[2016-08-10 05:23] sumobi commented on #1413
@AffiliateWP/core Does it look like this by default for anyone else? Let's make it a tad taller and wider

![screen shot 2016-08-10 at 5 22 53 pm](https://cloud.githubusercontent.com/assets/52581/17542679/22cdf00e-5f1f-11e6-9919-c5a1fd6d226c.png)

[2016-08-10 05:35] DrewAPicture commented on #1413
@sumobi Try updating `master` with the newly-minified admin CSS.

[2016-08-10 05:38] sumobi commented on #1413
Looks like a caching issue, fixed! 👍

[2016-08-10 05:48] sumobi commented on #1413
@DrewAPicture can we increase the default width by a cat's whisker or two? It looks like the post statuses will be the longest line.

Default (800px)

![screen shot 2016-08-10 at 5 44 42 pm](https://cloud.githubusercontent.com/assets/52581/17543136/79907f12-5f22-11e6-8cca-1f34035d7029.png)

840px:

![screen shot 2016-08-10 at 5 45 42 pm](https://cloud.githubusercontent.com/assets/52581/17543135/79

[2016-08-10 05:49] sumobi commented on #1413
Actually, nevermind. Someone is bound to have a longer file path, I'm just secretly wanting it to look ok on my set up. OCD anyone?

[2016-08-10 05:49] #1413 closed

[2016-08-10 06:22] sumobi commented on #1234
Sorry @ramiabraham, stole this off you.

@AffiliateWP/core I think we need a filter for defining the log out URL as some people might want to redirect them to a separate login page. Include filter directly in template file or create a function? leaning towards function atm.

[2016-08-10 06:39] sumobi opened #1531 "Make admin copy consistent"
@AffiliateWP/core

I'd like to see a full audit of AffiliateWP's current admin copy for consistency. We have some settings that ask questions, and some that don't. We should do it one way or the other (and match it for future settings)

Examples:

![screen shot 2016-08-10 at 6 26 49 pm](https://cloud.githubusercontent.com/assets/52581/17543936/36d9aa62-5f28-11e6-9d44-23f615e07ea6.png)

![screen sh

[2016-08-10 07:19] fxbenard commented on #718
I don’t understand @DrewAPicture, why supporting an unofficial currency

[2016-08-10 07:21] fxbenard commented on #1531
+1

[2016-08-10 13:42] pippinsplugins commented on #1531
:+1:

[2016-08-10 13:48] pippinsplugins commented on #1008
4. I don't think we should show a password field.

5. Yes, let's explain why.

[2016-08-10 13:49] pippinsplugins commented on #1234
I vote for a `affwp_get_logout_url()` function that calls `wp_logout_url()` with an `affwp_logout_url` filter. It should also include a filter on the redirect URL.

[2016-08-10 15:59] michaelbeil opened #1534 "Switch out the Iranian Toman for the Rial"
We added the Iranian Toman in  #1486.

I think we should switch out the Toman for the Rial which is the official currency of Iran and has a Unicode entity of `&#65020;`.

[2016-08-10 15:59] michaelbeil commented on #1534
Related: #718

[2016-08-10 16:09] michaelbeil commented on #718
I think it'd be best for us to support the Rial instead of the Toman. Submitted a new PR: #1535.

[2016-08-10 17:18] DrewAPicture commented on #1534
See also https://github.com/AffiliateWP/AffiliateWP/issues/718#issuecomment-236308877

[2016-08-10 18:58] michaelbeil commented on #1534
Right, I saw that. Technically the Rial is the currency of Iran. The Toman is talked about in conversation, but the actual national currency is the Rial.

[2016-08-10 19:32] michaelbeil commented on #1234
This works great.
![screen shot 2016-08-10 at 2 30 31 pm](https://cloud.githubusercontent.com/assets/4752949/17567932/036e71f6-5f07-11e6-91c2-6db52761c50e.png)

All that is needed is the aforementioned additions by @pippinsplugins and this should be set.

[2016-08-10 19:56] michaelbeil commented on #1465
All gravy here with v1.0.2 of Allow Own Referrals active or inactive.

[2016-08-10 19:56] #1465 closed

[2016-08-10 22:47] michaelbeil commented on #1531
@sumobi did you mean to remove the `?` here?

New:
Exclude tax from referral calculations`?`

New:
Exclude tax from referral calculations` `

[2016-08-10 22:51] sumobi commented on #1531
@michaelbeil Yep yep :) Updated

[2016-08-10 22:52] michaelbeil commented on #1531
👍

[2016-08-10 22:58] DrewAPicture opened #1536 "Use a friendlier date + time format in the visits tab."
PR: #1537

**Before:**
![Before](https://cl.ly/310U1t03062u/Screen%20Shot%202016-08-10%20at%205.00.50%20PM.png)

**After:**
![After](https://cl.ly/1W3Q0u3e2E0a/Screen%20Shot%202016-08-10%20at%205.00.02%20PM.png)

[2016-08-10 23:03] DrewAPicture commented on #1536
Added a PR: #1537

[2016-08-10 23:10] pippinsplugins commented on #1536
Looks good.

[2016-08-10 23:41] #1536 closed

[2016-08-11 00:56] sumobi commented on #1234
Looks like we're good to go on this

[2016-08-11 01:00] pippinsplugins commented on #1234
Needs unit tests :)

[2016-08-11 01:03] sumobi commented on #1008
@pippinsplugins As much as I'd like to add descriptions, I really don't want to add descriptions. Does that make sense?

It's going to clutter up the UI if we add them beside the inputs or underneath. I wonder if we should introduce front-end tooltips? Perhaps a little question mark next to each disabled input and it would show why it's disabled on hover.

[2016-08-11 01:05] pippinsplugins commented on #1008
? with hover : +1:

[2016-08-11 01:05] sumobi commented on #1008
If only those labels had no fixed 200px width...

[2016-08-11 01:08] sumobi commented on #1008
@pippinsplugins I'm thinking we should wait until we have tooltips in core https://github.com/AffiliateWP/AffiliateWP/issues/1412

[2016-08-11 01:27] pippinsplugins commented on #1008
:+1:

[2016-08-11 01:28] michaelbeil commented on #1008
We could banish the fixed width, but that is probably a different issue. Also, waiting for tooltips would be helpful for adding descriptions into the registration fields.

[2016-08-11 01:35] sumobi opened #1538 "Remove fixed-width labels from forms"
We should remove fixed-width `label`'s from AffiliateWP's front-end forms. Similar to https://github.com/restrictcontentpro/restrict-content-pro/issues/251

We can provide a CSS code snippet if anyone feels like it breaks their site.

[2016-08-11 02:16] DrewAPicture commented on #471
Started a separate PR for Payouts WP-CLI commands: #1539

It has to be merged *after* #1501.

[2016-08-11 03:40] pippinsplugins commented on #471
@DrewAPicture I'll be testing this tomorrow.

[2016-08-11 08:02] DrewAPicture opened #1540 "Add the ability to query for core object ids only"
In bcc1387 for #471, we added the ability to query only for payout IDs. After talking to @pippinsplugins about it, we thought it would be useful to extend this functionality to the other objects.

[2016-08-11 08:42] DrewAPicture commented on #1540
PR: #1541

[2016-08-11 14:48] pippinsplugins commented on #471
When a referral has been paid and it has a `payout_id` stored, let's display and link to that payout on the edit referral screen:
![screen shot 2016-08-11 at 9 47 54 am](https://cloud.githubusercontent.com/assets/1034109/17592667/c4a469ec-5fa8-11e6-82f8-dd04fdd0f337.png)

[2016-08-11 15:00] #1540 closed

[2016-08-11 15:20] pippinsplugins commented on #471
A few things I've found with the cli command:

`wp affwp payout update --url=https://edd.com/woocommerce/` (note the lack of an ID) gives me the an error:

[code]

The help text is missing for the `update` sub command:
![screen shot 2016-08-11 at 10 18 54 am](https://cloud.githubusercontent.com/assets/1034109/17593910/18e931c8-5fad-11e6-8d52-07eadc70ef1d.png)

The data shown for a single payout is

[2016-08-11 15:24] pippinsplugins commented on #471
Issue found when Lifetime Commissions is active:
![screen shot 2016-08-11 at 10 23 55 am](https://cloud.githubusercontent.com/assets/1034109/17594115/c00375ea-5fad-11e6-81cf-070c05a0c1f8.png)
I suspect one of the action hook names has not been changed since the referrals edit screen was copied.

[2016-08-11 15:26] pippinsplugins commented on #471
When invalid affiliate IDs or referral IDs are given to the `create` command, a `Error: The payout could not be added.` error is returned. Would it be possible to include the specific reason it couldn't be created?

[2016-08-11 20:50] pippinsplugins commented on #1528
`get_views()` and `_get_views()` are not quite right.

`get_views()` should be used by each sub class and should do nothing more than setup the array of views with key values pairs.

`_get_view()` should call `get_views()` and then handle the logic for setting up the HTML, class names, filters, etc.

The same goes for the other methods, get_columns, _get_columns(), get_sortable_columns(), and _get

[2016-08-11 22:04] ramiabraham commented on #1528
Something similar to what I had in the prior iteration (last commit that had this: https://github.com/AffiliateWP/AffiliateWP/commit/c2642f192ff3ec2cf6d050f8137d3ee5411e9a1f)?

[2016-08-12 14:52] pippinsplugins commented on #1528
Not quite. Like this:

Base class:

[code]

In sub class:

[code]

[2016-08-12 14:58] pippinsplugins commented on #1520
Fantastic!

[2016-08-12 15:46] jaredatch opened #1543 "Amount Sanitize function not correct"
https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/misc-functions.php#L109

The regex is incorrect and removes any commas, which then makes most of the logic after it useless ;)

Not sure why, but this function is different than EDD's version (which works correctly)

https://github.com/easydigitaldownloads/easy-digital-downloads/blob/master/includes/formatting.php#L24

[2016-08-12 21:44] michaelbeil commented on #1113
Closing in favor of LC implementation.

[2016-08-12 21:44] #1113 closed

[2016-08-12 21:57] DrewAPicture commented on #1522
Closing in favor of #1520.

[2016-08-12 21:57] #1522 closed

[2016-08-12 21:57] DrewAPicture commented on #1521
Closing in favor of #1520.

[2016-08-12 21:57] #1521 closed

[2016-08-12 21:57] DrewAPicture commented on #1519
Closing in favor of #1520.

[2016-08-12 21:57] #1519 closed

[2016-08-12 21:59] DrewAPicture commented on #1258
Closing in favor of #1520.

[2016-08-12 21:59] #1258 closed

[2016-08-12 22:00] DrewAPicture commented on #1184
Closing this as fixed. We can file new issues for anything else that comes up.

[2016-08-12 22:00] #1184 closed

[2016-08-12 22:12] DrewAPicture commented on #1534
@michaelbeil Looks good.

[2016-08-12 23:20] michaelbeil commented on #1534
Alrighty then 😎

[2016-08-12 23:46] DrewAPicture commented on #1520
@pippinsplugins I think we're ready to go here.

Note to self: I'll need to update the payout tests on #471 to match once this is merged to release/1.9.

[2016-08-13 01:16] ramiabraham commented on #1256
Closing in favor of #1525

[2016-08-13 01:16] #1256 closed

[2016-08-13 02:03] pippinsplugins commented on #1184
🍻

On Friday, August 12, 2016, Drew Jaynes <notifications@github.com> wrote:

[2016-08-13 03:42] worldtravlr commented on #1525
Excited about all the activity here! :-)  Keep it up @ramiabraham and awesome AffiliateWP team!  Cheers!

[2016-08-13 23:02] pippinsplugins commented on #1520
Looks great, merged!

[2016-08-13 23:02] #1520 closed

[2016-08-14 02:15] michaelbeil opened #1544 "Add a referral rate column to the referrals table"
It could be slick to expose the referral rates in a new column in the referrals table in both the admin referrals screen and the referrals tab in the affiliate area.

One day we could display the referral rate and then have a visual popup or something that explains the decision chain for which rate was used.

[2016-08-14 03:30] michaelbeil commented on #1536
This is great!

[2016-08-15 19:03] ramiabraham commented on #1525
Update on progress, inclusion of mockups:

- List table views now use the primary object list tables
- A campaign list table is in the process of being defined, and is located in `admin/campaigns/`.

----

### Search filters

Reports list table appearance with search filters:

![Reports overview](http://i.imgur.com/g14jR1D.png "Overview")

The search filters contain the following operators:

- gre

[2016-08-15 19:15] pippinsplugins commented on #1525
That's looks great.

The overview meta boxes? Let's leave them untouched for now, at least until we figure out the exact answers to some of my questions below.

I would prefer that the graphs stay but that they be a direct representation of the data presented in the list tables.

Possibly but let's get the data itself all displayed before we're that concerned with exactly where it's shown (in or o

[2016-08-15 19:18] michaelbeil commented on #1525
**Keep or nix the meta boxes?**

On the Overview screen?

**Graphs are taking up some notable real estate. A sub-tabbed UI? Remove graphs?
If removing graphs form individual tabs, should they be consolidated into one main reports overview tab?**

I like the look of the graphs.

**Another option would be to place the list table itself, as well as any other sections shown in a tab, into their own me

[2016-08-15 19:18] pippinsplugins commented on #1525
Would it be helpful @ramiabraham if I put together some sketches to better show what those reports might look like?

[2016-08-15 19:19] ramiabraham commented on #1525
Yes x 100000 :)

[2016-08-15 19:22] ramiabraham commented on #1525
@michaelbeil @pippinsplugins (Note on the meta boxes: I meant the meta boxes which show on the individual tabs within Reports)

[2016-08-15 19:28] michaelbeil commented on #1525
Oh, gotcha. If they seem to line up with Pip's mockup then yes :smile:.

[2016-08-15 22:17] ramiabraham commented on #1525
@pippinsplugins

This is a mockup of the noted repeater UI idea, which would display above the list table. This would provide a means to create complex queries, and would immediately be familiar to those using plugins such as Gravity Forms, ACF, or CMB2.

![repeater mockup](http://i.imgur.com/AoCEduc.gif "repeater")

The UI would adjust slightly, depending on what's selected, such as the date chan

[2016-08-15 23:17] michaelbeil commented on #1525
There could be a lot of potential with this type of filtering. As long as the list table is updated with the graph and the appropriate data is displayed, this seems like a winner.

`and` as well as an `or` options might be very helpful for further granular control.

[2016-08-16 03:13] worldtravlr commented on #1525
These filters look awesome!  Would some/all of them be available on the front end for affiliates as well to filter their results?

For the graphs, can you add maybe 50 referrals on the same day as that will better show my issue with the current graphs.  If there is one a sale a day, the graphs are helpful, if there or a lot, then they become useless unless they change from showing each refer to sh

[2016-08-16 13:06] ramiabraham commented on #1525
@worldtravlr We're still in the early stages of this particular feature, but I'll be updating here daily (or near daily) as things progress.

However I think it's safe to say this will be focusing entirely on the admin Reports interface. (Features for the affiliate area would be tracked separately).

Thanks for noting the graphs issue - I do recall this from #1076, and definitely plan on re-adding

[2016-08-16 22:34] sumobi commented on #1065
Another idea for this is to include a "campaign" column on the Affiliates -> Referrals screen. Currently this can easily be achieved by using the `affwp_referral_table_columns` filter:

    function affwp_custom_add_campaign_column( $columns ) {
        $columns['campaign'] = 'Campaign';
        return $columns;
    }
    add_filter( 'affwp_referral_table_columns', 'affwp_custom_add_campaign_colum

[2016-08-16 22:53] sumobi commented on #1525
Love the repeater field WIP, this could actually be handy for some other add-ons in the works... (hint hint). I agree with everything said so far, that's all I have for now :(

[2016-08-16 23:50] wordmaid commented on #1525
Phew! I can see a huge amount of work has gone into this so far, and there will likely be more. This is _so_ exciting! 🙌 I agree with the direction and all looking good. As I get more involved in the affiliate management I might pick up a few more things to add in the future.

There is one major feature missing for me, which is absolutely relevant for Reporting...

**Showing the total revenue earn

[2016-08-17 00:05] sumobi commented on #1525
^ Ahh yes, this is something I have been wanting to see for quite some time. I absolutely agree we should have this, if not for 1.9, for a point release (though technically https://github.com/AffiliateWP/AffiliateWP/issues/492 is slated for 1.9).

It does need to be filterable so can't go on a screen that isn't. Where? Not sure yet.

[2016-08-17 00:05] sumobi commented on #1525
What about a "sales" tab?

[2016-08-17 00:07] wordmaid commented on #1525
😱 YES!

[2016-08-17 00:35] michaelbeil commented on #1525
Yes to a sales tab ... please?! I totally forgot about affiliate-generated sales and how useful that would be as we have discussed this in the past.

[2016-08-17 03:32] wordmaid commented on #1531
@sumobi Absolutely!

[2016-08-17 03:42] ramiabraham commented on #1525
Thanks everyone for the _excellent_ feedback here.

- Presently, I'm continuing with getting the primary search filters defined. Right now, I'm working on logic chains for each operator.

The search filters and related data displays are the primary focus, so after that's pushed/tested etc, we could:

- Implement some limited queries _only_ for the above-noted sales data, and display in two or thre

[2016-08-17 03:48] michaelbeil opened #1545 "User migration tool only migrates the first 100 users"
To better debug this class, we should add some logging.

[2016-08-17 07:33] chimbaweb commented on #1325
Totally agree. This would be a very helpful feature so affiliate can focus more on what really drives sales.

I would also like the idea of using this tag within GravityForm email notifications ( or even using the email ID of the affiliate ) so the affiliate could get in touch with the customer or take some actions or get notified about order data etc.

This way, you dont need to develop everythin

[2016-08-17 07:39] chimbaweb commented on #718
Yes, the official currency is Rial, but honestly everyone ( even the big cooperations ) show prices in Toman. Both ways are fine though.

[2016-08-17 13:53] pippinsplugins commented on #1525
We should probably consider adding a new column to the referrals table for `order_total` to make these reports easier. Could also include an upgrade routine to update all referral records or backfill them on demand.

[2016-08-17 16:38] DrewAPicture commented on #1545
This needs testing. An easy way to do it is to use WP-CLI to generate some users for migration:

[code]

Then run the migration script and ensure the selected users were migrated. It needs to be more than 100 users to confirm the fix.

[2016-08-17 16:39] DrewAPicture commented on #1545
For anybody following the original issue, it was converted to a bug fix for the user migration script.

[2016-08-17 17:32] michaelbeil commented on #1545
All fixed.

[2016-08-17 17:33] michaelbeil commented on #1545
Works well here. Seems good to merge.

[2016-08-17 17:42] michaelbeil commented on #1325
@chimbaweb not every user will have Gravity Forms, so we want to make it possible in AffiliateWP core.

[2016-08-17 17:44] michaelbeil commented on #718
Thanks for further insight @chimbaweb!

[2016-08-17 17:48] #1534 closed

[2016-08-17 17:50] #1545 closed

[2016-08-17 18:11] ramiabraham opened #1547 "Add order_total column to referrals table"
- Consider adding a new column to the referrals table for `order_total` to make various reports-related calculations easier.
- Could also include an upgrade routine to update all referral records, or backfill them on demand.

[2016-08-17 18:14] ramiabraham commented on #1525
Order total added with tentative `2.0` milestone ( #1547 ).

[2016-08-17 22:06] michaelbeil opened #1548 "Major spike (+/-100) in database queries"
Reported here: https://github.com/easydigitaldownloads/easy-digital-downloads/issues/4873.

[2016-08-17 22:33] DrewAPicture commented on #1548
For what it's worth, in 1.9+, the `affwp_is_affiliate()` call can be skipped altogether since `$affiliate` was made optional in `affwp_get_affiliate()`, defaulting to the current affiliate.

[2016-08-17 22:55] sumobi commented on #1547
Would be so sweet to get this in 1.9.x

[2016-08-17 23:08] michaelbeil commented on #1547
Agreed with @sumobi 😄 .

[2016-08-18 01:21] DrewAPicture commented on #471
@pippinsplugins Following up on your feedback:

* https://github.com/AffiliateWP/AffiliateWP/issues/471#issuecomment-239184155

This was added in bb57103a. I also disabled the amount and status fields (with different descriptions if the referral has a payout.

![Edit Referral](https://cl.ly/3c2d090w0E1S/Screen%20Shot%202016-08-17%20at%207.11.28%20PM.png)

[2016-08-18 01:22] DrewAPicture commented on #471
@pippinsplugins Followup on your feedback:

* https://github.com/AffiliateWP/AffiliateWP/issues/471#issuecomment-239194255

That would be because there isn't an update command. The reason the command is defined is that the `update()` method is abstract in the base class. The main issue I see with being able to update payouts is the unintended consequences that might go along with that. Pretty much

[2016-08-18 01:22] DrewAPicture commented on #471
@pippinsplugins Followup on your feedback:

* https://github.com/AffiliateWP/AffiliateWP/issues/471#issuecomment-239194255

The data shown for a single payout is different than the data shown in a list. Maybe that's not an issue but thought I'd mention it:

This actually true for several of the core objects. The single object data is essentially all of the _real_ fields associated with an object,

[2016-08-18 01:22] DrewAPicture commented on #471
@pippinsplugins Followup on your feedback:

* https://github.com/AffiliateWP/AffiliateWP/issues/471#issuecomment-239195382

Fixed in fa46ddb6.

[2016-08-18 01:23] DrewAPicture commented on #471
@pippinsplugins Followup on your feedback:

* https://github.com/AffiliateWP/AffiliateWP/issues/471#issuecomment-239196140

I've since rewritten the `payout create` command to directly mimic the experience from the interface. That was done in b4e3246. Obviously I'll be adding the ability to generate payouts specific to referrals and/or affiliates in which case we'd add more specific error messages

[2016-08-18 10:02] chimbaweb commented on #1325
I see. Not sure how many of your customers use GravityForms, but that was a major reason for me to get it. And it works really great.
Maybe it would be a nice addon to make the same email tags available within GravityForm.

It would be very valueable to play with this available data within email notification of GF.

[2016-08-18 16:47] ramiabraham opened #1549 "Provide dummy-data and/or dummy-data db states to quickly create objects with variable data"
Similar to [wp user generate](http://wp-cli.org/commands/user/generate/), it would be super useful to have something baked in to quickly generate data for all objects, such as:

- create `n` `object`s spanning `x` timeframe
- quickly create various environments, such as numerous referrals all needing specific field value ranges.

We can certainly _already_ do this via some shell scripting, eg:

[c

[2016-08-18 17:09] DrewAPicture commented on #1549
I'm already working on this ;)

`wp affwp generate affiliates|referrals|creatives|visits|payouts ...`

[2016-08-19 21:00] pippinsplugins commented on #471
Will give this a test soon!

[2016-08-19 21:18] ramiabraham commented on #1525
Status update!

- Search filters are getting closer. Will be working on them more over the next couple days.
- The completed filters are noted above ([comment link](https://github.com/AffiliateWP/AffiliateWP/issues/1525#issue-170031308))

- So far, the filters I've focused on building are those that can be determined with AffiliateWP data _only_. As I prepare to move to Referrals-specific filters,

[2016-08-19 23:59] sumobi commented on #1325
Since we refer to this as a campaign name I'd like to suggest the email tag be **{campaign_name}**

![screen shot 2016-08-20 at 11 55 53 am](https://cloud.githubusercontent.com/assets/52581/17827195/1e75cc7e-66cd-11e6-860b-70ebb97d4b89.png)

[2016-08-20 00:45] sumobi opened #1552 "Add {landing_page} email tag"
I'd like to propose a {landing_page} (any suggestions on name?) email tag.

This is for the referral notification email so the affiliate can see where the original point of entry was by the customer, before the referral was awarded to them which is quite useful.

This is the URL we show in the `URL` column of the `Visits` tab of the Affiliate Area:

![screen shot 2016-08-20 at 12 41 19 pm](https:/

[2016-08-20 02:44] michaelbeil commented on #1325
Sounds good to me. I've changed the tag accordingly.

[2016-08-22 03:41] pippinsplugins commented on #1252
@sumobi ready for testing.

[2016-08-22 03:43] pippinsplugins commented on #668
@sumobi could you test this please?

[2016-08-22 05:41] DrewAPicture commented on #1252
@pippinsplugins Looks good. Needs unit tests :)

[2016-08-22 13:44] nhadsall commented on #1431
I have been working with ManageWP on this issue, but they put the blame on AffiliateWP. If neither side can resolve the issue, I am going to have to stop using one service or the other. It looks like ManageWP does not totally understand the problem. Any change I could get some information to point them in the right direction? Thanks!

[2016-08-22 14:08] pippinsplugins commented on #1252
@DrewAPicture I have no clue how to add unit tests for an options' page save routine. Care to educate me?

[2016-08-22 14:10] pippinsplugins commented on #1431
@nhadsall it basically comes down to ManageWP loading pieces of WordPress (but not others) in a non-standard way. Because they're using non-standard methods, it should be entirely up to them to ensure they are not breaking plugin compatibility (which they are).

Now, that being said, I would rather we put a shim in on our side to prevent the problem. We've seen it happen twice so it will likely ha

[2016-08-22 14:11] pippinsplugins commented on #1431
@nhadsall can you please get me the exact error message so that I can see which file it's occurring in?

[2016-08-22 14:55] pippinsplugins commented on #1552
I love this idea.

[2016-08-22 15:22] DrewAPicture commented on #1252
@pippinsplugins Looks like we already have a test for the capability. I couldn't find a good (see: any) way to test the cap on options.php. Hmm, disappointing. No unit tests for us.

[2016-08-22 15:28] pippinsplugins commented on #1252
Damn, I was hoping for magic.

[2016-08-22 16:24] nhadsall commented on #1431
@pippinsplugins This is what makes your products so great: "Bad code breaks our code... sure we can make our code even better." Sadly, ManageWP's response was, "Uh, we are kinda busy and you are just one client... plus this isn't really our fault."

The error is:
Fatal Error (E_ERROR): Call to undefined function affwp_get_pages() occurred in wp-content/plugins/affiliate-wp/includes/admin/settings/

[2016-08-22 16:41] pippinsplugins commented on #1431
I really hope that wasn't an exact copy-paste of their reply . . . . Shameful.

[2016-08-22 16:43] nhadsall commented on #1431
No, not copy/paste so I probably should not have put it in quotes, but that was the sentiment behind the words. They are going through some major growing pains right now, so I can give them a little slack, but I was still disappointed in the support. I appreciate your help!

[2016-08-22 16:45] pippinsplugins commented on #1431
Patch submitted that will resolve it.

We'll include this in the next point release.

[2016-08-22 18:23] #1431 closed

[2016-08-22 18:44] michaelbeil opened #1555 "Restrict Content Pro: Referral amounts don't take coupons into account"
When a sale is made with a coupon (regular code or affiliate discount code), the referral amount is calculated off of the subscription price (before coupons). It should definitely be after coupons, until we add an option to specify which should be used.

Restrict Content Pro 2.6.6
AffiliateWP 1.8.7

Steps to reproduce:
1. Set up a new subscription in RCP and set its price to $199.
2. Set the subsc

[2016-08-22 20:13] pippinsplugins commented on #1308
Works great. Merging.

[2016-08-22 20:13] #1308 closed

[2016-08-22 20:15] #1252 closed

[2016-08-22 20:28] pippinsplugins commented on #1246
Turns out this is already supported. I did find a couple of tweaks to make, however, so PR: #1556

[2016-08-22 20:28] #1388 closed

[2016-08-22 20:30] michaelbeil commented on #1246
Looks good.

[2016-08-22 20:43] pippinsplugins commented on #1075
@michaelbeil ready for new round of testing.

[2016-08-22 20:44] #1246 closed

[2016-08-22 20:49] pippinsplugins commented on #947
@sumobi URL validation added to registration form.

[2016-08-22 20:55] pippinsplugins commented on #942
@sumobi @michaelbeil ready for testing.

[2016-08-22 21:09] michaelbeil commented on #942
Works well. Ready to be merged.

[2016-08-22 21:09] pippinsplugins commented on #1376
This is being done as part of #471 so I'm going to close.
![screen shot 2016-08-22 at 4 08 48 pm](https://cloud.githubusercontent.com/assets/1034109/17871806/c3c3b766-6882-11e6-9052-60a2de2190c0.png)

[2016-08-22 21:09] #1376 closed

[2016-08-22 21:11] pippinsplugins commented on #471
@DrewAPicture This is working really, really well.

Anything specific left to do besides integrate it with the payout add-ons?

[2016-08-22 21:11] pippinsplugins commented on #471
If it's just add-ons left, let's merge this as soon as possible.

[2016-08-22 21:14] pippinsplugins commented on #949
Let's re-vote on this please. Two options:

A. Make the shortcode default to the current page's URL. This could result in site's changing from showing the home page to showing the current URL. Not a major problem but might result in some flack.

B. Add a `url="current"` parameter to the shortcode. This is the least offensive to backwards compatibility but is a non-intuitive usage that I really don

[2016-08-22 21:16] #942 closed

[2016-08-22 21:16] #947 closed

[2016-08-22 21:23] michaelbeil commented on #949
Seems like A is the better option as we can prepare for any support tickets.

[2016-08-22 21:47] ramiabraham opened #1558 "Adjust css to account for apparent minor css changes in WP core"
Our our about page, `wp-admin/index.php?page=affwp-getting-started` has some wonky text:

![wonk](http://i.imgur.com/eUOj5nK.png "wonk")

The apparent changes in WP core >= 4.6, in `wp-admin/css/about.css` are:

[code]

The below style will correct for this:
[code]

[2016-08-22 21:50] #1490 closed

[2016-08-22 22:05] michaelbeil commented on #1558
Well, I guess that CSS change in core will work for some, but not or us.

[2016-08-22 22:16] pippinsplugins commented on #1184
Found a bug!

`rate()` in the affiliate object returns the account-specific rate if it is set or the default rate in settings if no account rate is set.

This is all well and good except that it breaks how `affwp_get_affiliate_rate()` when using product rates.

Calculation rates are retrieved in this order: `Affiliate > Product > Global`.

Now, however, product rates get ignored because the affili

[2016-08-22 22:18] pippinsplugins commented on #1184
This can be resolved by checking if the affiliate has a custom rate before skipping over the product rate in `affwp_get_affiliate_rate()`:

[code]

[2016-08-22 22:22] pippinsplugins commented on #1184
Fixed in https://github.com/AffiliateWP/AffiliateWP/commit/765c304ce0d423092d8c73b289d467faac7afc35

[2016-08-22 22:28] pippinsplugins commented on #964
Note: the `Save Changes` box inside of the variation settings does not currently save our new fields, only the main product update button does.

[2016-08-22 22:33] pippinsplugins commented on #964
@michaelbeil @sumobi could you both please test this?
![screen shot 2016-08-22 at 5 32 51 pm](https://cloud.githubusercontent.com/assets/1034109/17874004/78d20e04-688e-11e6-93cb-bbdf5fa95fa6.png)

[2016-08-22 23:45] sumobi commented on #949
A

[2016-08-23 00:24] michaelbeil commented on #964
This is working wonderfully.

If no variable rate is set, the product rate is used, and if no product rate is set, the default rate is used.

Affiliate > Variable > Product > Default

[2016-08-23 00:26] michaelbeil commented on #673
This is being done in #1559.

[2016-08-23 00:37] michaelbeil commented on #964
Ok, it seems like there may be a bug with save in the variations tab. After setting a referral rate and saving the changes, the referral rate field is then blank, or the disable referral option is unchecked.

[2016-08-23 00:45] michaelbeil commented on #964
Oh, I just reread https://github.com/AffiliateWP/AffiliateWP/issues/964#issuecomment-241571026. Noted.

[2016-08-23 00:50] michaelbeil commented on #964
We should note the variation like so: `Product name - variation`

![screen shot 2016-08-22 at 7 49 13 pm](https://cloud.githubusercontent.com/assets/4752949/17876642/9e80922a-68a1-11e6-8b33-9099a522ebd3.png)

[2016-08-23 01:02] DrewAPicture commented on #471
Merged #1501. Can haz payout logs? 🎉

[2016-08-23 01:13] michaelbeil commented on #773
Post 1.9, we should consider bumping this to 2.0.

[2016-08-23 01:48] pippinsplugins commented on #471
Woot!

[2016-08-23 01:48] pippinsplugins commented on #471
@DrewAPicture let's please proceed with getting issues and PRs for the Stripe and PayPal add-ons.

[2016-08-23 01:51] pippinsplugins commented on #673
#1559 is for WooCommerce only.

[2016-08-23 01:51] pippinsplugins commented on #673
Closing this as a duplicate.

[2016-08-23 01:51] #673 closed

[2016-08-23 06:38] flowdee commented on #1308
amazing, thanks @pippinsplugins ! Sorry I haven't found time to test it 😢

[2016-08-23 11:13] Tigzy opened #1560 "Bug in affwp_calc_referral_amount filter call"
Hello,
in referral-functions.php, you have an extra parameter '$amount' that needs to be removed (commented here).

Also, it's missing the $rate value (added here)

[code]

[2016-08-23 12:23] Tigzy commented on #1560
Also I found another bug in class-woocommerce.php (includes/integrations):
in add_pending_referral :
2 get_products call are missing the order id arg, this breaks the affwp_calc_referral_amount filter later in the chain.

`$this->get_products( $order_id ),`

[2016-08-23 18:53] pippinsplugins commented on #316
API key authentication is looking good!

A few quick items I noticed on the API keys page.

1. The username field needs to have a placeholder so admins know what to enter: https://cloudup.com/cUOxHxuN1vC
2. Let's move `API Keys` to the second position, in front of `Recount stats`
3. `Revoke` link could be red to indicate it's a "delete" link: https://cloudup.com/c3ULvePptgX
4. Once we have documen

[2016-08-23 19:12] pippinsplugins commented on #316
I've found a few minor bugs.

1. `get_collection_params()` mentions a `per_page` parameter. The individual routes, however, use `number`, not `per_page` to control how many are returned.

2. The `page` parameter does not appear to function. Page 1 is always loaded.

3. The `user=true` parameter for the affiliates route does not appear to work. No user data is returned with or without the parameter

[2016-08-23 20:53] ramiabraham commented on #313
_(Closing in favor of #1525, as it's added there)_

[2016-08-23 20:53] #313 closed

[2016-08-23 23:05] michaelbeil commented on #1560
@Tigzy sent this in a support ticket for usage reference:

[code]

[2016-08-24 03:58] sumobi commented on #1252
@pippinsplugins works great 👍

[2016-08-24 04:19] sumobi commented on #947
👍

[2016-08-24 04:53] sumobi commented on #1558
If we're going to correct it we'll need one more rule for the `What's New` tab:

[code]

We'll also need another rule for the `h2`'s on the `What's New` tab:

[code]

And we could probably simply the CSS a little so the final CSS would be:

[code]

It would be super cool to use a similar layout to 4.6's welcome screen layout:

![screen shot 2016-08-24 at 4 46 47 pm](https://cloud.githubusercontent

[2016-08-24 05:12] sumobi commented on #668
@pippinsplugins Anything special I need to look out for? I've been testing referral links on the homepage (static page and default) and all seems to work fine.

[2016-08-24 05:15] sumobi commented on #668
Actually, I'm having trouble generating cookies with using pretty affiliate URLs on the homepage (when static page is set), non-pretty are working fine.

[2016-08-24 05:19] sumobi commented on #668
Doesn't seem to be related to this PR, broken for me in `master` also.

[2016-08-24 05:23] sumobi commented on #668
Broken with public 1.8.7 also, hmm.

[2016-08-24 05:27] sumobi commented on #668
Static page doesn't seem to matter, broken with default also. Either it's very busted or I'm just doing it wrong.

[2016-08-24 05:46] DrewAPicture commented on #316
Added endpoints for Payouts.

[2016-08-24 06:39] sumobi commented on #668
Something definitely weird going on here. After making sure my permalinks are flushed etc there seems to be an issue when using a static page set to the homepage and pretty affiliate links. The `/ref/10` is being stripped from the URL and no cookies are loaded. I was seeing sporadic behaviour between browsers but now it's happening in firefox, chrome, safari. I originally thought it was master as

[2016-08-24 06:42] flowdee opened #1561 "Disable referrals for single EDD discount codes"
Contrary to the checkbox which allows me to assign discount codes to specific affiliates, it would be very helpful to disable referrals for specific discount codes as well.

e.g. some campaigns are running internally and I don't want any affiliate to benefit accidentally for this special discount code. Right now I'm assigning a special user to the discount code but it would be very handy to disabl

[2016-08-24 07:05] Tigzy commented on #1560
Yes, it's the code I'm using for multi currency support with WPML and that revealed the bugs above.

[2016-08-24 11:38] pippinsplugins opened #1562 "Remove What's New screen and redirect"
## Update: we've chosen to remove the page instead of updating it.

Primary items I believe should be highlighted:

- Better Reports
- Payout Logs
- REST API
- WooCommerce rates per variation
- PayPal integration
- WP CLI
- "Email Improvements" and list the new {referral_rate} and {review_url} email tags.
- "Affiliate registration improvements" which would list a summary of: #1008 and #947
- Devel

[2016-08-24 11:40] pippinsplugins commented on #1558
Related #1562

[2016-08-24 11:43] pippinsplugins commented on #668
@sumobi which integrations are enabled?

[2016-08-24 15:44] frnkoc commented on #595
How can i arrange the creatives to show from newest to oldest?

[2016-08-24 15:45] pippinsplugins commented on #595
Hi there!

Please go ahead and open a support ticket through our support portal: https://easydigitaldownloads.com/support

we use GitHub for development tracking only.

[2016-08-24 17:09] DrewAPicture opened #1563 "Query creatives by specific ID or IDs"
In the spirit of parity with other core objects, we should add the ability to query for a specific creative or specific creatives.

[2016-08-24 17:30] DrewAPicture commented on #1563
Added a PR: #1564.

[2016-08-24 17:30] DrewAPicture commented on #1563
The PR includes tests.

[2016-08-24 19:43] #1563 closed

[2016-08-24 20:16] michaelbeil commented on #1558
Yes!

[2016-08-24 20:20] michaelbeil commented on #668
There is a customer that is experiencing this but I cannot replicate it locally.

What version of WP @sumobi?

[2016-08-24 20:56] sumobi commented on #668
@pippinsplugins tried with none, WooCommerce, and only EDD

@michaelbeil 4.6

Have also replicated the issue on my other machine with a static front page set as above. Master is fine, but switching to this branch instantly strips off the `/ref/1` from the URL and no cookies stored.

[2016-08-24 21:15] pippinsplugins commented on #668
Ugh.

[2016-08-24 22:43] sumobi commented on #1562
I'll list them here for now, but if we have room we could include a small section on "Email Improvements" and list the new {referral_rate} and {review_url} email tags.

[2016-08-24 22:46] sumobi commented on #1562
Another one "Affiliate registration improvements" which would list a summary of: https://github.com/AffiliateWP/AffiliateWP/issues/1008 and https://github.com/AffiliateWP/AffiliateWP/issues/947

[2016-08-24 22:56] wordmaid commented on #1562
I'd love to help by reviewing this when it's done!

[2016-08-24 22:59] sumobi commented on #1558
@pippinsplugins I wonder if we should add the CSS above and push out it in v1.8.8. Everyone on 4.6 now installing AffiliateWP will see the wonky layout. Not a great first impression.

[2016-08-24 23:01] pippinsplugins commented on #1562
Great!

On Wed, Aug 24, 2016 at 5:56 PM, wordmaid <notifications@github.com> wrote:

[2016-08-24 23:02] pippinsplugins commented on #1558
Yes I think so.

[2016-08-24 23:07] michaelbeil commented on #1562
added @sumobi's suggestions to the list above for ease of groking.

[2016-08-24 23:10] pippinsplugins commented on #1267
@DrewAPicture anything left on here?

[2016-08-24 23:38] michaelbeil commented on #1558
Makes sense to do it earlier. I thought the issue was already milestoned to an earlier version.

[2016-08-24 23:46] DrewAPicture commented on #1267
Nope. New issues for new features/fixes.

[2016-08-24 23:46] #1267 closed

[2016-08-24 23:57] pippinsplugins commented on #1267
:)

[2016-08-25 00:28] DrewAPicture opened #1565 "Tracking ticket for updating addons to use Payouts"
* [x] Parent issue: #471
* [x] PayPal add-on: [paypal/#17](https://github.com/AffiliateWP/affiliate-wp-paypal-payouts/issues/17)
* [x] Stripe add-on [stripe/#17](https://github.com/AffiliateWP/affiliate-wp-stripe-payouts/issues/17)

[2016-08-25 00:41] pippinsplugins commented on #964
Saving works properly now.

[2016-08-25 00:58] pippinsplugins commented on #964
Ok this is ready for further testing @michaelbeil @sumobi!

[2016-08-25 01:11] DrewAPicture commented on #1565
Added a PR to the Paypal compatibility issue.

[2016-08-25 01:45] DrewAPicture commented on #1565
Added a PR to the Stripe compatibility issue.

[2016-08-25 03:53] sumobi commented on #1336
This is going to be a bit tricky since CF7 doesn't have a "total" field.

It also doesn't store form entries by default so we won't be able to add the reference unless we also integrate with their other official plugin: https://wordpress.org/plugins/flamingo/

There's no official payment gateways so we'll need to support a 3rd party plugin such as: https://wordpress.org/plugins/contact-form-7-payp

[2016-08-25 04:03] DrewAPicture commented on #471
Opened #1565 as a tracking ticket for the add-ons. Let's close this one out.

[2016-08-25 04:03] #471 closed

[2016-08-25 13:57] pippinsplugins commented on #1336
It would be pretty cool to support Flamingo and the payment add-ons.

[2016-08-25 16:24] pippinsplugins commented on #1565
PayPal is done and released.

[2016-08-25 19:48] pippinsplugins commented on #949
Ready for testing.

[2016-08-25 22:10] DrewAPicture commented on #316
**Testing REST Endpoints**

Needed Tools:
* Browser
* Postman app (Chrome or Mac): https://www.getpostman.com/
* AffiliateWP checked out on the `issue/316-api` branch

Background:
Our five core objects (`affiliates`, `creatives`, `payouts`, `referrals`, and `visits`) each have their own GET endpoints. One each for listing of the objects, and one each for retrieving a specific object.

The namespac

[2016-08-25 23:05] sumobi commented on #1336
Yeah, we could definitely leave the reference field empty and include in our docs that Flamingo is required to have reference and link to entry.

[2016-08-25 23:13] sumobi commented on #949
@pippinsplugins works great for me

[2016-08-25 23:18] #949 closed

[2016-08-25 23:23] sumobi commented on #964
@pippinsplugins As soon as I click on the "variations" tab after setting up attributes I get this error:

[code]

[2016-08-25 23:39] pippinsplugins commented on #964
You broke it.

[2016-08-26 00:05] pippinsplugins commented on #964
@sumobi fixed.

[2016-08-26 00:26] pippinsplugins commented on #1305
Related #131

[2016-08-26 00:44] ramiabraham commented on #1545
_(Possibly related: https://secure.helpscout.net/conversation/243212169/0/)_

[2016-08-26 01:49] sumobi commented on #964
@pippinsplugins Works great for me! Tried 3 different variations as individual purchases, and then tried to trick it and purchase them altogether. Commission was calculated perfectly each time, nice work.

[2016-08-26 02:26] michaelbeil commented on #964
I still cannot get referral rate changes to save from the variations tab.

[2016-08-26 15:17] ramiabraham commented on #316
The cap check for `manage_shop_settings` is causing api key generation to fail in `class-rest.php L:82` at `6e51f834`, is anyone else getting that?

Commenting out the `wp_die` resolves the issue.

[2016-08-26 15:22] DrewAPicture commented on #316
@ramiabraham Should be fixed in 465f943. That cap was leftover from the EDD code we reused.

[2016-08-26 15:29] pippinsplugins commented on #964
@michaelbeil what happens?

[2016-08-26 17:48] michaelbeil commented on #964
I save changes and the referral rate is lost.

[2016-08-26 17:58] pippinsplugins commented on #964
Which save changes button? The one inside the tab?

[2016-08-26 18:29] michaelbeil commented on #964
Yes.

[2016-08-26 18:40] pippinsplugins commented on #964
No JS errors?

[2016-08-26 18:40] pippinsplugins commented on #1498
Started building the plugin to collect the data: https://github.com/AffiliateWP/affwp-usage-tracking

[2016-08-26 18:47] pippinsplugins commented on #964
I just tested again and it's working fine for me.

@michaelbeil are you on the latest version of WooCommerce?

[2016-08-26 18:49] pippinsplugins commented on #964
I'm going to merge into `release/1.9`. We can continue to adjust if needed based on Michael's feedback.

[2016-08-26 18:50] pippinsplugins commented on #668
I'm going to go ahead and punt this. Leaving as is doesn't hurt anything and @sumobi's experience makes me nervous.

[2016-08-26 19:00] michaelbeil commented on #964
This is all clear. Note for future self: referral rate will be blank upon save if you disable referrals on a variation.

[2016-08-26 19:00] #964 closed

[2016-08-26 19:05] pippinsplugins commented on #1471
I cannot for the life of me make this work.

[2016-08-26 19:37] michaelbeil commented on #964
Note to future self: everything works fine and do not panic.

[2016-08-26 19:37] michaelbeil commented on #1498
👍

[2016-08-26 21:30] DrewAPicture commented on #1470
@sumobi Your second issue seems to work fine and generate cookies/visits just fine. Can you please retest?

[2016-08-26 22:28] pippinsplugins commented on #378
I don't believe there is currently a way to add settings to the coupon screen unless we do something _really_ ugly. Going to ask if we can get some action hooks.

[2016-08-27 00:15] DrewAPicture commented on #1543
@jaredatch Can you possibly provide more information about input and output and your expectations for how that should work? I'm asking because tests for all covered cases appear to pass whether we change the function or not. Either way, comma removal happens both in the AffiliateWP and EDD versions alike.

[2016-08-27 00:16] DrewAPicture commented on #1543
See #1567 for tests.

[2016-08-29 02:55] wordmaid opened #1568 "Support minimum number of sales/referrals when generating a payout file"
A customer has asked if its possible to only pay out referrals when a "minimum number of sales" (i.e. minimum number of referrals) has been reached, rather than a minimum payout amount.

Could be an interesting option alongside the `Minimum amount` feature when a payout file is generated.

[2016-08-29 14:29] jaredatch commented on #1543
I think it's because the unit testing isn't doing non-USD formatted currencies, which is when I started running into the issues.

EDD runs the preg replace after sep logic runs. AffWP runs it before the sep logic, which then invalidates that logic. The logic is looking for commas, but they will never be found since they are stripped already.

`edd_sanitize_amount( '77,00' )` returns `77.00` which

[2016-08-29 16:52] pippinsplugins commented on #378
Figured out how to add settings fields so we're good to go here! PR coming shortly.

[2016-08-29 17:28] pippinsplugins commented on #378
@michaelbeil @sumobi this is ready for testing! Coupons add-on is in Dropbox.

[2016-08-29 18:52] pippinsplugins commented on #1543
I don't think `77,00` should come back as `77.00` when the thousands separator is `,`. The `,` would indicate a thousand so `7700.00` would be correct.

Opinions?

[2016-08-29 19:07] michaelbeil commented on #378
All works well.

1. Checked out `issue/378`
2. Created a coupon and associated it with an affiliate
3. Opened an incognito window to the form that the coupon is connected to
4. Applied coupon
5. Submitted form
6. Referral created

Note: Gravity Forms 2.x+ is required for the settings filter.

[2016-08-29 19:13] michaelbeil commented on #1543
If the thousands separator is set to `,` then the way `affwp_sanitize_amount()` seems to be working just fine IMHO.

[2016-08-29 19:23] pippinsplugins commented on #1470
I've found a simple (if kind of dirty) approach that resolves the issue with `/ref/jimbo?campaign=test`: https://github.com/AffiliateWP/AffiliateWP/pull/1472/commits/b385d7c1d832da7cd391a05aea213fa1c88a2527

[2016-08-29 19:37] pippinsplugins commented on #378
Merging.

[2016-08-29 19:37] #378 closed

[2016-08-29 19:40] pippinsplugins commented on #1008
Merged and closing.

[2016-08-29 19:40] #1008 closed

[2016-08-29 19:43] pippinsplugins commented on #1075
Merging but leaving open for final testing.

[2016-08-29 19:46] pippinsplugins commented on #316
#1551 has been merged into `issue/316` so the complete API is now in `issue/316`.

[2016-08-29 19:56] michaelbeil commented on #1470
That works well.

[2016-08-29 20:02] pippinsplugins commented on #1470
@sumobi could you test as well please?

@DrewAPicture any issues with this method?

[2016-08-29 20:26] jaredatch commented on #1543
I'm referring to when it's setup so for currency to support XX.XXX,XX format (revered separators of USD).

If the decimal sep is `,` and the thousands sep is `.` then the sanitized value of `77,00` should be `77.00`?

[2016-08-29 20:29] pippinsplugins commented on #1543
I agree.

[2016-08-31 02:26] pippinsplugins commented on #1335
@ramiabraham could we get a quick update on where this stands?

[2016-08-31 02:35] pippinsplugins commented on #1409
@michaelbeil @sumobi mind giving this a test?

[2016-08-31 02:37] pippinsplugins commented on #1051
Moving to 2.0.

[2016-08-31 02:47] michaelbeil commented on #1409
I am still redirected to the blog archive when a static page is set as the home page, and I have a post slug of `ref`: test.com/ref redirects to the blog archive.

[2016-08-31 03:00] pippinsplugins commented on #131
PR submitted.
![screen shot 2016-08-30 at 9 58 10 pm](https://cloud.githubusercontent.com/assets/1034109/18114500/1ddcfae8-6efd-11e6-8bcd-f7f25a4c0b4c.png)

[2016-08-31 03:00] pippinsplugins commented on #1409
If you remove the post (100% delete, not just trash), does the redirect stop happening?

[2016-08-31 03:42] michaelbeil commented on #1409
Negative.

[2016-08-31 04:23] sumobi commented on #131
@pippinsplugins No issues with regards to the actual links. I gotta say, I'm not a huge fan of moving the ID to the Name column - was there an issue open for this? I understand it saves an extra column but:

1. It makes the assumption that the ID is more important than the username. In reality, some site owners prefer seeing the ID, some prefer the username. Similar to how an admin sets the prefer

[2016-08-31 04:30] sumobi commented on #131
@ramiabraham @wordmaid @DrewAPicture @michaelbeil Would love to hear your thoughts ^