[2016-08-31 04:56] sumobi commented on #1075
@pippinsplugins works great for me!

[2016-08-31 05:15] sumobi commented on #1470
@pippinsplugins works great for me. I'm a bit nervous about the "dirty" approach. Desperately awaiting @DrewAPicture's feedback :)

[2016-08-31 05:46] sumobi commented on #1409
@pippinsplugins @michaelbeil

1. I created a new page with a slug of `ref`.
2. I have the static front page set to WP's "sample page"
3. I use a URL of `http://issues.affwp.dev/ref/`

Result: The "sample page" static front page is loaded with a URL of `http://issues.affwp.dev/ref/`. The master branch (as per the issue) loads the blog archive page.

I believe (as per Michael's initial proposal) tha

[2016-08-31 06:08] wordmaid commented on #131
I wholeheartedly agree the Affiliate ID should remain in its own column, for all of the reasons mentioned above. It does look quite messy with the Name and the Affiliate ID are now so close.

Will this also affect reporting? As in, will the Affiliate ID appear in the same column as the Name when an Affiliates CSV is exported? I would imagine many customers would hope the report would look exactly

[2016-08-31 07:45] sumobi commented on #1216
Tested again, can generate a referral with:

1. Stripe Capability (Buy Now) Forms
2. Stripe Forms For Level Bronze Member Access (**did not** test silver, gold, platinum, level 5 - 10)

Couldn't get it working with:

1. Stripe Specific Post/Page (Buy Now) Forms

[2016-08-31 08:59] sumobi commented on #316
@DrewAPicture @pippinsplugins

I noticed there was no "unpaid referrals" count in either `/affiliates` or `/affiliates/8`. Is that something we can add?

Updates the above `http://site.dev/wp-json/affwp/v1/affiliate/ID?user=1` to `http://site.dev/wp-json/affwp/v1/affiliates/ID?user=1` - missing an `s`.

[2016-08-31 09:11] sumobi commented on #316
Super awesome stuff, thanks for the setup vids.

Stupid question but I haven't been following along until now - `GET` works great in my testing but how can I `POST` and change stuff? Ie add referrals etc.

[2016-08-31 12:40] ramiabraham commented on #316
@sumobi Yup, `POST` is not yet supported.

[2016-08-31 13:43] #1075 closed

[2016-08-31 13:43] pippinsplugins commented on #1470
Nah it's pretty simple really.

[2016-08-31 13:48] pippinsplugins commented on #131
@wordmaid would not affect reporting in any way.

I'm happy to change the name linking but let's do that in a separate issues.

I moved the affiliate ID for two reasons:

1. Frees up real estate. The table looks pretty poor on small screens before the changes here
2. It more closely mimics core and other large plugins (Woo, EDD, RCP, etc)

I'll reverse it and see if I can make room with it.

[2016-08-31 13:48] pippinsplugins commented on #1409
I was testing without a page with a slug of `ref`. Will try again.

[2016-08-31 14:18] pippinsplugins commented on #1409
It works fine for me.

1. Set home page to static `Sample Page`
2. Created a page with a slug of `ref`
3. Went to home page--loads fine
4. Went to `/ref`--loads fine
5. Went to `/ref/1`--loads fine _and_ sets affiliate cookies

[2016-08-31 14:19] ramiabraham commented on #1335
@pippinsplugins Good to go last time I ran/tested. I have not tested _all_ docs uploading to HS. I'd like to do a dry run once more, with a test `collection`.

A Helpscout test account that has docs would be $20, but I don't think we need that, since we're backing up all docs any time this runs.

[2016-08-31 14:33] pippinsplugins commented on #131
`Affiliate ID` column restored.

[2016-08-31 14:34] pippinsplugins commented on #1335
Let's try and get a dry run done next week please.

[2016-08-31 15:16] DrewAPicture commented on #316
@sumobi We could add something like a `count` argument to the affiliates endpoints, but we wouldn't want to do it on the base endpoint responses because it's an extra query. Similarly, that's why grabbing the user data is a separate argument.

[2016-08-31 15:21] DrewAPicture commented on #1470
It's definitely clever. Short of rewriting `wp_parse_url` in JS this could work pretty well. Do we have tests that show this won't break anything?

[2016-08-31 15:36] pippinsplugins commented on #316
Let's log that as an enhancement for 2.0.

[2016-08-31 16:28] DrewAPicture commented on #316
Tests passed, merged #1436.

[2016-08-31 16:28] #316 closed

[2016-08-31 16:33] pippinsplugins commented on #316
💯

[2016-08-31 17:09] pippinsplugins commented on #131
Going to merge this into release/1.9 for internal beta. We can continue tweaking as necessary.

[2016-08-31 17:10] #1234 closed

[2016-08-31 17:21] pippinsplugins commented on #1470
Nothing but manual tests at the moment. So far I haven't found any problems.

[2016-08-31 17:22] michaelbeil commented on #316
🎉 🎈

[2016-08-31 17:42] pippinsplugins commented on #1409
Ok nvm, I've replicated the problem.

[2016-08-31 17:43] pippinsplugins commented on #1409
@michaelbeil Can you please test `issue/1409` again?

[2016-08-31 18:13] michaelbeil commented on #1409
It works fine for me with a page that has a slug of ref.

1. Set home page to static page
2. Created a page with a slug of `ref`
3. Went to home page--loads fine
4. Went to `/ref`--loads the Ref page fine
5. Went to `/ref/1`--loads fine _and_ sets affiliate cookies

However, I am redirected to the home page when I create a post with a slug of `ref`.

1. Set home page to static page
2. Created a po

[2016-08-31 18:22] ramiabraham commented on #1409
Confirmed @michaelbeil's testing entirely. Rather than _accounting_ for a posttype slug equal to the referral variable, we could display a notice, possibly only within a debug context, if a posttype has a slug matching the referral variable in use.

[2016-08-31 18:23] pippinsplugins commented on #1409
Ok pushed a tweak to resolve it for posts too.

It's a slippery slope if we start trying to prevent this on every post type. Perhaps at that point we just have to say "to bad"?

[2016-08-31 18:24] ramiabraham commented on #1409
+1 to that

[2016-08-31 18:26] pippinsplugins commented on #1409
Ok please test once more with a post named `ref`. If that works fine, I'm going to merge and close.

[2016-08-31 18:32] michaelbeil commented on #1409
Getting a 404 on a post with a slug of `ref`.

[2016-08-31 18:33] ramiabraham commented on #1409
Now that's interesting. Variable behavior here.

At https://github.com/AffiliateWP/AffiliateWP/commit/e65c978227947ede79f71ea615cdcc47a7475660, _no_ cookie is set on these conditions:

- Static front page
- `post` with slug of `ref` with status of `publish`
- `pretty` urls

[2016-08-31 18:45] pippinsplugins commented on #1305
Going to punt to 2.0 for further consideration.

[2016-08-31 18:50] #1409 closed

[2016-08-31 19:24] pippinsplugins commented on #1216
@sumobi looks like we needed to register sale notification URLs for post/pages too:
![screen shot 2016-08-31 at 2 22 51 pm](https://cloud.githubusercontent.com/assets/1034109/18143183/9e7a73c2-6f86-11e6-9de4-73d36b34012b.png)

Try Post/Page buy now forms again please.

[2016-08-31 19:44] pippinsplugins commented on #1216
It's working for me now.

I've set up a testing site here: http://s14890.p27.sites.pressdns.com/optimize-press/

[2016-08-31 19:57] pippinsplugins commented on #1500
Moving to 2.0, unfortunately.

[2016-08-31 20:00] pippinsplugins commented on #311
This is handled through #1216 so I'm going to close this as fixed.

[2016-08-31 20:41] pippinsplugins commented on #1050
This is ready for testing! It will now properly display an error message when activation fails.

[2016-08-31 20:43] michaelbeil commented on #1216
I cannot get the gold member signup page to create a referral.

[2016-08-31 20:44] pippinsplugins commented on #1216
@michaelbeil did you use my existing page with the signup form or did you make your own?

[2016-08-31 20:46] michaelbeil commented on #1216
the existing page.

[2016-08-31 20:47] pippinsplugins commented on #1216
It worked for me . . trying again.

[2016-08-31 20:49] pippinsplugins commented on #1216
Hmm, not working for me either now. @michaelbeil can you make a new form and then try again?

[2016-08-31 20:50] pippinsplugins commented on #1216
It's failing because the affiliate ID is missing during notification processing:
[code]

[2016-08-31 20:57] michaelbeil commented on #131
It looks decent on mobile:

![screen shot on 2016-08-31 at 15-52-12](https://cloud.githubusercontent.com/assets/4752949/18145940/f416835a-6f92-11e6-9cb4-43d1fc7754b2.png)

I think the affiliate id and username column look great together. Also, the inline actions work and display nicely.
![screen shot 2016-08-31 at 3 53 29 pm](https://cloud.githubusercontent.com/assets/4752949/18146000/1c8cd2a8-6f9

[2016-08-31 20:58] pippinsplugins commented on #1470
Merged into `release/1.9`.

[2016-08-31 20:58] pippinsplugins commented on #131
:+1:

[2016-08-31 21:02] michaelbeil commented on #1050
Works well!
![screen shot 2016-08-31 at 4 01 38 pm](https://cloud.githubusercontent.com/assets/4752949/18146241/4381cf16-6f94-11e6-9c20-c20a5803a4a9.png)

[2016-08-31 21:02] pippinsplugins commented on #1050
:+1:

[2016-08-31 21:02] pippinsplugins commented on #1050
Merged but leaving open for further testing.

[2016-08-31 21:04] michaelbeil commented on #1216
That is odd. The affiliate id was stored in a cookie. Ideas?

[2016-08-31 21:04] michaelbeil commented on #1216
Never mind. Creating a new form.

[2016-08-31 21:08] pippinsplugins commented on #1565
Stripe tested and deployed.

[2016-08-31 21:08] #1565 closed

[2016-08-31 21:24] michaelbeil commented on #1216
I am still getting the `OptimizeMember referral validation failed. Missing affiliate ID.` error.

@pippinsplugins mentioned:

[2016-08-31 21:53] michaelbeil commented on #1565
🙌

[2016-08-31 22:43] sumobi commented on #131
👍  What's an example of where core uses IDs? I'm all for doing what core does if it's relevant. In this instance I think that Affiliate IDs are much more important than Product IDs (WC, EDD etc) whereby the admin doesn't really need to know at a glance which product has which ID.

[2016-08-31 23:18] sumobi opened #1573 "Link affiliate's name to edit affiliate screen rather than WP profile"
How many times does a site owner realistically need to edit the affiliate's WP user account by clicking on their name and going to WP profile screen? Since a site admin is on the "affiliates" screen we should only be showing actions related to affiliates.

How about we link the affiliate's name to the edit affiliate screen as per above and also leave the "edit" link in the actions menu (sometimes

[2016-08-31 23:24] ramiabraham opened #1574 "Add core object deletion actions"
In `includes/class-db.php`, we could provide a do_action for object deletion. Presently, we have actions for `pre` and `post` `update` and `create`.

[2016-08-31 23:33] sumobi commented on #1470
Haven't found any issues either so far.

[2016-09-01 00:30] sumobi commented on #1216
Tested again with `Stripe Specific Post/Page (Buy Now) Forms` and it now works 👍

[2016-09-01 00:33] sumobi commented on #1216
@pippinsplugins where did you find the `Specific Post/Page ~ Sale Notifications` section? Not seeing it anywhere on my local set up.

[2016-09-01 00:57] pippinsplugins commented on #1216
Under the main API Notifications.

[2016-09-01 00:58] sumobi commented on #1216
Level up!

[2016-09-01 01:07] pippinsplugins commented on #131
There isn't one, I didn't mean core.

[2016-09-01 01:07] pippinsplugins commented on #1573
I agree.

[2016-09-01 01:22] michaelbeil opened #1576 "Integration: Pro Sites"
We have had a number of requests for integrating with WPMU DEV's Pro Sites: https://premium.wpmudev.org/project/pro-sites.

It may be a good idea to add support, however, this could get complex. Good thing AWP works well on multisite.

[2016-09-01 02:21] sumobi commented on #1050
@pippinsplugins Thoughts on removing the `strong` from the notice? I can't find any other examples in core where all the text is bold.

![screen shot 2016-09-01 at 2 19 41 pm](https://cloud.githubusercontent.com/assets/52581/18153122/6ef9c7c8-704f-11e6-87d6-c2484eb69ef6.png)

[2016-09-01 03:47] michaelbeil commented on #1050
Good point. +1 for removing the `<strong>` from the notice.

[2016-09-01 03:52] michaelbeil commented on #1050
@sumobi _is_ to blame for this being on line 303 of release/1.9: https://github.com/AffiliateWP/AffiliateWP/blame/release/1.9/includes/admin/class-notices.php#L303.

[2016-09-01 05:20] pippinsplugins commented on #1574
PR looks good.

[2016-09-01 12:31] ramiabraham commented on #1574
Adjusted the `affwp_pre_delete_` action to fire _after_ the core `$object` check has occurred in https://github.com/AffiliateWP/AffiliateWP/commit/e9187e52bad70dbc33674e757ab7112354ee8144.

[2016-09-01 14:26] #1574 closed

[2016-09-01 14:27] michaelbeil commented on #1574
Looks good.

[2016-09-01 14:34] pippinsplugins commented on #1470
Going to close.

[2016-09-01 14:34] #1470 closed

[2016-09-01 16:16] ramiabraham opened #1577 "Make Affiliate_WP_Campaigns_DB::delete() compatible with base method Affiliate_WP_DB::delete()"
Just noticed this from #1574. Both `$row_id` and `$type` need to be defined.

[2016-09-01 16:22] ramiabraham commented on #1577
PR https://github.com/AffiliateWP/AffiliateWP/pull/1578

[2016-09-01 17:26] #1577 closed

[2016-09-01 17:58] michaelbeil commented on #1470
Retested in `release/1.9` and all is still gravy.

[2016-09-01 19:05] DrewAPicture commented on #1573
I could see value in an 'Edit User' action link (especially if/when we relocate actions, but otherwise agree.

[2016-09-01 19:11] pippinsplugins commented on #1336
Another request for it: https://secure.helpscout.net/conversation/245908794/41278/?folderId=205524

[2016-09-01 20:26] michaelbeil opened #1579 "Proposal: Add an option for EU required fields on the registration form"
There are regulatory concerns in the EU that make it mandatory to request and record the following data of an affiliate:
- First Name
- Last Name
- Address including street, city, postcode, country
- Company name (where applicable)

We could add an option to the Misc tab that, when enabled, removes the name field, and adds first name, last name, address, and company name to the form.

[2016-09-01 20:35] pippinsplugins commented on #1579
Related #931

[2016-09-01 20:58] pippinsplugins commented on #311
Looks like this is not 100% covered by OptimizeMember. Re-opening for review.

https://secure.helpscout.net/conversation/245975605/41297/?folderId=205530

[2016-09-02 06:23] sumobi commented on #1050
lol

[2016-09-02 06:24] sumobi commented on #131
Ahh I see, you meant AffiliateWP, not WordPress 👍

[2016-09-02 10:46] mdorchain opened #1580 "Error notice when wp user has been deleted"
Hi,

Nothing major, but I notice a small error in the affiliate list page when the wp user has been deleted.
It seems that it's trying to fetch data from a user that doesn't exist anymore.
It doesn't seem to cause much trouble.

`
Notice: Trying to get property of non-object in /home/30206-39807.cloudwaysapps.com/sevjjqjvas/public_html/wp-content/plugins/affiliate-wp/includes/admin/affiliates/affi

[2016-09-02 14:31] ramiabraham commented on #1580
Thanks @mdorchain, we'll get this in the next release!

[2016-09-02 14:32] pippinsplugins commented on #1580
PR looks good. Will merge once tests pass.

[2016-09-02 14:48] pippinsplugins commented on #1507
Along with this, some styling is missing from our add-on update notices:
![screen shot 2016-09-02 at 9 47 48 am](https://cloud.githubusercontent.com/assets/1034109/18207824/5f87a3fc-70f2-11e6-9e70-ac50cb1e0413.png)

[2016-09-02 14:52] pippinsplugins commented on #1507
Fixed:
![screen shot 2016-09-02 at 9 52 15 am](https://cloud.githubusercontent.com/assets/1034109/18207951/f6687404-70f2-11e6-9dba-73ad029dbf48.png)

[2016-09-02 14:54] pippinsplugins commented on #1443
#1051 was moved to 2.0 so moving this as well.

[2016-09-02 15:09] pippinsplugins opened #1584 "Add more robust tests for affwp_sanitize_amount()"
In https://github.com/AffiliateWP/AffiliateWP/issues/1543 changes were made to `affwp_sanitize_amount()` to ensure decimal and thousand separators are properly supported.

We have tests in places for default separators but nothing else. Let's add more.

[2016-09-02 15:13] #1580 closed

[2016-09-02 15:36] #1558 closed

[2016-09-02 15:46] mdorchain commented on #1580
Thanks for the really lightning fast feedback :)

[2016-09-02 15:50] ramiabraham commented on #1507
Looks good, identical appearance here.

[2016-09-02 16:01] michaelbeil commented on #1558
great improvements!

[2016-09-02 16:01] michaelbeil commented on #1558
great improvements! all looks good here.

[2016-09-02 16:15] michaelbeil commented on #1543
PR looks good.

[2016-09-02 17:01] #1507 closed

[2016-09-02 17:09] michaelbeil commented on #1507
Looks as expected.

[2016-09-02 18:55] #1543 closed

[2016-09-02 21:17] pippinsplugins commented on #1498
We need to add payout counts and rest consumer counts to the site_data array.

[2016-09-02 21:42] pippinsplugins opened #1586 "Adding referral var to static home page with Simple Page Tester plugin active causes blog posts to load"
When the [Simple Page Tester](https://wordpress.org/plugins/simple-page-tester/) plugin is activated, adding a referral variable to the home page (set to a static page) causes the blog index to be loaded instead.

[2016-09-02 21:42] pippinsplugins commented on #1586
Reported [here](https://secure.helpscout.net/conversation/245833895/41267/?folderId=205530) and replicated locally.

[2016-09-04 12:03] mdorchain opened #1588 "Feature Request: Default Filtering and Paging for Referrals, Visits and Orders"
Hi,

With a significant volume of referrals, the lists can be quite long.
It would be great to have on the referrals and order details the possibility to filter the data by date interval like for the graph.

Currently we can't use the function graph_controls in Affiliate_WP_Graph since it's declared as private.
Switching it to public would allow the creation of a function affp_get_graph_controls()

[2016-09-05 18:14] pippinsplugins commented on #1588
I don't see any reason to not add date filtering to the referrals list. :+1:

[2016-09-05 22:33] wordmaid commented on #840
After some thought and research I truly think this would be beneficial for site owners. I also think a weekly option for a summary report would be awesome!

[2016-09-05 22:45] sumobi opened #1589 "Can't use the word "join" as the referral variable"
Steps to replicate:

1. AffiliateWP latest master installed (no other plugins)
2. Set the referral variable to **join**
3. Refresh the site and there should be a JS error:

Firefox:
```TypeError: can't convert undefined to object```

Chrome:
```Uncaught TypeError: Array.prototype.join called on null or undefined```

Safari
```TypeError: undefined is not an object (evaluating 'b()')```

![screen sh

[2016-09-05 23:08] sumobi commented on #1589
Tested back to v1.6 and the issue was still present. Didn't go back any further.

[2016-09-06 00:55] pippinsplugins commented on #1589
Heh, that's fun . . .

[2016-09-06 00:57] pippinsplugins commented on #1589
Hmm, I cannot replicate this is 1.9.

[2016-09-06 00:58] pippinsplugins commented on #1589
Nevermind. Happens on master and 1.9 but it requires you use a pretty referral link.

[2016-09-06 00:58] sumobi commented on #1589
Finally confirmed with the 2nd customer that they also had "join".

[2016-09-06 00:59] sumobi commented on #1589
Ahh, interesting

[2016-09-06 01:43] pippinsplugins commented on #1589
it's failing due to a problem in `affwp_get_query_vars()`

[2016-09-06 01:52] pippinsplugins commented on #1589
OK found a way to fix it. It's more of a work around than a true fix, but it does resolve it.

[2016-09-06 01:59] sumobi commented on #1589
@pippinsplugins Sadly it didn't work. I cleared cache and made sure I could see your changes in tracking.js.

[2016-09-06 02:01] sumobi commented on #1589
It works with a referral link though

Works:
issues.affwp.dev/?join=70

Does not work:
issues.affwp.dev

[2016-09-06 02:15] sumobi commented on #1589
@pippinsplugins B I N G _

Would you like to buy a vowel?

[2016-09-06 02:21] sumobi commented on #1050
@pippinsplugins One small issue I noticed (not even sure we should fix it).

1. Enter an invalid license so the notice appears, and the URL is:

`/wp-admin/admin.php?page=affiliate-wp-settings&affwp_notice=license-missing&affwp_success=no`

2. Try and update a field such as the referral variable and then hit `return` on your keyboard (don't click the save changes button, this will work as expected

[2016-09-06 02:27] pippinsplugins commented on #840
💯

[2016-09-06 02:27] pippinsplugins commented on #1050
Does this also apply to clicking on the Save Changes button?

[2016-09-06 03:19] sumobi commented on #1050
No, save changes button works all the time. It's just the return key that doesn't work, but only if there's a notice. I guess it's trying to resubmit the activate license form..

[2016-09-06 12:45] mdorchain commented on #1588
Great! This will work nicely on referrals, visits and order details.

[2016-09-06 13:44] pippinsplugins commented on #1050
Hmmm, I'm going to vote wontfix for now. We may be able to address it by changing the `Activate License` submit button to just a regular button and then using JS to handle form submission. That could be a good opportunity to ajax the activation process too.

[2016-09-06 19:53] michaelbeil commented on #1586
👍

[2016-09-06 19:55] pippinsplugins commented on #1216
@michaelbeil could you test again? Maybe letting it sit for 6 days fixes it :D

[2016-09-06 21:31] pippinsplugins commented on #1471
@DrewAPicture and I spent some time on this while he was in KS and both decided it's simply too much work to get resolved right now. Best approach for now is to probably open a bug report with Ultimate Member to see if they can help address it in any way. Our endpoints _should_ work every where but they're getting stomped out.

[2016-09-06 21:31] #1471 closed

[2016-09-06 23:27] sumobi commented on #1216
lol

[2016-09-06 23:28] sumobi commented on #1050
I'm fine with that, it's super minor

[2016-09-07 22:13] michaelbeil commented on #1508
We should place the {amount} tag only under the new referral notification email body.

https://secure.helpscout.net/conversation/247932688/41671/?folderId=634609

[2016-09-08 04:30] sumobi commented on #119
Reopening. Drew from Memberful has received lots of requests for an AffiliateWP integration.

[2016-09-08 16:26] DrewAPicture commented on #131
@pippinsplugins To be fair, we could still save some real estate by using an `ID` only label for the column. We're already on the Affiliates management screen, having the label be `Affiliate ID` is kind of redundant.

[2016-09-08 16:27] DrewAPicture commented on #131
For that matter, we could even move the then `ID` column to precede the Affiliate name on the left (right of the checkbox).

[2016-09-08 19:35] michaelbeil commented on #1555
This seems to be fixed in a recent branch on RCP' side: https://github.com/restrictcontentpro/restrict-content-pro/issues/668

[2016-09-08 19:36] michaelbeil commented on #1555
After running further tests, the referral is calculated off of the discounted total as expected.

[2016-09-08 19:38] pippinsplugins commented on #1555
Sweet, closing as fixed then!

[2016-09-08 19:51] michaelbeil commented on #1555
Should we remove the milestone?

[2016-09-08 19:59] pippinsplugins commented on #1555
Yep

On Thu, Sep 8, 2016 at 2:51 PM, Michael Beil <notifications@github.com>
wrote:

[2016-09-08 20:09] michaelbeil commented on #1555
Ok. Removed from 1.9.

[2016-09-08 22:47] sumobi commented on #119
Main documentation:
https://memberful.com/help/general/memberful-overlay/

Using webhooks with Zapier (could work with our Zapier add-on?)
https://memberful.com/help/how-to/use-webhooks-with-zapier/

API overview
https://memberful.com/help/integrate/advanced/api/

Webhooks
https://memberful.com/help/integrate/advanced/webhooks/

Fetching data
https://memberful.com/help/integrate/advanced/fetch-dat

[2016-09-09 05:54] sumobi commented on #131
I'm all for saving screen space but changing it from `Affiliate ID` to `ID` doesn't actually save that much space. I also believe that changing it to `ID` may cause confusion since it could be mistaken for the User ID. This is primarily because the `ID` column would sit next to the `Username` column, which _is_ the WordPress username.

If we change it to `ID` we'd also need to change `Affiliate ID

[2016-09-09 06:48] wordmaid commented on #131
From a user perspective, my vote is for `Affiliate ID` as well.

[2016-09-09 14:04] pippinsplugins commented on #131
Ok, `Affiliate ID` it is.

[2016-09-09 14:24] pippinsplugins commented on #119
I think we can possibly do it like this:

1. Detect when the purchase modal is opened and, like PayPal, capture the email address entered.
2. Create a pending referral with that email and other details.
3. Configure a webhook in Memberful pointing to AffiliateWP
4. Update referral when webhook is received

Potential problem: Memberfull runs off of Stripe and the payment modal appears to be a custo

[2016-09-09 17:33] michaelbeil commented on #1380
Request: https://secure.helpscout.net/conversation/249242675/41980/?folderId=634609

[2016-09-09 18:28] michaelbeil commented on #465
Another request: https://secure.helpscout.net/conversation/249154826/41959/?folderId=634609

[2016-09-09 21:23] michaelbeil commented on #131
Sounds good to me.

[2016-09-09 21:34] jaredatch commented on #1380
👍 😎

Obviously I'd love this!

Payments with WPForms right now are rather basic. But we are slowly expanding and adding more capabilities and payment fields.

If there are certain things that need to be done or added to support an integration just  let me know. Really just depends on how fancy and complex the integration needs to be I suspect.

[2016-09-09 21:46] michaelbeil commented on #1380
😄

@jaredatch Would you be able to gather some resources on what is available in WPForms? Could be das simple as links to documentation, hooks, filters, etc.

[2016-09-09 21:48] michaelbeil commented on #1380
Main docs: https://wpforms.com/docs/

[2016-09-09 22:07] michaelbeil opened #1597 "Change referral rate if discount is used"
I am not too sure that this is something we would want to add to core, but perhaps it could be an add-on. A customer suggested that it could be great to dynamically change the referral rate based on whether or not a discount has been applied to the cart/purchase total.

Currently, a referral will be calculated on the discounted total, so a 20% referral rate would still be 20% but on a lesser amoun

[2016-09-09 22:37] michaelbeil commented on #1050
Should we add the above to a new ticket? Re https://github.com/AffiliateWP/AffiliateWP/issues/1050#issuecomment-244834920

[2016-09-09 22:39] pippinsplugins commented on #1050
No, stays in this one.

On Fri, Sep 9, 2016 at 5:37 PM, Michael Beil <notifications@github.com>
wrote:

[2016-09-09 22:40] michaelbeil commented on #1050
Ok.

Also, do we want to remove the `<strong>` from the notice?

[2016-09-10 04:18] sumobi commented on #1050
I think we should, @pippinsplugins do you agree? https://github.com/AffiliateWP/AffiliateWP/issues/1050#issuecomment-243958022

[2016-09-10 22:07] pippinsplugins commented on #1589
It's not the cleanest fix but will do for now. We'll refactor the function later on to truly solve the problem.

[2016-09-10 22:13] pippinsplugins commented on #1050
Bold removed.

[2016-09-10 22:13] #1050 closed

[2016-09-10 22:14] #1589 closed

[2016-09-10 22:15] #131 closed

[2016-09-10 22:16] pippinsplugins commented on #1498
@DrewAPicture Let me know if I can assist with getting this on the dev site.

[2016-09-10 22:20] pippinsplugins commented on #1552
@sumobi ready for testing.

[2016-09-11 01:15] wordmaid opened #1599 "Add AffiliateWP reporting overview WordPress Dashboard widget"
I would absolutely love to see a WordPress Dashboard widget which shows an overview of data outputted by AffiliateWP reports, similar to EDD's Sales Summary. It could follow the same format for really nice consistency. This would give users a quick overview of their affiliate data on their WordPress dashboard, which they will see as soon as they log in to the admin. They can obviously hide it if t

[2016-09-11 19:48] pippinsplugins commented on #1597
Cool idea. Could fit well in a `Referral Rate Conditions` add-on or something like that. Other possible conditions:

- affiliate account is X days old
- order total is greater than X
- order contains coupon
- order contains greater than X items

Has some overlap with Tiered Rates and Product Rates too.

[2016-09-12 20:51] pippinsplugins commented on #311
I'm moving this to 2.0. We'll have `OptimizeMember` in 1.9. Still an improvement.

[2016-09-12 21:00] pippinsplugins commented on #1216
I just replicated @michaelbeil's issue.

[2016-09-12 21:03] pippinsplugins commented on #1216
Looks like it's a problem with there being two payment notifications processed (at least for Stripe), one for `invoice.payment_succeeded` and one for `charge.succeeded`. The `charge.succeeded` is processed properly but `invoice.payment_succeeded` fails because a referral has already been created.

[2016-09-12 21:10] pippinsplugins commented on #1216
Ok that's a nuance of OptimizeMember and not something we can fix.

[2016-09-12 21:13] pippinsplugins commented on #1216
This is all working properly for me so I'm merging and closing. We can tweak more later is necessary.

[2016-09-12 21:13] #1216 closed

[2016-09-12 21:14] michaelbeil commented on #1216
👍

[2016-09-12 21:16] pippinsplugins commented on #1562
Spent some time thinking on this today and I actually feel we should remove the welcome screen all together. I've seen a lot of feedback, especially from the WP development community, that the overall opinion of welcome screens that take over the plugin activation process is unwelcomed.

For that reason, I'm thinking we should remove this entirely.

The on-boarding benefits that this provides can

[2016-09-12 21:27] jaredatch commented on #1380
Developer docs right now are non-existent, so I'll have to help with that. Something that's on my list to do, but admittedly towards the bottom just due to my current workload.

I guess maybe the best thing would be for me to learn more about how an typical AffWP integration works, then I'll have an idea of what needs to be done (or can be done).

Are they all similar from a functionality/feature

[2016-09-12 21:30] pippinsplugins commented on #1498
I've installed the usage tracking plugin on the dev site and this is ready for further testing. To test:

1. checkout `issue/1498`
2. Enter `70263a0aec20acf459e28fc79e117121` for your license key
3. Install [Transient Manager](https://wordpress.org/plugins/transients-manager/)
3. Navigate to `Tools` > `Transients` and delete the transient called `affwp_license_check`. This will trigger the check i

[2016-09-12 21:34] pippinsplugins commented on #1380
Any / all of the existing integrations would be good to look at. Some of the simpler ones:

https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/integrations/class-shopp.php
https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/integrations/class-wpec.php
https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/integrations/class-formidablepro.php
https://github.com/Aff

[2016-09-12 21:37] jaredatch commented on #1380
Perfect, I'll give those a look this week and get a feel for what you guys typically need/do.

[2016-09-12 21:43] ramiabraham commented on #1498
Performed for affwp.dev; data confirmed

[2016-09-12 21:49] michaelbeil commented on #1498
Everything works well!

[2016-09-12 21:50] pippinsplugins commented on #1498
Thanks for testing! I'm going to merge and close.

[2016-09-12 22:40] sumobi commented on #1562
I'm not opposed to removing it.

Any thoughts on how we could show existing customers who have just upgraded what's new?

Are there any good examples of other plugins who don't show a what's new screen? If so, what do they do?

Perhaps it's as simple as adding a "changelog" link to the plugin screen links?

[2016-09-12 22:43] sumobi commented on #1562
Does that mean we also lose the credits and the other tab? Another option is to keep the what's new screen, but only show it when a link is clicked, rather than taking over the user's screen on upgrade etc.

[2016-09-12 22:45] sumobi commented on #1562
Crazy thought, a "what's new" link in the admin links under "affiliates" and then it disappears after you've visited the page.

[2016-09-12 22:54] pippinsplugins commented on #1562
I was thinking we'd remove the entire page, welcome and what's new, and I guess credits.

[2016-09-13 15:28] #1498 closed

[2016-09-13 15:52] pippinsplugins commented on #1552
Merging for beta but leaving open in case @sumobi or @michaelbeil find an issue with it.

[2016-09-13 16:40] sethshoultes commented on #705
Hey Pippin,

Thanks for working with us on this. Would it be possible to get the integration listed on your website (https://affiliatewp.com/integrations/ and https://affiliatewp.com/add-ons/3rd-party/)?

Please let us know if you need anything.

Thanks!

[2016-09-13 21:49] sumobi commented on #705
Hey @sethshoultes!

I've added it to the 3rd party add-ons page: https://affiliatewp.com/add-ons/3rd-party/

The `/integrations/` page is only for official integrations included inside the core AffiliateWP plugin as only as these can be set up with 1 click.

[2016-09-14 00:54] sumobi commented on #1552
Just one minor thing so far ^

[2016-09-14 01:09] sumobi commented on #1552
@pippinsplugins works great here

[2016-09-14 01:19] pippinsplugins commented on #1552
Good change

[2016-09-14 01:19] #1552 closed

[2016-09-14 05:57] wordmaid commented on #757
Formidable Pro request: https://secure.helpscout.net/conversation/250445507/42191/?folderId=414056

[2016-09-14 17:52] DrewAPicture opened #1602 "1.9 Beta: Fix New Affiliates tile query"
PR: #1603

[2016-09-14 17:57] DrewAPicture commented on #1602
Added a PR: #1603

[2016-09-14 17:57] DrewAPicture opened #1604 "1.9 Beta: Reports tiles of type 'number' should be formatted"
PR: #1605

[2016-09-14 18:00] DrewAPicture commented on #1604
Added a PR: #1605

[2016-09-14 18:04] DrewAPicture opened #1606 "1.9 Beta: Date-based Campaigns report tiles should actually reflect date-based data"
PR: #1622

The Campaigns view doesn't currently store any date information, so passing date query arguments to `get_campaigns()` has no effect.

We should leverage the referrals and/or visits tabs to fix the date filtering for the "Most Active Campaign" and "Best Converting Campaign" tiles.

[2016-09-14 18:05] DrewAPicture opened #1607 "1.9 Beta: Add "Reports" buttons to management screen headers"
PR: #1628

Let's tie the management screens with their corresponding reports screens (where possible).

The idea would be to add a "Reports" button next to "Add New" for Affiliates, Referrals, and Visits.

[2016-09-14 18:08] DrewAPicture opened #1608 "1.9 Beta: Campaigns and Visits graphs should group visits logically"
Just as we're grouping referrals with daily totals for most date filters and by month for yearly filters, we should do the same for the Visits graph in the Campaigns and Visits tabs.

[2016-09-14 18:42] DrewAPicture commented on #1602
Tests passed, merged #1603.

[2016-09-14 18:42] #1602 closed

[2016-09-14 22:31] michaelbeil commented on #1552
Looks good after the description change.

[2016-09-14 23:47] michaelbeil commented on #1562
I can the onboardinh process being more valuable than the What's new / welcome / credits screen, but what should we show instead? Do we not want to link the user to docs or our site in some shape or form?

Well, I guess users can go to our site via the plugins screen.

[2016-09-15 01:30] michaelbeil commented on #1597
This may be better as an add-on. Should we start a card in Trello?

[2016-09-15 03:21] sethshoultes commented on #705
Thanks!

Seth Shoultes

Sent from my mobile from phone. Please excuse any typos.

On Sep 13, 2016 3:49 PM, "Andrew Munro" <notifications@github.com> wrote:

[2016-09-15 14:03] pippinsplugins commented on #1597
Yeah I think so.

[2016-09-15 14:03] #1597 closed

[2016-09-15 18:05] pippinsplugins commented on #1562
My proposal is that we don't show anything, just like the majority of plugins behave.

[2016-09-15 18:33] michaelbeil commented on #1562
👌

[2016-09-15 22:13] michaelbeil opened #1609 "Improve the user accounts migration assistant tool"
PR: #1610

The current iteration of our user account migration tool needs to be improved as it is causing issues again.

From @DrewAPicture:

[2016-09-15 22:41] DrewAPicture commented on #1609
Added a PR: #1610

[2016-09-16 02:06] wordmaid opened #1611 "Change "Earnings" column title in Affiliates screen to "Paid Earnings""
I've been sitting in the Affiliates screen looking at the list table for a bit now, and I feel confused when I look at the `Earnings` column. I now know that it is only showing me **Paid earnings**, and does not include _Unpaid earnings_, so I wonder if it is worth clarifying that and calling the column `Paid Earnings`.

Of course, it would be amazing to show `Unpaid Earnings` data on this screen

[2016-09-16 14:19] pippinsplugins commented on #1611
I'd like to show both if we can make them fit.

[2016-09-16 15:14] DrewAPicture opened #1612 "Enable column show/hide controls in screen options for core list tables"
PR: #1613

I think I may have found a way to trick WordPress screen options into displaying the show/hide controls for list table columns. The basic gist for why this wasn't possible previously is that our core list tables are instantiated too late for `WP_Screen` to pick up the list of columns needed to display said controls.

We can get around this by effectively instantiating (but not displayin

[2016-09-16 15:21] DrewAPicture commented on #1612
Added a PR: #1613

[2016-09-16 15:42] pippinsplugins commented on #1612
Works great here!

[2016-09-16 17:08] michaelbeil commented on #1609
This was sent to a customer to test.

[2016-09-16 17:10] michaelbeil commented on #1612
This works great!

[2016-09-18 04:24] wordmaid commented on #1611
👍 👍 Would be awesome!

[2016-09-18 04:33] wordmaid opened #1614 "Add export options to Affiliate Area for affiliates to generate their own reports"
We have quite a few tickets coming through asking if AffiliateWP provides invoices for affiliates. I think we could solve this in a roundabout way by adding export options to the Affiliate Area. This would allow affiliates to export their own data from the referrals they are generating.

If this was implemented, it would make sense for affiliates to be able to export the following:

- Referrals
-

[2016-09-18 05:11] michaelbeil opened #1615 "Add date filtering to the statistics tab"
It would be nice if the statistics screen had an option to filter by date.

Related: #1588

[2016-09-18 05:37] DrewAPicture commented on #1614
Thinking out loud ... it might work to hook it in through the exporter and create a `pending` status for payouts (currently there are only `paid` and `failed`).

[2016-09-18 20:45] DrewAPicture opened #1616 "1.9 Beta: Paypal integration broke Ajax on the registration form"
PR: #1617

It looks like the JS printed via `wp_footer` is relying on a localized value to supply the ajaxurl, execpt in class-paypal.php, the script isn't enqueued (and therefore can't be localized) and neither are any other scripts enqueued on the registration page that would define `affwp_scripts` on the page either.

Best suggestion would be to simply drop the ajax URL into the script directly

[2016-09-18 20:49] DrewAPicture commented on #1616
PR: #1617

To test:

1. Check out latest `release/1.9`.
2. Visit the affiliate registration/login form while logged out (with the console open)
3. Try to login
4. Note the notice thrown for `affwp_scripts.ajaxurl` being undefined

To confirm the fix, check out `issue/1616`, repeat steps above, noting that no notice is thrown and login/registration are successful

[2016-09-18 20:54] DrewAPicture commented on #1609
@michaelbeil I know we're waiting on confirmation from the customer. Did you also test this to confirm?

[2016-09-18 21:10] DrewAPicture commented on #1608
Added a PR: #1618

[2016-09-18 21:29] DrewAPicture commented on #1225
Some minor architectural changes were made to the base class and how core implements meta boxes in #1525, namely:

* Namespaces were adjusted to `AffWP\Admin\Overview\Meta_Box\{Name}` for components (meta boxes), with a top-level namespace of `AffWP\Admin\Meta_Box`
* In order to make instantiating standalone meta boxes possible, the `abstract` keyword was taken off of the top-level `Meta_Box` clas

[2016-09-18 21:29] #1225 closed

[2016-09-18 21:36] DrewAPicture commented on #1528
This was implemented and completed as part of #1525.

Columns can be hidden via a `columns_to_hide` argument passed to the `display_args` argument key in the list table constructor, directly:

[code]

[2016-09-18 21:36] #1528 closed

[2016-09-19 02:21] pippinsplugins commented on #1615
To clarify: this is for the frontend affiliate area.

[2016-09-19 02:22] pippinsplugins commented on #1614
@DrewAPicture that would apply if it was for requesting a payout. I don't think this issue falls in that realm, instead its for generating a CSV of referral / visit data for the affiliate's account.

[2016-09-19 02:23] pippinsplugins commented on #1616
Good catch!

[2016-09-19 02:24] #1616 closed

[2016-09-19 02:27] pippinsplugins commented on #1608
Looks great!

[2016-09-19 02:27] #1608 closed

[2016-09-19 13:36] pippinsplugins opened #1619 "1.9: query_object_type needs to be optional in Affiliate_WP_DB"
See https://github.com/AffiliateWP/affiliatewp-direct-link-tracking/issues/51

The `query_object_type` property was added to `Affiliate_WP_DB` as part of #1184. The Direct Link Tracking add-on, and possibly others, extend the `Affiliate_WP_DB` class. The problem is that the DB classes now depend on there being associated objects, which will not exist for any add-on that already extends the base cl

[2016-09-19 15:02] DrewAPicture commented on #1619
Added a PR: #1620

[2016-09-19 16:47] michaelbeil opened #1621 "Reset stats option"
If a plethora of requests for resetting affiliate stats comes in, we should make this feature available.

[2016-09-19 20:30] pippinsplugins commented on #1619
@DrewAPicture that doesn't seem to fix it for me.

Steps to replicate:

1. Activate DLT
2. Go to Affiliates table and click Edit on one
3. Add a URL to the affiliate
4. Click Update and go back to affiliates table
5. Status will now be blank in table

[2016-09-19 20:36] #1612 closed

[2016-09-19 20:37] #1604 closed

[2016-09-19 20:45] pippinsplugins commented on #1525
@DrewAPicture the `Affiliates` tab isn't quite working. The `Top Earning` and `Highest Converting Affiliates` boxes are acting very irregularly. Go to the live site to see examples of this: https://affiliatewp.com/wp-admin/admin.php?page=affiliate-wp-reports&tab=affiliates&range=last_month

Hint: our top earning affiliate starts with W (ID 68).

[2016-09-19 21:38] DrewAPicture commented on #1619
@pippinsplugins Any new errors? The fatal should now be gone.

[2016-09-19 21:58] DrewAPicture commented on #1619
@pippinsplugins The affiliate status bug was unrelated to DLT as far as I can tell. It's been fixed in the PR. We were defaulting to an empty value if a value isn't passed, which is obviously wrong. The fix defaults to the current status.

[2016-09-19 22:10] pippinsplugins commented on #1619
@DrewAPicture ok well it still happens to me even on the PR branch.

[2016-09-20 01:38] wordmaid commented on #602
Another customer request for affiliate-generated invoices: https://secure.helpscout.net/conversation/252106030/42581/?folderId=414056

[2016-09-20 01:50] sumobi commented on #1619
@DrewAPicture @pippinsplugins

I can confirm that this PR seems to fix the status issue with DLT 👍

You can replicate the original issue by just saving the edit affiliate screen, no need to enter a domain.

[2016-09-20 03:54] michaelbeil commented on #1615
Yes, this is for the frontend affiliate area.

[2016-09-20 12:30] pippinsplugins commented on #1619
:+1:

[2016-09-20 12:42] pippinsplugins commented on #1619
Works for me now too. Merging and closing.

[2016-09-20 12:52] #1619 closed

[2016-09-20 14:23] pippinsplugins opened #1623 "Affiliate name should be shown on Visits page when filtering by affiliate"
When appending the `affiliate=#` parameter to the Visits page, only visits of that affiliate are shown, but the `Affiliate name` field is still blank.

![screen shot 2016-09-20 at 9 21 51 am](https://cloud.githubusercontent.com/assets/1034109/18674146/d1a2271c-7f13-11e6-9772-55e572cb9c81.png)

Let's improve this by pre-filling the Affiliate name field when an affiliate ID is specified in the URL.

[2016-09-20 18:12] pippinsplugins commented on #1562
PR #1624 removes it. We'll discuss showing anything on the Overview page during meeting today.

[2016-09-20 18:20] michaelbeil commented on #1609
No word from the customer but this looks good.

[2016-09-20 18:27] michaelbeil commented on #1562
🎉 👍

[2016-09-20 18:54] DrewAPicture commented on #1606
The PR, #1622, is ready for testing.

[2016-09-20 19:22] DrewAPicture commented on #1609
Tests passed, merged #1610.

[2016-09-20 19:22] #1609 closed

[2016-09-20 19:33] pippinsplugins commented on #1606
@DrewAPicture would it be possible for the visits graph to only display visits that included a campaign?

[2016-09-20 19:43] pippinsplugins commented on #1276
Another request https://secure.helpscout.net/conversation/253555627/42836/?folderId=205524

[2016-09-20 20:17] pippinsplugins commented on #1562
As discussed in meeting, we're going to add a `Changelog` link to the plugin action links.

[2016-09-20 20:30] DrewAPicture commented on #1606
@pippinsplugins I've updated the visits graph on the campaigns page to only show visits with a non-empty campaign value.

[2016-09-20 20:34] pippinsplugins commented on #1606
Woot

[2016-09-20 20:54] pippinsplugins commented on #1606
Looks great!

[2016-09-20 20:54] #1606 closed

[2016-09-20 21:04] pippinsplugins commented on #1562
Ready for testing:
![screen shot 2016-09-20 at 4 03 49 pm](https://cloud.githubusercontent.com/assets/1034109/18688866/daba063e-7f4b-11e6-8cc6-4184a9340d84.png)

[2016-09-20 21:15] michaelbeil opened #1625 "Auto register specific user roles as affiliates"
A user asked about auto registering certain users roles as affiliates. This could be useful if there is one specific role that the site owner wants to be registered as an affiliate automatically.

[2016-09-20 22:53] sumobi commented on #1562
Oh yeah I like that

[2016-09-20 23:05] DrewAPicture opened #1626 "1.9 Beta: show all reports tiles even if there's no data"
Currently, we hide some tiles on some tabs if there's no meaningful data to display. This experience can be jarring when moving between both preset and custom date ranges – to see tiles added or removed seemingly at random. We should always show all tiles and simply display a generic "No data available for this date range" message.

[2016-09-21 00:06] DrewAPicture commented on #1626
Added a PR: #1627

![Example](https://cl.ly/1r2p0w2v3C3e/Screen%20Shot%202016-09-20%20at%206.06.16%20PM.png)

[2016-09-21 00:07] DrewAPicture commented on #1626
To test:

1. Switch around different date ranges using the date filters
2. Note that tiles with no data should no longer be hidden and will instead display a 'no data' message

[2016-09-21 00:55] pippinsplugins commented on #1625
Duplicate of https://github.com/AffiliateWP/AffiliateWP/issues/1276

[2016-09-21 00:55] #1625 closed

[2016-09-21 01:34] pippinsplugins commented on #1626
Looks good.

[2016-09-21 01:34] #1626 closed

[2016-09-21 03:45] michaelbeil commented on #1562
Excellent!

[2016-09-21 06:40] DrewAPicture commented on #1607
Added a PR: #1628

[2016-09-21 13:55] #1562 closed

[2016-09-21 13:59] pippinsplugins commented on #1607
This looks great.

@DrewAPicture could you go ahead and do a PR for PayPal Payouts to make the buttons match?
![screen shot 2016-09-21 at 8 59 24 am](https://cloud.githubusercontent.com/assets/1034109/18713957/c3e83e4c-7fd9-11e6-8255-939c3e66b159.png)

[2016-09-21 14:00] pippinsplugins commented on #1607
Merged.

[2016-09-21 14:00] #1607 closed

[2016-09-22 13:40] pippinsplugins opened #1629 "PayPal: add support for rejecting referrals on refund"
The PayPal integration needs to support rejecting referrals when a refund IPN is received.

[2016-09-22 13:42] ramiabraham opened #1630 "Add more robust JavaScript debug info if AFFILIATE_WP_DEBUG is active"
If `AFFILIATE_WP_DEBUG` is active, we could add an array of localized data and print it directly to the console, with something like:

[code]

which could be added via an extension of `console.error`:

[code]

We could also organize the data so it's more readily accessible, using `console.table`.

---

Ideas for the sort of data to show:
- Valid visit ID (or if no visit was set
- Cookie exists
- R

[2016-09-22 16:09] pippinsplugins commented on #1586
This is causing a fatal error on plugin activation:
[code]

[2016-09-22 16:13] pippinsplugins commented on #1586
Fixed.

[2016-09-22 16:13] #1586 closed

[2016-09-22 17:52] michaelbeil opened #1631 "Coupon tracking integration for Ninja Forms"
Once https://github.com/wpninjas/ninja-forms/issues/1041 is added to Ninja Forms, we should look into adding coupon tracking integration.

[2016-09-22 20:30] pippinsplugins commented on #1630
I love this idea.

[2016-09-22 21:27] michaelbeil opened #1634 "Record IP address on affiliate registration"
A customer would like to see an IP address recorded to the affiliate record when an affiliate registers so they can use a service such as Maxmind to manually check if the registering affiliate is blacklisted anywhere.

Marginally related: https://github.com/AffiliateWP/AffiliateWP/issues/851

[2016-09-22 21:36] michaelbeil opened #1635 "Add user profile REST controls?"
We should add API key controls to the user profile edit screen.

[2016-09-22 22:18] pippinsplugins commented on #1635
I don't agree with this actually. We've had them in EDD since API was originally added, but we didn't start with an API keys table. That table was introduced later.

I greatly prefer the list table version and do not feel showing them on profiles is necessary or important.

Happy to be overruled though!

[2016-09-23 19:34] DrewAPicture opened #1637 "Add affwp_get_affiliate_payouts() for parity with retrieving campaigns for affiliates"
PR: #1638

It occurs to me that we didn't really add much in the way of global functions for most of the under-the-hood stuff we're adding in 1.9. So I'd like to propose we add (at the very least), an `affwp_get_affiliate_payouts()` function in the global scope.

See attached PR which includes tests.

[2016-09-23 19:35] DrewAPicture commented on #1637
PR: #1638

[2016-09-23 19:48] #1637 closed

[2016-09-24 06:12] michaelbeil opened #1639 "Add campaign to the request URI in fallback tracking"
Currently we get the full URL with tracking.js directly from `document.URL` whereas in fallback tracking we simply grab `'http://' . $_SERVER['SERVER_NAME'] . $_SERVER['REQUEST_URI']`.

Per @DrewAPicture:

Related: https://github.com/AffiliateWP/AffiliateWP/issues/1470

[2016-09-24 14:11] ramiabraham opened #1640 "Allow same-origin requests for read-only REST api data"
Allowing same-origin requests for read-only REST api data would:

- Provide the ability for AffiliateWP to use REST api-powered queries in the admin area of the site (and possibly the affiliate area, if any interest develops for that as well).

- Allow for various client-side performance enhancements, should they be added to core at some point. Using various JavaScript APIs opens us up to:
    - I

[2016-09-26 01:16] pippinsplugins commented on #1639
Moved to 1.9.1. We need to get 1.9 out the door, even if we end up following it up with a few point releases.

[2016-09-26 01:18] pippinsplugins commented on #1640
Any reason to use REST API for `WP_List_Table` over the existing internal DB APIs?

The JS application makes sense but I'm not sure that `WP_List_table` does unless we have ajax'ed it. I feel it makes more sense to use the internal DB APIs both for our admin-side data queries _and_ for the REST API queries.

[2016-09-26 01:21] pippinsplugins opened #1641 "Lazy load reports"

[2016-09-26 19:12] ramiabraham opened #1643 "Remove docs dir from gitignore"
(Needed to get docs into core repo). PR forthcoming.

[2016-09-26 19:16] #1643 closed

[2016-09-26 20:46] wordmaid commented on #338
Along the same lines, this customer wants to be able to import affiliates: https://secure.helpscout.net/conversation/256116186/43271/?folderId=205524

[2016-09-26 20:49] wordmaid opened #1647 "Allow per-coupon referral rates for integrations that support affiliate coupon tracking"
It could be interesting to allow users to set a per-coupon referral rate for affiliate coupons.

For example, an Admin has a default referral rate of 20%. If an affiliate refers a customer via their referral URL, they will be awarded a referral at 20%.

However, if they set up an affiliate coupon with a 10% discount for the customer, they only want the affiliate to earn 10% (so they don't have to

[2016-09-26 21:03] pippinsplugins commented on #1647
Cool idea for sure!

[2016-09-26 21:08] DrewAPicture commented on #338
Definitely. It would be nice if we could (at the very least) make our exports importable.

[2016-09-26 21:09] wordmaid commented on #338
Yes! 👍

[2016-09-26 21:44] pippinsplugins opened #1648 "Store last_Checked timestamp for tracking"
We need to do this as a pre-caution against ddos'ing ourselves. Sometimes object caching might fall, resulting in the transient storage failing, which will then cause the check in to run over and over again.

[2016-09-26 22:02] #1648 closed

[2016-09-27 03:53] wordmaid opened #1650 "Add export option to Payouts"
It could be useful to export Payout logs for bookkeeping purposes. All the data shown in a payout would be exported to CSV, and can simply be filtered by date (as per our other date select menus).

Thoughts?

[2016-09-27 03:58] sumobi opened #1651 "Payouts log showing other affiliate's referrals"
Example:
https://affiliatewp.com/wp-admin/admin.php?page=affiliate-wp-payouts&payout_id=9&action=view_payout

It should only show 3 referrals for this affiliate.

[2016-09-27 04:02] michaelbeil commented on #1647
Might be a good free add-on.

[2016-09-27 12:51] pippinsplugins opened #1652 "WooCommerce PayPal Express: undefined variable posted"
We've seen this happen at least twice, possibly more.

One of the third party PayPal Express gateways for WooCommerce fires the `woocommerce_checkout_order_processed` action manually but does not add the second `$posted` parameter like WooCOmmerce core does.

This results in the following warnings:

Warning: Missing argument 2 for Affiliate_WP_WooCommerce::add_pending_referral() in /public_html/wp

[2016-09-27 12:58] pippinsplugins commented on #1650
Definitely!

[2016-09-27 15:52] pippinsplugins opened #1654 "404 not found when using pretty referral URL on static front page"
Set the front page to a static home page and then use a pretty referral var on it and it will show a 404 error: http://local.wp/ref/1

Replicated locally and on a live site.

[2016-09-27 16:13] pippinsplugins commented on #1654
Appears to be a slug conflict with a page on the site.

[2016-09-27 16:52] DrewAPicture opened #1656 "Bail early from affwp_get_affiliate_rate() if invalid affiliate"
For reference: https://secure.helpscout.net/conversation/256741597/43380/?folderId=205524

While bailing early from `affwp_get_affiliate_rate()` it doesn't address the root of the problem – why affiliate_id is being sent as 0 and later evaluated as false, it should effectively allow for graceful failure.

[2016-09-27 16:54] DrewAPicture commented on #1656
PR: #1657

[2016-09-27 18:12] fernandotellado opened #1658 "Permalinks issue with WooCommerce and WooCommerce Bookings"
Since the 1.9.x update there's a problem with permalinks and edits with WooCommerce products and orders and with WooCommerce Bookings reservations.

Woo orders and Woo Bookings respond with 404 errors and Woo products doesn't show the content of WP editor

[2016-09-27 19:10] DrewAPicture commented on #1656
New PR: #1659

[2016-09-27 19:23] pippinsplugins commented on #1656
Another instance of this: https://secure.helpscout.net/conversation/245833895/41267/?folderId=205530

[2016-09-27 19:25] pippinsplugins commented on #1656
@DrewAPicture New PR won't quite work.

Pre 1.9, the `$product_rate` can be passed to the function and be taken into account even if no affiliate is retrieved. This could be important for compatibility if anyone was passing product rates without an affiliate.

[2016-09-27 19:31] pippinsplugins commented on #1656
Third ticket https://secure.helpscout.net/conversation/256597147/43350/?folderId=205530

[2016-09-27 19:53] pippinsplugins commented on #1654
This happens when there is a page with the same slug as the referral variable. It happens due to the changes made in https://github.com/AffiliateWP/AffiliateWP/issues/1409. `get_page_by_path()` finds the page that matches the referral variable and sets it as the `page_id` in the query vars.

This is an edge case enough that I don't believe we should fix it. Instead I think we should consider auto-

[2016-09-27 19:53] #1654 closed

[2016-09-27 19:56] pippinsplugins opened #1660 "Add slug collision detection for referral variable"
If a page with a slug that matches the referral variable exists, pretty URLs break on the home page. Instead of trying to resolve the problem (I'm not convinced there is a good way to do that), I propose we add collision detection and alert site administrators when there is a conflict. We can then request or require that they change the slug of the page or the value of the referral variable.

A me

[2016-09-27 20:11] pippinsplugins commented on #1656
PR looks good now.

@sumobi @michaelbeil could both of you please test this with Lifetime Commissions?

[2016-09-27 20:12] pippinsplugins commented on #1656
At least one of the tickets that has reported this found that the fatal error only happened when Lifetime Commissions was active.

[2016-09-27 21:11] pippinsplugins opened #1661 "List tables show no data when translated"
If AffiliateWP is translated into any language other than English, the list tables are all blank.

This is due to the current screen ID not being what is expected (see https://core.trac.wordpress.org/ticket/18857)

We've had at least 3-4 tickets on the issue now.

[2016-09-27 21:22] ramiabraham commented on #1661
This results in a variety of views being polluted and data not being returned. Most notably in recent support object list tables are not shown due to the check in `AffWP\Admin\List_Table`:

[code]

----

In total, there are 9 checks depending on the string value of the screen ID:

- List tables:
[code]

- General screen options:
[code]

- Creatives:
[code]

- Payouts:
[code]

- Referrals (help):
[

[2016-09-27 21:34] pippinsplugins commented on #1658
@fernandotellado do you have a page that has a slug with the same value as the referral variable? See #1660

[2016-09-27 22:22] sumobi commented on #1656
@pippinsplugins @DrewAPicture Are you able to replicate the fatal error? Trying to replicate before testing the patch but with Lifetime Commissions and AffWP v1.9.0.1 orders with WooCommerce and EDD are working fine.

[2016-09-27 22:25] pippinsplugins commented on #1656
@sumobi I have not yet but have now seen it on three separate sites.

[2016-09-27 22:27] sumobi commented on #1656
@pippinsplugins Yeah, I'd prefer to replicate first and then test the patch so I know it's working.

[2016-09-27 22:48] sumobi opened #1662 "Referrals being calculated incorrectly when flat rate is used"
Looks like something was introduced in 1.9.

Bottom referral is v1.8.8
Top is v1.9

Global referral rate is `20` and set to `flat`. Setting to `percentage` seems to generate the correct amount, flat seems to be multiplying the flat commission by 100

![screen shot 2016-09-28 at 11 38 12 am](https://cloud.githubusercontent.com/assets/52581/18894554/1c3551c0-8570-11e6-9e19-bda4758562bd.png)

![scree

[2016-09-27 22:50] shafaa opened #1663 "telegram bot"
Hi
Can api rest able to connect to telegram bot?
I need a telegram bot by this properties

1. new affiliate can signup with this bot
2. affiliate can see creatives and choose them on bot
3. affiliate can check our states on bot
4. affiliate can check referrals on bot
5.referral link made by telegram api mode ( https://core.telegram.org/bots#deep-linking )

fore example : https://telegram.me/Exampl

[2016-09-27 22:56] sumobi commented on #1662
Closing, https://github.com/AffiliateWP/AffiliateWP/pull/1659 fixes this

[2016-09-27 22:56] #1662 closed

[2016-09-27 23:00] #1656 closed

[2016-09-27 23:04] fernandotellado commented on #1658
No, I don't. The issue occurs with any product/reservation/order.

I've just downgraded the plugin to 1.8.7 and everything works again

[2016-09-27 23:44] pippinsplugins commented on #1651
@sumobi I cannot replicate this. Can you replicate locally?

[2016-09-27 23:45] pippinsplugins commented on #1651
Nevermind, just replicated it.

[2016-09-27 23:51] #1652 closed

[2016-09-27 23:54] sumobi commented on #1651
@pippinsplugins works for me

[2016-09-28 00:01] #1661 closed

[2016-09-28 00:16] #1651 closed

[2016-09-28 04:21] michaelbeil commented on #1635
The list table seems fine by me.

[2016-09-28 04:23] michaelbeil commented on #1663
This is not possible at this point, sorry. The REST endpoints we shipped with AffiliateWP 1.9 are read-only. We're in the planning stages of writing a pro add-on that adds POST and PUT support for the core endpoints, however there's no definite ETA on when that will come to fruition.

[2016-09-28 04:23] #1663 closed

[2016-09-28 13:46] pippinsplugins commented on #1658
Which of the WooCommerce Bookings plugins are you using? This one? https://woocommerce.com/products/woocommerce-bookings/

[2016-09-28 13:48] #1635 closed

[2016-09-28 14:02] fernandotellado commented on #1658
Yes, the official one

[2016-09-28 18:07] fernandotellado commented on #1658
Just upgraded to 1.9.1 and same issue :(

[2016-09-28 22:34] pippinsplugins commented on #1658
@fernandotellado would you be willing to give us admin access to your site so we can look into it further for you? If so, please send the credentials via our support page: https://affiliatewp.com/support

[2016-09-29 20:32] fernandotellado commented on #1658
Sure, I'll give you the details next Monday 'cause I'm currently on a travel :)

[2016-09-29 20:44] michaelbeil opened #1668 "Affiliate export tool fails on large affiliate count"
I just created 25k affiliates and attempted to export the affiliates to a CSV, but the CSV only contained the column headings.

[2016-09-29 21:24] michaelbeil opened #1669 "Show flat rate from the statistics tab when used as default referral rate type"
If the default referral rate type is set to flat rate, the commission rate that is shown from the front end affiliate area statistic tab is a percentage.

![screen shot 2016-09-29 at 4 25 38 pm](https://cloud.githubusercontent.com/assets/4752949/18973056/638eb010-8661-11e6-971b-7de622fba8e3.png)

Let's show the actual default referral rate here:
![screen shot 2016-09-29 at 4 24 45 pm](https://clou

[2016-09-29 21:42] pippinsplugins commented on #1668
This may not be able to be fixed until we put in batch processing with #1311

[2016-09-30 11:02] sumobi opened #1670 "Styles cannot be dequeued on the [affiliate_login] shortcode"
The standalone login form which uses the `[affiliate_login]` shortcode outputs its CSS file directly inside the `affiliate_login()` method.  This isn't ideal for 2 reasons:
1. It loads the `forms.css` file just before the closing `</body>` of the page. CSS files should generally be loaded in the `<head>`
2. The `forms.css` file cannot be dequeued so a theme can't use its own CSS styling for the fo

[2016-09-30 11:16] sumobi opened #1672 "Remove unnecessary wp_enqueue_style()"
This `wp_enqueue_style()` isn't required:
https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/class-shortcodes.php#L138

It's already enqueued here:
https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/scripts.php#L132

[2016-09-30 16:59] DrewAPicture opened #1674 "Fatal error on reports page (using $this in a closure) for PHP 5.3"
Customer reported getting a fatal on the Reports screen, due to use of `$this` inside a closure. Classic oversight.

[2016-09-30 17:02] DrewAPicture commented on #1674
Note: This only affects customers running PHP 5.3. Support [was added](http://php.net/manual/en/functions.anonymous.php) for accessing `$this` inside of anonymous functions in PHP 5.4.

[2016-09-30 17:02] DrewAPicture commented on #1674
Added a PR: #1675

[2016-09-30 20:36] michaelbeil commented on #1660
How can we ensure that a user does not go and create page with the same slug after creating the referral variable?

As in, a user creates a referral variable of `partner`, but then later adds a page with a slug of `partner`?

Will a notice show elsewhere or will that slug fail on a page?

[2016-09-30 21:19] pippinsplugins commented on #1674
Merged. Let's plan to deploy 1.9.2 early next week.

[2016-09-30 21:19] #1674 closed

[2016-09-30 21:25] pippinsplugins commented on #1660
We could add a notice to the newly created page.

[2016-09-30 21:44] michaelbeil commented on #1660
Sounds like a plan! This will be much better than fighting millions of slugs.

[2016-10-02 01:15] sumobi opened #1676 "WooCommerce account registration does not work when the PayPal integration is enabled"
WooCommerce account registration from the "my account" page does not work when the PayPal integration is enabled.

To replicate (AffiliateWP v1.9.1):

1. Enable the PayPal integration

2. From the WooCommerce settings (/wp-admin/admin.php?page=wc-settings&tab=account) make sure `Enable registration on the "My Account" page` is enabled.

3. Visit the `/my-account` page on the front-end and try and

[2016-10-02 02:20] michaelbeil commented on #1676
Confirmed here too. It would definitely be best to only conditionally load the PayPal integration script on PayPal button pages.

[2016-10-02 05:32] DrewAPicture commented on #1676
The problem is that PayPal buttons can be present on almost any page. The PayPal integration is different from most of the others in that it's global – it detects client-side click events on PayPal buttons on whichever page they happen to be present, vs something like WooCommerce which happens on the server-side when you go through a check out process. This behavior makes it both incredibly flexib

[2016-10-02 05:56] DrewAPicture commented on #1676
Added a PR: #1677

In this particular instance, the PayPal script exits early if the `<form>` action attribute value doesn't match what's expected. In the case of this WooCommerce form, there's no `action` attribute at all, which, actually causes the PayPal script to continue to running. The PR fixes this behavior.

[2016-10-02 08:18] wordmaid opened #1678 "Exported Referrals and Affiliates from Tools page is duplicated in output CSV file"
When exporting Referrals from the `Tools` page, I have noticed the report has duplicated the referrals included in the report a **_huge_** number of times.

Here are the steps I took:

1. In the `Referrals` screen, I selected referrals with an **Unpaid** status, (as I only wanted to see Unpaid referrals.) The total on the WordPress screen for Unpaid referrals is **161**.
2. I wanted to run a repor

[2016-10-02 20:14] DrewAPicture commented on #1678
@wordmaid You're correct, it _is_ a major bug. In 1.9 we accidentally introduced a hook conflict that causes the exporter processes to recurse on themselves endlessly, which eventually causes PHP to run out of memory. We'll be shipping a fix for this in 1.9.2, probably tomorrow (on Monday).

[2016-10-02 20:18] DrewAPicture commented on #1678
Added a PR: #1681

Please test!

[2016-10-02 20:40] DrewAPicture commented on #1678
Sent a patched version to two customers.

[2016-10-02 20:48] DrewAPicture commented on #1672
FWIW, there isn't really a downside in enqueuing the script multiple times – WordPress will only enqueue it once on a given page regardless of how many times `wp_enqueue_script()` is called.

It's also worth mentioning that abstracting all of the logic in that conditional and then conditionally enqueuing the scripts when the shortcodes are actually rendered would be vastly more performant ... `has

[2016-10-02 20:51] DrewAPicture commented on #1672
It would be much cleaner to do something like this inside of a wrapper for all of those enqueues:
[code]

Then call the wrapper within the shortcode callbacks.

[2016-10-02 21:04] DrewAPicture commented on #1669
Added a PR: #1682

[2016-10-02 21:24] DrewAPicture commented on #1382
Added a PR: #1683

Looks like this:
![Affiliate URL](https://cl.ly/3y0j3w2L0L2e/Screen%20Shot%202016-10-02%20at%203.23.11%20PM.jpg)

[2016-10-02 21:26] DrewAPicture commented on #1611
Fitting is a much more fluid concept now that we have the ability to hide or show list table columns. Let's hit this for 1.9.3.

[2016-10-02 21:58] DrewAPicture commented on #1573
Added a PR: #1684

It links the affiliate name to the edit URL and swaps the 'Edit' row action for an 'Edit User' row action link.

Looks like this:
![Edit User](https://cl.ly/1f2M1k1U0R0z/Screen%20Shot%202016-10-02%20at%203.57.40%20PM.png)

Let's pick this up in 1.9.3.

[2016-10-02 22:05] DrewAPicture opened #1685 "Fix copy pasta filter name for payout table row actions"
PR from @flowdee: #1680

Missed copy pasta in the payouts list table row actions, s/`affwp_affiliate_row_actions`/`affwp_payout_row_actions`.

[2016-10-02 22:07] #1685 closed

[2016-10-02 22:14] DrewAPicture commented on #1669
With the PR:

*Global default*:
![Flat rate type](https://cl.ly/3u0N1J0b3o2G/Screen%20Shot%202016-10-02%20at%204.13.49%20PM.png)

*Affiliate overriding global flat with percentage*:
![Percentage rate type](https://cl.ly/182m0p102r3c/Screen%20Shot%202016-10-02%20at%204.13.05%20PM.png)

[2016-10-02 22:49] pippinsplugins commented on #1676
PR looks good, merged.

[2016-10-02 22:49] #1676 closed

[2016-10-02 23:03] pippinsplugins commented on #1678
Good catch. Merged.

[2016-10-02 23:03] #1678 closed

[2016-10-02 23:05] pippinsplugins commented on #1669
Merged.

[2016-10-02 23:05] #1669 closed

[2016-10-02 23:06] pippinsplugins commented on #1382
Merged.

In the future it may be worthwhile adding an additional note to explain that affiliates can generate URLs for any page of the site and this is only the default URL.

[2016-10-02 23:06] #1382 closed

[2016-10-03 06:44] wordmaid opened #1686 "Add Referral ID column to View Payout screen"
In each individual Payout, the referrals are listed, but their referral IDs are not. There are links to the related orders, but no link to the actual individual referrals. We already see them on the main Payouts screen - perhaps we could consider adding a Referral ID column on this screen that links to the actual referral?

[2016-10-03 08:02] sumobi opened #1687 "Send email when referral has been paid"
We should really have an email that is sent to affiliates when they have been paid. Currently this is only possible via a code snippet:

https://github.com/AffiliateWP/affiliatewp-code-snippet-library/blob/master/emails/email-affiliate-when-referral-paid.php

[2016-10-03 13:21] pippinsplugins commented on #1686
I vote we add the IDs and link to the edit screen.

[2016-10-03 14:26] pippinsplugins commented on #1687
I don't think it makes sense to do this on a per-referral basis as that could result in numerous notifications in a single payout. Instead, let's do it when a payout log is created.

[2016-10-03 22:35] sumobi commented on #1687
Absolutely, great point.

[2016-10-03 22:40] sumobi commented on #1672
@DrewAPicture All for a cleaner/better way of doing it, just as long as the scripts from the shortcode can be dequeued, which was the issue with both the registration and login shortcodes.

For reference:

https://github.com/AffiliateWP/AffiliateWP/issues/1026
https://github.com/AffiliateWP/AffiliateWP/issues/1670

[2016-10-03 23:17] smerriman opened #1688 "CREATE VIEW command denied to user"
I'm migrating my site to a new server, and have come across this error message when running the export/import of the database.

CREATE VIEW command denied to user xxx@xxx for table 'xxx_affiliate_wp_campaigns'

I found a past ticket on this issue which just said you needed to elevate permissions to allow this command to be run. However, my host, and likely plenty of other shared hosts, specificall

[2016-10-03 23:19] smerriman commented on #1688
(Please don't answer the last question with yes, there must be some workaround possible :) - it's one of the most used hosts.)

[2016-10-04 00:05] pippinsplugins commented on #1688
Please see this FAQ: http://docs.affiliatewp.com/article/1416-how-to-back-up-affiliate-data

[2016-10-04 00:26] smerriman commented on #1688
That doesn't appear to help. It tells me I do not need to back the view up, but my issue is that I am completely unable to create it on the new server.

[2016-10-04 00:27] smerriman commented on #1688
And indeed the note at the end says the CREATE VIEW permission is required. So it seems the plugin is incompatible with Mediatemple after all?

[2016-10-04 00:32] pippinsplugins commented on #1688
Correct: you do not need to backup the view. It is created automatically
based on the values of the other tables.

On Monday, October 3, 2016, smerriman <notifications@github.com> wrote:

[2016-10-04 00:33] smerriman commented on #1688
Please re-read my message above. It is unable to be automatically created, since the shared host blocks access to CREATE VIEW.

[2016-10-04 00:41] pippinsplugins commented on #1688
@smerriman I am intimately familiar with the problem.

It only blocks access to create the view when trying to do it during a migration.

Trust me please :)

During the migration / backup, skip the view. AffiliateWP will automatically create it when you load the plugin.

[2016-10-04 01:09] smerriman commented on #1688
Sorry, I'm obviously not being clear here - MediaTemple GS do not allow *any* sql CREATE VIEW commands to be run, regardless of who is running them.

On the newly migrated site, the view does not appear in phpMyAdmin. Every time I deactivate and reactivate the plugin (ie, the activation hook gets called), I get the following errors logged:

[code]

[2016-10-04 01:28] pippinsplugins commented on #1688
Ah! That is a different story, sorry I thought you meant you were getting the error when trying to export/import the DB.

Ok in that case the _only_ thing (aside from moving off of Media Temple) you can do is go to Media Temple and ask them to grant permission to create views to your SQL user. I would love to have a better answer but that's it.

[2016-10-04 02:03] smerriman commented on #1688
Hm, OK, that's a pretty significant issue then. I'd suggesting putting somewhere prominent on your website/plugin the fact that it doesn't work on MediaTemple or any other shared host that blocks this (there are several) - and see if you can find a more stable method in the future.

No idea what we'll do in the meantime.

[2016-10-04 02:11] smerriman commented on #1688
Having looked through the code, am I correct that the dashboard stats tab is *only* place throughout the entire plugin where this view is actually used? And that table appears to not show if the view doesn't exist. So perhaps the plugin will continue to function fine without the view, at least until there's a better solution (eg not using views :) )

[2016-10-04 13:44] pippinsplugins commented on #1688
@smerriman this is the first time I've heard of Media Temple not permitting views. Views have been around for a _very_ long time and are in no way non-standard.

Looks like they may be able to give you special permission to create views. See https://mediatemple.net/community/products/grid/204405564/database-privileges-on-the-grid

The view is used on the dashboard stats page and Affiliates > Repor

[2016-10-04 21:59] smerriman commented on #1688
That page just says if you need those permissions you have to switch to dedicated hosting, which is a bit of overkill here.

Yeah, it's not non-standard, but this is still the first plugin I've ever seen that actually uses it, and MediaTemple is a pretty large hosting company. My guess is that all of the users of your plugin on there don't actually realise it's broken currently (due to there being

[2016-10-04 22:01] pippinsplugins commented on #1688
We've been discussing some graceful fallbacks / alternatives and will see what we can do.

This is the first time we've ever had a report of 100% failure with views due to a hosting environment.

[2016-10-04 22:43] sumobi commented on #1382
I agree.

[2016-10-05 00:47] sumobi opened #1689 "Coupons being linked to admin affiliate by default"
When you create a new coupon it is being linked automatically to the admin affiliate. So far it has been reported in EDD and WooCommerce but could be other integrations also.

It's not possible to get rid of the admin user and save, since it just reappears again.

[2016-10-05 01:06] sumobi opened #1690 "Space in campaign name triggers "Please enter a valid URL for this site" notice"
If you use a space in the campaign name on the Affiliate URLs tab, then click to generate a URL, it triggers the "Please enter a valid URL for this site" message below the Page URL field. Technically this is correct since the URL shouldn't have a space in it, but it's confusing to the user, since it seems the error is related to the Page URL field.

We should show an error message directly underne

[2016-10-05 03:11] pippinsplugins commented on #1689
This is happening because `affwp_get_affiliate_id()` returns the ID of the affiliate account of the currently logged in user.

[code]

[2016-10-05 03:18] pippinsplugins commented on #1689
PR ready for testing.

[2016-10-05 03:22] pippinsplugins commented on #1560
`$amount` isn't unused. It's the original amount passed to the function.

[2016-10-05 03:22] #1560 closed

[2016-10-05 04:33] Tigzy commented on #1560
Please don't close, this is real bug. I'll give you more details for the first part.
Also, have you noticed the 2nd bug?

[2016-10-05 04:43] Tigzy commented on #1560
Ok, so I dont' remember why I wanted to remove the "amount" parameter, maybe I thought the prototype needed to be the same. The filter looks good, I'll change my implementation.

However could you look at the 2nd issue? The order id isn't passed down to the chain.

[2016-10-05 07:49] amdrew opened #1693 "Affiliate area tab improvements"
We should add a function that holds all the current tabs in AffiliateWP. This would allow https://github.com/AffiliateWP/affiliatewp-affiliate-area-tabs/issues/36 to be easily achievable.

In addition, other plugins should be able to add their tab to this function's array via a filter. This would allow the tab to show inside the Affiliate Area Tabs add-on settings.

When re-ordering is possible (h

[2016-10-05 09:14] fernandotellado opened #1694 "Several strings aren't translated"
There're several strings that aren't translated in Spanish (I don't know if it happens in other languages).

The first problem that I've seen is that the .mo file doesn't correspond with the .po. If I generate the .mo in Poedit and uploaded to languages folder then the payouts part is translated ok, but there are other strings that aren't translated even thought all the strings appear translated i

[2016-10-05 09:15] fernandotellado commented on #1658
Issue has resolved with 1.9.2 👍

[2016-10-05 09:15] #1658 closed

[2016-10-05 14:23] pippinsplugins commented on #1560
@Tigzy I'll look at the second bug but I"m going to open a new issue. Please keep github issues limited to 1 bug / enhancement per issue.

[2016-10-05 14:25] pippinsplugins commented on #1560
There's not a bug here. The `$order_id` parameter is ignored and only there to prevent PHP notices.

The order is set up inside of `add_pending_referral()` like this:
[code]
`get_products()` then retrieves the items from the order like so:
[code]

[2016-10-05 19:27] pippinsplugins commented on #1658
Glad to hear it!

[2016-10-05 20:01] pippinsplugins opened #1695 "Product rates not used"
This should affect all integrations that support per-product rates but it was initially reported for WooCommerce [here](https://secure.helpscout.net/conversation/258681901/43716/?folderId=205530).

When purchasing a product (variable or single priced) that has a rate set, the referral is calculated on the affiliate-specific / default store rate instead of the product rate.

Problem was introduced

[2016-10-05 20:03] pippinsplugins commented on #1695
For comparison, here's the 1.9 version that worked properly for rate calculation:
[code]
This, however, caused fatal errors in some cases. See https://github.com/AffiliateWP/AffiliateWP/issues/1656

[2016-10-05 20:10] #1573 closed

[2016-10-05 20:23] DrewAPicture commented on #1695
Added a PR: #1696

[2016-10-05 20:32] ramiabraham commented on #1689
Working here - coupons are now generated for the correct affiliate. Tested integrations:

- EDD
- RCP
- iThemes Exchange
- MemberPress
-WooCommerce

[2016-10-05 20:46] ramiabraham commented on #1251
PR looks good here.

[2016-10-05 20:48] pippinsplugins commented on #1251
@sumobi happy with this too?

[2016-10-05 20:51] DrewAPicture opened #1697 "Further tighten PayPal integration's hold on only PayPal button forms"
Continuing to see scattered reports and experiencing oddness with the PayPal integration script not properly bailing in the event that a form isn't posting to a PayPal endpoint. Attached PR attempts to tighten this behavior up a bit.m

[2016-10-05 20:54] #1695 closed

[2016-10-05 21:08] #1697 closed

[2016-10-05 21:27] #1251 closed

[2016-10-05 22:46] wordmaid commented on #1150
Answered a few tickets regarding manual orders/automatic referrals lately. Here's one: https://secure.helpscout.net/conversation/259850448/43979/?folderId=414056

[2016-10-05 22:48] sumobi commented on #1150
I also answered one yesterday

[2016-10-05 23:19] sumobi opened #1699 "Editing referrals no longer works"
Looks like 1.9.3 broke the ability to edit a referral. To replicate click "edit" next to a referral.

The screen goes white, no errors that I can see in my console. Reverting to 1.9.2 seems to fix the issue, but only if you go back to the referrals screen and click the edit link again. If you simply refresh, the screen is still blank.

[2016-10-06 00:08] #1699 closed

[2016-10-06 03:24] sumobi opened #1701 "Wrong affiliate ID/username shown on edit affiliate screen"
The `Affiliate URL` on the affiliate edit screen is showing the ID or username (depending on settings) of the currently logged in affiliate, not the affiliate being edited.

Just needs the affiliate ID passed into the `affwp_get_affiliate_referral_url()` function.

[2016-10-06 16:40] ramiabraham commented on #529
Related: https://secure.helpscout.net/conversation/260605187/0/

[2016-10-09 21:27] DrewAPicture commented on #1701
Looks good.

[2016-10-09 21:27] #1701 closed

[2016-10-09 22:21] DrewAPicture commented on #1686
What about simply _not hiding_ the Actions column for the referrals table on View Payout screen?

Correct me if I'm wrong, but it seems like the problem we're trying to solve has less to do with the referral ID not being exposed – it also isn't exposed anywhere in the main Referrals table either – it's that there's no way to navigate to the Edit Referral screen for individual referral records, rig

[2016-10-09 23:30] DrewAPicture opened #1704 "Affiliate autocomplete doesn't scale beyond 9,999 affiliates"
As a couple of customers have reported, including [this one](https://secure.helpscout.net/conversation/255979754/43249/?folderId=205529), the affiliate autocomplete field pretty much fails hard with affiliate numbers higher than 9,999. Let's see if we can't make this a bit more efficient.

[2016-10-09 23:36] DrewAPicture commented on #1704
Added a PR: #1705

Covers:
* [x] Don't limit affiliate user ID queries to 9,999 results
* [x] Only query for the user IDs instead of full affiliate objects
* [x] Only display the user email in autocomplete results if there is one

To test, you'll need to generate > 10,000 _active_ affiliates. Note: This process will also generate a requisite number of user accounts, one for each affiliate.
[code]

[2016-10-10 01:09] sumobi commented on #602
Another request https://secure.helpscout.net/conversation/261695324/44337/?folderId=205529

[2016-10-10 01:11] wordmaid commented on #1704
The customer has submitted a new specific ticket regarding this bug: https://secure.helpscout.net/mailbox/7c3a9e4da50293a7/414056/

[2016-10-10 13:42] pippinsplugins commented on #1686
I'm fine with showing the actions column.

[2016-10-10 13:43] pippinsplugins commented on #1686
Merged.

[2016-10-10 13:43] #1686 closed

[2016-10-10 19:49] sumobi opened #1706 "Tickera integration"
We should consider a full integration with Tickera:

https://tickera.com/
https://wordpress.org/plugins/tickera-event-ticketing-system/
https://secure.helpscout.net/conversation/261006527/44202?folderId=205529

Currently we have an integration via a plugin:
http://docs.affiliatewp.com/article/836-tickera

Looking through the source code there appears to be sufficient hooks at first glance.

[2016-10-11 13:44] michaelbeil commented on #1706
Was just going to open an issue regarding this. Seems like a viable option.

[2016-10-11 17:48] DrewAPicture opened #1707 "Introduce a generic, Ajax-based batch processor"
Scope in progress. Right now, we have a bunch of export and migration scripts that all rely on server-side step processing. Realistically, abstracting the processing step to a generic batch system has a lot of benefits in terms of efficiency, performance, and UX.

And for this glorious work, we get the opportunity to reuse the aforementioned batch processor for other potential intensive tasks like

[2016-10-11 23:06] techiechic commented on #1402
This would be particularly helpful for those of us running multisite networks.  I think the activation is fine, I just want it to be on the network panel rather than my individual site owners' panels.

[2016-10-12 04:08] sumobi opened #1708 "PHP Notice: Undefined variable: user_id"
Pops up when you click to add a new coupon in WooCommerce

[code]

[2016-10-12 05:28] #1708 closed

[2016-10-12 13:57] pippinsplugins opened #1710 "Integration: Paid Member Subscriptions"
There have been some requests to add an integration for [Paid Member Subscriptions](https://wordpress.org/plugins/paid-member-subscriptions/). Looks like a really nice plugin. I think we should consider it.

[2016-10-12 13:57] pippinsplugins commented on #1710
This could also include an integration with the `Recurring Referrals` add-on.

[2016-10-12 13:59] michaelbeil commented on #1710
+1 here. Looks like a stellar plugin.

[2016-10-13 12:38] michaelbeil commented on #1707
Related: https://github.com/AffiliateWP/AffiliateWP/issues/1311

[2016-10-13 16:19] michaelbeil opened #1712 "Add option to bypass / turn off caching"
It would be nice to have an option to disable stats caching _"if you fall below a certain threshold in number of affiliates, referrals, etc., and then show a dismissible notice if the setting is enabled and you pass over the threshold suggesting that you turn it off for performance reasons."_

_"At the application layer, adding the ability to selectively bypass the cache is already something I’ve

[2016-10-13 18:56] DrewAPicture opened #1714 "Allow campaign query caches to be invalidated by core object CRUD operations"
Likely the reason why stats in the Affiliate Area are now delayed is due to changes in our caching scheme for _queries_ following the 1.9 release. In 1.9, we introduced passive cache invalidation which allows core object queries to be refreshed when CRUD operations occur against their member objects.

However, the campaign queries are not subject to this same cache invalidation scheme because it r

[2016-10-13 18:57] DrewAPicture commented on #1714
Related: #1712

See also https://secure.helpscout.net/conversation/262682199/44528/?folderId=205527

[2016-10-13 21:01] DrewAPicture commented on #1714
Added a PR: #1715.

Please test!

[2016-10-15 10:51] sumobi commented on #931
Thinking about this some more...

If we're going to have a "forms" tab we should list out all the current fields of the default form. It doesn't feel right having a new tab for just a few options or even less.

Some fields such as "Username" will always be required, but we should still list it and either grey it out, or say that it cannot be disabled for X reason. We finally do something similar w

[2016-10-16 19:54] pippinsplugins commented on #931
I like the idea of a checkbox for each field.

[2016-10-17 04:37] wordmaid opened #1718 "Add "Generated by" username or name to Payouts"
For tracking purposes and extra accountability I think it would be great if we can include a timestamp somewhere on the individual **Payout** screen. Perhaps this could go next to the date, or be its own line. I think next to the date would be fine, though.

Similarly, I think it would be great to show who generated the payout, if possible, and show their username. This provides an extra measure o

[2016-10-17 12:39] michaelbeil commented on #922
We have added better error handling since this issue was opened, so I am wondering if we should close this out.

@Olsm is this still an issue?

[2016-10-17 12:42] michaelbeil commented on #1718
That seems like a legitimate concern and something that we should get added.

[2016-10-17 12:56] michaelbeil opened #1720 "Add pagination to the affiliate area campaigns table"
In addition to improving campaigns in https://github.com/AffiliateWP/AffiliateWP/issues/1024 and https://github.com/AffiliateWP/AffiliateWP/issues/1065, we should consider adding pagination to the campaign list in the statistics tab just like we have for the visits table.

Ref: https://secure.helpscout.net/conversation/264442087/0/?folderId=205524

[2016-10-17 13:03] michaelbeil opened #1721 "Deletion of campaigns from the affiliate area"
In addition to #1720, we could add an option to delete a test campaign from the campaigns view.

[2016-10-17 14:22] pippinsplugins commented on #922
Let's go ahead and close. Re-open if you disagree.

[2016-10-17 14:22] #922 closed

[2016-10-17 14:23] pippinsplugins commented on #1718
I agree.

[2016-10-17 21:47] michaelbeil commented on #1701
Confirm fixed.

[2016-10-17 22:00] DrewAPicture commented on #1704
@AffiliateWP/core looking for testers for this for 1.9.4.

[2016-10-17 22:00] DrewAPicture commented on #1714
@AffiliateWP/core looking for testers for this for 1.9.4.

[2016-10-17 22:16] pippinsplugins commented on #1714
I can test tonight.

[2016-10-17 22:16] pippinsplugins commented on #1704
Will test tonight.

[2016-10-18 01:33] pippinsplugins commented on #1714
Works great!

[2016-10-18 01:33] #1714 closed

[2016-10-18 01:36] pippinsplugins commented on #1704
@DrewAPicture I get `Error: 'generate' is not a registered subcommand of 'affwp affiliate'. See 'wp help affwp affiliate'.` when trying.

I recall you putting the generate command somewhere but now do not remember where.

[2016-10-18 03:54] wordmaid opened #1722 "Show integration name/"Context" on Referrals screen and in export reports"
For customers with multiple active integrations it would be useful to see which integration a referral was generated through. It would be amazing if this was visible in the Referrals main table, and also exported when referrals are exported through Reports. I have worked with some customers who have been confused as to where their referrals are coming from (and I have had a hard time finding them

[2016-10-18 09:24] michaelbeil commented on #1722
Does the reference number not work for the customers to click through to the purchase/submission page  of the associated integration? I know adding the context is doable,  but we may run out of space.

[2016-10-18 13:51] pippinsplugins commented on #1722
Reference number works but it's not really a quick method.

I like the idea of showing a `source` somehow.

[2016-10-18 13:55] michaelbeil commented on #1722
If we can make it look pretty, yes.

[2016-10-18 18:57] ramiabraham commented on #1690
Related https://secure.helpscout.net/conversation/265093294/0/

[2016-10-18 19:56] pippinsplugins opened #1726 "SendOwl integration"
Several people have asked for an integration with SendOwl.

[2016-10-18 19:56] pippinsplugins commented on #1726
Request: https://secure.helpscout.net/conversation/265600810/44932/?folderId=205524

[2016-10-18 20:44] michaelbeil commented on #1312
Ticket: https://secure.helpscout.net/conversation/253034431/42753/?folderId=205529

[2016-10-18 21:11] pippinsplugins commented on #1500
We could maybe do this with WP Simple Stripe.

[2016-10-18 21:22] pippinsplugins commented on #1548
@DrewAPicture could you review this to determine if the spike is indeed there?

[2016-10-18 21:22] pippinsplugins commented on #1531
@wordmaid think you could add this to your todo list for later this week or next?

[2016-10-18 21:27] #1525 closed

[2016-10-18 21:30] #652 closed

[2016-10-18 21:32] michaelbeil commented on #1500
Are you referring to WP Simple Pay Lite and Pro?

https://wordpress.org/plugins/stripe/
https://wpsimplepay.com/

[2016-10-18 21:35] pippinsplugins commented on #789
Closing as wontfix as this is done through the new Zapier add-on.

[2016-10-18 21:35] #789 closed

[2016-10-18 21:36] pippinsplugins commented on #1500
Yep!

[2016-10-18 21:41] wordmaid commented on #1531
Yep, can do

[2016-10-18 21:45] michaelbeil commented on #1704
@pippinsplugins https://github.com/AffiliateWP/affiliatewp-wp-cli-generator

[2016-10-18 21:54] michaelbeil commented on #1704
Can confirm this PR fixes the autocomplete issue.

[2016-10-18 21:59] worldtravlr commented on #1525
New charts and reporting are awesome by the way!  Thanks so much @ramiabraham and team!

[2016-10-18 23:46] pippinsplugins commented on #1704
Works well here too!

[2016-10-18 23:46] #1704 closed

[2016-10-19 00:36] DrewAPicture opened #1727 "Remove a redundant existing affiliate check in affwp_add_affiliate()"
`affwp_add_affiliate()` performs a simple `user_id` check to find out if an affiliate exists with the given user ID. However, `affwp_add_affiliate()` is largely a wrapper for the `->add()` method in the Affiliates DB layer, which _also_ does the same check. We could realize a minor performance gain by skipping an unnecessary query in `affwp_add_affiliate()`.

[2016-10-19 00:40] DrewAPicture commented on #1727
Added a PR: #1728

[2016-10-19 02:34] sumobi commented on #1576
https://secure.helpscout.net/conversation/253831134/42941
https://secure.helpscout.net/conversation/183707429/30445
https://secure.helpscout.net/conversation/118976446/16409
https://secure.helpscout.net/conversation/108635141/13788

[2016-10-19 03:52] DrewAPicture commented on #1694
I think this is related to `_ex()` not being parsed correctly in the build script.

[2016-10-19 06:28] fxbenard commented on #1694
IMHO: As the strings are in the po and don't think there is nothing to do with the build script.

[2016-10-19 06:35] IovaMihai commented on #1710
Hey guys, I will start working on this integration. Will let you know when I have something.

[2016-10-19 11:15] michaelbeil commented on #1710
Sounds great!

[2016-10-19 14:30] michaelbeil commented on #1727
Works well.

[2016-10-19 14:39] #1727 closed

[2016-10-20 01:24] sbimarketing commented on #1688
Hey guys! @pippinsplugins @smerriman

Actually, I've got another confirmation of a 100% backup failure with views due to the hosting environment!

We use WP Engine for the majority of our hosting and we've just found that the views created by AffiliateWP are preventing them from running their backups also.

The easiest way for us to get around it so that we can run backups is to just drop the view

[2016-10-20 13:18] michaelbeil commented on #1688
@sbimarketing The `wp_affiliate_wp_campaigns` table is not an actual table, it is a "view". Since the campaigns view is created automatically from the referrals / visits table, you do not need to include that in your backups. The campaigns view will automatically reflect the changes that happen in the referrals / visits tables after restoring from a backup.

A bit more on views:

[2016-10-20 13:57] pippinsplugins commented on #1688
@DrewAPicture could you please reach out to WP Engine. It's silly that views aren't respected in their server configs.

[2016-10-20 15:36] DrewAPicture commented on #1639
Punting this to 1.9.5 mostly because I never was able to pinpoint where the request URI was getting stripped and that knowledge is central to fixing this.

[2016-10-20 15:48] michaelbeil commented on #1623
Works splendidly!

[2016-10-20 15:49] DrewAPicture commented on #1611
Opened #1730 as a start to change the 'Earnings' column label to 'Paid Earnings'.

[2016-10-20 15:58] DrewAPicture commented on #1688
@pippinsplugins Yep, I'll send WPEngine support a message, get the conversation started.

[2016-10-20 16:12] DrewAPicture commented on #1467
I think initially, simply displaying the value of the field should suffice. If we later want to make it editable, that's simple enough.

Added a PR: #1731.

Screenshot:
![new field](https://cl.ly/000e0t1C3c11/Screen%20Shot%202016-10-20%20at%2010.11.35%20AM.png)

[2016-10-20 16:42] pippinsplugins commented on #1623
Looks good, merge once tests pass.

[2016-10-20 16:42] pippinsplugins commented on #1611
Looks good.

[2016-10-20 16:42] pippinsplugins commented on #1467
Looks good to me.

[2016-10-20 18:37] #1623 closed

[2016-10-20 18:38] DrewAPicture commented on #1611
Merged #1730.

[2016-10-20 18:39] #1467 closed

[2016-10-20 20:31] DrewAPicture commented on #1694
Added a PR. Please test! #1732

[2016-10-20 20:43] #1694 closed

[2016-10-20 20:48] DrewAPicture commented on #1718
I think we should absolutely look at adding "owners" for payouts, e.g. "Generated by" though this would require a bit of architectural work. So let's tackle that part in 1.9.5.

For 1.9.4, I've added a PR, #1733, which simply exposes the payout time in addition to the date on View Payout. Looks like this:
![time](https://cl.ly/0X2W0X1V181a/Screen%20Shot%202016-10-20%20at%202.42.14%20PM.png)

[2016-10-20 21:31] DrewAPicture opened #1734 "Update Traditional Chinese translation"
PR: #1593

[2016-10-20 21:31] #1734 closed

[2016-10-20 21:48] DrewAPicture commented on #1690
Added a PR: #1735

Strips whitespace from the campaign when focus of the input field is lost, such as by tabbing through the form or clicking on the generate button.

[2016-10-20 22:04] DrewAPicture commented on #1672
I've pushed my suggestion for how to approach selectively enqueuing for certain shortcodes.

[2016-10-20 22:07] DrewAPicture commented on #1670
See the PR on #1672, which (indirectly) addresses this.

[2016-10-20 22:09] DrewAPicture commented on #1611
Closing this one as fixed with merging of #1730. @wordmaid feel free to start a separate issue to add Unpaid Earnings.

[2016-10-20 22:09] #1611 closed

[2016-10-20 22:11] DrewAPicture opened #1736 "Add Payout time to View Payout in addition to the date"
Creating this issue simply for record keeping on what went into 1.9.4 vs a later version.

Original, see: #1718

PR: #1733

[2016-10-20 22:11] #1736 closed

[2016-10-20 22:12] DrewAPicture commented on #1718
Payout time was added in #1733, for which I added #1736 (for record keeping), moving this to 1.9.5 to tackle the "Generated by" logic.

[2016-10-20 22:16] pippinsplugins commented on #1672
@sumobi Does that work for you?

[2016-10-20 22:17] sumobi commented on #1672
testing now

[2016-10-20 22:24] wordmaid commented on #1718
🙌 🙌 🙌

[2016-10-20 22:25] DrewAPicture commented on #1325
Added a PR: #1737 with the new tag.

[2016-10-20 22:26] #1690 closed

[2016-10-20 22:27] pippinsplugins commented on #1325
PR looks good.

[2016-10-20 22:28] DrewAPicture commented on #1271
I think we should map out exactly what the flow here would be. For instance, would we still hide this if emails are disabled as we do on the new user form? This is specifically for the purposes of adding existing users as affiliates, correct?

[2016-10-20 22:28] wordmaid commented on #1150
Another customer request for assigning a referral to an affiliate, that automatically generates the correct commission from the `New Order` screen when manually creating an order: https://secure.helpscout.net/conversation/266595747/45056/?folderId=205529

[2016-10-20 22:33] wordmaid commented on #1271
Yes, I think it should still be hidden if all emails are disabled, and yes this is for the purpose of adding existing users as affiliates. This will just give the admin the option to not send an existing user an email notifying them they have been accepted as an affiliate.

[2016-10-20 22:34] sumobi commented on #1672
@DrewAPicture Can you show me how you would remove just the `affwp-forms` CSS file?

Dequeuing or deregistering it has no effect since it's still being enqueued inside the `affiliate_login` shortcode.

[code]

[2016-10-20 22:35] wordmaid commented on #1467
🙀 Yay!!

[2016-10-20 22:37] #1325 closed

[2016-10-20 22:38] DrewAPicture commented on #1271
OK. In the interest of time (and because I've been a slacker) I'll start prepping this for 1.9.5. Just want to make sure the user data is saving and retrieving correctly in alltheplaces.

[2016-10-20 22:41] wordmaid commented on #1271
Sweet! It's not a major issue by any means, but rather a UX consistency thang.

[2016-10-20 22:43] sumobi commented on #1672
The other issue on https://github.com/AffiliateWP/AffiliateWP/issues/1670 is that the forms.css file is still being outputted just before the closing body tag. This causes a flash of unstyled content where you see the unstyled form, and then the styled one. If we load it in the `<head>` (where CSS files should ideally be loaded) this would be solved.

[2016-10-20 23:19] DrewAPicture commented on #1548
I tested a whole bunch of front end and back end flows with extensive numbers of core objects (and no caching) and I wasn't seeing anything spiking outside the norm. Happy to continue investigation, but I don't see anything in the immediate vicinity.

[2016-10-20 23:33] wordmaid opened #1738 "Set minimum cart total before affiliate discount coupon can be used/referral awarded"
Interesting idea from a pre-sale customer - supporting a minimum amount of spend/minimum cart total before an affiliate discount code can be used.

A customer has asked if it is possible to set a minimum cart amount before an affiliate discount code can be used. They don't want the customer to receive a discount or the affiliate to be awarded a referral unless the cart total meets a spend threshol

[2016-10-21 05:24] #1548 closed

[2016-10-21 07:20] sbimarketing commented on #1688
@michaelbeil Thanks for your input, that makes sense.

@pippinsplugins You're right, it IS silly that views aren't included in WP Engine's server configs in relation to backups.

@DrewAPicture Thanks! Hopefully you can work some magic with WP Engine, because I've brought it up with them before, but the "view issue" probably hasn't happened often enough for them to make it a priority to attend to!

[2016-10-21 13:51] pippinsplugins commented on #1641
PR with one approach to improving this: https://github.com/AffiliateWP/AffiliateWP/pull/1739

[2016-10-21 20:49] DrewAPicture opened #1740 "Set reasonable default limits on core object REST requests"
Welp, turns out our core listing endpoints don't scale beyond a certain point, resulting in the server to send back 500 errors.

We should set common-sense default limits on the `affiliates`, `creatives`, `payouts`, `referrals`, and `visits` endpoints. Maybe 20 or 30?

[2016-10-21 20:56] michaelbeil commented on #1740
20 seems fine to me.

[2016-10-21 22:37] DrewAPicture commented on #1740
Added a PR: #1741

[2016-10-22 00:05] DrewAPicture commented on #1718
Added a PR: #1742

The PR implements a 'Generated By' column in the Payouts list table as well as on Payout > View. Note, this introduces a schema change and a new `owner` column to the Payouts table. This means that payouts generated prior to 1.9.5 will have no owner, notated as '(none)'. And just like with affiliates, if the payout had an owner and the user has since been deleted, it will be not

[2016-10-22 00:07] DrewAPicture commented on #1718
To actually test this, you need to run the schema update yourself first, such as through the debug bar console:
[code]

[2016-10-22 00:17] DrewAPicture commented on #1718
Also added REST and CLI support for payout owners ;)

[2016-10-22 02:27] pippinsplugins commented on #1740
20 is fine by me. PR looks good.

[2016-10-22 02:31] pippinsplugins commented on #1718
PR looks good to me.

[2016-10-22 05:22] #1718 closed

[2016-10-22 06:02] #1740 closed

[2016-10-22 07:52] sumobi commented on #1738
Here's a start (for WooCommerce)
https://github.com/AffiliateWP/affiliatewp-code-snippet-library/edit/master/integrations/woocommerce/block-affiliate-coupon-minimum-amount.php

[2016-10-22 08:02] sumobi commented on #1738
I feel like this could be achieved best via a pro add-on (https://trello.com/c/jp0BvhQN/72-restrict-referrals) but interested to hear anyone's thoughts on why this should be core functionality.

[2016-10-23 14:38] pippinsplugins commented on #1738
I'd be fine putting it in the pro add-on, so long as that is not the only feature in the pro addd on.

[2016-10-23 20:29] sumobi commented on #1738
👍 Not the only feature, the Trello card outlines other functionality

[2016-10-24 11:47] michaelbeil opened #1743 "Amount in Generate Payout File shows single number after decimal"
The CSV file generated from the referrals does not add an amount with two decimal places when the integer is any tenth.

31.9 is shown instead of 31.90.

[2016-10-24 14:21] ramiabraham commented on #1473
Re-opening as I acutually fixed a symptom here, not the cause. The root cause can be a variety of html entities. Most recently, any `<span>` within a csv cell will break formatting in _Google Sheets_ and _Apple Numbers_.

[2016-10-24 14:22] ramiabraham commented on #1473
Related: https://secure.helpscout.net/conversation/265645932/0/

[2016-10-24 18:03] michaelbeil commented on #1738
I would agree on the pro add-on instead of core.

[2016-10-24 19:25] DrewAPicture opened #1745 "Turn on 1.9.5 upgrade routine (right before release)"

[2016-10-24 21:26] wordmaid commented on #579
Another customer request: https://secure.helpscout.net/conversation/266481953/45036/?folderId=414056

This one is pertaining specifically to store credit. So they wish to pay their affiliates half of a referral via PayPal or bank transfer, and leave the other half to be used as store credit. Perhaps the best way as @ryanduff  mentioned above is to have multiple referrals tied to the same reference

[2016-10-25 15:59] DrewAPicture commented on #1743
@michaelbeil OK. And is that only for currencies with two decimal places or any currency?

[2016-10-25 16:02] DrewAPicture commented on #1670
After some discussion with @sumobi the other day in Slack, our best option to make scripts or styles dequeueable might be something along these lines:
[code]

[code]

[2016-10-25 16:07] pippinsplugins commented on #1670
I like that proposal.

[2016-10-25 16:26] DrewAPicture commented on #1670
OK. I'll work on a PR.

[2016-10-25 16:29] michaelbeil commented on #1743
As far as I know only currencies with two decimal places. US dollars were tested.

[2016-10-25 17:07] DrewAPicture commented on #1670
I've added a secondary PR with the `affwp_enqueue_*()` approach. It avoids using `has_shortcode()` in a couple of places and simultaneously introduces the ability to selectively disable enqueuing within individual shortcode context. Please test :-)

[2016-10-25 17:38] pippinsplugins commented on #1670
I really like this approach.

[2016-10-25 19:58] DrewAPicture commented on #1080
@pippinsplugins Do we have a mockup somewhere for exactly how and where we'd like the affiliate ID to be conveyed?

[2016-10-25 20:07] sumobi commented on #1670
@DrewAPicture awesome, will check it out

[2016-10-25 20:18] pippinsplugins commented on #1080
I do not. Perhaps a link in order notes?

[2016-10-25 20:29] DrewAPicture opened #1749 "Pass $row_id values to update hooks in class-db.php"
The usefulness of hooks like `affwp_post_update_{$type}`, e.g. `affwp_post_update_referral` would be substantially greater if we actually passed the `$row_id` for the item being updated.

[2016-10-25 20:50] DrewAPicture opened #1750 "All core object delete wrappers should pass the object type to the delete() method"
In lieu of passing the type, the type thereby does not get passed to the dynamic hooks inside of `Affiliate_WP_DB::delete()` and the hooks fire, but they fire as `affwp_post_delete_` instead of `affwp_post_delete_referral|affiliate|payout|etc`.

[2016-10-25 20:54] DrewAPicture commented on #1750
Added a PR: #1751

To test, try firing a callback against the `affwp_post_delete_{$type}` hook, where `$type` is `affiliate`, `creative`, `payout`, `referral`, or `visit`.

[2016-10-25 21:41] ramiabraham commented on #1750
Tested and confirmed working here!

[2016-10-25 21:47] pippinsplugins opened #1752 "Rejected referrals to be updated to Unpaid if associated order is completed"
If a referral gets marked as Rejected due to a failed order and then the customer comes back and successfully completes the order, the referral remains Rejected, instead of changing to Unpaid.

I don't think this is right. The referral should change to `Unpaid`, but only so long as the current status is `Pending` or `Rejected`. A `Paid` referral should remain unchanged.

[2016-10-25 21:50] pippinsplugins commented on #1752
@sumobi could you test this please?

[2016-10-25 21:52] DrewAPicture commented on #1750
#1751 was merged.

[2016-10-25 21:52] #1750 closed

[2016-10-25 21:54] DrewAPicture commented on #1749
Added a PR: #1754

[2016-10-25 22:02] ramiabraham commented on #1749
PR looks good, confirmed here!

[2016-10-25 22:13] DrewAPicture commented on #1752
PR looks good.

[2016-10-25 22:14] #1749 closed

[2016-10-25 22:15] DrewAPicture commented on #1743
OK, I'll take a look.

[2016-10-25 22:16] DrewAPicture commented on #1672
See the second PR on #1670 for what may be ultimately a better all-around approach.

[2016-10-25 22:45] sumobi commented on #1752
@pippinsplugins What's the best way to test this with EDD?

I tested with EDD and Stripe payment gateway, using a declined credit card number to simulate a declined card, but EDD doesn't create the order initially, unless it's successful.

I then tried a normal Stripe payment to create the order, then set it to "revoked" from the payment history (affwp setting is enabled to revoke referral), but t

[2016-10-25 23:34] sumobi commented on #1670
Oh yeah this is slick, love it + works great

[2016-10-26 00:07] pippinsplugins commented on #1752
WooCommerce would be the easiest. It's the only integration I'm currently aware of where this happens.

1. Setup PayPal standard gateway
2. Go to checkout
3. Submit and go to PayPal
4. Click cancel on PayPal
5. Return to checkout and change payment method to something else
6. Complete order

Referral should end up as `Unpaid`.

[2016-10-26 00:13] sumobi commented on #1670
Although it's now easy as pie to dequeue the stylesheet via the filters, there's still point 1 to address above.

This is also mentioned here: https://github.com/AffiliateWP/AffiliateWP/issues/1672#issuecomment-255248538

Imagine a customer/theme developer wanting to make a small change to the CSS styling. Adding this to their stylesheet would not work:

[code]

Sure you could be more specific wit

[2016-10-26 00:21] sumobi commented on #1670
Example

https://cl.ly/0l1L14390Y35

[2016-10-26 00:40] DrewAPicture commented on #1670
In terms of third-parties customizing styles, they can actually add it in-line to the registered stylesheet it using `wp_add_inline_style()`, e.g.
[code]

[2016-10-26 00:46] sumobi commented on #1670
Good to know! Some however would prefer to put styles directly in their stylesheet, rather than writing a function.

[2016-10-26 01:01] DrewAPicture commented on #1670
Right. So we have to decide. We can either:

1. Load it all the time in the header
2. Use a regex to search the entire content for a given shortcode and then enqueue it in the header
3. Selectively enqueue it on the spot

On number 1, this would honestly be my choice, when it's minified, it's another HTTP request but it's very small and doesn't add much to the page.

On number 2 (the current solut

[2016-10-26 04:00] sumobi opened #1755 "Moving inline graph JS to footer"
A customer has mentioned their graph in the affiliate area disappeared after installing this plugin: https://wordpress.org/plugins/scripts-to-footerphp/

This plugin moves all the enqueued scripts to the site footer. Since jQuery is also moved below the graph's inline JS it breaks - jQuery is no longer defined.

Any reason why we can't load the injected JS into the footer, perhaps at a much later

[2016-10-26 04:03] sumobi commented on #1755
FYI there is an option in the plugin to "Keep jQuery in Header" which will prevent the graph from breaking but for performance reasons the customer was not happy about this and would prefer to move all scripts.

[2016-10-26 05:03] DrewAPicture commented on #1755
Added a PR: #1756

It's not the prettiest solution in the world, but it _does_ get the job done in my testing. Since `wp_add_inline_script()` was introduced in 4.5 and we're still 4.4 minimum, it includes back-compat support back to 4.2.

To test:
1. Install and activate the [Scripts To Footer]() plugin
2. Visit the Affiliate Area > Graphs tab or Reports page and confirm that the Graph isn't displ

[2016-10-26 05:20] sumobi commented on #1755
@DrewAPicture awesome, works for me

[2016-10-26 07:44] davefx commented on #1752
I think that the actual problem is that we are actually marking a referral as rejected when its corresponding WooCommerce order gets into 'failed' status.
An WooCommerce in a failed status is not a revoked nor a refunded order, so I think that the problem is generated because we are rejecting something that shouldn't be rejected at the first place. I think this referrals should remain in 'pending'

[2016-10-26 09:30] IovaMihai commented on #1710
Back with details. I have finished the integration and also prepared a documentation page: https://www.cozmoslabs.com/docs/paid-member-subscriptions/integration-with-other-plugins/affiliatewp-integration/

In order for the integration to work properly the latest version of Paid Member Subscriptions is needed, which you can clone from: https://bitbucket.org/cozmoslabs/paid-member-subscriptions

It

[2016-10-26 14:07] pippinsplugins commented on #1710
@IovaMihai Awesome! You can submit the changes as a pull request from a fork.

[2016-10-26 14:13] pippinsplugins commented on #1755
I like it.

[2016-10-26 14:14] michaelbeil commented on #1738
Closing in favor of Trello card.

[2016-10-26 14:14] #1738 closed

[2016-10-26 15:39] michaelbeil commented on #1752
Hmm, that is an interesting thought to remove that action @davefx.

Perhaps we can merge both PRs as a part of this. Well, after further thought, the above PR from Pippin should account for the WC order fail.

We should also address @sumobi's comment further:

If a failed or abandoned payment is then picked up again and a payment is completed, the referral should be set to a status of Unpaid, in m

[2016-10-26 16:43] pippinsplugins opened #1759 "Block self-pings in usage tracking check ins"
We need to ensure that the usage tracking class cannot try and ping our own site. Fairly certain that has been the culprit in several server melt downs we've seen recently immediately following an EDD core update.

[2016-10-26 18:04] pippinsplugins commented on #1752
I don't agree that a failed payment shouldn't mark a referral as rejected, but I do think it should only mark it as rejected if the current status is `Unpaid`. Going from `Pending` to `Rejected` is kind of silly as the referral was never accepted to begin with.

[2016-10-26 18:24] michaelbeil commented on #1752
Then we should probably remove the following per #1757:

[code]

[2016-10-26 19:47] michaelbeil commented on #1755
Works good here @DrewAPicture.

[2016-10-26 21:30] DrewAPicture commented on #1759
Added a PR: #1760

@pippinsplugins Let me know if that will work.

[2016-10-26 21:43] pippinsplugins commented on #1759
Looks good. Merged.

[2016-10-26 21:43] #1759 closed

[2016-10-26 22:45] sumobi opened #1761 "Author for Affiliate Area page not set to correct user"
When AffiliateWP is activated for the first time, the author of the "Affiliate Area" page is not set to the admin who activated the plugin. In the customer's example, the author was actually `wpengine` who have an admin account on your site by default if you are hosted with them.

We should make it so the author is the admin who activated AffiliateWP.

[2016-10-26 23:12] DrewAPicture commented on #1761
Added a PR: #1762

[2016-10-26 23:29] DrewAPicture commented on #1743
@michaelbeil I'm unable to reproduce this. Here's what I used to test:

1. Creates some referrals with `wp affwp referral generate --count=5 --status=unpaid affiliate_id=###`
2. Generated a payout file and opened the CSV
3. Amount showed as ##.##

[2016-10-27 01:01] sumobi commented on #1761
Might have to start calling you Flash Gordon 👍

[2016-10-27 01:31] sumobi commented on #1752
@pippinsplugins Tested twice with WooCommerce. The pending referral goes to rejected, but I'm sad to say that it does not go from rejected to unpaid. Instead, a new pending referral is created.

![screen shot 2016-10-27 at 2 30 37 pm](https://cloud.githubusercontent.com/assets/52581/19750937/f5cc47fc-9c51-11e6-8562-ddd6b2616161.png)

[2016-10-27 03:59] davefx commented on #1752
@sumobi Which patch did you test? The one from @pippinsplugins or the one from me?
With my patch it shouldn't go to rejected status...

[2016-10-27 04:05] davefx commented on #1752
@pippinsplugins Currently, the `revoke_referral_on_refund` function checks if the setting "Should unpaid referrals get automatically rejected when the originating purchase is refunded or revoked?" is active.
A failed payment is not a refunded nor revoked purchase.

[2016-10-27 04:07] #1761 closed

[2016-10-27 04:48] sumobi commented on #1752
@davefx I've only yet tested the one from @pippinsplugins

[2016-10-27 04:49] DrewAPicture opened #1763 "DRY up outputting navigation tabs"
As [pointed out](https://scrutinizer-ci.com/g/AffiliateWP/AffiliateWP/indices/1490116/duplications/942941) by Scrutinizer, we have essentially duplicated the same nav-tab output markup four different places in AffWP core. We should DRY this up.

[2016-10-27 05:05] DrewAPicture commented on #1763
Added a PR: #1764

Introduces `affwp_navigation_tabs()` and implements it in all 4 places.

Please test that the tabs are output as expected on:
1. Affiliates > Reports
2. Affiliates > Tools
3. Affiliates > Settings
4. Affiliates > Add-ons

[2016-10-27 13:04] michaelbeil commented on #1710
PR: https://github.com/AffiliateWP/AffiliateWP/pull/1765

[2016-10-27 15:03] michaelbeil commented on #718
This can be closed as we resolved it further with #1534 by switching out the Iranian Toman for the Rial.

[2016-10-27 15:03] #718 closed

[2016-10-27 15:13] michaelbeil commented on #602
Related: https://github.com/AffiliateWP/AffiliateWP/issues/517

[2016-10-27 15:41] pippinsplugins commented on #1752
Do you see the same behavior on `master`?

On Wed, Oct 26, 2016 at 8:31 PM, Andrew Munro <notifications@github.com>
wrote:

[2016-10-27 15:43] pippinsplugins commented on #1710
@michaelbeil think you could get this tested this week?

[2016-10-27 15:57] michaelbeil opened #1766 "Add support for Zoho CRM"
When the REST API supports write capabilities, perhaps we can think about adding an integration, be it through a Gravity Form that would add a referral once a lead becomes a customer.

Ref: https://secure.helpscout.net/conversation/269211773/0/

[2016-10-27 23:05] DrewAPicture commented on #1755
So after we added this, we circled back around to say that maybe we should just always hook it to the flot.js script, that way if something moves flot to the footer, this will automagically come along with it with needing to activate a filter. Working on a new PR.

[2016-10-27 23:08] DrewAPicture commented on #1755
Added a new PR: #1767

[2016-10-27 23:50] DrewAPicture commented on #1670
Looking for feedback from @AffiliateWP/core on the attached PR as well as [this comment](https://github.com/AffiliateWP/AffiliateWP/issues/1670#issuecomment-256221864).

[2016-10-28 01:41] DrewAPicture commented on #1080
I've started a PR: #1768, it's a work in progress.

Since many integrations use basically the same string and structure, the PR currently adds the ID only (link to come later) for the following:

* EDD
* Formidable Pro
* Gravity Forms
* Jigoshop
* Paid Memberships Pro
* Shopp
* Sprout Invoices
* WooCommerce
* Zippy Courses

[2016-10-28 12:33] michaelbeil opened #1769 "Add granular options to Export Affiliates"
Let us say that a site owner wants to see the performance of their affiliates at a glance in a CSV, Export Affiliates currently only exports all affiliates, so this is not available. Why not add a few more dropdowns that filter affiliates based on the amount of referrals (0 referrals, greater than 5 paid/unpaid, greater than 10, etc.), visits (0 visits, greater than 30 visits, etc.), and paid earn

[2016-10-28 13:11] michaelbeil commented on #1080
On a first look, things are looking nice:
![screen shot 2016-10-27 at 6 58 48 pm](https://cloud.githubusercontent.com/assets/4752949/19807389/29caa0de-9d20-11e6-98a3-015012a2a297.png)

It may be good to change `(ID: X)` to `(Affiliate ID: X)`. Then the link could be added to only the ID, so if x = 2, then 2 would be linked to the affiliate page.

Thinking about this, we should add a link to the re

[2016-10-28 13:14] michaelbeil commented on #1080
We should add a period at the end of the note.

[2016-10-28 18:38] DrewAPicture opened #1770 "Introduce a standardized method for building admin URLs"
Upon reflection working on #1080 and generally throughout the code base, it seems like we could benefit from adding a generic function or group of functions for generating admin URLs. For instance, we almost always pass a `page` query argument, we're almost always linking to admin.php and there's some other consistencies.

I think probably the most useful approach would be to introduce something l

[2016-10-28 19:35] pippinsplugins commented on #1769
Once batch processing is completed, this should be pretty easy to build in.

[2016-10-28 19:39] pippinsplugins commented on #1080
@DrewAPicture I'd like to see a `get_order_note()` method added to the base class to remove some of the duplication.

[2016-10-28 19:42] pippinsplugins commented on #1763
Some minor changes requested on PR.

[2016-10-28 19:45] pippinsplugins commented on #1670
I vote for number 1.

[2016-10-28 20:40] DrewAPicture commented on #1670
Adjusted PR #1748 to always enqueue the `affwp-forms` stylesheet via `wp_enqueue_scripts`. It still uses `affwp_enqueue_style()` so it's still filterable.

[2016-10-28 20:57] wordmaid commented on #1500
Another request for [Stripe Checkout](https://stripe.com/checkout) here: https://secure.helpscout.net/conversation/270327255/45603/?folderId=205524

[2016-10-28 23:25] swise23 commented on #338
We also need the import affiliates option.

[2016-10-30 12:03] AiratHalitov opened #1771 "Cyrillic symbols support"
AffiliateWP 1.9.4 don't support cyrillic symbols in "Export to CSV" function.

[2016-10-31 05:13] AiratHalitov commented on #1771
I found.
It looks normal in notepad++ (UTF-8), but in Excel (Windows-1251) it looks like this
_"Р•РјРµР№Р»","РЎСѓРјРјР°","Р’Р°Р»СЋС‚Р°"_

[2016-10-31 05:23] davefx opened #1773 "Reports: Current month wrongly determined in last or first day of the month, depending of timezone"
I've detected that, depending on the local timezone, the current month could be wrongly determined the last day of the month, or the first day of the month.

[2016-10-31 05:59] DrewAPicture commented on #1773
This fix is going to need accompanying unit tests.

[2016-10-31 09:13] davefx commented on #1773
Unit tests added

[2016-10-31 22:51] DrewAPicture commented on #1773
@davefx Can you do me a favor and test out this simple change on your setup? https://cloudup.com/chnN8OrVViw

[2016-10-31 23:48] DrewAPicture opened #1775 "Improve performance of reports screen"
Semi-related: #1641

An oversight on my part when we refreshed the Reports screen in 1.9 was not properly segregating registration of the stats tiles and their corresponding queries. Right now, all tabs' tiles are registered, and therefore all of the underlying queries are run for the tiles in those tabs, whether they're in the active tab or not. _Yikes_.

As a corollary to this issue, some legacy

[2016-10-31 23:51] DrewAPicture commented on #1775
Attached a PR: #1776

[2016-11-01 07:27] davefx commented on #1773
#1774 doesn't fix the problem: `$dates['m_start']`, in my configuration, keeps getting the wrong month, because of the `gmt_offset` wordpress option used in current_time function returns a value different than 0.

Remember that `date` expects a correct Unix time (in gmt), not a localized Unix time. Wordpress `current_time` function, depending on the `gmt_offset` option, is able to return a localiz

[2016-11-01 08:21] DrewAPicture commented on #1773
Hi @davefx, so, the initial objection is absolutely going to be to avoiding globals, even if they're just for testing. We very explicitly avoid them in this code base. ;)

To that end, I wonder if something like this would produce similarly passing results in your setup: https://github.com/AffiliateWP/AffiliateWP/compare/master...davefx-patch-7

The new optional parameter in `affwp_get_report_date

[2016-11-01 15:22] pippinsplugins commented on #1775
@DrewAPicture PR #1776 breaks the report tiles for the referrals tab.

On `master`:
![screen shot 2016-11-01 at 10 20 29 am](https://cloud.githubusercontent.com/assets/1034109/19894954/e2867608-a01c-11e6-91ea-f43acea03d30.png)

On `issue/1775`:
![screen shot 2016-11-01 at 10 21 18 am](https://cloud.githubusercontent.com/assets/1034109/19894973/f18bdd50-a01c-11e6-9e0e-f542d41fd03e.png)

Interesting

[2016-11-01 18:57] michaelbeil commented on #1051
request here: https://secure.helpscout.net/conversation/269106465/45384/?folderId=634609

[2016-11-01 18:58] michaelbeil commented on #1051
It might be nice to have an option to select the order of the registration and login forms as they display on the affiliate area page.

[2016-11-01 19:14] michaelbeil opened #1777 "Show commission rate range"
Perhaps we could include a change to the default commission rate area within the statistics tab of the affiliate area when a lifetime commission, recurring, product, tiered, affiliate, etc. rate is set to give the affiliate an idea of the range of referral rates they can earn.

Maybe we need to add a filter to show a commission rate range instead of only the default rate:
![screen shot 2016-11-01

[2016-11-01 21:17] davefx commented on #1773
These changes work perfectly.

The only objection would be that, in the current status, the line from which we have removed the error (the call to `current_time`) is still not tested in the unit tests, and reverting it to its prior status wouldn't make the tests to fail, so the unit tests are not testing what they should...

[2016-11-02 00:50] sumobi opened #1778 "Move log out link to end of tabs"
There are add-ons that use the `affwp_affiliate_dashboard_tabs` action hook to insert a new tab into the Affiliate Area. Since the log out link is added before this hook, the add-on tabs will always appear after the log out link.

I propose we move the log out link after the hook so it's always the last tab of the Affiliate Area.

[2016-11-02 13:25] mindctrl opened #1780 "Restrict Content Pro: Undefined variable: user_id when viewing discount add/edit screen"
Looks like it was introduced here: https://github.com/AffiliateWP/AffiliateWP/commit/d04759141d9db23e5270d537bc7caba3acd37a4e

Stack trace:
[code]

[2016-11-02 14:00] davefx commented on #1773
I've just uploaded a correction for the unit tests to #1772, where no globals are involved at all.

[2016-11-02 19:34] michaelbeil opened #1781 "Update LifterLMS integration"
It appears like LifterLMS v3+ broke our integration, so we need to assess the situation to see what we need in order to get the integration working.

v3 was released just 28 days ago, but we were not aware of all of these changes: https://github.com/gocodebox/lifterlms/releases

[2016-11-02 20:15] michaelbeil opened #1782 "Bulk edit product referral rates"
For those that may have a high number of products in EDD, WooCommerce, etc., it could be nice to have a bulk edit option to change the referral rates from the product list page.

[2016-11-02 20:31] pippinsplugins commented on #1781
What exactly broke? Does it fatal error? Does it not track sales? Need a bit more information please :)

[2016-11-02 20:49] michaelbeil commented on #989
https://secure.helpscout.net/conversation/272282428/45862/?folderId=634609

[2016-11-02 21:14] michaelbeil commented on #1778
Looks good here!

[2016-11-02 21:31] #1778 closed

[2016-11-03 01:48] DrewAPicture commented on #1780
Added a PR: #1784

[2016-11-03 02:15] DrewAPicture commented on #1271
Added a PR: #1785

[2016-11-03 02:19] #1780 closed

[2016-11-03 02:24] pippinsplugins commented on #1271
I don't think the option should show unless the status of the affiliate is anything other than `active` or `inactive`. Doesn't make sense to show it for active or inactive affiliates.
![screen shot 2016-11-02 at 9 23 18 pm](https://cloud.githubusercontent.com/assets/1034109/19954076/c6a04726-a142-11e6-8cc1-d567ab57a25a.png)

[2016-11-03 03:31] DrewAPicture commented on #397
Added a PR for the user migration script: #1786

Since I added methods to the base migration class, adding counts to the other notices should be fairly quick work.

To test (currently use the user migration script):
1. Create some non-affiliate users, e.g. `wp user generate --count=55`
2. Navigate to Affiliates > Tools > Migration Assistant
3. Scroll to the "User Migration" section
4. Click the "C

[2016-11-03 03:35] DrewAPicture commented on #1271
Yeah, thought about that. "Hide it" it is.

[2016-11-03 03:43] DrewAPicture commented on #1271
OK, hidden for Active and Inactive affiliates.

[2016-11-03 13:25] #1271 closed

[2016-11-03 13:30] pippinsplugins commented on #397
Just tested but not seeing anything. Import worked fine but no notice was shown.

[2016-11-03 15:37] michaelbeil opened #1787 "Integration: Caldera Forms"
It might be a good idea to add an integration for Caldera Forms.

Ref: https://secure.helpscout.net/conversation/272708245/45996/?folderId=205524

[2016-11-03 15:39] michaelbeil commented on #1781
I did get a fatal error, but I think that was due to the version I cloned down from their repo. The AffiliateWP tab no longer shows on a course.

[2016-11-03 17:19] michaelbeil opened #1788 "Sort the affiliate column alphabetically"
​The affiliate column sorting on the admin referrals screen is done by the affiliate ID associated with that affiliate currently. I wonder if it might be worthwhile to look into sorting that affiliate column alphabetically in the future.

[2016-11-03 17:32] DrewAPicture commented on #1788
I actually referenced this problem in another issue but I don't remember which one it was. It was something related to either column sorting on one of the list tables or showing different information. Sorry for the vagueness. I'll look around.

[2016-11-03 20:04] michaelbeil commented on #1743
Replicated again with an amount of 54.7.

[2016-11-03 20:24] michaelbeil commented on #1743
Hmm, now I cannot replicate on a different test site. All fixed here.

[2016-11-03 20:24] #1743 closed

[2016-11-03 20:36] michaelbeil commented on #397
Notice shows well for me:
![screen shot 2016-11-03 at 9 35 33 pm](https://cloud.githubusercontent.com/assets/4752949/19984193/7e8b80f6-a20d-11e6-8d6c-d14760b88822.png)

[2016-11-03 22:43] pippinsplugins commented on #397
@sumobi?

[2016-11-04 00:24] nhadsall opened #1789 "Slow: Affiliate_WP_Settings::check_license"
Hi,
I totally get the need to check license requirements, but a current client has a very slow backend. One of the contributors is AffiliateWP. The Affiliate_WP_Settings::check_license function runs twice on each page load and adds an additional 0.6ms to each page load. That may not seem like a lot, but if each of her 20 plugins did that, we would have to wait 10 seconds to get the backend of the

[2016-11-04 00:29] pippinsplugins commented on #1789
It is cached in a transient for a week at a time. Sounds like the site's
object caching is getting in the way. Temporarily deactivate OC let us know
if that resolves it.

On Thursday, November 3, 2016, Nathan H <notifications@github.com> wrote:

[2016-11-04 00:40] nhadsall commented on #1789
@pippinsplugins The level of support you guys give is a bit crazy :) You are absolutely right! They are using memcached, through Total Cache. I bet the VPS just doesn't have enough ram. Thanks!

[2016-11-04 01:11] pippinsplugins commented on #1789
No problem, happy to help! Going to close this but feel free to reopen if you continue to run into issues!

[2016-11-04 01:11] #1789 closed

[2016-11-04 17:52] thomasplevy commented on #1781
@michaelbeil please see pull #1790, should resolve any issues you might be seeing

[2016-11-04 20:16] michaelbeil commented on #1781
Works great @thomasplevy! Thanks.

[2016-11-04 21:09] thomasplevy commented on #1781
thank you all @michaelbeil

[2016-11-04 23:45] sumobi opened #1791 "Add KZT currency"
We should support the Kazakhstani tenge (KZT). WooCommerce supports this also. https://en.wikipedia.org/wiki/Kazakhstani_tenge

[2016-11-05 03:54] sumobi commented on #397
Yep works fine for me

<img width="302" alt="screen shot 2016-11-04 at 8 53 05 pm" src="https://cloud.githubusercontent.com/assets/52581/20027395/be3b2490-a2d0-11e6-9422-b64e2fb9856a.png">

[2016-11-06 00:19] sumobi opened #1792 "www.domain.com or domain.com not accepted as a valid URL"
You can't use `www.domain.com` or even `domain.com` as a valid URL on the affiliate registration form (tested in firefox and chrome)

You will see:

I've seen 3 or more tickets on this so far. This is significant barrier for those signing up to become affiliates, and most won't know to add the domain protocol (e.g.http://). WP core allows both `www.domain.com` and `domain.com` as valid URLs when e

[2016-11-06 22:55] sumobi commented on #1792
Ready for testing

[2016-11-07 00:15] sumobi opened #1794 "License keys not activating"
Every day there seems to be at least one ticket where the customer cannot activate their license key.

The current steps to resolve the issue (works every time in my experience) are:

1. On the Affiliates -> Settings -> General screen, remove the license key from the License Key field
2. Click Save Changes at the bottom of the screen
3. Enter the license key again into the License Key field
4. Cli

[2016-11-07 06:56] AiratHalitov opened #1795 "affiliate_wp_campaigns table error"
Can you check your plugin when you changing DB prefix?

I can't view table "myprefix_affiliate_wp_campaigns" in phpmyadmin, cause it's "in use".
Is it normal behaviour or bug?

[code]

[2016-11-07 15:19] michaelbeil commented on #1795
It looks like you are logged into phpmyadmin with a user that does not have permissions to look at the campaigns view. Your MySQL user does not necessarily need root access to create/access a view, but you will need to add the required privileges like Create_view_priv and Super_priv as shown here: [Privileges Provided by MySQL](http://dev.mysql.com/doc/refman/5.7/en/privileges-provided.html). Make

[2016-11-07 15:19] #1795 closed

[2016-11-07 16:12] AiratHalitov commented on #1795
@michaelbeil Thanks!
But my user have all permissions in this database (including CREATE VIEW).
MySQL root user can't view this table too.
I think I need drop all affiliate wp data and reinstall plugin.

[2016-11-07 19:52] michaelbeil commented on #465
Request here: https://secure.helpscout.net/conversation/274305668/46259/?folderId=205524

[2016-11-07 21:11] #1791 closed

[2016-11-07 23:20] pippinsplugins commented on #1794
Sounds like the activation function is pulling from settings instead of pulling from `$_POST`.

[2016-11-07 23:21] pippinsplugins commented on #1794
Hmm, no, it should be pulling from post properly.

@sumobi do you have `AFFILIATEWP_LICENSE_KEY` defined?

[2016-11-07 23:23] pippinsplugins commented on #1792
See feedback on PR.

[2016-11-08 06:57] sumobi commented on #1794
@pippinsplugins No I don't have `AFFILIATEWP_LICENSE_KEY ` defined.

I actually just ran into the same problem I was facing on a customer's site. Had to activate the license key twice. First time was blank and nothing happened, second time it worked fine.

[2016-11-08 15:51] pippinsplugins commented on #1792
Ok I'm happy with PR.

[2016-11-08 16:25] wordmaid commented on #1173
Another request for this here: https://secure.helpscout.net/conversation/274402777/46272/?folderId=205524

[2016-11-08 17:33] AiratHalitov opened #1797 "Revenue of product author"
Can you add support of revenue of author in product settings?
I mean that one partner (author of product) who will get persent of sales by default.

I think it will be usefull feature for your plugin.

[2016-11-08 18:41] DrewAPicture commented on #1794
I'm going to take a look at this (again). I have a feeling this has to do with not explicitly relying on `$_POST` data every step of the way.

How it _should_ work:

* Input the license key in the box manually or populate it via the constant
* Submit the form to activate and solely use the `$_POST` data to determine activation

[2016-11-08 19:14] sumobi commented on #1792
@michaelbeil want to give it a test?

[2016-11-08 20:14] pippinsplugins commented on #1794
PR looks good at first glance.

@sumobi please test to confirm that it still works with the key defined in wp-config. It should but just to be thorough.

[2016-11-08 20:27] michaelbeil commented on #1794
All works well here with license activation as well as with the AFFILIATEWP_LICENSE_KEY constant.

[2016-11-08 23:10] pippinsplugins commented on #1797
That kind of feature is best handled through a "vendor commissions" plugin, such as WooCommerce Product Vendors or Easy Digital Downloads Commissions.

Vendor commissions are not the same thing as affiliate commissions.

[2016-11-08 23:10] #1797 closed

[2016-11-08 23:16] DrewAPicture commented on #397
I've added migration completion notices for both the WP Affiliate and Affiliates Pro migration scripts as well. Needs testing.

[2016-11-09 08:15] AiratHalitov commented on #1795
Problem solved after reinstalling plugin (with deleting all affiliatewp data)

[2016-11-09 13:55] michaelbeil opened #1799 "EDD: Undefined variable: user_id when viewing discount add/edit screen"
```PHP Notice:  Undefined variable: user_id in /app/public/wp-content/plugins/affiliatewp/includes/integrations/class-edd.php on line 506```

[2016-11-09 15:32] #1799 closed

[2016-11-09 16:40] ramiabraham opened #1801 "REST API: add support for including affiliate metadata"
This data is a required field for an upcoming pro add-on feature ([issue link](https://github.com/AffiliateWP/affiliatewp-zapier/issues/17)).

Implementing this would avoid us having to define custom queries for core object REST API polling responses.

[2016-11-09 16:41] ramiabraham commented on #1801
(Updated title to reflect that _all_ available object meta should be present in core objects endpoints).

[2016-11-09 16:53] michaelbeil commented on #1795
Glad to hear it!

[2016-11-09 16:55] michaelbeil commented on #397
No idea how to test the WP Affiliate and Affiliates Pro migration scripts . Do we have copies?

[2016-11-09 16:56] pippinsplugins commented on #397
We do. They're in the Dropbox folder.

On Wed, Nov 9, 2016 at 10:55 AM, Michael Beil <notifications@github.com>
wrote:

[2016-11-09 17:41] pippinsplugins commented on #1801
Per discussion in Slack, we're going to leave the name out. If name needs to be retrieved, add `?user=1` to the query. That will result in the user data being returned:
[code]

For meta data, it will be best to avoid automatically adding metadata to response objects as that requires additional queries. Let's add an option for including meta via the API query, just like `user=1`. I propose `meta=1`

[2016-11-09 18:37] sumobi commented on #1794
It seems to activate the license key ok now 👍

One small thing, you now cannot remove the license key. If you remove it and save the settings, the license key is still there.

[2016-11-09 18:45] sumobi commented on #1794
One more thing and I can't recall how it used to work, but when using the constant it says this:

However I can still deactivate and activate the license key. So we need to either:

1. Change the text
2. Make it so when the constant is defined there's no button. The input is correctly set to readonly.
3. Make it so when the constant is defined it doesn't even show the license key at all (no input,

[2016-11-09 18:53] DrewAPicture commented on #1794
@sumobi

I was able to remove it and save the settings and it wasn't there when the page refreshed. This is obviously only possible when the constant isn't set.

I think you're conflating the key being present in the input with activation. They are intentionally different workflows. The key will always be populated, activated or not, if the constant is defined.

[2016-11-09 18:54] DrewAPicture commented on #1794
I could be in favor of obfuscating the key once entered as a password-ish field.

[2016-11-09 18:56] DrewAPicture commented on #1794
See #1402 for the suggestion to auto-activate (thereby merging the entry and activation workflows present when the constant is defined).

[2016-11-09 19:02] sumobi commented on #1794
@DrewAPicture

Constant is not set, I can't remove the key on save.

If the text says "It cannot be modified from this screen." then something is wrong since I can modify the key by activating or deactivating it.

I don't think we need to keep the field at all. What would be the point if the key is entered in wp-config.php? We allow the constant so a site-owner can network activate the license. @A

[2016-11-09 19:04] sumobi commented on #1794
Oh right, I see, forgot how it worked. So the license key doesn't actually auto activate, heh. In that case it works as intended.

[2016-11-09 21:39] DrewAPicture commented on #1801
Added a PR that adds `?meta=1` support to retrieve affiliate meta: #1802

[2016-11-09 21:57] pippinsplugins commented on #1801
@ramiabraham Can you test this with Zapier please?

[2016-11-10 10:43] fernandotellado opened #1803 "404 and memory error messages in product pages and orders after update to 1.9.4"
I've need to downgrade to 1.8.8 in order to edit products in my woocommerce because when I update to the last version every time I click on a product to edit it resolves an 404 error.

Also, if I try to view or edit an order the system shows only an ugly error like this one:

Fatal error: Allowed memory size of 268435456 bytes exhausted (tried to allocate 2611340136448 bytes) in /xxxx/xxxx/public_

[2016-11-10 13:10] michaelbeil opened #1804 "Add " Unpaid Earnings" column to Affiliates screen"
Per the implementation of https://github.com/AffiliateWP/AffiliateWP/issues/1611, it would be nice to also show an `Unpaid Earnings` column on the affiliates screen.

After https://github.com/AffiliateWP/AffiliateWP/issues/1228 is done, this data will be easier to retrieve.

[2016-11-10 14:24] pippinsplugins commented on #1803
Hi there!

Please go ahead and open a support ticket through our support portal: https://affiliatewp.com/support. We will be happy to hel.

we use GitHub for development tracking only.

[2016-11-10 14:24] #1803 closed

[2016-11-10 14:46] ramiabraham commented on #1801
@pippinsplugins Tested and implemented in Zapier app - added to latest build when relevant

[2016-11-10 14:51] pippinsplugins commented on #1801
PR looks good! Let's leave it open until fully confirmed as working on live site.

[2016-11-10 14:53] pippinsplugins commented on #1781
@sumobi able to test this as well?

[2016-11-10 18:04] DrewAPicture commented on #1801
In the process of switching from a filter to a method that's forward-compatible with `register_rest_field()` or similar.

[2016-11-10 23:59] DrewAPicture commented on #1801
Currently forward-compatible with `register_rest_field()`. To test:

[code]

[2016-11-11 00:03] DrewAPicture commented on #1794
We need to keep the field because core needs to rely on using the value passed from `$_POST`, which is what caused the bug reported in this ticket in the first place. We could certainly obfuscate it though or even completely hide the field, but we should keep the field regardless ;)

[2016-11-11 00:08] DrewAPicture commented on #1792
Looks good to me.

[2016-11-11 00:09] #1792 closed

[2016-11-11 00:21] DrewAPicture commented on #1775
@pippinsplugins The issue you reported was due the Referrals tab being the default the `tab` not being set in the query string. I've changed course and only registered the tiles for the tab currently being displayed regardless of whether `tab` is set or not. Please retest and merge at will :-)

[2016-11-11 00:40] DrewAPicture commented on #1763
@pippinsplugins I've updated the PR with changes addressing your feedback.

[2016-11-11 00:43] #1755 closed

[2016-11-11 00:44] DrewAPicture commented on #1752
Looks like this needs some further massaging. Punting to 1.9.6.

[2016-11-11 00:47] DrewAPicture commented on #1672
Closing in favor of #1670 and its PR: #1748.

[2016-11-11 00:48] DrewAPicture commented on #1670
I believe #1748 just needs a look-see and a test to ensure the forms stylesheet is always enqueued but can be dequeued selectively. Closed #1672 in favor of this issue since it also addresses the duplicate enqueues.

[2016-11-11 00:53] DrewAPicture commented on #1531
@wordmaid What's the status here? Punting to 1.9.6.

[2016-11-11 01:55] wordmaid commented on #1531
Mostly done but not completed yet - can have it done sooner if needed, otherwise will ensure it is ready for 1.9.6.

[2016-11-11 02:07] pippinsplugins commented on #1763
Looks and works great, merged!

[2016-11-11 02:07] #1763 closed

[2016-11-11 02:11] pippinsplugins commented on #1801
PR looks great to me.

@ramiabraham could you get Zapier updated for this? Once it's confirmed to work as expected, we can merge this into core.

[2016-11-11 02:13] pippinsplugins commented on #1775
Looks good!

[2016-11-11 02:13] #1775 closed

[2016-11-11 02:14] pippinsplugins commented on #1670
@DrewAPicture could you resolve the merge conflict please?

[2016-11-11 02:57] ramiabraham commented on #1801
@pippinsplugins

I get an `undefined $request` error when adding the following to affwp-zapier with AffiliateWP at `issue/1801`:

[code]

The field is not appended to the affiliate object:

![ALT_TEXT](https://cldup.com/diUiqZ7Vgi.png "TITLE")

[2016-11-11 03:05] ramiabraham commented on #1801
I also tried using the same anonymous function implementation above, as well as both tests with `referral` objects, which behaved the same. The returned `referral` object is:

[code]

[2016-11-11 03:07] DrewAPicture commented on #1801
@ramiabraham I just dropped your code it and it appended the field. No other changes.

![affiliate_name](https://cl.ly/0I2v402k1z45/Screen%20Shot%202016-11-10%20at%208.06.15%20PM.png)

Hmm.

[2016-11-11 03:11] ramiabraham commented on #1801
@DrewAPicture Thanks - I'm sure it's my error somewhere the line.

@pippinsplugins Added to Zapier add-on in https://github.com/AffiliateWP/affiliatewp-zapier/commit/549b3f036d488ca918d9fbe41d52660578a0f21d.

[2016-11-11 03:12] DrewAPicture commented on #1670
@pippinsplugins I've cleared the merge conflict and updated from master. Tests are passing.

[2016-11-11 04:07] pippinsplugins commented on #1801
@ramiabraham I'm not seeing Affiliate Name as an option in the Zap.

Updated to `master` on the live site.

[2016-11-11 05:07] DrewAPicture commented on #1801
As discussed in Slack, the problem is that the field is being registered on `plugins_loaded`, which has already fired by the time the file containing the `add_action()` call is loaded. The solution would be to hook to `rest_api_init` or another action that fires after `plugins_loaded`.

[2016-11-11 06:55] sumobi commented on #1794
👍

[2016-11-11 07:31] DrewAPicture opened #1805 "Reduce unnecessary settings queries in the admin"
As reported by a customer, there are several extra queries that run in the admin that don't need to run on every page. Let's clean up a little bit.

[2016-11-11 07:37] DrewAPicture commented on #1805
PR: #1806

[2016-11-11 07:39] #1794 closed

[2016-11-11 13:47] michaelbeil commented on #1805
Looks good here when I view the queries in QM. Are there specific queries to watch out for?

[2016-11-11 14:32] michaelbeil commented on #397
WP Affiliate Platform migration completion notice works.

[2016-11-11 14:36] michaelbeil commented on #397
Affiliates Pro migration completion notice works as well.
![screen shot 2016-11-11 at 3 35 20 pm](https://cloud.githubusercontent.com/assets/4752949/20218352/80346446-a824-11e6-9cad-02ef29062c8e.png)

[2016-11-11 14:38] michaelbeil commented on #397
Should this notice be displayed on the affiliates screen instead of the overview screen?

[2016-11-11 14:43] pippinsplugins commented on #397
Yes, I think we should redirect to `Affiliates` instead of `Overview`.

[2016-11-11 14:47] pippinsplugins commented on #1805
@DrewAPicture this breaks settings save and triggers a wp_die() with `ERROR: options page not found.`

[2016-11-11 15:39] michaelbeil opened #1807 "Add en_US translation files"
In cases where users want to change the strings in AffiliateWP for US English, I think we should add the en_US translation files for this purpose. A plugin like Loco Translate will then allow users to change the strings as they see fit. There is no use for a en po file as there is not a generic English translation.

[2016-11-11 15:49] DrewAPicture commented on #397
Updated the PR to redirect both to the Affiliates screen instead of Overview.

[2016-11-11 16:15] DrewAPicture commented on #1805
I've removed the code that bails early after not being able to find a way to have it both ways. Tracking other options in [AFGF/21](https://github.com/AffiliateWP/affiliatewp-affiliate-forms-gravity-forms/issues/21).

[2016-11-11 16:21] DrewAPicture commented on #1805
@michaelbeil See the AFGF issue for more information on specific queries.

[2016-11-11 16:59] #397 closed

[2016-11-11 17:59] #1805 closed

[2016-11-11 20:00] michaelbeil commented on #397
Great!

[2016-11-11 22:32] pippinsplugins opened #1810 "affwp_referral_action_links filter accidentally removed"
We used to have a filter called `affwp_referral_action_links` on the referrals list table. This has been accidentally renamed to `affwp_referral_row_actions`.

I suspect this happened with https://github.com/AffiliateWP/AffiliateWP/issues/1528

[2016-11-11 22:33] pippinsplugins commented on #1810
This has resulted in row actions added by the payout add-ons no longer showing up. It could be causing issues with other add-ons as well that relied on the `affwp_referral_action_links` filter.

I suspect we've lost the filter for all list tables.

[2016-11-11 23:28] DrewAPicture commented on #1810
Looking at 1.8.8, the previous action names for affiliates and creatives were `affwp_affiliate_row_actions`, `affwp_creative_row_actions`, respectively. Visits had no action links and Payouts didn't exist. So I think the referral hook is the only one affected.

[2016-11-11 23:33] DrewAPicture commented on #1810
Added a PR: #1811

[2016-11-12 00:49] sumobi commented on #1670
Happy with this

[2016-11-12 01:07] #1670 closed

[2016-11-12 02:44] sumobi commented on #1672
@DrewAPicture that last commit prevents the `admin.css` file from loading within the admin. If it can't load, the plugin icon won't show:

<img width="177" alt="screen shot 2016-11-11 at 6 42 44 pm" src="https://cloud.githubusercontent.com/assets/52581/20235142/ec3d701e-a83e-11e6-91d4-bfac93f59613.png">

[2016-11-12 02:47] sumobi opened #1812 "Admin.css no longer loading in the admin"
@DrewAPicture https://github.com/AffiliateWP/AffiliateWP/commit/62794820bdb8f6f9c3d5fb2132a43ad9233e153f prevents the `admin.css` file from loading within the admin.

<img width="177" alt="screen shot 2016-11-11 at 6 42 44 pm" src="https://cloud.githubusercontent.com/assets/52581/20235142/ec3d701e-a83e-11e6-91d4-bfac93f59613.png">

<img width="444" alt="screen shot 2016-11-11 at 6 50 10 pm" src="h

[2016-11-12 02:47] #1672 closed

[2016-11-12 03:21] sumobi commented on #1781
The AffiliateWP tab is now correctly shown on a course page. I am however having trouble purchasing a course on my local set up so I haven't been able to test an actual referral.

Using PayPal (the only gateway I can see that's availble) I get:

@michaelbeil Can you confirm referrals are working ok and at the correct amount? Is it working locally for you?

[2016-11-12 05:31] DrewAPicture commented on #1670
Fixed the admin menu dashicon in f8407be.

[2016-11-12 07:35] sumobi commented on #1812
Fixed via https://github.com/AffiliateWP/AffiliateWP/commit/f8407befc7e75c44f580c00df784e9545136a864

[2016-11-12 07:35] #1812 closed

[2016-11-12 07:44] sumobi commented on #1781
@thomasplevy When creating a new coupon, the `admin` affiliate is automatically assigned, which means all coupons created will be attributed to this affiliate. It should be blank by default.

[2016-11-12 07:51] sumobi commented on #1689
Looks like LifterLMS has the same issue:

https://github.com/AffiliateWP/AffiliateWP/issues/1781#issuecomment-260107812

[2016-11-12 08:11] sumobi commented on #1781
Ok, tested live and all looks good (minus the coupon issue)

[2016-11-14 03:34] #1810 closed

[2016-11-14 22:27] michaeltieso opened #1813 "Unable to remove coupon code affiliate discount"
It won't let me remove the association of a coupon code in WooCommerce tied to the admin user creating the coupon code. Admin is also an affiliate.

![screenshot](http://cld.wthms.co/YETj/AzJLuxWn+)

[2016-11-14 23:24] DrewAPicture commented on #1813
Hi @michaeltieso, thanks for the report. We're already tracking this issue over in #1689.

[2016-11-14 23:24] #1813 closed

[2016-11-15 15:10] #1801 closed

[2016-11-15 16:16] michaelbeil commented on #1781
Just added https://github.com/AffiliateWP/AffiliateWP/commit/70a0dc11161f4d48e90bd985a8131b3118e4e42f to fix the LifterLMS coupon issue.

[2016-11-15 16:16] michaelbeil commented on #1689
Commit https://github.com/AffiliateWP/AffiliateWP/commit/70a0dc11161f4d48e90bd985a8131b3118e4e42f should fix the LifterLMS coupon issue.

[2016-11-15 16:21] michaeltieso opened #1814 "Referral not moving from Rejected to Unpaid"
Using WooCommerce if a credit card is rejected, the status of the order is moved to Rejected. This results in the referral being rejected. In this instance however the customer later resolves the order and moves to Completed. The referral stays rejected and doesn't move to Unpaid.

Email was also fired even though the card was declined.

![screenshot](http://cld.wthms.co/HSs1/1PrqvaEk+)

[2016-11-15 16:44] michaelbeil commented on #1689
Everything is working well here.

[2016-11-15 16:55] michaelbeil commented on #1781
I think we are good to merge here.

[2016-11-15 17:12] michaelbeil opened #1815 "Undefined variable: user_id when viewing Exchange and MemberPress coupon add/edit screen"
Time to fix up these notices for Exchange and MemberPress:

```PHP Notice:  Undefined variable: user_id in /app/public/wp-content/plugins/affiliatewp/includes/integrations/class-exchange.php on line 308```
```PHP Notice:  Undefined variable: user_id in /app/public/wp-content/plugins/affiliatewp/includes/integrations/class-memberpress.php on line 287```

Related to https://github.com/AffiliateWP/Af

[2016-11-15 17:49] DrewAPicture commented on #1689
@michaelbeil So are we done here then? If so, feel free to close it.

[2016-11-15 18:13] #1815 closed

[2016-11-15 18:15] pippinsplugins commented on #1814
@michaelbeil do you have the option enabled to auto reject referrals? It's in the Misc tab,

Related https://github.com/AffiliateWP/AffiliateWP/issues/1752

[2016-11-15 18:20] #1689 closed

[2016-11-15 18:20] #1781 closed

[2016-11-15 18:34] DrewAPicture opened #1817 "Make the WooCommerce products line filterable"
PRs:
* [x] #1723
* [ ] #1819

From @davefx:

[2016-11-15 18:39] DrewAPicture opened #1818 "Make each line in the data export filterable"
PRs:
* [x] #1725
* [ ] #1820

From @davefx:

[2016-11-15 19:00] DrewAPicture commented on #1818
@davefx Note: I've renamed the hook to `affwp_referral_export_get_data_line`.

[2016-11-15 19:06] michaeltieso commented on #1814
@pippinsplugins Yes, it's enabled. Looks like it is related to that the issue you pointed out. Second issue I've reported that already had an issue that I couldn't find :(. I suppose we can close?

[2016-11-15 19:44] #1817 closed

[2016-11-15 19:45] #1818 closed

[2016-11-15 20:04] #1745 closed

[2016-11-15 20:39] pippinsplugins commented on #1814
@michaelbeil Not a problem :) We'll close this one and track the other.

[2016-11-15 20:39] #1814 closed

[2016-11-16 08:25] IovaMihai commented on #1710
Hey guys, did you have the chance to test this out?

[2016-11-16 14:27] ramiabraham commented on #1770
Love this idea.

[2016-11-16 15:26] pippinsplugins commented on #1710
Sorry we haven't let.

I'm going to milestone it for 1.9.6 so we that we can get it tested and included.

[2016-11-16 22:45] DrewAPicture commented on #1770
Started a PR: #1821 that introduces `affwp_admin_url()` and `affwp_admin_link()`.

[2016-11-16 23:53] pippinsplugins commented on #1770
This looks great!

[2016-11-17 03:23] sumobi opened #1822 "Google reCAPTCHA"
Looks like v1.9.5 accidentally broke Google reCAPTCHA, the required .js file is no longer being enqueued (only registered).

@DrewAPicture can you make this top priority and push out a point release as soon as possible? Since the .js file isn't being loaded, a lot of affiliate registration forms will no longer work (validation will say nopeee).

v1.9.4
https://github.com/AffiliateWP/AffiliateWP/bl

[2016-11-17 03:42] sumobi commented on #1822
Are we all in agreement that we'll enqueue the Google reCAPTCHA JS on every page when enabled like the forms JS? (see PR). Apart from loading an extra .js file, I don't think it will cause a JS error on other pages.

@DrewAPicture What does this do? https://github.com/AffiliateWP/AffiliateWP/blob/1.9.5/includes/scripts.php#L145

[2016-11-17 15:40] michaelbeil commented on #1822
I would be more prone towards not loaded our forms JS nor the Google reCAPTCHA JS on every page when enabled. Although, I suppose herein lies that issue, we do not know which pages will have the forms or reCAPTCHA added to them.

[2016-11-17 16:35] #1822 closed

[2016-11-18 19:11] DrewAPicture opened #1824 "Affiliate added notice is incorrect when manually adding an affiliate in 1.9.5+"
Looks like the notice modifications made in #397 for the migration scripts introduced a bug when adding affiliates manually in the admin. It appears to be be caused by making an assumption that the count will only come from a migration script. Whoops!

This is the notice shown after adding an affiliate manually.

[2016-11-18 20:44] DrewAPicture opened #1825 "Add schema support to core REST routes and endpoints"
This is a companion project to the pro REST API add-on currently in development. The new writeable and editable endpoints require schema support to build their respective argument lists. We _could_ do it as a shim in the add-on, but I think the best route forward would be to add the schema support to core, and then simply require 1.9.x or 2.x for the add-on to operate.

My best suggestion would be

[2016-11-18 20:48] DrewAPicture commented on #1825
Started a PR: #1826

[2016-11-19 00:32] pippinsplugins commented on #1825
:+1:

[2016-11-21 14:47] IovaMihai commented on #1710
Okay. Looking forward to it! Thanks for letting me know.

[2016-11-21 18:35] DrewAPicture opened #1827 "affwp_add_creative() should return the new creative ID on success"
PR: #1827

For reasons, it would be helpful for `affwp_add_creative()` to operate the same way as `affwp_add_affiliate()` et al in returning the newly-created creative ID rather than simply true.

Attached PR includes a test showing the old test still passes based on the truthy return.

[2016-11-21 18:43] pippinsplugins commented on #1827
:+1:

[2016-11-21 18:43] pippinsplugins commented on #1827
PR looks good.

[2016-11-21 21:00] #1827 closed

[2016-11-21 22:00] michaelbeil opened #1829 "Auto-adjust referral amount"
Let us say a partial refund is being made for a payment. If a payment total is adjusted, the referral associated with it, will not be adjusted. This can be done manually, but is a bit meticulous. It would be great if the referral (unpaid) associated with that payment automatically readjusts to reflect a percentage (flat rates don't apply) of the new total amount of that payment.

[2016-11-21 22:11] DrewAPicture opened #1830 "Add more fine-tuned meta capabilities"
The current capabilities scheme in AffWP relies pretty heavily on meta capabilities in the form of `manage_affiliates`, `manage_referrals`, et al. This has the side effect of being able to blanket many different types of operations, though there's merit in being able to differentiate between, say, adding, editing, or deleting affiliates.

Fine-tuning our currently broad primitive capabilities into

[2016-11-21 22:18] DrewAPicture commented on #1830
PR: #1831 adds two primitive caps covering payouts and REST consumers, as well 16 meta capabilities covering affiliates, creatives, payouts, referrals, visits, and REST consumers.

[2016-11-21 23:03] pippinsplugins commented on #1830
First glance at PR looks good to me.

[2016-11-22 17:37] ramiabraham opened #1832 "Provide inline documentation for all core hooks"

[2016-11-22 17:44] DrewAPicture commented on #1832
Closing this is favor of the issue you already opened in July ;) #1453

[2016-11-22 17:44] #1832 closed

[2016-11-23 14:33] ramiabraham opened #1834 "Add support for user-defined locales"
WordPress 4.7 introduces `get_user_locale` ([changeset](https://core.trac.wordpress.org/changeset/38705)), which falls back to the standard `get_locale`.

Let's update our `load_textdomain()` loader method ([link to proposed affected line](https://github.com/AffiliateWP/AffiliateWP/blob/master/affiliate-wp.php#L504)) to support user locales.

[2016-11-23 14:48] ramiabraham commented on #1834
Added a PR: https://github.com/AffiliateWP/AffiliateWP/pull/1835

[2016-11-23 14:53] pippinsplugins commented on #1834
Looks good!

[2016-11-23 14:53] michaelbeil commented on #1834
Celebrate good times now.

[2016-11-23 14:59] ramiabraham commented on #1834
Cool cool, merged.

[2016-11-23 21:26] ramiabraham commented on #1834
New PR with small adjustment: https://github.com/AffiliateWP/AffiliateWP/pull/1836

[2016-11-25 03:19] wordmaid opened #1837 "Show affiliate status in Edit Affiliate screen"
I thought that the affiliate status was already visible on the Edit Affiliate screen, but it isn't there currently. I think it would be handy to be able to see it in there. Thoughts on adding it as a non-editable field? Or perhaps even with a drop-down so it can be edited from within the Edit screen?

[2016-11-25 05:43] pippinsplugins commented on #1837
I've run into this a few times.

I vote we add it, though might as well make it editable too.

[2016-11-25 15:27] pippinsplugins commented on #1336
Another request https://secure.helpscout.net/conversation/282208045/47589/?folderId=205524

[2016-11-25 16:08] michaelbeil commented on #1837
Was just gonna write up an issue for this. 🎉 👍  here.

Could be an action row instead of a drop-down. First column would be Status, then the second column would contain the action row, show a greyed out Pending status, and an Accept link is shown to the right in the row. Then deactivate or activate will show once affiliate is accepted.

[2016-11-25 19:13] DrewAPicture commented on #1825
@pippinsplugins The PR: #1826 is ready for review. All v1 create/edit/delete endpoints have been [implemented](https://github.com/AffiliateWP/affiliatewp-rest-api/issues/3) in the pro add-on and rely on these item schema.

[2016-11-27 01:28] pippinsplugins commented on #1825
Noticed a few errors in the text strings. See PR.

[2016-11-28 15:34] pippinsplugins opened #1838 "Integration with ActiveMember"
We've had a request for an integration with ActiveMember: https://activemember360.com/

Request: https://secure.helpscout.net/conversation/283512614/47957/?folderId=205524

[2016-11-28 17:27] ramiabraham commented on #843
@AffiliateWP/core  Re-opening; this continues to be an issue for some customers in cases where the affiliate does _not_ register via the AffiliateWP registration form.

In the affiliate area dashboard url generator, a space character present in the username results in an error indicating the url was not formatted correctly.

Example: https://secure.helpscout.net/conversation/282832408/0/

What wou

[2016-11-28 18:30] DrewAPicture commented on #1825
All feedback has been addressed.

[2016-11-28 18:38] ramiabraham commented on #1336
Can't be worse than...

I'll take it :)

[2016-11-28 18:42] ramiabraham commented on #1336
Not a _request_, but the current iteration is certainly causing some confusion with customers, as (at least this customer) understandably thinks it's a _full_ integration:

https://secure.helpscout.net/conversation/283660919/47966/?folderId=297160

[2016-11-28 20:02] pippinsplugins commented on #843
Spaces should work in URLs, even if we do not explicitly permit them.

[2016-11-28 20:04] pippinsplugins commented on #1825
@DrewAPicture where exactly can I see the schema output? At the top level REST endpoint?

[2016-11-28 22:24] DrewAPicture commented on #1825
Answered in Slack, but for posterity, you can either use the main discovery endpoint at /affwp/v1 or send an `OPTIONS` request to the endpoint for a single core object, e.g. `affwp/v1/affiliate/###` where `###` is an actual affiliate ID.

[2016-11-29 00:04] pippinsplugins commented on #1825
Excellent. Looks great here!

[2016-11-29 16:38] pippinsplugins commented on #1825
Just gave this another look. Everything looks great!

[2016-11-29 16:42] pippinsplugins commented on #1830
A few changes needed.

[2016-11-29 16:50] lisag opened #1839 "Send admin email when new referral is generated"
We do have a code snippet for this, but I think it would be a great feature for core: https://github.com/AffiliateWP/affiliatewp-code-snippet-library/blob/master/emails/admin-referral-sale-email.php

[2016-11-29 17:42] pippinsplugins commented on #1430
@TimothyBJacobs I'm not seeing any option for order-specific notes in Exchange. Am I missing something?

[2016-11-29 17:45] TimothyBJacobs commented on #1430
Hey! Yep, it is in our activity module, https://bitbucket.org/ithemes/ithemes-exchange/src/10f1caa4cb573a8d70168d4e943921a28c2f9967/lib/transactions/activity/?at=master. AffiliateWP would be a custom activity type and could live in the extras folder I'd image.

[2016-11-29 18:09] pippinsplugins commented on #1430
WIP PR submitted #1840

- [x] EDD
- [x] Woo
- [x] Gravity Forms
- [ ] Exchange
- [ ] Jigoshop
- [ ] Formiddable
- [ ] LifterLMS
- [ ] PMP
- [ ] Shopp
- [ ] Sprout Invoices
- [ ] ZippyCourses

[2016-11-29 18:22] pippinsplugins commented on #962
I'm going to close this out since we now have a Zapier integration that will handle this fully.

[2016-11-29 18:22] #962 closed

[2016-11-29 18:28] pippinsplugins commented on #1337
Closing as a duplicate of #1261

[2016-11-29 18:28] #1337 closed

[2016-11-29 18:32] pippinsplugins commented on #505
Related #672

[2016-11-29 19:28] ramiabraham commented on #1336
@AffiliateWP/core General CF7 outline

### Current state of CF7

CF7 has come a long way since last I've worked with it. There were hardly any hooks, and most of it was procedurally written, offering little extendability. Today, it's quite different:

- 24 actions
- 53 filters
- A standardized object structure, loosely mvc.
- All submissions are an instanceof `WPCF7_Submission`
- Using the _Flamin

[2016-11-29 19:31] pippinsplugins commented on #1336
`Via the CF7 integration as well as standalone hooks such as wpcf7_contact_form_properties, define functionality consistent with the AFNF for Ninja Forms 2.x integration (inline meta boxes and options).`

That doesn't need to happen. For this issue we're only looking at referral tracking for Contact Form 7, not affiliate account registration.

[2016-11-29 20:18] sumobi commented on #1336
Related:

WP Affiliate

https://www.tipsandtricks-hq.com/wordpress-affiliate/how-to-capture-leads-using-the-wp-affiliate-platform-215

Affiliates Pro
https://wordpress.org/plugins/affiliates-contact-form-7/
http://www.itthinx.com/plugins/affiliates-pro-contact-form-7/

[2016-11-29 20:35] pippinsplugins opened #1841 "Add conversion rate to admin affiliate reports"
We don't currently show the conversion rates for affiliates when viewing individual affiliate reports. We should show it to site admins.

[2016-11-29 22:53] pippinsplugins commented on #1380
WP Forms and the main add-ons are all in dropbox now for anyone that wants to jump on this.

[2016-11-29 22:56] jaredatch commented on #1380
As I mentioned to Pippin, if you guys find you need hooks/filters in place for things, just let me know.

The Stripe addon specifically is going to be expanded on quite a bit next year to include more robust functionality, but that probably wont be until Q2 or Q3.

[2016-11-30 19:05] wordmaid commented on #1839
Another request: https://secure.helpscout.net/conversation/285048243/48257/?folderId=205524

[2016-12-01 00:17] sumobi opened #1842 "Only 20 campaigns are shown on the affiliate area"
We're only showing 20 campaigns on the statistics tab of the Affiliate Area:
https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/class-campaigns-db.php#L85

Related: pagination https://github.com/AffiliateWP/AffiliateWP/issues/1720

@AffiliateWP/core Thoughts on making this show all campaigns, at least until we get pagination?

[2016-12-01 18:00] pippinsplugins opened #1843 "Active tab not properly returned in affwp_get_active_affiliate_area_tab() if default tab removed"
`affwp_get_active_affiliate_area_tab()` is used to determine the currently active tab on the affiliate area.

If the default tab has been removed, such as through the Affiliate Area Tabs add-on, `affwp_get_active_affiliate_area_tab()` will fail to return the active tab when no tab is specified in the URL.

This results in the Affiliate Area loading a blank page. See https://github.com/AffiliateWP/

[2016-12-01 18:55] sumobi commented on #1386
Just ran into this. Funny, I thought setting the global flat rate was always based on the order total, not on each product purchased. Did it change at some point perhaps?

[2016-12-01 19:15] sumobi commented on #1386
Here's a super hacky fix for EDD if anyone needs it

    function affwp_custom_one_time_flat_amount( $cart_details ) {

        /**
         * Remove all but the last product in the array, essentially allowing the
         * referral rate to only be calculated on 1 product, instead of every product purchased
         */
        $cart_details = array_slice( $cart_details, -1 );

        return $car

[2016-12-06 15:28] ramiabraham commented on #1782
There's now an easier way to do this in WP 4.7, via _custom_ bulk actions: https://make.wordpress.org/core/2016/10/04/custom-bulk-actions/

[2016-12-06 16:23] pippinsplugins commented on #1430
@TimothyBJacobs This look right for Exchange? https://github.com/AffiliateWP/AffiliateWP/commit/dff81d75f963c183faa633f9163596ec99219909

[2016-12-06 16:32] TimothyBJacobs commented on #1430
@pippinsplugins Yep!

[2016-12-06 16:32] pippinsplugins commented on #1430
Sweet, thanks!

[2016-12-06 21:38] wordmaid opened #1845 "Referrals cannot be filtered when using specific languages"
A customer has reported that when their language is set to German, and they try to filter Referrals for a specific date period, they are unable to, even though referrals do exist within that date period. https://secure.helpscout.net/conversation/287085822/48541/?folderId=414056

I have replicated this on a local installation of AffiliateWP as well, after changing the language to German. I get the

[2016-12-07 03:23] sumobi opened #1846 "Membermouse: Incorrect affiliate awarded commission"
I've been troubleshooting a customer's site running AffliateWP v1.8.8 whereby the referral isn't being created for non-free products. Decided to upgrade them to 1.9.5.1 and the referral seems to be created, however it awards it to the wrong affiliate.

`/ref/16` should award the commission to the Affiliate with an ID of `16`. It actually awarded it to the Affiliate with an ID of `8`. Upon looking

[2016-12-07 17:01] sumobi commented on #1846
Had this happen again but this time the referral was assigned to the previous affiliate (ID of 13, not 8) which makes me think there's some kind of caching issue. I checked the affiliate ID in the browser cookies all the way to purchase and credit last referrer is turned off. Definitely something happening here.

[2016-12-08 00:22] sumobi commented on #1846
Super hard to replicate, only replicated each outcome twice, it could be related to the customer's server and cookie creation. Going to sit on this for a while.

[2016-12-08 05:07] mgibbs189 opened #1847 "Enqueue dashicons only when necessary?"
includes/scripts.php:117

[code]

Is it absolutely necessary to enqueue `dashicons` on every page?

Thanks

[2016-12-08 15:47] pippinsplugins commented on #1847
We should be able to improve that. No reason that I can think of to load it everywhere.

Related #1670

[2016-12-08 22:01] ramiabraham commented on #1336
(WIP https://github.com/AffiliateWP/AffiliateWP/pull/1848)

@AffiliateWP/core Should we support both of those PayPal add-ons? Coding one effectively codes the other with some misc minor changes needed.

[2016-12-08 22:16] sumobi commented on #1336
@ramiabraham If it's not too much trouble then yeah let's do it!

[2016-12-08 23:24] sumobi commented on #1512
I vote we punt to 2.0

[2016-12-09 00:10] pippinsplugins commented on #1512
:+1:

[2016-12-09 00:19] pippinsplugins commented on #1336
I agree, let's do both.

[2016-12-09 02:33] sumobi commented on #1538
CSS hasn't been minified so make sure you have `SCRIPT_DEBUG` set to `true`

Ahhhh, so much better :D

<img width="903" alt="screen shot 2016-12-08 at 9 27 28 pm" src="https://cloud.githubusercontent.com/assets/52581/21035482/72a14942-bd8d-11e6-9f80-9245c329e7ad.png">

___

As we know WP 4.7 has the CSS editor so if anyone wants it back the way it was they can add these lines to the customizer (we

[2016-12-09 17:05] wordmaid commented on #1647
Another customer request for per-coupon referral rates: https://secure.helpscout.net/conversation/288800471/48780/?folderId=205529

[2016-12-10 21:43] sumobi commented on #1468
@AffiliateWP/core Ready for testing (I have tested)

[2016-12-10 21:48] sumobi opened #1851 "Promotion Methods textarea improvements"
The textarea for the promotion methods on the edit affiliate screen is too small in my opinion, both vertically and horizontally.

<img width="734" alt="screen shot 2016-12-10 at 4 42 22 pm" src="https://cloud.githubusercontent.com/assets/52581/21076387/f955f62a-bef7-11e6-88db-6911d34f38ab.png">

I vote we made this consistent with WP core and also the new notes textarea field in #1468

<img width

[2016-12-10 21:50] sumobi commented on #1468
Oops, forgot to add it to the add affiliate screen

[2016-12-10 22:41] sumobi commented on #1468
Reduced the height of the textarea by half.

<img width="1197" alt="screen shot 2016-12-10 at 5 38 17 pm" src="https://cloud.githubusercontent.com/assets/52581/21076682/d2c2574e-beff-11e6-9344-2a3171a1d55c.png">

[2016-12-10 22:54] sumobi commented on #1851
<img width="1192" alt="screen shot 2016-12-10 at 5 52 49 pm" src="https://cloud.githubusercontent.com/assets/52581/21076760/bf06047e-bf01-11e6-879a-79d13fd09de3.png">

[2016-12-11 02:27] sumobi commented on #973
@AffiliateWP/core ready for testing (I have tested).

[2016-12-11 04:03] pippinsplugins commented on #1468
All works well here!

[2016-12-11 04:04] pippinsplugins commented on #1851
Merged.

[2016-12-11 04:04] #1851 closed

[2016-12-11 04:06] pippinsplugins commented on #973
Looks good.

[2016-12-11 09:02] fxbenard opened #1854 "Conflict with Gravity Forms Recaptcha field"
Both plugins activated: The ReCaptcha field doesn't show on the site
AffiliateWP deactivated: Recaptcha is showing
FYI: it shows it the form preview

[2016-12-11 20:42] sumobi commented on #1443
@AffiliateWP/core Ready for review. I'd love to hear any thoughts on how to make it cleaner.

[2016-12-11 21:00] sumobi commented on #1051
Currently adding this to the "General" tab at the very bottom, under a "Affiliate Registration Settings" section. We can talk about adding this to its own tab if necessary. We should also move other affiliate registration options to this new section such as:

1. Allow Affiliate Registration
2. Require Approval
3. Auto Register New Users

<img width="632" alt="screen shot 2016-12-11 at 3 57 35 pm"

[2016-12-11 21:39] sumobi commented on #1051
After discussing this with @wordmaid we came up with this revised version. Primarily because the select menu will only affect the `[affiliate_area]` shortcode.

<img width="646" alt="screen shot 2016-12-11 at 4 38 14 pm" src="https://cloud.githubusercontent.com/assets/52581/21083521/49017690-bfc0-11e6-82b4-5a8ef2f559cd.png">

<img width="642" alt="screen shot 2016-12-11 at 4 38 18 pm" src="https:/

[2016-12-12 02:20] pippinsplugins commented on #1051
When set to `None`, what kind of options do site admins have for customizing the display of the page?

[2016-12-12 02:22] sumobi commented on #1051
When set to `none`, there will be no forms shown on the Affiliate Area page at all. What options are you referring to?

[2016-12-12 02:42] pippinsplugins commented on #1051
I was just trying to think about what a site admin would do when it's set to `None`. Wouldn't that result in a completely blank page?

[2016-12-12 02:42] sumobi commented on #1051
The PR for this will be https://github.com/AffiliateWP/AffiliateWP/pull/1855. The filters added in https://github.com/AffiliateWP/AffiliateWP/issues/1443 and the changes here go hand in hand.

[2016-12-12 02:44] sumobi commented on #1051
@pippinsplugins Yeah, there would be no content. I would imagine some users would want it that way so they can populate the page with their own text (they would need to use the [affiliate_non_content] shortcodes.

They might for example want no forms, but rather buttons that link off to the login and registration forms, similar to our page at https://affiliatewp.com/affiliates where it has all the

[2016-12-12 02:46] pippinsplugins commented on #1051
Ok that makes sense :+1:

[2016-12-12 02:53] sumobi commented on #1443
To test you can either play with the filters directly, setting them individually to `false` which will hide each form, or you can now change the select menu from the bottom of the Affiliates -> Settings -> General tab (location to be discussed).

[2016-12-12 03:06] sumobi commented on #1051
@pippinsplugins Happy if some of the settings from the Misc tab are now moved over to this new section? https://github.com/AffiliateWP/AffiliateWP/issues/1051#issuecomment-266307505

[2016-12-12 03:12] sumobi opened #1857 "Fix label alignment for Twenty Seventeen"
The "How will you promote us" label is bottom aligned on the Twenty Seventeen theme. We should make this top aligned so it looks nice.

<img width="888" alt="screen shot 2016-12-11 at 10 11 05 pm" src="https://cloud.githubusercontent.com/assets/52581/21086892/c42a477e-bfee-11e6-9703-40d62878c8c5.png">

[2016-12-12 03:14] sumobi commented on #1824
Just ran into this 👍

<img width="1108" alt="screen shot 2016-12-11 at 10 13 48 pm" src="https://cloud.githubusercontent.com/assets/52581/21086943/2e7ad5a8-bfef-11e6-9844-4413157ce493.png">

[2016-12-12 03:24] sumobi commented on #1857
Hah, forgot about https://github.com/AffiliateWP/AffiliateWP/pull/1849. This will soon be irrelevant, closing.

[2016-12-12 03:24] #1857 closed

[2016-12-12 16:38] sumobi commented on #1841
Added to the top right of the individual affiliate reports screen:

<img width="1366" alt="screen shot 2016-12-12 at 11 37 49 am" src="https://cloud.githubusercontent.com/assets/52581/21107368/6faae7f0-c05f-11e6-997f-5e23104db2af.png">

[2016-12-12 16:39] sumobi commented on #1841
@AffiliateWP/core ready for testing

[2016-12-12 16:41] sumobi commented on #1841
@pippinsplugins I think we should also show in on the exported affiliates .csv file, do you agree?

[2016-12-12 16:51] sumobi commented on #1177
@zackkatz Can you provide an example for this? I'm struggling a bit to think of a time where you would need to write a personalized message for an affiliate when accepting them. It seems much easier to write the same message for all affiliates in the accepted email, which you can personalize a bit with the existing tags.

[2016-12-12 16:53] sumobi commented on #1160
"If it ain't broke, don't fix it" (yet). Unless anyone disagrees I vote we punt this to 2.1.

[2016-12-12 17:02] sumobi commented on #931
Related: https://github.com/AffiliateWP/AffiliateWP/pull/1855

[2016-12-12 17:07] sumobi commented on #851
@AffiliateWP/core whatever happened to this? seems like there was some work done, it got moved, but then closed again.

[2016-12-12 17:23] zackkatz commented on #1177
I often just want to add a personalized note that's not part of the generic email. Like when I recognize an affiliate as someone who runs a popular blog, and want to add an extra personal touch.

[2016-12-12 17:30] pippinsplugins commented on #1846
@sumobi what do the MM cookies look like? Do they include the correct affiliate ID?

[2016-12-12 17:33] pippinsplugins commented on #1051
I'm fine with that.

[2016-12-12 17:35] pippinsplugins commented on #1841
I agree.

[2016-12-12 17:35] sumobi commented on #794
@AffiliateWP/core @worldtravlr

While this seems like a handy thing to have, I don't feel like it belongs in core since it's not tracking anything to do with referral sales, but rather the opposite - what was tracked _not_ through affiliate sales.

In saying that, I do see it's usefulness and I'd love to see a free add-on. IMO though it feels a bit hacky assigning referrals to a special affiliate.

[2016-12-12 17:36] pippinsplugins commented on #1177
❤️

[2016-12-12 17:36] pippinsplugins commented on #1160
I agree, punted.

[2016-12-12 17:42] sumobi commented on #1177
👍 Fair point, a personalized note would be a nice touch for sure!

@AffiliateWP/core Have we seen any other requests for this in support? As much as I'd like to see it get added for v2.0 I think we should wait until we see more requests before adding.

[2016-12-12 17:56] pippinsplugins commented on #1177
Let's milestone for 2.1

[2016-12-12 17:57] sumobi commented on #1177
👍

[2016-12-12 18:04] pippinsplugins commented on #794
I agree.

[2016-12-12 18:04] #794 closed

[2016-12-12 18:05] pippinsplugins commented on #851
@sumobi Not sure.

I've restored the PR and updated it to go into `release/2.0`.

@DrewAPicture could you refresh the PR please?

[2016-12-12 18:23] sumobi commented on #1841
Done

[2016-12-12 18:37] sumobi commented on #851
👍

[2016-12-12 18:41] #1841 closed

[2016-12-12 20:06] DrewAPicture commented on #1825
This is done.

[2016-12-12 20:06] #1825 closed

[2016-12-12 20:34] pippinsplugins commented on #1825
Woot!

[2016-12-12 21:02] worldtravlr commented on #794
Thanks team.  Could we look into it as a free ad-on?  Could I submit that somewhere else or is that not of interest?  I understand either way and thanks again.

[2016-12-12 21:03] sumobi commented on #1051
Actually, none of those settings I mentioned fit under this new section since it's only for form specific settings. This would be however a place to make the website URL field not required etc and perhaps other fields as per https://github.com/AffiliateWP/AffiliateWP/issues/931#issuecomment-253976874

[2016-12-12 23:24] DrewAPicture commented on #851
@pippinsplugins Refreshed and added hook docs.

[2016-12-12 23:57] DrewAPicture commented on #1830
@pippinsplugins I've addressed your feedback.

[2016-12-13 00:00] DrewAPicture commented on #1650
I'd like to keep this one on 2.0.

[2016-12-13 00:05] DrewAPicture commented on #1630
@ramiabraham What are the odds we can get this for 2.0?

[2016-12-13 01:30] DrewAPicture commented on #1500
@pippinsplugins Do you still want to try for this in 2.0?

[2016-12-13 03:00] sumobi commented on #794
@worldtravlr Absolutely. If you have some code/a plugin we'd love to see it hosted on WordPress.org and we'll link to it on our 3rd party add-ons page. Otherwise, we can certainly consider building a free add-on.

[2016-12-13 03:10] pippinsplugins commented on #1500
Yes

On Mon, Dec 12, 2016 at 7:30 PM Drew Jaynes <notifications@github.com>
wrote:

[2016-12-13 03:19] sumobi commented on #1500
That's the spirit

[2016-12-13 17:02] sumobi commented on #1845
Haven't been able to replicate this (tried WP 4.6 and 4.7)

[2016-12-13 17:23] sumobi commented on #1846
@pippinsplugins I can't recall sorry, If I run into the issue again I'll be sure to check that out.

[2016-12-13 17:24] pippinsplugins commented on #1846
My money is on the MM cookie being incorrect, which would perfectly explain the behavior we see here.

[2016-12-13 17:33] sumobi commented on #1518
If `Currency Position` is set to before: ₨100.00

If `Currency Position` is set to after: 100.00 PKR

[2016-12-13 17:39] sumobi commented on #1518
@AffiliateWP/core ready for testing

[2016-12-13 17:56] sumobi commented on #1846
It could even have been that I deleted the affwp cookies when testing, but forgot to clear the MM cookie. Happy to close this for now until the issue crops up again.

[2016-12-13 18:46] #1518 closed

[2016-12-13 19:05] sumobi commented on #1837
@AffiliateWP/core Ready for testing (I have tested). I went with a select menu, since that's what we use on the add new affiliate screen.

<img width="549" alt="screen shot 2016-12-13 at 2 04 56 pm" src="https://cloud.githubusercontent.com/assets/52581/21154660/25c1de80-c13d-11e6-8309-3f56cffc42a6.png">

<img width="550" alt="screen shot 2016-12-13 at 2 04 31 pm" src="https://cloud.githubuserconte

[2016-12-13 19:08] pippinsplugins commented on #1837
@sumobi We'll need to run `affwp_set_affiliate_status()` during the update process to ensure the necessary hooks and connected actions run.

[2016-12-13 19:13] sumobi commented on #1837
@pippinsplugins Right right, otherwise the select menu will have the wrong option (will default to active) and if the admin saves an affiliate's edit screen, and that affiliate is inactive, they will suddenly become active, right?

Another way might be to detect the affiliate's current status, set that to the dropdown's default value.

[2016-12-13 19:23] sumobi commented on #1280
@ramiabraham I can take this over if you'd like

[2016-12-13 19:34] #1453 closed

[2016-12-13 19:37] DrewAPicture commented on #1280
@sumobi Do eet.

[2016-12-13 19:57] pippinsplugins commented on #1837
It's not much an issue of showing the proper status; it's an issue with ensuring the proper things happen when changing the status.

For example, if I change the status from pending to active I'd expect the welcome email to get sent out.

[2016-12-13 20:17] #1846 closed

[2016-12-13 20:17] #1843 closed

[2016-12-13 20:19] #1807 closed

[2016-12-13 20:23] pippinsplugins commented on #1080
This should go hand-in-hand with https://github.com/AffiliateWP/AffiliateWP/issues/1430

[2016-12-13 20:27] pippinsplugins commented on #1473
Here's what we do in EDD core for each column:
[code]

[2016-12-13 20:33] #1788 closed

[2016-12-13 22:55] ramiabraham commented on #843
In testing against master at https://github.com/AffiliateWP/AffiliateWP/commit/c8659f60d52e6c53a73020c9dbde28e2086e87e7:

- URLS with a space character are not valid in the URL generator in the affiliate area dashboard

![ALT_TEXT](https://cldup.com/gBpVKLynYH.png "TITLE")

- URLS with a space character _code_ work fine, though:

![ALT_TEXT](https://cldup.com/77BDIeaXP0.png "TITLE")

[2016-12-14 04:06] pippinsplugins commented on #843
We should allow them in the generator and automatically encode them.

[2016-12-14 15:20] sumobi commented on #119
request: https://secure.helpscout.net/conversation/291737390/49157/?folderId=205531

[2016-12-14 16:12] sumobi commented on #1710
@AffiliateWP/core Works great for me. Anyone else want to test?

@IovaMihai Can I have access to your discount add-on so I can also test the affiliate discount functionality?

[2016-12-14 16:37] sumobi commented on #1710
@IovaMihai Thanks for the PR, it's been merged into release/2.0

[2016-12-14 16:59] pippinsplugins opened #1863 "Pagination breaks when referral variable is same as site's tld"
According to a customer:

PR https://github.com/AffiliateWP/AffiliateWP/pull/1862

[2016-12-14 17:36] pippinsplugins commented on #1260
Note: I'm building this in tandem with  #1261

[2016-12-14 17:36] pippinsplugins commented on #1261
Note: I'm building this in tandem with  #1260

[2016-12-14 20:50] ramiabraham commented on #843
A small additional `replace()` does the trick in `frontend.js`. ([PR](https://github.com/AffiliateWP/AffiliateWP/pull/1864))

[2016-12-15 17:36] DrewAPicture commented on #1847
Added a PR: #1865

[2016-12-15 17:42] DrewAPicture commented on #1834
Let's punt #1836 to 2.0. There's a whole bunch of other places we could use the helper:

* `affiliate-wp.php`
* `affiliatewp/includes/class-affiliates-db.php`
* `affiliatewp/includes/class-creatives-db.php`
* `affiliatewp/includes/class-payouts-db.php`
* `affiliatewp/includes/class-referrals-db.php`
* `affiliatewp/includes/class-visits-db.php`
* `affiliatewp/includes/admin/AFFWP_Plugin_Updater.php

[2016-12-15 17:42] #1834 closed

[2016-12-15 17:51] DrewAPicture commented on #1824
Added a PR: #1866

*To test:*
1. Create a new user account (do NOT add them as an affiliate at this point).
2. Navigate to Affiliates > Affiliates.
3. Click Add New
4. Enter the username of your new user account
5. Click the *Add Affiliate* button.
6. Note that the admin notice at the top reflects the following text: "1 affiliate was added successfully."

[2016-12-15 17:56] DrewAPicture commented on #1473
@pippinsplugins So would you like to add slashing for all the columns in this use-case or just the description? PR #1867 simply adds slashing for the description only.

[2016-12-15 18:03] DrewAPicture commented on #843
Fixed the spacing for the PR: #1864

[2016-12-15 19:06] #843 closed

[2016-12-15 19:07] pippinsplugins commented on #1473
@DrewAPicture let's do all columns.

[2016-12-15 19:11] #1847 closed

[2016-12-15 19:17] pippinsplugins commented on #1824
Works great.

[2016-12-15 19:17] #1824 closed

[2016-12-15 19:34] DrewAPicture commented on #1473
@pippinsplugins Updated the PR to slash all columns.

[2016-12-15 19:57] #1473 closed

[2016-12-15 21:42] sumobi commented on #1261
Oh niceeee

[2016-12-15 21:47] pippinsplugins commented on #1629
Ready for testing!

[2016-12-16 02:17] sumobi commented on #1845
I was only testing the calendar to try and replicate the `NAN` error but yes I can replicate the referrals not being filtered correctly when using other languages.

If you select French, German or Italian, the referrals are not filtered correctly. For example, try using the first calendar to choose a date at the time when you know there were referrals. If you then filter, it will show referrals th

[2016-12-16 02:18] sumobi commented on #1538
@AffiliateWP/core anyone want to test?

[2016-12-16 04:00] sumobi commented on #1280
@AffiliateWP/core Ready for testing

<img width="1463" alt="screen shot 2016-12-15 at 7 53 35 pm" src="https://cloud.githubusercontent.com/assets/52581/21251159/38c4a714-c300-11e6-82d0-7c77d6dd2e7e.png">

Rather than loading the entire image into the list table, I opted to load the thumbnail. Primarily because:

1. All images are the same size and it will be less visually distracting. Also, if a s

[2016-12-16 17:23] pippinsplugins commented on #1280
How about changing the `Image` column name to `Image Preview`? I think that would adequately take care of concerns about it not showing the complete image.

[2016-12-16 18:33] DrewAPicture opened #1870 "Fix error in ID display when listing creatives via wp-cli"
Missed a typo in the `array_map()` callback for listing creatives.

s/`$affiliate->creative_id`/`$creative->creative_id`.

[2016-12-16 18:35] DrewAPicture commented on #1870
PR: #1871

[2016-12-16 18:37] DrewAPicture commented on #1870
**To Test:**

1. In the command line, run `wp affwp creative create --name=Test`
2. Run `wp affwp creative list`
3. Note that the creative ID(s) are not all displayed with a value of `0`.

[2016-12-16 20:27] pippinsplugins commented on #1870
Looks good.

[2016-12-16 20:27] #1870 closed

[2016-12-16 21:56] worldtravlr commented on #794
Thanks @sumobi. No problem.  Here is the code we have used for this.  I think you kindly made it for us.

`/*
 * Credits direct site sales to Specified Affiliate such as Direct for easier profit tracking
 *
 * @since 1.0
 */

function affwp_custom_credit( $order_id = 0, $posted ) {

    // affiliate to credit
    $affiliate_id = ##;

    // amount of referral
    $referral_amount = $$.¢¢;

    //

[2016-12-16 22:23] sumobi commented on #1312
https://secure.helpscout.net/conversation/292916250/49305/?folderId=205531

[2016-12-16 22:29] sumobi commented on #1280
@pippinsplugins sounds good to me

[2016-12-16 22:31] pippinsplugins commented on #1538
I'm good with this.

[2016-12-16 23:13] sumobi commented on #1280
@pippinsplugins updated

[2016-12-17 06:24] sumobi commented on #794
Oh yeah, I remember now!

Thanks for that, we'll definitely need to make it support other integrations other than WooCommerce etc.

[2016-12-19 03:56] wordmaid commented on #1845
Ok, I have now tried this with German, French, Spanish and Italian, and replicated the issue each time. Referrals cannot be filtered by date when the language has been changed from English.

To replicate:
- I chose a period that I knew I had several Unpaid referrals (30+)
- I changed my language in General -> Settings to German, French, Spanish and Italian each time whilst testing
- I went to the

[2016-12-19 08:08] wordmaid commented on #1845
It appears this might be a bit more serious than I initially thought. I have tried testing this with several additional languages on top of the original four I tried, and it appears that anyone who is using AffiliateWP in a different language _cannot_ generate a CSV payout file when they define specific dates in the CSV date filter. As it does not export any referrals into a CSV file, it does not

[2016-12-19 09:10] IovaMihai commented on #1710
Hey @sumobi, is it okay if I send you the Discount Codes Add-On and the vector logo to the email address you have displayed on your GitHub profile?

[2016-12-19 14:58] pippinsplugins commented on #1845
I'm going to look at this further today.

[2016-12-19 14:59] pippinsplugins commented on #1710
@IovaMihai send it to andrew@affiliatewp.com

[2016-12-19 15:04] IovaMihai commented on #1710
@pippinsplugins Done. Thanks for the reply.

[2016-12-19 15:55] pippinsplugins commented on #1845
I've replicated the problem as well.

[2016-12-19 16:08] pippinsplugins commented on #1845
Looks like it is failing due to localized dates:
[code]

[2016-12-19 16:42] #1845 closed

[2016-12-19 17:42] pippinsplugins commented on #1280
@sumobi images aren't showing up for me. It's just a blank space.

[2016-12-19 20:08] sumobi commented on #1280
@pippinsplugins Do you have an image added to the creative? (of course you have)

Thoughts on a filter or option to hide the entire `image preview` column? I personally would prefer not to have this new column since it makes each row exponentially.

[2016-12-19 21:41] sumobi commented on #1710
@IovaMihai Got it, thanks!

[2016-12-19 21:55] sumobi commented on #1854
Just ran into this on our affiliate registration form. Once I disabled `Enable reCAPTCHA` from Affiliates -> Settings -> Misc the reCAPTCHA field for the Gravity Form appeared fine.

[2016-12-19 22:41] ramiabraham commented on #1336
Progress update!

Today I focused on getting a bit more granular with methods, to make later customization easier for customers, and increase the stability of the integration. Specifically:

- Focuses on keeping options and settings within AffWP core, instead of depending on settings pages within CF7 or its’ various add-ons.
- Uses native AffWP settings
- Defines numerous small, single-purpose met

[2016-12-19 23:44] pippinsplugins commented on #1336
Getting close :)

Ready to test whenever you are!

On Mon, Dec 19, 2016 at 4:41 PM Rami Abraham <notifications@github.com>
wrote:

[2016-12-20 00:46] pippinsplugins commented on #1854
JS errors?

[2016-12-20 00:57] sumobi commented on #1854
None that I can see. Looks like there may be a script (or possibly other stuff) that isn't loaded at all.

[2016-12-20 01:18] pippinsplugins commented on #1280
Yep, definitely uploaded an image. I tried it with an existing creative and a brand new one with a new image upload.

:+1: to adding a new filter option.

[2016-12-20 02:15] sumobi commented on #1280
Ok I'll have a look, I also tested with new creatives etc and it worked fine. Bet it's something small.

[2016-12-20 23:53] ramiabraham commented on #1336
Question (and update, particularly on what's taking so long):

Of the two notable PayPal add-ons for CF7, neither really _works_:

the first, https://wordpress.org/plugins/contact-form-7-paypal-add-on/, uses a static redirect which hooks on the `wpcf7_before_send_mail` action. This prevents _Flamingo_ from recording a submission, which it does via generating a post type `flamingo_inbound`.

What t