[2018-02-26 14:47] michaelbeil commented on #2198
Roger that.

[2018-02-26 14:57] pippinsplugins commented on #2198
Branch updated from `release/2.2`.

[2018-02-26 17:40] gspice commented on #2511
@m I think I received that `Not Found` error my first time testing, turns out I had the wrong number entered for my MailChimp list id.

[2018-02-26 18:32] amdrew commented on #2511
That's right, I did the same.

@michaelbeil See https://github.com/AffiliateWP/AffiliateWP/issues/2511#issuecomment-359667241

Double-check that your list ID is the one from the settings of the list, like this one on the right side:

<img width="1054" alt="screen shot 2018-02-27 at 7 31 42 am" src="https://user-images.githubusercontent.com/52581/36688099-51fea718-1b90-11e8-8a78-850948eb3cbe.png">

[2018-02-26 18:59] michaelbeil commented on #465
1. X
2. X
3. X
4. Everything checks out
5. X
6. The second category seems to win out. What are your steps to get the first category to win?
9. X
10. X

[2018-02-26 20:17] gspice opened #2589 "Ninja Forms integration - referral description is blank"
When a referral is created from a Ninja Form submission, the description of the referral is blank.  It used to show the form title as the referral description if I remember correctly.   It doesn't matter if it's a product form or a zero-amount form:

![form-referrals](https://user-images.githubusercontent.com/3018245/36693144-2d5f7de8-1aef-11e8-98c0-1aa49e2dc154.png)

AffiliateWP: 2.1.15
Ninja For

[2018-02-26 20:22] pippinsplugins commented on #465
What do the Xs mean?

[2018-02-26 21:42] gspice opened #2590 "Admin: Affiliates > Settings > General > Cookie Sharing: change wording for subdomain cookie sharing"
https://github.com/AffiliateWP/AffiliateWP/blob/7f909b35681f39c3f1ffbf73cfa17ec29e9d6402/includes/admin/settings/class-settings.php#L554

Can we change this to add that this is for multisite when using subdomains vs previously not supporting subdomains?  We've had a few tickets where users are confused, asking if they should check this or not in lieu of having to use the External Referral Links ad

[2018-02-27 06:38] michaelbeil commented on #465
That everything is working as expected.

[2018-02-27 06:59] jdiaz1302 commented on #1471
I know this one is old, but did it come to work? can I use both plugins? with Ultimate Member I have disabled the profile pages for users because my only interest is using the account page so I was going to create a tab with the affiliate shortcodes I was looking for more information between both products but I guess that this is a dead end... Any advice?

[2018-02-27 14:54] pippinsplugins commented on #1471
@jdiaz1302 we did not find a resolution for this conflict.

You can still use both plugins you just can't use pretty affiliate URLs on the profile pages.

For example, this URL will not work: members/profile/member-name/ref/1

This URL will work: members/profile/member-name/?ref=1

[2018-02-27 23:42] amdrew commented on #465
@michaelbeil Did 9 and 10 not work for you?

Regarding 6: I re-worded the above text as it didn't make much sense. I talked about products instead of categories 🙈so it was highly confusing.

Here's the new description:

Can you re-test based on the above and if it still awards the commission to the second category, can you describe your exact set up? I.e what your categories are called, which rate

[2018-02-28 00:44] amdrew commented on #2589
@gspice Yeah, pre 3.0 it showed the form title. From v3.0 onwards, you have to manually enter the description otherwise it will be blank:

https://docs.affiliatewp.com/article/76-ninja-forms

I mentioned the same thing here:
https://github.com/AffiliateWP/AffiliateWP/issues/1106#issuecomment-191584620

There was some other discussion on the issue, but basically:

https://github.com/AffiliateWP/Aff

[2018-02-28 13:08] michaelbeil commented on #465
9 and 10 did work for me. It looks like I missed noting them.

I will re-test based on the above remarks.

[2018-02-28 14:27] michaelbeil commented on #465
This works just fine with EDD.

However, it does not work with WC. I have Category A without a category rate set. Category B has a rate set at 25. A referral of $25 dollars was awarded for a product that costs $100. Category A was assigned to this product before Category B. My categories are called Test 1 & Test 2.

[2018-02-28 17:42] michaelbeil commented on #2511
That works now!

[2018-02-28 21:16] amdrew commented on #465
@michaelbeil And what was your global referral rate set to?

[2018-02-28 21:31] amdrew commented on #465
Tested with WooCommerce and it works for me. I set up two categories, `Test 1` and `Test 2`.

`Test 1` (I'm assuming this is category A in your previous message) has no rate (it's blank)
`Test 2` has a rate of `25`
Global referral rate is `20%`

The product has a price of $100 and is assigned to both `Test 1` and `Test 2` categories:

<img width="626" alt="screen shot 2018-03-01 at 10 26 23 am" sr

[2018-03-01 06:35] michaelbeil commented on #465
Yes, my settings are setup like yours. Category A = Test 1 and Category B = Test 2.

The only difference is that I have a global rate of 15%. I will give this another test today.

[2018-03-01 19:01] michaelbeil commented on #465
A referral was generated at 15%, which is the Global referral rate. All good to go!

[2018-03-01 19:11] michaelbeil commented on #465
I performed another test with Test 1 at a referral rate of 50 and Test 2 without a referral rate. A referral was generated correctly at $15.

[2018-03-01 21:08] amdrew commented on #465
Great!

Great! How much was the product? $30?

[2018-03-01 21:37] gspice commented on #465
I wanted to play so I did a round of testing :-)

List of referral rates set on a single $20 product that belonged to a category were applied in this priority order:

* Affiliate Product Rates 90%  $18.00
* Specific affiliate rate 70%  $14.00
* Product-specific rate in WC product 10% $2.00
* Category rate 50% $10.00
* Global rate 30% $6.00

[2018-03-01 21:48] amdrew commented on #465
@gspice Oh please do :) If you haven't seen them, testing notes are here: https://github.com/AffiliateWP/AffiliateWP/issues/465#issuecomment-365452939

That order looks correct!

[2018-03-01 22:54] amdrew commented on #2511
@michaelbeil Did you get a chance to test with the other email services?

[2018-03-02 06:39] michaelbeil commented on #465
Global rate of 15% with a purchase of a $100 product. Defaulted to global rate since the first category added (Test 2) was blank.

[2018-03-02 09:48] amdrew commented on #465
If you had two categories assigned to the product, and the `Test 1` category had a rate of `50` and `Test 2` did not have a referral rate, then the referral should have been 50% of $100 (since Test 1 should be the first that appears in the categories list like my screenshot here: https://github.com/AffiliateWP/AffiliateWP/issues/465#issuecomment-369389939).

Can you show me some screenshots of:

1

[2018-03-02 15:03] michaelbeil commented on #465
Test 2 was assigned to the product first - Test 1: referral rate of 50 and Test 2: without a referral rate. A referral was generated correctly at $15 with a 15% global rate.

1. Each of my categories:
![screen shot on 2018-03-02 at 15_25_10](https://user-images.githubusercontent.com/4752949/36903495-2e8e5dc8-1e2e-11e8-9e32-13a5641c7427.png)
![screen shot on 2018-03-02 at 15_26_31](https://user-ima

[2018-03-02 17:22] michaelbeil commented on #2511
Referrals were generated successfully for both ActiveCampaign and ConvertKit. However, on the visits table, these visits do not show as converted for ConvertKit:

![screen shot on 2018-03-02 at 18_18_33](https://user-images.githubusercontent.com/4752949/36912228-6c6565fc-1e46-11e8-9818-2ade10ac40ae.png)
![screen shot on 2018-03-02 at 18_19_17](https://user-images.githubusercontent.com/4752949/3691

[2018-03-04 20:33] amdrew commented on #2511
@michaelbeil And visits _are_ showing as converted for ActiveCampaign and MailChimp?

I'm not seeing visits being converted for any of the 3 integrations.

[2018-03-04 23:24] amdrew commented on #465
@michaelbeil Can you show me a screenshot of the WooCommerce products screen? One similar to the 2nd screenshot I posted here: https://github.com/AffiliateWP/AffiliateWP/issues/465#issuecomment-369389939

[2018-03-05 08:42] tubiz commented on #2547
PR: #2591

<img width="513" alt="affiliate referral preview" src="https://user-images.githubusercontent.com/602184/36965194-3dcf56b6-2059-11e8-8b81-75e89ba73e49.png">

<img width="518" alt="wc order preview modal no referral" src="https://user-images.githubusercontent.com/602184/36965280-7b519a1c-2059-11e8-9244-d356f328e42f.png">

[2018-03-05 10:45] nickamis commented on #1513
I support this. What's the alternative until this feature is available???

[2018-03-05 14:25] pippinsplugins commented on #2547
When a referral isn't present, let's not show anything. No need for `Affiliate Referral` when there isn't one.

[2018-03-05 14:32] tubiz commented on #2547
Ok. I will update the PR.

[2018-03-05 15:20] tubiz commented on #2547
@pippinsplugins PR updated.

[2018-03-05 15:24] tubiz commented on #2547
I missed the comments in the PR I submitted. I will add the PHPdoc.

[2018-03-05 19:22] pippinsplugins commented on #2511
@amdrew do you have your default referral status set to unpaid?

[2018-03-05 19:42] mindctrl opened #2592 "Possible broken links in emails using certain email services"
In the URLs, things like `&` get converted to `#038;`, which can break some links when passed through some link tracking services.

We experienced a similar thing in [RCP #1585](https://github.com/restrictcontentpro/restrict-content-pro/issues/1585). Our fix was to search/replace those occurrences of `#038` with `&amp;` in the `text_to_html()` method of the email class. https://github.com/restrict

[2018-03-05 21:01] amdrew commented on #1513
@nickamis There's no alternative I can think of that wouldn't require custom development

[2018-03-05 21:03] amdrew commented on #2511
@pippinsplugins Yes

[2018-03-06 02:18] pippinsplugins commented on #2547
Looks great, merged!

[2018-03-06 02:18] #2547 closed

[2018-03-06 02:18] pippinsplugins commented on #2589
@tubiz up for tackling this?

[2018-03-06 02:20] pippinsplugins commented on #2491
@tubiz could you run through a series of tests on this? If anything is unclear, let me know and I can add further information.

[2018-03-06 02:21] pippinsplugins commented on #2273
@tubiz would you like to try and tackle this?

[2018-03-06 08:07] tubiz commented on #2491
@pippinsplugins 👍

[2018-03-06 08:07] tubiz commented on #2273
@pippinsplugins 👍

[2018-03-06 08:07] tubiz commented on #2589
@pippinsplugins 👍

[2018-03-06 11:56] tubiz commented on #2589
PR: #2593

If the the form has one or more product fields that will be used to build out the description.

[2018-03-06 12:13] tubiz opened #2594 "Ninja Forms integration - Wrong referral amount calculated"
The wrong referral amount is calculated in the Ninja Forms integration.

Referral rate: `20%`
Order Total: `$500`
Referral Amount: `$20` instead of `$100`

<img width="1246" alt="ninjaform referral" src="https://user-images.githubusercontent.com/602184/37031705-1719e88c-2140-11e8-95ed-68e4dc723d8f.png">
<img width="961" alt="ninja forms referral details" src="https://user-images.githubusercontent.

[2018-03-06 12:32] tubiz commented on #2594
PR: #2595

[2018-03-06 17:38] michaelbeil commented on #2511
Visits are _not_ showing as converted for all 3 integrations.

[2018-03-07 09:50] michaelbeil commented on #2348
https://secure.helpscout.net/conversation/534365011/77393?folderId=634609

[2018-03-07 11:51] tubiz commented on #2491
@pippinsplugins what other tests do I need to run apart from testing all integrations to make sure they all work perfectly.

[2018-03-07 13:35] michaelbeil commented on #465
WooCommerce products screen:
![iwxllp](https://user-images.githubusercontent.com/4752949/37094777-4a226afe-2214-11e8-9d10-58c1d3619e4d.png)

Referrals screen:
![pzhczc](https://user-images.githubusercontent.com/4752949/37094867-93c147de-2214-11e8-9f60-2b193974f2d6.png)

[2018-03-07 22:47] amdrew commented on #465
@michaelbeil That's what I needed to see, thanks.

Are you on the latest version of WooCommerce? I cannot for the life of me, get `Test 2`, to appear before `Test 1`. Can you outlines some steps on how you did that?

If I assign `Test 2` before `Test 1`, they still appear as `Test 1, Test 2`. I've tried matching your exact category slugs and also tried creating the `Test 2` category before (and al

[2018-03-08 00:10] gspice opened #2598 "Integration: Formidable Forms creating php error when submitted"
Reported on this ticket:
https://secure.helpscout.net/conversation/535426079/77508?folderId=1170842

He's not using the forms to generate referrals.  By chance he searched his php logs and found this:

``
[Tue Mar 06 23:27:22.212120 2018] [:error] [pid 21779] [client 96.252.14.95:65527] PHP Fatal error: Call to a member function getOne() on null in /nas/content/live/editdiva/wp-content/plugins/aff

[2018-03-08 13:12] michaelbeil opened #2600 "Update Dutch translation"
A user submitted some updated translations for Dutch.

Ticket: https://secure.helpscout.net/conversation/537354537/77736?folderId=205524.

[2018-03-08 15:31] pippinsplugins commented on #2589
@michaelbeil @gspice ready for testing.

[2018-03-08 20:08] gspice commented on #2598
* Tested this branch.
* Testing with free version `3.0.06`, enabled integration.
* Forms with AffiliateWP fields populated for **Referral Description** and **Purchase Amount** create a referral successfully, no errors.
* If you leave those description and amount fields not set (which seems to be the only way to not enable the form for referrals) so they look like this:

![formidable-affwp-settings

[2018-03-08 20:55] gspice commented on #2594
@tubiz   Tested using your same values but still received `$20` referral and was expecting `$100`.  Can you export your Ninja form so I can test with the same one please?

[2018-03-08 21:00] tubiz commented on #2594
@gspice can you retest using this https://github.com/tubiz/AffiliateWP/archive/issue/2594.zip

[2018-03-08 21:14] gspice commented on #2594
@tubiz Thank you, that works, referral amount now `$100`.

[2018-03-08 21:14] #2600 closed

[2018-03-08 22:51] amdrew commented on #2598
Ahh, thanks @gspice, will check it out

[2018-03-08 22:53] #2594 closed

[2018-03-09 00:50] pippinsplugins commented on #2511
@michaelbeil @amdrew try again now please.

[2018-03-09 01:45] amdrew commented on #2511
@pippinsplugins Not working for me:

[code]

[2018-03-09 01:59] pippinsplugins commented on #2511
Oops, should be fixed now.

[2018-03-09 03:24] amdrew commented on #2598
@gspice Ready for another test

[2018-03-09 03:35] amdrew commented on #2511
@pippinsplugins 👍Visits now show as converted for all 3 integrations

[2018-03-09 15:30] michaelbeil commented on #2511
Everything looks good now with visits showing as converted!

[2018-03-09 16:25] mindctrl opened #2602 "RCP: Revoke referrals when payments are refunded or abandoned"
The RCP integration revokes referrals on payment deletions, but not on refunds or abandonments.

In [this ticket](https://secure.helpscout.net/conversation/536235069/77619?folderId=545071) unpaid referrals remained after a payment was marked as abandoned.

[2018-03-09 16:31] mindctrl commented on #2602
To clarify the refund thing. The `Reject Unpaid Referrals on Refund` setting doesn't work quite as expected, because the integration code hooks into `rcp_delete_payment` which only triggers when a payment is deleted, not refunded or abandoned.

I think we should update this code so that deletions, refunds, and abandoned payments are all treated the same, according to the settings option.

[2018-03-09 17:13] mindctrl commented on #2602
Thinking about this a bit more, I would think we'd always want to revoke on abandoned, regardless of the setting, since no payment was ever completed at all, but I'd like to hear AffWP team feedback on that.

[2018-03-09 17:17] michaelbeil commented on #2602
To revoke the referral that has been generated from an abandoned purchase makes sense to me.

[2018-03-09 17:53] mindctrl commented on #2602
Updated to always revoke abandoned payments.

PR: https://github.com/AffiliateWP/AffiliateWP/pull/2603

[2018-03-09 17:53] michaelbeil commented on #2602
Excellent!

[2018-03-09 20:05] gspice commented on #2589
Tested successfully:
Worked with custom description and form title if no description populated.

[2018-03-09 21:19] gspice commented on #2598
@amdrew

Tested successfully with `3.0.06` and `2.03.09`

* Leaving `Referral Description` and `Purchase amount` unset submits successfully, no more errors. It does, however, create a zero-amount referral.   Should it?  Probably a different ticket, but should there be a checkbox to enable the form to create referrals like we do in Gravity Forms?  Otherwise, every form created will create a referra

[2018-03-10 06:28] amdrew commented on #2598
@gspice That's a good point. We can either:

1. Create a checkbox as you've mentioned to enable referrals

or

2. If the amount select menu isn't mapped to a field, don't create a referral at all.

[2018-03-10 13:06] michaelbeil commented on #2589
Works perfectly for me whether I have a description set or a form title set without a description.

[2018-03-10 13:19] michaelbeil commented on #2602
This works as expected!

[2018-03-10 13:25] michaelbeil commented on #465
I simply go to the product page and then select Test 2 and update the product. Then I select Test 1 and update the product. That is all that I did.

[2018-03-11 13:50] #2589 closed

[2018-03-11 23:16] amdrew commented on #465
@michaelbeil Weird, doesn't work like that for me, Test 1 is always listed first, no matter how I select them. Latest version of WooCommerce?

In any case, the amount is correct. I think we're good to go on this @pippinsplugins

[2018-03-12 01:00] amdrew commented on #2598
@gspice From our existing Formidable Forms doc:

Looks like there's definitely a bug here. I left the 2 options unselected and only entered an email address on my test form. That generated a $0.00 referral even though no fields are mapped. As per the above the referral should _only_ be generated once both options are configured. It's likely been this way for quite some time.

I'm going to fix it s

[2018-03-12 01:30] amdrew commented on #2598
@gspice Ready for some more testing. A referral should now only be generated if _both_ options are set, i.e:

<img width="540" alt="screen shot 2018-03-12 at 2 22 53 pm" src="https://user-images.githubusercontent.com/52581/37261381-e40f4b9c-2600-11e8-8ff9-9fc6582c0b81.png">

Sidenote: in the issue we create for improving the Formidable Forms integration, let's add descriptions to the form fields a

[2018-03-12 01:46] pippinsplugins commented on #465
@amdrew looks good here. Could you fix the merge conflict so we can merge it in?

[2018-03-12 02:02] #2602 closed

[2018-03-12 05:40] amdrew commented on #465
@pippinsplugins 👍 Done

[2018-03-12 06:52] michaelbeil commented on #465
Strange. Yea, I’m on the latest version of WooCommerce.

[2018-03-12 12:59] Konceptuel commented on #2483
https://woocommerce.com/products/url-coupons/ and Affiliate Coupon Tracking https://docs.affiliatewp.com/article/81-woocommerce works great out of the box.

[2018-03-12 13:25] pippinsplugins commented on #465
Merged!

[2018-03-12 13:25] #465 closed

[2018-03-12 14:17] pippinsplugins commented on #1960
#948 was merged so this can now be closed!

[2018-03-12 14:17] #1960 closed

[2018-03-12 15:26] #2510 closed

[2018-03-12 21:40] amdrew commented on #2483
@Konceptuel 👍Awesome, thanks for letting us know

[2018-03-12 22:01] amdrew commented on #2598
@gspice Oops, fixed!

[2018-03-13 02:19] amdrew commented on #2511
@pippinsplugins It would be great to get this merged soon into #2491 so we can test the 3rd item in the original issue description above:

Or maybe merged into 2.2 and then we can update 2491 from that, not sure what the best option is.

This would also allow us to test Lifetime Commissions, since a customer and an affiliate should be linked (https://github.com/AffiliateWP/affiliate-wp-lifetime-co

[2018-03-13 03:46] pippinsplugins commented on #2511
@amdrew My plan is to try and get the majority of the remaining work done on this this week.

[2018-03-13 08:02] tubiz commented on #2491
@pippinsplugins with the test I have done so far the customer records are being created properly but the referral record is not created.

In the upgrade routine we need to add a `customer_id` field to the `affiliate_wp_referrals` table as the `customer_id` is now part of the referral data

[2018-03-13 14:10] michaelbeil commented on #504
https://github.com/AffiliateWP/AffiliateWP/issues/504

[2018-03-13 14:10] michaelbeil commented on #504
https://secure.helpscout.net/conversation/540117629/77984?folderId=205529

[2018-03-14 14:33] pippinsplugins commented on #2491
@tubiz could you please submit a PR for https://github.com/tubiz/AffiliateWP/commit/9dbed4707273f84aa08e970105daec8efb789c79?

[2018-03-14 14:39] tubiz commented on #2491
@pippinsplugins PR submitted.

PR: #2605

[2018-03-14 14:41] pippinsplugins commented on #2491
Thanks!

I've brought this branch up to date with `release/2.2` and updated the upgrade routine to create the `customer_id` column in the referrals table.

Ready for additional testing.

[2018-03-14 14:41] pippinsplugins commented on #2491
Full PR is here https://github.com/AffiliateWP/AffiliateWP/pull/2604/

[2018-03-14 14:47] tubiz commented on #2491
Okay. I will carry out additional test.

[2018-03-14 14:51] pippinsplugins commented on #2491
I've found a conflict between the new customer meta table I'd added and EDD's customer meta. Working on resolving it.

[2018-03-14 15:03] pippinsplugins commented on #2491
Conflict should be fixed. Had to rename the customermeta table and the meta type from `customer` to `affwp_customer`.

To test the fix, please run `affiliate_wp_install()` and then re-run the batch upgrade routine for migrating customers.

[2018-03-14 21:49] gspice commented on #2598
@amdrew

Tested:
* Only description set, no referral created
* Only amount set, no referral created
* Both not set, no referral created.
* Both set, referral created.

All tests were successful!

[2018-03-14 23:05] amdrew commented on #2598
@gspice Excellent!

[2018-03-15 03:36] amdrew commented on #2598
Merged into master

[2018-03-15 03:36] #2598 closed

[2018-03-15 04:29] amdrew commented on #2491
Re-ran the upgrade routine and install script for https://github.com/AffiliateWP/affiliate-wp-lifetime-commissions/issues/75.

I saw a bunch of these notices after the upgrade:

[code]

[2018-03-15 05:40] clickstudio commented on #2178
@DrewAPicture I have recently been alerted to the a bug in my MLA add-on which I have tracked down to the custom column not saving through the following method;

affiliate_wp()->referrals->update( $this->referral_id, $data, '', 'referral' );

$data being a serialized array with as previously.

I have checked the AffiliateWP code and I can't see anything obvious that may be causing this. Would you

[2018-03-15 09:28] tubiz commented on #2491
@amdrew I am unable to replicate this.

[2018-03-15 11:48] tubiz commented on #2491
PR: #2606

Fixes

* The upgrade routine can cause a fatal error if an integration is enabled but the plugin is not activated https://github.com/AffiliateWP/affiliate-wp-lifetime-commissions/issues/75
* Referrals not created for a lifetime customer `get_canonical_affiliate_id()`

[2018-03-15 14:02] michaelbeil opened #2607 "Lost My Password link goes to a different URL"
The lost my password link we use is connected with WordPress: /wp-login.php?action=lostpassword. When WooCommerce is installed, the link is forwarded to the WooCommerce lost password link. We should change this in a future version.

Ticket: https://secure.helpscout.net/conversation/541709089/78183?folderId=205524.

[2018-03-15 14:05] michaelbeil opened #2608 "Contact Form 7 error"
This is coming up in debug assistant of affiliate WP:

Ticket: https://secure.helpscout.net/conversation/541709089/78183?folderId=205524.

[2018-03-15 22:46] amdrew commented on #2607
@michaelbeil Are you proposing we detect if WooCommerce is activated and then change the link back to what it was previously, `/wp-login.php?action=lostpassword`?

We use the `wp_lostpassword_url()` function provided by WordPress which WooCommerce is using to filter the URL. Since WooCommerce is changing the URL of all lost password links on a site, I don't think we should try to override it again

[2018-03-15 23:15] amdrew commented on #2608
That line _should_ only be appearing in the logs if no `form_id` or `referral_id` is found in PayPal's return URL: https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/integrations/class-contactform7.php#L473

The customer in the linked ticket however does not have the "Contact Form 7 PayPal" Add-on installed (see https://docs.affiliatewp.com/article/657-contact-form-7) so should not be

[2018-03-15 23:26] tubiz commented on #2608
@amdrew Yes.

[2018-03-17 17:31] michaelbeil commented on #2607
That makes sense to me.

[2018-03-17 17:32] #2607 closed

[2018-03-19 14:18] pippinsplugins commented on #2491
@DrewAPicture most of your items have been addressed. A few left to do still.

[2018-03-19 22:03] clickstudio commented on #2178
@pippinsplugins This is an example of the custom data when the MLA add-on is used in conjunction with my other add-ons (Groups).

a:1:{s:3:"mla";a:10:{s:18:"matrix_order_total";d:9.089999999999999857891452847979962825775146484375;s:8:"products";a:1:{i:0;a:4:{s:4:"name";s:74:"Advantix Blue for Dogs (over 25kg) (Variation ID 3880) (Variation ID 3880)";s:2:"id";i:3877;s:5:"price";d:8.1799999999999997

[2018-03-19 23:05] clickstudio commented on #2178
@pippinsplugins I have done some back testing and the issue started with release of AffiliateWP 2.1.8.

[2018-03-19 23:33] pippinsplugins commented on #2511
@amdrew once I finish up a few more items on #2491, I'll get that merged into `release/2.2` then updated in this branch so we can finish out this.

[2018-03-19 23:34] amdrew commented on #2511
👍 Sounds good

[2018-03-19 23:52] clickstudio commented on #2178
@pippinsplugins
Below is what's passed into the update method ($data['custom']).
This worked/works perfectly in AffiliateWP version 2.1.7 but fails in 2.1.8 forward.

$custom_data = maybe_serialize($custom_data);
$data = array( 'custom' => $custom_data);
affiliate_wp()->referrals->update( $this->referral_id, $data, '', 'referral' );

-----------------

a:1:{s:3:"mla";a:10:{s:18:"matrix_order_total

[2018-03-20 00:46] clickstudio commented on #2178
@pippinsplugins Interestingly, I just tested AffiliateWP 2.1.16 (just released) and the issue now seems resolved.

[2018-03-20 03:18] pippinsplugins commented on #2491
Ok all items addressed.

[2018-03-20 11:44] tubiz commented on #2608
PR: #2609

Fixes
* Logging of messages if the Contact Form 7 PayPal add-on is not enabled
* Referrals not marked as complete after payment is made

[2018-03-20 17:22] michaelbeil commented on #1065
https://secure.helpscout.net/conversation/544314812/78478?folderId=634609

[2018-03-20 17:44] mindctrl opened #2610 "EDD: Improve payments notes for referrals"
Right now when a referral is made, a note is added to the payment in EDD. It looks something like this:

[code]

I think the usability of this could be improved. Since AffWP does not show the referral ID number on the Affiliates > Referrals page, it's harder and unintuitive to find the referral in question. You have to go about it backwards, and find it by payment ID, or you can copy the referral

[2018-03-20 17:47] pippinsplugins commented on #2610
@mindctrl we have linked the referral for upcoming 2.2. See #2560

[2018-03-20 17:47] #2610 closed

[2018-03-20 17:48] mindctrl commented on #2610
Doh! My search-fu failed me. Nice!

[2018-03-20 22:18] amdrew commented on #2608
Great! PR fixes the log issue, all looks good to me.

@tubiz Was the referrals not being marked as complete something you found while fixing this issue?

[2018-03-21 22:02] amdrew commented on #2608
Great!

[2018-03-21 22:23] amdrew commented on #2608
@pippinsplugins Unless you can spot anything, this looks good to go

[2018-03-22 11:40] tubiz commented on #2374
PR: #2611

`affiliate_wp()->tracking->get_affiliate_id()` always return false when a signup url with the referral variable `http://affwpdev.local/optimizepress/bronze-level-plan/?ref=2` is visited directed when the fallback referral tracking method is enabled.

The OptimizeMember custom variable (affiliate id) is set `set_referral_variable()` when the signup form is displayed but `$_COOKIE['affwp_

[2018-03-22 13:13] michaelbeil commented on #1721
https://secure.helpscout.net/conversation/544314812/78478?folderId=634609

[2018-03-22 13:13] michaelbeil commented on #1024
https://secure.helpscout.net/conversation/544314812/78478?folderId=634609

[2018-03-22 15:22] #2608 closed

[2018-03-22 15:27] pippinsplugins commented on #2374
Well done tracking that down @tubiz! I would like to see this tackled in a slightly different manner though.

The base integration class should not ever have any code in it specific to any integration. It is base functionality only and all integration-specific functionality needs to be in the integration classes.

Let's do this:

1. Update the base class with `do_action` calls in in `set_visit_id(

[2018-03-23 17:37] planetahuevo commented on #2273
Is this fixed? I cannot see the table but I am getting this error on my lates wp cli export:
`mysqldump: Couldn't execute 'show fields from `wp_affiliate_wp_rest_consumers`': Incorrect key file for table '/tmp/#sql_cXXX_0.MYI'; try to repair it (126)`

Not sure if it is related...

[2018-03-23 19:33] gspice opened #2612 "Admin-Referrals-Payouts: add option to Bulk Actions to generate csv payout file"
Requested from this HS ticket:
https://secure.helpscout.net/conversation/547289242/78999?folderId=205529

Currently you can filter by a single affiliate name, a date range and/or a minimum amount when generating the payout csv file.   It would be nice to check the boxes of the affiliates you'd like include then have the option under the Bulk Actions to generate the csv file.

[2018-03-26 00:24] pippinsplugins commented on #2374
@tubiz thanks for the changes.

@gspice could you give this a test please?

[2018-03-26 10:37] tubiz commented on #2441
PR: #2613

When viewing a single payout the pagination should be based on the number that is set on the referrals page screen options and not the one set for the payouts page screen option.

As we are creating a new instance of the `AffWP_Referrals_Table` class
https://github.com/AffiliateWP/AffiliateWP/blob/45f178b3d2e4b522830e02887d5fce5c499d07c5/includes/admin/payouts/view.php#L154-L169

Fixes

[2018-03-26 14:21] michaelbeil opened #2614 "LearnPress integration"
This issue is for a possible LearnPress integration in a future version.

Ticket: https://secure.helpscout.net/conversation/548522624/79098?folderId=205524.

[2018-03-26 14:25] michaelbeil opened #2615 "Update French translation string"
Change "Activer les notifications de nouveau parrainage" to "Cochez pour désactiver les notifications de nouveau parrainage"

Ticket: https://secure.helpscout.net/conversation/538755673/77869?folderId=634609.

[2018-03-26 16:51] pippinsplugins commented on #2441
@gspice ready for testing!

[2018-03-26 21:47] gspice commented on #2374
OptimizeMember tests were successful with **Fallback Tracking** off and also turned on - a referral was created correctly in each instance.

I'm still trying to test s2Member but since that was not part of the bug, I would say this can be closed.

[2018-03-26 22:15] gspice commented on #2441
Works really nice!  Verified:

* Pagination option correctly uses number entered
* Pages accordingly
* Links to `Mark as Unpaid`, `Edit`, or `Delete` work as titled.

[2018-03-27 00:52] #2441 closed

[2018-03-27 02:20] pippinsplugins commented on #2374
@gspice They work the same way so I'd say it's safe to assume both are fixed, thanks!

[2018-03-27 02:21] #2374 closed

[2018-03-27 02:21] pippinsplugins commented on #2352
@tubiz looks like we have a merge conflict now. Could you resolve it please?

[2018-03-27 07:05] tubiz commented on #2352
@pippinsplugins the merge conflict has been fixed.

[2018-03-27 11:44] tubiz commented on #1771
PR: #2617

#### How to replicate

* Modify any referral and set the referral description to Russian (Pусский)
* Set the site language to Russian (Pусский).
* Export any data (affiliates, referrals, payouts, visits) from the site.
* Open the exported file and set the character set to Cyrillic (Windows-1251).
* The csv header and the referral description will be displayed in an invalid format.

####

[2018-03-27 12:04] michaelbeil commented on #2548
https://secure.helpscout.net/conversation/549469950/79183?folderId=205524

[2018-03-27 15:46] michaelbeil commented on #2548
https://secure.helpscout.net/conversation/549605484/79194?folderId=634609

[2018-03-27 18:55] pippinsplugins commented on #2352
Thanks!

[2018-03-27 18:55] #2352 closed

[2018-03-27 18:55] pippinsplugins commented on #1771
@amdrew could you please test this?

[2018-03-28 04:15] DrewAPicture commented on #2491
@pippinsplugins Looks good to me. Pushed a few small adjustments.

[2018-03-28 13:04] pippinsplugins commented on #2491
Thanks @DrewAPicture!

I'm going to merge this into `release/2.2`!

[2018-03-28 13:15] pippinsplugins commented on #2511
#2491 is merged into release/2.2 and t his branch has been brought up to date.

[2018-03-28 13:34] pippinsplugins commented on #2511
A double opt-in setting has been added for MailChimp. Neither ConvertKit nor ActiveCampaign support setting double opt-in through the API; they only support it as a list setting inside their dashboards.

[2018-03-28 13:44] pippinsplugins commented on #2511
@amdrew all items addressed! Give it another run?

[2018-03-28 14:45] michaelbeil opened #2618 "Change the jquery-cookie script to affwp-jquery-cookie"
A user noticed this:

Ticket: https://secure.helpscout.net/conversation/550004767/79270?folderId=205524.

[2018-03-28 21:39] amdrew commented on #2511
@pippinsplugins Everything works great so far except it looks like referrals aren't being generated for me anymore (maybe because of the merge):

[code]

[2018-03-28 23:34] amdrew commented on #1771
Hopefully I have tested correctly (I'm on a mac).

First, I opened my exported file in textedit and noted I could view the Russian characters just fine. TextEdit uses `Automatic` as the default setting for the `Opening Files` option:

<img width="961" alt="screen shot 2018-03-29 at 12 31 52 pm" src="https://user-images.githubusercontent.com/52581/38061775-2dc1f59c-334d-11e8-84cd-955f83e94b2d.png">

[2018-03-29 00:05] #1771 closed

[2018-03-29 07:55] DrewAPicture commented on #2511
Definitely didn't intend to close it. Whoops!

[2018-03-29 13:44] pippinsplugins commented on #2511
@amdrew can you re-run the upgrade routine or manually update the DB? That means your upgrade routine probably ran before I added the `customer_id` column to referrals.

[2018-03-29 22:05] gspice commented on #2491
Testing on a woo site, an uncaught exception occurred while updating the database.  To reproduce, delete a WooCommerce order that is referenced by an existing Referral.

[code]

[2018-03-30 02:17] pippinsplugins commented on #2491
@gspice that error should now be addressed in `release/2.2`.

[2018-03-30 10:40] tubiz commented on #2525
@pippinsplugins I am working on this.

[2018-03-30 16:20] michaelbeil opened #2620 "FormCraft integration"
This issue is for a possible FormCraft integration in a future version.

Ticket: https://secure.helpscout.net/conversation/551710537/79440?folderId=634609.

[2018-04-02 22:05] amdrew commented on #2511
@pippinsplugins All working well now.

I propose we drop the `affwp-notice` div around the success message. When submitting my email address I would expect to see just a thanks message, not a "notice" of any sort.

Depending on the size of the message the site admin adds, the formatting they use from the editor, and the existing styling of the theme for things like heading color etc, it could caus

[2018-04-03 01:18] pippinsplugins commented on #2511
What class name would you like instead?

[2018-04-03 03:13] amdrew commented on #2511
@pippinsplugins How about `affwp-opt-in-success-message`?

[2018-04-03 03:13] amdrew commented on #2511
After that, I really think we're good to go on this issue 🎉

[2018-04-03 03:26] amdrew commented on #2511
@pippinsplugins Actually, I standby my earlier comment - let's drop the div altogether, we don't need it. We should instead make the editor output tags.

I.e. someone might do the following, since we have provided them with a visual editor:

<img width="1231" alt="screen shot 2018-04-03 at 3 21 19 pm" src="https://user-images.githubusercontent.com/52581/38227569-e4c347a6-3752-11e8-9130-f9792c5f0ff

[2018-04-04 13:53] michaelbeil commented on #2588
https://secure.helpscout.net/conversation/554526466/79728?folderId=205524

[2018-04-05 13:05] tubiz commented on #2525
PR: #2621

[2018-04-05 16:59] michaelbeil commented on #2483
https://secure.helpscout.net/conversation/549605484/79194?folderId=205529

[2018-04-06 06:40] DrewAPicture opened #2623 "Allow text inputs in settings to be disabled (readonly)"
Just as we've done previously in `license_callback()`, @clickstudio submitted a PR for allowing text inputs (displayed via `text_callback()` to allow setting a readonly attribute for text inputs.

PR: #2622

[2018-04-06 06:41] #2623 closed

[2018-04-06 08:35] tubiz commented on #2581
PR: #2624

[2018-04-06 09:54] tubiz commented on #2302
@pippinsplugins I am working on this.

[2018-04-06 14:00] michaelbeil opened #2625 "Affiliates with greater than a two word name are not recorded correctly"
If an affiliate has greater than a 2 word name, for example:

Janic Matthias Oesterle

AffiliatWP will only record the first and the second word at registration: Janic Matthias

This user would like full 3 word names to be recorded.

Ticket: https://secure.helpscout.net/conversation/555898709/79866?folderId=205524.

[2018-04-06 15:56] michaelbeil commented on #2625
Closing in favor of https://github.com/AffiliateWP/AffiliateWP/issues/1922.

[2018-04-06 15:56] #2625 closed

[2018-04-06 15:56] michaelbeil commented on #1922
https://secure.helpscout.net/conversation/555898709/79866?folderId=205524

[2018-04-08 23:47] #2615 closed

[2018-04-09 00:04] pippinsplugins commented on #2511
@amdrew Updated!

[2018-04-09 00:04] pippinsplugins commented on #2198
@michaelbeil @gspice this is ready for new testing!

[2018-04-09 11:59] tubiz commented on #2302
PR: #2626

The issue was from the `EP_ATTACHMENT` endpoint mask.
The only fix was to remove it from the list of endpoint masks used when creating the referral variable endpoint.
With the `EP_ATTACHMENT` removed the referral cookie was still created for attachment links with the referral variable.

[2018-04-09 12:06] tubiz commented on #2302
I think this is also the issue with #2324. So this PR should fix that too.

[2018-04-09 13:03] tubiz commented on #2491
I was able to replicate the error too on #2511. I have checked `release/2.2` and it hasn't been fixed in it.

https://github.com/AffiliateWP/AffiliateWP/blob/8aa1061bae132648ed76da009eed0edb1454650a/includes/customer-functions.php#L51-L59

[2018-04-09 13:35] pippinsplugins commented on #2491
Fixed!

[2018-04-10 01:44] pippinsplugins commented on #2511
@amdrew The exact error doesn't seem possible to detect (at least not that I've discovered yet) so crafting "pretty" error messages for things like `Email address already subscribed` may not be doable. I have, however, updated MailChimp to detect when a verbose error is present and that is now shown, so now we have:

![image](https://user-images.githubusercontent.com/1034109/38531709-db169fa8-3c36

[2018-04-10 08:36] tubiz commented on #1326
@amdrew I will need a copy of the MemberMouse plugin to work on this.

[2018-04-10 19:15] gspice commented on #2302
Excellent job @tubiz !  I tested this and it is working for me, the "pretty" link no longer strips the affiliate name/id when using a custom permalink setting like: `http://woo.local/article/%postname%/` when wanting to share a blog post with affiliate info added.

[2018-04-10 19:34] gspice commented on #2198
@pippinsplugins If I download the 2198 branch, install and attempt to activate it gives me a fatal error:

`Plugin could not be activated because it triggered a fatal error.`

[code]

[2018-04-10 20:56] pippinsplugins commented on #2198
@gspice that doesn't look to be related to this branch as that line wasn't changed here.

Could you rename the plugin folder from `AffiliateWP-issue-2198` to `affiliate-wp` and try again?

[2018-04-10 21:00] amdrew commented on #1326
@tubiz Sent!

[2018-04-10 23:13] amdrew commented on #2511
@pippinsplugins MailChimp for WordPress has a configurable message so it must be possible.

<img width="821" alt="screen shot 2018-04-11 at 11 03 17 am" src="https://user-images.githubusercontent.com/52581/38588188-af1a3dd6-3d78-11e8-938b-fc8c779f3a07.png">

The `Use PUT to..` portion of that message isn't something we would want to show for a user subscribing.

Unless I'm mistaken, it looks like

[2018-04-11 23:02] gspice commented on #2198
@pippinsplugins Renaming the folder worked!  I was able to activate.

Question - does this have the fix in it for the `Upgrade Database` process, where it handles the case of the Woo order missing that a referral is referencing?   I'm getting this error and confirmed I don't have a WC order `1995` any more:

[code]

[2018-04-14 07:34] flowdee commented on #10
Any update or new plans here?

[2018-04-15 02:31] pippinsplugins commented on #10
Adaptive Payments was discontinued by PayPal and is no longer a supported product, nor is it available for new accounts, so for this reason we will not be building this.

[2018-04-15 02:31] #10 closed

[2018-04-15 06:33] flowdee commented on #10
Thanks for the info Pippin.

[2018-04-16 11:44] tubiz commented on #1326
@amdrew I wasn't able to replicate this issue. The correct referral amount was calculated when a coupon was applied or not.

The referral amount is calculated from the `order_total`. From the MemberMouse docs,

[2018-04-16 13:11] pippinsplugins commented on #2511
That's handled, I'm certain, through an additional API call to first detect if the email is subscribed before subscribing it. I was hoping to avoid that but I think that might be the best way.

[2018-04-16 13:17] tubiz commented on #1053
The Iranian Rial has been added in #1534.  This issue can be closed.

[2018-04-16 13:37] pippinsplugins commented on #2511
@amdrew Please try again now. I've added an `already subscribed` check that runs prior to attempting to subscribe an email.

[2018-04-16 13:37] pippinsplugins commented on #2511
Note: ConvertKit doesn't have a method for this that supports checking a specific email address. They require the subscriber ID, which we won't have at this time.

[2018-04-17 02:36] #1053 closed

[2018-04-17 02:47] amdrew commented on #2511
@pippinsplugins Perfect!

I think we're good to go?

[2018-04-17 14:55] pippinsplugins commented on #2198
@gspice looks like I still need to account for that.

[2018-04-17 16:15] michaelbeil commented on #1326
I cannot replicate this issue anymore.

[2018-04-18 19:57] pippinsplugins commented on #2198
@gspice I think I've fixed it. Could you try it one more time?

[2018-04-18 20:06] pippinsplugins commented on #2511
@amdrew going to get #2198 finished and merged first. Just waiting on final testing.

[2018-04-18 20:07] #2302 closed

[2018-04-18 20:12] #2525 closed

[2018-04-18 20:13] #2491 closed

[2018-04-18 20:36] gspice commented on #2198
@pippinsplugins Success!  Clicked to upgrade database and it completed, no errors in php log.

[2018-04-18 21:06] pippinsplugins commented on #2198
Yay!

[2018-04-19 13:36] #2526 closed

[2018-04-19 13:39] #2204 closed

[2018-04-19 13:42] #2116 closed

[2018-04-19 13:49] Mknsri opened #2629 "A parameter named "length" will raise a RangeError"
Using some keywords reserved for JS arrays will break parsing the url parameters, `length` being an obvious one.

Line where the bug will occur:
https://github.com/AffiliateWP/AffiliateWP/blob/230236099dcde0454d20fba0702ba783438ee481/assets/js/tracking.js#L412

An reproducible example is as simple as
[code]

[2018-04-19 13:49] pippinsplugins commented on #1052
Hasn't been seen in more than two years, closing.

[2018-04-19 13:49] #1052 closed

[2018-04-19 13:50] pippinsplugins commented on #544
Haven't seen requests for this so closing out.

[2018-04-19 13:50] #544 closed

[2018-04-19 13:51] #154 closed

[2018-04-19 13:51] pippinsplugins commented on #61
No reports in four years, closing.

[2018-04-19 13:51] #61 closed

[2018-04-19 13:52] pippinsplugins commented on #2629
For this example, did you set the referral variable to `length`?

[2018-04-19 14:25] michaelbeil commented on #465
https://secure.helpscout.net/conversation/564535116/80639/?folderId=205529

[2018-04-19 14:36] pippinsplugins commented on #2198
This has been merged into `release/2.2.`

[2018-04-19 14:36] #2198 closed

[2018-04-19 14:49] michaelbeil commented on #2198
Excellent!

[2018-04-19 15:44] DavidAnderson684 opened #2630 "affiliate_wp_campaigns table (view) shows as corrupt after migrating database server"
Hi,

I am not sure if this is a bug in Affiliate WP (should it do something to update the table definition?) or something that the user should deal with during a migration process? The table itself appears to be a view. Presumably I somehow need to recreate it - or should Affiliate -WP. But how? Apologies if there's no coding issue here...

After changing database server, and doing an mysqldump (`

[2018-04-19 15:48] pippinsplugins commented on #2630
@DavidAnderson684 deactivate and then reactivate AffiiliateWP. That will recreate the view.

See #1688 #1074 #2273 for relevant issues.

[2018-04-19 16:35] DavidAnderson684 commented on #2630
That fixed it - thank you. Marking as closed.

[2018-04-19 16:35] #2630 closed

[2018-04-19 20:36] pippinsplugins commented on #2511
Once tests pass again, I'll merge this in. Then it's just a matter of writing docs and releasing beta!

[2018-04-20 00:08] pippinsplugins commented on #2511
Merged!

Will close once this doc is finished: https://secure.helpscout.net/docs/5463d15be4b0f639418397d0/article/5ad8fbad0428630750929c93

[2018-04-20 14:32] michaelbeil commented on #2100
Another user would like this feature: https://secure.helpscout.net/conversation/549403219/79175?folderId=634609.

[2018-04-23 12:58] tubiz opened #2632 "SQL error when using the campaign keyword prefix to search on the Visits page"
On the *Affiliates -> Visits* page perform a search using the `campaign:` keyword prefix (`campaign: instagram`)  doesn't return any result instead the error below is shown.

<img width="1266" alt="visit search error" src="https://user-images.githubusercontent.com/602184/39127893-3bd51078-46fe-11e8-9f0b-3613733aee2d.png">

[2018-04-23 13:01] tubiz commented on #2632
PR: #2633

[2018-04-23 13:09] michaelbeil commented on #2632
Is there anything more that you have within the search field? I just tested with `campaign: instagram`, and could not replicate this issue.

[2018-04-23 13:33] tubiz commented on #2632
That's strange. I just tested again with `campaign: instagram` and I can still replicate the issue.

[2018-04-23 13:35] michaelbeil commented on #2632
What is your current WordPress setup? What version of WordPress, PHP, and MySQL are you using?

[2018-04-23 13:37] tubiz commented on #2632
WordPress: `4.9.5`
PHP: `5.6.20` and `7.2.0` ( I was able to replicate on both version)
MySQL: `5.6.34`

[2018-04-23 13:44] michaelbeil commented on #2632
I see the errors now within Query Monitor. Screenshot: http://beil.io/8TuuPB. However, these are not displayed on the page.

Your PR fixes the errors from being displayed within Query Monitor.

[2018-04-23 13:48] tubiz commented on #2632
Yes. The PR fixes the error and the results will be displayed if there are any visits for the campaign.

[2018-04-23 15:30] pippinsplugins commented on #2511
@gspice could you please write up the documentation for this this week?

[2018-04-24 07:50] michaelbeil opened #2634 "Add the Ether currency"
Ticket: https://secure.helpscout.net/conversation/567068015/80899/.

[2018-04-24 10:53] tubiz commented on #2210
@amdrew I am working on this, I will need access to the Direct Link Tracking plugin.

[2018-04-24 17:24] gspice opened #2635 "Spanish translations show Pesos filipinos for Chilean Peso"
First reported on this HS ticket:
https://secure.helpscout.net/conversation/565710028/80782?folderId=1170842

User needs Chilean Peso which shows as an option in the English language, however when the default language is changed to any of the three Spanish translations, it is replaced with:

`Pesos filipinos`

* es_AR - Spanish (Argentina)
* es_ES  - Spanish (Spain)
* es_MX - Spanish (Mexico)

[2018-04-24 18:34] gspice opened #2636 "Fatal error when activating 2.2-beta1 on clean site"
Testing installing the beta on a site that's never had AffiliateWP installed before.  Received fatal error when attempting to activate:

[code]

[2018-04-24 21:47] amdrew commented on #2210
@tubiz There you go!

[2018-04-25 13:11] michaelbeil opened #2637 "Change agreement string if affiliate program is in the EU - GDPR"
We already have an option for a checkbox that is added to the affiliate registration form with the existing option we provide for Terms of Use. This particular checkbox can be enabled in the General settings tab:
![a7ewx7](https://user-images.githubusercontent.com/4752949/39247885-e9c11df6-489a-11e8-9b53-21d20954bc42.png)

We should add support to change the verbiage of this string from:

_"Agree

[2018-04-25 18:51] #2632 closed

[2018-04-25 20:58] pippinsplugins opened #2638 "Paid Member Subscriptions: integration not loaded any more"
The Paid Member Subscriptions integration isn't working at all anymore. Referrals are not created and none of the admin options appear any more.

This is happening because the plugin removed the `pms_get_discount_by_code()` function that we used to detect when the plugin was active.

[2018-04-25 20:59] pippinsplugins commented on #2638
PR ready for testing.

[2018-04-25 21:03] gspice commented on #2638
First reported on this HS ticket:
https://secure.helpscout.net/conversation/568522197/81073?folderId=1170842

[2018-04-25 21:44] gspice commented on #2638
Downloaded the new branch for this issue and tested but referral was not created.

Testing steps:
* Setup a free subscription level for one month, zero cost, set referral amount for 20
* Have to be logged in as a user to subscribe (any user account)
* Made sure I had used a referral link
* Subscribed to the free level, it hangs for a while then receives an error, it's trying to use a secure link i

[2018-04-27 00:51] gspice commented on #2636
@DrewAPicture Used your commit and received this error:

[code]

[2018-04-27 01:02] gspice commented on #1923
Question: While testing I noticed the new /Emails settings no longer include the email subject and content sections for `Pending` and `Accepted` affiliate registrations.  Shouldn't we add these back before release?

[2018-04-27 01:27] pippinsplugins commented on #1923
@gspice that was unintended, good catch!

[2018-04-27 17:41] gspice commented on #1923
@pippinsplugins  Well, I'm embarrassed....there is no issue here. I didn't realize that the `Pending` and `Rejected` sections of the **Emails** tab are only visible if you have the **Require Approval** option checked under the **Misc** tab.   Pretty clever setup actually!   This works as designed on the beta.

[2018-04-27 19:43] pippinsplugins commented on #1923
Oh . . . hehe, I missed it too :)

[2018-04-27 22:02] DrewAPicture commented on #2636
@gspice Hmm, I just pushed 717dbef3cfab5334e9bdbb01426c83074ad72a6b, which I'm hoping will be enough to solve the problem.

[2018-04-27 23:36] gspice commented on #2636
@DrewAPicture Success!  Was able to activate on a new site without errors.

[2018-04-28 14:44] michaelbeil opened #2640 "Update Hungarian translation strings"
A user notified us about this:

Ticket: https://secure.helpscout.net/conversation/565424000/80752?folderId=205529.

[2018-04-30 16:10] gspice opened #2642 "Add affiliate notes field to affiliate export csv file"
It would be helpful to include additional fields in the affiliate export CSV file, or at least the option for it.  These fields on the affiliate screen are currently not included in the exported file:

* Website
* Promotion Methods
* Affiliate Notes

[2018-04-30 19:38] pippinsplugins commented on #2638
I've just tested and this is working for me. Working with @gspice via Slack to determine the issue.

[2018-04-30 19:53] michaelbeil commented on #2173
https://secure.helpscout.net/conversation/571142286/81309/?folderId=205529

[2018-04-30 21:10] DrewAPicture commented on #2173
PR: #2644 replaces the Creative Description field with a WYSIWYG editor:

![Description editor](https://cl.ly/3F2k2u2w1l3M/Screen%20Shot%202018-04-30%20at%203.10.25%20PM.png)

[2018-04-30 21:24] DrewAPicture commented on #2173
Closed #2643 since that issue is also fixed in the attached PR.

Support thread to notify: https://secure.helpscout.net/conversation/571142286/81309?folderId=205524.

[2018-05-01 00:06] tubiz commented on #2210
PR: #2645

To search for exact URL the `url:` keyword prefix can be used.

E.g. `url: http://issues.affwp.dev/direct-link-tracking-test/`

I have tested it with the Direct Link Tracking plugin and it works.

[2018-05-01 00:26] tubiz commented on #2568
PR: #2646

Display the PayPal email on the affiliate review page if it is filled.

<img width="1244" alt="affiliate review page" src="https://user-images.githubusercontent.com/602184/39456489-9fefb762-4cde-11e8-9180-4b8e13f9f6be.png">

[2018-05-01 01:47] pippinsplugins commented on #2568
Looks good. We can merge this after 2.2 is released.

[2018-05-01 02:44] tubiz commented on #2541
PR: #2648

* Required registration fields
<img width="1171" alt="required fields" src="https://user-images.githubusercontent.com/602184/39458388-0621d6e8-4cec-11e8-8dde-b712e0746711.png">

* The password field will be removed from the registration page, if it isn't required.
<img width="1005" alt="no password registration form" src="https://user-images.githubusercontent.com/602184/39458450-7b1da9f

[2018-05-01 12:58] tubiz commented on #2583
PR: #2649

[2018-05-01 13:35] pippinsplugins commented on #2173
PR looks good. We can merge it after 2.2 is released.

[2018-05-01 13:44] pippinsplugins commented on #2583
@tubiz we should also add filters to the other list tables, that way each object type's sortable columns are filterable.

[2018-05-01 14:01] tubiz commented on #2583
@pippinsplugins filters has been added to all the list tables (affiliate, creative, payout, referral and visits).
Are there other list tables the filter need to be added to?

[2018-05-01 18:21] michaelbeil opened #2650 "Stay on current referrals page when rejecting or marking a referral as paid"
A user has sent in this bug on the referrals page:

Ticket: https://secure.helpscout.net/conversation/572255988/81428?folderId=205524.

[2018-05-02 08:52] tubiz commented on #2650
PR: #2651

[2018-05-02 10:12] tubiz commented on #2093
PR: #2652

* Add Affiliate action link
<img width="355" alt="add affiliate action link" src="https://user-images.githubusercontent.com/602184/39518035-8fb733ae-4df9-11e8-8bc8-1be6ed976311.png">

* Add existing user as a new affiliate
![add user as affiliate](https://user-images.githubusercontent.com/602184/39517928-4a1730ce-4df9-11e8-9464-4612adfbf956.png)

[2018-05-02 11:57] tubiz commented on #2592
PR: #2654

[2018-05-02 22:26] pippinsplugins commented on #2592
PR looks good, will merge after 2.2 is released.

[2018-05-02 22:29] pippinsplugins commented on #2640
Will merge after 2.2 is released.

[2018-05-03 12:57] michaelbeil opened #2655 "Formidable Pro referrals are generated with a status of pending"
When you activate the Formidable Pro pro integration, referrals are generated with a status of pending. These should be accepted and set to a status of unpaid.

![pnnmd6](https://user-images.githubusercontent.com/4752949/39577649-33777858-4ee2-11e8-95bb-10ef23f54cdc.png)

Ticket: https://secure.helpscout.net/conversation/573085450/81503?folderId=205524.

[2018-05-03 15:58] pippinsplugins commented on #2638
@gspice I've just pushed a number of additional fixes to this that should resolve the problem.

Can you please retest and send it to the affected customer?

[2018-05-03 21:29] gspice commented on #2638
@pippinsplugins

UPDATE:  The issue wasn't with the add-on mentioned above, it is their add-on `Paid Member Subscriptions - Discount Codes Add-on`.

When it's active, the debug log has this:

```2018-5-03 20:56:37 - PMS: Referral creation stopped because customer was not referred and no affiliate discount was detected```

Going to test with that locally if I can download it.

[2018-05-04 00:59] pippinsplugins commented on #2636
Confirmed fix as well.

[2018-05-04 00:59] #2636 closed

[2018-05-04 00:59] #1923 closed

[2018-05-04 01:01] pippinsplugins commented on #2511
Documentation has been completed and dis ready to publish upon release.

[2018-05-04 01:01] #2511 closed

[2018-05-04 01:45] amdrew opened #2657 "OptimizeMember integration with PayPal not working"
Our OptimizeMember integration with PayPal doesn't appear to be working for me. @tubiz Could you have a look and see if it works for you?

Here's my set up:

AffiliateWP 2.1.17 (also tested with 2.1.16 which is prior to some recent OM changes)
OptimizePress 2.5.13
OptimizeMember 1.2.9

OptmizeMember integration enabled from Affiliates -> Settings.

According to our integration code, these action h

[2018-05-04 02:16] amdrew commented on #2657
Can't seem to get Stripe working either.

[2018-05-04 03:38] amdrew commented on #2657
Cancel that, it appears to be working fine when PDT is enabled, at least for Pippin. IPN isn't working because our test site doesn't have an SSL cert set up, which PayPal now requires. Not sure why it's not working for me, it seems like I'm being blocked somehow.

[2018-05-04 03:38] #2657 closed

[2018-05-04 10:59] tubiz commented on #2657
@amdrew I just tested the OptimizeMember integration (Stripe and PayPal) and it is working fine.
The referrals were created and set to unpaid successfully.

[2018-05-04 11:49] amdrew commented on #2657
@tubiz Thanks for testing!

[2018-05-04 18:53] michaelbeil opened #2658 "S2Member reference ID is no longer linked"
The S2Member reference ID in the reference column is no longer linked, it is just plain text.
![5vyzaf](https://user-images.githubusercontent.com/4752949/39646911-4c15328c-4fdd-11e8-8e2e-d8610cbf8025.png)

Ticket: https://secure.helpscout.net/conversation/573972896/81571?folderId=634609.

[2018-05-04 21:02] michaelbeil opened #2659 "Email settings are not saved in 2.2 Beta 1"
It seems like the email settings are not being saved correctly in our current beta version of 2.2.

When you change the notifications and save the page, these settings do not save.

![tnurue](https://user-images.githubusercontent.com/4752949/39652789-0fbe360a-4fef-11e8-83bd-381a8b8a1f66.png)

However, this does _not_ occur in the `release/2.2` branch: https://github.com/AffiliateWP/AffiliateWP/tre

[2018-05-05 16:48] michaelbeil commented on #2511
Presale questions regarding this feature: https://secure.helpscout.net/conversation/574822239/81637?folderId=634609.

I will get in touch with her when this feature is released.

[2018-05-07 02:31] pippinsplugins commented on #2093
PR looks good, we can merge after 2.2 is released.

[2018-05-07 04:54] amdrew commented on #2637
@pippinsplugins I think if we're going to allow the label to be changed, it should also be possible to change the "Agree to our" text. I see why it's not included but perhaps there's a better way.

The description of the input clearly says "Enter the label you would like shown for the terms of use checkbox". A customer may enter some additional text in front such as "Accept our" without realizing

[2018-05-07 08:47] tubiz commented on #2655
@pippinsplugins I will need a copy of the Formidable Pro plugin.

[2018-05-07 13:51] pippinsplugins commented on #2658
This has never been linked. S2Member doesn't store transaction records so there isn't anything to link it to.

[2018-05-07 13:51] #2658 closed

[2018-05-07 14:02] DavidAnderson684 opened #2660 "GDPR: Include affiliate data in a user's export"
I only see one issue here in Gitlab that mentions the GDPR (https://github.com/AffiliateWP/AffiliateWP/issues/2637), and nothing else of relevance on the commit log. So, I think at least the following issues need a resolution before a website owner using Affiiate-WP can be GDPR-compliant:

- All data stored by Affiliate WP that is linked to an identifiable user that is not already included (i.e. s

[2018-05-07 20:12] pippinsplugins commented on #2655
@tubiz Formidable is free on WordPress.org. You should not need to Pro version to replicate.

[2018-05-07 20:15] pippinsplugins commented on #2637
I didn't do that because it caused problems with auto linking to the terms page, which we have defined in an option above. We could always allow custom HTML but then the terms page selection has no value.

[2018-05-07 22:08] amdrew commented on #2637
What was the problem? String replace on the text inside the curly brackets and link to the page set in the select menu above.

Another option is to leave as-is but we need to make it clear in the description that it's addition to the "Agree to our" text already there.

[2018-05-07 22:41] gspice opened #2662 "Integration: Give donation form calculating incorrect referral amounts"
First reported on this HS ticket:
https://secure.helpscout.net/conversation/576139515/81733?folderId=1170842

AffiliateWP version 2.1.7 or beta 2.2:
Give - donation plugin 2.1.2

I setup a Give donation form test on our sandbox site here
http://s14890.p27.sites.pressdns.com/woo/donations/give-donation/

Donation was $10.00 or $100.00
Referral rate: 10%
Referral amount 0.01 in both cases

[2018-05-08 00:51] pippinsplugins commented on #2637
String replace on what? Are you suggesting we simply have customers enter brackets around the text they want linked to the terms page?

Sorry, not sure I follow your comment.

[2018-05-08 01:05] pippinsplugins commented on #2659
@michaelbeil this works fine for me. Could you please test it on the latest `release/2.2` branch?

[2018-05-08 01:28] amdrew commented on #2637
Yes, we could wrap the text inside the input with curly brackets which would become the actual link.

Example of how the input could look:

`Agree to our {Terms of use and privacy policy}`

Not sure if there's a nicer way to approach it. Or, we leave as-is but update the description to be more clear.

[2018-05-08 09:01] tubiz commented on #2662
PR: #2663

[2018-05-08 09:37] tubiz commented on #2655
@pippinsplugins I was able to replicate the issue using the Formidable plugin on WordPress.org

A referral is mark as complete using the `frm_after_payment_completed` hook which isn't present in the Formidable plugin but in any the Formidable payment add-ons.

[2018-05-08 12:08] michaelbeil opened #2664 "Error shown when a Zippy Course theme is active"
A user is experiencing the following problem:

`Fatal error: Uncaught Error: Call to a member function getEmail() on null in /srv/users/serverpilot/apps/personalscripter/public/wp-content/plugins/affiliate-wp/includes/integrations/class-zippycourses.php:163 Stack trace: #0 /srv/users/serverpilot/apps/personalscripter/public/wp-includes/class-wp-hook.php(286): Affiliate_WP_ZippyCourses->add_pending

[2018-05-08 16:52] gspice commented on #2662
Tested and it is working great!

* If the donation form does not have it's own rate, it uses the global rate.
* If it _does_ have it's own referral rate, it correctly uses that resulting in the correct calculations.

[2018-05-08 18:06] #2662 closed

[2018-05-08 18:08] pippinsplugins commented on #2638
@gspice in that case I'm going to go ahead and merge this. We can consider additional compatibility changes for that add-on if needed in another release.

[2018-05-08 18:09] #2638 closed

[2018-05-08 18:15] pippinsplugins commented on #2655
Maybe we should go ahead and introduce an option for the default referral status on a form then? That could work well after 2.2 is released when we have referral types for `lead` and `opt-in` added.

[2018-05-08 18:20] pippinsplugins commented on #2659
Michael confirmed in Slack that the settings save properly on latest `release/2.2`.

[2018-05-08 18:20] #2659 closed

[2018-05-08 18:59] pippinsplugins commented on #2541
@tubiz Could you update the description to indicate that the field will be removed if not required?

[2018-05-08 19:00] pippinsplugins commented on #2201
@gspice @michaelbeil could both of you please test this?

[2018-05-08 19:01] pippinsplugins commented on #2210
@gspice @michaelbeil ready for testing.

[2018-05-08 19:58] #2664 closed

[2018-05-08 20:17] wilkdavis commented on #2655
(not really a github user so please forgive me if jumping into your thread here is impolite).
It looks like that frm_after_payment_completed hook is no longer used.  I sent the following over to Formidable and got the response below...
----me, to Formidable----
Github issue comment:
"A referral is mark as complete using the frm_after_payment_completed"

(Mostly just curious and trying to follow al

[2018-05-08 20:55] pippinsplugins commented on #2655
@tubiz could you please verify the hooks above and then update our integration to support them?

[2018-05-08 21:11] gspice commented on #2201
Did a WC test purchase with these changes.  Assuming all is well since I see  `Pending Referral #228 created successfully.` in the debug log:

[code]

[2018-05-08 21:13] pippinsplugins commented on #2201
@gspice all amounts are correct?

Please also test with with an affiliate coupon present.

[2018-05-08 21:57] gspice commented on #2201
Referral amounts are correct on a standard purchase, using a coupon discount but had cookie in browser from an affiliate link.

When I _removed_ the cookie and used a coupon assigned to an affiliate, no referral was created. I tried two different coupon codes assigned to different affiliates.  Debug log has this:

[code]

[2018-05-08 21:58] DustinSartoris commented on #1576
I am anxiously waiting for this integration. Anyone?

[2018-05-08 22:28] tubiz commented on #2655
@pippinsplugins I will need a copy of the Stripe, PayPal and Authorize.net Formidable addons.

[2018-05-09 00:13] tubiz commented on #2541
@pippinsplugins PR updated.

<img width="1242" alt="affwp 2541" src="https://user-images.githubusercontent.com/602184/39789166-32120594-5326-11e8-9c05-f3bb4fd9bd9b.png">

[2018-05-09 01:07] pippinsplugins commented on #1576
We do not currently have a planned ETA for this but will keep it open as a future possibility.

[2018-05-09 01:15] tubiz commented on #2201
@gspice the PR has been updated to fix the issue with referrals not created when an affiliate coupon is used.

[2018-05-09 01:26] #2541 closed

[2018-05-09 01:29] pippinsplugins commented on #2637
I feel that would cause confusion.

What if we separated it into two settings fields, one for the `Agree to our` label and one for the `Terms of use and privacy policy` link? I don't love that either but it could work.

[2018-05-09 01:45] pippinsplugins commented on #2660
I'm going to be working on this soon and will try to have it completed before the deadline.

[2018-05-09 02:07] pippinsplugins commented on #2660
First pass at this is complete. The personal data export will now include an `Affiliate Record` if there is one:
![image](https://user-images.githubusercontent.com/1034109/39791933-cacdd740-5303-11e8-8b4e-f2c7938ce337.png)

[2018-05-09 02:38] pippinsplugins commented on #2660
I've also added an export for the (new in 2.2) customer records.

[2018-05-09 02:43] amdrew commented on #2637
Don't love it either but it seems like a good compromise.

[2018-05-09 02:50] pippinsplugins commented on #2660
@amdrew @DrewAPicture could I get your reviews on this please?

Note: this depends on WP nightly builds.

You need to test both the personal data exporter and the personal data eraser.

[2018-05-09 04:13] DustinSartoris commented on #1576
@pippinsplugins How much would it take to bribe you into making it a priority? :)

[2018-05-09 12:42] pippinsplugins commented on #1576
We do not offer custom development but we have trusted consultants that are available: https://affiliatewp.com/consultants

[2018-05-09 15:39] michaelbeil commented on #2201
Referrals are generated from both an affiliate link and an affiliate coupon correctly.

[2018-05-09 15:55] michaelbeil commented on #2210
When you search for an exact URL within the visits page, only the number of visits that specific URL are displayed. No matter what URL I use, the exact number of visits are shown.

This is working good for me!

[2018-05-09 16:18] gspice commented on #2201
@tubiz Verified the fix!

* Tested with affiliate coupon without link tracking/cookie
* Also tested with link tracking.

Meaning, I used an affiliate's link, but then used a coupon assigned to a _different_ affiliate, and the coupon'd affiliate received the referral, which is correct. 👍

[2018-05-09 17:19] DrewAPicture commented on #2660
Tested both and they work well and display our strings.

Note: I moved the class file to includes/admin/utilities and renamed it to `AffWP\Utils\Privacy_Tools`, an now it's instantiated via `Affiliate_WP_Utilities` instead of the main bootstrap. This is mostly because it's very much a utility class and I think we should treat it as such rather than giving it first-class instantiation via the main

[2018-05-09 18:28] verioussmith commented on #1576
I have many uses for this integration pre planned.

[2018-05-09 20:40] gspice commented on #2210
Its working for me as well.  Af first I wasn't sure, then I realized previously `url:` did not work in the search on the **Visits** page and now it does with the change. 👍

[2018-05-09 23:50] amdrew commented on #2660
@pippinsplugins On my export file I see a blank value for payment email and name since those were not entered. I also see just an `Affiliate Customer Record` heading.

<img width="917" alt="screen shot 2018-05-10 at 11 41 02 am" src="https://user-images.githubusercontent.com/52581/39845097-f2af0e06-5447-11e8-9bc8-c40a6bf6619d.png">

I'm not too familiar with GDPR, but how about we hide any row or

[2018-05-09 23:54] amdrew commented on #2660
Other than that, both exporting and deleting works well! 👍

[2018-05-10 06:32] wp-networks commented on #1576
...just wanted to note: an alternative to Pro Sites is WP Ultimo which already offers an integration with AffiliateWP - see: https://wpultimo.com/addons?addon=wp-ultimo-affiliatewp

(and fwiw, despite some rough edges, strongly prefer WP Ultimo to Pro Sites - esp bcs there is also an integration offered with WooCommerce for billing, which was so often an issue with Pro Sites)

[2018-05-10 16:54] gspice commented on #2638
After further testing, confirmed that with our *AffiliateWP 2.1.18* update and:

* Paid Member Subscriptions - Discount Codes Add-on 1.2.4 or higher
* Paid Member Subscriptions - Recurring Payments for PayPal Standard 1.1.1 or higher

Referrals are created with and without the recurring PayPal add on and discount codes assigned to affiliates create referrals as expected.

[2018-05-11 11:43] tubiz commented on #2369
PR: #2667

[2018-05-11 11:58] michaelbeil commented on #2369
@tubiz what is the best way to test this? I guess, how do I make sure that this fixes the problem?

[2018-05-11 12:10] tubiz commented on #2369
@michaelbeil

#### To Replicate
* Edit any unpaid referral in the database and set the `affiliate_id` to `0`
* Click on the `Generate Payout File` on the Referrals page
* The batch process to generate the payout file will never finish.

The fix will ensure that the generate payout batch process finish and not to generate any payout for any referral with the `afffiliate_id` set to `0`

[2018-05-11 13:39] pippinsplugins commented on #2369
Merged into 2.2!

[2018-05-11 13:39] #2369 closed

[2018-05-11 19:44] michaelbeil opened #2668 "Referrals not rejected with orders that have a canceled/failed status"
Referrals screen:
![s51loh](https://user-images.githubusercontent.com/4752949/39943702-310ff8f0-5564-11e8-8748-7bab8057827c.png)
Orders screen:
![vfdwt6](https://user-images.githubusercontent.com/4752949/39943710-356d11bc-5564-11e8-8b4a-46c87bf70d81.png)
Order details screen:
![qfixas](https://user-images.githubusercontent.com/4752949/39944244-3b20a040-5566-11e8-8ce8-b28d29a0006c.png)

Ticket: htt

[2018-05-11 19:52] pippinsplugins commented on #2668
@michaelbeil can you please get a screenshot of the full order details screens?

[2018-05-11 19:57] michaelbeil commented on #2668
I went ahead and added that screenshot into my description above.

[2018-05-12 18:01] tubiz commented on #2668
A referral with a pending status can't be rejected.

https://github.com/AffiliateWP/AffiliateWP/blob/1bf0167bdcb77b94f6472e55efe2b8df3aa71b2e/includes/integrations/class-base.php#L262-L266

[2018-05-14 01:49] pippinsplugins commented on #2668
Leaving an order as pending is okay, I think. The tickets above, however, mention that referrals were marked as Unpaid somehow but then not changed to rejected.

@tubiz could you please test and confirm that unpaid referrals get rejected when an order is marked as failed or cancelled?

[2018-05-14 02:00] pippinsplugins commented on #2655
@tubiz I will see if I can get them

[2018-05-14 11:40] michaelbeil commented on #1412
Is there an update for this that I should test? I don't see anything recently.

[2018-05-14 11:46] michaelbeil commented on #2650
PR fixes the issue.

[2018-05-14 12:25] michaelbeil commented on #1412
Alright. Is there anything that I should test still?

[2018-05-14 12:29] pippinsplugins commented on #1412
No.

[2018-05-14 12:30] michaelbeil commented on #1412
Okay, thanks for letting me know.

[2018-05-14 12:50] tubiz commented on #2668
@pippinsplugins I have tested this and noticed that unpaid referrals are not rejected for these order statuses transition.

- processing to failed
- completed to failed

I have submitted a PR to fix it.

PR: #2669

[2018-05-14 13:05] michaelbeil commented on #1080
It does not appear like the affiliate ID is linked in this PR.

[2018-05-14 13:06] michaelbeil commented on #1430
A referral rejected note is properly added to the referred order payment details page.

[2018-05-14 13:18] michaelbeil commented on #2173
This works wonderfully.

I love that there is a WYSIWYG editor:
![rzsvgu](https://user-images.githubusercontent.com/4752949/39999655-f073099a-5789-11e8-98ca-2506b3356be1.png)

The description is now displayed above the creative in the affiliate area:
![wqfhb3](https://user-images.githubusercontent.com/4752949/39999667-f52cc098-5789-11e8-8c79-8d38ed53c408.png)

[2018-05-14 13:48] pippinsplugins commented on #2668
Thanks @tubiz! Merged into `release/2.2`.

[2018-05-14 13:48] #2668 closed

[2018-05-14 13:52] pippinsplugins commented on #2660
So far I haven't found a way to hide a section that doesn't have data. Doing so results in the WP core export process erring.

[2018-05-14 14:42] pippinsplugins commented on #2660
I've updated this to show a `No records found` message when there is no relevant data.
<img width="1072" alt="screen shot 2018-05-14 at 9 41 46 am" src="https://user-images.githubusercontent.com/1034109/40004348-20d5bbf2-575b-11e8-85c9-fe79eee46350.png">

[2018-05-14 15:40] #2660 closed

[2018-05-14 20:33] pippinsplugins commented on #2637
@amdrew try that. I don't love it but it does work.
<img width="840" alt="screen shot 2018-05-14 at 3 33 46 pm" src="https://user-images.githubusercontent.com/1034109/40021973-37c52786-578c-11e8-8289-eec58df59d5b.png">

[2018-05-14 21:25] amdrew commented on #2637
@pippinsplugins Let's remove the terms of use label from the front-end when it's been cleared out in the settings. A user may like to make the whole line linked like this:

<img width="816" alt="screen shot 2018-05-15 at 9 21 43 am" src="https://user-images.githubusercontent.com/52581/40024146-7c28fdcc-5821-11e8-8f64-6aa3e2fc47d8.png">

<img width="553" alt="screen shot 2018-05-15 at 9 23 34 am" s

[2018-05-14 22:11] pippinsplugins commented on #2637
Maybe we should just make the entire text a link and have one setting? That's better than two settings that create a single sentence.

Okay with that?

[2018-05-14 22:56] amdrew commented on #2637
@pippinsplugins Yeah, let's do that 👍

[2018-05-15 15:55] michaelbeil opened #2670 "Update Dutch translation"
A customer updated the Dutch translation with some less formal words and corrected words.

Ticket: https://secure.helpscout.net/conversation/581321862/82186?folderId=205524.

[2018-05-16 15:58] michaelbeil commented on #2548
https://secure.helpscout.net/conversation/582152524/82313?folderId=205524

[2018-05-17 13:59] pippinsplugins opened #2672 "Referral creation fails if description column set to NULL"
When creating referrals, the creation call will fail if the `description` column is set to `NULL`. All other empty values work fine but `NULL` fails because we have `NOT NULL` set on the `description` column.

[2018-05-17 14:10] michaelbeil opened #2674 "Flat referral rate type generates a referral above $0 on a $0 subscription trial"
A flat referral rate type generates a referral that is greater then $0 on a $0 subscription trial.

A $0 referral is calculated correctly with the percentage referral rate type.

Ticket: https://secure.helpscout.net/conversation/582708275/82366?folderId=634609.

[2018-05-17 19:11] gspice commented on #1647
Another request for this, wants to payout a lower percentage when a discount coupon is used so the business is not losing the sales $$, it will essentially come out of the affiliate's earnings.
https://secure.helpscout.net/conversation/582975748/82390?folderId=1170842

[2018-05-18 03:00] pippinsplugins commented on #2674
This is the correct behavior since a flat rate referral will _always_ come out equal to the amount defined as the "flat rate value".

[2018-05-18 03:00] #2674 closed

[2018-05-18 13:49] michaelbeil commented on #1359
https://secure.helpscout.net/conversation/583134503/82402?folderId=205524

[2018-05-18 13:57] #2672 closed

[2018-05-18 14:06] pippinsplugins commented on #2637
Ready for re-review!

[2018-05-18 15:51] pippinsplugins commented on #2590
@gspice how's that wording?

[2018-05-18 15:53] gspice commented on #2590
@pippinsplugins That works!  I'll make sure the docs have a note as well.

[2018-05-18 16:07] #2590 closed

[2018-05-18 23:50] amdrew commented on #2637
@pippinsplugins

I think the default text in `class-settings.php` and `register.php` should be changed to:

`Agree to our Terms of Use and Privacy Policy`

vs

`Agree to our terms of use and privacy policy`

Just looking at other pages such as https://www.apple.com/nz/legal/internet-services/terms/site.html and https://policies.google.com/privacy

While you're in there, can you add a `.` to the en

[2018-05-19 12:49] pippinsplugins commented on #2637
Done.

[2018-05-20 03:30] #2637 closed

[2018-05-21 09:57] tubiz commented on #2293
@gspice I was able to replicate this issue. But I noticed that when I set the referral variable to something different from `ref` everything works perfectly.

Also I was unable to replicate on a new WordPress install with AffiliateWP and LifterLMS installed.

Can you pls try and see if you can replicate it again on a new WordPress install?

- LifterLMS Version: 3.18.1
- AffiliateWP Version: 2.1.18

[2018-05-21 16:31] pippinsplugins commented on #2655
@gspice could you test this when able?

[2018-05-22 12:14] michaelbeil commented on #2483
https://secure.helpscout.net/conversation/567035939/80890/

[2018-05-22 13:08] michaelbeil commented on #565
https://secure.helpscout.net/conversation/585131193/82564/?folderId=634609

[2018-05-22 16:26] michaelbeil opened #2677 "The translation of this string is currently off in Argentine Spanish"
https://github.com/AffiliateWP/AffiliateWP/blob/80501b5e36af35d18a00e48c84f391ae34b50a37/languages/affiliate-wp-es_AR.po#L5704-L5705
It should be Peso Argentino.

[2018-05-22 22:05] gspice commented on #2655
@tubiz Still have a `Pending` referral when using only the form plugin (not the gateway add-ons), should this also be complete, a status of `Unpaid`?

[2018-05-22 22:29] gspice commented on #2293
@tubiz Not able to reproduce, I guess we can close this one.

I created a new site locally with:

* LifterLMS 3.18.1
* AffiliateWP 2.2
* Active theme 2017
* Homepage set to static page
* WP 4.9.6
* Removed all posts from the site

Tested with referral variable as default `ref` and changed the value to another, both worked correctly sharing the home domain with an affiliate id or affiliate name.

[2018-05-22 23:37] DavidAnderson684 opened #2680 "Option to purge affiliate_wp_visits on a schedule"
There does not appear to be an option to purge the table affiliate_wp_visits of old data. It grows continuously. It also logs IP addresses which all commentators I've seen say is classified as "personal data" under the EU's GDPR law, which has various implications.

[2018-05-23 09:38] tubiz opened #2681 "Database error: Column 'email' cannot be null for query INSERT INTO wp_affiliate_wp_customers"
When a referral is created via the Contact Form 7 and Formidable Pro integrations the database error below is shown, due to the customer email not present.

[code]

[2018-05-23 09:43] tubiz commented on #2681
PR: #2682

[2018-05-23 11:21] tubiz commented on #2655
@gspice a pending referral can only be marked as complete using the gateway add-ons.

@pippinsplugins now that 2.2 is released, can I create an issue for an option to be added for the default referral status for lead and opt-in referrals. This will allow us to mark the referral as complete after it is created if it is a lead or opt-in referral.

[2018-05-23 18:48] gspice commented on #2655
@tubiz Got it, sorry about that.  I tested again using your changes and the Formidable PayPal add-on and when it changed the Formidable PayPal payment status to `Complete`, it changed the Referral status correctly to `Unpaid`.

[2018-05-23 19:56] pippinsplugins commented on #2655
@tubiz yes, go ahead and dmake an issue for that.

[2018-05-24 09:49] bvbnjghui commented on #1423
looks like `sanitize_text_field()` removed the encoded Chinese.
maybe could decode before the sanitize?
same problem when storing the campaign.

[2018-05-24 10:34] michaelbeil opened #2684 "Disable IP address logging"
We should add an option to disable IP address logging.

Ticket: https://secure.helpscout.net/conversation/586272751/82700/.

[2018-05-24 13:12] tubiz opened #2685 "Add setting for default referral status for lead and opt-in referrals"
Add an option in the settings page for the default referral status for lead and opt-in referrals.

This will allow us to mark a referral as complete after it is created if it is a lead or opt-in referral.

[2018-05-24 14:46] michaelbeil opened #2686 "Zippy Courses is not generating a referral"
Here are the steps that are taken:

1. https://test.com/product/test-product/offer/affiliate/
2. click buy now
3. select pay with cc option
4. pay with cc
5. return to thank you page: https://test.com/thank-you/?amt=1.00&cc=USD&cm=VM8joOnm&item_name=Test%20Product&st=Completed&tx=83M54939RA9568042
6. at this point I stopped because I saw the same error in the debug log

Zippy courses allows a user

[2018-05-24 15:55] cshanejennings commented on #2686
@pippinsplugins - This is being used on subdomain of a multisite instance. I only saw a change in the cookies for the parent site and saw no change in the subdomain's cookies since the first visit.  It's possible they could be happening here.

The failure seems to happen here: https://github.com/AffiliateWP/AffiliateWP/blob/80501b5e36af35d18a00e48c84f391ae34b50a37/includes/integrations/class-base.

[2018-05-24 17:11] cshanejennings commented on #2686
UPDATE:  I followed the instructions here: https://docs.affiliatewp.com/article/138-will-affiliatewp-work-on-a-multisite-installation and added the wp-config flag, flushed all site and local caches and re-ran the test with the same error in the debug log as above.  but... the cookie now shows entries for AffiliateWP:

![updated cookies](https://user-images.githubusercontent.com/547913/40500641-5f0

[2018-05-24 17:11] #2681 closed

[2018-05-24 20:39] gspice opened #2687 "Admin - Tools - Export/Import - Import affiliates and referrals disable emails suggestion"
I think it would be helpful to add text to the sections below warning that they may wish to disable email notifications before importing affiliates or referrals.  If they don't and emails are enabled, they will be sent during the import process which may cause confusion with their affiliates.  I've added a warning note to the docs pages for these two imports, but a user may not see that before cli

[2018-05-25 02:36] pippinsplugins commented on #2686
@tubiz could you dig into this?

[2018-05-25 03:03] pippinsplugins commented on #2685
`Opt-in` referrals have a status option already in the `Opt-in Forms` tab.

[2018-05-25 03:06] pippinsplugins commented on #2684
@tubiz could you put this at the top of your list to finish?

[2018-05-25 06:18] tubiz commented on #2686
@pippinsplugins I will need a copy of the Zippy Courses plugin

[2018-05-25 08:11] tubiz opened #2688 "Undefined variable: args when updating a customer record in the Affiliate_WP_Customers_DB class"
The notice below is shown when updating a customer record using the `update()` method in the `Affiliate_WP_Customers_DB` class

` PHP Notice:  Undefined variable: args in /app/public/wp-content/plugins/affiliate-wp/includes/class-customers-db.php on line 436`

[2018-05-25 12:07] tubiz commented on #2684
PR: #2690

[2018-05-25 13:13] pippinsplugins commented on #2688
Merged!

[2018-05-25 13:13] #2688 closed

[2018-05-25 13:28] tubiz commented on #2229
@DrewAPicture please can you explain what needs to be done for this issue.

[2018-05-25 14:22] tubiz commented on #2685
@pippinsplugins I saw that. The additional default referral status option will be for the lead referral type.

[2018-05-25 23:08] pippinsplugins commented on #2686
Copy sent!

[2018-05-26 16:31] michaelbeil opened #2692 "A description is not being made for referrals generated through WP Simple Pay"
For some reason, a description is not being made or referrals generated through WP Simple Pay.

Ticket: https://secure.helpscout.net/conversation/588791585/83007?folderId=205527.

[2018-05-27 02:58] pippinsplugins commented on #2692
Related https://github.com/AffiliateWP/AffiliateWP/issues/2672

[2018-05-27 12:07] michaelbeil commented on #2684
Related #2680.

[2018-05-28 07:18] tubiz commented on #2686
@michaelbeil I have been unable to replicate this issue.

From the debug log above, the reason why the referral wasn't created was because the `affiliate_id` used to create the referral is `0` which is strange because the visit was recorded for the affiliate with `affiliate_id` `4`

From your test which gateway are you using and how is your environment setup. Is it a multi-site or single site.

[2018-05-28 09:51] michaelbeil commented on #2686
Alright, I'm getting in touch with the customer about the environment setup.

I have not been able to replicate this issue yet on a multisite using Stripe.

[2018-05-29 08:26] michaelbeil opened #2693 "Exclude items that are on sale from generating referrals"
We received this feature request from a prospective customer:

Is this something that we are interested in?

Ticket: https://secure.helpscout.net/conversation/584642907/82519?folderId=634609.

[2018-05-29 13:42] pippinsplugins commented on #2693
We have a `Disable referrals` referrals option on products in WooCommerce. They will just need to check that box for each product they wish to exclude from referral creation.

[2018-05-29 13:44] michaelbeil commented on #2693
I explained that to them, but it seemed like it would be too difficult for them with the amount of products they have during a sale.

[2018-05-29 13:47] pippinsplugins commented on #2693
If we get additional requests for it we can maybe consider it.

[2018-05-30 09:14] michaelbeil opened #2694 "Add a drop-down for the context field in the add new referral screen"
Ticket: https://secure.helpscout.net/conversation/574774785/0/?folderId=205529.

[2018-05-30 11:49] michaelbeil opened #2695 "Password reset URL being sent out on affiliate application acceptance/pending email"
When the password field is required on an affiliate registration,  the application acceptance email includes a password reset URL:
![screen shot on 2018-05-30 at 13_41_48](https://user-images.githubusercontent.com/4752949/40718175-67703c2a-640f-11e8-8087-426e00336717.png)

Users do not want this password email reset link being sent out.

Tickets:

- https://secure.helpscout.net/conversation/590892

[2018-05-30 11:58] michaelbeil opened #2696 "Manually generate affiliate emails for testing"
A customer requested the following:

Ticket: https://secure.helpscout.net/conversation/590892847/83212?folderId=205529.

[2018-05-30 12:27] tubiz commented on #2695
PR: #2697

[2018-05-30 12:40] michaelbeil commented on #2695
PR fixes the issue.

[2018-05-30 13:22] tubiz opened #2698 "affiliate_id customermeta not added in WooCommerce integration"
When a referral is created via the WooCommerce integration the `affiliate_id` customermeta is not added because the WooCommerce integration isn't using the `insert_pending_referral()` method yet, which make sure that the `affiliate_id` is always set.

https://github.com/AffiliateWP/AffiliateWP/blob/677fdab97aa29a30842e04d824af2c062cceffed/includes/integrations/class-base.php#L148-L150

A PR #2647

[2018-05-30 13:58] pippinsplugins commented on #2698
Let's take care of this through #2647

[2018-05-30 15:58] michaelbeil commented on #2684
An IP address is not logged with the setting enabled to disable IP address logging in the attached PR.

[2018-05-30 16:17] pippinsplugins commented on #2684
@tubiz please see the one change request on the PR.

[2018-05-30 18:06] michaelbeil commented on #2686
Referrals are not being generated when on PayPal live mode.

Referrals are being generated on Stripe test/live mode and PayPal test mode.

Here is what the customer says:

information. You may need to contact Zippy Courses about where to get the
information needed for that function as it doesn't seem to be available
through the hook you are currently using.

@tubiz Do you have any ideas on my refe

[2018-05-30 18:15] #2684 closed

[2018-05-30 18:44] tubiz commented on #2686
@michaelbeil I will test again on PayPal live mode. Can the customer use another affiliate link to test again?

[2018-05-30 18:57] michaelbeil commented on #2686
Alright. I will check with the customer to test with a different affiliate link.

[2018-05-30 19:00] DrewAPicture commented on #2680
Also as mentioned, you could do something like this with wp-cli:
[code]

Obviously not the fastest solution in the world but it should work :-P

[2018-05-30 20:32] pippinsplugins opened #2699 ""OptimizeMember referral validation failed. Missing affiliate ID." always logged, even when affiliate ID is present"
This message is logged every time, even when the affiliate ID is present, when processing payment notifications:

[2018-05-30 20:33] #2699 closed

[2018-05-30 20:40] #2583 closed

[2018-05-30 20:41] #2592 closed

[2018-05-30 20:42] #2568 closed

[2018-05-30 20:43] pippinsplugins commented on #2470
@DrewAPicture could you take a few moments to resolve the merge conflicts here?

[2018-05-30 20:44] #2173 closed

[2018-05-30 20:54] pippinsplugins opened #2701 "Add debug log entry to complete_referral() when no record found for provided reference"
The `complete_referral()` method logs a debug entry at each failure point except when there wasn't a referral found via the given reference field.

[code]

To aid in debugging, we should add a log entry here.

[2018-05-30 20:58] #2701 closed

[2018-05-30 21:16] DrewAPicture commented on #2470
@pippinsplugins Fixed merge conflicts in 7 files and updated versions for stuff getting introduced from 2.2 to 2.2.2. Also renamed what _was_ `v22_upgrades()` in the PR to `v222_upgrades()` and added the new conditional to fire it.

[2018-05-30 21:17] DrewAPicture commented on #2470
Oh, and I also updated the base branch for the PR to `master` from `release/2.2`.

[2018-05-31 01:15] DrewAPicture commented on #2229
@tubiz Pretty much exactly what it says. Any CRUD functions in the outer abstraction layers, i.e. `affwp_get_affiliate()`, `affwp_update_affiliate()` etc. should be nothing more than wrappers for the database layer methods: `affiliate_wp()->affiliates->update()` et al.

For instance, right now there's some processing stuff that only happens in the outer layers, which sometimes causes inconsistenci

[2018-05-31 01:16] DrewAPicture commented on #2229
And the same goes for basically all of the core objects. There's divided responsibility across the board that needs to be consolidated into the database middleware methods. It's gonna nullify the need for some tests that are only written for the wrapper functions currently.

[2018-05-31 01:57] pippinsplugins commented on #2470
@DrewAPicture looking at this now I don't think I understand the use case for it. Could you tell me a hypothetical use case?

[2018-05-31 02:08] DrewAPicture commented on #2470
The intention was to have a ID-like field set aside for use over REST
between external sites/APIs to interact with core AffiliateWP objects and
have a place to store 1:1 or even 1:many connections, which is why they are
defined as strings.

I anticipated the need to store more than just a remote object id, perhaps
also contextual pointers to tie that id to a specific external site or API
identifie

[2018-05-31 02:11] DrewAPicture commented on #2470
For example, say you have a remote API that you want to "tie" a local object to, you might update the rest_id for the local object to include the remote ID and some contextual information about that remote service, i.e. "1:SomeRegisteredAPI".

[2018-05-31 02:13] DrewAPicture commented on #2470
The addition of the new field doesn't do anything on it's own, but it certainly opens the door for some interesting first-hand or third-party add-ons to build out their own "registries" to interact with local objects. AffWP would simply provide a connection point and minimal API for interacting with that information.

[2018-05-31 04:37] amdrew commented on #2201
👍Will test tomorrow

[2018-05-31 09:36] tubiz commented on #2229
Thanks for the explanation.

[2018-05-31 15:45] michaelbeil commented on #2686
The customer tested with a different affiliate link and a referral was successfully generated.

@tubiz Are you able to generate a referral on PayPal live mode?

[2018-05-31 18:08] #2670 closed

[2018-05-31 18:08] #2635 closed

[2018-05-31 18:11] #2640 closed

[2018-06-01 00:24] amdrew opened #2704 "WooCommerce: Leaving "Affiliate Rate" field blank doesn't use default rate"
Tested with latest AffiliateWP master and WooCommerce 3.4.1.

On a WooCommerce product, when `Affiliate Rate` is left blank, it's generating $0.00 referrals. Like the help tooltip suggests next to the input field, leaving the field blank should use the default rate. In my case that should be `20%`, which is the global referral rate.

### Example 1:
$100 product
Global referral rate of 20%
`Affilia

[2018-06-01 00:54] amdrew opened #2705 "WooCommerce: Referral should not be created when product has referrals disabled"
Tested with latest AffiliateWP master and WooCommerce 3.4.1.

If you disable referrals on a WooCommerce product, the referral is generated without a description.

<img width="778" alt="screen shot 2018-06-01 at 12 50 18 pm" src="https://user-images.githubusercontent.com/52581/40815470-d824f7c6-659a-11e8-9fbc-cce9ac5173b3.png">

<img width="1078" alt="screen shot 2018-06-01 at 12 54 00 pm" src="htt

[2018-06-01 01:32] amdrew commented on #2201
Tested with:

- Normal product referrals (using global rate)
- Disabling referrals per-product
- Per-product referral rates
- Per-category referral rates
- The `affwp_integration_create_referral` filter
- Affiliate coupons

All working well for me.

[2018-06-01 02:02] amdrew opened #2706 "When cancelling PayPal order, referral should move to rejected status if misc option is enabled"
Tested with latest AffiliateWP master and WooCommerce 3.4.1.

When completing checkout with the PayPal payment gateway and cancelling the order from the PayPal screen, I would expect the `Pending` referral to then have a `Rejected` status, if `Reject Unpaid Referrals on Refund` is enabled from the Misc settings. This doesn't seem to be the case. The order is cancelled, but the referral remains at

[2018-06-01 02:08] #2201 closed

[2018-06-01 02:09] #2698 closed

[2018-06-01 07:03] tubiz commented on #2704
PR: #2707

[2018-06-01 07:47] tubiz commented on #2705
@amdrew the PHP notice has been fixed in this PR: #2647 which was merged into master after you tested.

For the empty referral description, the default AffiliateWP behaviour is not to generate the description for any product that is disabled for referrals.

[2018-06-01 10:15] michaelbeil commented on #1080
This works perfectly now - the affiliate ID is linked in this PR.

[2018-06-01 13:26] tubiz commented on #2686
@michaelbeil I have't been able to test on PayPal live mode.

[2018-06-01 13:40] michaelbeil commented on #2686
@tubiz Alright.

@pippinsplugins I am not quite sure how to test in PayPal live mode. It seems like a [PDT Token](http://s14890.p27.sites.pressdns.com/wp-admin/admin.php?page=zippy-settings&tab=zippy_settings_payment) is required, but I cannot enable this without a PayPal business account: https://developer.paypal.com/docs/classic/products/payment-data-transfer/.

Can you add this to the test site

[2018-06-01 16:40] michaelbeil commented on #2686
Customer just said:

and I think we can close this out. Sorry it's so inconclusive, but I don't think this was related to AffiliateWP based on everything else we've seen. Thinking back on it, that account was created before I made the switch to multisite, so it could be some obscure condition coming from those
particular circumstances.

[2018-06-01 16:40] #2686 closed

[2018-06-03 12:42] michaelbeil opened #2708 "Automatically update the amount of a referral after the referred order has had the price manually adjusted"
A potential customer is wondering this:

I would like to ask if using affiliatewp plugin is the function as follows?

At this time, it is only possible if you manually edit a referral that is connected to an order that has been updated and adjusted. This does not happen automatically.

Is this a feature that we would want to include in the future?

[2018-06-03 22:18] amdrew opened #2709 "Error when viewing affiliate's payout"
Reported by customer here:
https://secure.helpscout.net/conversation/592914428/83390?folderId=205527

I have replicated the issue on both the customer's site and my own test site (using latest master branch).

### To replicate:

1. View the payouts screen (`/wp-admin/admin.php?page=affiliate-wp-payouts`) and then click on a payout to view it. Take note the URL:

    `/wp-admin/admin.php?page=affil

[2018-06-03 23:36] amdrew commented on #2705
@tubiz I think the actual issue here is not that the description is blank, but rather there's a referral generated at all. If a product is blocked from generating referrals, a referral should _not_ be created.

Here's the relevant setting in WooCommerce:

<img width="743" alt="screen shot 2018-06-04 at 11 29 53 am" src="https://user-images.githubusercontent.com/52581/40892388-9fef66aa-67ea-11e8-9c

[2018-06-03 23:49] amdrew commented on #2704
@tubiz @pippinsplugins Works for me. Tested with the Referral Rate Type set to Percentage and Flat, and both referrals were generated at the correct amounts.

[2018-06-04 00:42] tubiz commented on #2709
PR: #2710

[2018-06-04 02:43] tubiz commented on #2705
@amdrew yes I totally agree, a referral is not to be created. I was able to replicate the issue.

[2018-06-04 04:12] tubiz commented on #2705
@andrew if the disable referrals checkbox is checked for a product in WooCommerce and a customer purchase that product and two other products, a referral is generated based on the two other products.

Testing with Easy Digital Downloads, if two downloads are purchased one with referrals disabled, a referral is generated based on the other download.

We need to make sure that if a single product wi

[2018-06-04 13:28] #2704 closed

[2018-06-04 13:36] #2709 closed

[2018-06-04 14:51] michaelbeil commented on #2483
https://secure.helpscout.net/conversation/594391063/83484?folderId=205524

[2018-06-04 14:52] #1080 closed

[2018-06-04 15:58] ericgolftourney commented on #579
Did anyone make this happen yet? Split payments (multiple recurring payments for the same reference is what I am looking for!)

[2018-06-04 16:12] michaelbeil commented on #579
This is not a feature that is available in AffiliateWP. It _may_ be at some point in the future.

[2018-06-05 02:30] tubiz opened #2711 "Updating a customer record should only add a new affiliate_id customer meta if it doesn't exist."
Tested with latest AffiliateWP master and WooCommerce 3.4.1.

When a customer record is updated a new customer meta is always created even though it exist.

<img width="318" alt="customer meta screenshot" src="https://user-images.githubusercontent.com/602184/40951609-aea44f1e-686f-11e8-83b2-088f3dfb2ce6.png">

This shouldn't be the case as the customer meta should only be created if it doesn't exi

[2018-06-05 15:33] michaelbeil commented on #2695
https://secure.helpscout.net/conversation/595268364/83600/

[2018-06-05 15:38] tubiz commented on #2695
@michaelbeil this has been fixed and it will be in version 2.2.1

[2018-06-05 15:41] michaelbeil commented on #2695
Yes, I am well aware. I was simply making a note for a ticket. This user has been affected with this issue.

When 2.2.1 is released, I will send an update to the customer.

[2018-06-05 15:56] michaelbeil commented on #2483
https://secure.helpscout.net/conversation/587897810/82907?folderId=634609

[2018-06-05 19:50] pippinsplugins commented on #2705
@tubiz please go ahead and make this change.

[2018-06-05 21:05] amdrew commented on #2705
@tubiz The text change sounds good

[2018-06-05 21:36] tubiz commented on #2705
PR: #2712

[2018-06-05 23:01] amdrew commented on #2705
Ta, will test

[2018-06-06 00:03] amdrew commented on #2705
@tubiz @pippinsplugins This looks good to me.

One small note, but I feel it deserves its own issue so ignore for now:

The error being logged is `Referral not created due to empty description`. This could lead to a support ticket: "Why does my referral have an empty description"?

That error is misleading since the actual reason is the product had it's referrals disabled.

If we agree, I'll open

[2018-06-06 14:29] #2705 closed

[2018-06-06 18:03] gspice opened #2713 "Admin - Settings - General: some strings not translating"
There are four strings on the admin page _Affiliates -> Settings -> General_ that are not translating when a translation string is provided and the WordPress language is set under _Settings -> General_ - Site Language .

1. Select the page that shows the terms of use for Affiliate Registration.
2. Agree to our Terms of Use and Privacy Policy
3. Cookie Sharing
4. Select which fields should be requi

[2018-06-06 23:06] amdrew commented on #2713
@gspice My German language file has different translations, are you using latest mater?

Try opening the .po file in Poedit and find the text string in question using the find tool (CMD F) and see if the string has been properly translated. All the text strings have the correct text domain of `affiliate-wp` so they should all be translatable, but it really depends on the state of the language file

[2018-06-06 23:12] amdrew commented on #2713
The `Agree to our Terms of Use and Privacy Policy` text also doesn't have a translation in German currently, since it's a very new setting:

<img width="937" alt="screen shot 2018-06-07 at 11 09 21 am" src="https://user-images.githubusercontent.com/52581/41069776-7923da82-6a43-11e8-81f8-a874ebe22a7d.png">

It works though:

<img width="938" alt="screen shot 2018-06-07 at 11 11 15 am" src="https://

[2018-06-07 09:40] michaelbeil commented on #1359
https://secure.helpscout.net/conversation/596582137/83737?folderId=205524

[2018-06-07 19:43] gspice opened #2715 "WooCommerce integration - internal error displayed when users go to checkout page"
First reported on this HS ticket:
https://secure.helpscout.net/conversation/596202241/83699?folderId=1170842

AffiliateWP: 2.2.1
WooCommerce: 2.6.8

User receives `Internal Error` when going to the WC checkout page when AffiliateWP is active.  In the error logs it lists:

[code]

[2018-06-07 20:33] tubiz commented on #2715
PR: #2716

[2018-06-07 21:36] #2715 closed

[2018-06-07 21:52] DrewAPicture commented on #2715
At some point, it might not be a bad idea to add a WooCommerce version check helper into AffiliateWP core. We added one awhile back in the Order Details for Affiliates add-on: https://github.com/AffiliateWP/affiliatewp-order-details-for-affiliates/blob/master/affiliatewp-order-details-for-affiliates.php#L407-L423

[2018-06-08 09:22] michaelbeil commented on #565
https://secure.helpscout.net/conversation/597292906/83814/

[2018-06-08 12:32] michaelbeil commented on #2715
Another user reported this issue: https://secure.helpscout.net/conversation/597410916/83820?folderId=205524.

[2018-06-08 12:49] pippinsplugins commented on #2470
Whoops, this triggers a fatal error on non-multisites:

[08-Jun-2018 12:48:49 UTC] PHP Fatal error:  Uncaught Error: Call to undefined function switch_to_blog() in /dom7386/wp-content/plugins/affiliate-wp/includes/admin/class-upgrades.php:870
Stack trace:
#0 /dom7386/wp-content/plugins/affiliate-wp/includes/admin/class-upgrades.php(796): Affiliate_WP_Upgrades->get_sites_for_upgrade()
#1 /dom7386/w

[2018-06-08 12:54] #2470 closed

[2018-06-08 15:16] michaelbeil commented on #2695
This issue appears to be coming up again on a customer site: https://secure.helpscout.net/conversation/593642613/83434?folderId=634609.

I installed the latest version, but the password reset URL is still in the affiliate application acceptance email.

[2018-06-09 02:17] tubiz commented on #2695
PR: #2717

@michaelbeil help test the various affiliate registration process below
- Add registered user as an affiliate on the Add New Affiliate page in the admin
- Enable auto register new users as an affiliate, then add a new user on the Add New User page
- Set the password field to not required on the affiliate registration page then create a new affiliate account
- Set the password field to r

[2018-06-09 10:10] michaelbeil commented on #2695
This works wonderfully:

![screen shot 2018-06-09 at 12 09 11](https://user-images.githubusercontent.com/4752949/41190400-f8aeef62-6bdd-11e8-9eac-d97d09bf6099.png)

A password reset URL is not included in the application accepted or pending email.

[2018-06-11 16:19] gspice commented on #2214
Another request to use something other than the admin email for new affiliate registrations:
https://secure.helpscout.net/conversation/598394904/83901?folderId=205529

[2018-06-11 23:47] tubiz opened #2718 "The Mark as Paid link doesn't work on the referrals page"
The `Mark as Paid` link doesn't work on the Referrals page in version `2.2.2`

[2018-06-11 23:51] tubiz commented on #2718
PR: #2719

[2018-06-12 00:13] gspice opened #2720 "Customer with Kinsta hosting and WP Rocket unable to register new affiliates"
Reported on customer HS ticket:
https://secure.helpscout.net/conversation/567035939/80890?folderId=1170842

AffiliateWP: 2.2.2
Host: Kinsta
Plugin conflict: WP Rocket

_Customer has login credentials to a staging site on the HS ticket, free to do anything you need to on that site._

* To reproduce from the frontend, go to https://staging-avalonking.kinsta.com/ambassadors/join/ and register as an a

[2018-06-12 01:58] #2718 closed

[2018-06-12 11:31] ciorici commented on #602
I've found an add-on that seems to do most of the things related to affiliates invoicing:
https://kryptonitewp.com/downloads/payout-statements-for-affiliatewp/

[2018-06-12 14:36] flowdee commented on #602
Thanks for mentioning @ciorici.

Indeed this is my addon which I created for my very own purposes after replying to this issue in July 2016.

[2018-06-12 16:51] michaelbeil commented on #2695
Another customer is experiencing this issue: https://secure.helpscout.net/conversation/599762790/84022?folderId=205524.

[2018-06-12 17:05] #2695 closed

[2018-06-12 17:05] #2650 closed

[2018-06-12 17:06] #2655 closed

[2018-06-12 17:08] #2210 closed

[2018-06-12 22:03] gspice commented on #2713
@amdrew That's weird, I had a comment here and now it's gone.  Anyway, I was using Poedit and using Google Translate to put text in as the translation.  That said, I never saw that **Needs Work** slider, or anything to approve it, i.e. force the translation in, any tips on that?

[2018-06-13 01:46] amdrew commented on #2713
@gspice The "needs work" slider will show if there's an issue with the translation, such as missing a full stop in the new translation, when the original translation had one. It sounds like your translation was correct - Did you generate the new .mo files for the translation? First option under "Editing" from the app preferences (at least in my version, 2.0.8).

<img width="512" alt="screen shot 2

[2018-06-13 19:59] pippinsplugins commented on #2093
@michaelbeil could you please test this when back from WCEU?

[2018-06-14 07:11] tubiz opened #2721 "Customer not linked to the affiliate in PayPal integration"
A customer is never linked to the affiliate in the PayPal integration as the customer email is not available when the pending referral is created when the PayPal button is clicked.

The customer will have to be linked when the referral is mark as complete when the IPN is sent.

Related: https://github.com/AffiliateWP/affiliate-wp-lifetime-commissions/issues/47

[2018-06-14 08:05] tubiz opened #2722 "Add hook to the conversion_script() method"
Add a do_action `affwp_before_track_conversion` to the `conversion_script()` method immediately after `L181` here https://github.com/AffiliateWP/AffiliateWP/blob/c0b566c401a808cdf2029cf50bfd3c45ac2f6b51/includes/class-tracking.php#L141-L227

This will allow the Lifetime Commissions add-on to work with the `[affiliate_conversion_script]` shortcode.

Related: https://github.com/AffiliateWP/affiliate

[2018-06-14 11:04] tubiz commented on #2722
PR: #2723

[2018-06-14 12:06] michaelbeil commented on #2720
The same customer with this issue is contacting us again from a different ticket: https://secure.helpscout.net/conversation/599774326/84025/?folderId=634609.

[2018-06-14 13:05] tubiz commented on #2721
PR: #2724

[2018-06-14 15:47] pippinsplugins commented on #2722
The hook you've added is great though I think it needs some adjustment.

The name of the hook and the associated docs give the impression that the hook fires when a conversion is tracked, but that's not quite accurate. The hook is firing right before the JS that _maybe_ fires off a conversion creation is triggered. It really should be named something like `affwp_before_conversion_tracking_script`.

[2018-06-14 15:48] pippinsplugins commented on #2721
PR looks good here.

@amdrew could you please test it along with https://github.com/AffiliateWP/affiliate-wp-lifetime-commissions/issues/47?

[2018-06-14 16:54] tubiz commented on #2722
PR updated.

[2018-06-14 16:59] pippinsplugins commented on #2722
Merged.

[2018-06-14 16:59] #2722 closed

[2018-06-14 18:01] michaelbeil commented on #2093
The add affiliate link works well from the WP user screen. An affiliate is added successfully through this shortcut.

[2018-06-14 19:35] #2093 closed

[2018-06-15 02:34] amdrew commented on #2721
@tubiz @pippinsplugins 👍 Tested and it correctly links up the customer with the affiliate.

[2018-06-15 03:09] amdrew commented on #2721
There seems to be an issue with delinking the customer and affiliate manually, and then re-linking them. Have outlined this on the other issue, seems like it's more of a LC thing.

[2018-06-15 08:12] tubiz commented on #2721
I was able to replicate this issue. If an existing customer is unlinked from an affiliate, re-linking the customer to any affiliate doesn't work. I will create an issue for it.

[2018-06-15 15:49] michaelbeil opened #2725 "Reports are not displaying correct statistics"
When you view the reports for a specific affiliate, statistics are not updated for a specific time period. I added a referral for $15 _today_.

Example of last week for "michael": http://s14890.p27.sites.pressdns.com/wp-admin/admin.php?page=affiliate-wp-reports&tab=referral&range=last_week&affiliate_login=michael&submit=Filter.

![screen shot on 2018-06-15 at 17_43_45](https://user-images.githubus

[2018-06-15 18:09] gspice commented on #2444
Customer request this:  HS ticket

https://secure.helpscout.net/conversation/602097616/84261?folderId=205529

[2018-06-15 23:17] gspice commented on #2713
@amdrew I gave this another go and was successful in getting three of the four strings translated that I reported on the initial issue above.  For some reason that one string won't translate for me: `Agree to our Terms of Use and Privacy Policy`.  I tried a couple of languages.  I've copied my German po and mo files to our shared Dropbox folder, can you place them in your test site and see if they

[2018-06-16 02:45] tubiz commented on #2706
@amdrew you are right, the referral is meant to be cancelled when a transaction is refunded on PayPal and the "Reject Unpaid Referrals on Refund" checkbox is checked on the AffiliateWP settings page.

I was able to trace this issue to WooCommerce, as an order isn't set to refunded in WooCommerce when the transaction for the order is fully refunded on PayPal.

I have submitted a new issue for this

[2018-06-17 21:12] amdrew commented on #2706
Great 👍

[2018-06-17 21:38] amdrew commented on #2713
@gspice

Here's it translating correctly, note the empty label field in the admin on the left:

<img width="1834" alt="screen shot 2018-06-18 at 9 20 36 am" src="https://user-images.githubusercontent.com/52581/41512207-4bfb2814-72d9-11e8-9254-b2be6d86983d.png">

___

Here's it _not_ translating correctly, note how the label is populated in the admin to the left:

<img width="1811" alt="screen shot

[2018-06-17 21:45] amdrew commented on #2713
To improve on this, and to avoid confusion, I think we should show the default text (the text that is translated, if available) when the label field is cleared out.

___

So clearing out the label field and saving shouldn't show the following. It's confusing when the text is blank on the label field, yet text shows on the front-end. We would never want the text to be blank, since the entire purpos

[2018-06-17 21:52] amdrew opened #2726 "Clearing out terms label should show default text"
As discussed in https://github.com/AffiliateWP/AffiliateWP/issues/2713#issuecomment-397908622, clearing out the terms label should not show a blank field. This is confusing, since the text is blank in the admin, yet the front-end shows text:

<img width="1651" alt="screen shot 2018-06-18 at 9 40 51 am" src="https://user-images.githubusercontent.com/52581/41512490-195e7be6-72dd-11e8-8c08-94efd3f2d9

[2018-06-17 21:52] amdrew commented on #2713
Issue: https://github.com/AffiliateWP/AffiliateWP/issues/2726

[2018-06-18 10:19] tubiz commented on #2711
PR: #2727

[2018-06-18 12:53] #2711 closed

[2018-06-18 14:43] tubiz commented on #2726
PR: #2728

[2018-06-18 21:51] #2726 closed

[2018-06-19 13:16] michaelbeil opened #2729 "This error is showing up on the referrals table"
A customer is experiencing the following error:

I have not been able to replicate this issue yet.

Ticket: https://secure.helpscout.net/conversation/600924552/84152?folderId=634609.

[2018-06-19 16:07] DrewAPicture commented on #2729
Probably the result of a referral being deleted or similar. Tracing it back, essentially a single referral is returning `false` during the `get_referrals()` step. I can't actually reproduce it but it's possible in theory. We can probably close this in lieu of more reports.

- `WP_List_Table->column_default()`
- `WP_List_Table->single_row_columns()`
- `WP_List_Table->single_row()`
- `WP_List_Table-

[2018-06-20 09:33] tubiz commented on #2729
PR: #2730

#### To Replicate
- Edit any referral directly in the database and set the `referral_id` field to `0`.
- Visit the referral page, the referral with the `referral_id` set to `0` will display a fatal error

#### Screenshot of how an invalid referral will now be displayed.

<img width="1257" alt="issue-2729" src="https://user-images.githubusercontent.com/602184/41650018-b524a2c2-7485-11e8-

[2018-06-20 11:17] michaelbeil commented on #2729
This PR fixes the issue.

[2018-06-20 11:21] michaelbeil opened #2731 "Link one word in the agreement notice"
Ticket: https://secure.helpscout.net/conversation/590157957/83116?folderId=634609.

[2018-06-20 11:36] michaelbeil opened #2732 "Generate a report that shows the total revenue that is generated in a shop from an affiliate"
Ticket: https://secure.helpscout.net/conversation/604675468/84499?folderId=634609.

[2018-06-20 14:41] DrewAPicture commented on #2729
I'm concerned that we're not actually fixing the problem. The PR essentially makes (more) graceful degradation possible by checking if each result of the query is valid before trying to access it, which is all well and good but the actual problem here is that `get_referrals()` is sometimes returning invalid results. We should solve for _that_. This feels like a band-aid.

[2018-06-20 15:45] tubiz commented on #2729
@DrewAPicture I will update the PR to fix that as well.

[2018-06-20 18:58] pippinsplugins commented on #2732
Duplicate of https://github.com/AffiliateWP/AffiliateWP/issues/492

[2018-06-20 18:58] #2732 closed

[2018-06-20 19:06] pippinsplugins commented on #2731
They can achieve this by editing the template file. I don't see a real need for supporting this as an option outside of that.

[2018-06-20 19:06] #2731 closed

[2018-06-20 19:15] tubiz commented on #2706
WooCommerce 3.4.3 has been released to fix the issue with order status not set to refunded when a PayPal transaction is refunded.

I have tested it and a referral is now set to rejected when a PayPal order is refunded.

This issue can be closed.

[2018-06-20 20:37] pippinsplugins commented on #2706
:100:

[2018-06-20 20:37] #2706 closed

[2018-06-21 17:42] michaelbeil opened #2734 "GDPR compliant cookie notice"
A customer suggested that we add a GDPR compliant cookie notice when an affiliate link is used on a site where AffiliateWP is installed.

Ticket: https://secure.helpscout.net/conversation/604747854/84506?folderId=634609.

[2018-06-22 09:23] michaelbeil commented on #1838
Ticket: https://secure.helpscout.net/conversation/605836044/84630?folderId=634609.

[2018-06-22 10:22] AiratHalitov opened #2735 "Application Accepted Email"
Can you send **Application Accepted Email** only after user's email adress will be confirmed?

### Steps:
1. Enable settings in AffiliateWP:
**Auto Register New Users** _Automatically register new users as affiliates._
**Email Notifications** _Notify affiliate when their affiliate application is accepted_
2. Try to register on site (with BuddyPress and AffiliateWP)
3. You will receive **Applicatio

[2018-06-22 10:31] michaelbeil commented on #2735
Are you saying that the user's email address has not been confirmed by an administrator?

[2018-06-22 10:35] AiratHalitov commented on #2735
No.
User should click on the activation link in first email (double opt-in) and then account will be activated and you can send them your emails.

[2018-06-22 10:38] michaelbeil commented on #2735
Alright. Can you send a ticket to https://affiliatewp.com/support as we reserve this repository for development purposes? Then I can help you look into this issue.

[2018-06-22 10:38] #2735 closed

[2018-06-22 10:39] AiratHalitov commented on #2735
But it's development issue.

[2018-06-22 10:42] AiratHalitov commented on #2735
Done

[2018-06-23 02:33] onthemovefit commented on #2108
Hi - I'm curious, how did the end up? I'm not seeing an option.  I can add it on my own, but a setting would be great.

Thanks!

[2018-06-23 05:20] worldtravlr commented on #2734
If this is built, could there be a 3rd option where if they initially refuse the affiliate cookie we can optionally redirect them to a page of our choice?

For us, we would plan to explain how our business is dependent on affiliates to operate and if they decline the cookie then we are unable to do business, etc.

Our case may be extreme, but if an affiliate sends us a sale and the customer does n

[2018-06-23 05:24] worldtravlr commented on #1115
Hi team.  Hope all is well. Any thoughts on this?

Would love to have front end affiliate area order details export and have that include campaign ID.

[2018-06-23 10:08] michaelbeil commented on #2108
We have implemented a checkbox setting in WooCommerce > Settings > Accounts disabled by default.

![Setting](https://cl.ly/011u303S2T0E/Screen%20Shot%202017-05-12%20at%2012.19.45%20PM.png)

You can enable this setting there.

[2018-06-23 10:22] michaelbeil commented on #1115
This feature is not yet on a milestone. I do not have any ETA for when this will be out. However, we will definitely look into this in the future.

[2018-06-23 14:05] worldtravlr commented on #1115
Thanks @michaelbeil.  This has been on 1.9, 2.0 and then 2.1 milestones.  Any way it could be added to a milestone again and be implemented?

[2018-06-23 14:13] michaelbeil commented on #1115
I honestly do not know what milestone this will be added to. If we have more customers request such a feature, then it will be moved to a future release.

[2018-06-24 17:31] onthemovefit commented on #2108
Thanks!​ I didn't realize the WooCommerce integration had to be turned on,
thought it would be by default.

Dave

*--*

*Dave Brown*

*NSCA Certified Personal Trainer*

*NASM Corrective Exercise Specialist*

*On The Move Fitness*

Life's more fun when we're in shape!  |  onthemovefitness.com
<http://www.onthemovefitness.com/>

Check out our blog  |  blog.onthemovefitness.com

<http://www.facebook.

[2018-06-25 08:50] tubiz commented on #2729
@DrewAPicture PR updated

[2018-06-25 11:12] michaelbeil commented on #2483
https://secure.helpscout.net/conversation/604812235/84513?folderId=634609

[2018-06-25 16:53] pippinsplugins commented on #2729
Nice and simple fix. I like it.

[2018-06-25 17:05] worldtravlr commented on #1115
Thanks @pippinsplugins.  That would be awesome!

[2018-06-27 01:20] amdrew opened #2736 "Improve upgrade routine notices"
Our upgrade routine can be improved.

1. Once the upgrade has finished, the `Upgrade Database` button is still shown. This is confusing since the upgrade just took place. Clicking the button runs the same upgrade again.

2. Noticeinception. We currently show a notice (`div.updated`) within a notice (`.notice-info`) which doesn't look great.

When the upgrade has completed, it should just show one

[2018-06-27 15:34] michaelbeil commented on #2729
The customer has gotten into contact with us again to see if this error has been resolved. Is there any chance we can put this into 2.2.4?

[2018-06-27 16:11] pippinsplugins commented on #2729
It's going into 2.2.4.

[2018-06-27 16:11] #2729 closed

[2018-06-27 16:11] pippinsplugins commented on #2721
@tubiz ready to go?

[2018-06-27 16:13] tubiz commented on #2721
@pippinsplugins Yes.

[2018-06-27 16:16] #2721 closed

[2018-06-28 11:32] michaelbeil opened #2737 "Add a notice for an existing WordPress user to login in order to register to be an affiliate"
A customer is wanting to make it easier for an existing WordPress user to register to be an affiliate. Perhaps we should display a notice for any existing WordPress user to login, in order to register to be an affiliate.

Here is the document that we have for how an existing WordPress user can register to be an affiliate: https://docs.affiliatewp.com/article/2004-how-can-an-existing-customer-becom

[2018-06-28 16:16] gspice commented on #2737
They can add a note like that to the WP page being used for registration, above or below the shortcode.

[2018-06-28 16:36] michaelbeil commented on #2737
I thought about that before. Would you make a note of that on the document?

[2018-06-28 17:10] michaelbeil commented on #2737
I added a note to that document. Feel free to parse it out more.

[2018-06-28 17:18] gspice commented on #2737
Looks good to me.

[2018-06-28 19:05] gspice commented on #2726
Thank you for this change @amdrew and @tubiz .  This makes it a lot easier to understand working with, and creating translation changes.

[2018-06-28 19:07] gspice commented on #2713
@amdrew I admit, I was confused but since the change/improvement was made, I was able to test it and it works for me now!  Will notify the customer.

[2018-06-28 23:55] amdrew opened #2738 "Show referral ID column on referrals admin screen"
I think we should show a `Referral ID` column on the referrals screen in the admin:

1. Consistency with the `Visits` screen. This shows a `Visits ID` column as well as a `Referral ID` column.

2. We can then move the lifetime referrals link icon in Lifetime Commissions from the `Affiliate` column and place it in the `Referral ID` column. Since it's a lifetime referral, it makes more sense to rela

[2018-06-29 07:51] tubiz commented on #2738
PR: #2739

[2018-06-29 13:02] michaelbeil opened #2740 "Send through an affiliate ID as a tag in the email provider in an optin form"
Ticket: https://secure.helpscout.net/conversation/610604294/85053?folderId=634609.

[2018-06-29 13:02] michaelbeil opened #2741 "Add an option for multiple list IDs in the optin form"
Ticket: https://secure.helpscout.net/conversation/610604294/85053?folderId=634609.

[2018-06-29 13:02] michaelbeil opened #2742 "Add options to style the optin form"
Ticket: https://secure.helpscout.net/conversation/610604294/85053?folderId=634609.

[2018-06-29 13:19] michaelbeil opened #2743 "This error is showing up on the payouts table"
A customer is experiencing the following error:

Related to https://github.com/AffiliateWP/AffiliateWP/issues/2729.

Ticket: https://secure.helpscout.net/conversation/600924552/84152?folderId=634609.

[2018-06-29 13:53] #2738 closed

[2018-06-29 14:34] DrewAPicture commented on #2743
Is this the same customer as before?

[2018-06-29 14:36] michaelbeil commented on #2743
Yes, it is.

[2018-06-29 14:48] #2737 closed

[2018-06-29 14:50] tubiz commented on #2743
I just checked the state of the `payouts` and `affiliates` tables on the website, there are `163` payouts with a `payout_id` of 0, likewise there are `2741` affiliates with `affiliate_id` of 0.

[2018-06-29 15:20] DrewAPicture commented on #2743
There's certainly a case to be made for ensuring that errors like this don't get surfaced, however this particular site seems to have a habit of corrupting data and/or containing invalid records. That said, at a certain point we have to consider that the software is intended to work in the ideal condition of not having outside forces messing with the integrity of the data.

Translation: Something

[2018-06-29 15:24] DrewAPicture commented on #2743
Because we're all about an awesome experience, we're willing to try to mitigate errors stemming from corrupted records. I mostly just hesitate to dive too deeply. We should try wherever possible to ensure that _even if outside forces are at work_, to handle for it. The main concern is the precedent set for needing to dive so deep and reach so far to ensure nothing can wrong is endless.

[2018-06-29 18:48] gspice commented on #2741
I like this, maybe the list id can be a parameter to the shortcode.

[2018-06-30 13:56] michaelbeil commented on #2548
https://secure.helpscout.net/conversation/611835657/85144?folderId=205524

[2018-07-01 03:30] tubiz commented on #2743
PR: #2745

[2018-07-01 12:50] michaelbeil opened #2746 "Add the Peruvian currency"
We had a request to add the Peruvian currency (PEN). Symbol: ( S/ )

Ticket: https://secure.helpscout.net/conversation/612143524/85160?folderId=205524.

[2018-07-01 18:17] michaelbeil commented on #2743
@tubiz How can I test this?

[2018-07-01 19:34] tubiz commented on #2743
@michaelbeil you can test using this branch https://github.com/AffiliateWP/AffiliateWP/tree/issue/2743

To replicate the issue modify any payout and set the `payout_id` to `0`

[2018-07-01 19:42] michaelbeil commented on #2743
Ah okay, thanks! PR fixes the issue!

[2018-07-02 02:18] #2743 closed

[2018-07-02 10:04] michaelbeil commented on #2693
Here is another request for such a feature: https://secure.helpscout.net/conversation/610359703/85031?folderId=634609.

[2018-07-02 11:21] michaelbeil opened #2747 "Add the TZS (Tanzanian Shillings) currency"
We had a request to add the Tanzanian Shillings currency.

Should we add this?

Ticket: https://secure.helpscout.net/conversation/612143524/85160?folderId=205524.

[2018-07-02 13:40] michaelbeil opened #2748 "Add support for HTML 5 banners"
This is from a presale question:

Should we add support for HTML5 banners?

Ticket: https://secure.helpscout.net/conversation/611937931/85148?folderId=634609.

[2018-07-02 19:28] gspice opened #2749 "Admin: Tools - API Keys - Enter username field needs to search all WP users"
Currently in the WordPress admin when you navigate to _Affiliates - Tools - API Keys_  and begin to type in the `Enter username` field, it will only search affiliate accounts.  The change requested is it needs to search **all** WP user accounts.   As it stands, you do _**not**_ have to be an affiliate to generate a set of API keys, but this leads to errors down the line.  For example, if you do no

[2018-07-02 20:41] gspice commented on #1647
Another request, I think this is especially good for WC integrations:
https://secure.helpscout.net/conversation/613077680/85219/?folderId=205529

[2018-07-02 21:40] DrewAPicture commented on #2749
Yeah, I'd consider this a bug. If I remember correctly, I recall there being some question of who potential API consumers would be, and ultimately we left it as is. Realistically speaking, _any_ user could conceivably be a valid REST consumer, there's just some capabilities that would have to be conveyed to make big parts of the API usable to them – worth noting that affiliates don't automatically

[2018-07-02 22:12] amdrew commented on #2748
We have an issue open for different creative types (including HTML banners):
https://github.com/AffiliateWP/AffiliateWP/issues/1087

[2018-07-02 22:12] #2748 closed

[2018-07-02 22:12] amdrew commented on #1087
From the issue above:

https://secure.helpscout.net/conversation/611937931/85148?folderId=634609.

[2018-07-06 13:11] tubiz opened #2751 "Award commission to selected affiliate when order is manually placed"
When an order is manually added via an eCommerce system like WooCommerce or EDD, it would be nice if the referral can be awarded to a selected affiliate.

This would be an admin option to enable this feature.

First discussed here: https://github.com/AffiliateWP/affiliate-wp-lifetime-commissions/issues/38

[2018-07-06 16:12] michaelbeil commented on #2694
https://secure.helpscout.net/conversation/615754262/85492?folderId=205524

[2018-07-06 16:30] mindctrl opened #2752 "Increase minimum required PHP version"
We're going to start working towards increasing the minimum required version of PHP. Right now we're 5.3+. We need to move to at least 5.4+, ideally higher but one step at a time. :)

I'll be gathering more info and updating this issue with a timeline and some resources.

Current usage stats for AffWP core as of 7/6/2018:
- 5.3 is at 1%
- 5.4 is at 4%
- 5.5 is at 12%
- 5.6 is at 39%
- 7.0 is at 30

[2018-07-06 16:51] michaelbeil commented on #1087
The same customer requested for HTML 5 banners again: https://secure.helpscout.net/conversation/615783153/85493?folderId=205524.

[2018-07-07 08:45] amdrew commented on #2751
Issue here: https://github.com/AffiliateWP/AffiliateWP/issues/1150

[2018-07-07 08:45] #2751 closed

[2018-07-09 12:13] cristan90 opened #2753 "Affiliate hierarchical earnings"
Hello! I wanted to know if it was possible to have an affiliate who earns on other affiliates that he brings. For example: I bring two new affiliates on the site and I want to earn on what they receive from their customers. It's possible? is it possible to associate an order with a specific affiliate in backend only for administrator role? Thanks

[2018-07-09 12:50] michaelbeil commented on #2753
For any support-related questions, we ask that you send a ticket to https://affiliatewp.com/support as we reserve this repository for development purposes. I have sent a response to your ticket.

[2018-07-09 12:50] #2753 closed

[2018-07-09 12:56] cristan90 commented on #2753
Great, thanks!

[2018-07-11 04:58] kevinlampron916 commented on #2614
Yes Please!
I would greatly appreciate this addon, as I am currently using LearnPress and need this immediately.

[2018-07-12 10:15] tubiz opened #2754 "Customer record not created for Opt-In Form referrals."
A customer record is not created for any referrals created through the Opt-In Form.

Related: https://github.com/AffiliateWP/affiliate-wp-lifetime-commissions/issues/65

[2018-07-12 18:49] pippinsplugins commented on #2754
@tubiz let's go ahead and get this fixed up for a point release of 2.2.6.

[2018-07-12 19:44] tubiz commented on #2754
PR: #2755

[2018-07-12 20:39] pippinsplugins commented on #2754
@gspice able to test this?

[2018-07-12 22:08] gspice commented on #2754
Verified!  Testing with MailChimp opt-in settings and the opted-in email created the referral and is connected to my affiliate via Lifetime Commissions now as well.  👍

[2018-07-13 11:40] michaelbeil opened #2756 "WooCommerce: Check the order total to see if it is 0"
A customer is using YITH WooCommerce Gift Cards Premium plugin:

It appears that the referral amount is being calculated from the order total, but that was removed and it is being calculated from each product.

This is actually a good feature. We can actually check the order total to see if it is 0 in core.

Ticket: https://secure.helpscout.net/conversation/618361952/85718?folderId=205529.

[2018-07-13 14:32] michaelbeil commented on #2720
https://github.com/wp-media/wp-rocket/commit/c355151aa19ba278ef03df4b0f78ec378dd8ead3#diff-873b14d655f43cfb9aebeb4215498318

[2018-07-13 14:32] #2720 closed

[2018-07-13 17:02] gspice opened #2757 "Add IP address to the Visits CSV export file"
User requested that the IP address showing on the _Visits_ admin screen be included in the CSV export for visits.

[2018-07-13 17:23] michaelbeil commented on #2734
https://secure.helpscout.net/conversation/620178337/85940?folderId=634609

[2018-07-13 19:20] #2754 closed

[2018-07-13 19:21] pippinsplugins commented on #2692
@tubiz let's included this in the 2.2.6 release.

[2018-07-13 19:22] tubiz commented on #2692
@pippinsplugins working on it.

[2018-07-13 23:17] tubiz commented on #2692
PR: #2758

For a normal payment form, the referral description is set based on the text entered in the **Item Description** in the **Checkout Overlay Display** tab

<img width="969" alt="description details" src="https://user-images.githubusercontent.com/602184/42717249-5f004f6e-8708-11e8-8231-0006c26cf4ec.png">

For a subscription payment form, the name of the subscription product created in Stri

[2018-07-14 13:39] michaelbeil commented on #2692
This PR fixes the issue! Here is a screenshot of the description now shown in the referrals page:

![screen shot on 2018-07-14 at 15_31_20](https://user-images.githubusercontent.com/4752949/42724942-f138a9a8-877b-11e8-8a36-5098803d8812.png)

I had the following text entered in the **Item Description** field in the **Checkout Overlay Display** tab: ![screen shot on 2018-07-14 at 15_34_35](https://u

[2018-07-16 16:12] michaelbeil commented on #2620
This is another request: https://secure.helpscout.net/conversation/621682291/86059?folderId=205524.

[2018-07-16 16:22] gspice commented on #1647
Getting more and more requests for this -- for coupons to have an affiliate rate associated with them. This would override the product or category rate IMO :

https://secure.helpscout.net/conversation/621675845/86057?folderId=205527

[2018-07-16 16:39] michaelbeil commented on #1087
The same customer requested HTML 5 banners again: https://secure.helpscout.net/conversation/621651590/86053/.

[2018-07-17 02:59] pippinsplugins commented on #1647
I really like this idea.

@tubiz could you add this to your near-term todo list?

[2018-07-17 03:23] #2692 closed

[2018-07-17 10:41] davefx opened #2759 "There's no hook to modify data in referral before its insertion in DB, neither to prevent its creation"
While developing some complex rules that should modify and/or prevent the creation of referrals, I've found that there are currently no hooks that allow this feature.

[2018-07-17 13:38] pippinsplugins commented on #2759
@davefx there is a filter for this already in the base DB class: https://github.com/davefx/AffiliateWP/blob/2b7bc7b41b0ad9f6a1e006cc8582c950c2a8b54a/includes/abstracts/class-db.php#L243

[2018-07-17 13:38] #2759 closed

[2018-07-17 15:21] pippinsplugins opened #2761 "Referral edit screen does not display arrays / objects in the custom field properly"
When viewing the edit screen for a referral that has an array or object stored in the custom field, an error is shown:

[code]

[2018-07-17 15:21] michaelbeil commented on #1386
https://secure.helpscout.net/conversation/617794970/85666/

[2018-07-18 10:44] michaelbeil opened #2763 "Assign specific user roles with specific referral rates"
This is taken from a presales question:

I don't believe that I have received such a request before. Could this be a good feature?

Ticket: https://secure.helpscout.net/conversation/622376388/86117?folderId=634609.

[2018-07-18 14:54] michaelbeil opened #2764 "Truncate the affiliate and affiliate meta tables"
@tubiz mentioned:

Then importing affiliates will start the id from 1.

[2018-07-18 15:07] #2764 closed

[2018-07-19 19:26] tubiz opened #2765 "Guest customer not linked to user profile if user account is created later on."
If a user account is later created for a guest customer, the customer record is not linked to the user account for the customer.

Related: https://github.com/AffiliateWP/affiliate-wp-lifetime-commissions/issues/103

[2018-07-20 07:17] tubiz commented on #2765
PR: #2766

@gspice please help test.

[2018-07-20 08:27] tubiz commented on #2761
PR: #2767

[2018-07-20 10:57] michaelbeil commented on #2761
@tubiz How can I test this?

[2018-07-20 11:04] tubiz commented on #2761
@michaelbeil edit any lifetime referral, the error will be shown.

The `custom` field section will display Array, instead of the value that is set.

[2018-07-20 15:50] michaelbeil commented on #2548
https://secure.helpscout.net/conversation/624697155/86344?folderId=634609

[2018-07-20 16:15] gspice commented on #2214
Wants to send all registration emails to emails other than the site admin:
https://secure.helpscout.net/conversation/620309017/85951?folderId=1170842

[2018-07-20 16:17] gspice commented on #2214
Wants to change all admin email notifications (for referrals created and affiliate registration activity) to an email address other than admin.
https://secure.helpscout.net/conversation/624263469/86312?folderId=1170842

[2018-07-20 16:29] gspice commented on #2214
I envision this on the _Settings > Email_ screen as a new line under each admin option where they can enter multiple email addresses separated by commas.  This way they can uncheck the admin options if they want to _only_ send to those alternate addresses.

![email-notifications](https://user-images.githubusercontent.com/3018245/43013915-4cc93b20-8bff-11e8-99a8-3b15e61536fc.png)

[2018-07-20 18:14] BurlesonBrad opened #2768 "Pretty Affiliate URLs & Warfare Plugins"
Ref: https://github.com/warfare-plugins/social-warfare/issues/257

I've learned to setup sites w/ the Pretty URLs long ago & to never use the ```/?var=ID``` option.

When AffiliateWP is coupled with Social Warfare, magic happens for everyone's wallet by appending each and every social share with a financial incentive to whack those whimsical buttons.

The problem though has come up that when using

[2018-07-21 00:24] gspice commented on #2765
Verified fix! Used email addresses that were already linked to my affiliate via LC, but previously did not have WP user accounts. I created an account during the Woo purchase, and the link was updated with a page refresh.

[2018-07-21 19:32] michaelbeil commented on #1155
https://secure.helpscout.net/conversation/625365462/86410/?folderId=205529

[2018-07-23 01:36] #2765 closed

[2018-07-23 01:52] pippinsplugins commented on #2768
This isn't an AffiliateWP bug. If we look at the code in the Social Warfare plugin, we see this:
[code]
That piece needs to be updated with support for pretty URLs by adding the necessary logic to detect and construct pretty URLs.

Since that is outside of AffiliateWP's control, I'm closing this as invalid.

[2018-07-23 01:52] #2768 closed

[2018-07-23 06:14] tubiz opened #2770 "Customer record not created in PMS integration for customers that are not logged in"
When a referral is being created via the PMS integration for a customer that is not logged in, the customer record is not created.

[code]

[2018-07-23 06:45] tubiz commented on #2770
PR: #2771

[2018-07-23 10:14] tubiz opened #2772 "Customer record not created in RCP integration for customers that are not logged in"
When a referral is being created via the RCP integration for a customer that is not logged in, the customer record is not created.

[code]

Related: https://github.com/AffiliateWP/affiliate-wp-lifetime-commissions/issues/70

[2018-07-23 13:06] #2770 closed

[2018-07-23 16:19] tubiz commented on #2772
PR: #2773

The `rcp_subscription_key` usermeta is not yet saved as at the time it is retrieved so the `user_id` is always empty. The `user_id` is now retrieved from the `rcp_payments` table.

[2018-07-23 16:32] michaelbeil commented on #2772
Is it best to use an email for a customer (already referred by an affiliate) that is logged out for a purchase made with RCP to test this?

[2018-07-23 16:39] tubiz commented on #2772
@michaelbeil to test, use a non registered user. You will have to enter the new user details on the RCP registration page.

[2018-07-23 16:46] michaelbeil commented on #2772
Okay, perfect. I just tested with a non-registered user, and a referral was successfully generated for both the initial referral and then the second referral when logged in with the customer account:

![screen shot on 2018-07-23 at 18_43_07](https://user-images.githubusercontent.com/4752949/43090673-588225de-8ea8-11e8-9432-eb837f2a15e4.png)

[2018-07-23 16:49] tubiz commented on #2772
@michaelbeil you are to test if the customer record was created. From the debug log the customer is not created and linked to the affiliate due to this error

`2018-7-23 10:01:50 - Customer not created due to empty email`

[2018-07-24 15:34] michaelbeil opened #2774 "Integration: Give - Donation Plugin not generating referrals"
First reported on this HS ticket: https://secure.helpscout.net/conversation/576139515/81733?folderId=1170842.

This is with AffiliateWP version 2.2.6 & Give - Donation Plugin 2.1.7.

I setup a Give Donation form test on our sandbox site here: http://s14890.p27.sites.pressdns.com/donations/test.

Donation was $100.00 and the referral rate was 5%, however a referral was not generated.

[2018-07-24 16:00] gspice commented on #2774
This is working for me on a local test site, a referral was created using Give - Donation v2.1.7.

On the sandbox site, it appears the donation form wasn't enabled for referrals...I've clicked the `Allow Referrals` checkbox and saved the changes, can you try your test again @michaelbeil ?

![give-donation-form](https://user-images.githubusercontent.com/3018245/43150873-dcf1d87e-8f1f-11e8-8746-dbfe

[2018-07-28 13:45] michaelbeil opened #2776 "Add affiliate coupon tracking for Caldera Forms"
Got a question about adding affiliate coupon tracking for Caldera Forms.

Should we add this?

Ticket: https://secure.helpscout.net/conversation/629906945/86837?folderId=205524.

[2018-07-29 01:53] pippinsplugins commented on #2776
Let's consider it if we get additional requests for it.

[2018-07-29 10:21] michaelbeil commented on #2776
Alright, that sounds good!

[2018-08-01 16:24] michaelbeil commented on #2548
https://secure.helpscout.net/conversation/632152237/87065?folderId=634609

[2018-08-03 16:35] tubiz opened #2777 "Affiliate email address not returned in the /wp-json/affwp/v1/affiliates/ endpoint"
The affiliate email address is not returned in the `/wp-json/affwp/v1/affiliates/` endpoint when the `user` arg is set to true

https://secure.helpscout.net/conversation/634085531/87270/?folderId=2097895

[2018-08-03 16:49] tubiz commented on #2777
PR: #2778

[2018-08-03 17:03] #2772 closed

[2018-08-03 20:01] DrewAPicture commented on #2777
So, this is actually a bug in the Zapier add-on. The Zapier addon registers an 'email' field against the affiliate response, via `affwp_zapier_affiliates_add_affiliate_email()`, [source here](https://github.com/AffiliateWP/affiliatewp-zapier/blob/master/includes/zapier-log-functions.php#L707). Sounds like maybe the field isn't getting populated as expected.

Including the user email to the user as

[2018-08-03 20:04] DrewAPicture commented on #2777
With the Zapier add-on activated, this is the response I get with a `GET` request against affiliates/ID:
[code]

The `email` field is registered via the Zapier addon and the `id` field is registered in the core endpoint.

[2018-08-03 20:40] michaelbeil commented on #757
https://secure.helpscout.net/conversation/620396497/85960?folderId=634609

[2018-08-05 11:50] tubiz commented on #2777
I can confirm that the `email` field was returned in the response when the Zapier add-on is activated.

I have checked the logs on Zapier and the reason why the email wasn't returned was that the user account has been deleted on the site.

The email field was returned for other affiliates in the request.

Do I need to undo the commit that adds the user_email field?

[2018-08-05 12:46] DrewAPicture commented on #2777
Yes, we should probably revert the change.

I'm not sure if there's a great solution that follows the same logic as the changes you made to the database classes to return only valid results since the email field is added to the response just in time. What do you think? Is it worth filtering the results in the case where the user param is enabled to strip out results with an invalid user?

[2018-08-05 16:15] tubiz commented on #2548
PR: #2779

[2018-08-05 16:38] tubiz commented on #2777
I will revert the change.

Since the affiliate account is still present I think we shouldn't filter the results when the user param is enabled but the user account has been deleted.

The `user` field is set to `false` in such results.
[code]

[2018-08-05 18:11] michaelbeil commented on #2548
The affiliate tracking cookie is now generated for both non-pretty and pretty affiliate add-to-cart URLs. A referral is also generated.

![screen shot on 2018-08-05 at 20_10_34](https://user-images.githubusercontent.com/4752949/43688578-ba58a948-98eb-11e8-9980-1a861c08501c.png)

[2018-08-06 09:10] michaelbeil commented on #564
A request:

Ticket: https://secure.helpscout.net/conversation/635473229/87375/.

[2018-08-07 09:50] michaelbeil commented on #1922
Ticket: https://secure.helpscout.net/conversation/636316663/87500?folderId=205524.

[2018-08-07 19:00] michaelbeil opened #2781 "Referrals are not generated with a long campaign name"
When you use an affiliate link like `http://sitename.com/product/test/ref/1/?campaign=PAScribeCopperplateScriptManual`, a referral will not be generated.

Error log:

 'amount' => 25,
 'reference' => 1328,
 'description' => 'Test',
 'campaign' => 'PAScribeCopperplateScriptManual',
 'affiliate_id' => 1343,
 'visit_id' => 89,
 'products' => 'a:1:{i:0;a:4:{s:4:"name";s:4:"Test";s:2:"id";i:201;s:5:"pr

[2018-08-08 10:51] tubiz commented on #2781
The length of the `campaign` (VARCHAR) field is `30` characters in the `affiliate_wp_referrals` table while the campaign name the affiliate used `PAScribeCopperplateScriptManual` is `31` characters, the reason the referral wasn't created.

Should we increase the length of the `campaign` field to 50 characters?

[2018-08-09 02:56] pippinsplugins commented on #2781
Yes, let's increase the campaign name length.

[2018-08-09 13:44] tubiz commented on #2781
PR: #2782

[2018-08-09 16:06] #2781 closed

[2018-08-10 21:09] gspice opened #2783 "Add the ability to hide license key on unlimited licenses"
Requested on this HS ticket:
https://secure.helpscout.net/conversation/638743904/87750?folderId=205524

Request to hide the license key after activating so other users that have admin access do not use the license keys on their own sites .

[2018-08-13 00:10] gspice opened #2784 "Add currency Litecoin"
Requested on this HS ticket:
https://secure.helpscout.net/conversation/639395464/87794?folderId=205524