[2017-09-21 16:29] #2390 closed

[2017-09-21 16:41] michaelbeil commented on #2390
I didn't think of that.That is very true.

[2017-09-21 17:58] gspice opened #2391 "Setting to limit referrals by user role"
Would be nice to add the ability to block certain user roles from earning referrals.

From user ticket:
https://secure.helpscout.net/conversation/435882796/67140/?folderId=1170842

[2017-09-22 14:22] mindctrl commented on #2389
PR: #2392

There were two issues here. RCP wasn't adding the pending key before the hook. We've fixed that and will release it today.

Another issue was that AffWP never introduced support for the pending subscription name, which was introduced at the same time pending key was. This resulted in the wrong referral description being shown when a member upgraded from one subscription to another. That

[2017-09-22 15:58] pippinsplugins commented on #2389
@gspice could you please test this PR? If all is well, I'll push out the update today.

[2017-09-22 20:50] gspice commented on #2389
Tested with both updated plugins and results were successful:
* Free level registration, then upgrade - on the referral, the **Description** was correct and the **Reference** link takes you to the correct payment record in RCP.
* Buying the full price membership outright was no longer blank on the **Description** and **Reference** fields on the referral.

[2017-09-23 09:33] michaelbeil opened #2393 "AffiliateWP metabox does not show on a Give donation form"
When testing Give locally, I don't see the AffiliateWP metabox when I go to edit the donation form. It appears like we need to update our Give integration.

[2017-09-25 03:56] amdrew commented on #2349
Some progress on this:

### Desktop resolution:

<img width="904" alt="screenshot 2017-09-25 16 39 53" src="https://user-images.githubusercontent.com/52581/30791646-693176d0-a210-11e7-94a1-b0f789ac8d38.png">

___

### Mobile resolution:

Note, this only shows the first table as responsive for demo purposes.

<img width="313" alt="screenshot 2017-09-25 16 40 09" src="https://user-images.githubuserc

[2017-09-25 03:58] amdrew commented on #2349
Another layout we should consider is having the values underneath like the below. It might "fit" better in regards to the different translations etc:

<img width="308" alt="screenshot 2017-09-25 16 57 13" src="https://user-images.githubusercontent.com/52581/30791911-b5a814a4-a212-11e7-8692-8675d250a01e.png">

[2017-09-25 08:16] amdrew commented on #2349
PR, will need some additional testing: https://github.com/AffiliateWP/AffiliateWP/pull/2394

[2017-09-25 08:22] amdrew commented on #2349
There are some instances where if there is no data, the `td` has a colspan applied to it to stretch the text across the columns. E.g. the `Referrals` table:

<img width="740" alt="screenshot 2017-09-25 21 16 59" src="https://user-images.githubusercontent.com/52581/30798672-f37825b6-a236-11e7-804f-e58029cbc26f.png">

For tables like this, I've added a `affwp-table-no-data` CSS class to the `td`. Th

[2017-09-25 08:26] amdrew commented on #2349
There are also elements that need to repeat, e.g. campaigns. In these cases the last `td` has a bottom margin to separate each campaign:

<img width="362" alt="screenshot 2017-09-25 20 15 44" src="https://user-images.githubusercontent.com/52581/30798986-dafe0770-a237-11e7-9699-e262649926ee.png">

___

Same with `Referral payouts`:

<img width="420" alt="screenshot 2017-09-25 20 16 01" src="https:/

[2017-09-25 08:39] amdrew commented on #2349
@AffiliateWP/core ^ That's all for now, I'd appreciate any help with testing. Going to give it another run tomorrow in case I've missed anything.

Tabs to test (the ones with tables):

1. Statistics
2. Referrals
3. Payouts
4. Visits

Test each tab at:

1. Desktop resolution (to make sure it looks the same as before)
2. Mobile to tablet resolutions (to see the new responsive tables)
3. With data fo

[2017-09-25 19:54] gspice commented on #2363
A test site has been setup for this.  Verified a referral is not created when using an affiliate link and a purchase is completed on Safari via Apple Pay.  Currently the AffiliateWP log shows:

[code]

Please see this HS ticket for testing prep details and log in credentials to the test site:
https://secure.helpscout.net/conversation/422726950/65727/?folderId=1170842

[2017-09-26 21:55] pippinsplugins commented on #2349
This looks awesome!

Is there a reason you've added a `affwp-table-responsive` class instead of just assuming all `affwp-table`s are responsive?

[2017-09-26 22:31] amdrew commented on #2349
@pippinsplugins Yep there sure was

[2017-09-26 22:33] amdrew commented on #2349
The class name on that is up for discussion if anyone can think of a better one. Perhaps `affwp-table-mobile`? meaning all mobile devices, phones/tablets etc

[2017-09-27 00:45] gspice opened #2395 "Import affiliates from Affwp exported affiliates csv file hangs, database not accessible afterwards."
Reported on HS ticket:
https://secure.helpscout.net/conversation/438301151/67355/?folderId=205527

## Steps to reproduce:

* Export by going to:  _Affiliates > Tools > Export/Import > Export Affiliates_
* Went to another site with AffiliateWP:  _Affiliates > Tools > Export/Import > Import Affiliates_, select the exported file you created in first step, click **Import CSV**
* The file loads showing

[2017-09-27 01:45] ramiabraham commented on #2395
Confirmed here on an export of randomly-generated affiliates, as well as the customer-provided .csv file.

Logs indicate MySQL a syntax error in `Affiliate_WP_DB::update()` when updating the `wp_affiliate_wp_affiliates` table, called via the `wp_ajax_process_batch_request` action, by `AffWP\Utils\Batch_Process\Import_Affiliates->process_step()`:

[code]

- Presently, I can see no syntax error in t

[2017-09-27 15:04] pippinsplugins commented on #2349
Ah yep, makes perfect sense and I like `affwp-table-responsive` better than `affwp-table-mobile`.

I'm 100% happy with this!

[2017-09-27 17:02] gspice commented on #2349
Tested on multiple phone sizes using two different Genesis child themes, looks great!

Also added tickets for adding the same styling to:

*  Order Details for Affiliates
https://github.com/AffiliateWP/affiliatewp-order-details-for-affiliates/issues/34
*  Show Affiliate Coupons
https://github.com/AffiliateWP/affiliatewp-show-affiliate-coupons/issues/9

[2017-09-27 18:09] ramiabraham commented on #2349
- Added the same as gpsice above for RR ([link](https://github.com/AffiliateWP/affiliatewp-tiered-affiliate-rates/issues/36)).
- I have literally no constructive feedback to offer.
- Looks great.
- Looks awesome.
- Functions as expected.
- I like it.

[2017-09-27 20:33] puternutt commented on #2214
I completely agree, My client asked the same thing today, and so far there is no such field in current version 2.1.5. Any idea as to when this may be added or if there is a function code snippet that we can use to add this now?

[2017-09-27 20:47] puternutt commented on #1080
Any News on this enhancement? it keeps being pushed to the next version, I mean EricMoiroud already created a mock up a year ago. It'd be nice to have it integrated. Keep up the good work!

[2017-09-27 21:19] puternutt commented on #1839
It'd be nice to add another function in this code to send the referring affiliate the email if their affiliate ID received a referral to inform them of the same. Admins are not typically the affiliate program owner, they are the website administrator. So we have to send the owner the email once we receive it. Or just delete it. So sending it to the admin is useless in most cases for a nonOneMan Sh

[2017-09-27 21:22] gspice commented on #1839
@puternutt You can do this now if the setting is enabled in the affiliate area under the **Settings** tab.  The affiliate has to opt-in to receive the email notifications.

[2017-09-27 21:30] puternutt commented on #1839
where in the AffiliateWP Dashboard settings do I ensure that this is capable of being shown to them in the affiliate area?

[2017-09-27 21:32] gspice commented on #1839
@puternutt There is a screenshot of the Settings page at the bottom of this page in our docs:
http://docs.affiliatewp.com/article/54-creating-the-affiliate-area

[2017-09-27 21:33] puternutt commented on #1839
got it, thanks,

[2017-09-28 01:02] amdrew commented on #2349
@ramiabraham They cannot since the new CSS styling in forms.css is only loaded on the front-end. That's ok though, we should definitely create new (and separate) styling for any admin tables. We could keep the class names the same.

[2017-09-28 01:35] amdrew commented on #2214
@puternutt We don't currently have a time frame for this.

This code snippet will change the admin email option for new affiliate applications:

https://github.com/AffiliateWP/affiliatewp-code-snippet-library/blob/master/emails/change-affiliate-application-email.php

[2017-09-28 03:44] edwinbsmith opened #2396 "Latest version of WP Simple Pay does not use Stripe_Checkout class"
The commit at [0a3ec61](https://github.com/AffiliateWP/AffiliateWP/commit/0a3ec6168b1406bbf1402185eff99a8471b572be) is requesting a class that does not exist in the latest version of WP Simple Pay (and WP Simple Pay Pro) at this link: https://wpsimplepay.com/

[2017-09-28 04:44] amdrew commented on #2396
Thanks @edwinbsmith!

@DrewAPicture Could you please take a look? I upgraded to the latest version of their free version (https://wordpress.org/plugins/stripe/) and it does indeed look like things have changed. The `Stripe_Checkout` class we check for (https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/integrations/class-stripe.php#L184-L186) is now located at `Stripe/includes/old/cla

[2017-09-28 05:13] amdrew commented on #2396
It seems our integration class **is** actually being loaded ok since the `Stripe_Checkout` class still exists inside WP Simple Pay (at least in the free version).

Going to dig into the customer ticket and see why their referrals aren't being created and if it's related to this issue.

[2017-09-28 05:56] amdrew commented on #2396
Ok, got a hold of the pro version and v3 does not have a `Stripe_Checkout_Pro` class as @edwinbsmith mentioned. The free version seems fine however. We'll need to update our integration to support v3 (pro) by modifying the conditional to allow the integration class to run.

The plugin is also renamed, and it looks like v2 may still be offered since the plugin name is now `WP Simple Pay Pro 3` (v3)

[2017-09-28 06:26] amdrew commented on #2396
PR https://github.com/AffiliateWP/AffiliateWP/pull/2397

Tested and referrals now work fine with v3 (support ticket is related after all).

[2017-09-28 13:07] jabaco commented on #2382
Hello, is the bitcoin integration completed? I recently purchase the plugin but it seems I cannot chose bitcoin as the currency.. Thanks

[2017-09-28 13:10] michaelbeil commented on #2382
It is not, yet.

[2017-09-28 13:45] jabaco commented on #2382
Any estimated time? I really need this functionality since my business is based on Bitcoin... Also, is it possible to show referral amount with more than 2 decimals right now with other currencies?

[2017-09-28 13:52] michaelbeil commented on #2382
We do not have a current ETA. We made it possible to add decimal places. This would require custom development to implement, currently: http://affiliatewp.com/​consultants​. See #1083.

[2017-09-28 13:58] jabaco commented on #2382
That url is not working...

[2017-09-28 14:18] jabaco commented on #2382
Is it possible that you point me to the files and code I have to modify in order to add 8 decimals? Please I just purchase the pro version of the plugin and would not be happy to pay for custom development for something that you already have done and can share the code.

[2017-09-28 14:19] michaelbeil commented on #1080
There is no ETA at this time. You might be able to hire someone to build this out for you: https://affiliatewp.com/consultants/.

[2017-09-28 14:26] michaelbeil commented on #2382
As I mentioned before, the changes are in this link: https://github.com/AffiliateWP/AffiliateWP/issues/1083.

[2017-09-28 14:47] jabaco commented on #2382
my bad... I just saw them, applied them to my site and it is working!

[2017-09-28 14:49] michaelbeil commented on #2382
Okay, great!

[2017-09-29 13:55] michaelbeil commented on #773
I am seeing a lag of two hours. For example, I just recorded a visit at 12:36, but it is 2:36.

[2017-09-29 20:21] DrewAPicture commented on #773
@michaelbeil What timezone do you have set in your WordPress settings?

[2017-09-29 20:23] michaelbeil commented on #773
UTC +2.

[2017-09-29 21:33] gspice commented on #2396
@amdrew This appears broken again :-(     Can you help me test this please?  I've setup the latest WP Simple Pay plugin (3.1.6) on the sandbox and it is not creating referrals.   The one we test with above was 3.1.5 I believe.

http://s14890.p27.sites.pressdns.com/stripe

[2017-09-30 00:26] amdrew commented on #2396
@gspice Replicated. We were rather unlucky on this one. The namespace in v3.1.6 (which came out ~2 days or less ago) changed from v3.1.5 so the integration code isn't running again.

[2017-09-30 00:29] amdrew commented on #2396
@DrewAPicture PR: https://github.com/AffiliateWP/AffiliateWP/pull/2398

[2017-10-02 00:49] pippinsplugins commented on #2396
@amdrew @DrewAPicture please go ahead and push this release out first thing tomorrow morning.

[2017-10-02 01:26] #2396 closed

[2017-10-02 01:36] DrewAPicture commented on #2393
Looks like this has been broken since Give 1.8. They [deprecated use of CMB2](https://givewp.com/give-version-1-8/) in favor of their own settings API. Example here: https://github.com/WordImpress/Give-Settings-API-Example

[2017-10-02 11:55] michaelbeil commented on #2393
Should we release a fix for this in an upcoming release?

[2017-10-02 14:24] nickyoung87 commented on #2396
@pippinsplugins @amdrew @gspice

I am a developer for WP Simple Pay. Sorry! Didn't take into consideration a few of the integrations others have made to work with our plugin. Fortunately it's all done and we shouldn't be changing anything so heavily for the foreseeable future.

Glad you guys were able to iron this one out quickly.

[2017-10-02 14:34] DavidAnderson684 opened #2399 "Performance: 260KB of autoloaded options data for available plugin updates"
I did an analysis on updraftplus.com, as to how much data is autoloaded from the options table, using this query:

[code]

The result was that there's just over 1.0MB of it.... but around 25% of that is information about available AffiliateWP updates. That is to say, about 250KB of auto-loaded information on updates to the Affiliates-WP plugin for every page load.

The two option names, and number

[2017-10-02 14:36] pippinsplugins commented on #2396
@nickyoung87 No worries, it happens. Obviously we hope it doesn't again :) Thanks!

[2017-10-02 14:40] DavidAnderson684 commented on #2399
Just to be clear - I manually set the autoload column for these rows to `no` on this particular site. But it'd be nice to know it won't come back, and for everyone else to have the same benefit!

[2017-10-02 15:00] pippinsplugins commented on #2393
Yes let's go ahead and fix this for 2.1.6.

[2017-10-02 16:18] nickyoung87 commented on #2396
You might be able to replace this with just one line now:

`$key = simpay_get_secret_key();`

That new function will just return the correct key based on the live or test mode check automatically so you don't have to check for it yourself.

[2017-10-02 17:55] gspice commented on #2396
I've verified AffiliateWP v2.1.5.2 and WP Simple Pay Pro 3 v3.1.6 on single payments creates a referral as expected.   I'll dig in to testing subscriptions next.

[2017-10-02 19:22] pippinsplugins commented on #2396
@nickyoung87 could you guys make the old methods work please? We can change them if so but the fact that the update broke two different integrations should be evidence that those old methods need to be maintained.

[2017-10-02 20:19] nickyoung87 commented on #2396
@pippinsplugins Let me talk with Phil and see what we can do.

The problem though is that the plugin was completely restructured and rewritten from scratch.

I do agree with you that this is bad that the integrations got broken, however, we also only have very few integrations to start. Going forward we will not be changing any of the new stuff that is currently in place and if we do we will be ma

[2017-10-02 20:26] pippinsplugins commented on #2396
@nickyoung87 just these two.

If you could let me know if you decide to support the old methods or not to support them, that would be great. We'll wait to fix our other integration until we hear from you.

[2017-10-02 22:24] nickyoung87 commented on #2396
@pippinsplugins Alright so we discussed this at length and came to a conclusion. We think it would be better if we don't add support for these older functions.

Our main reasoning behind this is that the code for the old version of the plugin and the new version is so different that it would be quite difficult to cover everything that is possible. We also are done with our code restructuring for b

[2017-10-03 01:23] pippinsplugins commented on #2396
Ok, we'll make due.

[2017-10-03 07:32] amdrew commented on #2030
@gspice Are you still able to replicate this issue? I wonder if #2004 fixed it or not.

[2017-10-03 15:32] ramiabraham commented on #2393
Added a PR: https://github.com/AffiliateWP/AffiliateWP/pull/2400

Presently finishing up the rate calc. Can we add a param for the rate in the base class `calculate_referral_amount` method? It'd add a param for `$rate`, then just a ternary or something:

[code]

[2017-10-03 16:37] gspice commented on #2030
@amdrew  I re-tested and you are correct, it is fixed, form did not create a referral when there were submission errors.

[2017-10-03 16:37] #2030 closed

[2017-10-03 17:47] pippinsplugins commented on #2393
@ramiabraham one minor change needed. See review on PR>

[2017-10-03 18:17] amdrew commented on #2030
@gspice Sweet!

[2017-10-03 19:43] pippinsplugins commented on #2393
@amdrew could you give this a test today?

[2017-10-03 20:51] dustinatx opened #2401 "Use rel="nofollow" on affiliate links"
To meet Google's quality guidelines the "copy and paste" links in the Creatives section of the Affiliate Area should use the rel="nofollow" attribute. It is possible for both the linked and linking site to be penalized by Google for using affiliate links without the rel="nofollow" attribute.

https://support.google.com/webmasters/answer/66356?hl=en&rd=1

[2017-10-03 21:32] amdrew commented on #2401
Thanks @dustinatx! I'm going to close this since we already have an open issue for this: https://github.com/AffiliateWP/AffiliateWP/issues/1155

[2017-10-03 21:32] #2401 closed

[2017-10-03 21:33] amdrew commented on #1155
Yes, this should happen for creatives

[2017-10-04 10:55] michaelbeil commented on #2393
This PR fixes the metabox box issue for me.

[2017-10-04 11:15] amdrew commented on #2393
@pippinsplugins Works for me too

[2017-10-04 13:56] michaelbeil commented on #2395
Another user with this issue: https://secure.helpscout.net/conversation/443448559/67906/?folderId=205524.

[2017-10-04 14:41] #2393 closed

[2017-10-04 16:59] DrewAPicture commented on #2395
PR: #2403

Looks like the issue was that in some cases, `$this->batch_id` wasn't set, and in lieu of checking that it was set, we were globally deleting options. Baddddd idea. I've gone ahead and adjusted all batch processes to directly pass the batch ID via the Ajax handler, as well as double check that the REGEXP pattern contains a batch ID before proceeding.

[2017-10-04 18:24] ramiabraham commented on #2355
@AffiliateWP/core Added a PR: https://github.com/AffiliateWP/AffiliateWP/pull/2404

[2017-10-04 19:15] ramiabraham commented on #2395
@AffiliateWP/core Works great here, import completed successfully.

[2017-10-04 20:01] gspice commented on #2395
Tested with user's CSV file and it imported successfully!

[2017-10-04 20:58] Kyzcreig commented on #2355
Thanks guys :)

On Wed, Oct 4, 2017 at 11:24 AM, Rami Abraham <notifications@github.com>
wrote:

[2017-10-04 21:22] #2395 closed

[2017-10-04 21:36] amdrew commented on #2355
@ramiabraham I'm getting a weird result.

Here's my referrals list, note how there are no referrals from 2017:

<img width="1489" alt="screenshot 2017-10-05 10 30 18" src="https://user-images.githubusercontent.com/52581/31200721-8d6e56f8-a9b8-11e7-966c-31db60639607.png">

___

Here's the screen on master for comparison:

<img width="1348" alt="screenshot 2017-10-05 10 29 52" src="https://user-imag

[2017-10-04 21:41] ramiabraham commented on #1693
@amdrew @pippinsplugins
- With AAT compatibility removed in https://github.com/AffiliateWP/AffiliateWP/pull/2386/commits/d53d2fa81bb85fb4856a99c5142cdc65e408401b, [this issue](https://github.com/AffiliateWP/affiliatewp-affiliate-area-tabs/issues/47) in AAT would need to be resolved in AAT prior to the 2.1.6 release

- ([Asking for feedback in review here](https://github.com/AffiliateWP/AffiliateWP

[2017-10-04 21:43] ramiabraham commented on #2355
@amdrew Weird! Testing as well.

[2017-10-04 21:46] amdrew commented on #2355
Ok found the issue, there's a $15 referral in the database from `2017-03-04 05:23:58`, however it doesn't below to my admin affiliate (ID of 1). This particular referral belongs to an affiliate with an ID of `20`. Once I change the date on that referral to something further in the past, it shows correctly:

<img width="1470" alt="screenshot 2017-10-05 10 45 40" src="https://user-images.githubuserc

[2017-10-04 21:49] gspice commented on #2355
My totals match for the date range July 1 - 5 for `affilgsc`:
![reports-referrals](https://user-images.githubusercontent.com/3018245/31201355-3ccc6c12-a913-11e7-85e5-bc8c677fd30d.png)

[2017-10-04 21:54] ramiabraham commented on #948
@pippinsplugins @amdrew Merge conflict resolved in https://github.com/AffiliateWP/AffiliateWP/pull/2378/commits/d3ec81d738d71eddba88de39ff789cf4d8211b56

[2017-10-04 22:15] amdrew commented on #2355
Get this on the above screen:

[code]

last line in stack:

[code]

[2017-10-04 22:22] amdrew commented on #948
@ramiabraham 👍 Needs the same treatment for the other emails that show when require approval is enabled from the misc settings

[2017-10-04 22:41] amdrew opened #2405 "Improve UI for disabling specific email notifications"
In 2.2 we're adding options to disable specific emails (https://github.com/AffiliateWP/AffiliateWP/issues/1923).

Currently it looks like the following:

<img width="859" alt="screenshot 2017-10-05 11 30 07" src="https://user-images.githubusercontent.com/52581/31202956-6ae94788-a9c1-11e7-9f9a-fe11b2b63656.png">

Since all these checkbox options are related, it would make more sense to group them l

[2017-10-04 23:55] pippinsplugins commented on #1693
@ramiabraham could you resolve the merge conflict, then we can test and review further?

[2017-10-05 01:06] ramiabraham commented on #2355
@amdrew Thanks, corrected

[2017-10-05 01:10] amdrew commented on #2355
@ramiabraham Great, it's fixed!

[2017-10-05 13:43] #2355 closed

[2017-10-05 15:06] ramiabraham commented on #948
@amdrew In `affwp_notify_on_registration`, the only check to the `require_approval` setting is a statement that appends a link in the admin email to review all pending applications, if `require_approval` is enabled:

[code]

All of the other emails are notifications for affiliates. What should be added to those?

[2017-10-05 16:38] pippinsplugins commented on #948
I don't think anything needs to be added to those.

[2017-10-05 17:13] ramiabraham commented on #1412
@AffiliateWP/core Added _much_ more in https://github.com/AffiliateWP/AffiliateWP/commit/036b6a68d07fe04da55a56797f5203a07838c60a - any we're missing?

[2017-10-05 18:22] pippinsplugins commented on #1412
@ramiabraham I see a few things that need adjusted still.

1. The tool tips need to be inline, not on new lines:
<img width="1031" alt="screen shot 2017-10-05 at 1 15 53 pm" src="https://user-images.githubusercontent.com/1034109/31244070-64c8bf24-a9cf-11e7-800a-d5099d17ea22.png">

2. There is an erroneous space after `[affiliate_area]`:
<img width="258" alt="screen shot 2017-10-05 at 1 16 46 pm" s

[2017-10-05 19:45] DrewAPicture commented on #1412
So, I guess it begs the question of what the difference is between displaying contextual help all the time below a setting and what goes into a tooltip? And at what point have we made our settings so cryptic that almost all of them need extra text to explain what they are?

[2017-10-05 19:47] DrewAPicture commented on #1412
So, I guess it begs the question of what the difference is between displaying contextual help all the time below a setting and what goes into a tooltip?

And at what point have we made our settings so cryptic that almost all of them need extra text to explain what they are? Meaning that, at a certain point, perhaps we're working around the actual problem that our settings can't effectively explain

[2017-10-05 20:15] pippinsplugins commented on #1412
I think the same question can be asked about documentation? If the settings are hard to explain, why does documentation exist?

Unfortunately I don't think it matters how clearly we label settings, there will _always_ be someone who has difficulty in understanding them. The tooltips essentially act as a replacement/supplemental to the more verbose documentation that lives on our site and are solel

[2017-10-05 20:17] DrewAPicture commented on #1412
Actually defining the problem is sometimes hard. We know symptoms of the problem, for instance:

1. The settings don't adequately explain themselves
2. The setting names are unclear
3. The setting name and description don't match
4. The setting name is succinct (and therefore confusing because of it)
5. There are too many settings
6. There is little to no explanation of how settings interact with

[2017-10-05 20:23] pippinsplugins commented on #1412
That's all very good.

In that vein then, I think we should start by defining which settings are problematic and apply @DrewAPicture's steps there and see where that leads us.

[2017-10-05 20:45] gspice commented on #2214
Another request:
https://secure.helpscout.net/conversation/444377678/68029/?folderId=205524

[2017-10-05 21:00] gspice commented on #2363
another one:
https://secure.helpscout.net/conversation/444383606/68031?folderId=1170842

[2017-10-05 21:17] amdrew commented on #948
@ramiabraham @pippinsplugins Was referring to the divider lines that were added. Enable require approval from misc settings:

<img width="1425" alt="screenshot 2017-10-06 10 15 17" src="https://user-images.githubusercontent.com/52581/31252934-5b2c4f2a-aa7f-11e7-9476-b1310a6a67ae.png">

<img width="1429" alt="screenshot 2017-10-06 10 15 09" src="https://user-images.githubusercontent.com/52581/31252

[2017-10-05 22:46] amdrew commented on #1693
@ramiabraham The links in the Affiliate Area are missing their query strings (E.g ?tab=graphs) so you can't load any of them.

<img width="1186" alt="screenshot 2017-10-06 11 43 26" src="https://user-images.githubusercontent.com/52581/31255860-9fd777c4-aa8b-11e7-92be-dcc44ddfad6e.png">

[2017-10-05 23:42] amdrew commented on #1693
@ramiabraham Spotted another small tweak needed for the example code in the `affwp_get_affiliate_dashboard_tabs()` function (left you a note on the PR about the `=>` vs `=`).

For example, following the example code provided and adding a new `Direct Links` tab, you'd end up with an array like this (ID is in the wrong location):

<img width="435" alt="screenshot 2017-10-06 12 35 41" src="https://us

[2017-10-05 23:44] amdrew commented on #1693
P.S. It seems the priority isn't working for me. I have a priority of `3` (using the exact code above) but it's not placing it in the correct location. I would expect it to be placed after or before `Referrals`.

<img width="836" alt="screenshot 2017-10-06 12 42 49" src="https://user-images.githubusercontent.com/52581/31257257-18692bc6-aa94-11e7-9c2e-69f2af37f339.png">

[2017-10-06 03:25] ramiabraham commented on #1412
Will start by working on the additional tooltips noted, and fleshing out some existing ones - I love these points. Going to use them as guidelines for each as @pippinsplugins noted:

This will greatly increase the usability of our 🏍

[2017-10-06 17:50] pippinsplugins commented on #2399
@DavidAnderson684 You're absolutely right!

We need to be setting `autoload` to `no` in `set_version_info_cache()`.

[2017-10-06 18:09] gspice opened #2407 "Importing referrals from CSV completes but count is off, no referrals are imported."
Reported on this HS ticket:
https://secure.helpscout.net/conversation/442110287/67764/?folderId=1170842

Staging database login credentials and CSV file attachment available on the above ticket.

1. Went to _Affiliates > Tools > Export/Import_ to **Import Referrals**
2. Used CSV file which was exported from another site with AffiliateWP
3. Import says complete for 59 referrals (seems to be going b

[2017-10-07 00:21] ramiabraham commented on #1693
@amdrew Priority functioning now! Rewrote it completely today. Any ideas on the `content` argument? `affwp_affiliate_area_show_tab` is the gatekeeper as it is now, we should definitely not break compatibility with that due to core dependency on it for determining visibility of the active tab, AAT usage, and others.

[2017-10-09 01:07] amdrew commented on #1693
@ramiabraham Had a good play with this. All working great so far, excellent stuff!

Is there something specific you're wanting feedback on? I think the `content` arg is a great addition. It works fine from what I can see (had to add your `spork` ID into the `affwp_affiliate_area_tabs` filter to see the custom content).

I like the way you're loading the template file first and then falling back to

[2017-10-09 04:33] amdrew commented on #1693
@ramiabraham Here's something else we'll need to include.

Since it's now possible for an add-on (DLT for example) to add a new tab to the very beginning of the tabs list using a lower priority, the active tab will be muddled when you visit the Affiliate Area.

This is because of the `$tabs` array in the `affwp_get_active_affiliate_area_tab()` function. Note how `urls` is the first in the array:
h

[2017-10-09 05:21] amdrew commented on #1693
@ramiabraham The following open issue on the Affiliate Area Tabs repo (it's really a core issue now but will leave it there) is a good example for making `affwp_get_active_affiliate_area_tab()` return the tab with the lowest priority: https://github.com/AffiliateWP/affiliatewp-affiliate-area-tabs/issues/45#issuecomment-335067886.

[2017-10-09 05:33] amdrew opened #2408 "Load required scripts for "Graphs" tab when it is the "active" tab"
This issue was originally opened on Affiliate Area Tabs (https://github.com/AffiliateWP/affiliatewp-affiliate-area-tabs/issues/45), though it's really a core issue now since tabs will have priorities. It will need to be fixed at the same time as #1693.

We need to update our conditional check to make sure the required scripts for the "graphs" tab are loaded when it is the active tab: https://githu

[2017-10-09 16:43] DrewAPicture commented on #2407
Without having looked into it yet, I'm guessing the problem is similar to
the garbage collection failure in that the batch_id property isn't set
further up the stack in certain circumstances. I'll get into it.

[2017-10-09 20:45] amdrew commented on #1693
@ramiabraham I think we should space out the priorities of the existing tabs a bit more. Currently they are -1, 1, 2, 3, 4, 5, 6, 7.

Example:

It's not possible to place `Direct Links` between `Visits` and `Creatives`.

___
Priority of 5:

<img width="455" alt="screenshot 2017-10-10 09 39 24" src="https://user-images.githubusercontent.com/52581/31357620-f85bb2d2-ad9e-11e7-8f4d-60a55b5d08fe.png">

[2017-10-09 20:48] pippinsplugins commented on #1693
I'd vote for multiples of 10 instead:

10, 20, 30, 40, 50, 60, . . .

On Mon, Oct 9, 2017 at 3:45 PM, Andrew Munro <notifications@github.com>
wrote:

[2017-10-09 20:52] amdrew commented on #1693
@pippinsplugins Damnit I changed it to 5's last minute from 10's!

👍 10's would definitely allow for more flexibility if needed.

[2017-10-09 20:54] amdrew commented on #1693
@ramiabraham One more thing. A priority of `0` places a tab at the **end** of the other tabs. I would expect this to be placed first, since `-1` allows a tab to be placed at the beginning.

[2017-10-11 02:07] amdrew commented on #1693
@ramiabraham Tabs in the affiliate area seem to be broken now. For example, if I click the "Payouts" tab it shows `?tab=payouts` in the URL, but is showing the Affiliate URLs tab and content. Can you replicate?

[2017-10-11 18:12] gspice commented on #840
Another request for this....the affiliate would like to search referrals by month or custom date in the affiliate area.  Currently the owner is sending him a monthly statement by email manually.
https://secure.helpscout.net/conversation/447624101/68372?folderId=1170842

[2017-10-11 18:49] ramiabraham commented on #1693
@amdrew Sorry, fixed in https://github.com/AffiliateWP/AffiliateWP/commit/44aab9dd227ef6c8d84ee4bab49831e08f154f2b!

[2017-10-11 20:02] amdrew commented on #1693
@ramiabraham Looking good!

Found one more thing, if I add a tab to the beginning from an add-on (DLT), and then click Affiliate Area I see this:

<img width="884" alt="screenshot 2017-10-12 08 59 40" src="https://user-images.githubusercontent.com/52581/31463803-d567d52e-af2b-11e7-81c1-3aab3392a462.png">

It's fine however when you click the actual tab:

<img width="908" alt="screenshot 2017-10-12

[2017-10-12 16:59] ramiabraham commented on #1693
@amdrew I couldn't replicate this, what's the tab data being added? Here's what I used in testing:

[code]

[2017-10-12 17:06] ramiabraham commented on #2408
@amdrew The datepicker is loading for me on #1693 and `master`, no js errors generated. Should we restrict `jquery-ui-datepicker` and `jquery-ui-css` to load only for the graphs tab, when active?

[2017-10-12 17:07] pippinsplugins commented on #2408
@ramiabraham yeah I think limiting to the graphs tab will be fine.

[2017-10-12 20:48] amdrew commented on #2408
@ramiabraham Sorry, I should have clarified from the previous issue (https://github.com/AffiliateWP/affiliatewp-affiliate-area-tabs/issues/45), it's when it is the first tab. In any case, as long as we only load the scripts required for the graphs tab, when the graphs tab is active, we should be fine.

[2017-10-12 20:50] gspice commented on #1693
@amdrew How are you adding that Direct Link tab, is there a shortcode for that?

[2017-10-12 20:54] ramiabraham commented on #1693
@gspice It can be added in a variety of places, but the one I've been using is to place it in the `AffiliateWP_Direct_Link_Tracking_Frontend` class, in `class-frontend.php`:

In the `__construct` method, add:
[code]

Just below the `__construct` method, as a new method, add:

[code]

[2017-10-12 21:17] ramiabraham commented on #2408
@amdrew Added a PR: https://github.com/AffiliateWP/AffiliateWP/pull/2409

[2017-10-12 21:21] amdrew commented on #1693
@ramiabraham Found why out. It's because my code for adding a tab looks like this from previous testing, where each array was just a number. I see now that after the latest commits, each key's array is the ID also:
[code]

As opposed to:

[code]

Do we need both? Can we just pass in one ID and have it all work? I.e. specificy `direct-links` once in the example above.

[2017-10-12 21:31] amdrew commented on #2408
@ramiabraham This is perfect

[2017-10-12 22:07] ramiabraham commented on #1693
@amdrew Updated; removed `id` parameter since we can just use keys as noted

[2017-10-13 18:07] ramiabraham commented on #1693
@amdrew Added compatibility for `affwp_affiliate_area_show_tab`. In thinking about more flexible updates to the dashboard area tabs, I keep returning to the idea of _saving_ data. In this case, saving an array of tab IDs, along with a property like "visible" (or something).

If that's something we want to do, how about a setting in `wp_options`?

[2017-10-13 18:27] ramiabraham commented on #948
Sorry I think I'm confused - where should dividing lines be added?

[2017-10-13 21:30] amdrew commented on #948
@ramiabraham Take a look at this, note the lines in all the other sections, but the 2 at the bottom (shown in the screenshots above).

![screen shot 2017-10-14 at 10 29 25-fullpage](https://user-images.githubusercontent.com/52581/31567171-a60d4caa-b0ca-11e7-91ab-612102ca5dda.png)

[2017-10-14 02:05] amdrew commented on #1693
@ramiabraham Looking good!

Could you give me an example of why we would need to save the tab IDs in the DB, vs having a function that could hold the "visible" tabs?

Found a small issue. Add a new tab like so:

[code]

Note that the priority is the same as the `urls` tab. In the array, it appears **after** `urls`. However if you load the Affiliate Area, the first active tab displayed is `direct-l

[2017-10-14 02:14] amdrew commented on #1693
Something like this could work well for holding any visible tabs, which I would imagine would come in quite handy later on. Could store the ID only, but perhaps all the tab data would be useful.

[code]

[2017-10-16 01:41] amdrew opened #2410 "Affiliate registration form not submitting correctly"
After submitting the affiliate registration form after logging in from the affiliate area's login form, the registration form shows again, instead of actually registering the affiliate.

Steps to replicate:

1. Create a new user account (or use an existing one)
2. In another browser, log in as the new user using the login form on the `/affiliate-area` page.
3. Immediately on the next screen, submi

[2017-10-16 02:05] amdrew commented on #2410
Looks like the issue is somehow related to the login form that is shown with the affiliate registration form. For example, here's a workaround that works perfectly fine.

1. Place the standalone [affiliate_login] shortcode underneath the [affiliate_area] shortcode. The Affiliate Area page now look like this:

    `[affiliate_area]`

    `[affiliate_login]`

2.  Set the "Affiliate Area Forms" admin

[2017-10-16 05:23] amdrew commented on #1693
@ramiabraham Not sure if this is ready for some more testing but with the latest commit I no longer see some of the tabs in AAT. AAT uses `affwp_get_affiliate_dashboard_tabs()` to output all tabs to its settings page.

Before:

<img width="753" alt="screenshot 2017-10-16 18 21 10" src="https://user-images.githubusercontent.com/52581/31596397-d1ad65f4-b29e-11e7-9d02-5d6e27b5f11c.png">

After:

<img

[2017-10-17 18:11] gspice opened #2411 "WooCommerce: add link in order detail to go directly to Referral edit screen"
From support ticket:
https://secure.helpscout.net/conversation/450483126/68651?folderId=1170842

[2017-10-19 15:59] michaelbeil commented on #2389
This issue has come up again.

[2017-10-19 21:44] amdrew commented on #2389
@michaelbeil Can you list your plugin versions and exact steps to replicate?

[2017-10-19 22:18] DrewAPicture opened #2412 "Update to v1.6.15 of the EDD_SL_Plugin_Updater class"
Customer has reported a very large autoloaded option stemming from AffWP (the largest in his `wp_options` table). https://secure.helpscout.net/conversation/452120717/68799/

Turns out it's the response from SL and contains basically most of the changelog. @cklosowski has filed a ticket to slim down the response ([#SL1189](https://github.com/easydigitaldownloads/EDD-Software-Licensing/issues/1189))

[2017-10-19 22:21] DrewAPicture commented on #2412
PR: #2413

[2017-10-19 22:23] amdrew opened #2414 "AffiliateWP panel empty on WooCommerce product page"
When the `Facebook for WooCommerce` plugin (https://woocommerce.com/products/facebook/) is installed and configured, the AffiliateWP panel on a WooCommerce product's screen is empty:

<img width="987" alt="screenshot 2017-10-20 11 17 56" src="https://user-images.githubusercontent.com/52581/31796967-5afccb56-b588-11e7-8c2e-7cdc55adf607.png">

I don't see anything wrong with the way that plugin is a

[2017-10-19 22:40] DrewAPicture commented on #2414
Let's include this with 2.1.6.1.

[2017-10-20 02:45] pippinsplugins commented on #2412
PR looks good.

[2017-10-20 11:35] michaelbeil commented on #2389
I was using AffiliateWP v2.1.6 and RCP v2.9.1, purchased a free subscription through RCP through an affiliate link, and this error came up.

http://beil.io/rLeCSl

[2017-10-20 13:39] mindctrl commented on #2389
@michaelbeil that would be why you saw it. There was a fix in RCP 2.9.4 that went along with the fix here.

[2017-10-20 14:06] michaelbeil commented on #2389
Oh no. You are right. Apparently my license key got lost somehow. So, I updated to the latest version and couldn't reproduce the issue.

[2017-10-20 14:06] #2389 closed

[2017-10-20 14:22] #2412 closed

[2017-10-20 14:22] #2414 closed

[2017-10-20 14:26] DrewAPicture commented on #2399
This should be mitigated by #2412, going out in 2.1.6.1.

[2017-10-20 14:27] #2399 closed

[2017-10-21 07:30] flowdee opened #2416 "reCAPTCHA for [affiliate_login]"
It seems like your reCAPTCHA only shows up when using `[affiliate_registration]` but it should also show up when using `[affiliate_login]`.

[2017-10-21 20:39] DrewAPicture commented on #2416
Ahh, good call. We should add it.

[2017-10-21 20:56] DrewAPicture commented on #2416
PR: #2417

@amdrew mind giving this a quick once over?

@flowdee please test :-)

[2017-10-22 09:27] DrewAPicture commented on #2416
As far as I know, it isn't possible to have multiple reCAPTCHA instances on the same page, so I think that's sort of the unavoidable caveat of enabling it on the login form in addition to the registration form.

[2017-10-22 13:26] flowdee commented on #2416
Mh what about adding a second checkbox to avoid this? Anyway you would be able to use both captchas when placing the shortcodes on different pages

[2017-10-23 15:24] macagoraga opened #2418 "After uninstall database tables is not removed"
It's a WP Multisite, the plugin was activated for 1 site.
After delete the plugin, the database table was not removed.

[2017-10-23 15:26] DrewAPicture commented on #2418
Hi @macagoraga, thanks for the report. What version of AffiliateWP did you have installed?

[2017-10-23 15:28] macagoraga commented on #2418
Last version just downloaded from here an hour ago, I see that it's 2.1.6.1
Also latest WP version, 4.8.2

[2017-10-23 20:55] gspice opened #2419 "Visits: Usernames with dashes append dash and characters following to Landing Page entry."
Reported on this support ticket:
https://secure.helpscout.net/conversation/450464320/68649?folderId=1170842

Reproduced with:
* Created username:  `user-name`
* Use in this format:    http://mysite.com/mypage/ref/user-name
* Creates a Visit showing the referring Landing Page as : http://mysite.com/mypage-name

If the link is formatted like:  http://mysite.com/mypage/?ref=user-name that works fine.

[2017-10-24 00:22] ramiabraham commented on #1693
@amdrew Tweaked as noted; see anything buggy remaining or that we're missing? Testing a bit more here as well.

[2017-10-24 00:25] ramiabraham commented on #2408
@amdrew Ok to merge?

[2017-10-24 01:38] amdrew commented on #1693
@ramiabraham See my comment from earlier: https://github.com/AffiliateWP/AffiliateWP/issues/1693#issuecomment-336602310

This still seems to be the case. I've updated the code snippet to use `visible => true ` like this:

[code]

Using that exact code, (and as per the earlier comment), when loading the affiliate area, the custom tab is shown, rather than Affiliate URLs, which appears first in the

[2017-10-24 01:44] amdrew commented on #2408
@ramiabraham Can you merge the patch for this into #1693 so we can test it altogether? Should be good to go but want to test everything together all at once that's related to tabs before merging into master.

[2017-10-24 01:53] ramiabraham commented on #2408
Done!

[2017-10-24 02:10] amdrew commented on #1693
@ramiabraham Now that 2408 is merged into 1693 it's not working. The lowest priority tab in my case is URLs, not graphs. URLs has been removed via Affiliate Area Tabs. Same JS error as before.

<img width="996" alt="screenshot 2017-10-24 15 09 07" src="https://user-images.githubusercontent.com/52581/31921725-577fae56-b8cd-11e7-9dae-26221f785a7f.png">
<img width="749" alt="screenshot 2017-10-24 15

[2017-10-24 04:14] ramiabraham commented on #1693
@amdrew How are you removing the tab via AAT? I'm using:

[code]

with just `add_action( 'affwp_get_affiliate_dashboard_tabs', array( $this, 'test_tabs' ) );` in `hooks()`

This results in Statistics being loaded first. I also have a custom tab defined via the AAT interface:

![ALT_TEXT](https://cldup.com/xAAE9JD5qT.png "TITLE")

![ALT_TEXT](https://cldup.com/2F61M-2Zxs.png "TITLE")

If I define a

[2017-10-24 04:40] amdrew commented on #1693
@ramiabraham By enabling the checkbox next to the tab(s) under the `Disable Tabs` section.

[2017-10-24 04:57] amdrew commented on #1693
Remember, we don't ever want to unset a tab, as AAT won't see it, so it won't be able to be disabled by a customer.

[2017-10-24 15:34] ramiabraham commented on #1693
@amdrew Thanks, ready for review!

[2017-10-24 22:17] DrewAPicture opened #2420 "Batch IDs aren't being defined for batch import classes"
Not quite sure how this was missed when the batch import classes were merged, but it appears as though the `batch_id` properties were never defined, which a customer has pointed out can cause un-prefixed options to be used to determine counts when using the importers.

https://secure.helpscout.net/conversation/454931942/69064/?folderId=835878#

[2017-10-24 22:19] DrewAPicture commented on #2420
PR with a test: #2421

[2017-10-24 23:02] amdrew commented on #1693
@ramiabraham Great, the issue with the incorrect tab loading first (with the same priority) has been resolved.

Let me know when it's ready for testing with the Graphs JS error fixed, that appears to still be an issue.

Also, noticed that filtering the array and setting a tab's visibility to false doesn't work.

Set to false:

<img width="402" alt="screenshot 2017-10-25 11 57 12" src="https://user

[2017-10-24 23:08] amdrew commented on #1693
Likewise when grabbing the list of tabs and setting `$all` to false, it still returns all tabs, regardless of their visible status. There's no reference to `$all` inside that function.

[2017-10-25 01:00] ramiabraham commented on #1693
@amdrew Thanks pushed up some tweaks. I think we need to refactor `affwp_affiliate_area_show_tab` a tiny bit...

[2017-10-25 02:25] amdrew commented on #1693
@ramiabraham Hmm, not able to control the visibility still as per above. You have commented code inside `affwp_get_affiliate_dashboard_tabs()`, was that intentional?

Good idea on removing the exclude stuff. I was going to ask what a good use case for that was, considering we're already hiding tabs.

Still getting the JS error on graphs tab as per above, I'm guessing that still needs work.

[2017-10-25 03:22] ramiabraham commented on #1693
I'm not getting the graphs js error :/ - If I set it as the first tab via filter, or disable URLs and Stats via AAT, the graphs js loads ok for me; how do I replicate?

What code is being used to set visibility of a tab?

[2017-10-25 04:13] amdrew commented on #1693
@ramiabraham To replicate the graphs JS error I'm doing the same as before, disabling the URLs and Stats tabs via Affiliate Area Tabs. What does `affwp_get_lowest_priority_tab()` return for you? For me it's returning `urls` which is correct.

However the conditional check is checking for the lowest priority, which isn't `graphs`, so that's why it's failing: https://github.com/AffiliateWP/Affiliate

[2017-10-25 04:30] amdrew commented on #1693
@ramiabraham Are you using the latest master of AAT?

@gspice Would you mind giving 1693 a test, in conjunction with Affiliate Area Tabs? Disable the first 2 tabs:

<img width="768" alt="screenshot 2017-10-25 17 29 13" src="https://user-images.githubusercontent.com/52581/31980586-0d4fec50-b9aa-11e7-9f1c-0a47e8a57975.png">

And you should see this:

<img width="999" alt="screenshot 2017-10-25 17 29

[2017-10-25 06:24] amdrew commented on #1693
@gspice Rami was able to replicate the JS error, no need to test anymore.

[2017-10-25 11:31] kamov opened #2422 "reference of hooks"
Where I can find reference of hooks?

[2017-10-25 11:58] michaelbeil commented on #2422
There are hooks interspersed throughout our source code. What particular hook are you looking for?

[2017-10-25 12:40] kamov commented on #2422
Thanks for reply.
I need to hook when specific referral ID it's saved on cookie.
I can give more details if required.

[2017-10-25 12:44] michaelbeil commented on #2422
Have you searched here? https://github.com/AffiliateWP/AffiliateWP/search?utf8=%E2%9C%93&q=hook&type=

[2017-10-25 12:57] kamov commented on #2422
Nope... Let me check.
It would be useful to have something like
https://docs.woocommerce.com/wc-apidocs/hook-docs.html

[2017-10-25 13:14] michaelbeil commented on #2422
Thanks for the suggestion. We do hope to have a reference in the future.

[2017-10-25 13:14] #2422 closed

[2017-10-25 18:35] #2420 closed

[2017-10-25 18:37] DrewAPicture commented on #2407
I'm thinking his might be related to/the same bug that was just fixed in #2420.

[2017-10-25 18:54] DrewAPicture commented on #2419
Hmm. I'm unable to reproduce this. Since dashes aren't allowed in usernames on multisite, anybody else testing may need to create a username and manually change it to include the dash via their SQL editor.

In attempting to follow the steps to reproduce, I generated a test referral against a page on the site with the referral var of  `ref`. In my testing, the visit came through with the expected U

[2017-10-25 19:55] amdrew opened #2423 "Store multiple referral IDs on visits screen"
When an affiliate link is first used, it stores a visit and the Referral ID column shows `0`. When a referral is generated from that visit we update the Referral ID accordingly, let’s say the referral ID is `46`.

When a new referral is generated off the _exact_ same visit, we then **replace** the Referral ID of that visit to the _new_ referral’s ID, i.e `47`. It’s important to know as an admin wh

[2017-10-25 20:37] gspice commented on #2419
@DrewAPicture So the actual page link was http://affiliate.dev/sample-page-name/ ?  Or was it http://affiliate.dev/sample-page and the `-name` was added?

[2017-10-25 20:43] DrewAPicture commented on #2419
Oh, good call. I didn't even notice that! :-)

[2017-10-25 21:01] gspice commented on #2407
@DrewAPicture Tested the import again with fix #2420 and it all works as expected!

[2017-10-26 17:44] gspice commented on #2410
@amdrew Wondering if the issue on this ticket is the same?
https://secure.helpscout.net/conversation/452904513/68889?folderId=1170842

Sometimes after populating all of the fields, the registration form comes back blank, and the registration does not take place.  In my local testing (and on the user's site)  I have reproduced this, however, not consistently.

I reproduced it when I put an invalid

[2017-10-26 18:11] ramiabraham commented on #1693
@amdrew @gspice Ready for review. AAT compatibility has its own issue/PR as well: https://github.com/AffiliateWP/affiliatewp-affiliate-area-tabs/issues/48

[2017-10-26 21:57] gspice opened #2424 "Admin - Referrals - WooCommerce: referral reference entry shows actual order # and not sequential if WC Sequential Order Numbers is active"
Testing with:
AffiliateWP core:  2.1.6.1
WooCommerce: 3.2.1
WooCommerce Sequential Order Numbers:  1.8.2

Referrals created will contain the "real" order number and not the sequential WooCommerce order number in the referral's _reference_ column.  This makes it tricky when adding referrals manually.

Would prefer to support the sequential order number/redirect.

[2017-10-26 21:59] amdrew commented on #1693
Testing soon 👍

[2017-10-26 22:12] amdrew commented on #1693
@ramiabraham I'm on `issue/48` of AAT while testing. First thing I see is no tabs:

<img width="1077" alt="screenshot 2017-10-27 11 09 42" src="https://user-images.githubusercontent.com/52581/32079512-5cdb3d52-bb07-11e7-8a23-4d8b4201ec46.png">

<img width="1223" alt="screenshot 2017-10-27 11 09 39" src="https://user-images.githubusercontent.com/52581/32079513-5d0c8358-bb07-11e7-87c3-6e768574c1a6.p

[2017-10-26 22:15] amdrew commented on #1693
Left a note on PR also, empty conditional

[2017-10-26 23:28] amdrew commented on #1693
@ramiabraham Getting an undefined index when clicking onto a custom tab added via AAT. Notice coming from: /wp-content/plugins/AffiliateWP/includes/affiliate-functions.php on line 1519

[2017-10-26 23:30] amdrew commented on #1693
If you filter the first tab (urls) to not be visible (or set it directly in the tab function as false) then this happens:

<img width="1110" alt="screenshot 2017-10-27 12 29 39" src="https://user-images.githubusercontent.com/52581/32081537-90a8b514-bb12-11e7-90b9-56447ea32d5c.png">

The next tab that is visible (stats) should be loaded when going to the affiliate area.

[2017-10-26 23:38] amdrew commented on #1693
@ramiabraham Can we default a tab to true so it doesn't need to be explicitly called? Just tried an earlier code example and the tab won't be added unless `visible` = `true`. If not, we need to update the code example, but setting to true by default is preferred.

[2017-10-27 02:12] amdrew commented on #2410
@gspice Sounds like it could be related for sure

[2017-10-27 03:28] amdrew commented on #1693
@ramiabraham

The custom tabs added to the disable tab section is a nice touch, very handy.

When I pull down the latest on AAT I see duplicated tabs and content. 3 out of the 4 custom tabs have been repeated:

<img width="773" alt="screenshot 2017-10-27 16 25 20" src="https://user-images.githubusercontent.com/52581/32086705-7e30c25c-bb33-11e7-9985-4186a5a4abe9.png">

___

<img width="611" alt="sc

[2017-10-27 03:29] amdrew commented on #1693
Also, if I disable the last 3 custom tabs, they still show on the Affiliate Area

[2017-10-27 22:28] ramiabraham commented on #1693
@amdrew Ready for review. Pushed minor tweaks in https://github.com/AffiliateWP/affiliatewp-affiliate-area-tabs/issues/48 as well.

[2017-10-28 00:25] amdrew commented on #1693
@ramiabraham Still seeing the PHP notice from https://github.com/AffiliateWP/AffiliateWP/issues/1693#issuecomment-339829448

[2017-10-28 00:28] amdrew commented on #1693
@ramiabraham Thoughts on https://github.com/AffiliateWP/AffiliateWP/issues/1693#issuecomment-339830956? At the moment the code example to add a new tab will not work, unless you define the visibility.

[2017-10-28 00:29] amdrew commented on #1693
@ramiabraham Still an empty conditional here as per note on PR https://github.com/AffiliateWP/AffiliateWP/blob/0a0cad077f56551c33c6366eaa8fbfd3c29cadb2/includes/affiliate-functions.php#L1497

[2017-10-28 00:30] amdrew commented on #1693
@ramiabraham This is still happening for me: https://github.com/AffiliateWP/AffiliateWP/issues/1693#issuecomment-339829845

[2017-10-28 00:34] amdrew commented on #1693
@ramiabraham I'm not seeing the custom tabs inside AAT's checkbox list anymore (as per https://github.com/AffiliateWP/AffiliateWP/issues/1693#issuecomment-339862676). I'm guessing that was actually a mistake the first time?

[2017-10-28 00:38] amdrew commented on #1693
Related to https://github.com/AffiliateWP/AffiliateWP/issues/1693#issuecomment-340126150 above: if you add a custom tab but do not define it's visibility (as per the code example inside affwp_get_affiliate_dashboard_tabs() ) then you'll end up with the issue here https://github.com/AffiliateWP/AffiliateWP/issues/1693#issuecomment-339829845.

So we really need to either update the code example or f

[2017-10-28 00:42] amdrew commented on #1693
Another issue related to the visibility. If you disable tabs via AAT:

<img width="1193" alt="screenshot 2017-10-28 13 40 22" src="https://user-images.githubusercontent.com/52581/32129571-9da9ddbe-bbe5-11e7-8f97-b40728b6e5ae.png">

Then no tab is loaded by default when going to the affiliate area:

<img width="898" alt="screenshot 2017-10-28 13 41 00" src="https://user-images.githubusercontent.com

[2017-10-28 00:47] amdrew commented on #1693
It doesn't seem to be possible to filter the `content` of an existing tab. Example, I can filter `title`, `priority` or `visible`, just not `content`.

[code]

<img width="692" alt="screenshot 2017-10-28 13 47 15" src="https://user-images.githubusercontent.com/52581/32129654-86186c78-bbe6-11e7-92b9-427017b96150.png">

Expected result: "My new custom content" should appear, not the graphs template.

[2017-10-30 13:21] davefx opened #2426 "WooCommerce: when a referral gets updated, no note is generated"
When a referral gets updated, no note gets generated, showing apparently wrong information in the order.

[2017-10-30 19:40] #2407 closed

[2017-10-30 21:47] ramiabraham commented on #1693
@amdrew Ready for review again finally, with one exception noted last below.

---

Notes:

- Addressed notices (due to AAT not being added to core) in https://github.com/AffiliateWP/affiliatewp-affiliate-area-tabs/commit/28183f79960da7a0ba6fe879c65d84becab029cf
- Regarding the `content` of a tab not being filterable, this is only true for _core_ tabs, because priority is given to the template file

[2017-10-31 00:19] amdrew commented on #1693
@pippinsplugins 2 things remain from what I can see (still testing the above).

What are your thoughts on this?

I think if we provide a filter at all in the code then that filter should override what is there by default. It doesn't make sense to allow all other options to be overridden, except one (content).

This would be useful if someone wanted to change the entire output of an existing tab, b

[2017-10-31 01:17] amdrew commented on #1693
One more thing, according to the above, you can leave off the `priority` and it will render it at the end of all tabs. This works, except produces the following notice when a custom tab is added without the priority:

[code]

[2017-10-31 01:21] amdrew commented on #1693
Same with `visible`. It can be left off now and it will default to `true` but there's a PHP notice:

[code]

[2017-10-31 01:27] amdrew commented on #1693
Still seeing a PHP notice when going to a custom tab created from AAT:

[code]

This is on AAT `issue/48`.

[2017-10-31 02:28] pippinsplugins commented on #1693
I agree, let's add a filter.

[2017-10-31 02:31] amdrew commented on #1693
@pippinsplugins Filter is already there (affwp_get_affiliate_dashboard_tabs) just doesn't work for `content`.

[2017-10-31 04:03] pippinsplugins commented on #1693
An alternative, simpler PR has been submitted and is ready for testing.

@amdrew here's how you can add a custom tab now that will work just like core tabs:

[code]

For filtering tab content, there

[2017-10-31 09:40] amdrew commented on #1693
@pippinsplugins 👍 Extended your new branch slightly to meet some additional requirements for this issue and updated AAT master branch with some tweaks to support the changes.

1. Tabs are now dynamically added via the `dashboard.php` template file.
1. Custom tabs using the code examples below are now added to the settings of Affiliate Area Tabs (requires latest AAT master)
1. AAT is now fully inte

[2017-10-31 10:32] michaelbeil opened #2428 "Add pt_PT translation"
#2429

[2017-10-31 17:09] pippinsplugins commented on #1693
Pushed a fix that makes the old method work.

Tabs registered via the old method will still need to be updated to ensure complete compatibility with Affiliate Area Tabs, and I think that's okay.

@gspice could you give this a round of testing?

1. Checkout `issue/1693-2` for AffiliateWP
2. Confirm affiliate area works as expected
3. Checkout and activate `master` of Affiliate Area Tabs
4. Disable

[2017-10-31 18:37] gspice commented on #1693
Performed these tests:

1. Checkout `issue/1693-2` for AffiliateWP
2. Confirm affiliate area works as expected
3. Checkout and activate `master` of Affiliate Area Tabs
4. Disable default tabs

The disabling of default tabs worked fine, it only showed the remaining tabbed pages that were not disabled.  However, after doing that I have a blank checkbox showing up at the bottom of the list.  I have n

[2017-10-31 19:10] pippinsplugins commented on #1693
@gspice can you pull down `master` of Affiliate Area Tabs and try again?

[2017-10-31 19:35] gspice commented on #1693
@pippinsplugins That fixed it! Going back to testing custom pages.

[2017-10-31 21:01] gspice commented on #1693
@amdrew @pippinsplugins

Resumed and completed testing of:

* Added my own tabs/pages, and registered a custom tab via functions.php in my test site.
* Confirmed custom entries showed correctly and were able to be disabled correctly.
* Activated Direct Link Tracking and confirmed the tab works as expected.
* Confirmed it does _not_ appear in the Disable Tabs section as mentioned, no blank boxes ap

[2017-10-31 21:52] pippinsplugins commented on #1693
Hmm, that's due to those add-ons registering their tabs directly through an action on the dashboard.

I'm inclined to not fix that and instead force those add-ons (and any 3rd party plugins) to be updated to support the new filters.

@amdrew opinion?

[2017-10-31 22:14] amdrew commented on #1693
Yes I agree, they should be updated. I'll work on getting any of our add-ons ready to go

[2017-11-01 00:34] amdrew commented on #1693
Show Affiliate Coupons is now fully compatible with AffiliateWP 2.1.7 and Affiliate Area Tabs 1.1.6. Also worked in some backwards compat so there aren't any issues with multiple tabs or missing tabs.

To test with S.A.C you'll need:

- Latest `1693-2` (this issue: pull down any changes)
- Latest master branch of S.A.C
- Latest master branch of Affiliate Area Tabs

[2017-11-01 01:09] pippinsplugins commented on #1693
@amdrew Could you go ahead and push those updates live as they are ready? I'm going to start jumping through the remaining items for core 2.1.7.

[2017-11-01 01:16] pippinsplugins commented on #2416
Our integration has always been designed to be part of the registration form only, as indicated by the description of the setting: `Prevent bots from registering affiliate accounts using Google reCAPTCHA.`.

I agree that it makes sense to enable it on the log in form as well, but until such time as we can work out how to enable it on both forms present on the same page, we'll need to punt this to

[2017-11-01 01:29] pippinsplugins commented on #2410
PR ready for testing that fixes it.

Problem was due to the redirect parameter being empty.

[2017-11-01 01:31] #2349 closed

[2017-11-01 01:44] amdrew commented on #1693
Order Details for Affiliates is now compatible (plus backwards compatible)

To test, same as above but with latest master of O.D.F.A: https://github.com/AffiliateWP/affiliatewp-order-details-for-affiliates

[2017-11-01 01:45] amdrew commented on #1693
@pippinsplugins Yeah I will soon. Going to do them all in one go, still testing.

[2017-11-01 01:45] pippinsplugins commented on #2341
Ready for testing.

[2017-11-01 01:52] pippinsplugins commented on #2340
PR ready for testing.

[2017-11-01 02:14] pippinsplugins commented on #1839
PR ready for testing.

[2017-11-01 02:18] amdrew commented on #1693
Direct Link Tracking is now compatible (plus backwards compatible).

To test, same as above with latest master of DLT.

[2017-11-01 02:27] amdrew commented on #1693
Just pushed up some minor tweaks to some of the add-on repos, so pull down again if you are testing.

[2017-11-01 02:34] pippinsplugins commented on #2224
@lisag I've tried to replicate this but I'm seeing different results. In MemberPress, my trial period does not get added to the main membership cost, it's separate, so a $20 trial period for a $10 membership costs $20 to purchase, not $30.

[2017-11-01 03:49] amdrew opened #2434 "Simplify forms.css for responsive tables"
For easier styling with other add-ons like Show Affiliate Coupons, the ruleset I originally wrote for https://github.com/AffiliateWP/AffiliateWP/issues/2349 can be simplified ever so slightly.

PR incoming.

[2017-11-01 03:52] amdrew commented on #2434
PR: https://github.com/AffiliateWP/AffiliateWP/pull/2435

Have tested this against the tables in core that the old ruleset affected. This now allows other add-ons to have the bottom margin without anymore CSS needed:

Example: Show Affiliate Coupons:

<img width="315" alt="screenshot 2017-11-01 16 02 00" src="https://user-images.githubusercontent.com/52581/32259382-0b8e327a-bf25-11e7-9edb-88390126

[2017-11-01 04:18] amdrew commented on #2410
@pippinsplugins Fixes it for me 👍

@gspice Could you also test please?

[2017-11-01 04:38] amdrew commented on #2341
@pippinsplugins Works for me!

[2017-11-01 04:48] amdrew commented on #2340
@pippinsplugins Works for me. Also looks good with the responsive additions.

[2017-11-01 05:15] amdrew commented on #1839
@pippinsplugins 👍 Works great, left a couple of small things on PR.

[2017-11-01 05:30] amdrew commented on #1693
@gspice Could I get one more round of testing based on the above?

[2017-11-01 06:10] amdrew commented on #2408
This can be closed

[2017-11-01 06:10] #2408 closed

[2017-11-01 08:40] flowdee commented on #2416
btw I came into this problematic when using "Themedd" and placing the [affiliate_area] shortcode on a page, which includes registration and login forms on the same page.

[2017-11-01 11:54] amdrew commented on #983
PR: https://github.com/AffiliateWP/AffiliateWP/pull/2436

@pippinsplugins I have been defeated by nonce.

Could you please have a look at these lines and spot the problem? Everything works great _except_ with this conditional enabled: https://github.com/AffiliateWP/AffiliateWP/blob/issue/983/includes/admin/creatives/class-list-table.php#L342-L344

Sidenote: @lisag would reallllllllllly like this f

[2017-11-01 13:13] michaelbeil opened #2437 "Change translation for Dutch"
Wachwoord > Wachtwoord

[2017-11-01 16:14] pippinsplugins commented on #983
@amdrew fixed!

[2017-11-01 16:18] #2341 closed

[2017-11-01 16:18] #2340 closed

[2017-11-01 16:19] #1839 closed

[2017-11-01 16:21] #2437 closed

[2017-11-01 16:32] gspice commented on #1693
@amdrew @pippinsplugins

Tested latest masters and they work as expected!
* Show Affiliate Coupons
* Order Details for Affiliates
* Direct Link Tracking

Also tested something I recommend to users that wasn't working quite right yesterday.  When we get the question:  > Can I re-order the tabs in the affiliate area?   I recommend they Disable the pages in the top settings of AAT, then re-add them a

[2017-11-01 16:50] gspice commented on #2410
@amdrew @pippinsplugins

Works successfully for me!  Tested on two separate sites using the original values from the support ticket I mentioned above.

[2017-11-01 16:56] #2410 closed

[2017-11-01 17:50] pippinsplugins commented on #1693
I don't think we'll be able to support re-ordering tabs in that way when they share the exact name. It causes a tab ID conflict.

[2017-11-01 17:58] gspice commented on #1693
No problem, the workaround can be to change the name and it should work until drag-n-drop is added.

[2017-11-01 20:21] amdrew commented on #983
@pippinsplugins Hah, thanks. All working here!

[2017-11-01 20:28] #983 closed

[2017-11-01 21:25] amdrew commented on #1693
Merged into master.

[2017-11-01 21:25] #1693 closed

[2017-11-02 16:14] michaelbeil opened #2441 "Enable pagination from the payout screen"
Currently, there are only 30 that are shown.

https://secure.helpscout.net/conversation/460156863/69670/

[2017-11-03 00:14] amdrew opened #2442 "Add filter to affwp_add_affiliate() to make it easier to add a new WP user account"
`affwp_add_affiliate()` creates a new WordPress user account when an email is passed in.

I propose we add a filter here:
https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/affiliate-functions.php#L1167-L1170

This would allow a developer greater flexibility over what gets added to the new user's account. To achieve this currently you'd have to update the new WP user account _after_ i

[2017-11-03 00:19] amdrew opened #2443 "Consider changing description for {name} email tag"
The current description for the `{name}` email tag is

As we know, this is actually the WP display name which could be anything, not necessarily the full name of the affiliate.

We should make it clearer, something like:

^ perhaps a bit too long.

[2017-11-03 02:00] pippinsplugins commented on #2443
How about:

[2017-11-03 02:01] amdrew commented on #2443
👍

[2017-11-03 02:02] pippinsplugins commented on #2442
No objections here!

[2017-11-03 14:22] michaelbeil commented on #2288
https://secure.helpscout.net/mailbox/7c3a9e4da50293a7/634609/

[2017-11-03 16:43] pippinsplugins commented on #2418
@macagoraga in Affiliates > Settings > Misc, did you have the option to remove data enabled? The data will only be deleted if that option is checked.

[2017-11-03 17:08] gspice commented on #2288
Updated conversation link above:
https://secure.helpscout.net/conversation/460747973/69744/?folderId=205527

[2017-11-03 18:00] DrewAPicture commented on #2442
I'm on board with this, maybe just a filter on the args for `wp_insert_user()`?

[2017-11-03 18:51] lisag opened #2444 "Bulk Upload for Creatives"
Now that we have a fabulous new Bulk Actions menu for Creatives, I thought it would be amazing to have a "Bulk Upload" for Creatives as well. This would allow site owners to upload and edit numerous files at one time, and save the hassle of having to upload each creative separately. If it is possible to do this, perhaps we could limit the upload number per "set" to a certain number of creatives to

[2017-11-03 19:24] lisag commented on #2224
@pippinsplugins Did you require payment up front for the membership cost, as well as the trial period? So both paid trial and (monthly) membership cost are paid at the same time?

What was the referral rate and referral amount that was generated? That was the issue - the referral was only being calculated on the membership cost, and not on the trial period (if paid).

[2017-11-03 21:20] amdrew commented on #2442
Yep

[2017-11-03 21:26] jabaco commented on #2382
hello, it has been another whole month, 3 updates and I do not see the implementation of bitcoin decimals... This is very frustrating since every time there is an update, I have to manually update core files. This is a really basic milestone for you to implement and will be of great benefit to all your customers like me that are using bitcoin as payment gateway.

[2017-11-03 21:29] jabaco commented on #1083
hello, it has been another whole month, 3 updates and I do not see the implementation of bitcoin decimals... This is very frustrating since every time there is an update, I have to manually update core files. This is a really basic milestone for you to implement and will be of great benefit to all your customers like me that are using bitcoin as payment gateway.

[2017-11-04 19:58] DrewAPicture commented on #2382
Hi @jabaco, this issue milestoned for the next major release, 2.2, which we don't have an ETA for yet, but we anticipate that happening in the next few months.

That said, we may be able to get to it sooner, but 2.2 is the current goal. Thanks for your patience.

[2017-11-05 19:02] DrewAPicture commented on #2442
PR: #2445

[2017-11-07 16:12] yangkennyk commented on #2363
is there any update on this?

[2017-11-07 21:35] macagoraga commented on #2418
I got the point.
I did not change that setting. So if default settings it's disabled, then most probably for this reason it's not deleted.
Thanks

[2017-11-07 23:58] pippinsplugins commented on #2363
@amdrew this is merged into `master`. Before I close it, though, could you please give `master` a quick test to confirm there are no issues introduced?

[2017-11-08 00:18] #2418 closed

[2017-11-08 16:41] DrewAPicture commented on #2200
Slating this for 2.1.8. Talked about it with @amdrew and I agree that we should just bail, but we'll still need to do the query to accomplish the check.

The way it works right now, we're always registering `mark_referral_complete()` against `edd_complete_purchase` or the WC hooks, and the value passed to that (payment/order ID or referral) is checked first for empty (nothing passed), then if it's

[2017-11-08 20:59] DrewAPicture commented on #2200
PR: #2447

[2017-11-08 21:34] DrewAPicture commented on #2141
Attaching a PR that changes course to use a regex against the `action` attribute: #2448

[2017-11-08 22:13] DrewAPicture commented on #1219
Closing this after some discussion as it's not a high priority and has only been reported once.

[2017-11-08 22:13] #1219 closed

[2017-11-08 22:14] DrewAPicture commented on #1639
After some discussion and rigorous testing in several environments, we've determined this isn't enough of a widespread issue to investigate further.

[2017-11-08 22:14] #1639 closed

[2017-11-08 22:17] DrewAPicture commented on #2136
After some discussion with @amdrew, we've determined that everything AffWP is doing in this scenario is above-board and as such the onus for avoiding the conflict falls on the developers of UserPro Dashboard to prevent issues.

[2017-11-08 22:17] #2136 closed

[2017-11-08 23:20] DrewAPicture commented on #2419
PR with two new tests: #2449.

Moving to the 2.1.8 milestone.

[2017-11-09 00:00] gspice opened #2450 "Visits graph shows incorrect totals when filtered by an affiliate"
PR: #2456

Reported on this ticket:
https://secure.helpscout.net/conversation/463865185/70033?folderId=1170842

When you view the Visits graph for an affiliate, the numbers on the graph are incorrect.  The all time visits (as of today) were 70, but the graph shows 2563 unconverted and 186 converted when hovering over the graph point.

<img width="1372" alt="affiliate-visits-graph" src="https://use

[2017-11-09 16:43] amdrew commented on #2442
@DrewAPicture Looks great

[2017-11-09 18:57] devinsays opened #2451 "Warning: fopen(/nas/content/live/site/.htaccess): failed to open stream"
When I activated AffiliateWP in our production environment at WP Engine, I started getting this type of error message on every single request:

[code]

This was not happening in the staging environment, or local, or even when I cloned the site to a new production environment. File permissions appeared to be set correctly for .htaccess, and WP Engine wasn't able to diagnose why permissions were den

[2017-11-09 19:39] #2442 closed

[2017-11-10 00:58] amdrew commented on #2363
Works for me!

[2017-11-10 00:58] #2363 closed

[2017-11-10 01:12] amdrew commented on #2428
71% complete. Can't merge yet.

[2017-11-10 16:57] amdrew opened #2452 "Increase colspan of referrals table"
Since we introduced the new `Reference` column, the colspan needs to be updated.

<img width="898" alt="screen shot 2017-11-10 at 9 54 49 am" src="https://user-images.githubusercontent.com/52581/32669322-594e8d14-c5fd-11e7-8d20-cd972c4048f3.png">

[2017-11-10 17:02] amdrew commented on #2452
PR: https://github.com/AffiliateWP/AffiliateWP/pull/2453

[2017-11-10 17:05] #2452 closed

[2017-11-10 18:05] amdrew commented on #2141
@DrewAPicture Getting a different error with the PR:

[code]

[2017-11-10 19:20] pippinsplugins commented on #2419
@gspice could you give this a test?

[2017-11-10 19:20] pippinsplugins commented on #2419
@amdrew you as well please?

[2017-11-10 19:28] #2200 closed

[2017-11-10 19:42] amdrew commented on #2200
@DrewAPicture 👍 Nice, that fixed it for me

[2017-11-10 22:15] amdrew commented on #2419
Works well for me.

[2017-11-12 12:31] michaelbeil commented on #2428
100% complete now.

[2017-11-12 14:10] francissiono commented on #2108
@BurlesonBrad I totally agree with you.

While I accidentally found adding this via WooCommerce >> Settings while testing on a staging environment,  I already added this following this guide ... https://wpbeaches.com/change-rename-woocommerce-endpoints-accounts-page/

After several minutes of testing, I was ready to push to live then I realized my custom hook in functions.php was no longer needed

[2017-11-13 05:47] DrewAPicture commented on #2451
Hi @devinsays, hmm, interesting. Thanks for the report. For what it's worth, there's a core helper for returning zero that you could also use here:
[code]

Would it be possible for you to provide a full trace log on the error?

[2017-11-13 05:49] DrewAPicture commented on #2450
After some investigation, it looks like the root of the problem lies in query for date-based objects throughout core without first converting dates to UTC (essentially, we're currently querying based on "now" dates instead of first accounting for the GTM offset in incomine date values). This appears to be widespread and reaches further than just visit queries. Working on a PR + tests.

[2017-11-13 06:39] DrewAPicture commented on #2450
Started a WIP PR: #2454

[2017-11-13 19:51] pippinsplugins commented on #2224
I had it configured like this:
<img width="770" alt="screen shot 2017-11-13 at 1 50 42 pm" src="https://user-images.githubusercontent.com/1034109/32745873-a8fe3dcc-c879-11e7-9c96-6d5e76424d4c.png">

Referral was done on my other computer so cannot say what it was just now.

[2017-11-13 21:11] DrewAPicture opened #2455 "Add a date column to the consumers table"
Purely for the ability to document when a rest consumer was added, we should add a date column to the consumers table. This would also put it on par with all of the other objects containing a date column in one form or another.

[2017-11-13 23:33] DrewAPicture commented on #2450
Closed #2454 and started a new WIP PR with a different approach: #2456

[2017-11-14 03:11] gspice commented on #2419
Tested with username `test-user` and it works correctly.

[2017-11-14 03:49] #2419 closed

[2017-11-15 17:00] michaelbeil opened #2457 "Create an administrative option to automatically turn on referral notifications"
It was brought up by customer to create an administrative option that automatically turns on referral notifications for all affiliates.

Ticket: https://secure.helpscout.net/conversation/467597177/0/?folderId=205529.

[2017-11-15 19:51] amdrew commented on #2457
@michaelbeil Like https://github.com/AffiliateWP/AffiliateWP/issues/1960?

[2017-11-15 20:56] pippinsplugins opened #2458 "Visit recount tool not working"
At some point recently the recount stats tool for visits has stopped working. Actually, all of the recount tools are broken because the search fields isn't working.

Even when the search field is working, the actual recount fails to properly set the visits count on the affiliate.

When attempting to search for an affiliate, no results are found (affects all recount types). When processing a recoun

[2017-11-16 13:00] michaelbeil commented on #2457
Yes, I totally did not see that. Closing in favor of #1960.

[2017-11-16 13:00] #2457 closed

[2017-11-16 13:01] michaelbeil commented on #1960
Ticket: https://secure.helpscout.net/conversation/467597177/0/?folderId=205529.

[2017-11-16 14:53] michaelbeil opened #2459 "Add support for Google Analytics"
Or perhaps we should look into getting support for this in Monster Insights and the other Google Analytics plugins.

Ticket: https://secure.helpscout.net/conversation/468478263/70465?folderId=634609.

[2017-11-16 23:56] DrewAPicture opened #2460 "Add "New Today" filter views for affiliate, payout, referral, and visit lists"
It might be interesting to explore adding a "New Today" filter view for the affiliate, payout, referral, and visit list tables, since we don't necessarily have date-related columns for all of the aforementioned objects currently.

[2017-11-16 23:57] DrewAPicture commented on #2460
Could even be new this week or month or whatever too.

[2017-11-17 13:49] DrewAPicture commented on #2450
The attached PR, #2456 is ready for testing and review:

@gspice @amdrew

Testers:

The primary things to test with this PR are the following:
1. Filtering reports by specific dates or "today" should reflect expected results
2. Any dates and times showing in AffWP admin screens should now be displaying in a nicer format and in "WordPress time" – that is, respecting the WordPress timezone settings

[2017-11-17 14:34] DrewAPicture commented on #2450
@pippinsplugins @amdrew

On the technical side, there are a few developer notes:

* This PR introduces pieces of the PR attached to #773, but without the actual integration of the `Carbon` library. Taking this approach will allow us to much more easily integrate with Carbon in 2.2 for simplifying the date filtering code for reports and other screens.

The PR introduces some new functions, methods

[2017-11-18 16:03] michaelbeil commented on #2405
Ticket: https://secure.helpscout.net/conversation/469092602/70582?folderId=205529.

[2017-11-18 17:16] DrewAPicture commented on #2458
The attached PR: #2461 fixes two bugs:

1. No status was being passed with the autocomplete so no affiliate users were being pulled
2. There was a problem with how affiliate totals were being compiled for recounting visits

I tested all four recount options on a single affiliate (finding and fixing the issue with recounting visits in the process), as well as for global recounts and things seems to

[2017-11-18 17:34] DrewAPicture commented on #2458
The attached PR: #2461 fixes two bugs:

1. No status was being passed with the autocomplete so no affiliate users were being pulled
2. There was a problem with how affiliate totals were being compiled for recounting visits

I tested all four recount options on a single affiliate (finding and fixing the issue with recounting visits in the process), as well as for global recounts and things seems to

[2017-11-19 22:21] #2458 closed

[2017-11-20 14:37] michaelbeil opened #2462 "Add the add_user_to_blog function"
A user has notified us about adding the add_user_to_blog function to the registration process in a future version of AffiliateWP: https://codex.wordpress.org/Function_Reference/add_user_to_blog.

Ticket: https://secure.helpscout.net/conversation/470781107/70681?folderId=634609.

[2017-11-20 16:16] djcrypto75 commented on #2382
I hope this will be in this release. I agree with @jabaco here.

[2017-11-20 20:14] gspice commented on #2450
Works great!
*All points on the graph showed correct totals and counts for the date range selected.
*New visits and referrals now reflect my correct time zone settings in WordPress.

[2017-11-21 07:08] lisag opened #2463 "Payouts tab confusion: multiple payouts being recorded for the same referral"
I was dealing with a customer today and they were confused about the payout information shown in the Payouts tab in the Affiliate Area when referrals are marked as Paid/Unpaid/Paid. (Ticket ref: https://secure.helpscout.net/conversation/459887525/69648) After looking into it a little more, I also agree that it is confusing. Here is the scenario:

-  The Payouts tab in the Affiliate Area (correct m

[2017-11-22 00:14] pippinsplugins commented on #2450
This is working great for me @DrewAPicture, nice work!

[2017-11-22 13:16] felipevc13 opened #2464 "Integration with ninja form doesnt send referrals to the referral area in the plugin"
Integration with ninja form doesnt send referrals to the referral area in the plugin. The affiliate complete and submit the form but no referral appears on the referral list.

[2017-11-22 13:24] felipevc13 commented on #2464
![add referral](https://user-images.githubusercontent.com/25945473/33129625-a993e430-cf77-11e7-9f10-a210dc5a9491.PNG)

[2017-11-22 13:26] felipevc13 commented on #2464
i Add Referral but nothing happened

[2017-11-22 13:29] felipevc13 commented on #2464
I've already tried with the contact 7 plugin and nothing too. The referrals doesnt appears in the referral area.

Im testing before buying the plugin, i need to buy first to have this functionality?

[2017-11-22 14:45] pippinsplugins commented on #2464
Hi there!

Please go ahead and open a support ticket through our support portal: https://affiliatewp.com/support

we use GitHub for development tracking only.

Note: we can only provide support to paying customers.

[2017-11-22 14:45] #2464 closed

[2017-11-22 18:36] DrewAPicture commented on #2463
I think there's a couple of competing problems that are being surfaced here.

The primary issue is that a payout is intended to serve as a _record of payment_ as you point out, but where it gets murky is when we allow "paid" referrals to be marked unpaid. In an ideal situation, payment such as through PayPal is tied directly to the "generation" of a payout which means it should ideally _not be pos

[2017-11-25 18:35] #2450 closed

[2017-11-26 21:58] lisag commented on #2352
Another request: https://secure.helpscout.net/conversation/475060539/71330/?folderId=414056

[2017-11-27 13:02] michaelbeil commented on #2459
https://secure.helpscout.net/conversation/475431077/71364?folderId=205524

[2017-11-27 14:53] michaelbeil opened #2465 "Add an option to open affiliate links and banners in a new tab"
Ticket: https://secure.helpscout.net/conversation/475184926/71351?folderId=634609.

[2017-11-27 17:23] DrewAPicture commented on #2465
This is mostly a question of accessibility (opening in a new tab/window is terrible UX), but I wonder if there's precedent with how most "ads" or other affiliate programs' creatives work.

[2017-11-27 17:30] michaelbeil commented on #2465
Oh, good point. Are you aware of how other affiliate programs' creatives work?

[2017-11-27 20:20] gspice commented on #2061
Similar request on chat today, user would like the option to generate random affiliate id values and/or be able to set the starting sequence.   I think this would be great for an add-on like the above.

[2017-11-27 20:45] amdrew commented on #2061
Related: https://github.com/AffiliateWP/AffiliateWP/issues/910

[2017-11-28 01:34] cklosowski opened #2466 "EDD: Referral amounts do not take negative fees into consideration"
When using EDD with Discounts Pro, if a purchase occurs with a discount provided via Discounts Pro (applied as a negative fee), the affiliate referral is based off the item base price and discounts via codes, but not negative fees.

This hit me on Post Promoter Pro.

Payment Items:
<img width="955" alt="screen shot 2017-11-27 at 6 32 23 pm" src="https://user-images.githubusercontent.com/1390124/33

[2017-11-28 17:52] michaelbeil opened #2467 "RCP: Free trial period should award a $0 referral"
At this time, a free trial for a subscription purchase awards a referral (based on the full product price instead of the $0 free trial transaction) to the referring affiliate. I think we should adjust the referral awarded when there is a free trial period, so that it becomes a $0 referral if a referral rate type of percentage is selected.

[2017-11-28 21:58] pippinsplugins commented on #2467
@mindctrl or @nosegraze could one of you assist in resolving this?

[2017-11-28 23:52] gspice commented on #2467
Above from HS ticket:
https://secure.helpscout.net/conversation/476110902/71528?folderId=205527

Confirmed the issue using sandbox RCP site: http://s14890.p27.sites.pressdns.com/rcp
* RCP version: 2.9.6
* Affwp version:  2.1.8
* Created subscription with a 5 day free trial for 20.00 for 60 days duration.
* Referral was created for $10.00 (50% default ref rate on site) when I expected it to create

[2017-11-29 10:49] nosegraze commented on #2467
I'll look into this.

[2017-11-29 15:03] nosegraze commented on #2467
Haven't tested this yet but I think it should do the trick: #2468

[2017-11-29 15:08] mindctrl commented on #2467
That looks right for the initial referral, but I _think_ this means referring affiliates will not get credit when trial memberships go paid unless the site is running the Recurring Referrals add-on. Is that right?

[2017-11-29 15:20] michaelbeil commented on #2467
The initial referral was recorded correctly:http://beil.io/QKSOu.

John, when a trial membership goes paid unless the site is running the Recurring Referrals add-on, the affiliate will not get credit.

[2017-11-29 15:39] pippinsplugins commented on #2467
@mindctrl while it is perhaps unexpected behavior, that's the consistent behavior across all integrations at the moment.

[2017-11-29 15:39] pippinsplugins commented on #2467
@gspice merged into `master`. Would you please give it a quick test before we close this out?

[2017-11-29 18:03] michaelbeil opened #2469 "Add support for invisible reCaptcha"
Invisible reCaptcha: https://developers.google.com/recaptcha/docs/versions.

Ticket: https://secure.helpscout.net/conversation/476308720/71554/?folderId=205529.

[2017-11-29 19:02] gspice commented on #2467
Re-tested on RCP sandbox site: http://s14890.p27.sites.pressdns.com/rcp and it correctly created a zero amount referral for the affiliate tracked 👍

[2017-11-29 19:25] pippinsplugins commented on #2467
:+1:

[2017-11-29 19:25] #2467 closed

[2017-11-29 20:44] DrewAPicture opened #2470 "Add rest_id fields to core objects, date and status to REST consumers"
I'd like to propose that we introduce a new `rest_id` field for each of the core objects, as well as `date` and `status` fields for the REST Consumer object. The `rest_id` field would be of type string and leveraged by as-yet undeveloped REST API-based pro-addons. I've attached a PR that implements these fields and their corresponding tests, targeted at the 2.2 release.

This would also cover the

[2017-11-29 20:50] DrewAPicture commented on #2470
It should be noted that the PR also actively locks down payout-related actions and screens if the current user doesn't have the `manage_payouts` capability – something we should realistically do for the other capabilities at some point.

[2017-11-30 15:29] pippinsplugins commented on #2424
@gspice ready for testing!

This should work properly with the free and pro version of Sequential Order Numbers.

[2017-12-01 12:06] #2443 closed

[2017-12-01 12:07] DrewAPicture commented on #2455
Closing this in favor of #2470.

[2017-12-01 12:07] #2455 closed

[2017-12-04 16:10] flowdee commented on #1434
Any news here? 😸

[2017-12-04 22:45] gspice commented on #2424
@pippinsplugins  Works great!  Corrects all previous referrals as well, meaning those that showed the incorrect order number show the correct, sequential order number when the updated AffiliateWP is installed.

[2017-12-05 02:27] #2424 closed

[2017-12-05 10:32] davefx opened #2474 "Cannot find filter to avoid payout generation"
In the site I'm working on, my client has asked me to avoid the generation of payouts for inactive affiliates.
I already have located filters that allow me to avoid the generation of referrals for these affiliates, but I cannot find any filter to avoid the generation of payouts once the referrals have been created.

[2017-12-05 15:05] DrewAPicture opened #2476 "Add parameter $affiliate to affwp_affiliate_table_$column_name filter"
Creating this issue for record-keeping and changelog tracking purposes.

From @davefx:

PR: #1717

[2017-12-05 15:05] #2476 closed

[2017-12-05 15:21] DrewAPicture commented on #1434
Yep, there sure is. Thanks for asking!

[2017-12-06 07:28] flowdee commented on #1434
Haha okay, this sounds mysterious and makes me curious!

_Would love to help you testing, in case you're working on something._

[2017-12-06 14:18] michaelbeil opened #2477 "Reason for referral rejection"
Ticket: https://secure.helpscout.net/conversation/481489957/72014/?folderId=205529.

[2017-12-06 18:47] michaelbeil opened #2478 "IgnitionDeck Commerce"
Logging this for a possible future integration with IgnitionDeck Commerce.

Ticket: https://secure.helpscout.net/conversation/481981034/72060?folderId=205529.

[2017-12-06 21:59] DrewAPicture commented on #2474
After some back and forth on the original PR, I've submitted an alternative: #2479, which introduces a new dynamic `affwp_pre_insert_$type_data` filter in `db->insert()`. Passing a falsey value back via a filter callback will cause `insert()` to bail. Includes 5 tests on a variety of falsey values.

[code]

[2017-12-07 00:29] #2478 closed

[2017-12-07 00:29] pippinsplugins commented on #2478
@michaelbeil apologies for telling you incorrectly :)

[2017-12-07 22:12] DrewAPicture commented on #1434
@flowdee We might just take you up on the offer to help test when we have something closer to a beta stage (currently more like a really rough alpha).

[2017-12-07 22:27] amdrew commented on #465
https://wordpress.org/support/topic/per-directory-rate/

[2017-12-07 22:29] #2474 closed

[2017-12-08 07:30] flowdee commented on #1434
Knowing that you're really digging into it is good enough so far :)

[2017-12-09 18:47] michaelbeil commented on #1124
https://secure.helpscout.net/conversation/186328375/30930?folderId=634609

[2017-12-09 18:50] michaelbeil commented on #1275
https://secure.helpscout.net/conversation/201166816/33876?folderId=634609

[2017-12-10 14:58] DrewAPicture opened #2480 "Ensure REST fields expected as objects can still work if single values"
A user in support pointed out an issue with the New Affiliate trigger in Zapier, where it appeared that the `payment_email`, `rate`, and `rate_type` fields weren't being accepted by the Affiliate Create endpoint (implemented by AffiliateWP - REST API Extended).

After some investigation, it seems that we defined those fields in the affiliate item schema as objects with `raw` and `inherited` proper

[2017-12-10 15:03] DrewAPicture commented on #2480
PR: #2481

[2017-12-12 08:51] michaelbeil commented on #1960
https://secure.helpscout.net/conversation/483973806/72220?folderId=634609

[2017-12-12 17:12] michaelbeil commented on #1150
https://secure.helpscout.net/conversation/233643718/39153?folderId=634609

[2017-12-12 17:25] michaelbeil commented on #2288
https://secure.helpscout.net/conversation/460747973/69744?folderId=634609

[2017-12-12 17:41] #2480 closed

[2017-12-13 20:52] DrewAPicture commented on #2426
@davefx I've submitted an alternative PR that I think provides the solution you're looking for: #2482.

In your PR, you were only generating an order note in a set of very specific circumstances in a place that would only fire while updating an existing referral in an existing order _during checkout_.

[2017-12-13 21:17] DrewAPicture commented on #2141
@amdrew Can you please re-test with the latest version of the PR?

[2017-12-13 21:53] amdrew commented on #2141
@DrewAPicture Getting a new JS error:

`TypeError: $(...).hasAttribute is not a function`

[2017-12-13 22:11] DrewAPicture commented on #2141
Fiddlesticks! I've tried one last ditch effort.

[2017-12-13 22:15] amdrew commented on #2141
@DrewAPicture Sorry... back to this error:

`TypeError: action.match is not a function`

[2017-12-13 22:29] DrewAPicture commented on #2141
Followed up with @amdrew in Slack. Turns out that we hit on a rarely-experienced difference between `prop()` and `attr()`, that the `action` attribute was likely still being set when the form tag was rendered in the DOM, thereby causing `prop()` to just return an empty string, whereas `attr()` would return `undefined` if it isn't actually set to something.

[2017-12-13 22:46] amdrew commented on #2426
@DrewAPicture Works for me! 👍

old referral

<img width="287" alt="screenshot 2017-12-14 11 45 37" src="https://user-images.githubusercontent.com/52581/33966403-5a4b6dd6-e0c4-11e7-98b1-b3b6b175d6f2.png">

after updating amount on referral

<img width="297" alt="screenshot 2017-12-14 11 43 35" src="https://user-images.githubusercontent.com/52581/33966379-43f3a6f2-e0c4-11e7-89e5-5bcf23e4c54d.png">

[2017-12-14 01:56] #2426 closed

[2017-12-14 01:58] #2141 closed

[2017-12-14 15:29] #2428 closed

[2017-12-14 17:05] michaelbeil opened #2483 "Automatic cart discounts via affiliate URL"
A user is looking for a feature for automatic cart discounts via affiliate URL:

Ticket: https://secure.helpscout.net/conversation/165853532/26667?folderId=634609.

[2017-12-14 19:55] DrewAPicture commented on #2483
In a way I think this might fall under affiliate coupons, #426.

[2017-12-15 10:25] michaelbeil commented on #2483
I thought about that. Should we add this feature into that issue?

[2017-12-15 10:46] michaelbeil commented on #2483
I’ll add this feature to that issue description.

[2017-12-21 17:29] michaelbeil opened #2484 "Add filterable dates to the visits table of the affiliate dashboard"
From a user of ours:

We should add some filters to the dashboard, so that affiliates can filter out visits for particular dates.

Ticket: https://secure.helpscout.net/conversation/491403655/72826?folderId=634609.

[2017-12-21 20:32] pippinsplugins opened #2485 "Ninja Forms integration ignores affiliate referral rate settings"
The Ninja Forms integration does not properly calculate referral totals because it at no point calculates what the referral commission should be based on the affiliate's rates.

This is because we do not call the `calculate_referral_amount()` anywhere in the integration.

[2017-12-21 21:56] gspice commented on #2485
@pippinsplugins Success!  Created referrals based on referral rate settings elsewhere correctly.

[2017-12-21 21:57] #2485 closed

[2017-12-27 19:21] michaelbeil commented on #1155
https://secure.helpscout.net/conversation/494426076/73005/

[2017-12-27 20:22] michaelbeil opened #2487 "Wrong decimal separator in the export file"
A user reported this:

[code]

Ticket: https://secure.helpscout.net/conversation/494345841/73001?folderId=634609.

[2017-12-29 01:21] pippinsplugins commented on #2208
Still no new cases of this, closing.

[2017-12-29 01:21] #2208 closed

[2017-12-29 01:22] #2142 closed

[2017-12-29 20:43] pippinsplugins commented on #1987
After a discussion with @amdrew, I'm closing this as a wontfix since it's really not necessary to separate view and edit screens.

[2017-12-29 20:43] #1987 closed

[2017-12-29 21:26] pippinsplugins commented on #2189
This has been fixed now so am going to mark as fixed. Re-open if you see it again.

[2017-12-29 21:26] #2189 closed

[2017-12-29 21:27] pippinsplugins commented on #2053
I don't think we need to do this any longer. Customers that wish to use an IPN forwarded can simply add the `AFFILIATEWP_PAYPAL_IPN` constant to their wp-config.php with the proper URL.

[2017-12-29 21:27] #2053 closed

[2017-12-29 22:27] pippinsplugins commented on #2288
@gspice PR ready for testing.

[2017-12-30 02:54] pippinsplugins commented on #2380
PR ready for testing.

[2017-12-30 07:15] amdrew opened #2490 "Identify the Affiliate Area page in the list table screen"
This would also be super handy for showing the `Affiliate Area` page: https://github.com/restrictcontentpro/restrict-content-pro/issues/1617

I find myself looking at the page set in the settings, then trying to find it in the pages list.

[2017-12-30 07:49] pippinsplugins commented on #1931
I have not seen any other reports of this. Closing as invalid but feel free to re-open if it re-appears.

[2017-12-30 07:49] #1931 closed

[2017-12-30 08:05] pippinsplugins commented on #517
This is handled really well through https://wp1099.com/ so I'm going to close this as wontfix now.

[2017-12-30 08:05] #517 closed

[2017-12-30 08:07] #1321 closed

[2017-12-30 18:13] pippinsplugins commented on #2057
I was able to replicate the bug and confirm the PR fixes it.

[2017-12-30 18:13] #2057 closed

[2017-12-30 20:08] gspice commented on #2288
YAY!  Works great.  This is a beautiful thing, will save so much time searching Woo orders:

![woo-orders-ref-column](https://user-images.githubusercontent.com/3018245/34457029-16b7da94-ed5a-11e7-89fa-fb180b09dd02.png)

[2017-12-30 20:10] pippinsplugins commented on #1960
Attached PR is no longer valid. Will need to be re-done differently.

[2017-12-30 20:13] #2288 closed

[2017-12-31 01:38] amdrew opened #2491 "Introduce affiliate_wp_customers DB table"
PR: #2604

We should introduce a `affiliate_wp_customers` DB table.

Possible DB columns:

- Customer ID
- User ID
- Affiliate ID
- First Name
- Last Name
- Email Address (primary/first email used)
- Date Created
- IP Address (Primary/first used by customer)

In addition, we would store additional email addresses and IP addresses used by the customer in affiliate meta.

The primary advantage of th

[2018-01-02 19:14] gspice commented on #1721
Another request for this....would really be nice to clean up the list of campaigns if it's really long:

https://secure.helpscout.net/conversation/497034685/73272/?folderId=205529

[2018-01-02 22:02] michaelbeil opened #2492 "Make the word Affiliate customizable"
A user suggested the following:

https://secure.helpscout.net/conversation/495404201/73093?folderId=205529

[2018-01-02 22:07] amdrew commented on #2492
Could be a great option to add, saves a lot of time changing all the text strings in SayWhat. I've seen a lot of requests to change "affiliate" to something like "partner", "ambassador" and others.

[2018-01-02 23:00] michaelbeil opened #2493 "Batch upload affiliate coupon codes"
A customer requested the following feature:

https://secure.helpscout.net/conversation/497604632/73360?folderId=205529

[2018-01-03 11:10] tubiz commented on #2490
PR: #2494

[2018-01-03 13:04] tubiz commented on #2222
PR: #2495

We need to delete this meta field `meta-box-order_affiliates_page_affiliate-wp-reports` for all users when AffiliateWP plugin is upgraded to version 2.1.11 so to as to reset the position of the meta boxes on the reports page.

[2018-01-03 17:16] DrewAPicture commented on #2222
I think we can avoid needing to reset the user meta keys here. Even if we wanted to, there isn't really a performant way to do it short of tying a new batch process to an upgrade routine for 2.1.11. Plus, the user meta key applies to meta box tile positions for _all reports tabs_, not just this one – I would hesitate to reset all user settings just because we want a new tile to be in a specific po

[2018-01-03 17:46] tubiz commented on #2222
My exact thought. I have mimicked the `affiliate_paid_unpaid_referrals` tile view instead.

![reports affiliatewp dev wordpress 1](https://user-images.githubusercontent.com/602184/34532280-02b7826a-f0cf-11e7-95a4-02d123d94939.png)

[2018-01-03 20:31] gspice opened #2496 "Add filter for the Contact Form 7 description"
Received from user on this support ticket:

https://secure.helpscout.net/conversation/498191326/73417?folderId=1170842

`$description` `= get_the_title( $form_id );`

`$description = apply_filter("afwp_cf7_referral_description", get_the_title( $form_id ), $contactform, $result);`

[2018-01-03 20:44] #2490 closed

[2018-01-03 20:48] #2222 closed

[2018-01-04 00:18] tubiz commented on #2382
PR: #2497

[2018-01-04 01:05] pippinsplugins commented on #2382
PR looks good at first glance!

@tubiz would you be able to add a unit test for it?

[2018-01-04 01:10] pippinsplugins commented on #2411
PR is ready for testing from @tubiz!

[2018-01-04 01:11] tubiz commented on #2411
PR: #2498

![woocommerce order note](https://user-images.githubusercontent.com/602184/34546498-a5edcf96-f10d-11e7-9f28-7a998077149b.png)

[2018-01-04 01:15] tubiz commented on #2382
@pippinsplugins my unit testing skill is not up to par 🙈 but I will try.

[2018-01-04 01:19] pippinsplugins commented on #2382
@tubiz here's a guide I wrote: https://pippinsplugins.com/series/unit-tests-wordpress-plugins/

Tests are not required, just really nice to have :)

[2018-01-04 01:21] tubiz commented on #2382
Thanks, I will read the guide. I guess it is time for me to learn unit testing.

[2018-01-04 03:52] DrewAPicture commented on #2382
@tubiz If it helps, take a look at the two tests we already have for `affwp_get_decimal_count()`, particularly `test_filtered_get_decimal_count_should_return_filtered()`.

To test the bitcoin case, you'll just want to temporarily filter `affwp_currency` with the bitcoin slug inside the test method and then remove the filter again after. Happy to help you out if you get stuck!

[2018-01-04 18:44] michaelbeil commented on #2362
https://secure.helpscout.net/conversation/498950424/73483?folderId=205524

[2018-01-04 22:13] tubiz commented on #2382
Unit test added.

[2018-01-05 05:18] pippinsplugins commented on #2382
Tests are passing, merging!

[2018-01-05 05:19] #2382 closed

[2018-01-05 07:10] amdrew opened #2499 "Update EDD integration based on EDD v3.0"
The EDD integration will need to be updated based on the upcoming EDD v3.0 release. Affiliates added to EDD discounts are migrated across to the new DB table(s) (see https://github.com/easydigitaldownloads/easy-digital-downloads/issues/5277#issuecomment-355482740) however the EDD integration still calls `get_post_meta()`.

We'll need to add a new function in the `extras` folder to handle this. Ret

[2018-01-05 18:20] gspice commented on #2234
Another request for saving generated URLs, also love the notes addition idea:
https://secure.helpscout.net/conversation/499580105/73524?folderId=205524

[2018-01-06 09:49] tubiz commented on #2487
PR: #2500

A multidimensional array was being passed to the `affwp_batch_generate_payouts_get_data` filter instead of an associative array.

What Was Being Passed
[code]

What Was Expected
[code]

[2018-01-08 22:49] michaelbeil opened #2501 "Affiliates can be created with username fewer than four characters"
An affiliate can be created with a username that is fewer than four characters. WordPress requires usernames to have at least four characters. This seems to be an inconsistency.

Steps to replicate:
1. Navigate to AffiliateWP > Affiliates > Add New
2. Click on the "Create one" hyperlink
3. Add an affiliate and give it a username of fewer than 4 characters

Result: Affiliate is added.
Expected Resu

[2018-01-08 23:28] DrewAPicture commented on #2501
Good catch. Milestoned for 2.1.11.

[2018-01-09 11:18] tubiz commented on #2466
PR: #2502

[2018-01-09 11:26] tubiz commented on #251
@pippinsplugins

The iThemes exchange plugin https://wordpress.org/plugins/ithemes-exchange/ is no longer available for download on WP.org.

Also there is no download link to the plugin on the plugin site https://exchangewp.com

[2018-01-09 12:37] tubiz commented on #2496
PR: #2503

[2018-01-09 18:26] DrewAPicture commented on #2496
@amdrew Do we want to do this with only one request on the books?

[2018-01-10 02:36] amdrew opened #2504 "Update iThemes Exchange to ExchangeWP"
iThemes Exchange is now https://exchangewp.com

We need to update our integration to reflect this change.

@tubiz Could you tackle this for 2.1.11?

[2018-01-10 02:38] amdrew commented on #251
Related: https://github.com/AffiliateWP/AffiliateWP/issues/2504

[2018-01-10 03:14] pippinsplugins opened #2505 "Fatal error: Uncaught Error: Call to a member function get_order_number() on boolean"
We've seen two reports of this error:

It's due to the changes made in #2424

[2018-01-10 03:21] pippinsplugins commented on #2504
Moved to 2.1.12.

[2018-01-10 03:21] pippinsplugins commented on #2501
Moved to 2.1.12.

[2018-01-10 03:24] #2466 closed

[2018-01-10 03:24] pippinsplugins commented on #2466
PR looks good, merged.

[2018-01-10 03:26] amdrew commented on #2505
@pippinsplugins Works for me

[2018-01-10 03:29] #2505 closed

[2018-01-10 03:35] pippinsplugins commented on #2487
@tubiz the PR fixes the infinite loop but it doesn't fix the decimal / thousands separator. To fix that it needs to include a call to `affwp_currency_filter()`.

[2018-01-10 03:38] pippinsplugins commented on #2496
We should make the filter apply for both paypal and non paypal referrals. Right now it's only running on the non-paypal referrals.

[2018-01-10 03:40] #2380 closed

[2018-01-10 03:40] amdrew commented on #2380
@pippinsplugins It works!

[2018-01-10 03:44] pippinsplugins commented on #2411
Works great, merged!

[2018-01-10 03:44] #2411 closed

[2018-01-10 03:49] amdrew commented on #2496
@DrewAPicture I think we should

[2018-01-10 04:21] tubiz commented on #2504
@amdrew Yes, I will tackle it for 2.1.12. But I will need a copy of the plugin.

[2018-01-10 04:47] tubiz commented on #2487
@pippinsplugins updated. The `affwp_format_amount()` was used.

[2018-01-10 05:28] amdrew commented on #2504
@tubiz 👍 We're working on getting a copy.

[2018-01-10 06:12] tubiz commented on #2362
PR : #2507

[2018-01-10 06:19] amdrew commented on #2504
@tubiz Sent you an email with a link to ExhangeWP

[2018-01-10 06:22] tubiz commented on #2504
@amdrew I got the email. Thanks.

[2018-01-10 09:39] pippinsplugins commented on #2491
I have this pretty well working. Todo still:

1. Create upgrade routine to populate past customer records
2. Remove the temporary UI I added (there will be no UI for now)
3. Add customer tracking to all integrations
4. Add method to AFFWP_Customer for `get_original_affiliate()`
5. Re-build [Lifetime Commissions](https://github.com/AffiliateWP/affiliate-wp-lifetime-commissions/) to use this new cus

[2018-01-10 18:50] DrewAPicture commented on #2362
Are we planning to also reverse the referrals that were marked paid when the payout was generated?

I think that the referrals being marked paid is probably the greater concern when somebody wants to reverse a payout being generated.

[2018-01-10 18:54] michaelbeil commented on #2362
I think that would be ideal.

[2018-01-10 19:11] tubiz commented on #2362
If a payout is deleted all the referrals in the payout that were marked paid will be marked unpaid.

[2018-01-10 23:24] amdrew opened #2508 "Force 100% width on form fields"
Sometimes we get tickets where the customer's registration and login forms look like this:

<img width="616" alt="screen shot 2018-01-11 at 11 59 19 am" src="https://user-images.githubusercontent.com/52581/34800301-02289e48-f6c8-11e7-8382-9994cab35eec.png">

___

As a comparison, here's how it appears with a default WP theme:

<img width="453" alt="screen shot 2018-01-11 at 12 10 24 pm" src="https

[2018-01-10 23:33] amdrew commented on #2508
As a quick simulation, here's what Twenty Sixteen looks like, without 100% widths on fields

<img width="522" alt="screen shot 2018-01-11 at 12 29 23 pm" src="https://user-images.githubusercontent.com/52581/34801096-96177d10-f6cb-11e7-9eea-93aed453ddbf.png">

[2018-01-10 23:50] amdrew commented on #2508
@AffiliateWP/core Ready for testing: https://github.com/AffiliateWP/AffiliateWP/pull/2509

We could used a selector such as:

[code]

But I went with:

[code]

It may be possible that the form is modified and an element is placed after a label which isn't meant to be 100% width.

Tested on a customer's site but will need to be tested on other themes that we know look "broken" or at least simulated

[2018-01-11 03:37] michaelbeil commented on #565
https://secure.helpscout.net/conversation/503008397/73869/?folderId=205524

[2018-01-11 05:50] pippinsplugins opened #2510 "Add method to retrieve the class name for an integration"
We need to introduce a method that allows us to retrieve the class name for a registered integration.

[2018-01-11 05:52] pippinsplugins commented on #2510
I've added this [here](https://github.com/AffiliateWP/AffiliateWP/commit/799f94959b88af38028b224f436eabd3b754be77) via the #2491 pull request.

[2018-01-11 05:53] pippinsplugins commented on #2491
First integration of the upgrade routine is added. Note, it won't remove the upgrade notice after it's run. I'll add that once it's solid.

[2018-01-11 07:02] pippinsplugins commented on #2491
Todo:

- [ ] Add unit tests
- [ ] Add meta query join for querying customers by affiliate ID
- [ ] Finish all integrations
- [ ] Test customer creation for all integrations
- [ ] Test upgrade routine with referrals stored from inactive integration plugins
- [ ] Added better descriptive text to upgrade routine

[2018-01-11 07:02] pippinsplugins commented on #2491
Todo:

- [ ] Add unit tests
- [ ] Add meta query join for querying customers by affiliate ID
- [ ] Finish all integrations
- [ ] Test customer creation for all integrations
- [ ] Test upgrade routine with referrals stored from inactive integration plugins
- [ ] Added better descriptive text to upgrade routine

[2018-01-11 07:12] pippinsplugins opened #2511 "Add stand-alone opt-in form with standard email services integrations"
@amdrew and I have discussed this extensively.

We would like to add a new stand-alone opt-in form that visitors can submit to be subscribed to the site's email service (MailChimp, ConvertKit, ActiveCampaign, etc).

The form would be displayed on a page through a shortcode and would include fields for name and email.

When submitted, the form would trigger one of two or three things:

- If a refer

[2018-01-11 07:17] amdrew commented on #2511
It could include optional fields for `first name` and `last name`, with `email` being default. Over time, we could add support for custom fields (?), perhaps an entire forms API (?).

In addition to the shortcode, it would (obviously) have a method to call, as well as a widget. As Gutenberg approaches, it could have a block to drag into a page/post etc.

[2018-01-11 20:03] michaelbeil opened #2512 "Update pt_BR"
https://github.com/AffiliateWP/AffiliateWP/pull/398#issuecomment-356900277

[2018-01-12 06:43] tubiz commented on #251
I wasn't able to replicate this issue on ExchangeWP version 1.36.6 as all 0.00 sales referrals were created and their statuses get updated to unpaid.

Bur I noticed that if any non affiliate coupon is used no referral is created for that sale.

Should I create another issue for that or that is related to this issue?

[2018-01-12 06:56] tubiz commented on #2501
I was able to create user accounts with usernames lower than four characters. WordPress only checks if the username is empty or the length is more than 60 characters.

Should we still go ahead and implement this check for usernames lower than four characters in AffiliateWP?

[2018-01-12 08:30] pippinsplugins commented on #251
Great!

Please go ahead and create a new issue for that and we'll close this one.

[2018-01-12 08:30] #251 closed

[2018-01-12 08:51] tubiz opened #2514 "Referrals not created in ExchangeWP if a non affiliate coupon is used"
If any coupon that is not assigned to an affiliate is used in ExchangeWP referrals are not created for that sale.

Steps to replicate:

- Create a coupon in ExchangeWP and don't assign it to an affiliate
- Purchase a product using an affiliate link and apply the coupon to the order

[2018-01-12 09:00] tubiz commented on #2514
PR: #2515

[2018-01-13 04:21] #2514 closed

[2018-01-13 04:21] pippinsplugins commented on #2501
Yes I think so. Let's prevent creating accounts with less than four characters.

[2018-01-13 06:04] amdrew opened #2516 "Provide a way for affiliate to set password after being approved"
When adding an affiliate via the **Affiliates -> Affiliates -> Add New** screen, and adding a new WordPress user account at the same time, the affiliate does not receive a link to set their password in the affiliate approved email.

This means the affiliate cannot log in to the Affiliate Area after being accepted.

<img width="706" alt="screen shot 2018-01-13 at 7 02 45 pm" src="https://user-image

[2018-01-13 07:21] #2362 closed

[2018-01-13 07:24] #2487 closed

[2018-01-13 07:25] #2496 closed

[2018-01-13 07:26] pippinsplugins commented on #2508
@tubiz could you test this on a number of different themes to confirm all is well?

[2018-01-13 15:20] tubiz commented on #2508
@pippinsplugins okay, I will do that.

[2018-01-13 16:24] tubiz commented on #2508
I have tested this on 36 themes from the WP.org theme directory and it works on all themes apart from a theme that was setting the width of input element to 40% with an `!important` rule

[code]

[2018-01-13 19:30] tubiz commented on #2501
There are two different scenarios we need to consider

- If an existing user account with fewer than four characters that was created in WP is selected should the affiliate account be created
- If a new user and affiliate account is created for a new user entirely this is when the username has to be 4 characters or more

[2018-01-13 19:36] tubiz commented on #2224
@pippinsplugins I will need a copy of the MemberPress plugin.

[2018-01-13 20:16] kroeberk commented on #2496
Just wanna say thanks for implementing this :)

[2018-01-14 01:45] amdrew commented on #2508
@tubiz Thanks, that was very thorough :)

[2018-01-14 03:27] amdrew commented on #2516
PR: https://github.com/AffiliateWP/AffiliateWP/pull/2518

[2018-01-14 03:34] amdrew opened #2519 "Add password generator to add new affiliate screen"
Breaking off from https://github.com/AffiliateWP/AffiliateWP/issues/2516

<img width="630" alt="screen shot 2018-01-13 at 6 43 11 pm" src="https://user-images.githubusercontent.com/52581/34912529-b0e985e6-f948-11e7-8e4e-00b05d798567.png">

<img width="754" alt="screen shot 2018-01-13 at 6 43 18 pm" src="https://user-images.githubusercontent.com/52581/34912528-b0b2a184-f948-11e7-8841-ebffcbab1f0c.p

[2018-01-14 04:06] pippinsplugins commented on #2501
Let's not affect nor change any existing accounts.

[2018-01-14 05:31] amdrew opened #2520 "Notice not shown when searching for username"
If you search for an affiliate using the exact username, you get the error notice as shown below:

<img width="1050" alt="screen shot 2018-01-14 at 6 28 25 pm" src="https://user-images.githubusercontent.com/52581/34913102-c8436dbe-f958-11e7-84ba-b62c496f6d0f.png">

However, if you search for a partial match, then select the same user name, the notice is no longer shown:

<img width="1034" alt="scr

[2018-01-14 06:04] amdrew commented on #948
@AffiliateWP/core Ready for testing. The other approval emails now have a header:

E.g.

<img width="990" alt="screen shot 2018-01-14 at 7 03 54 pm" src="https://user-images.githubusercontent.com/52581/34913287-b2e74634-f95d-11e7-8b6e-8694e246372f.png">

[2018-01-14 06:06] amdrew commented on #2405
@pippinsplugins Do you agree on the above?

[2018-01-14 06:11] pippinsplugins commented on #2198
I've added a new `type` column and set all existing referrals to the type of `sale` through an upgraded routine.

For the moment I have decided against requiring that referral types be formally registered (unlike post types in WP core). The primary reason for this is that we're not (at least for now) revealing anything through the UI for these referral types, so it's not necessary that the availab

[2018-01-14 06:13] amdrew commented on #672
Closing in favor of https://github.com/AffiliateWP/AffiliateWP/issues/2198

[2018-01-14 06:13] #672 closed

[2018-01-14 06:40] pippinsplugins commented on #2405
Yes.

[2018-01-14 07:22] pippinsplugins commented on #2198
I've changed my mind on having a defined method for registering referral types.

We need to have a way to filter the Referrals table by type so that depends on having a registry where we can retrieve a list of all available types.

I've added a registry and added a filter dropdown to the referrals table.

[2018-01-14 07:26] DrewAPicture commented on #2520
FWIW, pretty much the only way to accomplish what you're asking for is to send an additional Ajax request when the name is selected.

The way it works now, is that typing triggers the `affwp_check_user_login` Ajax handler, which performs an `affwp_get_affiliate()` check. If no affiliate was found (based on what's actually in the text input), then it sends back "affiliate = false" to the JS. If an

[2018-01-14 07:39] amdrew commented on #2405
@AffiliateWP/core Ready for testing. PR: https://github.com/AffiliateWP/AffiliateWP/pull/2522

[2018-01-14 07:41] pippinsplugins commented on #2198
This is ready for testing.

By default we're now registering two core types:

- `sale`
- `opt-in`

New types can be registered like this:

[code]

The `type` parameter is supported in the `add()`, `update()`, and `get_referrals()` methods.

The Referrals list table can be filtered by any registered type.

If a referral is created with a non-registered type, it will default to `sale`.

[2018-01-14 13:41] tubiz commented on #2504
I noticed that different gateways have different order status for successful transactions, due to this some referrals are not marked as `rejected` if they are `cancelled`, `refunded` or `voided`.
This is also fixed in the PR

### Payment Gateway Order Statuses
- If PayPal is used the order status is set to `Completed`
- If Stripe is used the order status is set to `succeeded`
- If Offline Payments

[2018-01-14 20:24] amdrew opened #2524 "Add IDs to TR rows in admin settings"
There are times where we may need to hide certain rows in the admin settings.  I.e selecting a checkbox on one setting and hiding a setting row somewhere else. It would be great if each `<tr>` row had an ID to take advantage of. This could be generated from the setting name.

[2018-01-15 01:13] pippinsplugins commented on #2405
Oops, need to go a bit further.

`New referral emails` currently refers to email notifications to affiliates, but we also need to have an option for disabling new referral notifications to site admins, sent through `affwp_notify_admin_on_new_referral()`.

We also need to go a bit further and remove the profile field in the Affiliate Area settings tab that permits affiliates to enable/disable email

[2018-01-15 01:15] pippinsplugins commented on #2405
Oh one more. We already have an option for enabling / disabling referral notifications for admins, `admin_referral_notifications`. This will need to be moved into the multi-check list and an upgrade routine added to migrate the stored value.

[2018-01-15 01:19] pippinsplugins commented on #948
Merge conflict resolved.

Looks like a _lot_ of tests have been broken by these changes so we'll need to carefully review and fix them (or the cause of them breaking).

@amdrew can you go ahead and finish your side of this? I'll then take over to resolve the tests.

[2018-01-15 01:36] pippinsplugins commented on #2224
@tubiz emailed you a link.

[2018-01-15 02:21] pippinsplugins commented on #2491
Integration tests:

- [ ] Contact Form 7
- [ ] Easy Digital Downloads
- [ ] Caldera Forms
- [ ] Formidable Pro
- [ ] Give
- [ ] Gravity Forms
- [ ] iThemes Exchange
- [ ] Jigoshop
- [ ] LifterLMS
- [ ] MarketPress
- [ ] MemberMouse
- [ ] MemberPress
- [ ] Ninja Forms
- [ ] OptimizeMember
- [ ] PayPal Buttons
- [ ] Paid Memberships Pro
- [ ] Paid Member Subscriptions
- [ ] Restrict Content Pro
- [

[2018-01-15 03:14] tubiz commented on #2224
@pippinsplugins I got the email. Thanks.

[2018-01-15 03:28] pippinsplugins opened #2525 "Jigoshop integration does not work with new Jigoshop eCommerce"
The original [Jigoshopo plugin](https://wordpress.org/plugins/jigoshop/) has been discontinued and replaced with [Jigoshop eCommerce](https://wordpress.org/plugins/jigoshop-ecommerce/).

Unfortunately it appears that the original action hooks we relied on have been removed or changed.

At some point we should consider updating the Jigoshop integration to support the new version.

[2018-01-15 04:24] pippinsplugins commented on #2491
Ready for testing on all integrations but the four above that are unchecked.

[2018-01-15 06:44] pippinsplugins commented on #2501
@gspice could you please give this a quick test?

[2018-01-15 21:38] amdrew commented on #2198
@pippinsplugins We should add a description on the edit referral screen for `Type` and also add a note on how it cannot be edited. Something like:

`The referral type. This cannot be changed.`

[2018-01-15 21:47] amdrew commented on #2198
@pippinsplugins I wonder if we should hide the types select menu on the referrals screen if only 1 type exists on the site. Ideally it should also only show the referral types that exist on the site.

On my test site there are only `Sale` referrals and could be confusing to some if they can filter by `Opt-In` but no opt-in referrals actually exist.

[2018-01-15 21:52] amdrew commented on #2198
@pippinsplugins The new opt-in referral type select menu on a Gravity Form is echoing the selected state (and a random full stop) to the top of the screen when selected and saved.

<img width="474" alt="screenshot 2018-01-16 10 51 32" src="https://user-images.githubusercontent.com/52581/34963058-5b605460-faab-11e7-8468-b24f53057200.png">

[2018-01-15 22:04] pippinsplugins commented on #2198
@amdrew description added and selected state output fixed.

I don't think we should hide the type dropdown for the same reason that we don't hide the status links when no referrals of those statuses are present. The presence of the UI helps educate the site owner on what options are available, even if those options are not currently used.

[2018-01-15 22:09] amdrew commented on #2198
@pippinsplugins We should consider allowing the referral type to be changed from the edit referral screen.

[2018-01-15 22:25] pippinsplugins commented on #2198
Referral types can now be changed.

[2018-01-15 22:25] pippinsplugins commented on #2198
Fixed the problem with `opt-in` types not saving.

[2018-01-15 22:30] amdrew commented on #2198
@pippinsplugins

Getting these notices outputted when testing Gravity Forms:

[code]

[2018-01-15 22:38] pippinsplugins commented on #2198
Fixed.

[2018-01-15 23:08] amdrew commented on #2520
Sounds good to me!

[2018-01-15 23:35] amdrew commented on #2198
After discussing this with @pippinsplugins, we're also going to add a `lead` referral type. Form integrations would need to support this.

We're also going to add the `type` to the conversion script shortcode.

[2018-01-16 00:27] pippinsplugins commented on #2198
Lead type is now registered.

[2018-01-16 03:04] pippinsplugins commented on #2198
Form integrations to add referral type selection to:

- [ ] Gravity Forms
- [ ] Ninja Forms
- [ ] Formidable Forms
- [ ] CalderaForms
- [ ] Contact Form 7

[2018-01-16 03:56] pippinsplugins commented on #2198
All form integrations now support referral type selections.

[2018-01-16 04:07] pippinsplugins commented on #2198
Note: unit tests are failing now due to changes from #958. Will resolves those once it is merge.

[2018-01-16 04:11] pippinsplugins commented on #2198
This is now ready for solid testing @gspice @michaelbeil!

A few notes:

1. The Referrals list table now displays the referral type as `Sale`, `Opt-In`, or `Lead`.
2. A drop down has been added to the Referrals table for filtering the table by specific referral types.
3. Each of the form integrations mentioned [above](https://github.com/AffiliateWP/AffiliateWP/issues/2198#issuecomment-357841029) n

[2018-01-16 05:41] amdrew commented on #1960
Working on this issue over in https://github.com/AffiliateWP/AffiliateWP/issues/948.

All email notifications are now listed in a checkbox group, including the global option for allowing new referral notifications for affiliates. When enabled, the affiliate will see the option to enable new referral notifications in their affiliate area. They can also disable the email if they choose to, unless th

[2018-01-17 03:23] gspice commented on #2501
@pippinsplugins How can I get a build with these changes to test with?  I don't see a branch for it which is what I usually download from.

[2018-01-17 04:01] tubiz commented on #2501
@gspice you can download this branch here https://github.com/tubiz/AffiliateWP/archive/issue/2501.zip

[2018-01-17 05:12] flowdee opened #2526 "Referral not linked to related visit"
Experienced a case where a referral is not linked to the related visit.

An affiliate was wondering why - in this case - he has 2 referrals but only 1 converted visit.

<img width="1085" alt="bildschirmfoto_2018-01-17_um_12_06_21" src="https://user-images.githubusercontent.com/2278756/35026764-7f65136c-fb7f-11e7-9925-42241775de22.png">
<img width="632" alt="bildschirmfoto_2018-01-17_um_12_06_32" s

[2018-01-17 10:59] tubiz commented on #2224
@lisag I was able to replicate this issue, if a membership has a paid trial the referral is being calculated based on the price of the membership and not on the paid trial amount.

Example:

- Referral rate if `20%`
- Membership price is `$50`
- Paid Trial amount is `$100`
- Referral amount should be `$20` but `$10` is being calculated based on the membership price.

I can't see an option in Membe

[2018-01-17 20:26] gspice commented on #2501
@tubiz Thank you!

Works great, prevents any new accounts unless 4 or more characters.   That said, you can still add less than 4 character usernames for an affiliate when adding a new WordPress user, and checking the box to make them an affiliate.

[2018-01-17 20:35] pippinsplugins commented on #2224
Correct, it should be based on the paid trial amount.

[2018-01-17 20:56] tubiz commented on #2501
@gspice the username characters check was not implemented on the WP Add New User page it was only implemented for the Add New Affiliate page.

@pippinsplugins should we also check for the username characters if the `Add as Affiliate` checkbox is chosen on the WP Add New User page

[2018-01-17 21:45] gspice commented on #2492
Yes, another vote for this, wants to change the word "affiliate" everywhere in the app to "consultant".
https://secure.helpscout.net/conversation/505228250/74089?folderId=1170842

[2018-01-17 22:22] pippinsplugins commented on #2501
@tubiz no because that page is validated by WordPress itself.

[2018-01-17 23:44] gspice commented on #2198
Did my first test using Gravity Forms.  Tested sale, opt-in and lead. The referral was created with the new and correct type chosen, but received a warning:

<img width="781" alt="lead" src="https://user-images.githubusercontent.com/3018245/35073335-410146cc-fb9d-11e7-9a51-587eecd45235.png">

[2018-01-17 23:57] amdrew commented on #2198
That's an error related to email stuff I'm working on in another branch. I think it got into this branch somehow. You can safely ignore that.

[2018-01-18 08:56] tubiz commented on #2224
@pippinsplugins @DrewAPicture I have tested different membership terms with the fix I am working on and the right referral amount is calculated.

I have a question as regard free trial and flat rate referral amount, should the flat rate be applied to a free trial or the referral rate set to 0.

Example:

- Referral Rate Type: Flat USD
- Referral Amount: $20.00
- Membership Term: 1 day for free the

[2018-01-18 19:20] rmurillo21 commented on #1150
Any suggestion on how to add this functionality via action hooks?  We need this also. We are using the referral plugin, which presents the list of affilates - can that be inserted in the add order screen? We use WC. thanks

[2018-01-19 20:06] gspice commented on #1276
Another request.  This option on the _Misc_ tab would be ideal, especially when they've already added additional user roles to WP:
https://secure.helpscout.net/conversation/508902066/74448?folderId=1170842

[2018-01-19 23:51] amdrew commented on #2302
@gspice Tried to replicate this issue but tripped on permalinks. I changed my custom structure to `/article/%postname%/` and I just get page not founds. Are you still able to add the `article` in your URLs?

No plugins active, just WP 4.9.2.

<img width="1064" alt="screenshot 2018-01-20 12 50 24" src="https://user-images.githubusercontent.com/52581/35176854-7fa2ab6a-fde0-11e7-80e5-876def7cd152.png

[2018-01-19 23:58] amdrew commented on #2302
@gspice I can't replicate this, works fine for me. Can you still replicate?

<img width="550" alt="screenshot 2018-01-20 12 56 47" src="https://user-images.githubusercontent.com/52581/35176997-66cca32e-fde1-11e7-90d9-174ad789df77.png">

<img width="957" alt="screenshot 2018-01-20 12 56 39" src="https://user-images.githubusercontent.com/52581/35176999-67019228-fde1-11e7-93e3-60b1919dc60a.png">

<im

[2018-01-20 01:51] amdrew opened #2527 "PayPal Buttons JS error: TypeError: action is undefined"
A customer's site is generating a JavaScript error when the PayPal Buttons integration is enabled.

[code]

This is appearing when a modal window is being launched after adding a WooCommerce product to the cart, provided by another WooCommerce related plugin:

<img width="939" alt="screenshot 2018-01-20 14 41 06" src="https://user-images.githubusercontent.com/52581/35178684-46979022-fdf1-11e7-90f1

[2018-01-22 01:23] pippinsplugins commented on #2511
@amdrew WIP but ready to begin testing PR submitted: https://github.com/AffiliateWP/AffiliateWP/pull/2528

To begin testing:

1. Checking `issue/2511`
2. Add `[opt_in]` shortcode to a page
3. Visit Affiliates > Settings > Opt-In Forms to enable an integration with MailChimp, ConvertKit, or ActiveCampaign
4. Visit the page you placed the shortcode on and submit it with and without referral cookies

[2018-01-22 01:26] pippinsplugins commented on #2511
Few items that have now been completed:

1. Settings for controlling which fields show in the opt-in form
2. Settings for controlling the referral amount
3. Rigorous API failure detection for integrations
4. Complete inline documentation
5. Unit tests

[2018-01-22 01:29] pippinsplugins commented on #2198
@amdrew could you please ping me when that branch is done so I can get it brought in here?

[2018-01-22 01:33] amdrew commented on #2198
@pippinsplugins Yep

[2018-01-22 02:51] pippinsplugins commented on #2224
Yes I think flat rate should apply to free trials, so $20 would be the referral amount.

[2018-01-22 06:49] amdrew commented on #948
@pippinsplugins

1. The `affwp_email_referral_notifications` filter that was added to the `affwp_email_referral_notifications()` function has been removed. I see no need since the new referral notification email and the affiliate area checkbox option can now be controlled via the other new filter, `affwp_email_notification_enabled`. Plus, it was only meant to be a helper function.

2. The `affwp_e

[2018-01-22 06:50] amdrew commented on #2198
@pippinsplugins Ready to roll, see https://github.com/AffiliateWP/AffiliateWP/issues/948#issuecomment-359324257

[2018-01-22 07:00] amdrew commented on #2511
@pippinsplugins Excellent! Will test in the morning.

[2018-01-22 09:32] tubiz commented on #2224
PR: #2529

Fixed

- If a membership has a paid trial, the referral amount will be calculated based on the trial amount and not on the membership price
- If a membership has a free trial and the referral rate type is Flat USD, the referral amount will be the flat rate set.

I also tested to make sure other MemberPress related issues #1375, #1441, #1342 didn't reoccur in the PR submitted.

[2018-01-22 14:58] pippinsplugins commented on #2224
Excellent, thanks @tubiz!

@gspice could you do a round of tests on this please?

[2018-01-22 15:11] pippinsplugins commented on #948
@gspice @michaelbeil this is ready for testing!

[2018-01-22 15:18] pippinsplugins commented on #2198
Thanks. I'll wait til we merge that and then I'll pull it in.

[2018-01-22 21:34] amdrew opened #2530 "Affiliate username showing as 0 in Affiliate Area due to incorrect translation files"
The affiliate's username shows as `0` on the `Affiliate URLs` tab of the Affiliate Area when specific languages are being used, and the `Default Referral Format` is set to `Username`.

___

### Correct (English)

<img width="707" alt="screenshot 2018-01-23 10 21 47" src="https://user-images.githubusercontent.com/52581/35245094-443ffc96-0027-11e8-8b26-7972468ad443.png">

___

### Incorrect (Spanish

[2018-01-22 21:36] michaelbeil opened #2531 "Adjust CSS on the affiliate column on the WC orders page"
![screen shot 2018-01-22 at 15 35 03](https://user-images.githubusercontent.com/4752949/35245736-e205990c-ff89-11e7-9f71-f5e6d64d8383.png)

https://secure.helpscout.net/conversation/510362801/74590?folderId=634609

[2018-01-22 21:37] amdrew commented on #2530
Started a WIP PR so we can at least see what is going to be updated when the language files are updated https://github.com/AffiliateWP/AffiliateWP/pull/2532

[2018-01-22 23:09] amdrew commented on #2531
If we give it a width of 110px (like the actions column beside it), it definitely performs a lot better:

<img width="477" alt="screen shot 2018-01-23 at 12 08 30 pm" src="https://user-images.githubusercontent.com/52581/35249278-3ea406c4-0036-11e8-969a-cdbe6cc4498f.png">

[2018-01-22 23:58] amdrew commented on #948
@pippinsplugins PR updated with requested changes.

[2018-01-23 02:02] pippinsplugins commented on #948
Yay, unit tests fixed!

[2018-01-23 03:18] amdrew commented on #2511
After selecting MC in settings and saving:

[code]

[2018-01-23 03:31] amdrew commented on #2511
I'm not able to submit the form (with or without referral link). I see this after I submit the form:

<img width="841" alt="screenshot 2018-01-23 16 29 03" src="https://user-images.githubusercontent.com/52581/35256836-b0cc45da-005a-11e8-87a5-27a9b5c723f6.png">

No errors in PHP log, API key and list ID double-checked for MailChimp.

[2018-01-23 03:35] amdrew commented on #2511
Should we prefix the `[opt_in]` shortcode? I can see how it might be confusing though having it `[affiliate_opt_in]` when it's not about affiliates opting in...

[2018-01-23 03:43] amdrew commented on #2511
Was using the wrong list ID. Was using the one from the URL as opposed to the one listed in the settings. However, after changing that I now get:

<img width="876" alt="screenshot 2018-01-23 16 42 17" src="https://user-images.githubusercontent.com/52581/35257166-967cfa74-005c-11e8-805a-91213fd6b497.png">

[2018-01-23 15:17] tubiz commented on #63
PR: #2533

![issue 63-1](https://user-images.githubusercontent.com/602184/35283554-d6b6a6a2-0058-11e8-88c8-0ce541cb5363.png)

![issue 63-2](https://user-images.githubusercontent.com/602184/35283556-d6e6d94e-0058-11e8-94a9-cb7b118f1b82.png)

[2018-01-23 17:41] pippinsplugins commented on #2511
Bad request error and undefined variable fixed.

[2018-01-23 21:22] amdrew opened #2534 "Conflict with Yoast SEO"
If you place the `[affiliate_conversion_script]` shortcode on a page in the WP admin and then save the page (with the latest version of Yoast SEO) it produces a headers not sent error message:

[code]

JS console shows this message while on the admin page:

<img width="1232" alt="screen shot 2018-01-24 at 10 21 35 am" src="https://user-images.githubusercontent.com/52581/35301435-629cdf32-00f0-11e8

[2018-01-23 21:36] amdrew commented on #2534
The `[affiliate_conversion_script]` is definitely executing in the admin somehow (can't see any of its code) and causing the conflict with Yoast SEO. The solution it seems is to add an `is_admin()` conditional check on the shortcode, similar to what we have for the `affiliate_area` shortcode. That prevents the syntax error from showing and allows the page to save.

[2018-01-23 21:39] amdrew commented on #2534
PR: https://github.com/AffiliateWP/AffiliateWP/pull/2535

@gspice Could you first replicate the issue, test with this issue branch and confirm the shortcode still works? Everything ok on my end.

[2018-01-23 22:48] amdrew commented on #2511
@pippinsplugins Can confirm the errors are gone. The form also sent my two test emails to MC 👍

We'll also need a confirmation message after submitting the opt-in form. We could probably show the confirmation like we do for other forms and show it on page reload, but it might be worth exploring ajax in the near future. The opt-in shortcode might not always be placed at the top of a page for exampl

[2018-01-23 22:50] amdrew commented on #948
@gspice @michaelbeil Let me know if you have any questions whatsoever on how to test a specific step, this needs to be tested thoroughly 👌

[2018-01-23 23:20] amdrew commented on #2531
Something else we should tackle for this:

<img width="316" alt="screenshot 2018-01-24 12 19 51" src="https://user-images.githubusercontent.com/52581/35306061-e7f0f7da-0100-11e8-882f-52b386769226.png">

If you make the browser very narrow the `Affiliate Ref...` overlaps onto the next row.

[2018-01-23 23:44] amdrew commented on #2534
@gspice and @michaelbeil have reported that although they cannot replicate the PHP notice, the console error is now gone with the PR.

[2018-01-24 00:18] amdrew commented on #2531
@AffiliateWP/core Ready for testing.

PR: https://github.com/AffiliateWP/AffiliateWP/pull/2536

This:

1. Sets the column width to `110px`, the same as the actions column beside it.
2. Adds a `–` to the column when there is no referral. This makes it consistent with how WooCommerce shows other columns:

<img width="717" alt="screenshot 2018-01-24 13 16 48" src="https://user-images.githubuserconten

[2018-01-24 00:42] JJJ commented on #2531
Works as expected. I like it.

We could go a step farther and increase the padding on the action buttons on mobile. They're maybe hard to target as is. This isn't specific to AFFWP (WordPress isn't great at this either) but we have some room to bump it up if we wanted.

[2018-01-24 02:03] michaelbeil commented on #2531
Looks good to me @amdrew.

[2018-01-24 02:29] amdrew commented on #2531
Here's how it looks with `&mdash;` so it is consistent with WP core, as opposed to WooCommerce:

<img width="311" alt="screenshot 2018-01-24 15 28 42" src="https://user-images.githubusercontent.com/52581/35311430-5b5c16a4-011b-11e8-967e-dd6db63ff741.png">

<img width="698" alt="screenshot 2018-01-24 15 27 28" src="https://user-images.githubusercontent.com/52581/35311431-5b8c837a-011b-11e8-8dd6-fe7

[2018-01-24 02:30] amdrew commented on #2531
Also added the `aria-hidden` attribute as WP does on the `pages` page.

[2018-01-24 04:56] gspice commented on #2302
@amdrew This is still broken for me.  In your testing, use a "pretty" affiliate link and that's when it breaks.  It strips the affiliate link and does not create the cookie.

woocommerce.affwp.dev/article/hello-world/ref/3/

[2018-01-24 05:44] amdrew commented on #2302
@gspice Oh duh, totally missed that

[2018-01-24 15:43] pippinsplugins commented on #2531
Looks good!

[2018-01-25 00:46] amdrew commented on #2530
Overall there are `15` translations affected by this issue. I went for a quick bandaid fix. I opened up each .po file in Poedit, changed `%d` to `%s` and saved. Because of this, Poedit felt it was necessary to update other lines within the plugin (since stuff has changed) but I don't think it's going to break much.

If I had updated each catalogue however inside Poedit there would be _many_ more c

[2018-01-25 01:58] amdrew opened #2537 "Improve emails tab layout"
When affiliate approval is enabled there are 6 emails to configure making the emails tab of the settings screen super long and sometimes confusing. We should try and improve this.

@lisag has suggested `General`, `Admin Emails` and `Affiliate Emails` text links at the top of the screen, similar to EDD's settings screens.

`General` would contain the standard options we have at the top of the scree

[2018-01-25 02:10] gspice commented on #2224
@tubiz

### Did first round of tests using our sandbox MemberPress site:
* If Recurring Referrals is **not** installed, it worked correctly - it created a referral for the correct percentage based on the trial amount paid and the description was correct, it was the name of the membership.
* If Recurring Referrals **is** installed and enabled, it created a referral based on a subscription payment a

[2018-01-25 02:57] amdrew commented on #948
Made a small tweak to the wording of the first email. Previously it said:

Registration Email Options
Registration Email Subject
Registration Email Content

It's not clear based on the above text which email this is referring to. Since it's the email sent to the admin, and to match the other admin setting's text, I've changed it to:

Registration Email Admin Options
Registration Email Admin Subjec

[2018-01-25 03:31] amdrew commented on #948
Something else I noticed. When an affiliate is `Pending` and you go to the edit use screen, you see this checkbox option to disable the affiliate accepted email:

<img width="667" alt="screenshot 2018-01-25 16 26 21" src="https://user-images.githubusercontent.com/52581/35369478-f3c867f4-01ec-11e8-9025-1048232c5591.png">

Now that you can disable that specific email globally, the checkbox should be

[2018-01-25 03:55] michaelbeil opened #2538 "Integration: Captain Form Plugin"
There have been two requests recently for a Captain Form integration: https://www.captainform.com.

Tickets:
https://secure.helpscout.net/conversation/509776176/74531/?folderId=205529
https://secure.helpscout.net/conversation/511934011/74754/?folderId=205524

[2018-01-25 04:19] pippinsplugins commented on #948
Looking good!

On Wed, Jan 24, 2018 at 9:31 PM Andrew Munro <notifications@github.com>
wrote:

[2018-01-25 06:43] tubiz commented on #2224
Thanks @gspice. The referral that was created when the Recurring Referrals plugin was active was it for subsequent renewal payment or the first membership payment.

Based on the example above the recurring referral rate will be $25 and the description "Subscription payment for..." while the first referral rate will be $50 which is calculated based on the trial amount of $100.

@pippinsplugins I wi

[2018-01-25 14:33] pippinsplugins commented on #2224
@tubiz I've just added you to the private repo.

[2018-01-25 15:18] tubiz commented on #2224
@pippinsplugins I got the the invite. Thanks.

[2018-01-25 20:06] gspice commented on #2224
@tubiz

It was for the first membership payment.  My Recurring Referrals rate was 50% (different from the site default rate of 20%) so with the $50 membership amount, it created a referral for $25.00.

The expected behavior would have been a referral for $20 for the $100 paid trial amount that was charged, behaving the same as if the recurring referral add-on wasn't installed/active.  When the tri

[2018-01-25 20:20] tubiz commented on #2224
@gspice yes it does, thanks.

[2018-01-26 00:16] amdrew commented on #2405
Closing this in favor of #948, where the work has been carried out.

[2018-01-26 00:16] #2405 closed

[2018-01-26 02:28] pippinsplugins commented on #2511
Confirmation notice added.

[2018-01-26 02:38] pippinsplugins commented on #2511
ConvertKit integration now working.

[2018-01-26 04:49] michaelbeil commented on #948
I tested everything, and could not find a fault.

I love these new email options.

[2018-01-26 10:43] djcrypto75 commented on #2424
This shows perfectly fine in backend of affiliatewp under "referrals" and Reference.
In Frontend it do not show correct. It shows the Order ID and not Order Number.

[2018-01-29 00:11] pippinsplugins commented on #2530
Which paid service do you have in mind?

[2018-01-29 00:52] amdrew commented on #948
@michaelbeil Could you also test the upgrade tests?

[2018-01-29 00:54] amdrew commented on #2516
@gspice @michaelbeil Could you please test this?

[2018-01-29 02:09] amdrew commented on #2530
@pippinsplugins Not very familiar with any so none in mind

[2018-01-29 05:41] amdrew commented on #2530
Here's one I found: https://www.transifex.com

[2018-01-29 05:59] amdrew commented on #2511
@pippinsplugins ConvertKit works perfectly 👍

[2018-01-29 08:22] tubiz commented on #2224
@gspice I have tested this with the AffiliateWP Recurring Referrals add-on and the right recurring referral is being created.

From the test you carried out the right recurring referral was created as a recurring referral can only be created only if the parent referral is present, it's for a subscription and it has a status of `paid` or `unpaid`.
So a recurring referral of `$25` was created based

[2018-01-29 19:20] pippinsplugins commented on #2224
@gspice could you test once more to confirm you and @tubiz get the same behavior?

[2018-01-29 19:20] pippinsplugins commented on #1771
@tubiz could you work on this please?

[2018-01-29 19:22] pippinsplugins commented on #63
@gspice could you give this a test please?

[2018-01-29 19:22] #2534 closed

[2018-01-29 19:23] pippinsplugins commented on #2508
@amdrew anything else here or ready to merge?

[2018-01-29 19:24] tubiz commented on #1771
@pippinsplugins will do.

[2018-01-29 19:24] #2504 closed

[2018-01-29 19:26] pippinsplugins commented on #2526
@tubiz could you try and replicate this?

[2018-01-29 19:27] #2501 closed

[2018-01-29 19:27] tubiz commented on #2527
@pippinsplugins on it.

[2018-01-29 19:28] pippinsplugins commented on #2374
@tubiz could you please look into this one?

[2018-01-29 19:30] pippinsplugins commented on #2303
@tubiz Would be great if this could be tackled as well.

[2018-01-29 19:30] tubiz commented on #2374
@pippinsplugins I will need a copy of the OptimizeMember plugin

[2018-01-29 19:33] pippinsplugins commented on #2374
https://www.dropbox.com/s/gs95100ic2dm4iq/optimizeMember.1.2.6.zip?dl=1

[2018-01-29 19:36] tubiz commented on #2374
Seen. Thanks.

[2018-01-29 19:54] gspice opened #2539 "Visit/cookie not created in browser if affiliate username is email address and fallback tracking is enabled."
Discovered on support ticket:
https://secure.helpscout.net/conversation/511477820/74698?folderId=205529

Setup:

* Enable **Use Fallback Referral Tracking Method** under _Affiliates > Settings > Misc_.
* Create or use an affiliate's link who has an email address as their username.
* Use the link as standard or "pretty" link in a browser, the cookie/visit will not be created.

Workaround:
* Turn of

[2018-01-29 20:18] pippinsplugins commented on #2539
@tubiz this is another one for you.

[2018-01-29 21:12] amdrew commented on #2508
@pippinsplugins Ready to roll

[2018-01-29 21:23] amdrew opened #2540 "Cookie/visit not being created with fallback tracking and usernames with periods"
Similar to https://github.com/AffiliateWP/AffiliateWP/issues/2539

If Fallback Tracking is enabled, referral links with a period in the username do not generate a cookie/visit. Non-pretty referral links work however.

### Works and generates a visit
https://issues.affwp.dev/?ref=test.user

### Does not generate a visit
https://issues.affwp.dev/ref/test.user

### To replicate:

1. Enable `Use Fallb

[2018-01-29 21:23] amdrew commented on #2540
@tubiz Could you please also tackle this one, similar to #2539 so possibly related.

[2018-01-29 21:26] gspice commented on #2516
Verified email is sent and set password link functions as expected.

[2018-01-29 22:05] #2508 closed

[2018-01-29 22:55] amdrew opened #2541 "Make affiliate registration password fields optional"
It might be worth exploring the idea of allowing the password fields on the affiliate registration form to be optional. This could reduce a bit of friction by making the form faster/easier to submit.

A link to set a password would be sent to the affiliate if their affiliate application is accepted. Like https://github.com/AffiliateWP/affiliatewp-affiliate-forms-gravity-forms/issues/27 and https:/

[2018-01-29 22:58] gspice commented on #2224
@tubiz The first referral should be for the $100 trial fee for the 5 day trial that was charged at the default site rate of 20% for the initial purchase.  I'm retesting this again shortly.

[2018-01-29 23:48] michaelbeil commented on #2516
Works wonderfully.

[2018-01-30 01:07] tubiz commented on #2303
PR: #2542

[2018-01-30 01:24] amdrew opened #2543 "Refreshing user edit screen after registering affiliate could accidentally re-register if they are deleted"
After approving an affiliate from the user edit screen, deleting them in another window, and then refreshing the user edit screen, it's possible that affiliate could become re-registered.

#### Steps to replicate:

1. Register an affiliate from the edit user screen

    <img width="355" alt="screenshot 2018-01-30 14 15 29" src="https://user-images.githubusercontent.com/52581/35543107-247d4f3e-05c8

[2018-01-30 01:30] amdrew commented on #2543
@AffiliateWP/core Ready for testing: https://github.com/AffiliateWP/AffiliateWP/pull/2544

[2018-01-30 02:10] michaelbeil commented on #2543
Fixes the issue.

[2018-01-30 04:16] amdrew commented on #2527
👍 This is causing another customer's checkout page to break: https://secure.helpscout.net/conversation/513545519/74968?folderId=205527

[2018-01-30 11:13] jjclinton opened #2545 "Option to let affiliate pick weather they want to be paid through bank transfer or PayPal"
I noticed that there isn't an option to let the administrator say if he or she wants to let affiliates choose their payout method. AffiliateWP does support bank transfer, but you'll have to communicate it to your affiliates in someway. This I think, is not very user-friendly. I'd like to automate this and let the affiliate choose weather they want to get paid via bank transfer or PayPal, but only

[2018-01-30 14:45] #2543 closed

[2018-01-30 19:25] gspice commented on #2224
@tubiz @pippinsplugins My mistake, this is working correctly.  I tested again with production, then with the changes in this pull request.  It creates the $20 referral based on the $100 trial payment, then subsequent subscription payments it uses the referral recurring rate for those subscription payments with the  correct description.

[2018-01-30 19:50] gspice commented on #63
@pippinsplugins  Testing feedback:  The new box appears on the Overview page as expected, however, it appears to be using the **Referring URL** column value for the calculations which often is a value of _Direct Traffic_.   Would it be better to do the aggregate calculations on the **Landing Page** column value?  Even with Direct Traffic it would show a specific page might be converting more over

[2018-01-30 22:59] gspice commented on #948
I've been testing on my most heavily used testing site with WooCommerce and so far so good! My only suggestion thus far is currently when you install AffiliateWP for the first time, it sends emails to new affiliates automatically for acceptance, pending or rejected status....should those be checked by default or leave them as unchecked?  Also you might add to the note that is already there:

Or so

[2018-01-30 23:37] amdrew commented on #948
@gspice Great!

In the current version of AffiliateWP, and when you install it for the first time, all affiliate emails are enabled by default (except for the 2 options that send emails to the admin), we just never had options to disable them. So it's essentially doing exactly what it does now, except providing the ability to disable them via checkbox options. I personally feel for that reason we

[2018-01-31 00:41] amdrew opened #2546 "Improve affiliate deletion screen"
Checking the `Delete this affiliate’s user account as well?` in the screenshot below will delete any post associated with the user account (as per https://codex.wordpress.org/Function_Reference/wp_delete_user).

At first glance, it may also appear that the checkbox is to confirm the deletion of the affiliate, not anything related to the user account (since they are so close together). This could a

[2018-01-31 03:52] amdrew opened #2547 "Add affiliate referral to WooCommerce 3.3 preview order modal window"
WooCommerce 3.3 has been released and has redesigned the orders screen. At smaller browser widths it now looks like this:

<img width="487" alt="screenshot 2018-01-31 16 41 47" src="https://user-images.githubusercontent.com/52581/35604223-21c7817c-06a6-11e8-9efe-92a4fc0e325e.png">

Note how there's no `Affiliate Referral` as outlined here: https://github.com/AffiliateWP/AffiliateWP/issues/2531#iss

[2018-01-31 04:58] amdrew opened #2548 "Preventing affiliate links being stripped from URLs due to wp_redirect()"
Affiliate links tend to get stripped from URLs when redirects are performed (only thinking of `wp_redirect()` at this point). Because of this, the cookies aren't created and the visit isn't stored. This seems to crop up a lot in support, mostly due to redirects, but sometimes conflicting plugins.

### Example 1

A site owner has redirects set up via a plugin or custom code. We've seen in support w

[2018-01-31 08:05] tubiz commented on #2540
PR: #2549

[2018-01-31 08:05] tubiz commented on #2539
PR: #2549

[2018-01-31 21:04] gspice opened #2550 "Auto-calculate referral amount when entering referral manually."
Request from this ticket:
https://secure.helpscout.net/conversation/515779503/75253/?folderId=205529

Somewhat related, perhaps to #1150

[2018-01-31 21:58] amdrew commented on #2548
This is also an issue with the WooCommerce One Page Checkout extension from Prospress. Prospress were kind enough to provide our customer with a code snippet to fix the redirect issue with their extension. Going to dig in and see if this is something we can also support.

[2018-02-01 04:26] amdrew commented on #2548
Confirmed that the last code snippet above also fixes the issue with the One Page Checkout extension, in combination with WooCommerce's `Redirect to the cart page after successful addition` option.

[2018-02-01 09:57] tubiz commented on #2526
@flowdee which of the integration are you using and what was the order status changes in the payment/order notes?

[2018-02-01 11:02] flowdee commented on #2526
Using the EDD integration.

The payment status changed was from "pending" to "published" (completed), if you meant this.

[2018-02-01 22:09] pippinsplugins commented on #63
@gspice yes, thank you for noticing that.

@tubiz could you adjust that please?

[2018-02-01 22:11] pippinsplugins commented on #2546
I'm not sure we should ever delete associated content. I cannot think of a scenario where an admin would want that to happen.

[2018-02-01 22:13] pippinsplugins commented on #2548
I don't see any reason not to do this. Would prevent a _lot_ of tickets. Like you mentioned, it's super common for site owners to set up redirects like this and expect them to work.

[2018-02-01 22:51] pippinsplugins commented on #2530
We used to use that for EDD. Seemed okay back then.

[2018-02-01 23:01] amdrew commented on #2548
@pippinsplugins Do you think we should _always_ attempt to pass the affiliate link through, or have it as an option in the misc settings?

I'm currently leaning more towards having it as an option that needs to be turned on.

Setting up a redirect requires effort to turn it on, WooCommerce provides an option that needs to be turned on, so it seems only natural that this option should be turned on

[2018-02-01 23:26] amdrew commented on #2546
Here's what I propose:

On our screen, if `Delete this affiliate’s user account as well?` is enabled and `Confirm Deletion` is clicked, we redirect to the standard WordPress delete user page:

<img width="301" alt="screenshot 2018-02-02 12 19 57" src="https://user-images.githubusercontent.com/52581/35708556-8e6e7e16-0813-11e8-8517-c39f7bb4a49d.png">

This gives the site admin _one_ last chance to

[2018-02-01 23:28] amdrew commented on #2546
Multisite shows a slightly different screen with added messages at the top and bottom and site the user is assigned to:

<img width="622" alt="screenshot 2018-02-02 12 26 51" src="https://user-images.githubusercontent.com/52581/35708748-6c5d9f90-0814-11e8-832c-eb0c5175935f.png">

[2018-02-01 23:38] pippinsplugins commented on #2548
I think always pass it through.

If we introduce an option to define whether it's kept or not, we'll have tickets from people that experience the problem but don't know the option exists. If we just do it, we prevent those tickets from ever opening.

If someone doesn't want it, they shouldn't be redirecting affiliate URLs.

[2018-02-02 00:10] pippinsplugins commented on #2224
Great! Merging.

[2018-02-02 00:10] #2224 closed

[2018-02-02 00:52] amdrew commented on #2548
👍I agree with that

[2018-02-02 01:57] amdrew commented on #2527
Another report. This time an "update your payment form".

[2018-02-02 07:43] sandeep2244 opened #2551 "Issue with Wordpress Version"
Hi
It's working properly in 4.9.2

And in wordpress 4.8.5 its not add Affiliates in add Affiliate

What is issue??

[2018-02-02 07:50] michaelbeil commented on #2551
For any support-related questions, we ask that you send a ticket to https://affiliatewp.com/support as we reserve this repository for development purposes.

[2018-02-02 07:56] #2551 closed

[2018-02-02 10:19] tubiz commented on #63
@gspice thanks for noticing that.

@pippinsplugins I will update the PR with the changes.

[2018-02-02 14:43] tubiz commented on #2527
@amdrew can you send the sites url so I can check.

[2018-02-02 15:43] michaelbeil opened #2552 "Disable referrals from being generated when a product has disable referrals enabled"
When a product has the option to disable referrals enabled, we should not generate a $0 referral at all. Instead, I propose that we disable the referral from being generated.

Ticket: https://secure.helpscout.net/conversation/517033335/75409?folderId=634609.

[2018-02-02 23:10] amdrew commented on #2527
@tubiz Here's how you can replicate the issue, based on the most recent report:

1. Install WooCommerce
2. Install this plugin: https://wordpress.org/plugins/woocommerce-gateway-paypal-powered-by-braintree/
3. Enable the `Braintree (Credit Card)`.
4. Enable sandbox mode and enter any details. If you want, sign up to braintree and put in some real test API credentials. You'll then see a real form i

[2018-02-03 02:28] amdrew commented on #2527
PR merged into master, fixes the issue above and PayPal Buttons integration still works as expected. @tubiz Can you please also test?

[2018-02-03 17:06] michaelbeil commented on #948
@amdrew what is the best way to do that?

[2018-02-04 22:28] amdrew commented on #948
@michaelbeil Instructions are listed above under the "Upgrade tests" heading: https://github.com/AffiliateWP/AffiliateWP/issues/948#issuecomment-359324257

Let me know if you are unsure of anything. Involves switching branches and deleting some rows from the database table.

[2018-02-05 06:50] tubiz commented on #2527
@amdrew I was able to replicate the issue using the steps you outlined.
With the PR, after testing the issue has been fixed.

[2018-02-05 07:03] tubiz commented on #2526
@flowdee I haven't been able to replicate this issue yet.

The referral is linked to the visit when the referral status changes from `pending` or `rejected` to `unpaid` and for all referral that was created when I tested it was linked to the related visit.

[2018-02-05 07:25] tubiz commented on #2374
@pippinsplugins I will also need the OptimizePress plugin.

[2018-02-05 11:32] michaelbeil opened #2554 "Should we restructure where jQuery is loaded?"
A suggestion from a customer:

Ticket: https://secure.helpscout.net/conversation/517457138/75449?folderId=634609.

[2018-02-05 12:14] flowdee commented on #2526
No problem. I'll observe it and see if it happens again

[2018-02-05 14:26] #2527 closed

[2018-02-05 18:28] zackkatz opened #2555 "Edit Referral: Add link to referral reference, by context"
When I'm editing a referral, I often want to check the original reference. There's no easy way to do that, as far as I know.

So I added a button to be able to easily link to the referral reference, using the code below:

[code]

It looks like this:

![View Payment Details link](http://share.gravityview.co/hzINFx+)

It would be nice if this were supported in core. Perhaps an action could be added

[2018-02-05 19:08] michaelbeil commented on #2555
Thanks for bringing this up!

This would be a great addition in the future.

[2018-02-05 19:09] zackkatz commented on #2555
👍

I'd suggest adding a method to the `Affiliate_WP_Base` class to make it easy to link to the reference.

[2018-02-05 22:52] amdrew opened #2556 "WooCommerce integration updating referral right after creating it"
The WooCommerce integration is creating the initial referral and then instantly updating it.

[code]

As a result, the `affwp_insert_pending_referral` filter is rendered useless since anything filtered is overridden:
https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/integrations/class-woocommerce.php#L204

[2018-02-06 01:42] amdrew commented on #2374
@tubiz Sent you an email with link

[2018-02-06 15:27] tubiz commented on #2374
@amdrew I got the email. Thanks.

[2018-02-06 21:28] lisag commented on #1381
This could help save customers like this: https://secure.helpscout.net/conversation/519423160/75672?folderId=205524

[2018-02-07 12:38] michaelbeil opened #2557 "Two referrals are generated when the MemberMouse integration is enabled"
![screen shot on 2018-02-06 at 17_12_16](https://user-images.githubusercontent.com/4752949/35870140-294b0288-0b61-11e8-8721-bd114867f504.png)

Ticket: https://secure.helpscout.net/conversation/519237159/75619?folderId=634609.

[2018-02-08 02:31] amdrew commented on #2557
@michaelbeil I'm working on getting access to our membermouse site. In the meantime, have you tried to replicate the issue by following the customer's exact set up on our testing site?

Perhaps it's related to the fact that it's a bundle, with 2 products inside. E.g. Click the `Bought in` link, under `Associated Access` on the `Bought In` row:

<img width="1595" alt="screen shot 2018-02-08 at 3 23

[2018-02-08 10:46] michaelbeil commented on #2557
I’ve been able to replicate the $0 generated referral, but not 2 referrals. I will create a bundle product and attempt to replicate this.

[2018-02-08 14:05] michaelbeil commented on #2557
I created a test bundle, however no referrals are created: http://beil.io/o4I7mR.

[2018-02-08 19:47] pippinsplugins commented on #2554
To fix this, I believe we just need to add jQuery as a dependency.

[2018-02-08 19:47] pippinsplugins commented on #2546
I like that proposal.

[2018-02-08 21:26] amdrew commented on #2557
Replicated the issue on our test site:

<img width="1152" alt="screen shot 2018-02-09 at 10 25 43 am" src="https://user-images.githubusercontent.com/52581/35999137-a361382a-0d83-11e8-9049-e3996ab09de9.png">

[2018-02-08 21:43] amdrew commented on #2557
I'm not sure this could be considered a bug. The obvious "fix" for this is to enable the `Ignore Referrals with Zero Amount` option in Settings -> Misc.

Here's 2 separate orders. `1503` has the option enabled to ignore the 0.00 referral.

<img width="1151" alt="screen shot 2018-02-09 at 10 43 19 am" src="https://user-images.githubusercontent.com/52581/35999885-1b34fa7e-0d86-11e8-8aea-26707db24c19

[2018-02-08 21:47] amdrew commented on #2557
There does seem to be a bug however. Note that the `The Herbal Hub Membership` membership is free:

<img width="654" alt="screen shot 2018-02-09 at 10 45 39 am" src="https://user-images.githubusercontent.com/52581/36000004-79e9d0c6-0d86-11e8-9118-243126944caa.png">

The `add_referral_on_free` method should be skipping the referral as per:

https://github.com/AffiliateWP/AffiliateWP/blob/master/inc

[2018-02-08 22:05] amdrew commented on #2557
Actually, looking at this more, it seems like this is the issue:
https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/integrations/class-membermouse.php#L22-L27

[code]

If the membership is free, shouldn't it be returning as per the `Referral not created because membership is free.'` message?

Since the membership _is_ free, it's skipping over the conditional and creating the pending $

[2018-02-08 22:36] amdrew commented on #2557
Got my wires crossed. The method is called `add_referral_on_free` so it's doing exactly as it is supposed to (create a pending $0.00 referral). The conditional above is for memberships that are **not** free, so it should return and not create a referral for paid memberships.

Unless anyone disagrees, there's no bug here.

[2018-02-09 07:09] amdrew commented on #465
WIP PR for a possible EDD integration. Wanted to explore how it could work: https://github.com/AffiliateWP/AffiliateWP/pull/2558

Priority:

1. Affiliate rate if set
2. Product rate if set
3. Category rate if set
4. Default rate

<img width="829" alt="screen shot 2018-02-09 at 8 08 31 pm" src="https://user-images.githubusercontent.com/52581/36015838-18449f46-0dd5-11e8-8e8d-71094b31ad6f.png">

[2018-02-09 11:52] michaelbeil commented on #2557
That seems perfectly reasonable to me. I think we can close this out.

[2018-02-09 11:52] #2557 closed

[2018-02-09 11:55] michaelbeil commented on #465
https://secure.helpscout.net/conversation/521131796/75840?folderId=205529

[2018-02-09 14:33] pippinsplugins commented on #465
I agree.

Where does category rates fall in line when using Tiered Affiliate Rates?

[2018-02-09 15:16] brashrebel opened #2559 "Possible bug in referral amount calculation for EDD payments"
Discovered on easydigitaldownloads.com when looking at payment records for an unrelated reason.

[This payment](https://easydigitaldownloads.com/wp-admin/edit.php?post_type=download&page=edd-payment-history&view=view-order-details&id=1159192) resulted in a referral amount which I don't understand.

The affiliate [_should_ be getting 20%](https://easydigitaldownloads.com/wp-admin/admin.php?s=atkins

[2018-02-09 15:49] michaelbeil commented on #2559
This seems to have also come up here: https://secure.helpscout.net/conversation/520977277/75824?folderId=205529.

[2018-02-09 17:24] michaelbeil commented on #2559
I have not been able to replicate this issue.

[2018-02-09 17:37] michaelbeil commented on #2555
Another ticket: https://secure.helpscout.net/conversation/521307452/75860?folderId=634609.

[2018-02-09 17:48] michaelbeil opened #2560 "EDD: add link in Payment Notes to go directly to referral edit screen"
![link](https://user-images.githubusercontent.com/4752949/36041719-bae7cc34-0dc9-11e8-93e8-0a210ef2e68a.png)

Related to #2411.

[2018-02-09 18:58] pippinsplugins commented on #63
@tubiz just needs one small change.

[2018-02-09 18:59] #2516 closed

[2018-02-09 19:00] #2539 closed

[2018-02-09 19:01] #2540 closed

[2018-02-09 19:02] #2531 closed

[2018-02-09 19:06] #2512 closed

[2018-02-09 21:33] amdrew commented on #465
@pippinsplugins Since a per-product rate trumps a per-category rate, it would fit in just before per-product referral rates, also before Tiered Affiliate Rates: http://docs.affiliatewp.com/article/1465-referral-rate-hierarchy

[2018-02-09 23:33] tubiz commented on #63
@pippinsplugins I will make the change shortly.

[2018-02-10 06:15] #2303 closed

[2018-02-12 02:33] pippinsplugins commented on #2511
@amdrew what else would you like to see here for MVP? Do you think we can get by with not having options to select the required / shown fields or are those required for an MVP?

[2018-02-12 02:54] pippinsplugins commented on #2491
I've decided not to add compatibility for the following integrations:

- Contact Form 7
- WP-Invoice
- Sprout Invoices

Customers will still be tracked through those when logged in, so it's not completely lacking for them.

[2018-02-12 03:06] pippinsplugins commented on #948
@michaelbeil could you please go ahead and give this a thorough test and share your exact results? Please confirm the expected behavior with screenshots throughout the testing process so we can be extra sure this is ready to go.

[2018-02-12 03:10] pippinsplugins commented on #2510
Cherry picked the commits from the other branch so we can get this merged and closed: https://github.com/AffiliateWP/AffiliateWP/pull/2561

[2018-02-12 07:18] amdrew commented on #2511
@pippinsplugins In my 2 tests, both subscribers were added to ActiveCampaign, found them under `All contacts`. I don't see them on my actual list though, I wonder if AC just needs time to update.

[2018-02-12 07:34] amdrew commented on #2511
@pippinsplugins I think we can skip the First name and Last name field options for now.

At the very minimum we need an input field for specifying an opt-in referral rate. I noticed it was completed as per above (https://github.com/AffiliateWP/AffiliateWP/issues/2511#issuecomment-359301031) but I can't see it anywhere.

[2018-02-12 16:45] #63 closed

[2018-02-12 18:05] pippinsplugins commented on #2511
@amdrew whoops, missed that! New setting added for defining the referral amount.

[2018-02-12 18:09] pippinsplugins commented on #2511
@gspice @michaelbeil could both of you run through tests on here too please?

To test:

1. Checkout branch `issue/2511`
2. Go to Affiliates > Settings > Opt-In Form
3. Select the platform to connect (MailChimp, ConvertKit, and ActiveCampaign available)
4. Save settings
5. Enter your API key, API URL (if applicable), and list ID.
6. Add `[opt_in`] shortcode to a page
7. Visit the page on a fresh br

[2018-02-12 23:00] amdrew commented on #2511
@pippinsplugins

In the `opt-in.php` template file there are these hooks:

affwp_affiliate_opt_in_form_top
affwp_affiliate_opt_in_form_bottom

Can we take away the `affiliate` so they are consistent with the other hook names in the same file?

affwp_opt_in_fields_before
affwp_opt_in_fields_after

[2018-02-12 23:17] amdrew commented on #2511
@pippinsplugins Could we change the referral amount field to a `number` field and make it have a `step` of something like `0.1`? Would make it more consistent with the other referral rate field on the `General` tab.

[2018-02-12 23:29] amdrew commented on #2511
@pippinsplugins Thoughts on a filter here? https://github.com/AffiliateWP/AffiliateWP/blob/issue/2511/includes/integrations/class-opt-in.php#L132

I could see someone wanting to change the default status (but probably a bad idea) so they don't need to manually approve every single opt-in. Also being able to change the default `type` or `description` (they could make up their own) would be neat.

[2018-02-12 23:30] pippinsplugins commented on #2511
Note to self: need to add a setting to control the opt-in success message.

[2018-02-13 02:48] gspice commented on #2511
I love this new feature!

Tested with MailChimp list:
* Successful in submitting opt-in form, adding to MC list w/out using an affiliate link.
* Referral was created when submitting opt-in form **with** an affiliate link in both zero and the correct dollar amounts when populated.

Notes:
* Visit was not changed to **Converted** when referral was created, possibly from next item...
* Referral was c

[2018-02-13 03:37] amdrew commented on #2511
We've decided to  add 2 new settings:

1. Double opt-in
2. Default referral status (pending (default) and unpaid)

[2018-02-13 03:44] amdrew commented on #2511
@gspice ActiveCampaign has a 2 week trial. Added ConvertKit to our Trello card.

[2018-02-13 04:23] pippinsplugins commented on #2560
@tubiz could you work on this?

[2018-02-13 08:26] tubiz commented on #2560
@pippinsplugins will do.

[2018-02-13 09:03] tubiz commented on #2560
PR: #2562

[2018-02-13 14:05] michaelbeil opened #2563 "Creatives are not displaying in AffiliateWP 2.1.12"
It seems like creatives are not displaying in AffiliateWP 2.1.12. I've been able to replicate this locally.

![screen shot 2018-02-13 at 15 03 20](https://user-images.githubusercontent.com/4752949/36153605-1f90a676-10cf-11e8-866e-c1254c057f85.png)
![screen shot on 2018-02-13 at 15_02_31](https://user-images.githubusercontent.com/4752949/36153606-1faa5328-10cf-11e8-8037-6c6b79c5158d.png)

Tickets:

[2018-02-13 15:02] michaelbeil commented on #2563
PR fixes the issue.

[2018-02-13 15:03] pippinsplugins commented on #2563
Merging and deploying.

[2018-02-13 15:03] #2563 closed

[2018-02-13 15:09] pippinsplugins commented on #2560
How about linking the referral ID (i.e. `#49`) instead of adding a new `View` link?

[2018-02-13 15:18] tubiz commented on #2560
Ok. I will update the PR now.

[2018-02-13 15:32] tubiz commented on #2560
PR updated.

<img width="947" alt="2018-02-13_1631" src="https://user-images.githubusercontent.com/602184/36157973-6c5241e8-10db-11e8-894b-e315b6515962.png">

[2018-02-13 19:30] pippinsplugins commented on #465
This is looking pretty good to me. We can carry this over to WooCommerce easily too.

[2018-02-13 21:58] amdrew commented on #465
@pippinsplugins I agree, was going to suggest slipping this into 2.2. I'm also not against the idea of only supporting EDD and WooCommerce at this point.

[2018-02-13 22:00] pippinsplugins commented on #465
I was going to propose EDD and Woo only as well.

[2018-02-13 22:04] amdrew commented on #465
@pippinsplugins I can take care of WooCommerce and then we'll get some further testing on both integrations.

[2018-02-14 00:26] amdrew commented on #465
Ready for testing with standard referrals on both EDD and WooCommerce integrations (have yet to test coupons). Will write up some proper test instructions soon.

[2018-02-14 01:55] amdrew commented on #465
@pippinsplugins

On a category's Referral Rate field, you cannot enter `0` to effectively disable commission on the entire category. Entering `0` will not save, or wipe out the term meta if already set. You can however enter `0.00`, which will set the rate to `0.00` and disable commission on the entire category.

This is exactly how the referral rate works for a single product so nothing new here.

[2018-02-14 04:00] pippinsplugins commented on #465
I'm fine with using 0.00 to disable rates.

[2018-02-14 15:25] pippinsplugins commented on #2556
@tubiz could you look into this?

[2018-02-14 15:26] pippinsplugins commented on #2559
@tubiz could you look into this?

To replicate:

1. Add two items to the cart
2. Go to checkout and purchase with PayPal Standard (do not complete purchase)
3. After being redirected to PayPal, click the browser's back button to return to the checkout screen
4. Remove one item from the cart
5. Complete the purchase with the Test Payment gateway
6. Referral amount will be wrong.

[2018-02-14 15:44] pippinsplugins commented on #2560
@tubiz we're going to put this in 2.2. Could you update your branch with the latest changes from `release/2.2`/

[2018-02-14 15:55] tubiz commented on #2556
@pippinsplugins will do.

[2018-02-14 15:55] tubiz commented on #2559
@pippinsplugins will do.

[2018-02-14 15:57] pippinsplugins commented on #2547
@tubiz would you like to work on this?

[2018-02-14 15:57] pippinsplugins commented on #2546
@tubiz would you like to work on this?

[2018-02-14 15:58] pippinsplugins commented on #2441
@tubiz would you like to work on this?

[2018-02-14 15:58] pippinsplugins commented on #2352
@tubiz would you like to work on this?

[2018-02-14 16:14] tubiz commented on #2352
@pippinsplugins yes.

[2018-02-14 16:14] tubiz commented on #2441
@pippinsplugins yes.

[2018-02-14 16:14] tubiz commented on #2546
@pippinsplugins yes.

[2018-02-14 16:16] tubiz commented on #2560
@pippinsplugins I will do that.

[2018-02-14 16:18] tubiz commented on #2547
@pippinsplugins yes.

[2018-02-14 17:12] RobertoGongora commented on #2189
I'm having this issue as well, I had the 2.0.6 version too and I upgraded to the 2.1.13 recently to see if it fixed it but it didn't. I made sure the database upgrade process was completed, I've tried using the Recount tool but nothing seems to work.

As a "side-effect" of sorts, if I try sorting the Affiliates table by Unpaid Earnings, it breaks and says there are no affiliates.

Currently my tab

[2018-02-14 17:21] RobertoGongora commented on #2189
I figured out what it might be. In my `wp_affiliate_wp_affiliates` table there is no `unpaid_earnings` column. I'm not sure why, or how to fix this other than manually adding it. Is there any tool I can run to force a DB upgrade? I'm not sure why the field isn't there.

[2018-02-14 21:29] amdrew commented on #2189
@RobertoGongora Hmm, can you try deactivating AffiliateWP and then reactivating it again? That "should" recreate the unpaid_earning column.

[2018-02-15 00:07] tubiz commented on #2560
@pippinsplugins I have updated my branch with the latest changes from `release/2.2`

[2018-02-15 11:37] tubiz commented on #2556
@pippinsplugins @amdrew Presently the pending referral is created in the WooCommerce integration using either of the `woocommerce_checkout_order_processed` and `woocommerce_checkout_update_order_meta` hooks.

The `woocommerce_checkout_update_order_meta` hook was added due to referral not created when Apple Pay is used #2363.

The `woocommerce_checkout_update_order_meta` hook is fired first in WooC

[2018-02-15 14:11] michaelbeil commented on #2559
PR fixes the issue.

[2018-02-15 14:15] michaelbeil commented on #2560
This PR works great.

[2018-02-15 14:48] michaelbeil opened #2567 "Email to approve or reject affiliates"
Ticket: https://secure.helpscout.net/conversation/524606441/76246?folderId=205529.

[2018-02-15 14:50] michaelbeil opened #2568 "Add PayPal email to review page"
Ticket: https://secure.helpscout.net/conversation/524606441/76246?folderId=205529.

[2018-02-15 15:14] #2560 closed

[2018-02-15 17:18] michaelbeil opened #2569 "Switch payment email to Your PayPal payment email"
Ticket: https://secure.helpscout.net/conversation/524641044/76248?folderId=205529.

[2018-02-15 20:35] amdrew commented on #2567
I remember we discussed this a while ago. I think we decided upon a simple link in the email that links directly through to the affiliate review page, since the admin would need to read more information about the application to make a decision.

[2018-02-15 21:44] gspice opened #2570 "Admin: Adding new referral manually doesn't display an error if the affiliate selection is not completed."
When manually adding a new referral, if the Affiliate is not selected, when you click **Add Referral**, it appears to save and you are returned to the Referral list, but nothing has been saved.   Desired behavior is an error of some sort as displayed on the Add Affiliate screen when the User login name has not been found.

**Steps to reproduce:**
* WooCommerce 3.3.1
* AffiliateWP 2.1.13
* _Affilia

[2018-02-15 23:08] pippinsplugins commented on #2570
@tubiz could you look into adding improved handling here?

[2018-02-15 23:20] amdrew opened #2571 "Integration code improvement proposal"
The proposed fix for https://github.com/AffiliateWP/AffiliateWP/issues/2559 looks to be including a call to `affiliate_wp()->referrals->update_referral()`. See: https://github.com/AffiliateWP/AffiliateWP/pull/2566/files?diff=unified#diff-c6380e91501e9fdd5df0fd2866a26b13R125

WooCommerce also calls it here:
https://github.com/AffiliateWP/AffiliateWP/blob/master/includes/integrations/class-woocommer

[2018-02-15 23:37] amdrew commented on #2559
Works for me 👍

[2018-02-15 23:39] tubiz commented on #2570
@pippinsplugins will do.

[2018-02-16 00:41] amdrew opened #2572 "Hyphen being added to referral description for standard downloads"
When purchasing a standard product in EDD (non-variable priced), the referral's description is adding a hyphen:

<img width="460" alt="screen shot 2018-02-16 at 1 30 29 pm" src="https://user-images.githubusercontent.com/52581/36288030-95d3da4c-131d-11e8-93b5-fa61d19218b4.png">

I'm wondering if something changed in EDD recently, since I do believe it used to work since we introduced the hyphen: ht

[2018-02-16 00:44] amdrew commented on #2572
PR: https://github.com/AffiliateWP/AffiliateWP/pull/2573

Works fine now in my testing:

<img width="490" alt="screen shot 2018-02-16 at 1 44 03 pm" src="https://user-images.githubusercontent.com/52581/36288441-7ac5ec16-131f-11e8-82d9-65e00fcefed7.png">

[2018-02-16 01:07] amdrew commented on #2569
The `Your payment email` field on the Affiliate Area could be used for other systems such as Moneybookers, not just PayPal. Changing to say "Your PayPal payment email` in this instance would not make sense.

The input's description can be changed if need be via the `dashboard-tab-settings.php` template file, or with a plugin such as "SayWhat?".

[2018-02-16 01:20] amdrew commented on #2441
To clarify and since @tubiz cannot see the link above, here's the original message from the customer:

On the AffiliateWP site I viewed a payout and it had ~60 referrals included, it did not cut off at 30. But worth looking into.

The "Pagination" option when you click screen options doesn't appear to work though. I changed it to 10 and it still shows 60.

<img width="285" alt="screen shot 2018-02

[2018-02-16 14:46] #2572 closed

[2018-02-16 14:46] pippinsplugins commented on #2559
Re-opening in order to put into a point release instead of waiting until 2.2.

[2018-02-16 14:51] #2559 closed

[2018-02-16 19:15] #2569 closed

[2018-02-17 15:55] jessdaddy opened #2575 "How to format(wrap) the HTML code generated by the creative shortcode"
Hi. I would like to ask. How can you format the affiliate code generated by the [affiliate_creative id="1"] shortcode so that it wraps the way it does when you use [affiliate_creatives]? [affiliate_creatives] wraps the affiliate link code all pretty like. [affiliate_creative_ad="1"] on the other hand, creates a single, long line of code that needs a scrollbar. What's the fix? Thanks.

[2018-02-19 05:50] amdrew commented on #2575
Thanks @jessdaddy, it does look like there's an issue we can fix here.

@AffiliateWP/core Here's some screenshots showing the Twenty Sixteen and Twenty Seventeen theme:

## Twenty Sixteen

#### Affiliate Area:

<img width="839" alt="screen shot 2018-02-19 at 6 34 57 pm" src="https://user-images.githubusercontent.com/52581/36363669-a87912ec-15a3-11e8-9293-34d024ee281e.png">

___

#### Using the `[a

[2018-02-19 05:53] amdrew commented on #2575
PR: https://github.com/AffiliateWP/AffiliateWP/pull/2576

@gspice @michaelbeil Could you please test this?

Here's the Twenty Seventeen theme after the PR:

___

Affiliate Area:

<img width="568" alt="screen shot 2018-02-19 at 6 44 27 pm" src="https://user-images.githubusercontent.com/52581/36363962-0fcd3106-15a6-11e8-809b-8bfa5274f638.png">

___

Shortcode:

<img width="556" alt="screen shot 2018

[2018-02-19 11:01] tubiz commented on #2570
PR: #2577

<img width="1271" alt="referral not created" src="https://user-images.githubusercontent.com/602184/36371644-07f49430-1563-11e8-8dbc-6208037ab771.png">

[2018-02-19 17:11] #2570 closed

[2018-02-19 18:41] michaelbeil opened #2578 "Fallback Tracking affwp_campaign cookie is not being generated"
To reproduce:

1. Enable Fallback Tracking in Misc settings
2. Clear all browser cookies
3. Visit an affiliate URL like site.com/?ref=1&campaign=test
4. Check your cookies and the affwp_campaign cookie is not present

Ticket: https://secure.helpscout.net/conversation/525270292/76324?folderId=205527.

[2018-02-19 19:59] gspice commented on #2575
Tested -- successfully wraps for me when using the shortcode.

[2018-02-19 20:00] #2575 closed

[2018-02-19 20:23] pippinsplugins commented on #2511
The error message @gspice saw was due to the email settings that got accidentally merged into `release/2.2` (which this branch is based off of). We'll need to get #948 merged in before addressing it.

[2018-02-19 20:27] pippinsplugins commented on #2511
Status option added.

[2018-02-19 20:43] amdrew commented on #2511
Status option works great.

@pippinsplugins I wonder if we should hide the form once it has been submitted:

<img width="623" alt="screen shot 2018-02-20 at 9 38 14 am" src="https://user-images.githubusercontent.com/52581/36396327-60c8d5a2-1622-11e8-9f38-1a7f2d2630b7.png">

1. I'm pretty sure this is how other opt-in forms behave within other plugins
2. It would help (just a little) with someone s

[2018-02-19 21:38] amdrew commented on #2578
Replicated the issue.

@tubiz Could you please look at this one?

[2018-02-19 21:49] tubiz commented on #2578
@amdrew will do.

[2018-02-19 22:28] gspice commented on #2511
I've re-tested with all 3 integration.  It successfully creates referrals as expected with the correct status that was selected in settings.  I'm still getting that warning if the status is **Pending**, and I click to **Accept**, but you probably already know that.

[2018-02-19 22:46] jessdaddy commented on #2575
@amdrew perfect. thanks

[2018-02-20 00:11] tubiz commented on #2578
PR: #2579

[2018-02-20 02:41] pippinsplugins commented on #2511
Form now hidden on success.

[2018-02-20 14:33] tubiz commented on #2352
PR: #2580

* Simple product
<img width="737" alt="simple product rate type" src="https://user-images.githubusercontent.com/602184/36429515-30eba31a-1653-11e8-9b08-01d5c36b720e.png">

* Variable product
<img width="738" alt="variation rate type" src="https://user-images.githubusercontent.com/602184/36429521-3325f450-1653-11e8-816f-ee9761540bc0.png">

[2018-02-20 14:57] pippinsplugins commented on #2352
@tubiz variations aren't quite working for me. If I add variations to a product, I'm unable to set the rate and rate type separately fro each variation. They all get set to the same value.

[2018-02-20 14:59] pippinsplugins commented on #2556
@tubiz your first suggestion sounds like a good approach.

[2018-02-20 15:09] tubiz commented on #2352
@pippinsplugins oops. It is working for me. Let me recheck.

[2018-02-20 15:24] #2578 closed

[2018-02-20 15:58] tubiz commented on #2352
@pippinsplugins what version of the WooCommerce plugin are you using?

[2018-02-20 16:57] michaelbeil opened #2581 "An affiliate can be created with a username of only numbers"
WordPress does not allow usernames that are only numbers:
![screen shot on 2018-02-20 at 15_25_16](https://user-images.githubusercontent.com/4752949/36437369-0e0fbe1c-1667-11e8-8e6d-3a42117f59ba.png)

However, an affiliate can be created with a username that has only numbers through the add affiliate screen, then it doesn't track visits or referrals: ![screen shot on 2018-02-20 at 17_49_55](https:

[2018-02-20 19:38] tubiz commented on #2556
@pippinsplugins ok. I will submit a PR for it.

[2018-02-20 20:37] pippinsplugins commented on #2352
@tubiz sorry, my mistake. It is all working great!

@amdrew could you please give this a test too?

[2018-02-20 21:02] amdrew commented on #2581
I tend to agree, I think we should be consistent with WP core.

[2018-02-20 23:00] amdrew commented on #2352
@tubiz @pippinsplugins Working so far in all my testing.

@gspice Tag! Could you also please do some testing on this? Want to make sure we don't miss anything.

[2018-02-20 23:07] amdrew commented on #2352
@tubiz While you're working on product variations, could you have a go at improving the UI?

<img width="677" alt="screen shot 2018-02-21 at 12 01 43 pm" src="https://user-images.githubusercontent.com/52581/36454026-1c87d6bc-16ff-11e8-9ab7-2cdb1d1d42ff.png">

Feels a bit bunched up. Comparing our HTML to WooCommerce, it appears at though we should place each setting in its own `p` tag.

Theirs (in

[2018-02-20 23:58] amdrew commented on #2352
Working well for me, can't fault it 👍

[2018-02-21 00:23] tubiz commented on #2352
@amdrew PR updated with the UI improvements changes.

<img width="771" alt="product variation ui improvements" src="https://user-images.githubusercontent.com/602184/36456549-c1d6b58e-16a5-11e8-8952-5a273bb44dae.png">

[2018-02-21 00:58] tubiz commented on #2556
PR: #2582

Please test that referral is still being created if Apple Pay is used.

[2018-02-21 01:24] amdrew opened #2583 "Add filters to get_sortable_columns() methods"
Each of our `class-list-table.php` files should have a filter included for the `get_sortable_columns()` method.

This will allow add-ons such as Store Credit to have a filterable column: https://github.com/AffiliateWP/affiliatewp-store-credit/issues/10#issuecomment-367179713

[2018-02-21 01:25] amdrew commented on #2556
@gspice Can you please test Apple Pay?

[2018-02-21 03:31] flowdee opened #2584 "AdBlock Plus requires url parameter "px=2""
I received the following email from a affiliate program owner which asks their affiliate to add an url parameter to the affiliate links in order to prevent issues with "AdBlock Plus":

[code]

Is this something which should be considered for AffiliateWP too?

[2018-02-21 14:42] tubiz commented on #2546
@pippinsplugins @amdrew on a multisite install user account(s) can only be removed from the site in question and not deleted

<img width="500" alt="multisite remove user from site" src="https://user-images.githubusercontent.com/602184/36485665-f4d055e0-171c-11e8-8971-7ff602173416.png">

Deleting the user account(s) can only be done in the users page on the network admin by a user with the super ad

[2018-02-21 15:00] pippinsplugins commented on #2546
I don't think we should show `Delete this affiliate’s user account as well?` when on multisite. We can include a note like `To also delete this account, go to the Users page of the Network Admin.`

[2018-02-21 19:46] gspice commented on #2556
Works perfectly!

![woo-order-payment](https://user-images.githubusercontent.com/3018245/36501748-ca896daa-16fc-11e8-9c62-5705fa3bb988.png)

![woo-order-notes](https://user-images.githubusercontent.com/3018245/36501755-ce05db9e-16fc-11e8-994e-f76bc8c752fa.png)

[2018-02-21 23:27] amdrew commented on #2556
Normal referral works for me, only one reference to the referral (#140 below) being created, perfecto. #139 was before testing the PR.

<img width="538" alt="screen shot 2018-02-22 at 12 25 45 pm" src="https://user-images.githubusercontent.com/52581/36511444-87aa3be8-17cb-11e8-8b94-e7a7210f097b.png">

[2018-02-21 23:41] amdrew commented on #2483
Let's re-open this, I think it's an issue that can stand on its own. The other issue is about the automatic creation of a coupon code for affiliates. This issue is about automatically applying a discount when an affiliate link is used.

@michaelbeil I've moved your two comments from the other issue to this one:
___

Ticket: https://secure.helpscout.net/conversation/165853532/26667?folderId=634609.

[2018-02-21 23:52] amdrew commented on #2483
From what I understand, these customers want to automatically apply a coupon code to the cart when an affiliate link is used.

Example:

1. Customer clicks on an affiliate's link: `https://mysite.com/?ref=123`
2. Customer lands on the site and if they visit the cart/checkout, the discount has been applied. Perhaps even a message is shown beforehand.

The above could certainly be accomplished with

[2018-02-22 03:39] tubiz commented on #2546
PR: #2585

<img width="1270" alt="affiliate delete notice" src="https://user-images.githubusercontent.com/602184/36519168-5156d95c-178a-11e8-825b-8a18971f0952.png">

<img width="641" alt="multisite delete affiliate" src="https://user-images.githubusercontent.com/602184/36519167-512b08e0-178a-11e8-913a-0bcf7d1fc627.png">

[2018-02-22 18:08] michaelbeil opened #2586 "Add further organization to the creatives tab"
Request from a customer:

Should we add further organization to the creatives tab?

Perhaps creative categories?

Related issue: https://github.com/AffiliateWP/AffiliateWP/issues/343.

Ticket: https://secure.helpscout.net/conversation/528749285/76708?folderId=634609.

[2018-02-22 20:47] pippinsplugins commented on #2586
Closing as duplicate in favor https://github.com/AffiliateWP/AffiliateWP/issues/411

[2018-02-22 20:47] #2586 closed

[2018-02-22 20:56] amdrew commented on #2189
@RobertoGongora Did you manage to get it sorted? If you're still not able to generate the column please reach out to us at https://affiliatewp.com/support/ and we'll help you resolve this.

Another thought - If after you have regenerated your unpaid earnings column, you may need to force an upgrade routine to recount the unpaid earnings. You'll need to do this if all your totals in the unpaid earn

[2018-02-22 20:58] pippinsplugins commented on #2556
@amdrew so good to merge?

[2018-02-22 21:24] RobertoGongora commented on #2189
Hey, sorry, yes I was able to fix the issue.

I did what you suggested, removed the completed upgrades option and forced
the upgrade via the WP admin but it didn’t help the issue.

What I ended up doing was manually adding the row to my table using raw SQL
queries and then I ran the unpaid earnings recount tool and everything
worked.

What worries me about this method is that I’m not sure if there

[2018-02-22 22:30] amdrew commented on #2556
@pippinsplugins Yep, apply pay still works, normal referrals work (and not updated after being created), we're good here.

[2018-02-23 00:44] gspice commented on #2352
Works good for me -- tested with rates set in other areas and it behaved as expected.

[2018-02-23 00:46] DrewAPicture commented on #2546
Hmm, I'm just not a huge fan of dipping into core territory here. I kind of get the whole ease-of-use argument being made, but we're effectively reinventing the user-deletion wheel and stepping outside of the AffiliateWP realm to accomplish it here. It would be fair to say that we're already overstepping by creating users in some contexts, but it still feels a little icky.

I feel like we'd have t

[2018-02-23 01:43] amdrew commented on #2352
@tubiz

Let's:

1. Add `id`'s to the fields that match each label's `for` attribute. That way the input gains focus when the label is clicked.
2. Remove the `options` class from the `Configure affiliate...` line since it isn't an option. Looks a bit weird with the double line.
3. Remove the extra div shown here if possible:
    <img width="564" alt="screen shot 2018-02-23 at 2 39 18 pm" src="https

[2018-02-23 14:42] servesense commented on #1576
I would definitely like to see this integration!

[2018-02-23 16:25] #2556 closed

[2018-02-23 17:55] michaelbeil commented on #465
https://secure.helpscout.net/conversation/529566743/76814?folderId=634609

[2018-02-23 19:47] michaelbeil commented on #948
Upgrade routine went fine. The new settings look great:
![screen shot on 2018-02-23 at 20_45_33](https://user-images.githubusercontent.com/4752949/36613698-92b188ec-18da-11e8-95ea-685b6e7bb326.png)

Everything looks golden with all the email notifications!

Notify admin when a new affiliate has registered:

![screen shot on 2018-02-23 at 18_31_52](https://user-images.githubusercontent.com/4752949/

[2018-02-24 14:56] tubiz commented on #2352
@amdrew PR updated with the requested changes.

[2018-02-24 23:27] amdrew commented on #2483
https://secure.helpscout.net/conversation/530069776/76875?folderId=205524

[2018-02-25 16:44] michaelbeil commented on #2198
Did a test using Gravity Forms and a new referral was generated for the new referral types: sale, opt-in, and lead. I received the following warning:

`Warning: array_key_exists() expects parameter 2 to be array, boolean given in /app/public/wp-content/plugins/AffiliateWP/includes/emails/actions.php on line 240`

[2018-02-25 21:40] amdrew commented on #2511
@michaelbeil I had that issue here: https://github.com/AffiliateWP/AffiliateWP/issues/2511#issuecomment-359665102

Is your issue/2511 branch up to date with the latest commits? That error should have been fixed and the form should disappear after submission, I wonder if that's why. Which platform are you testing?

[2018-02-25 21:41] amdrew commented on #2511
@pippinsplugins If you forget to put a last name, the fields are all wiped and you need to re-enter them. We should probably keep the existing values like we do on the registration form.

[2018-02-25 21:43] amdrew commented on #2198
@michaelbeil Yep that's correct

[2018-02-25 21:53] amdrew commented on #2352
@tubiz Thanks! Looks great

[2018-02-26 06:47] michaelbeil commented on #1359
https://secure.helpscout.net/conversation/530342907/76900?folderId=634609

[2018-02-26 14:30] michaelbeil opened #2588 "Create coupon on all sites in the multisite network"
Ticket: https://secure.helpscout.net/conversation/530660580/76929?folderId=634609.

[2018-02-26 14:41] pippinsplugins commented on #2588
In order to do this, the eCommerce / membership platform will also have to support network-wide discounts. I don't believe any other them, except RCP, do since all of them rely on the wp_posts table.

[2018-02-26 14:42] pippinsplugins commented on #948
Merged!

[2018-02-26 14:42] #948 closed

[2018-02-26 14:44] michaelbeil commented on #2588
Oh, alright. Well, if they do, then we will have this issue available.